Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile

feat(config,virt-operator): Add virt-operator installer
  Makefile
  config/virt-operator/kustomization.yaml
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(config,network-policy): Refactor to separate ingress policies
  config/network-policy/ingress/allow-apiserver-ingress.yaml
  config/network-policy/ingress/allow-metrics-traffic.yaml
  config/network-policy/ingress/allow-webhook-traffic.yaml
  config/network-policy/ingress/kustomization.yaml
  config/network-policy/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(config): Add kubevirt.io label to all resources
  config/admission/vmtr_authz_vap.yaml
  config/admission/vmtr_authz_vapb.yaml
  config/apiserver/apiserver.yaml
  config/apiserver/apiservice.yaml
  config/apiserver/service.yaml
  config/manager/manager.yaml
  config/metrics/metrics_service.yaml
  config/network-policy/allow-apiserver-egress.yaml
  config/network-policy/allow-apiserver-ingress.yaml
  config/network-policy/allow-controller-egress.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/prometheus/monitor.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role_binding.yaml
  config/rbac/role_binding_apiserver.yaml
  config/rbac/role_binding_apiserver_auth_delegator.yaml
  config/rbac/role_binding_apiserver_auth_reader.yaml
  config/rbac/service_account.yaml
  config/rbac/service_account_apiserver.yaml
  config/rbac/virtualmachinetemplate_admin_role.yaml
  config/rbac/virtualmachinetemplate_editor_role.yaml
  config/rbac/virtualmachinetemplate_viewer_role.yaml
  config/rbac/virtualmachinetemplaterequest_admin_role.yaml
  config/rbac/virtualmachinetemplaterequest_editor_role.yaml
  config/rbac/virtualmachinetemplaterequest_viewer_role.yaml
  config/samples/template_v1alpha1_virtualmachinetemplate.yaml
  config/samples/template_v1alpha1_virtualmachinetemplaterequest.yaml
  config/webhook/service.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(release): Add CHECKSUMS.sha256
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(template): Move to virt-template-engine
  Makefile
  go.mod
  go.work
  internal/apiserver/storage/virtualmachinetemplate/create.go
  internal/apiserver/storage/virtualmachinetemplate/process.go
  internal/virttemplatectl/process/process.go
  internal/virttemplatectl/process/process_test.go
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  staging/src/kubevirt.io/virt-template-engine/go.mod
  staging/src/kubevirt.io/virt-template-engine/go.sum
  staging/src/kubevirt.io/virt-template-engine/template/generator/expressionvalue.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/expressionvalue_test.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/generator.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/generator_suite_test.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters_test.go
  staging/src/kubevirt.io/virt-template-engine/template/processor.go
  staging/src/kubevirt.io/virt-template-engine/template/processor_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template.go
  staging/src/kubevirt.io/virt-template-engine/template/template_suite_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template_test.go
  staging/src/kubevirt.io/virt-template-engine/template/visit.go
  staging/src/kubevirt.io/virt-template-engine/template/visit_test.go
  vendor/modules.txt
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

ci(publish-staging): Publish virt-template-engine
  hack/publish-staging.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add test for privileged users
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Move k8sClient to BeforeSuite
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

set and delete clusterRoleBindings before/after suite
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(rbac): Make admin roles explicit
  config/rbac/virtualmachinetemplate_admin_role.yaml
  config/rbac/virtualmachinetemplaterequest_admin_role.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

Revert "feat(config): Scale to two replicas by default"
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore: Rename IMG_TAG env variable to VERSION
  Makefile
  README.md
  hack/cli-build.sh
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore: Add version annotation to all resources
  Makefile
  config/components/version/kustomization.yaml
  config/default/kustomization.yaml
  config/openshift/kustomization.yaml
  config/virt-operator/kustomization.yaml
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(config): Keep latest image kustomization
  config/apiserver/kustomization.yaml
  config/manager/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(vmt): Add processing validation to admitter webhooks
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Use DescribeTable and remove RBAC enforcement verification
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(webhook,vmt): Add integration tests
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(cache): Strip managed fields by default
  cmd/main.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat(vmt): Add DataVolumeTemplateStatuses to VMT Status
  api/core/v1alpha1/constants.go
  api/core/v1alpha1/virtualmachinetemplate_types.go
  api/core/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Revert "feat(vmt): Add DataVolumeTemplateStatuses to VMT Status"
  api/core/v1alpha1/constants.go
  api/core/v1alpha1/virtualmachinetemplate_types.go
  api/core/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(controller): Add TLS settings flags
  cmd/main.go
  go.mod
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

fix(virttemplatectl,process): Add missing Expects
  internal/virttemplatectl/process/process_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add deletecollection to the rules.verbs list
  config/rbac/virtualmachinetemplate_editor_role.yaml
  config/rbac/virtualmachinetemplaterequest_editor_role.yaml
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(config,admission): Transition VAP to phony subresource
  README.md
  config/admission/vmtr_authz_vap.yaml
  config/rbac/kustomization.yaml
  config/rbac/virtualmachinetemplaterequest_source_role.yaml
  tests/template_request_authz_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer
