Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile

api: Add v1beta1 API version and new VMTR fields
  PROJECT
  api/core/subresourcesv1beta1/doc.go
  api/core/subresourcesv1beta1/groupversion_info.go
  api/core/subresourcesv1beta1/virtualmachinetemplate_types.go
  api/core/subresourcesv1beta1/zz_generated.deepcopy.go
  api/core/v1beta1/constants.go
  api/core/v1beta1/doc.go
  api/core/v1beta1/groupversion_info.go
  api/core/v1beta1/virtualmachinetemplate_types.go
  api/core/v1beta1/virtualmachinetemplaterequest_types.go
  api/core/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplaterequests.yaml
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
  hack/generate.sh
  internal/scheme/scheme.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/clientset.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/fake/clientset_generated.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/fake/register.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/scheme/register.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/core_client.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/doc.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/fake/doc.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/fake/fake_core_client.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/fake/fake_virtualmachinetemplate.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/fake/fake_virtualmachinetemplate_expansion.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/fake/fake_virtualmachinetemplaterequest.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/generated_expansion.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/virtualmachinetemplate.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/virtualmachinetemplate_expansion.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/virtualmachinetemplaterequest.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1beta1/virtualmachinetemplaterequest_expansion.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

engine, controller: Switch to v1beta1 types
  cmd/main.go
  internal/controller/virtualmachinetemplate_controller.go
  internal/controller/virtualmachinetemplate_controller_test.go
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_datavolume_handling_test.go
  internal/controller/vmtr_datavolume_status_sync_test.go
  internal/controller/vmtr_enqueue_test.go
  internal/controller/vmtr_finalizer_test.go
  internal/controller/vmtr_reconciliation_control_test.go
  internal/controller/vmtr_snapshot_content_readiness_test.go
  internal/controller/vmtr_snapshot_content_retrieval_test.go
  internal/controller/vmtr_snapshot_handling_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
  internal/controller/vmtr_template_handling_test.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters_test.go
  staging/src/kubevirt.io/virt-template-engine/template/processor.go
  staging/src/kubevirt.io/virt-template-engine/template/processor_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template.go
  staging/src/kubevirt.io/virt-template-engine/template/template_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

webhook: Add v1beta1 webhook, make v1alpha1 a thin wrapper
  cmd/main.go
  config/webhook/manifests.yaml
  internal/webhook/v1beta1/virtualmachinetemplate_webhook.go
  internal/webhook/v1beta1/virtualmachinetemplate_webhook_test.go
  internal/webhook/v1beta1/webhook_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

apiserver: Serve both v1alpha1 and v1beta1 subresources
  cmd/apiserver/main.go
  config/apiserver/apiservice.yaml
  go.work.sum
  internal/apiserver/storage/virtualmachinetemplate/process.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/create.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/create_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/dummy.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/dummy_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/process.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/process_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1alpha1/v1alpha1_suite_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/create.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/create_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/dummy.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/process.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/process_test.go
  internal/apiserver/storage/virtualmachinetemplate/v1beta1/v1beta1_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

config: Update PROJECT and config for v1beta1
  PROJECT
  config/admission/vmtr_authz_vap.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

config: Add v1beta1 sample resources
  config/samples/README.txt
  config/samples/kustomization.yaml
  config/samples/template_v1beta1_virtualmachinetemplate.yaml
  config/samples/template_v1beta1_virtualmachinetemplaterequest.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

apiserver: Generate unique OpenAPI operation IDs
  internal/apiserver/openapi/openapi.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

apiserver: Enable API discovery
  internal/apiserver/apiserver.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

apiserver: Support multiple versions of the same API group
  internal/apiserver/apiserver.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

tests: Switch functional tests to v1beta1
  tests/template_request_authz_test.go
  tests/template_request_test.go
  tests/template_v1alpha1_compat_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat(controller): implement setting templateLabels on created VMTs
  README.md
  api/core/v1alpha1/virtualmachinetemplaterequest_types.go
  api/core/v1beta1/virtualmachinetemplaterequest_types.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplaterequests.yaml
  config/samples/template_v1beta1_virtualmachinetemplaterequest.yaml
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_template_handling_test.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(controller): implement ttlSecondsAfterFinished cleanup for VMTR
  README.md
  config/rbac/role.yaml
  config/samples/template_v1alpha1_virtualmachinetemplaterequest.yaml
  config/samples/template_v1beta1_virtualmachinetemplaterequest.yaml
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_reconciliation_control_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(controller): add value generator for NAME parameter on VMTR-created VMTs
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_template_handling_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

build(tools): add tools module go.mod and go.sum for hermetic builds
  tools/go.mod
  tools/go.sum
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

fix(controller): defer VMTR controller start until external CRDs are available
  cmd/main.go
  internal/controller/vmtr_availability_controller.go
  internal/controller/vmtr_availability_controller_test.go
  internal/controller/vmtr_common_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(lint): adapt code and regenerate artifacts for new tool versions
  config/crd/bases/template.kubevirt.io_virtualmachinetemplaterequests.yaml
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
  internal/apimachinery/naming_test.go
  internal/apiserver/apiserver.go
  internal/apiserver/filter_test.go
  internal/apiserver/openapi/openapi.go
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_enqueue_test.go
  internal/controller/vmtr_reconciliation_control_test.go
  internal/controller/vmtr_snapshot_content_readiness_test.go
  internal/controller/vmtr_snapshot_content_retrieval_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
  internal/controller/vmtr_template_handling_test.go
  internal/rbac/rbac_roles_test.go
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook_test.go
  internal/webhook/v1beta1/virtualmachinetemplate_webhook_test.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/fake/clientset_generated.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/expressionvalue_test.go
  staging/src/kubevirt.io/virt-template-engine/template/processor_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template.go
  staging/src/kubevirt.io/virt-template-engine/template/template_test.go
  tests/template_request_authz_test.go
  tests/template_request_test.go
  tests/template_test.go
  tests/template_v1alpha1_compat_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

build: update Makefile for hermetic tool builds
  Makefile
  README.md
  hack/generate.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: Drop IPFamilies from services
  config/apiserver/service.yaml
  config/metrics/metrics_service.yaml
  config/webhook/service.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(ci): Add initial config for renovate
  .github/renovate-config.json
  .github/workflows/renovate.yml
Due: none

build: update Makefile for hermetic tool builds
  .golangci.yml
  Makefile
  README.md
  hack/generate.sh
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/fake/clientset_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(test): retry authz allow tests to handle RBAC cache propagation
  tests/template_request_authz_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat: Update virtualmachinetemplates CRD storage from v1alpha1 to v1beta1
  api/core/v1alpha1/virtualmachinetemplate_types.go
  api/core/v1beta1/virtualmachinetemplate_types.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: filter parent resources from aggregated discovery
  internal/apiserver/apiserver.go
  internal/apiserver/filter.go
  internal/apiserver/filter_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(ci): Switch Renovate to GitHub App token authentication
  .github/renovate-config.json
  .github/workflows/renovate.yml
Due: none

fix(hack): disable virt-template deployment in kubevirt CR
  hack/kubevirt.sh
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer
