Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

pull-virt-template-build-virttemplatectl:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make build-virttemplatectl
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
          memory: 4Gi

pull-virt-template-container-build:
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make container-build
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
  ...

pull-virt-template-test:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make test
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
          memory: 4Gi

pull-virt-template-cluster-functest:
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make cluster-up && make cluster-sync && make cluster-functest
      env:
      - name: GIMME_GO_VERSION
  ...

pull-virt-template-build-installer:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make build-installer build-installer-openshift
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
  ...

fix(hack): pin kubevirt to 1.8.x release branch
  hack/kubevirt.sh
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(hack): pin kubevirt to 1.9.x release branch
  hack/kubevirt.sh
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(hack): use jq and paging for GitHub releases API
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(OWNERS): Update approvers
  OWNERS
Due: none

feat(controller): keep instancetype/preference references in VMTs created from VMTRs
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_instancetype_preference_test.go
  internal/controller/vmtr_template_handling_test.go
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(config): add required-scc annotation and priorityClassName to pods
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(test): retry authz allow tests to handle RBAC cache propagation
  tests/template_request_authz_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

test: verify instance type and preference in create-from-template flow
  tests/template_request_test.go
  tests/template_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

chore(deps): bump k8s to v0.36.4, kubevirt to main, controller-runtime to v0.24.1
  Dockerfile
  api/go.mod
  api/go.sum
  apiserver.Dockerfile
  go.mod
  go.sum
  go.work
  go.work.sum
  staging/src/kubevirt.io/virt-template-client-go/go.mod
  staging/src/kubevirt.io/virt-template-client-go/go.sum
  staging/src/kubevirt.io/virt-template-engine/go.mod
  staging/src/kubevirt.io/virt-template-engine/go.sum
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(deps): adapt code to bumped dependencies
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  internal/webhook/v1beta1/virtualmachinetemplate_webhook.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(apiserver): harden response security headers on subresources API
  internal/apiserver/apiserver.go
  internal/apiserver/headers.go
  internal/apiserver/headers_test.go
  tests/security_headers_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(tls): add configurable TLS groups (key exchange curves)
  cmd/main.go
  tests/tls_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

tests: add negative admission test with optional invalid param
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook_test.go
  internal/webhook/v1beta1/virtualmachinetemplate_webhook_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(rbac): grant process and create subresource access to default K8s roles
  README.md
  config/rbac/virtualmachinetemplate_admin_role.yaml
  config/rbac/virtualmachinetemplate_editor_role.yaml
  config/rbac/virtualmachinetemplate_viewer_role.yaml
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(tls): add configurable TLS groups (key exchange curves)
  cmd/main.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

test(tls): add curve negotiation e2e test
  tests/tls_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

agents: Add .coderabbit.yaml and update CLAUDE.md to use import
  .coderabbit.yaml
  CLAUDE.md
Due: none

chore(deps): bump Go to 1.26 and KubeVirt to v1.10.0-alpha.0
  Dockerfile
  api/go.mod
  api/go.sum
  apiserver.Dockerfile
  go.mod
  go.sum
  go.work
  go.work.sum
  staging/src/kubevirt.io/virt-template-client-go/go.mod
  staging/src/kubevirt.io/virt-template-client-go/go.sum
  staging/src/kubevirt.io/virt-template-engine/go.mod
  staging/src/kubevirt.io/virt-template-engine/go.sum
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

test(tls): cover curve negotiation and restrictions
  tests/tls_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

docs(agents): split AGENTS.md into per-directory files
  AGENTS.md
  CLAUDE.md
  api/core/AGENTS.md
  config/AGENTS.md
  internal/apiserver/AGENTS.md
  internal/controller/AGENTS.md
  internal/webhook/AGENTS.md
  staging/src/kubevirt.io/virt-template-engine/template/AGENTS.md
  tests/AGENTS.md
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

agents: Add .coderabbit.yaml and update AGENTS.md minor rules
  .coderabbit.yaml
  AGENTS.md
Due: none

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile
