Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

pull-virt-template-build-virttemplatectl:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make build-virttemplatectl
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
          memory: 4Gi

pull-virt-template-container-build:
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make container-build
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
  ...

pull-virt-template-test:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make test
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
          memory: 4Gi

pull-virt-template-cluster-functest:
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make cluster-up && make cluster-sync && make cluster-functest
      env:
      - name: GIMME_GO_VERSION
  ...

pull-virt-template-build-installer:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - make build-installer build-installer-openshift
      env:
      - name: GIMME_GO_VERSION
        value: 1.24.8
      image: quay.io/kubevirtci/golang:v20251216-1746113
      resources:
        requests:
  ...

chore(template): Move to virt-template-engine
  Makefile
  go.mod
  go.work
  internal/apiserver/storage/virtualmachinetemplate/create.go
  internal/apiserver/storage/virtualmachinetemplate/process.go
  internal/virttemplatectl/process/process.go
  internal/virttemplatectl/process/process_test.go
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  staging/src/kubevirt.io/virt-template-engine/go.mod
  staging/src/kubevirt.io/virt-template-engine/go.sum
  staging/src/kubevirt.io/virt-template-engine/template/generator/expressionvalue.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/expressionvalue_test.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/generator.go
  staging/src/kubevirt.io/virt-template-engine/template/generator/generator_suite_test.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters.go
  staging/src/kubevirt.io/virt-template-engine/template/parameters_test.go
  staging/src/kubevirt.io/virt-template-engine/template/processor.go
  staging/src/kubevirt.io/virt-template-engine/template/processor_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template.go
  staging/src/kubevirt.io/virt-template-engine/template/template_suite_test.go
  staging/src/kubevirt.io/virt-template-engine/template/template_test.go
  staging/src/kubevirt.io/virt-template-engine/template/visit.go
  staging/src/kubevirt.io/virt-template-engine/template/visit_test.go
  vendor/modules.txt
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

ci(publish-staging): Publish virt-template-engine
  hack/publish-staging.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add test for privileged users
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add deletecollection to the rules.verbs list
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup(cmd/main.go): Drop requirement for pflag
  cmd/main.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

chore(Makefile): Bump tool versions
  Makefile
  internal/apiserver/filter.go
  internal/apiserver/storage/virtualmachinetemplate/virtualmachinetemplate_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Remove cleanup from rbac_roles_test.go
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Use templateapi constants
  internal/rbac/rbac_roles_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Update kubebuilder boilerplate from 4.8.0 to 4.13.1
  Makefile
  PROJECT
  cmd/main.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplaterequests.yaml
  config/crd/bases/template.kubevirt.io_virtualmachinetemplates.yaml
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Bump tool versions in Makefile
  Makefile
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Bump to golang 1.25
  Dockerfile
  apiserver.Dockerfile
Due: pull-virt-template-container-build, pull-virt-template-cluster-functest

fix(controller): strip unique identifiers from VM spec when creating template
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_template_handling_test.go
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add AGENTS.md and CLAUDE.md for AI agent context
  AGENTS.md
  CLAUDE.md
Due: none

enhancement: set automountServiceAccountToken on SAs and pod specs
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
  config/rbac/service_account.yaml
  config/rbac/service_account_apiserver.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

enhancement: set terminationMessagePolicy to FallbackToLogsOnError
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add functional test coverage
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

Skip backend storage PVC when creating DataVolumeTemplates
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_template_handling_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Update deployment scripts to support testing of backend volumes
  hack/kubevirt.sh
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: configure dual-stack networking on services
  config/apiserver/service.yaml
  config/metrics/metrics_service.yaml
  config/webhook/service.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: declare container ports and use IANA naming convention
  config/apiserver/apiserver.yaml
  config/apiserver/service.yaml
  config/components/deployment-patches/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/metrics/metrics_service.yaml
  config/prometheus/monitor.yaml
  config/webhook/service.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

config: add startup probes to container specs
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

test: update mac address to be dynamic
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

fix(cmd/main): Fix appendMinTLSVersion not applying
  cmd/main.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

config: Add a default deny all network policy
  config/network-policy/deny-all.yaml
  config/network-policy/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile
