Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile

chore(apimachinery,naming): Use less expensive FNV hash
  internal/apimachinery/naming.go
  internal/apimachinery/naming_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(tests): Cleanup imports and use global template client
  tests/template_request_test.go
  tests/template_test.go
  tests/tests_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat(vmtr): Add admission policies
  config/admission/kustomization.yaml
  config/admission/vmtr_authz_vap.yaml
  config/admission/vmtr_authz_vapb.yaml
  config/default/kustomization.yaml
  config/openshift/kustomization.yaml
  tests/template_request_authz_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(template): Add parameter validation
  internal/template/parameters.go
  internal/template/parameters_test.go
  internal/template/processor.go
  internal/template/template.go
  internal/template/template_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(virttemplatectl): Validate template params when processing
  internal/virttemplatectl/process/process.go
  internal/virttemplatectl/process/process_test.go
  internal/virttemplatectl/testing/testing.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(apiserver): Validate template params during processing
  internal/apiserver/storage/virtualmachinetemplate/process.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(webhook): Validate template params on CREATE or UPDATE
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook.go
  internal/webhook/v1alpha1/virtualmachinetemplate_webhook_test.go
  internal/webhook/v1alpha1/webhook_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(virttemplatectl): Add create command
  internal/virttemplatectl/create/create.go
  internal/virttemplatectl/create/create_suite_test.go
  internal/virttemplatectl/create/create_test.go
  internal/virttemplatectl/root.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(controller,tests): Refactor setSnapshotStatus to take options
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_datavolume_handling_test.go
  internal/controller/vmtr_datavolume_status_sync_test.go
  internal/controller/vmtr_snapshot_content_readiness_test.go
  internal/controller/vmtr_snapshot_content_retrieval_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
  internal/controller/vmtr_template_handling_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(controller,vmtr): Enhance snapshot status sync
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(ci): Make publish-staging.sh more robust
  hack/publish-staging.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(README): Add VirtualMachineTemplateRequest
  README.md
Due: none

chore(Makefile): Build virttemplatectl for multiple platforms and architectures
  Makefile
  hack/cli-build.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

ci(release): Add release automation
  hack/git-askpass.sh
  hack/publish-staging.sh
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup(hack,Makefile): Drop cri.sh
  Makefile
  hack/cri.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup: Drop hack/git-askpass.sh
  hack/git-askpass.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: allow webhook traffic from any namespace
  config/network-policy/allow-webhook-traffic.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: allow metrics traffic from any namespace
  config/network-policy/allow-metrics-traffic.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(README): Add install release version section
  README.md
Due: none

fix(vmtr,controller): Add DV delete permission
  config/rbac/role.yaml
  internal/controller/virtualmachinetemplaterequest_controller.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(config,openshift): Use correct namespace in RoleBinding
  config/openshift/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(config,rbac): Aggregate roles to Kubernetes roles
  config/rbac/virtualmachinetemplate_admin_role.yaml
  config/rbac/virtualmachinetemplate_editor_role.yaml
  config/rbac/virtualmachinetemplate_viewer_role.yaml
  config/rbac/virtualmachinetemplaterequest_admin_role.yaml
  config/rbac/virtualmachinetemplaterequest_editor_role.yaml
  config/rbac/virtualmachinetemplaterequest_viewer_role.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(config): Scale to two replicas by default
  config/apiserver/apiserver.yaml
  config/manager/manager.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(config): Strip namespaces from VAPs and VAPBs
  Makefile
  hack/strip-namespace.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(config): Add kubevirt.io label to all resources
  config/admission/vmtr_authz_vap.yaml
  config/admission/vmtr_authz_vapb.yaml
  config/apiserver/apiserver.yaml
  config/apiserver/apiservice.yaml
  config/apiserver/service.yaml
  config/manager/manager.yaml
  config/metrics/metrics_service.yaml
  config/network-policy/allow-apiserver-egress.yaml
  config/network-policy/allow-apiserver-ingress.yaml
  config/network-policy/allow-controller-egress.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/prometheus/monitor.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/rbac/role_binding.yaml
  config/rbac/role_binding_apiserver.yaml
  config/rbac/role_binding_apiserver_auth_delegator.yaml
  config/rbac/role_binding_apiserver_auth_reader.yaml
  config/rbac/service_account.yaml
  config/rbac/service_account_apiserver.yaml
  config/rbac/virtualmachinetemplate_admin_role.yaml
  config/rbac/virtualmachinetemplate_editor_role.yaml
  config/rbac/virtualmachinetemplate_viewer_role.yaml
  config/rbac/virtualmachinetemplaterequest_admin_role.yaml
  config/rbac/virtualmachinetemplaterequest_editor_role.yaml
  config/rbac/virtualmachinetemplaterequest_viewer_role.yaml
  config/samples/template_v1alpha1_virtualmachinetemplate.yaml
  config/samples/template_v1alpha1_virtualmachinetemplaterequest.yaml
  config/webhook/service.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(config,virt-operator): Add virt-operator installer
  Makefile
  config/virt-operator/kustomization.yaml
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(config,network-policy): Refactor to separate ingress policies
  config/network-policy/ingress/allow-apiserver-ingress.yaml
  config/network-policy/ingress/allow-metrics-traffic.yaml
  config/network-policy/ingress/allow-webhook-traffic.yaml
  config/network-policy/ingress/kustomization.yaml
  config/network-policy/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(release): Add CHECKSUMS.sha256
  hack/release.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer
