Repository kubevirt/virt-template: changes, and which Prow jobs are due for each by the changed paths.
All: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Path conditions:
  pull-virt-template-build-virttemplatectl: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-container-build: any of: api/.*|cmd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-test: any of: api/.*|config/crd/.*|hack/.*|internal/.*|staging/.*|vendor/.*|Makefile|go.*
  pull-virt-template-cluster-functest: any of: api/.*|cmd/.*|config/.*|hack/.*|internal/.*|staging/.*|tests/.*|vendor/.*|apiserver.Dockerfile|Dockerfile|Makefile|go.*
  pull-virt-template-build-installer: any of: api/.*|config/.*|hack/.*|internal/.*|Makefile

fix(Makefile): Use correct path to hack dir
  Makefile
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix(save-version): Ensure _out dir is present
  hack/save-version.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup: Use absolute image names in Dockerfiles
  Dockerfile
  apiserver.Dockerfile
Due: pull-virt-template-container-build, pull-virt-template-cluster-functest

fix(Makefile): Do not change dir when running tests
  Makefile
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

ci: Add hack/publish-staging.sh
  hack/publish-staging.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

Add victortoso to approvers
  OWNERS
Due: none

fix(publish-staging.sh): Ignore errors on empty branch
  hack/publish-staging.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

ci: Add renovate configuration
  renovate.json
Due: none

chore: improve vmtemplates examples
  README.md
  config/samples/template_v1alpha1_virtualmachinetemplate.yaml
  config/samples/testparams.yaml
  config/samples/testparamsraw.json
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

src: add vmtemplate functional tests
  tests/template_test.go
  tests/tests_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

refactor: cleanup functional tests
  tests/template_test.go
  tests/tests_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

chore(ci): Lower go version
  go.mod
  go.work
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat: add network policies for the components
  config/network-policy/allow-apiserver-ingress.yaml
  config/network-policy/allow-controller-egress.yaml
  config/network-policy/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

fix: avoid error if vmtemplate not found
  internal/controller/virtualmachinetemplate_controller.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat: add network policies for the components
  config/network-policy/allow-apiserver-egress.yaml
  config/network-policy/allow-apiserver-ingress.yaml
  config/network-policy/allow-controller-egress.yaml
  config/network-policy/kustomization.yaml
  config/openshift/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup(virttemplatectl): Do not return VM definition when creating it
  internal/virttemplatectl/process/process.go
  internal/virttemplatectl/process/process_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(manager): Turn off zap-devel by default
  cmd/main.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

feat(vmtr): Add VirtualMachineTemplateRequest CRD
  PROJECT
  api/core/v1alpha1/virtualmachinetemplaterequest_types.go
  api/core/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/template.kubevirt.io_virtualmachinetemplaterequests.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/virtualmachinetemplaterequest_admin_role.yaml
  config/rbac/virtualmachinetemplaterequest_editor_role.yaml
  config/rbac/virtualmachinetemplaterequest_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/template_v1alpha1_virtualmachinetemplaterequest.yaml
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/controller/virtualmachinetemplaterequest_controller_test.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1alpha1/core_client.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1alpha1/fake/fake_core_client.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1alpha1/fake/fake_virtualmachinetemplaterequest.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1alpha1/virtualmachinetemplaterequest.go
  staging/src/kubevirt.io/virt-template-client-go/virttemplate/typed/core/v1alpha1/virtualmachinetemplaterequest_expansion.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

cleanup(api,vmt): Drop omitzero where not required
  api/core/subresourcesv1alpha1/virtualmachinetemplate_types.go
  api/core/v1alpha1/virtualmachinetemplate_types.go
  staging/src/kubevirt.io/virt-template-client-go/api/openapi_generated.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(apimachinery): Add stable name generation
  internal/apimachinery/naming.go
  internal/apimachinery/naming_suite_test.go
  internal/apimachinery/naming_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

tests(vmtr): Add functional test
  tests/template_request_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

chore(vmtr): Add tests for VirtualMachineTemplateRequest controller
  .yamllint
  config/crd/external/cdi.kubevirt.io_datavolumes.yaml
  config/crd/external/snapshot.kubevirt.io_virtualmachinesnapshotcontents.yaml
  config/crd/external/snapshot.kubevirt.io_virtualmachinesnapshots.yaml
  internal/controller/suite_test.go
  internal/controller/virtualmachinetemplaterequest_controller_test.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_datavolume_handling_test.go
  internal/controller/vmtr_datavolume_status_sync_test.go
  internal/controller/vmtr_enqueue_test.go
  internal/controller/vmtr_finalizer_test.go
  internal/controller/vmtr_reconciliation_control_test.go
  internal/controller/vmtr_snapshot_content_readiness_test.go
  internal/controller/vmtr_snapshot_content_retrieval_test.go
  internal/controller/vmtr_snapshot_handling_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
  internal/controller/vmtr_template_handling_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/typeconverter.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat(vmtr): Implement VirtualMachineTemplateRequest controller
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  internal/controller/virtualmachinetemplaterequest_controller.go
  internal/logs/logs.go
  internal/scheme/scheme.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(tests): Add secondary namespace
  tests/template_test.go
  tests/tests_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest

ci(hack): Enable Snapshot feature gate
  hack/kubevirt.sh
  hack/kubevirtci.sh
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

feat: add network policies for the components
  config/default/kustomization.yaml
  config/network-policy/allow-apiserver-egress.yaml
  config/network-policy/allow-apiserver-ingress.yaml
  config/network-policy/allow-controller-egress.yaml
  config/network-policy/kustomization.yaml
  config/openshift/kustomization.yaml
Due: pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(apiserver): Add tests
  internal/apiserver/apiserver_suite_test.go
  internal/apiserver/filter_test.go
  internal/apiserver/storage/virtualmachinetemplate/create_test.go
  internal/apiserver/storage/virtualmachinetemplate/dummy_test.go
  internal/apiserver/storage/virtualmachinetemplate/process_test.go
  internal/apiserver/storage/virtualmachinetemplate/virtualmachinetemplate_suite_test.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer

chore(vmtr): Add tests for VirtualMachineTemplateRequest controller
  .yamllint
  config/crd/testing/cdi.kubevirt.io_datavolumes.yaml
  config/crd/testing/snapshot.kubevirt.io_virtualmachinesnapshotcontents.yaml
  config/crd/testing/snapshot.kubevirt.io_virtualmachinesnapshots.yaml
  internal/controller/suite_test.go
  internal/controller/virtualmachinetemplaterequest_controller_test.go
  internal/controller/vmtr_common_test.go
  internal/controller/vmtr_crd_validation_test.go
  internal/controller/vmtr_datavolume_handling_test.go
  internal/controller/vmtr_datavolume_status_sync_test.go
  internal/controller/vmtr_enqueue_test.go
  internal/controller/vmtr_finalizer_test.go
  internal/controller/vmtr_reconciliation_control_test.go
  internal/controller/vmtr_snapshot_content_readiness_test.go
  internal/controller/vmtr_snapshot_content_retrieval_test.go
  internal/controller/vmtr_snapshot_handling_test.go
  internal/controller/vmtr_snapshot_status_sync_test.go
  internal/controller/vmtr_template_handling_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/typeconverter.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/interceptor/intercept.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/objectutil/objectutil.go
Due: pull-virt-template-build-virttemplatectl, pull-virt-template-container-build, pull-virt-template-test, pull-virt-template-cluster-functest, pull-virt-template-build-installer
