Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

publish-common-instancetypes-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: quay.io/kubevirtci/golang:v20240911-16816d3
      env:
  ...

pull-common-instancetypes-kubevirt-functest:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-fedora:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-fedora-arm64:
  decorate: true
  labels:
    preset-bazel-unnested: 'false'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-common-instancetypes-kubevirt-functest-centos-7:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-8:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-9:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-arm64:
  decorate: true
  labels:
    preset-bazel-unnested: 'false'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

functests: Allow to specify arch to test preferences for
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(preferences): Replace usage of `base` by `linux` preference
  preferences/alpine/kustomization.yaml
  preferences/centos/10_stream/kustomization.yaml
  preferences/centos/9_stream/kustomization.yaml
  preferences/centos/base/kustomization.yaml
  preferences/cirros/kustomization.yaml
  preferences/fedora/amd64/kustomization.yaml
  preferences/fedora/arm64/kustomization.yaml
  preferences/fedora/s390x/kustomization.yaml
  preferences/opensuse/leap/kustomization.yaml
  preferences/opensuse/tumbleweed/kustomization.yaml
  preferences/rhel/10/amd64/kustomization.yaml
  preferences/rhel/10/arm64/kustomization.yaml
  preferences/rhel/9/amd64/kustomization.yaml
  preferences/rhel/9/arm64/kustomization.yaml
  preferences/rhel/base/kustomization.yaml
  preferences/sles/kustomization.yaml
  preferences/ubuntu/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64

chore(testing): Add infa to create Oracle Linux containerdisk
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  tests/image/oraclelinux.Dockerfile
  tests/image/oraclelinux.tag
  tests/scripts/build-ol.sh
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-build-common-instancetypes-builder

feat(preferences): Add Oracle Linux preference
  README.md
  preferences/kustomization.yaml
  preferences/oraclelinux/kustomization.yaml
  preferences/oraclelinux/metadata/kustomization.yaml
  preferences/oraclelinux/metadata/metadata.yaml
  preferences/oraclelinux/requirements/kustomization.yaml
  preferences/oraclelinux/requirements/requirements.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Add generic linux distributions preferences
  README.md
  preferences/kustomization.yaml
  preferences/linux-efi/kustomization.yaml
  preferences/linux-efi/metadata/kustomization.yaml
  preferences/linux-efi/metadata/metadata.yaml
  preferences/linux/kustomization.yaml
  preferences/linux/metadata/kustomization.yaml
  preferences/linux/metadata/metadata.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix(functest): Skip only specific preferences.
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Add legacy SO agnostic preference
  README.md
  docs/labels.md
  preferences/components/diskbus-scsi/diskbus-scsi.yaml
  preferences/components/diskbus-scsi/kustomization.yaml
  preferences/components/interfacemodel-e1000/e1000.yaml
  preferences/components/interfacemodel-e1000/kustomization.yaml
  preferences/kustomization.yaml
  preferences/legacy/kustomization.yaml
  preferences/legacy/metadata/kustomization.yaml
  preferences/legacy/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(prefences): Add preference for Debian
  README.md
  preferences/debian/kustomization.yaml
  preferences/debian/metadata/kustomization.yaml
  preferences/debian/metadata/metadata.yaml
  preferences/debian/requirements/kustomization.yaml
  preferences/debian/requirements/requirements.yaml
  preferences/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix(debian): Add requirements to debian preferences.
  preferences/debian/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore(oraclelinux): Improve container builder script
  tests/scripts/build-ol.sh
Due: pull-common-instancetypes-kubevirt-functest

chore(testing): Add infa to create Oracle Linux containerdisk
  Makefile
  image/oraclelinux.Dockerfile
  image/oraclelinux.tag
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  tests/scripts/build-ol.sh
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-build-common-instancetypes-builder

feat: Add preferences for RHEL 10 Beta s390x
  README.md
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/10/s390x/kustomization.yaml
  preferences/rhel/10/s390x/metadata/kustomization.yaml
  preferences/rhel/10/s390x/metadata/metadata.yaml
  preferences/rhel/10/s390x/requirements/kustomization.yaml
  preferences/rhel/10/s390x/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(kubevirt,kubevirtci): Stop deploying NFS
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

chore(preferences): Switch `scsi` to `sata` in legacy
  preferences/legacy/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore(kubevirtci): Pin to KubeVirt v1.4.0
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

chore(kubevirtci): Pin to KubeVirt v1.5.0
  Makefile
Due: none

chore(Makefile): Pin KUBEVIRT_VERSION to v1.4.0
  Makefile
Due: none

chore: Pin kubevirtci to version used by KUBEVIRT_VERSION
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-build-common-instancetypes-builder: any of: image/.*
