Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

publish-common-instancetypes-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: quay.io/kubevirtci/golang:v20240911-16816d3
      env:
  ...

pull-common-instancetypes-kubevirt-functest:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-fedora:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-fedora-arm64:
  decorate: true
  labels:
    preset-bazel-unnested: 'false'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-common-instancetypes-kubevirt-functest-centos-7:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-8:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-9:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-arm64:
  decorate: true
  labels:
    preset-bazel-unnested: 'false'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

chore(kubevirt,kubevirtci): Stop deploying NFS
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

chore(preferences): Switch `scsi` to `sata` in legacy
  preferences/legacy/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore(lint): Fix warnings
  preferences/centos/9_stream_dpdk/requirements/requirements.yaml
  preferences/components/cpu-topology-spread/cpu-topology-spread.yaml
  preferences/legacy/metadata/kustomization.yaml
  preferences/rhel/8_dpdk/requirements/requirements.yaml
  preferences/rhel/9_dpdk/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(lint): Drop use of relaxed profile with yamllint
  preferences/base/metadata/metadata.yaml
  scripts/lint.sh
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Add preferences for RHEL 10 Beta s390x
  README.md
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/10/s390x/kustomization.yaml
  preferences/rhel/10/s390x/metadata/kustomization.yaml
  preferences/rhel/10/s390x/metadata/metadata.yaml
  preferences/rhel/10/s390x/requirements/kustomization.yaml
  preferences/rhel/10/s390x/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix(test): Duplicate Oracle Linux tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix(test): Split Oracle Linux tests in different archs
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add Windows XP preference
  README.md
  preferences/components/pcihole64/kustomization.yaml
  preferences/components/pcihole64/pcihole64.yaml
  preferences/windows/kustomization.yaml
  preferences/windows/xp/kustomization.yaml
  preferences/windows/xp/metadata/kustomization.yaml
  preferences/windows/xp/metadata/metadata.yaml
  preferences/windows/xp/requirements/kustomization.yaml
  preferences/windows/xp/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(test): Add Windows XP preference test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add Windows Server 2003 preference
  README.md
  preferences/components/interfacemodel-rtl8139/kustomization.yaml
  preferences/components/interfacemodel-rtl8139/rtl8139.yaml
  preferences/windows/2k3/kustomization.yaml
  preferences/windows/2k3/metadata/kustomization.yaml
  preferences/windows/2k3/metadata/metadata.yaml
  preferences/windows/2k3/requirements/kustomization.yaml
  preferences/windows/2k3/requirements/requirements.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

add functest: using deprecated fields
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(test): Add Windows Server 2003 preference test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(test): Drop ssh test in Windows XP
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

add functest: using deprecated fields
  tests/functests/instancetype_test.go
  tests/go.mod
  tests/vendor/k8s.io/client-go/third_party/forked/golang/LICENSE
  tests/vendor/k8s.io/client-go/third_party/forked/golang/PATENTS
  tests/vendor/k8s.io/client-go/third_party/forked/golang/template/exec.go
  tests/vendor/k8s.io/client-go/third_party/forked/golang/template/funcs.go
  tests/vendor/k8s.io/client-go/util/jsonpath/doc.go
  tests/vendor/k8s.io/client-go/util/jsonpath/jsonpath.go
  tests/vendor/k8s.io/client-go/util/jsonpath/node.go
  tests/vendor/k8s.io/client-go/util/jsonpath/parser.go
  tests/vendor/modules.txt
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add Windows 7 preferences
  README.md
  preferences/windows/7/kustomization.yaml
  preferences/windows/7/metadata/kustomization.yaml
  preferences/windows/7/metadata/metadata.yaml
  preferences/windows/7/requirements/kustomization.yaml
  preferences/windows/7/requirements/requirements.yaml
  preferences/windows/7_virtio/kustomization.yaml
  preferences/windows/7_virtio/metadata/kustomization.yaml
  preferences/windows/7_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(test): Add Windows 7 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

m1, cx1: Introduce 1Gi hugepage sizes
  README.md
  docs/labels.md
  instancetypes/cx/1/cx1.yaml
  instancetypes/cx/1/sizes.yaml
  instancetypes/m/1/m1.yaml
  instancetypes/m/1/sizes.yaml
  instancetypes/n/1/n1.yaml
  instancetypes/rt/1/rt1.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

feat(preferences): Add Windows Server 2008
  README.md
  preferences/windows/2k8/kustomization.yaml
  preferences/windows/2k8/metadata/kustomization.yaml
  preferences/windows/2k8/metadata/metadata.yaml
  preferences/windows/2k8/requirements/kustomization.yaml
  preferences/windows/2k8/requirements/requirements.yaml
  preferences/windows/2k8_virtio/kustomization.yaml
  preferences/windows/2k8_virtio/metadata/kustomization.yaml
  preferences/windows/2k8_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(test): Add Windows Server 2008 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add Windows Server 2012/2012 R2
  README.md
  preferences/windows/2k12/kustomization.yaml
  preferences/windows/2k12/metadata/kustomization.yaml
  preferences/windows/2k12/metadata/metadata.yaml
  preferences/windows/2k12/requirements/kustomization.yaml
  preferences/windows/2k12/requirements/requirements.yaml
  preferences/windows/2k12_virtio/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(test): Add Windows Server 2012/2012 R2 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add generic virtio transitional linux
  README.md
  preferences/components/virtio-transitional/kustomization.yaml
  preferences/components/virtio-transitional/virtio-transitional.yaml
  preferences/kustomization.yaml
  preferences/linux-virtio-transitional/kustomization.yaml
  preferences/linux-virtio-transitional/metadata/kustomization.yaml
  preferences/linux-virtio-transitional/metadata/metadata.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

docs: Add basic release process documentation
  docs/release.md
Due: none

chore(preference): Drop `Beta` from RHEL 10
  README.md
  preferences/rhel/10/amd64/metadata/metadata.yaml
  preferences/rhel/10/arm64/metadata/metadata.yaml
  preferences/rhel/10/s390x/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore(preference): Drop `Beta` from RHEL 10
  README.md
  preferences/rhel/10/amd64/metadata/metadata.yaml
  preferences/rhel/10/arm64/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore(preference): Drop `Beta` from RHEL 10
  README.md
  preferences/rhel/10/amd64/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest

tools: Use 1.24.4 toolchain version string
  tools/go.mod
Due: none

chore(test): Add RHEL 6 test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(test): Add RHEL 7 and 8 preference tests
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-build-common-instancetypes-builder: any of: image/.*
