Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*

Windows 11, 2k22: Enable persistent TPMs
  preferences/components/tpm/tpm.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

preferences: Add efi component
  preferences/components/efi/efi.yaml
  preferences/components/efi/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Windows 11, 2k22: Enable persistent EFI
  preferences/components/efi-persisted/efi.yaml
  preferences/components/efi-persisted/kustomization.yaml
  preferences/windows/11/kustomization.yaml
  preferences/windows/2k22/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

preference: Switch secureboot component to preferredEfi
  preferences/components/secureboot/secureboot.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

makefile: Use a specific branch to generate and validate KubeVirt schema
  Makefile
  scripts/cri.sh
  scripts/schema.sh
  scripts/validate.sh
Due: pull-common-instancetypes-kubevirt-functest

kubevirt,kubevirtci: Disable common-instancetypes deployment
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

functests: Stop using the deprecated Running field within VMs
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Makefile, release-1.2: Pin to KubeVirt v1.4.0-rc.0 and release-1.4
  Makefile
Due: none

Revert "kubevirtci: Fix paths to cluster-up scripts"
  scripts/kubevirt.sh
Due: pull-common-instancetypes-kubevirt-functest

kubevirt, kubevirtci: Always wait for kubevirt to be ready after patch
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

kubevirt, kubevirtci: Remove deprecated FGs
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

kubevirt, kubevirtci: Correctly disable commonInstancetypesDeployment
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

Remove centos.7 and centos.stream8
  README.md
  preferences/centos/7/kustomization.yaml
  preferences/centos/7/metadata/kustomization.yaml
  preferences/centos/7/metadata/metadata.yaml
  preferences/centos/7/requirements/kustomization.yaml
  preferences/centos/7/requirements/requirements.yaml
  preferences/centos/7_desktop/kustomization.yaml
  preferences/centos/8_stream/kustomization.yaml
  preferences/centos/8_stream/metadata/kustomization.yaml
  preferences/centos/8_stream/metadata/metadata.yaml
  preferences/centos/8_stream/requirements/kustomization.yaml
  preferences/centos/8_stream/requirements/requirements.yaml
  preferences/centos/8_stream_desktop/kustomization.yaml
  preferences/centos/8_stream_dpdk/kustomization.yaml
  preferences/centos/8_stream_dpdk/metadata/kustomization.yaml
  preferences/centos/8_stream_dpdk/metadata/metadata.yaml
  preferences/centos/8_stream_dpdk/requirements/kustomization.yaml
  preferences/centos/8_stream_dpdk/requirements/requirements.yaml
  preferences/centos/kustomization.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Remove deprecated GN instance type class
  README.md
  docs/labels.md
  instancetypes/gn/1/gn1.yaml
  instancetypes/gn/1/kustomization.yaml
  instancetypes/gn/1/sizes.yaml
  instancetypes/gn/VirtualMachineClusterInstancetype/kustomization.yaml
  instancetypes/gn/VirtualMachineInstancetype/kustomization.yaml
  instancetypes/gn/kustomization.yaml
  instancetypes/kustomization.yaml
  scripts/deploy-kubevirt-and-cdi.sh
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

feat: Disable Windows guest tests on architectures other than amd64
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable Ubuntu common-instancetypes for s390x
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable CentOS Stream 9 on s390x architecture
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore: Add flag for setting timeout for creating windows vms
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable support for Fedora on s390x architecture
  README.md
  preferences/fedora/kustomization.yaml
  preferences/fedora/s390x/kustomization.yaml
  preferences/fedora/s390x/metadata/kustomization.yaml
  preferences/fedora/s390x/metadata/metadata.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Red Hat 9 and 10 s390x enablement
  README.md
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/10/s390x/kustomization.yaml
  preferences/rhel/10/s390x/metadata/kustomization.yaml
  preferences/rhel/10/s390x/metadata/metadata.yaml
  preferences/rhel/10/s390x/requirements/kustomization.yaml
  preferences/rhel/10/s390x/requirements/requirements.yaml
  preferences/rhel/9/kustomization.yaml
  preferences/rhel/9/s390x/kustomization.yaml
  preferences/rhel/9/s390x/metadata/kustomization.yaml
  preferences/rhel/9/s390x/metadata/metadata.yaml
  preferences/rhel/9/s390x/requirements/kustomization.yaml
  preferences/rhel/9/s390x/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

add requirements into rhel.9.realtime preference
  preferences/rhel/9_realtime/kustomization.yaml
  preferences/rhel/9_realtime/requirements/kustomization.yaml
  preferences/rhel/9_realtime/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat: support RHEL 9 on s390x architecture
  README.md
  preferences/rhel/9/kustomization.yaml
  preferences/rhel/9/s390x/kustomization.yaml
  preferences/rhel/9/s390x/metadata/kustomization.yaml
  preferences/rhel/9/s390x/metadata/metadata.yaml
  preferences/rhel/9/s390x/requirements/kustomization.yaml
  preferences/rhel/9/s390x/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Add preferences for RHEL 10 Beta
  README.md
  preferences/rhel/10/amd64/kustomization.yaml
  preferences/rhel/10/amd64/metadata/kustomization.yaml
  preferences/rhel/10/amd64/metadata/metadata.yaml
  preferences/rhel/10/amd64/requirements/kustomization.yaml
  preferences/rhel/10/amd64/requirements/requirements.yaml
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

rhel.10: Enable secureboot
  preferences/rhel/10/amd64/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

Added test for preference requirement
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

ci: Bump Validation OS to 26100.2033.241003-1823
  Makefile
  tests/image/validationos.Dockerfile
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

tests: Read Validations OS tag from file
  Makefile
  tests/image/validationos.tag
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

Added dry run to preference requirement test
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

centos, rhel: Fix DPDK preference requirements
  preferences/centos/8_stream_dpdk/requirements/requirements.yaml
  preferences/centos/9_stream_dpdk/requirements/requirements.yaml
  preferences/rhel/8_dpdk/requirements/requirements.yaml
  preferences/rhel/9_dpdk/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64

fedora: Remove use of interface multiqueue
  preferences/fedora/amd64/kustomization.yaml
  preferences/fedora/arm64/kustomization.yaml
  preferences/fedora/s390x/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64

fedora: Remove use of interface multiqueue
  preferences/fedora/amd64/kustomization.yaml
  preferences/fedora/arm64/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64

chore(builder): Bump to Fedora 41
  image/Dockerfile
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

fix(tests): Handle gosec G115 linting failure in tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(golangci-lint): Bump to v1.62.2
  .golangci.yml
  Makefile
Due: none
