Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

pull-common-instancetypes-kubevirt-functest:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-fedora:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-7:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-8:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-centos-stream-9:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-ubuntu:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-common-instancetypes-kubevirt-functest-validation-os:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
  ...

image: Move windows build script and Dockerfile into tests
  tests/image/validationos.Dockerfile
  tests/scripts/build_windows_containerdisk/build.sh
  tests/scripts/build_windows_containerdisk/overlays/generic/post-install.ps1
  tests/scripts/build_windows_containerdisk/overlays/windows10/autounattend.xml
  tests/scripts/build_windows_containerdisk/overlays/windows11/autounattend.xml
  tests/scripts/build_windows_containerdisk/overlays/windows2k16/autounattend.xml
  tests/scripts/build_windows_containerdisk/overlays/windows2k16/post-install.ps1
  tests/scripts/build_windows_containerdisk/overlays/windows2k19/autounattend.xml
  tests/scripts/build_windows_containerdisk/overlays/windows2k22/autounattend.xml
Due: pull-common-instancetypes-kubevirt-functest, pull-build-common-instancetypes-builder

Revert "Windows 11, 2k22: Enable persistent TPMs"
  preferences/components/tpm/tpm.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

instancetypes: Introduce Realtime class
  README.md
  instancetypes/rt/1/kustomization.yaml
  instancetypes/rt/1/rt1.yaml
  instancetypes/rt/1/sizes.yaml
  instancetypes/rt/VirtualMachineClusterInstancetype/kustomization.yaml
  instancetypes/rt/VirtualMachineInstancetype/kustomization.yaml
  instancetypes/rt/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

preferences: Introduce rhel.9.realtime
  README.md
  preferences/rhel/9_realtime/kustomization.yaml
  preferences/rhel/9_realtime/metadata/kustomization.yaml
  preferences/rhel/9_realtime/metadata/metadata.yaml
  preferences/rhel/9_realtime/realtime/kustomization.yaml
  preferences/rhel/9_realtime/realtime/realtime.yaml
  preferences/rhel/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

Windows 11, 2k22: Enable persistent TPMs
  preferences/components/tpm/tpm.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

fedora: Remove interface-multiqueue
  preferences/fedora/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora

{rhel,centos}-{8,9}-dpdk: Require 2 vCPUs exposed as sockets
  preferences/centos/8_stream_dpdk/kustomization.yaml
  preferences/centos/8_stream_dpdk/requirements/kustomization.yaml
  preferences/centos/8_stream_dpdk/requirements/requirements.yaml
  preferences/centos/9_stream_dpdk/kustomization.yaml
  preferences/centos/9_stream_dpdk/requirements/kustomization.yaml
  preferences/centos/9_stream_dpdk/requirements/requirements.yaml
  preferences/rhel/8_dpdk/kustomization.yaml
  preferences/rhel/8_dpdk/requirements/kustomization.yaml
  preferences/rhel/8_dpdk/requirements/requirements.yaml
  preferences/rhel/9_dpdk/kustomization.yaml
  preferences/rhel/9_dpdk/requirements/kustomization.yaml
  preferences/rhel/9_dpdk/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9

gn1: Switch to generic vGPU device
  instancetypes/gn/1/gn1.yaml
Due: pull-common-instancetypes-kubevirt-functest

preferences: Use simple preferredCPUTopology constants
  preferences/components/cpu-topology-sockets/cpu-topology-sockets.yaml
  preferences/components/cpu-topology-spread/cpu-topology-spread.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

scripts: Default COMMON_INSTANCETYPES_CRI to podman
  scripts/cri.sh
Due: pull-common-instancetypes-kubevirt-functest

Revert "scripts: Default COMMON_INSTANCETYPES_CRI to podman"
  scripts/cri.sh
Due: pull-common-instancetypes-kubevirt-functest

Introduce OpenSUSE Tumbleweed and Leap preferences
  README.md
  preferences/kustomization.yaml
  preferences/opensuse/kustomization.yaml
  preferences/opensuse/leap/kustomization.yaml
  preferences/opensuse/leap/metadata/kustomization.yaml
  preferences/opensuse/leap/metadata/metadata.yaml
  preferences/opensuse/leap/requirements/kustomization.yaml
  preferences/opensuse/leap/requirements/requirements.yaml
  preferences/opensuse/tumbleweed/kustomization.yaml
  preferences/opensuse/tumbleweed/metadata/kustomization.yaml
  preferences/opensuse/tumbleweed/metadata/metadata.yaml
  preferences/opensuse/tumbleweed/requirements/kustomization.yaml
  preferences/opensuse/tumbleweed/requirements/requirements.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

centos.7,centos.stream8: Mark as deprecated with recent EOLs
  preferences/centos/7/kustomization.yaml
  preferences/centos/8_stream/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9

Add SUSE Linux Enterprise Server (SLES) preference
  README.md
  preferences/kustomization.yaml
  preferences/sles/kustomization.yaml
  preferences/sles/metadata/kustomization.yaml
  preferences/sles/metadata/metadata.yaml
  preferences/sles/requirements/kustomization.yaml
  preferences/sles/requirements/requirements.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

Add SUSE Linux Enterprise Server (SLES) preference
  README.md
  preferences/kustomization.yaml
  preferences/sles/kustomization.yaml
  preferences/sles/metadata/kustomization.yaml
  preferences/sles/metadata/metadata.yaml
  preferences/sles/requirements/kustomization.yaml
  preferences/sles/requirements/requirements.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
  tests/image/sles.Dockerfile
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

kubevirtci,kubevirt: Add virtctl subcommand
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

opensuse-leap: Align test defaults and switches with SLES
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

kubevirt: Support kind kubevirtci providers
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  scripts/sync.sh
Due: pull-common-instancetypes-kubevirt-functest

ubuntu: Add 24.04 test coverage
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

tests: Always use interface masquerade
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

tests: Provide multi-arch preferences during tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

ubuntu: Add arm64 preference test coverage
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

opensuse.leap: Add arm64 preference test coverage
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

fedora: Add arm64 preference
  README.md
  preferences/fedora/amd64/kustomization.yaml
  preferences/fedora/amd64/metadata/kustomization.yaml
  preferences/fedora/amd64/metadata/metadata.yaml
  preferences/fedora/arm64/kustomization.yaml
  preferences/fedora/arm64/metadata/kustomization.yaml
  preferences/fedora/arm64/metadata/metadata.yaml
  preferences/fedora/kustomization.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

rhel.9: Add arm64 preference
  README.md
  preferences/rhel/9/amd64/kustomization.yaml
  preferences/rhel/9/amd64/metadata/kustomization.yaml
  preferences/rhel/9/amd64/metadata/metadata.yaml
  preferences/rhel/9/amd64/requirements/kustomization.yaml
  preferences/rhel/9/amd64/requirements/requirements.yaml
  preferences/rhel/9/arm64/kustomization.yaml
  preferences/rhel/9/arm64/metadata/kustomization.yaml
  preferences/rhel/9/arm64/metadata/metadata.yaml
  preferences/rhel/9/arm64/requirements/kustomization.yaml
  preferences/rhel/9/arm64/requirements/requirements.yaml
  preferences/rhel/9/kustomization.yaml
  preferences/rhel/9_desktop/kustomization.yaml
  preferences/rhel/9_desktop/metadata/kustomization.yaml
  preferences/rhel/9_desktop/metadata/metadata.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

centos.stream9: Add arm64 preference test coverage
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

tests: Stop copying loaded resources for each test
  tests/unittests/instancetype_test.go
Due: none

tests: Skip arch and icon-pf labels for now
  tests/unittests/instancetype_test.go
Due: none

docs: Add labels documentation
  README.md
  docs/labels.md
Due: none

preferences: Set vm.kubevirt.io/os within eventual VMI
  preferences/base/metadata/metadata.yaml
  preferences/windows/base/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

Path conditions:
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*
