Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Path conditions:
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*

feat: deploy and functest make tasks
  DEVELOPMENT.md
  Makefile
  scripts/deploy-kubevirt-and-cdi.sh
Due: pull-common-instancetypes-kubevirt-functest

tests: Add VirtualMachine output on failure
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

u1.2xmedium: Add size to better align with Windows requirements
  README.md
  instancetypes/u/1/sizes.yaml
  tests/functests/instancetype_test.go
  tests/image/validationos.Dockerfile
  tests/scripts/build_windows_containerdisk/build.sh
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

u1.2xmedium: Add size to better align with Windows requirements
  README.md
  image/build_windows_containerdisk.sh
  image/validationos.Dockerfile
  instancetypes/u/1/sizes.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

tests: Stop copying loaded resources for each test
  tests/unittests/instancetype_test.go
Due: none

tests: Skip arch and icon-pf labels for now
  tests/unittests/instancetype_test.go
Due: none

fix: openapi2jsonschema broken installation
  scripts/schema.sh
Due: pull-common-instancetypes-kubevirt-functest

Remove Windows 2k12 template
  README.md
  preferences/windows/2k12/kustomization.yaml
  preferences/windows/2k12/metadata/kustomization.yaml
  preferences/windows/2k12/metadata/metadata.yaml
  preferences/windows/2k12/requirements/kustomization.yaml
  preferences/windows/2k12/requirements/requirements.yaml
  preferences/windows/2k12_virtio/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

cpu-topology-spread: Spread across SocketsCoresThreads
  preferences/components/cpu-topology-spread/cpu-topology-spread.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

feat(dpdk): Spread vCPUs across SocketsCoresThreads
  preferences/rhel/8_dpdk/kustomization.yaml
  preferences/rhel/9_dpdk/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

Revert "Remove Windows 2k12 template"
  README.md
  preferences/windows/2k12/kustomization.yaml
  preferences/windows/2k12/metadata/kustomization.yaml
  preferences/windows/2k12/metadata/metadata.yaml
  preferences/windows/2k12/requirements/kustomization.yaml
  preferences/windows/2k12/requirements/requirements.yaml
  preferences/windows/2k12_virtio/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

kubevirt: Pin to KubeVirt 1.3 for testing
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

instancetypes: Introduce Realtime class
  README.md
  instancetypes/rt/1/kustomization.yaml
  instancetypes/rt/1/rt1.yaml
  instancetypes/rt/1/sizes.yaml
  instancetypes/rt/VirtualMachineClusterInstancetype/kustomization.yaml
  instancetypes/rt/VirtualMachineInstancetype/kustomization.yaml
  instancetypes/rt/kustomization.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

preferences: Introduce rhel.9.realtime
  README.md
  preferences/rhel/9_realtime/kustomization.yaml
  preferences/rhel/9_realtime/metadata/kustomization.yaml
  preferences/rhel/9_realtime/metadata/metadata.yaml
  preferences/rhel/9_realtime/realtime/kustomization.yaml
  preferences/rhel/9_realtime/realtime/realtime.yaml
  preferences/rhel/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

fix(rhel.9.realtime): Add display name override
  README.md
  preferences/rhel/9_realtime/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest

Revert "cpu-topology-spread: Spread across SocketsCoresThreads"
  preferences/components/cpu-topology-spread/cpu-topology-spread.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

cpu-topology-spread: Spread across SocketCoresThreads
  preferences/centos/8_stream_dpdk/kustomization.yaml
  preferences/centos/9_stream_dpdk/kustomization.yaml
  preferences/components/cpu-topology-spread-4/cpu-topology-spread-4.yaml
  preferences/components/cpu-topology-spread-4/kustomization.yaml
  preferences/rhel/8_dpdk/kustomization.yaml
  preferences/rhel/9_dpdk/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

functests: Lookup appropriate instancetypes for preferences
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

chore: Update common-instancetypes-builder to use Fedora 40
  image/Dockerfile
Due: pull-build-common-instancetypes-builder

Add dependabot configuration for tests
  .github/dependabot.yml
Due: none

fix(functests): Test rejection on insufficient resources separately
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

Add dependabot configuration for tools
  .github/dependabot.yml
Due: none

preferences: Add efi component
  preferences/components/efi/efi.yaml
  preferences/components/efi/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Add preferences for RHEL 10 Beta
  README.md
  preferences/rhel/10/amd64/kustomization.yaml
  preferences/rhel/10/amd64/metadata/kustomization.yaml
  preferences/rhel/10/amd64/metadata/metadata.yaml
  preferences/rhel/10/amd64/requirements/kustomization.yaml
  preferences/rhel/10/amd64/requirements/requirements.yaml
  preferences/rhel/10/arm64/kustomization.yaml
  preferences/rhel/10/arm64/metadata/kustomization.yaml
  preferences/rhel/10/arm64/metadata/metadata.yaml
  preferences/rhel/10/arm64/requirements/kustomization.yaml
  preferences/rhel/10/arm64/requirements/requirements.yaml
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Add preferences for CentOS 10 Stream
  README.md
  preferences/centos/10_stream/kustomization.yaml
  preferences/centos/10_stream/metadata/kustomization.yaml
  preferences/centos/10_stream/metadata/metadata.yaml
  preferences/centos/10_stream/requirements/kustomization.yaml
  preferences/centos/10_stream/requirements/requirements.yaml
  preferences/centos/10_stream_desktop/kustomization.yaml
  preferences/centos/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9
