Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Path conditions:
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*

preferences: Add efi component
  preferences/components/efi/efi.yaml
  preferences/components/efi/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Add preferences for RHEL 10 Beta
  README.md
  preferences/rhel/10/amd64/kustomization.yaml
  preferences/rhel/10/amd64/metadata/kustomization.yaml
  preferences/rhel/10/amd64/metadata/metadata.yaml
  preferences/rhel/10/amd64/requirements/kustomization.yaml
  preferences/rhel/10/amd64/requirements/requirements.yaml
  preferences/rhel/10/arm64/kustomization.yaml
  preferences/rhel/10/arm64/metadata/kustomization.yaml
  preferences/rhel/10/arm64/metadata/metadata.yaml
  preferences/rhel/10/arm64/requirements/kustomization.yaml
  preferences/rhel/10/arm64/requirements/requirements.yaml
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

chore: Update common-instancetypes-builder
  Makefile
Due: none

Add instancetype.kubevirt.io/size to all instance types
  instancetypes/cx/1/sizes.yaml
  instancetypes/gn/1/sizes.yaml
  instancetypes/m/1/sizes.yaml
  instancetypes/n/1/sizes.yaml
  instancetypes/o/1/sizes.yaml
  instancetypes/rt/1/sizes.yaml
  instancetypes/u/1/sizes.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

gn: Deprecate GPU NVIDIA class of instance types
  instancetypes/gn/1/gn1.yaml
Due: pull-common-instancetypes-kubevirt-functest

preferences: Use simple preferredCPUTopology constants
  preferences/components/cpu-topology-sockets/cpu-topology-sockets.yaml
  preferences/components/cpu-topology-spread-4/cpu-topology-spread-4.yaml
  preferences/components/cpu-topology-spread/cpu-topology-spread.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

Windows 11, 2k22: Enable persistent TPMs
  preferences/components/tpm/tpm.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

Windows 11, 2k22: Enable persistent EFI
  preferences/components/efi-persisted/efi.yaml
  preferences/components/efi-persisted/kustomization.yaml
  preferences/windows/11/kustomization.yaml
  preferences/windows/2k22/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

preference: Switch secureboot component to preferredEfi
  preferences/components/secureboot/secureboot.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

makefile: Use a specific branch to generate and validate KubeVirt schema
  Makefile
  scripts/cri.sh
  scripts/schema.sh
  scripts/validate.sh
Due: pull-common-instancetypes-kubevirt-functest

windows.2k25: Introduce Windows Server 2025 preferences
  README.md
  preferences/windows/2k25/kustomization.yaml
  preferences/windows/2k25/metadata/kustomization.yaml
  preferences/windows/2k25/metadata/metadata.yaml
  preferences/windows/2k25/requirements/kustomization.yaml
  preferences/windows/2k25/requirements/requirements.yaml
  preferences/windows/2k25_virtio/kustomization.yaml
  preferences/windows/2k25_virtio/metadata/kustomization.yaml
  preferences/windows/2k25_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

tests: Add support for building Windows 2k25 containerdisks
  tests/scripts/build_windows_containerdisk/build.sh
  tests/scripts/build_windows_containerdisk/overlays/windows2k25/autounattend.xml
Due: pull-common-instancetypes-kubevirt-functest

tests: Lookup actual disk path
  tests/scripts/build_windows_containerdisk/build.sh
Due: pull-common-instancetypes-kubevirt-functest

cleanup: Remove remains of early functest implementation
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

rhel.10: Enable secureboot
  preferences/rhel/10/amd64/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

chore: Add flag for setting timeout for creating windows vms
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

fix: set default version when git describe --tags fails
  scripts/generate.sh
Due: pull-common-instancetypes-kubevirt-functest

centos, rhel: Fix DPDK preference requirements
  preferences/centos/8_stream_dpdk/requirements/requirements.yaml
  preferences/centos/9_stream_dpdk/requirements/requirements.yaml
  preferences/rhel/8_dpdk/requirements/requirements.yaml
  preferences/rhel/9_dpdk/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

fix: deployment to external cluster
  Makefile
Due: none

feat: enable ssh test for windows 2k16
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

docs: Add use-case examples for instanceTypes
  instancetypes/cx/1/cx1.yaml
  instancetypes/m/1/m1.yaml
  instancetypes/n/1/n1.yaml
  instancetypes/u/1/u1.yaml
Due: pull-common-instancetypes-kubevirt-functest

centos, rhel: Fix DPDK preference requirements
  preferences/centos/8_stream_dpdk/requirements/requirements.yaml
  preferences/centos/9_stream_dpdk/requirements/requirements.yaml
  preferences/rhel/8_dpdk/requirements/requirements.yaml
  preferences/rhel/9_dpdk/requirements/requirements.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9

kubevirtci: Fix paths to cluster-up scripts
  scripts/kubevirt.sh
Due: pull-common-instancetypes-kubevirt-functest

Makefile: Remove whitespace from COMMON_INSTANCETYPES_IMAGE_TAG
  Makefile
Due: none

functests: Stop using the deprecated Running field within VMs
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os

kubevirt,kubevirtci: Disable common-instancetypes deployment
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-validation-os
