Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-build-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-s390x: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-stream-10: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-common-instancetypes-kubevirt-functest-debian-11: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-debian-12: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-debian-13: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest-oraclelinux-8: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/oraclelinux/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-oraclelinux-9: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/oraclelinux/.*|tests/functests/.*|tests/vendor/.*|tests/go.*

fix: set Windows 11 and 10 preferredCPUTopology to cores
  preferences/components/cpu-topology-cores/cpu-topology-cores.yaml
  preferences/components/cpu-topology-cores/kustomization.yaml
  preferences/windows/10/kustomization.yaml
  preferences/windows/11/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

functests: add --test-namespace flag
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

test: add OpenSUSE and SLES 16 preferences
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

test: add AlmaLinux 10 and 9 preferences
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

s390x: Add additional IBM Secure Execution preferences
  README.md
  preferences/components/launch-security/kustomization.yaml
  preferences/components/launch-security/launch-security.yaml
  preferences/fedora/kustomization.yaml
  preferences/fedora/s390x.secex/kustomization.yaml
  preferences/fedora/s390x.secex/metadata/kustomization.yaml
  preferences/fedora/s390x.secex/metadata/metadata.yaml
  preferences/rhel/10/kustomization.yaml
  preferences/rhel/10/s390x.secex/kustomization.yaml
  preferences/rhel/10/s390x.secex/metadata/kustomization.yaml
  preferences/rhel/10/s390x.secex/metadata/metadata.yaml
  preferences/rhel/9/kustomization.yaml
  preferences/rhel/9/s390x.secex/kustomization.yaml
  preferences/rhel/9/s390x.secex/metadata/kustomization.yaml
  preferences/rhel/9/s390x.secex/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

lint: Use kubernetes yamllint configuration
  .yamllint
Due: none

ci: Bump Validation OS to 26100.8972.260722-1659
  tests/image/validationos.tag
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

tests: Rework how the Validation OS containerdisk obtains its ISOs
  tests/image/validationos.Dockerfile
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

chore(test): Add Oracle Linux 10.1 test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
  tests/image/oraclelinux.tag
  tests/scripts/build-ol.sh
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-build-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

chore(ci): Revert `KUBEVIRTCI_TAG` to dynamic lookup from kubevirt version.txt
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

preferences: Add hyperv panic device to Windows preferences
  preferences/components/panic-model-hyperv/kustomization.yaml
  preferences/components/panic-model-hyperv/panic-model-hyperv.yaml
  preferences/windows/base/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

[release-1.7] Pin KubeVirt to 1.9 for testing and validation
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

[release-1.6] Pin KubeVirt to 1.8 for testing and validation
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

[release-1.5] Pin KubeVirt to 1.7 for testing and validation
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

[release-1.5] Apply gofumpt to preference requirement assertion
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

[release-1.4] Pin KubeVirt to 1.6 for testing and validation
  Makefile
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

[release-1.6] Pin deployment tests to KubeVirt v1.8.4
  Makefile
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

[release-1.5] Pin deployment tests to KubeVirt v1.7.4
  Makefile
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

[release-1.4] Pin deployment tests to KubeVirt v1.6.6
  Makefile
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest
