Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-build-common-instancetypes-builder: any of: image/.*

chore(Makefile): Bump COMMON_INSTANCETYPES_IMAGE_TAG to v20241217-0005325
  Makefile
Due: none

chore(deps): Bump go.mod
  tests/go.mod
  tools/go.mod
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(test): Add CentOS Stream 10 func test.
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(go.mod): Replace golang.org/x/net v0.32.0 with v0.33.0
  tools/go.mod
  tools/go.sum
  tools/vendor/golang.org/x/net/html/doctype.go
  tools/vendor/golang.org/x/net/html/foreign.go
  tools/vendor/golang.org/x/net/html/parse.go
  tools/vendor/modules.txt
Due: none

feat: enable ssh test for windows 2k16
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: Disable Windows guest tests on architectures other than amd64
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable Ubuntu common-instancetypes for s390x
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable CentOS Stream 9 on s390x architecture
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: enable support for Fedora on s390x architecture
  README.md
  preferences/fedora/kustomization.yaml
  preferences/fedora/s390x/kustomization.yaml
  preferences/fedora/s390x/metadata/kustomization.yaml
  preferences/fedora/s390x/metadata/metadata.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: support RHEL 9 on s390x architecture
  README.md
  preferences/rhel/9/kustomization.yaml
  preferences/rhel/9/s390x/kustomization.yaml
  preferences/rhel/9/s390x/metadata/kustomization.yaml
  preferences/rhel/9/s390x/metadata/metadata.yaml
  preferences/rhel/9/s390x/requirements/kustomization.yaml
  preferences/rhel/9/s390x/requirements/requirements.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(tests): Replace golang.org/x/net v0.27.0 with v0.33.0
  tests/go.mod
  tests/go.sum
  tests/vendor/golang.org/x/net/LICENSE
  tests/vendor/golang.org/x/net/html/doc.go
  tests/vendor/golang.org/x/net/html/doctype.go
  tests/vendor/golang.org/x/net/html/foreign.go
  tests/vendor/golang.org/x/net/html/iter.go
  tests/vendor/golang.org/x/net/html/node.go
  tests/vendor/golang.org/x/net/html/parse.go
  tests/vendor/golang.org/x/net/http2/client_conn_pool.go
  tests/vendor/golang.org/x/net/http2/config.go
  tests/vendor/golang.org/x/net/http2/config_go124.go
  tests/vendor/golang.org/x/net/http2/config_pre_go124.go
  tests/vendor/golang.org/x/net/http2/frame.go
  tests/vendor/golang.org/x/net/http2/http2.go
  tests/vendor/golang.org/x/net/http2/server.go
  tests/vendor/golang.org/x/net/http2/transport.go
  tests/vendor/golang.org/x/net/http2/unencrypted.go
  tests/vendor/golang.org/x/net/http2/write.go
  tests/vendor/modules.txt
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(tests,tools): Bump golang to v1.23.6
  tests/go.mod
  tools/go.mod
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(deps): Bump golang to 1.23.7
  tests/go.mod
  tools/go.mod
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

image: Request a specific golang version in the builder Dockerfile
  image/Dockerfile
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

Add generic linux distributions preferences
  README.md
  preferences/components/efi-secureboot/efi-secureboot.yaml
  preferences/components/efi-secureboot/kustomization.yaml
  preferences/kustomization.yaml
  preferences/linux-efi/kustomization.yaml
  preferences/linux-efi/metadata/kustomization.yaml
  preferences/linux-efi/metadata/metadata.yaml
  preferences/linux/kustomization.yaml
  preferences/linux/metadata/kustomization.yaml
  preferences/linux/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Add legacy SO agnostic preference
  README.md
  docs/labels.md
  preferences/components/diskbus-scsi/diskbus-scsi.yaml
  preferences/components/diskbus-scsi/kustomization.yaml
  preferences/components/interfacemodel-e1000/e1000.yaml
  preferences/components/interfacemodel-e1000/kustomization.yaml
  preferences/kustomization.yaml
  preferences/legacy/kustomization.yaml
  preferences/legacy/metadata/kustomization.yaml
  preferences/legacy/metadata/metadata.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Add generic linux distributions preferences
  README.md
  preferences/kustomization.yaml
  preferences/linux-efi/kustomization.yaml
  preferences/linux-efi/metadata/kustomization.yaml
  preferences/linux-efi/metadata/metadata.yaml
  preferences/linux/kustomization.yaml
  preferences/linux/metadata/kustomization.yaml
  preferences/linux/metadata/metadata.yaml
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(prefences): Add preference for Debian
  README.md
  preferences/debian/kustomization.yaml
  preferences/debian/metadata/kustomization.yaml
  preferences/debian/metadata/metadata.yaml
  preferences/debian/requirements/kustomization.yaml
  preferences/debian/requirements/requirements.yaml
  preferences/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

tests: Add flag for expectedVendor to accommodate downstream modifications
  tests/unittests/instancetype_test.go
  tests/unittests/test_suite_test.go
Due: none

fix(functest): Skip only specific preferences.
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix(debian): Add requirements to debian preferences.
  preferences/debian/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

Revert "feat(prefences): Add preference for Debian"
  README.md
  preferences/debian/kustomization.yaml
  preferences/debian/metadata/kustomization.yaml
  preferences/debian/metadata/metadata.yaml
  preferences/debian/requirements/kustomization.yaml
  preferences/debian/requirements/requirements.yaml
  preferences/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

Revert "chore(deps): Bump the production-dependencies group"
  tools/go.mod
  tools/go.sum
  tools/vendor/github.com/alecthomas/participle/v2/lexer/stateful.go
  tools/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  tools/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  tools/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  tools/vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go120.go
  tools/vendor/google.golang.org/protobuf/internal/strs/strings_unsafe_go121.go
  tools/vendor/google.golang.org/protobuf/internal/version/version.go
  tools/vendor/google.golang.org/protobuf/proto/merge.go
  tools/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  tools/vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go120.go
  tools/vendor/google.golang.org/protobuf/reflect/protoreflect/value_unsafe_go121.go
  tools/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  tools/vendor/modules.txt
Due: none

chore(image,tests,tools): Pin to golang v1.23.6
  image/Dockerfile
  tests/go.mod
  tools/go.mod
Due: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Revert "chore(deps): Bump the production-dependencies group across 1 directory with 4 updates"
  tools/go.mod
  tools/go.sum
  tools/vendor/github.com/alecthomas/participle/v2/lexer/simple.go
  tools/vendor/github.com/alecthomas/participle/v2/lexer/text_scanner.go
  tools/vendor/github.com/go-openapi/jsonpointer/.golangci.yml
  tools/vendor/github.com/go-openapi/jsonpointer/errors.go
  tools/vendor/github.com/go-openapi/jsonpointer/pointer.go
  tools/vendor/github.com/go-openapi/swag/.golangci.yml
  tools/vendor/github.com/go-openapi/swag/errors.go
  tools/vendor/github.com/go-openapi/swag/json.go
  tools/vendor/github.com/go-openapi/swag/loading.go
  tools/vendor/github.com/go-openapi/swag/yaml.go
  tools/vendor/github.com/goccy/go-yaml/context.go
  tools/vendor/github.com/goccy/go-yaml/decode.go
  tools/vendor/github.com/goccy/go-yaml/encode.go
  tools/vendor/github.com/goccy/go-yaml/option.go
  tools/vendor/github.com/goccy/go-yaml/scanner/scanner.go
  tools/vendor/modules.txt
Due: none

Revert "chore(deps): Bump golang to 1.23.7"
  tests/go.mod
  tools/go.mod
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(tests): Wire up UNITTEST_EXTRA_ARGS
  Makefile
Due: none

functests: Allow to specify arch to test preferences for
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os
