Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os, pull-build-common-instancetypes-builder

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-7: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-build-common-instancetypes-builder: any of: image/.*

chore(test): Add RHEL 6 test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: do not fail functest if the common-instancetype-functest namespace exists
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: set pull policy for container disks in func tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(test): Add RHEL 7 and 8 preference tests
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

fix: remove extra ')' in KUBEVIRT_VERSION export
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

chore(fmt): Switch to gofumpt
  Makefile
Due: none

chore(golangci-lint): Bump to v2.2.2 and fix new findings
  .golangci.yml
  Makefile
  tests/functests/instancetype_test.go
  tests/unittests/instancetype_test.go
  tests/unittests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

chore(image): Bump golang image and version
  image/Dockerfile
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

chore(tests): Bump minimum go version to 1.24.4
  tests/go.mod
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

m1, cx1: Introduce 1Gi hugepage sizes
  README.md
  docs/labels.md
  instancetypes/cx/1/cx1.yaml
  instancetypes/cx/1/sizes.yaml
  instancetypes/m/1/m1.yaml
  instancetypes/m/1/sizes.yaml
  instancetypes/n/1/n1.yaml
  instancetypes/rt/1/rt1.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

chore(Makefile): Bump builder image to v20250724-df773ff
  Makefile
Due: none

Merge pull request #425 from geetikakay/cherry_pick_1Gi_release1_1
  README.md
  docs/labels.md
  instancetypes/cx/1/cx1.yaml
  instancetypes/cx/1/sizes.yaml
  instancetypes/m/1/m1.yaml
  instancetypes/m/1/sizes.yaml
  instancetypes/n/1/n1.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest

feat(preferences): Add Windows Server 2008
  README.md
  preferences/windows/2k8/kustomization.yaml
  preferences/windows/2k8/metadata/kustomization.yaml
  preferences/windows/2k8/metadata/metadata.yaml
  preferences/windows/2k8/requirements/kustomization.yaml
  preferences/windows/2k8/requirements/requirements.yaml
  preferences/windows/2k8_virtio/kustomization.yaml
  preferences/windows/2k8_virtio/metadata/kustomization.yaml
  preferences/windows/2k8_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(test): Add Windows Server 2008 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(test): Add Windows Server 2012/2012 R2 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat(preference): Add Windows Server 2012/2012 R2
  README.md
  preferences/windows/2k12/kustomization.yaml
  preferences/windows/2k12/metadata/kustomization.yaml
  preferences/windows/2k12/metadata/metadata.yaml
  preferences/windows/2k12/requirements/kustomization.yaml
  preferences/windows/2k12/requirements/requirements.yaml
  preferences/windows/2k12_virtio/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/kustomization.yaml
  preferences/windows/2k12_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(preference): Add Windows 7 preferences
  README.md
  preferences/windows/7/kustomization.yaml
  preferences/windows/7/metadata/kustomization.yaml
  preferences/windows/7/metadata/metadata.yaml
  preferences/windows/7/requirements/kustomization.yaml
  preferences/windows/7/requirements/requirements.yaml
  preferences/windows/7_virtio/kustomization.yaml
  preferences/windows/7_virtio/metadata/kustomization.yaml
  preferences/windows/7_virtio/metadata/metadata.yaml
  preferences/windows/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

feat(test): Add Windows 7 preferences test
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-arm64, pull-common-instancetypes-kubevirt-functest-centos-7, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-centos-stream-9, pull-common-instancetypes-kubevirt-functest-centos-stream-arm64, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-ubuntu-arm64, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-opensuse-leap-arm64, pull-common-instancetypes-kubevirt-functest-validation-os

feat: add cpu.maxSockets to cx instance types
  instancetypes/cx/1/sizes.yaml
Due: pull-common-instancetypes-kubevirt-functest
