Repository kubevirt/common-instancetypes: changes, and which Prow jobs are due for each by the changed paths.
All: publish-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-build-common-instancetypes-builder, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Path conditions:
  publish-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest: any of: instancetypes/.*|preferences/.*|scripts/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora: any of: preferences/base/.*|preferences/components/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-fedora-s390x: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/fedora/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-centos-stream-8: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-stream-9: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-stream-10: any of: preferences/base/.*|preferences/components/.*|preferences/centos/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-ubuntu: any of: preferences/base/.*|preferences/components/.*|preferences/ubuntu/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/tumbleweed/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-opensuse-leap: any of: preferences/base/.*|preferences/components/.*|preferences/opensuse/leap/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-validation-os: any of: preferences/base/.*|preferences/components/.*|preferences/windows/11/.*|tests/functests/.*|tests/vendor/.*|tests/go.*|tests/image/validationos.*
  pull-common-instancetypes-kubevirt-functest-debian-11: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-debian-12: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-debian-13: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/debian/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-build-common-instancetypes-builder: any of: image/.*
  pull-common-instancetypes-kubevirt-functest-oraclelinux-8: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/oraclelinux/.*|tests/functests/.*|tests/vendor/.*|tests/go.*
  pull-common-instancetypes-kubevirt-functest-oraclelinux-9: any of: preferences/base/.*|preferences/components/.*|preferences/linux/.*|preferences/linux-efi/.*|preferences/oraclelinux/.*|tests/functests/.*|tests/vendor/.*|tests/go.*

feat: add dedicated (d) instancetypes family
  README.md
  instancetypes/d/1/d1.yaml
  instancetypes/d/1/kustomization.yaml
  instancetypes/d/1/sizes.yaml
  instancetypes/d/VirtualMachineClusterInstancetype/kustomization.yaml
  instancetypes/d/VirtualMachineInstancetype/kustomization.yaml
  instancetypes/d/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest

test: add functest for s390x OpenSUSE Tumbleweed
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

feat: do not fail functest if the common-instancetype-functest namespace exists
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

feat: set pull policy for container disks in func tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Add eLxr VirtualMachinePreference
  README.md
  preferences/elxr/amd64/kustomization.yaml
  preferences/elxr/amd64/metadata/kustomization.yaml
  preferences/elxr/amd64/metadata/metadata.yaml
  preferences/elxr/arm64/kustomization.yaml
  preferences/elxr/arm64/metadata/kustomization.yaml
  preferences/elxr/arm64/metadata/metadata.yaml
  preferences/elxr/kustomization.yaml
  preferences/elxr/requirements/kustomization.yaml
  preferences/elxr/requirements/requirements.yaml
  preferences/kustomization.yaml
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Add preferredArchitecture and required architecture support
  preferences/components/preferred-architecture/amd64/kustomization.yaml
  preferences/components/preferred-architecture/amd64/preferred-architecture.yaml
  preferences/components/preferred-architecture/arm64/kustomization.yaml
  preferences/components/preferred-architecture/arm64/preferred-architecture.yaml
  preferences/components/preferred-architecture/s390x/kustomization.yaml
  preferences/components/preferred-architecture/s390x/preferred-architecture.yaml
  preferences/components/required-architecture/amd64/kustomization.yaml
  preferences/components/required-architecture/amd64/required-architecture.yaml
  preferences/components/required-architecture/arm64/kustomization.yaml
  preferences/components/required-architecture/arm64/required-architecture.yaml
  preferences/components/required-architecture/s390x/kustomization.yaml
  preferences/components/required-architecture/s390x/required-architecture.yaml
  preferences/fedora/amd64/kustomization.yaml
  preferences/fedora/arm64/kustomization.yaml
  preferences/fedora/s390x/kustomization.yaml
  preferences/rhel/10/amd64/kustomization.yaml
  preferences/rhel/10/arm64/kustomization.yaml
  preferences/rhel/10/s390x/kustomization.yaml
  preferences/rhel/9/amd64/kustomization.yaml
  preferences/rhel/9/arm64/kustomization.yaml
  preferences/rhel/9/s390x/kustomization.yaml
  tests/unittests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

docs: add AGENTS.md
  AGENTS.md
Due: none

test: add OpenSUSE and SLES 16 preferences
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

fix: apply gofumpt formatting to functional tests
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

fix(test): Add KUBEVIRT_PROVIDER to `make cluster/kubevirt-up`
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

fix(test): Disable `ImageVolume` FG
  scripts/kubevirt.sh
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

fix(test): Set KUBEVIRTCI_TAG to temporally fix x390s lanes
  scripts/kubevirtci.sh
Due: pull-common-instancetypes-kubevirt-functest

Add preferredVideoType virtio to Windows virtio preferences
  preferences/components/videotype-virtio/kustomization.yaml
  preferences/components/videotype-virtio/videotype-virtio.yaml
  preferences/windows/10_virtio/kustomization.yaml
  preferences/windows/11_virtio/kustomization.yaml
  preferences/windows/2k12_virtio/kustomization.yaml
  preferences/windows/2k16_virtio/kustomization.yaml
  preferences/windows/2k19_virtio/kustomization.yaml
  preferences/windows/2k22_virtio/kustomization.yaml
  preferences/windows/2k25_virtio/kustomization.yaml
  preferences/windows/2k8_virtio/kustomization.yaml
  preferences/windows/7_virtio/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

fix: use sles SSH user for OpenSUSE Leap 16 test
  tests/functests/instancetype_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Bump Go to 1.26.4 and golangci-lint to v2.12.2
  Makefile
  image/Dockerfile
Due: publish-common-instancetypes-builder, pull-build-common-instancetypes-builder

Pin golangci-lint install script to release tag
  Makefile
Due: none

Exclude goconst linter from test files
  .golangci.yml
Due: none

Update builder image tag to v20260619-7a6447db
  Makefile
Due: none

OWNERS: Nominate jcanocan as approver
  OWNERS
Due: none

test: add AlmaLinux 10 and 9 preferences
  tests/functests/instancetype_test.go
  tests/functests/test_suite_test.go
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

preferences: Add hyperv panic device to Windows preferences
  preferences/components/panic-model-hyperv/kustomization.yaml
  preferences/components/panic-model-hyperv/panic-model-hyperv.yaml
  preferences/windows/base/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9

Improve release docs and add Claude release skill
  .claude/skills/release/SKILL.md
  docs/release.md
Due: none

fix: set Windows 11 and 10 preferredCPUTopology to cores
  preferences/components/cpu-topology-cores/cpu-topology-cores.yaml
  preferences/components/cpu-topology-cores/kustomization.yaml
  preferences/windows/10/kustomization.yaml
  preferences/windows/11/kustomization.yaml
Due: pull-common-instancetypes-kubevirt-functest, pull-common-instancetypes-kubevirt-functest-fedora, pull-common-instancetypes-kubevirt-functest-fedora-s390x, pull-common-instancetypes-kubevirt-functest-centos-stream-8, pull-common-instancetypes-kubevirt-functest-stream-9, pull-common-instancetypes-kubevirt-functest-stream-10, pull-common-instancetypes-kubevirt-functest-ubuntu, pull-common-instancetypes-kubevirt-functest-opensuse-tumbleweed, pull-common-instancetypes-kubevirt-functest-opensuse-leap, pull-common-instancetypes-kubevirt-functest-validation-os, pull-common-instancetypes-kubevirt-functest-debian-11, pull-common-instancetypes-kubevirt-functest-debian-12, pull-common-instancetypes-kubevirt-functest-debian-13, pull-common-instancetypes-kubevirt-functest-oraclelinux-8, pull-common-instancetypes-kubevirt-functest-oraclelinux-9
