Repository kubevirt/containerdisks: changes, and which Prow jobs are due for each by the changed paths.
All: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-rhcos, pull-containerdisks-pipeline-ubuntu

Path conditions:
  pull-containerdisks-pipeline-centos: any of: artifacts/centos/.*
  pull-containerdisks-pipeline-centosstream: any of: artifacts/centosstream/.*
  pull-containerdisks-pipeline-fedora: any of: artifacts/fedora/.*
  pull-containerdisks-pipeline-rhcos: any of: artifacts/rhcos/.*|artifacts/rhcosprerelease/.*
  pull-containerdisks-pipeline-ubuntu: any of: artifacts/ubuntu/.*

centos-stream: Stop syncing centos-stream:8 with EOL
  artifacts/centosstream/centos-stream_test.go
  artifacts/centosstream/testdata/centos-stream8-aarch64.checksum
  artifacts/centosstream/testdata/centos-stream8-x86_64.checksum
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centosstream

centos: Remove centos artifact entirely with EOL
  README.md
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centos/testdata/centos7.checksum
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centos

opensuse: Add default instance type and preference ENV vars
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  cmd/medius/common/registry.go
Due: none

kubevirtci: Deploy common-instancetypes from main
  hack/kubevirtci.sh
Due: none

verify: Create VMs using ENV variables
  cmd/medius/images/verify.go
Due: none

instancetypes: Move ENV constants into a more meaningful package
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/verify.go
  pkg/instancetype/constants.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

opensuse-leap: Add -latest tag for each major version
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
Due: none

opensuse-leap: Stop syncing 15.5
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.5-Minimal-VM.aarch64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.5-Minimal-VM.x86_64-Cloud.qcow2.sha256
  cmd/medius/common/registry.go
Due: none

opensuse-tumbleweed: Add latest tag
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
Due: none

centos-stream: Add EOL and deprecation notice for Stream 8
  artifacts/centosstream/centos-stream.go
Due: pull-containerdisks-pipeline-centosstream

feat: Add default env variables to arm64 containerdisks
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-fedora

Add s390x Artifacts
  artifacts/fedora/fedora.go
  cmd/medius/common/registry.go
  pkg/architecture/arch.go
Due: pull-containerdisks-pipeline-fedora

chore(ci): Use kubevirtci image tag used by kubevirt/kubevirt
  hack/kubevirtci.sh
Due: none

Adding s390x arch for ubuntu and centos artifacts
  Makefile
  artifacts/centosstream/centos-stream_test.go
  artifacts/centosstream/testdata/centos-stream9-s390x.checksum
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  pkg/architecture/arch.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-ubuntu

Added GOARCH variable to Makefile for dynamic architecture detection using Go's environment. This change will support building containerdisks for s390x, amd64, and arm64 and other architectures.
  Makefile
Due: none

Update files for fedora artifact to add s390x support
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
Due: pull-containerdisks-pipeline-fedora

kubevirtci: Fix paths to cluster-up scripts
  hack/kubevirtci.sh
Due: none

Bump golang 1.22.9
  go.mod
Due: none

Add s390x architecture support for containerdisks
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

Add unit tests for CentOS Stream and Ubuntu artifacts
  artifacts/centosstream/centos-stream_test.go
  artifacts/ubuntu/ubuntu_test.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-ubuntu

Define constant for s390x architecture
  artifacts/centosstream/centos-stream_test.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  pkg/architecture/arch.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-ubuntu

Inline constant for s390x architecture in GetImageArchitecture function
  pkg/architecture/arch.go
Due: none

medius: Ignore arch not being present in target manifest
  cmd/medius/images/push.go
  pkg/repository/repository.go
Due: none

Add s390x support for Fedora artifact
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
Due: pull-containerdisks-pipeline-fedora

Fix formatting issues with gofmt and gofumpt in fedora_test.go
  artifacts/fedora/fedora_test.go
Due: pull-containerdisks-pipeline-fedora

feat(containerdisk): Add centOS Stream 10 containerdisk
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/centosstream/testdata/centos-stream10-aarch64.checksum
  artifacts/centosstream/testdata/centos-stream10-s390x.checksum
  artifacts/centosstream/testdata/centos-stream10-x86_64.checksum
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centosstream

feat(centos): Remove CentOS Stream 8 support.
  artifacts/centosstream/centos-stream.go
Due: pull-containerdisks-pipeline-centosstream

chore(golang): Bump golang 1.23.4 version
  go.mod
Due: none

chore: Add s390x environment variables to containerdisks
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

chore(README.md): Add s390x support to table
  README.md
Due: none

ci: test the CentOS Stream distribution in pipeline.sh
  pipeline.sh
Due: none

ci: set default kubevirtci provider to version 1.31
  pipeline.sh
Due: none

fix: secure boot not enabled on s390x
  artifacts/fedora/fedora.go
Due: pull-containerdisks-pipeline-fedora

fix: verify artifacts for the corresponding Kubernetes architecture
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/images/verify.go
  pkg/api/artifact.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

fix: disable Fedora 40 for s390x
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
Due: pull-containerdisks-pipeline-fedora
