Repository kubevirt/containerdisks: changes, and which Prow jobs are due for each by the changed paths.
All: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-rhcos, pull-containerdisks-pipeline-ubuntu

pull-containerdisks-pipeline-centos:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: '1.19'
      - name: FOCUS
  ...

pull-containerdisks-pipeline-centosstream:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: '1.19'
      - name: FOCUS
  ...

pull-containerdisks-pipeline-fedora:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: '1.19'
      - name: FOCUS
  ...

pull-containerdisks-pipeline-rhcos:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: '1.19'
      - name: FOCUS
  ...

pull-containerdisks-pipeline-ubuntu:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: '1.19'
      - name: FOCUS
  ...

chore: Small cleanups
  artifacts/centos/centos.go
  artifacts/centosstream/centos-stream.go
  artifacts/fedora/fedora.go
  artifacts/rhcos/rhcos.go
  artifacts/rhcosprerelease/rhcos.go
  artifacts/ubuntu/ubuntu.go
  pipeline-periodic.sh
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-rhcos, pull-containerdisks-pipeline-ubuntu

feat: Add additional labels to containerdisks
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/rhcos/rhcos.go
  artifacts/rhcos/rhcos_test.go
  artifacts/rhcosprerelease/rhcos.go
  artifacts/rhcosprerelease/rhcos_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pkg/api/artifact.go
  pkg/build/build.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-rhcos, pull-containerdisks-pipeline-ubuntu

Remove 'codingben' from the OWNERS
  OWNERS
Due: none

feat: Add new rhcos and rhcosprerelease artifacts
  cmd/medius/common/registry.go
Due: none

chore: Drop rhcos and rhcosprerelease containerdisks
  artifacts/rhcos/rhcos.go
  artifacts/rhcos/rhcos_test.go
  artifacts/rhcos/testdata/rhcos-4.8.checksum
  artifacts/rhcos/testdata/rhcos-4.9.checksum
  artifacts/rhcosprerelease/rhcos.go
  artifacts/rhcosprerelease/rhcos_test.go
  artifacts/rhcosprerelease/testdata/rhcos-latest-4.9-prerelease.checksum
  artifacts/rhcosprerelease/testdata/rhcos-latest-prerelease.checksum
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-rhcos

feat: Add force rebuild feature to pipeline-periodic.sh
  pipeline-periodic.sh
Due: none

docs: add setup local registry
  README.md
Due: none

feat: build and push image index
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/docs/docs.go
  cmd/medius/images/common.go
  cmd/medius/images/promote.go
  cmd/medius/images/push.go
  cmd/medius/images/verify.go
  pkg/api/artifact.go
  pkg/build/build.go
  pkg/repository/repository.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

feat: add arm64 artifacts
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

cleanup: Drop labels from containerdisks
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pkg/api/artifact.go
  pkg/build/build.go
  pkg/common/common.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

chore: Bump golangci-lint
  .golangci.yml
  Makefile
  cmd/medius/images/verify.go
Due: none

chore: Add dependabot configuration
  .github/dependabot.yml
Due: none

fix: use OCI image index and manifests
  pkg/build/build.go
Due: none

fix: use Docker image index and manifests
  pkg/build/build.go
Due: none

registry: Bump default instance type env variables
  cmd/medius/common/registry.go
Due: none

registry: Remove CentOS 8.4 and Ubuntu 18.04
  artifacts/centos/centos.go
  artifacts/centos/centos_test.go
  artifacts/centos/testdata/centos8.checksum
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-centos

feat: Add aarch64/arm64 artifacts
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/centosstream/testdata/centos-stream8-aarch64.checksum
  artifacts/centosstream/testdata/centos-stream8-x86_64.checksum
  artifacts/centosstream/testdata/centos-stream9-aarch64.checksum
  artifacts/centosstream/testdata/centos-stream9-x86_64.checksum
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  pkg/architecture/arch.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

fedora: Do not set default instance types on aarch64
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
Due: pull-containerdisks-pipeline-fedora

fedora: Bump default instance type to u1.medium
  artifacts/centos/centos_test.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/ubuntu/ubuntu_test.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu

fedora: Always sort releases before building artifact slices
  artifacts/fedora/fedora.go
Due: pull-containerdisks-pipeline-fedora

fedora: Bump minimumVersion to 38
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
Due: pull-containerdisks-pipeline-fedora

Set containerdisks' entrypoint to "no-entrypoint"
  pkg/build/build.go
Due: none

chore: Bump golang version to 1.22.2
  Makefile
  go.mod
Due: none

chore(deps): Bump k8s.io/apimachinery from 0.29.4 to 0.30.0
  go.mod
  go.sum
  vendor/k8s.io/apimachinery/pkg/api/resource/generated.pb.go
  vendor/k8s.io/apimachinery/pkg/api/validation/OWNERS
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/generated.proto
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/types.go
  vendor/k8s.io/apimachinery/pkg/runtime/generated.pb.go
  vendor/k8s.io/apimachinery/pkg/runtime/helper.go
  vendor/k8s.io/apimachinery/pkg/runtime/schema/generated.pb.go
  vendor/k8s.io/apimachinery/pkg/util/intstr/generated.pb.go
  vendor/k8s.io/apimachinery/pkg/util/managedfields/node.yaml
  vendor/k8s.io/apimachinery/pkg/util/sets/doc.go
  vendor/k8s.io/apimachinery/pkg/util/sets/ordered.go
  vendor/k8s.io/apimachinery/pkg/util/sets/set.go
  vendor/k8s.io/apimachinery/pkg/util/validation/OWNERS
  vendor/k8s.io/apimachinery/pkg/util/validation/validation.go
  vendor/modules.txt
Due: none

cleanup: Cleanup OWNERS file
  OWNERS
Due: none

docs: add supported architectures
  README.md
Due: none

ubuntu: Add 24.04 Noble Numbat
  cmd/medius/common/registry.go
Due: none

chore: Bump kubevirt.io api and client-go to 1.2.1
  cmd/medius/images/verify.go
  go.mod
  go.sum
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/clientset.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/scheme/register.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/async.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/core_client.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/doc.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/generated_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/kubevirt.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/kubevirt_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/streamer.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachine.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachine_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstance.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstance_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstancemigration.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstancemigration_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstancepreset.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstancereplicaset.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/virtualmachineinstancereplicaset_expansion.go
  vendor/kubevirt.io/client-go/generated/kubevirt/clientset/versioned/typed/core/v1/websocket.go
  vendor/kubevirt.io/client-go/kubecli/async.go
  vendor/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  vendor/kubevirt.io/client-go/kubecli/kubevirt.go
  vendor/kubevirt.io/client-go/kubecli/kv.go
  vendor/kubevirt.io/client-go/kubecli/migration.go
  vendor/kubevirt.io/client-go/kubecli/replicaset.go
  vendor/kubevirt.io/client-go/kubecli/vm.go
  vendor/kubevirt.io/client-go/kubecli/vmi.go
  vendor/kubevirt.io/client-go/kubecli/vmipreset.go
  vendor/modules.txt
Due: none

chore: Bump ginkgo and go-restful dependency versions
  Makefile
  go.mod
  go.sum
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/CONTRIBUTING.md
  vendor/github.com/onsi/ginkgo/v2/Makefile
  vendor/github.com/onsi/ginkgo/v2/ginkgo/watch/package_hash.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/table_dsl.go
  vendor/github.com/onsi/ginkgo/v2/types/config.go
  vendor/github.com/onsi/ginkgo/v2/types/label_filter.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Due: none

chore: Bump golangci-lint to v1.57.2
  .golangci.yml
  Makefile
Due: none

chore: Switch from gofmt to gofumpt
  Makefile
  artifacts/centos/centos.go
  artifacts/centosstream/centos-stream_test.go
  cmd/medius/images/common.go
  cmd/medius/images/verify.go
  pkg/build/tar.go
  pkg/build/tar_test.go
  pkg/hashsum/hashsum.go
  pkg/hashsum/hashsum_test.go
  pkg/http/http.go
  pkg/quay/quay.go
  pkg/repository/repository.go
Due: pull-containerdisks-pipeline-centos, pull-containerdisks-pipeline-centosstream

fix(fedora): Add subvariant filter to Fedora gatherer
  artifacts/fedora/fedora.go
Due: pull-containerdisks-pipeline-fedora

fix(fedora): Fix Fedora version parsing
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
Due: pull-containerdisks-pipeline-fedora

OpenSUSE: Introduce Tumbleweed
  README.md
  artifacts/opensuse/tumbleweed/testdata/tumbleweed.SHA256SUM
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  cmd/medius/common/registry.go
Due: none

OpenSUSE: Introduce Leap 15.{5,6}
  README.md
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.5-Minimal-VM.aarch64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.5-Minimal-VM.x86_64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.6-Minimal-VM.aarch64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/openSUSE-Leap-15.6-Minimal-VM.x86_64-Cloud.qcow2.sha256
  cmd/medius/common/registry.go
Due: none

golangci-lint: Bump to v1.59.1 and replace gomnd with mnd
  .golangci.yml
  Makefile
Due: none

Path conditions:
  pull-containerdisks-pipeline-centos: any of: artifacts/centos/.*
  pull-containerdisks-pipeline-centosstream: any of: artifacts/centosstream/.*
  pull-containerdisks-pipeline-fedora: any of: artifacts/fedora/.*
  pull-containerdisks-pipeline-rhcos: any of: artifacts/rhcos/.*|artifacts/rhcosprerelease/.*
  pull-containerdisks-pipeline-ubuntu: any of: artifacts/ubuntu/.*
