Repository kubevirt/containerdisks: changes, and which Prow jobs are due for each by the changed paths.
All: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu, pull-containerdisks-pipeline-opensuse-tumbleweed, pull-containerdisks-pipeline-opensuse-leap

pull-containerdisks-pipeline-centosstream:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: 1.22.6
      - name: FOCUS
  ...

pull-containerdisks-pipeline-fedora:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: 1.22.6
      - name: FOCUS
  ...

pull-containerdisks-pipeline-ubuntu:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: 1.22.6
      - name: FOCUS
  ...

pull-containerdisks-pipeline-opensuse-tumbleweed:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: 1.22.6
      - name: FOCUS
  ...

pull-containerdisks-pipeline-opensuse-leap:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - ./pipeline.sh
      env:
      - name: GIMME_GO_VERSION
        value: 1.22.6
      - name: FOCUS
  ...

feat: Add target architecture as a parameter for verification.
  cmd/medius/common/options.go
  cmd/medius/images/verify.go
Due: none

chore(checksums): Adds support for sha512 checksum
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pkg/api/artifact.go
  pkg/http/http.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu, pull-containerdisks-pipeline-opensuse-tumbleweed, pull-containerdisks-pipeline-opensuse-leap

feat(debian): Add support for Debian containerdisks
  artifacts/debian/debian.go
  artifacts/debian/debian_test.go
  artifacts/debian/testdata/debian-11-genericcloud-amd64.json
  artifacts/debian/testdata/debian-11-genericcloud-arm64.json
  artifacts/debian/testdata/debian-12-genericcloud-amd64.json
  artifacts/debian/testdata/debian-12-genericcloud-arm64.json
  artifacts/debian/testdata/debian-13-genericcloud-amd64-daily.json
  artifacts/debian/testdata/debian-13-genericcloud-arm64-daily.json
  cmd/medius/common/registry.go
Due: none

chore(deps): Bump golang
  Makefile
  go.mod
Due: none

chore(checksums): Adds support for more checksum
  artifacts/centosstream/centos-stream.go
  artifacts/centosstream/centos-stream_test.go
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  artifacts/ubuntu/ubuntu.go
  artifacts/ubuntu/ubuntu_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pkg/api/artifact.go
  pkg/http/http.go
  testutil/mockgetter.go
Due: pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-ubuntu, pull-containerdisks-pipeline-opensuse-tumbleweed, pull-containerdisks-pipeline-opensuse-leap

feat(debian): Add support for Debian containerdisks
  artifacts/debian/debian.go
  artifacts/debian/debian_test.go
  artifacts/debian/testdata/debian-11-genericcloud-amd64.json
  artifacts/debian/testdata/debian-11-genericcloud-arm64.json
  artifacts/debian/testdata/debian-12-genericcloud-amd64.json
  artifacts/debian/testdata/debian-12-genericcloud-arm64.json
  cmd/medius/common/registry.go
Due: none

chore(build): Remove build.sh script
  build.sh
Due: none

chore(debian): Apply `latest` tag to Debian 12
  cmd/medius/common/registry.go
Due: none

chore(debian): Add `debian` preference and instancetype to Debian containerdisk
  artifacts/debian/debian_test.go
  cmd/medius/common/registry.go
Due: none

chore(README): Add debian and improvements
  README.md
Due: none

Add Ubuntu 25.04 to registry.go
  cmd/medius/common/registry.go
Due: none

feat: Skip tests for unsupported architectures
  cmd/medius/images/verify.go
Due: none

ci: periodic pipeline can perform a dry run of the promote step
  pipeline-periodic.sh
Due: none

docs: Prefer to use amd64 artifacts
  cmd/medius/docs/docs.go
Due: none

docs: Add virtctl create examples
  cmd/medius/docs/docs.go
  pkg/docs/data/description.tpl
  pkg/docs/docs.go
Due: none

fix: retry artifacts download
  cmd/medius/images/push.go
Due: none

chore: Bump golangci-lint
  .golangci.yml
  Makefile
  cmd/medius/images/push.go
  pkg/hashsum/hashsum.go
  pkg/quay/quay.go
Due: none

feat(containerdisk): Add Debian 13 containerdisk
  artifacts/debian/debian.go
  artifacts/debian/debian_test.go
  artifacts/debian/testdata/debian-13-genericcloud-amd64.json
  artifacts/debian/testdata/debian-13-genericcloud-arm64.json
  cmd/medius/common/registry.go
Due: none

fix(ci): Drop default KubevirtCI provider
  pipeline.sh
Due: none

add openSUSE Leap 16 handling
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/leap/testdata/Leap-16.0-Minimal-VM.aarch64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/Leap-16.0-Minimal-VM.x86_64-Cloud.qcow2.sha256
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-opensuse-leap

chore(deps): Bump github.com/opencontainers/selinux to v1.13.1
  go.mod
  go.sum
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/COPYING
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/deprecated_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_purego.go
  vendor/modules.txt
Due: none

chore(deps): Bump ginkgo version in Makefile
  Makefile
Due: none

feat: s390x enablement for OpenSUSE Tumbleweed
  README.md
  artifacts/opensuse/tumbleweed/testdata/tumbleweed-s390x.SHA256SUM
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-opensuse-tumbleweed

chore(deps): Bump dependencies
  go.mod
  go.sum
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/huffman_bit_writer.go
  vendor/github.com/klauspost/compress/flate/stateless.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/resource.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/http_config.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/github.com/spf13/cobra/.golangci.yml
  vendor/github.com/spf13/cobra/command.go
  vendor/modules.txt
Due: none

chore(deps): Bump deps
  go.mod
  go.sum
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/COPYING
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/deprecated_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_go119.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_purego.go
  vendor/modules.txt
Due: none

chore(deps): Bump dependecies
  go.mod
  go.sum
  vendor/cyphar.com/go-pathrs/.golangci.yml
  vendor/cyphar.com/go-pathrs/COPYING
  vendor/cyphar.com/go-pathrs/doc.go
  vendor/cyphar.com/go-pathrs/handle_linux.go
  vendor/cyphar.com/go-pathrs/internal/fdutils/fd_linux.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/error_unix.go
  vendor/cyphar.com/go-pathrs/internal/libpathrs/libpathrs_linux.go
  vendor/cyphar.com/go-pathrs/procfs/procfs_linux.go
  vendor/cyphar.com/go-pathrs/root_linux.go
  vendor/cyphar.com/go-pathrs/utils_linux.go
  vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/deprecated_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/README.md
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_go119.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/doc.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/mkdir_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_libpathrs.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/open_purego.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/procfs/procfs_purego.go
  vendor/modules.txt
Due: none

add openSUSE Tumbleweed aarch64
  artifacts/opensuse/tumbleweed/testdata/openSUSE-Tumbleweed-Minimal-VM.aarch64-1.0.0-Cloud-Snapshot20260207.qcow2.sha256
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-opensuse-tumbleweed

ci: bump golangci-lint to v2.10.1
  Makefile
Due: none

Fixing linting issues after changing linter version
  cmd/medius/images/push.go
  pkg/http/http.go
  pkg/quay/quay.go
Due: none

add openSUSE MicroOS images for x86_64 and s390x
  artifacts/opensuse/microos/microos.go
  artifacts/opensuse/microos/microos_test.go
  artifacts/opensuse/microos/testdata/microos-s390x.SHA256SUM
  artifacts/opensuse/microos/testdata/microos.SHA256SUM
  cmd/medius/common/registry.go
Due: none

README.md: add openSUSE MicroOS
  README.md
Due: none

README.md: openSUSE with a lowercase o
  README.md
Due: none

artifacts/opensuse/leap/: openSUSE with a lowercase o
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
Due: pull-containerdisks-pipeline-opensuse-leap

artifacts/opensuse/tumbleweed/: openSUSE with a lowercase o
  artifacts/opensuse/tumbleweed/tumbleweed.go
  artifacts/opensuse/tumbleweed/tumbleweed_test.go
Due: pull-containerdisks-pipeline-opensuse-tumbleweed

Support Fedora prerelease versions in containerdisks
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  artifacts/fedora/testdata/releases.json
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-fedora

Path conditions:
  pull-containerdisks-pipeline-centosstream: any of: artifacts/centosstream/.*
  pull-containerdisks-pipeline-fedora: any of: artifacts/fedora/.*
  pull-containerdisks-pipeline-ubuntu: any of: artifacts/ubuntu/.*
  pull-containerdisks-pipeline-opensuse-tumbleweed: any of: artifacts/opensuse/tumbleweed/.*
  pull-containerdisks-pipeline-opensuse-leap: any of: artifacts/opensuse/leap/.*
