Repository kubevirt/containerdisks: changes, and which Prow jobs are due for each by the changed paths.
All: pull-containerdisks-pipeline-debian, pull-containerdisks-pipeline-centosstream, pull-containerdisks-pipeline-centosstream-s390x, pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-fedora-s390x, pull-containerdisks-pipeline-ubuntu, pull-containerdisks-pipeline-ubuntu-s390x, pull-containerdisks-pipeline-opensuse-tumbleweed, pull-containerdisks-pipeline-opensuse-tumbleweed-s390x, pull-containerdisks-pipeline-opensuse-leap

Path conditions:
  pull-containerdisks-pipeline-debian: any of: artifacts/debian/.*
  pull-containerdisks-pipeline-centosstream: any of: artifacts/centosstream/.*
  pull-containerdisks-pipeline-centosstream-s390x: any of: artifacts/centosstream/.*
  pull-containerdisks-pipeline-fedora: any of: artifacts/fedora/.*
  pull-containerdisks-pipeline-fedora-s390x: any of: artifacts/fedora/.*
  pull-containerdisks-pipeline-ubuntu: any of: artifacts/ubuntu/.*
  pull-containerdisks-pipeline-ubuntu-s390x: any of: artifacts/ubuntu/.*
  pull-containerdisks-pipeline-opensuse-tumbleweed: any of: artifacts/opensuse/tumbleweed/.*
  pull-containerdisks-pipeline-opensuse-tumbleweed-s390x: any of: artifacts/opensuse/tumbleweed/.*
  pull-containerdisks-pipeline-opensuse-leap: any of: artifacts/opensuse/leap/.*

Accept empty checksums for prerelease artifacts
  cmd/medius/images/push.go
Due: none

Use IsPrerelease metadata to decouple stability check from fedora package
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  cmd/medius/common/registry.go
  cmd/medius/images/push.go
  pkg/api/artifact.go
Due: pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-fedora-s390x

Rename IsPrerelease to IsStable in Metadata
  artifacts/fedora/fedora.go
  artifacts/fedora/fedora_test.go
  cmd/medius/common/registry.go
  pkg/api/artifact.go
Due: pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-fedora-s390x

Fix gofmt alignment for IsStable field
  artifacts/fedora/fedora.go
Due: pull-containerdisks-pipeline-fedora, pull-containerdisks-pipeline-fedora-s390x

artifacts/opensuse/microos: Fix user used by cloud-init
  artifacts/opensuse/microos/microos.go
  artifacts/opensuse/microos/microos_test.go
Due: none

feat: add s390x architecture support for OpenSUSE MicroOS
  cmd/medius/common/registry.go
Due: none

docs: add AGENTS.md
  AGENTS.md
Due: none

feat(containerDisk): add opensuse leap 16.0
  artifacts/opensuse/leap/leap.go
  artifacts/opensuse/leap/leap_test.go
  artifacts/opensuse/leap/testdata/Leap-16.0-Minimal-VM.aarch64-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/Leap-16.0-Minimal-VM.s390x-s390x-Cloud.qcow2.sha256
  artifacts/opensuse/leap/testdata/Leap-16.0-Minimal-VM.x86_64-Cloud.qcow2.sha256
  cmd/medius/common/registry.go
Due: pull-containerdisks-pipeline-opensuse-leap

feat(containerDisk): add alma linux 10 and 9
  artifacts/almalinux/almalinux.go
  artifacts/almalinux/almalinux_test.go
  artifacts/almalinux/testdata/almalinux10-aarch64.checksum
  artifacts/almalinux/testdata/almalinux10-s390x.checksum
  artifacts/almalinux/testdata/almalinux10-x86_64.checksum
  artifacts/almalinux/testdata/almalinux9-aarch64.checksum
  artifacts/almalinux/testdata/almalinux9-s390x.checksum
  artifacts/almalinux/testdata/almalinux9-x86_64.checksum
  cmd/medius/common/registry.go
Due: none

add Ubuntu 26.04
  cmd/medius/common/registry.go
Due: none

Fix Typo in README
  README.md
Due: none

feat(ubuntu): Add 26.04 Resolute Raccoon
  cmd/medius/common/registry.go
Due: none

fix(kubevirtci): Update script to include enhancements
  .gitignore
  hack/kubevirtci.sh
Due: none

fix(kubevirtci): Add curl failure flags and quote variable in dir check
  hack/kubevirtci.sh
Due: none

chore(README): Add AlmaLinux to README.md
  README.md
Due: none
