Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

centos10: update the bump automation to handle the centos10 base (#1628)
  hack/bump-centos-version.sh
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

check-cluster-up: enable ExternalNetResourceInjection feature gate
  cluster-up/cluster/kind/check-cluster-up.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

k8s: Enable cpuManagerPolicy static in kubelet drop-in config
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

check-cluster-up: enable ExternalNetResourceInjection feature gate (#1647)
  cluster-up/cluster/kind/check-cluster-up.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli: Make secondary NIC bridges optional via environment variable
  K8S.md
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/node01_test.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-provision/gocli/opts/nodes/testconfig.go
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: none

gocli: Add bridges for secondary NIC interfaces on all nodes
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/testconfig.go
Due: none

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: skip Pod InPlace Resize Container conformance tests on k8s-1.35
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Add bridges for secondary NIC interfaces on all nodes (#1645)
  K8S.md
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/node01_test.go
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: none

Correct docker_prefix and manifest_docker_prefix for KinD provider (#1618)
  cluster-up/cluster/kind/common.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli: Increase default etcd in-memory tmpfs size from 512M to 1G (#1643)
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/gocli/opts/etcd/etcd.go
Due: none

check-cluster-up: validate secondary NIC bridges
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1651)
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Enable autoconnect for secondary NIC bridges
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
Due: none

fix: skip Pod InPlace Resize Container conformance tests on k8s-1.35 (#1652)
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Disable DHCP on secondary NIC bridges to prevent timeouts
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
Due: none

check-cluster-up: Verify secondary NIC bridges are created
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

docs: rootless podman actually works
  PODMAN.md
  cluster-up/README.md
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

rbac: add resourceclaims/driver associated-node verbs for SR-IOV DRA driver
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Run ./hack/bump-cdi.sh
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add automated CRI-O version sync for kubevirtci providers
  Makefile
  hack/sync-crio-versions.sh
  hack/verify-crio-sync.sh
Due: none

fix: replace NBD with loop device to fix alpine-test-tooling job failures
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

nfs-ganesha: Update to actively maintained image
  cluster-provision/gocli/cmd/utils/images.go
Due: none

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add missing fields to local StorageProfile on KinD cluster
  cluster-up/cluster/kind/common.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
