Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

Add kubelet to the replaced binaries for kubernetes pre releases (#1064)
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove --os-type flag from customize-image.sh as it is deprecated (#1065)
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

Enable unprivileged_userfaultfd on centos 9 to support post-copy migrations
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
  cluster-provision/k8s/1.28/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Fix regex escaping in KUBEVIRT_CUSTOM_CDI_VERSION
  cluster-up/cluster/k8s-provider-common.sh
Due: none

Enable unprivileged_userfaultfd on centos 9 to support post-copy migrations (#1066)
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
  cluster-provision/k8s/1.28/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Fix regex escaping in KUBEVIRT_CUSTOM_CDI_VERSION (#1068)
  cluster-up/cluster/k8s-provider-common.sh
Due: none

Upgrade the 1.28 provider to the rc.1
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Upgrade the 1.28 provider to the rc.1 (#1069)
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Upgrade k8s-1.28 provider to stable release 1.28.0
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run ./hack/bump-cdi.sh
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.57.0-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove --short flag from kubectl version for 1.28
  cluster-provision/k8s/1.28/node01.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run ./hack/bump-cdi.sh (#1046)
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-operator.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.57.0-cr.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.57.0-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Upgrade k8s-1.28 provider to stable release 1.28.0 (#1070)
  cluster-provision/k8s/1.28/node01.sh
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind, vgpu: Remove old kind-1.25-vgpu
  cluster-up/cluster/kind-1.25-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.25-vgpu/conformance.json
  cluster-up/cluster/kind-1.25-vgpu/provider.sh
  cluster-up/cluster/kind-1.25-vgpu/vgpu-node/node.sh
Due: none

kind, vgpu: Remove old kind-1.25-vgpu (#1071)
  cluster-up/cluster/kind-1.25-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.25-vgpu/conformance.json
  cluster-up/cluster/kind-1.25-vgpu/provider.sh
  cluster-up/cluster/kind-1.25-vgpu/vgpu-node/node.sh
Due: none

Increase default disk size to avoid node disk pressure
  cluster-provision/centos9/scripts/vm.sh
Due: none

Pin to earlier versions of vmlinuz and initrd.img due to issue with latest
  cluster-provision/centos9/Dockerfile
Due: none

Pin to earlier versions of vmlinuz and initrd.img due to issue with (#1075)
  cluster-provision/centos9/Dockerfile
Due: none

Increase default disk size to avoid node disk pressure (#1072)
  cluster-provision/centos9/scripts/vm.sh
Due: none

Update vm-image-builder image URLs to Fedora 38
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/example/os-variant
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/os-variant
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: publish-fedora-realtime-container-image

Downgrade k8s-1.27 to 1.27.1
  cluster-provision/k8s/1.27/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Downgrade k8s-1.27 to 1.27.1 (#1077)
  cluster-provision/k8s/1.27/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove the pinning of CentOS Stream kernel version
  cluster-provision/centos9/Dockerfile
Due: none

Update CentOS Stream 9 image to 20230821.0
  cluster-provision/centos9/version
Due: none

fedora-with-test-tooling: use bosybox version netcat
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

cluster-up kind: enable the configuration of the ip family
  cluster-up/cluster/kind/common.sh
Due: none

Remove the pinning of CentOS Stream kernel version (#1080)
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/version
Due: none

cluster-up kind: enable the configuration of the ip family (#1082)
  cluster-up/cluster/kind/common.sh
Due: none

Remove files for building CentOS Stream 8 based providers
  K8S.md
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-provision/centos8/Dockerfile
  cluster-provision/centos8/build.sh
  cluster-provision/centos8/scripts/additional.kernel.args
  cluster-provision/centos8/scripts/dnsmasq.sh
  cluster-provision/centos8/scripts/download_box.sh
  cluster-provision/centos8/scripts/kernel.args
  cluster-provision/centos8/scripts/vm.sh
  cluster-provision/centos8/vagrant.key
  cluster-provision/centos8/vagrant.pub
  cluster-provision/centos8/version
  cluster-up/hack/common.sh
  hack/pman/rules.yaml
  publish.sh
Due: none

Tidy up special handling for Stream8 providers from provision script
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fedora-with-test-tooling: use bosybox version netcat (#1081)
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

centos9: Bump version
  cluster-provision/centos9/version
Due: none

centos9: Bump version (#1085)
  cluster-provision/centos9/version
Due: none

centos9: Add missing UDP iptables rule
  cluster-provision/centos9/scripts/vm.sh
Due: none

centos9: Add rpms as we had on centos8
  cluster-provision/centos9/Dockerfile
Due: none
