Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

fix(gocli): add multi-arch binaries to gitignore (#1809)
  .gitignore
  cluster-provision/gocli/docker/BUILD.bazel
Due: none

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1811)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1808)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: add .gitignore for alpine-cloud-init generated files. (#1797)
  cluster-provision/images/vm-image-builder/alpine-cloud-init/.gitignore
Due: none

fix(cluster-provision): sync VM clock on boot to fix s390x GPG failures
  cluster-provision/gocli/cmd/run.go
Due: none

vm based: Support NUMA configuration also for NUMA=1
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
Due: none

sriov: Remove the NUMA coung setting
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

cluster-provision: Remove empty s390x NUMA args
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

cluster-up: Remove kind-sriov provider
  cluster-up/.gitignore
  cluster-up/cluster/kind-sriov/README.md
  cluster-up/cluster/kind-sriov/TROUBLESHOOTING.md
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/conformance.json
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/service.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
  cluster-up/cluster/kind-sriov/sriov-node/configure_vfs.sh
  cluster-up/cluster/kind-sriov/sriov-node/node.sh
  cluster-up/cluster/kind-sriov/sriovdp_setup.sh
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/README.md
  cluster-up/cluster/kind/bump-kind.sh
  cluster-up/cluster/kind/check-cluster-up.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
  hack/bump-net-resources-injector.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

fix(cluster-provision): sync VM clock on boot to fix s390x GPG failures (#1810)
  cluster-provision/gocli/cmd/run.go
Due: none

fix(cluster-provision): get pre-release kube binaries for the node arch
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1813)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based: Support NUMA configuration also for NUMA=1 (#1804)
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

fix(cluster-provision): get pre-release kube binaries for the node arch (#1812)
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1815)
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: build s390x slim images for all k8s provider versions
  publish.sh
Due: none

cluster-up: Remove kind-sriov provider (#1790)
  cluster-up/.gitignore
  cluster-up/cluster/kind-sriov/README.md
  cluster-up/cluster/kind-sriov/TROUBLESHOOTING.md
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/conformance.json
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/service.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
  cluster-up/cluster/kind-sriov/sriov-node/configure_vfs.sh
  cluster-up/cluster/kind-sriov/sriov-node/node.sh
  cluster-up/cluster/kind-sriov/sriovdp_setup.sh
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/README.md
  cluster-up/cluster/kind/bump-kind.sh
  cluster-up/cluster/kind/check-cluster-up.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
  hack/bump-net-resources-injector.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(rook): update to version v1.19.10
  cluster-provision/gocli/opts/rookceph/manifests/0crds.yaml
  cluster-provision/gocli/opts/rookceph/manifests/1common.yaml
  cluster-provision/gocli/opts/rookceph/manifests/cluster-test.yaml
  cluster-provision/gocli/opts/rookceph/manifests/operator.yaml
  cluster-provision/gocli/opts/rookceph/manifests/pool-test.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(rook): update to version v1.19.10 (#1818)
  cluster-provision/gocli/opts/rookceph/manifests/0crds.yaml
  cluster-provision/gocli/opts/rookceph/manifests/1common.yaml
  cluster-provision/gocli/opts/rookceph/manifests/cluster-test.yaml
  cluster-provision/gocli/opts/rookceph/manifests/operator.yaml
  cluster-provision/gocli/opts/rookceph/manifests/pool-test.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1817)
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: build s390x slim images for all k8s provider versions (#1734)
  publish.sh
Due: none

fix(rookceph): update k8s csi external snapshotter manifests to v8.5.0
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  cluster-provision/gocli/opts/rookceph/manifests/setup-snapshot-controller.yaml
  cluster-provision/gocli/opts/rookceph/manifests/snapshotclass.yaml
  cluster-provision/gocli/opts/rookceph/manifests/storageclass-test.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(rookceph): update k8s csi external snapshotter manifests to v8.5.0 (#1819)
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  cluster-provision/gocli/opts/rookceph/manifests/0groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  cluster-provision/gocli/opts/rookceph/manifests/setup-snapshot-controller.yaml
  cluster-provision/gocli/opts/rookceph/manifests/snapshotclass.yaml
  cluster-provision/gocli/opts/rookceph/manifests/storageclass-test.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update prometheus-config-reloader to v0.92.0 in extra-pre-pull-images
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.36/extra-pre-pull-images
  cluster-provision/k8s/1.37/extra-pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Regenerate pre-pull-images for k8s 1.34-1.37
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update manifests README for kube-prometheus v0.18.0
  cluster-provision/gocli/opts/prometheus/manifests/README.md
Due: none

prometheus: split out RoleBindingList and RoleList to individual Role & RoleBinding objects
  cluster-provision/gocli/opts/prometheus/manifests/grafana/grafana-dashboardDefinitions.yaml
  cluster-provision/gocli/opts/prometheus/manifests/grafana/grafana-deployment.yaml
  cluster-provision/gocli/opts/prometheus/manifests/prometheus/prometheus-roleBindingSpecificNamespaces.yaml
  cluster-provision/gocli/opts/prometheus/manifests/prometheus/prometheus-roleSpecificNamespaces.yaml
Due: none

ppc64le: add ppc64le architecture support (VEP-258)
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/images/kubevirt-testing/kernel-boot-container/Dockerfile.ppc64le-guestless-kernel
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/example/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-ppc64le
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.36/provision.sh
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/check.sh
  cluster-up/cluster/ephemeral-provider-common.sh
  hack/publish-alpine.sh
  publish.sh
Due: publish-fedora-realtime-container-image, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore(k8s-1.37): update k8s to version v1.37.0-rc.1
  cluster-provision/k8s/1.37/version
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/k8s-1.37/provider.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli, node bridges: Disable stp
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
Due: none

chore(k8s-1.37): update k8s to version v1.37.0-rc.1 (#1814)
  cluster-provision/k8s/1.37/version
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/k8s-1.37/provider.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(registry.k8s.io): directly pull images from Google registry without CDN
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: pull kubeadm images individually to handle CDN connection failures
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
