Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

centos9: Add missing UDP iptables rule (#1084)
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/vm.sh
Due: none

Remove kind-1.23 provider as no longer required
  cluster-up/cluster/kind-1.23/README.md
  cluster-up/cluster/kind-1.23/provider.sh
Due: none

Remove kind-1.23 provider as no longer required (#1088)
  cluster-up/cluster/kind-1.23/README.md
  cluster-up/cluster/kind-1.23/provider.sh
Due: none

Update to use the new kubernetes community repos
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update to use the new kubernetes community repos (#1079)
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump CentOS Stream 9 version to 20231030.0
  cluster-provision/centos9/version
Due: none

Bump CentOS Stream 9 version to 20231030.0 (#1092)
  cluster-provision/centos9/version
Due: none

Run ./hack/bump-cdi.sh
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.58.0-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.58.0-operator.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.58.0-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: use kind v0.20.0 in kind-1.27
  cluster-up/cluster/kind-1.27/provider.sh
Due: none

kind: use kind v0.20.0 in kind-1.27 (#1097)
  cluster-up/cluster/kind-1.27/provider.sh
Due: none

Run ./hack/bump-cdi.sh (#1096)
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.58.0-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.58.0-operator.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.58.0-cr.yaml
  cluster-provision/k8s/1.28/manifests/cdi-1.58.0-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: update from kind-1.27 to kind-1.28
  cluster-up/cluster/kind-1.28/README.md
  cluster-up/cluster/kind-1.28/provider.sh
Due: none

kind: update from kind-1.27 to kind-1.28 (#1098)
  cluster-up/cluster/kind-1.28/README.md
  cluster-up/cluster/kind-1.28/provider.sh
Due: none

Increase k8s provider number of cpus to 8
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Remove old workaround for pulling coredns image
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/k8s_provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update centos version to latest - 20231204.0
  cluster-provision/centos9/version
Due: none

Remove old workaround for pulling coredns image (#1100)
  cluster-provision/centos9/version
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/k8s_provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Align the cri-o version v1.28.0 with kubernetes version
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump provisioning base image to fedora 39
  cluster-provision/centos9/Dockerfile
Due: none

Remove the local cluster provider as no longer used
  cluster-up/cluster/local/README.md
  cluster-up/cluster/local/provider.sh
  hack/pman/rules.yaml
Due: none

Install nftables on nodes as required by some network tests
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump provisioning base image to fedora 39 (#1101)
  cluster-provision/centos9/Dockerfile
Due: none

Update sonobuoy version to 0.57.1
  cluster-provision/k8s/1.29/conformance.json
  hack/conformance.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump version to v1.29.0-rc.0
  cluster-provision/k8s/1.29/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update 1.29 to rc.2
  cluster-provision/k8s/1.29/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Install nftables on nodes as required by some network tests (#1103)
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove the local cluster provider as no longer used (#1102)
  cluster-up/cluster/local/README.md
  cluster-up/cluster/local/provider.sh
  hack/pman/rules.yaml
Due: none

Align the cri-o version v1.28.0 with kubernetes version (#1078)
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove hardcoding of kubernetes repo version
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove hardcoding of kubernetes repo version (#1105)
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update fedora test VMs from version 35 to 39
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/example/os-variant
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/os-variant
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: publish-fedora-realtime-container-image

Bump NFS CSI to latest released version
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-sc.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump NFS CSI to latest released version (#1108)
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.26-centos9/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.27/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.28/manifests/nfs-csi/csi-nfs-sc.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-controller-rbac.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-controller.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-driverinfo.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-node.yaml
  cluster-provision/k8s/1.29/manifests/nfs-csi/csi-nfs-sc.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update sonobuoy to v0.57.1
  cluster-provision/k8s/1.27/conformance.json
  cluster-provision/k8s/1.28/conformance.json
  cluster-provision/k8s/1.29/conformance.json
  hack/conformance.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update cri-o to 1.29 in the k8s-1.29 provider
  cluster-provision/k8s/1.29/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update cri-o to 1.29 in the k8s-1.29 provider (#1112)
  cluster-provision/k8s/1.29/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update centos stream version to 20240108.0 tag
  cluster-provision/centos9/version
Due: none

Update bump-centos-version.sh for centos stream 9
  hack/bump-centos-version.sh
Due: none

Update centos stream version to 20240108.0 tag (#1113)
  cluster-provision/centos9/version
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
