Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

feat: build vmcli inside the centos9 cluster provisioning Docker image
  cluster-provision/centos9/Dockerfile
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: Introduce SSH package
  cluster-provision/gocli/utils/ssh/key.go
  cluster-provision/gocli/utils/ssh/ssh.go
Due: none

feat: Create DockerAdapter type
  cluster-provision/gocli/docker/adapter.go
Due: none

Automatic bump of CentOS Stream to latest (#1212)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

refactor: Introduce provisionNode and provisionK8sOptions
  cluster-provision/gocli/cmd/run.go
Due: none

feat: Create the config package
  cluster-provision/gocli/cmd/config/nodeconfig.go
Due: none

refactor: Use DockerAdapter in place of docker.Exec
  cluster-provision/gocli/cmd/run.go
Due: none

test: Testing logic for ssh
  cluster-provision/gocli/cmd/cmd_suite_test.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/gocli/utils/mock/mock_ssh.go
Due: none

refactor: Leverage the ssh client in favor of Docker adapter
  cluster-provision/gocli/cmd/run.go
Due: none

vgpu: Remove kind-1.27-vgpu cluster provider as no longer needed
  cluster-up/cluster/kind-1.27-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.27-vgpu/conformance.json
  cluster-up/cluster/kind-1.27-vgpu/image
  cluster-up/cluster/kind-1.27-vgpu/provider.sh
  cluster-up/cluster/kind-1.27-vgpu/version
  cluster-up/cluster/kind-1.27-vgpu/vgpu-node/node.sh
Due: none

script,bump-cnao: Fix script to not include ovs and kubevirt ipam controller
  hack/bump-cnao.sh
Due: none

cnao, provision, Bump k8s-1.28 cnao to v0.94.1
  cluster-provision/k8s/1.28/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.28/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cnao, provision, Bump k8s-1.29 cnao to v0.94.1
  cluster-provision/k8s/1.29/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.29/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cnao, provision, Bump k8s-1.30 cnao to v0.94.1
  cluster-provision/k8s/1.30/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.30/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based: Bump CNAO to 0.94.1 (#1215)
  cluster-provision/k8s/1.28/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.28/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.29/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.29/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.30/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.30/manifests/cnao/operator.yaml
  hack/bump-cnao.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix missing whitespace
  cluster-up/check.sh
Due: none

enable vm-image-builder for s390x. (#1207)
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/example/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-s390x
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: publish-fedora-realtime-container-image

fix missing whitespace (#1216)
  cluster-up/check.sh
Due: none

feat: Introduce SSH package
  cluster-provision/gocli/pkg/libssh/key.pem
  cluster-provision/gocli/pkg/libssh/ssh.go
Due: none

feat: Create the config package
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
Due: none

alpine,image: Use full image name for qemu-user-static image
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

alpine,image: Use full image name for qemu-user-static image (#1218)
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

Automatic bump of CentOS Stream to latest (#1219)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Remove graduated CPUManager FG from kubeadm config
  cluster-up/cluster/kind/common.sh
Due: none

k8s: Remove graduated CPUManager FG from kubelet config
  cluster-provision/k8s/1.28/nodes.sh
  cluster-provision/k8s/1.29/nodes.sh
  cluster-provision/k8s/1.30/nodes.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Revert "Introduce KUBEVIRT_CPU_MANAGER_POLICY"
  cluster-up/cluster/k8s-provider-common.sh
Due: none

k8s: Use KUBEVIRT_CPU_MANAGER_POLICY to enable CPUManager deployment
  cluster-provision/k8s/1.28/nodes.sh
  cluster-provision/k8s/1.29/nodes.sh
  cluster-provision/k8s/1.30/nodes.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: Run etcd commads with sudo
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
Due: none

fix: Run etcd commads with sudo (#1223)
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
Due: none
