Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove in-cluster nfs server in favor of external one
  cluster-provision/gocli/opts/nfscsi/manifests/0nfs-namespace.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/0nfs-service.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/csi-nfs-sc.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/nfs-server.yaml
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.32/extra-pre-pull-images
  cluster-provision/k8s/1.33/extra-pre-pull-images
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/k8s-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1414)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

rookceph: Add endpoint slices to default rook ceph serviceaccount
  cluster-provision/gocli/opts/rookceph/manifests/1common.yaml
Due: none

Remove in-cluster nfs server in favor of external one (#1415)
  cluster-provision/gocli/opts/nfscsi/manifests/0nfs-namespace.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/0nfs-service.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/csi-nfs-sc.yaml
  cluster-provision/gocli/opts/nfscsi/manifests/nfs-server.yaml
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.32/extra-pre-pull-images
  cluster-provision/k8s/1.33/extra-pre-pull-images
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/k8s-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run ./hack/bump-cdi.sh
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
Due: none

add dynamic networks controller test and improve readability
  cluster-provision/gocli/opts/cnao/cnao_test.go
Due: none

rookceph: Add endpoint slices to default rook ceph serviceaccount (#1416)
  cluster-provision/gocli/opts/rookceph/manifests/1common.yaml
Due: none

gocli,ceph: Use a more specific tag v19.2.1-20250202 for the ceph image
  cluster-provision/gocli/opts/rookceph/manifests/cluster-test.yaml
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.32/extra-pre-pull-images
  cluster-provision/k8s/1.33/extra-pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

rook-ceph: Pin rook ceph image to v1.16.6
  cluster-provision/gocli/opts/rookceph/manifests/operator.yaml
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.32/extra-pre-pull-images
  cluster-provision/k8s/1.33/extra-pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

common.sh: assign true to KUBEVIRT_CGROUPV2 by default
  cluster-up/hack/common.sh
Due: none

provider.sh: set cgroup v1 if KUBEVIRT_CGROUPV2 is false
  cluster-up/cluster/k8s-1.30/provider.sh
  cluster-up/cluster/k8s-1.31/provider.sh
  cluster-up/cluster/k8s-1.32/provider.sh
  cluster-up/cluster/k8s-1.33/provider.sh
Due: none

docs: cgroup v1
  cluster-up/cluster/K8S.md
Due: none

Automatic bump of CentOS Stream to latest (#1417)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

istio: Remove Multus settings from the default Istio config
  cluster-provision/gocli/opts/istio/manifests/istio-operator.cr.yaml
Due: none

Fix cgroup v1 support (#1421)
  cluster-up/cluster/K8S.md
  cluster-up/cluster/k8s-1.30/provider.sh
  cluster-up/cluster/k8s-1.31/provider.sh
  cluster-up/cluster/k8s-1.32/provider.sh
  cluster-up/cluster/k8s-1.33/provider.sh
  cluster-up/hack/common.sh
Due: none

swap: prefer fallocate over dd to allocate the file
  cluster-provision/gocli/opts/swap/swap.go
  cluster-provision/gocli/opts/swap/swap_test.go
Due: none

swap: prefer fallocate over dd to allocate the file (#1423)
  cluster-provision/gocli/opts/swap/swap.go
  cluster-provision/gocli/opts/swap/swap_test.go
Due: none

fix: Set multus v3 to be not enabled in the cnao test
  cluster-provision/gocli/opts/cnao/cnao_test.go
Due: none

Print progress after every 10% increment
  cluster-provision/gocli/docker/docker.go
Due: none

Use the same parseAndCheckForError fn for checking error in pull msg
  cluster-provision/gocli/docker/docker.go
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm-image: Upgrade fedora-with-test-tooling to Fedora 39
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: none

vm-images: Update remaining fedora based images to fedora 39
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/example/image-url-arm64
  cluster-provision/images/vm-image-builder/example/os-variant
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-realtime/os-variant
Due: publish-fedora-realtime-container-image

Automatic bump of CentOS Stream to latest (#1426)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster-up: update check for istio configs to check files that are actually copied after
  cluster-up/cluster/k8s-provider-common.sh
Due: none

vm-image: Upgrade fedora-with-test-tooling to Fedora 39 (#1413)
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/example/image-url-arm64
  cluster-provision/images/vm-image-builder/example/os-variant
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-realtime/os-variant
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: publish-fedora-realtime-container-image

cluster-up: update check for istio configs to check files that are actually copied after (#1427)
  cluster-up/cluster/k8s-provider-common.sh
Due: none

feat: enable variable for requiring nested virtualization
  cluster-up/check.sh
  cluster-up/cluster/K8S.md
Due: none

Fix: ensure terminal commands wrap on SSH in KubeVirtCI (#1280)
  hack/common.sh
Due: none

default the dynamic networks controller to be false
  cluster-provision/gocli/cmd/run.go
Due: none

Export CDI upload proxy lowerband port in CI clusters
  PODMAN.md
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/ports.go
  cluster-provision/gocli/cmd/utils/ports.go
  cluster-provision/gocli/containers/dnsmasq.go
Due: none

Revert "vm-image: Upgrade fedora-with-test-tooling to Fedora 39 (#1413)"
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/example/image-url-arm64
  cluster-provision/images/vm-image-builder/example/os-variant
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-realtime/os-variant
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: publish-fedora-realtime-container-image

DNM: force provisioning
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Do chmod in change_permissions() when CRI is Docker
  cluster-up/cluster/k8s-provider-common.sh
Due: none

check-cluster-up: Deploy rook ceph as part of check cluster up test
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
