Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Automatic bump of CentOS Stream to latest (#1547)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos: Update the x86 build to use the centos cloud image over the vagrant image
  K8S.md
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/download_box.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/pkg/libssh/ssh.go
  cluster-provision/k8s/1.32/provision.sh
  cluster-provision/k8s/1.33/provision.sh
  cluster-provision/k8s/1.34/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove nmcli connection edits of eth0 as not needed for the cloud image
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Fix imports for new version of docker module
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/docker/docker.go
Due: none

gocli: fix tests to handle the new user from the cloud image
  cluster-provision/centos9/Dockerfile
  cluster-provision/gocli/opts/node01/testconfig.go
Due: none

centos: Update the x86 build to use the centos cloud image over the vagrant image (#1546)
  K8S.md
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/download_box.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/pkg/libssh/ssh.go
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.32/provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.33/provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Correct kind-1.34 image tag to v1.34.0
  cluster-up/cluster/kind-1.34/image
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Bump kind-1.32 providers to v1.32.8 image
  cluster-up/cluster/kind-1.32-dra/image
  cluster-up/cluster/kind-1.32-dra/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Bump kind-1.33 providers to the v1.33.4 image
  cluster-up/cluster/kind-1.33/image
  cluster-up/cluster/kind-1.33/version
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s-1.35: Add new cluster provider for kubernetes v1.35
  cluster-provision/k8s/1.35/base
  cluster-provision/k8s/1.35/conformance.json
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.35/istio.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.35/manifests/cni.diff
  cluster-provision/k8s/1.35/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.35/manifests/flannel.diff
  cluster-provision/k8s/1.35/manifests/flannel.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/flannel_ipv6.diff
  cluster-provision/k8s/1.35/manifests/knp.diff
  cluster-provision/k8s/1.35/manifests/knp.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/kubeadm.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_flannel.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_flannel_ipv6.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_ipv6.conf
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.35/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.35/manifests/local-volume.yaml
  cluster-provision/k8s/1.35/manifests/nodeports/monitoring.yaml
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.35/version
  cluster-up/cluster/k8s-1.35/provider.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1550)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Image bumps and cleanup (#1549)
  cluster-up/cluster/kind-1.32-dra/image
  cluster-up/cluster/kind-1.32-dra/version
  cluster-up/cluster/kind-1.33/image
  cluster-up/cluster/kind-1.33/version
  cluster-up/cluster/kind-1.34/image
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

sriov: Bump to k8s-1.34
  cluster-up/cluster/kind-sriov/image
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

providers: Make Flannel the default CNI
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-up/hack/common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

providers: Use multus V4 in check-cluster-up
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

add udev to alpine test image
  cluster-provision/images/vm-image-builder/alpine-cloud-init/configure.sh
  cluster-provision/images/vm-image-builder/alpine-cloud-init/packages
Due: none

WIP test s390x image
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.34/manifests/knp.diff
  cluster-provision/k8s/1.34/manifests/knp.do-not-change.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

test latest image
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.34/manifests/knp.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

sriov: Bump to k8s-1.34 (#1552)
  cluster-up/cluster/kind-sriov/image
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

try to use without script
  cluster-provision/gocli/cmd/run.go
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

WIP
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/71-persistent-net-names.rules
  cluster-provision/centos9/scripts/rebuild-initramfs.sh
  cluster-provision/gocli/cmd/run.go
Due: none

k8s-1.35: Add new cluster provider for kubernetes v1.35 (#1551)
  cluster-provision/k8s/1.35/base
  cluster-provision/k8s/1.35/conformance.json
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.35/istio.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.35/manifests/cni.diff
  cluster-provision/k8s/1.35/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.35/manifests/flannel.diff
  cluster-provision/k8s/1.35/manifests/flannel.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/flannel_ipv6.diff
  cluster-provision/k8s/1.35/manifests/knp.diff
  cluster-provision/k8s/1.35/manifests/knp.do-not-change.yaml
  cluster-provision/k8s/1.35/manifests/kubeadm.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_flannel.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_flannel_ipv6.conf
  cluster-provision/k8s/1.35/manifests/kubeadm_ipv6.conf
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.35/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.35/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.35/manifests/local-volume.yaml
  cluster-provision/k8s/1.35/manifests/nodeports/monitoring.yaml
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.35/version
  cluster-up/cluster/k8s-1.35/provider.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster,s390x: Fix boot flow
  cluster-provision/centos9/scripts/vm.sh
Due: none

WIP: try to use ifnames=1
  cluster-provision/centos9/scripts/kernel.args
  cluster-provision/centos9/scripts/kernel.s390x.args
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/testconfig.go
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1558)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

flannel: Increase max pods per node
  cluster-provision/k8s/1.32/manifests/flannel.diff
  cluster-provision/k8s/1.33/manifests/flannel.diff
  cluster-provision/k8s/1.34/manifests/flannel.diff
  cluster-provision/k8s/1.35/manifests/flannel.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based: Bump cni-plugins
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Use kube network policies fixed multiarch s390x
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.34/manifests/knp.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

flannel: Increase max pods per node
  cluster-provision/k8s/1.32/manifests/flannel.diff
  cluster-provision/k8s/1.33/manifests/flannel.diff
  cluster-provision/k8s/1.34/manifests/flannel.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

providers: Make Flannel the default CNI
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-up/hack/common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

flannel: Increase max pods per node (#1557)
  cluster-provision/k8s/1.32/manifests/flannel.diff
  cluster-provision/k8s/1.33/manifests/flannel.diff
  cluster-provision/k8s/1.34/manifests/flannel.diff
  cluster-provision/k8s/1.35/manifests/flannel.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

owners: Remove davidvossel from approvers as no longer involved
  OWNERS_ALIASES
Due: none

owners: Remove davidvossel from approvers as no longer involved (#1562)
  OWNERS_ALIASES
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
