Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

vm based providers: make PCI topology explicit for SR-IOV and extra disks (#1722)
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

fedora-with-test-tooling: bump guest base image to Fedora 44 (#1725)
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: none

fix(alpine-cloud-init): enable optional network backend
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-sriov: Bump kind to 0.32.0 and use k8s 1.36
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS 10 Stream to latest (#1727)
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-sriov: Bump kind to 0.32.0 and use k8s 1.36 (#1728)
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

nfs-server: switch gocli to well maintained NFS image
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/utils/images.go
Due: none

nfs-server: switch gocli to well maintained NFS image (#1730)
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/utils/images.go
Due: none

Add KUBEVIRT_VSOCK_CHILD_NS_MODE option to configure vsock child namespace mode (#1720)
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/vsock/vsock.go
  cluster-provision/gocli/opts/vsock/vsock_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1731)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

emulated SR-IOV: label SR-IOV namespaces as privileged
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
Due: none

Add kind-1.35-vfio-gpu provider with fake PCI
  README.md
  cluster-provision/k8s/1.36/provision.sh
  cluster-up/cluster/k8s-1.36/config_vfio_cluster.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/cluster/vfio-gpu/README.md
  cluster-up/cluster/vfio-gpu/config_vfio_cluster.sh
  cluster-up/cluster/vfio-gpu/fake-iommu/.gitignore
  cluster-up/cluster/vfio-gpu/fake-iommu/Makefile
  cluster-up/cluster/vfio-gpu/fake-iommu/compat.h
  cluster-up/cluster/vfio-gpu/fake-iommu/dkms.conf
  cluster-up/cluster/vfio-gpu/fake-iommu/fake-iommu.c
  cluster-up/cluster/vfio-gpu/fake-pci/.gitignore
  cluster-up/cluster/vfio-gpu/fake-pci/Makefile
  cluster-up/cluster/vfio-gpu/fake-pci/compat.h
  cluster-up/cluster/vfio-gpu/fake-pci/dkms.conf
  cluster-up/cluster/vfio-gpu/fake-pci/fake-pci.c
  cluster-up/cluster/vfio-gpu/setup-fake-pci-host.sh
  cluster-up/cluster/vfio-gpu/setup-host-vfio-pci.sh
  cluster-up/cluster/vfio-gpu/version
  cluster-up/cluster/vfio-gpu/vfio-node/setup_node_vfio.sh
  cluster-up/hack/common.sh
  hack/pman/rules.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Install dra example driver
  cluster-up/cluster/vfio-gpu/install_dra_example_driver.sh
Due: none

feat: build s390x slim images for all k8s provider versions
  publish.sh
Due: none

ci: onboard CodeRabbit and fix golangci-lint violations
  .coderabbit.yaml
  .golangci.yaml
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/provision_manager.go
  cluster-provision/gocli/cmd/provision_manager_test.go
  cluster-provision/gocli/cmd/rm.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/cmd/ssh.go
  cluster-provision/gocli/containers/dnsmasq.go
  cluster-provision/gocli/docker/adapter.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/docker/docker_test.go
  cluster-provision/gocli/images/images.go
  cluster-provision/gocli/opts/bind-vfio/bind-vfio.go
  cluster-provision/gocli/opts/cnao/cnao_test.go
  cluster-provision/gocli/opts/common/bulkapply.go
  cluster-provision/gocli/opts/nfscsi/nfs-csi.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/provision/provision.go
  cluster-provision/gocli/opts/rookceph/ceph_test.go
  cluster-provision/gocli/pkg/k8s/k8s.go
  cluster-provision/gocli/pkg/libssh/ssh.go
Due: none

emulated SR-IOV: label SR-IOV namespaces as privileged (#1732)
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
Due: none

hack: add dra-driver-sriov bump script
  hack/bump-dra-driver-sriov.sh
Due: none

k8s-1.36: Bump patch to consume latest DRA fixes
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

DRA: bump SR-IOV DRA manifests using the bump script
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

DRA: Add required SriovResourcePolicy
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

fedora guest: Add cloud-config tweaks summary doc
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config-tweaks.md
Due: none

gocli: Support topology manager
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

gocli: support reserved system CPU pinning
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

DRA: Create bump script and bump to newest version to support downward API (#1733)
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
  hack/bump-dra-driver-sriov.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Add kind-1.35-vfio-gpu provider with fake PCI and install example dra driver (#1726)
  README.md
  cluster-provision/k8s/1.36/provision.sh
  cluster-up/cluster/k8s-1.36/config_vfio_cluster.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/cluster/vfio-gpu/README.md
  cluster-up/cluster/vfio-gpu/config_vfio_cluster.sh
  cluster-up/cluster/vfio-gpu/fake-iommu/.gitignore
  cluster-up/cluster/vfio-gpu/fake-iommu/Makefile
  cluster-up/cluster/vfio-gpu/fake-iommu/compat.h
  cluster-up/cluster/vfio-gpu/fake-iommu/dkms.conf
  cluster-up/cluster/vfio-gpu/fake-iommu/fake-iommu.c
  cluster-up/cluster/vfio-gpu/fake-pci/.gitignore
  cluster-up/cluster/vfio-gpu/fake-pci/Makefile
  cluster-up/cluster/vfio-gpu/fake-pci/compat.h
  cluster-up/cluster/vfio-gpu/fake-pci/dkms.conf
  cluster-up/cluster/vfio-gpu/fake-pci/fake-pci.c
  cluster-up/cluster/vfio-gpu/install_dra_example_driver.sh
  cluster-up/cluster/vfio-gpu/setup-fake-pci-host.sh
  cluster-up/cluster/vfio-gpu/setup-host-vfio-pci.sh
  cluster-up/cluster/vfio-gpu/version
  cluster-up/cluster/vfio-gpu/vfio-node/setup_node_vfio.sh
  cluster-up/hack/common.sh
  hack/pman/rules.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fedora guest: Add cloud-config tweaks summary doc (#1683)
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config-tweaks.md
Due: none

Add kind-1.36 provider
  cluster-up/cluster/kind-1.36/README.md
  cluster-up/cluster/kind-1.36/conformance.json
  cluster-up/cluster/kind-1.36/image
  cluster-up/cluster/kind-1.36/provider.sh
  cluster-up/cluster/kind-1.36/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Add kind-1.36 provider (#1741)
  cluster-up/cluster/kind-1.36/README.md
  cluster-up/cluster/kind-1.36/conformance.json
  cluster-up/cluster/kind-1.36/image
  cluster-up/cluster/kind-1.36/provider.sh
  cluster-up/cluster/kind-1.36/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Create dra-driver namespace prior with privileges
  cluster-up/cluster/vfio-gpu/install_dra_example_driver.sh
Due: none

Automatic bump of CentOS 10 Stream to latest (#1742)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: add local registry setup for the minikube provider (#1700)
  cluster-up/cluster/minikube/README.md
  cluster-up/cluster/minikube/provider.sh
Due: none

Create dra-driver namespace prior with privileges (#1740)
  cluster-up/cluster/vfio-gpu/install_dra_example_driver.sh
Due: none

alpine-cloud-init: use linux-lts on amd64 for igbvf
  cluster-provision/images/vm-image-builder/alpine-cloud-init/configure.sh
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

k8s-1.35/1.36: gate forced Multus when CNAO enabled
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

k8s-1.35/1.36: raise SR-IOV VF default count to 7
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/sriov-node/configure_vfs.sh
Due: none

fix: use guestfish auto-inspect for centos10 s390x partition layout
  cluster-provision/centos10/Dockerfile
Due: none

k8s, sriov: Rename PF interface to sriov0
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.36/provision.sh
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
