Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

fix: remove hardcoded -serial pty from run.go
  cluster-provision/gocli/cmd/run.go
Due: none

fix: bump centos9 version to 20260714.1 to fix s390x download
  cluster-provision/centos9/version
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1775)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump fedora provisioning base to latest version
  cluster-provision/centos10/Dockerfile
Due: none

centos10: Switch to using the fedora image from fedora registry as base container
  cluster-provision/centos10/Dockerfile
Due: none

docs: add development guide pointers and validation section (#1765)
  CONTRIBUTING.md
Due: none

fix: revert timeout and retry number changes
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
Due: none

fix: revert timeout and retry number changes (#1778)
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
Due: none

centos10: Switch to using the fedora image from fedora registry as base container (#1777)
  cluster-provision/centos10/Dockerfile
Due: none

switch to buildah
  cluster-provision/gocli/Makefile
  publish.sh
Due: none

Cross-build gocli for s390x with multistage
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/build/Dockerfile
  publish.sh
Due: none

Bump network-resources-injector to latest v1.9.0
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump network-resources-injector to latest v1.9.0 (#1779)
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore(cluster-up): update default provider to k8s-1.36
  cluster-up/hack/common.sh
Due: none

chore(cluster-up): update default provider to k8s-1.36 (#1780)
  cluster-up/hack/common.sh
Due: none

Automatic bump of CentOS Stream to latest (#1781)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1782)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli, istio: Bump to 1.30.2
  cluster-provision/gocli/opts/istio/istio.go
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.36/extra-pre-pull-images
  cluster-provision/k8s/1.36/provision.sh
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat(gocli): log resource diagnostics on SSH retry failures
  cluster-provision/gocli/cmd/run.go
Due: none

ci: update golangci-lint Go target to 1.26
  .golangci.yaml
Due: none

gocli, istio: Bump to 1.30.2 (#1757)
  cluster-provision/gocli/opts/istio/istio.go
  cluster-provision/k8s/1.34/extra-pre-pull-images
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.36/extra-pre-pull-images
  cluster-provision/k8s/1.36/provision.sh
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: increase default KUBEVIRT_MEMORY_SIZE to 9216M
  cluster-up/hack/common.sh
Due: none

fix: validate minimum memory size before fake VFIO setup
  cluster-up/cluster/vfio-gpu/config_vfio_cluster.sh
  cluster-up/hack/common.sh
Due: none

fix(gocli): log resource diagnostics on every VM boot, not just failures
  cluster-provision/gocli/cmd/run.go
Due: none

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1785)
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
  cluster-provision/k8s/1.36/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat(gocli): log resource diagnostics on SSH retry failures (#1784)
  cluster-provision/gocli/cmd/run.go
Due: none

fix(cluster-provision): pin qemu runner to fedora 43
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos9/Dockerfile
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(cluster-provision): switch qemu runner to CentOS
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/build.sh
  cluster-provision/centos10/scripts/download_box.sh
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/build.sh
  cluster-provision/centos9/scripts/download_box.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(cluster-provision): switch qemu runner to CentOS (#1788)
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/build.sh
  cluster-provision/centos10/scripts/download_box.sh
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/build.sh
  cluster-provision/centos9/scripts/download_box.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s: Enable cpuManagerPolicy static on control-plane at cluster-up time
  cluster-provision/gocli/opts/node01/node01.go
Due: none

k8s: Update node01 testconfig to expect cpuManagerPolicy SSH command
  cluster-provision/gocli/opts/node01/testconfig.go
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1789)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(cluster-provision): switch qemu runner to Fedora 43
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(cluster-provision): switch qemu runner to Fedora 43 (#1791)
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/k8s/base-image
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
