Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

fix(registry.k8s.io): directly pull images from Google registry without CDN (#1824)
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Revert "fix(registry.k8s.io): directly pull images from Google registry without CDN (#1824)"
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1823)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1827)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: maket target registry configurable via TARGET_REPO
  cluster-provision/gocli/cmd/provision.go
  publish.sh
Due: none

Revert "fix(registry.k8s.io): directly pull images from Google registry without CDN (#1824)" (#1826)
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
  cluster-provision/k8s/1.37/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: validate minimum memory size before fake VFIO setup
  cluster-up/cluster/vfio-gpu/README.md
  cluster-up/cluster/vfio-gpu/config_vfio_cluster.sh
  cluster-up/hack/common.sh
Due: none

check: verify ip6_tables kernel module is loaded
  cluster-up/check.sh
Due: none

fix: increase default KUBEVIRT_MEMORY_SIZE to 9216M
  cluster-up/hack/common.sh
Due: none

gocli, node bridges: Disable stp (#1821)
  cluster-provision/gocli/opts/node01/scripts/setup-bridges.sh
  cluster-provision/gocli/opts/nodes/scripts/setup-bridges.sh
Due: none

chore(k8s-1.37): update k8s to version v1.37.0 GA
  cluster-provision/k8s/1.37/k8s_provision.sh
  cluster-provision/k8s/1.37/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.37/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore(k8s-1.37): update k8s to version v1.37.0 GA (#1828)
  cluster-provision/k8s/1.37/k8s_provision.sh
  cluster-provision/k8s/1.37/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(docker-mirror-proxy): add cluster local registry to no_proxy
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli, net-res-inj: Support readiness probe
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
Due: none

kind-1.37-vgpu: copy current vgpu provider to new kind-1.37-vgpu directory
  cluster-up/cluster/kind-1.37-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.37-vgpu/conformance.json
  cluster-up/cluster/kind-1.37-vgpu/image
  cluster-up/cluster/kind-1.37-vgpu/provider.sh
  cluster-up/cluster/kind-1.37-vgpu/version
  cluster-up/cluster/kind-1.37-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-1.37-vgpu: update to kind version 0.33.0 that supports kubernetes v1.37.0
  cluster-up/cluster/kind-1.37-vgpu/image
  cluster-up/cluster/kind-1.37-vgpu/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1831)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore: remove kind-1.34 cluster provider as no longer needed
  cluster-up/cluster/kind-1.34/README.md
  cluster-up/cluster/kind-1.34/conformance.json
  cluster-up/cluster/kind-1.34/image
  cluster-up/cluster/kind-1.34/provider.sh
  cluster-up/cluster/kind-1.34/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1835)
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-1.37-vgpu: Add new kind vgpu provider that supports latest kubernetes version v1.37.0 (#1832)
  cluster-up/cluster/kind-1.37-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.37-vgpu/conformance.json
  cluster-up/cluster/kind-1.37-vgpu/image
  cluster-up/cluster/kind-1.37-vgpu/provider.sh
  cluster-up/cluster/kind-1.37-vgpu/version
  cluster-up/cluster/kind-1.37-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

chore: remove kind-1.34 cluster provider as no longer needed (#1833)
  cluster-up/cluster/kind-1.34/README.md
  cluster-up/cluster/kind-1.34/conformance.json
  cluster-up/cluster/kind-1.34/image
  cluster-up/cluster/kind-1.34/provider.sh
  cluster-up/cluster/kind-1.34/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

fix(docker-mirror-proxy): add cluster local registry to no_proxy (#1830)
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

chore: remove old kind-1.35-vgpu that is no longer needed
  cluster-up/cluster/kind-1.35-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.35-vgpu/conformance.json
  cluster-up/cluster/kind-1.35-vgpu/image
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/version
  cluster-up/cluster/kind-1.35-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

chore: remove old kind-1.35-vgpu that is no longer needed (#1836)
  cluster-up/cluster/kind-1.35-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.35-vgpu/conformance.json
  cluster-up/cluster/kind-1.35-vgpu/image
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/version
  cluster-up/cluster/kind-1.35-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Run ./hack/bump-cdi.sh
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: make target registry configurable via TARGET_REPO
  cluster-provision/gocli/cmd/provision.go
  publish.sh
Due: none

check: verify ip6_tables when IPv6 is enabled
  cluster-up/check.sh
Due: none

Run ./hack/bump-cdi.sh (#1837)
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
  cluster-provision/k8s/1.37/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: make target registry configurable via TARGET_REPO (#1798)
  cluster-provision/gocli/cmd/provision.go
  publish.sh
Due: none

Automatic bump of CentOS Stream to latest (#1838)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1840)
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat(cluster-up): add kind-1.37 provider
  cluster-up/cluster/kind-1.37/README.md
  cluster-up/cluster/kind-1.37/conformance.json
  cluster-up/cluster/kind-1.37/image
  cluster-up/cluster/kind-1.37/provider.sh
  cluster-up/cluster/kind-1.37/version
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

feat(cluster-up): add kind-1.37 provider (#1841)
  cluster-up/cluster/kind-1.37/README.md
  cluster-up/cluster/kind-1.37/conformance.json
  cluster-up/cluster/kind-1.37/image
  cluster-up/cluster/kind-1.37/provider.sh
  cluster-up/cluster/kind-1.37/version
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
