Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
        make cluster-up
  
        '
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

kind-1.30-vgpu: Add retry to the creation of the kind cluster (#1275)
  cluster-up/cluster/kind/common.sh
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1279)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

use systemd as the cgroup driver for CRI-O and kubelet
  cluster-provision/gocli/opts/node01/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/testconfig.go
  cluster-provision/k8s/1.31/node01.sh
  cluster-provision/k8s/1.31/nodes.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

virtctl.sh: add deprecation warning and parent dir fallback (#1278)
  cluster-up/virtctl.sh
Due: none

vgpu: Remove kind-1.27-vgpu cluster provider as no longer needed (#1214)
  cluster-up/cluster/kind-1.27-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.27-vgpu/conformance.json
  cluster-up/cluster/kind-1.27-vgpu/image
  cluster-up/cluster/kind-1.27-vgpu/provider.sh
  cluster-up/cluster/kind-1.27-vgpu/version
  cluster-up/cluster/kind-1.27-vgpu/vgpu-node/node.sh
Due: none

whereabouts: Update bump script for new location of manifest
  hack/bump-whereabouts.sh
Due: none

whereabouts: bump to latest release v0.8.0
  cluster-provision/gocli/opts/cnao/manifests/whereabouts.yaml
Due: none

feature: Add option to skip deploying the custom resource in CNAO
  cluster-provision/gocli/opts/cnao/cnao.go
  cluster-provision/gocli/opts/cnao/cnao_test.go
Due: none

feature: Add CNAO custom resource skipping field in the node k8s config
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
Due: none

feature: Add CR skipping flag to run.go and pass it to the CNAO opt constructor
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

kind: provider scripts consider KUBEVIRTCI_PATH
  cluster-up/cluster/kind-1.28/provider.sh
  cluster-up/cluster/kind-1.30-vgpu/provider.sh
  cluster-up/cluster/kind-ovn/provider.sh
  cluster-up/cluster/kind-sriov/provider.sh
Due: check-up-kind-ovn

whereabouts: Remove arch from whereabouts image tag
  cluster-provision/gocli/opts/cnao/manifests/whereabouts.yaml
  hack/kustomization/whereabouts/kustomization.yaml
Due: none

Skip CNAO CR (#1283)
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/cnao/cnao.go
  cluster-provision/gocli/opts/cnao/cnao_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

feat: Bumped calico cni version from v3.18.0 to v3.27.2
  cluster-provision/k8s/1.29/extra-pre-pull-images
  cluster-provision/k8s/1.29/manifests/cni.diff
  cluster-provision/k8s/1.29/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.29/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.30/manifests/cni.diff
  cluster-provision/k8s/1.30/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.30/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.31/manifests/cni.diff
  cluster-provision/k8s/1.31/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.31/manifests/cni_ipv6.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

use systemd as the cgroup driver for CRI-O and kubelet (#1271)
  cluster-provision/gocli/opts/node01/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/testconfig.go
  cluster-provision/k8s/1.31/node01.sh
  cluster-provision/k8s/1.31/nodes.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

whereabouts: bump to latest release v0.8.0 (#1282)
  cluster-provision/gocli/opts/cnao/manifests/whereabouts.yaml
  hack/bump-whereabouts.sh
  hack/kustomization/whereabouts/kustomization.yaml
Due: none

feat: Bumped local-volume-provisioner container image from 2.3.2 to 2.5.0
  cluster-provision/k8s/1.29/manifests/local-volume.yaml
  cluster-provision/k8s/1.30/manifests/local-volume.yaml
  cluster-provision/k8s/1.31/manifests/local-volume.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-1.28: add conformance.json
  cluster-up/cluster/kind-1.28/conformance.json
Due: none

feat: Bumped local-volume-provisioner container image from 2.3.2 to 2.5.0 (#1285)
  cluster-provision/k8s/1.29/manifests/local-volume.yaml
  cluster-provision/k8s/1.30/manifests/local-volume.yaml
  cluster-provision/k8s/1.31/manifests/local-volume.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: Bumped calico cni version from v3.18.0 to v3.27.2 (#1281)
  cluster-provision/k8s/1.29/extra-pre-pull-images
  cluster-provision/k8s/1.29/manifests/cni.diff
  cluster-provision/k8s/1.29/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.29/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.30/extra-pre-pull-images
  cluster-provision/k8s/1.30/manifests/cni.diff
  cluster-provision/k8s/1.30/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.30/manifests/cni_ipv6.diff
  cluster-provision/k8s/1.31/extra-pre-pull-images
  cluster-provision/k8s/1.31/manifests/cni.diff
  cluster-provision/k8s/1.31/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.31/manifests/cni_ipv6.diff
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

test: Fix unit tests to reflect latest changes
  cluster-provision/gocli/opts/node01/node01_test.go
  cluster-provision/gocli/opts/nodes/testconfig.go
Due: none

fix: Fix naming clash in docker test
  cluster-provision/gocli/docker/docker_test.go
Due: none

test: Configure Makefile to run all tests in the gocli
  cluster-provision/gocli/Makefile
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: provider scripts consider KUBEVIRTCI_PATH (#1284)
  cluster-up/cluster/kind-1.28/provider.sh
  cluster-up/cluster/kind-1.30-vgpu/provider.sh
  cluster-up/cluster/kind-ovn/provider.sh
  cluster-up/cluster/kind-sriov/provider.sh
Due: check-up-kind-ovn

Automatic bump of CentOS Stream to latest (#1288)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: Updated Centos9 Dockerfile and its CMD script to support s390x arch
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/build.sh
  cluster-provision/centos9/scripts/download_box.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

feat: Added s390x default kernel args
  cluster-provision/centos9/scripts/kernel.s390x.args
Due: none

feat: gocli and its Dockerfile changes to support s390x
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/cmd/utils/images.go
  cluster-provision/gocli/cmd/utils/utils.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/pkg/libssh/ssh.go
Due: none

bug: Skip CDI deployment by default when make cluster-up is issued on slim provider
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

feat: K8S 1.30 provider provisioning script changes to support s390x
  cluster-provision/k8s/1.30/k8s_provision.sh
  cluster-provision/k8s/1.30/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: Publish multiarch manifests for provider related container images
  publish.sh
Due: none

feat: Updated cluster-up/check.sh for s390x special checks
  cluster-up/check.sh
Due: none

refactor: Rewrite provision.go to use the KubevirtProvider
  cluster-provision/gocli/cmd/provision.go
Due: none

refactor: Rewrite run.go to use the KubevirtProvider
  cluster-provision/gocli/cmd/run.go
Due: none

feat/refactor: Introduce the KubevirtProvider type
  cluster-provision/gocli/providers/base_provider.go
  cluster-provision/gocli/providers/opts.go
  cluster-provision/gocli/providers/provision.go
  cluster-provision/gocli/providers/start.go
  cluster-provision/gocli/providers/types.go
Due: none

refactor: Delete the nodesconfig package
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
Due: none

testing: Move testing logic to the providers package
  cluster-provision/gocli/providers/base_provider_suite_test.go
  cluster-provision/gocli/providers/base_provider_test.go
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
