Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

kind-dra: Handle DRA deadlock
  cluster-up/cluster/kind-dra/image
  cluster-up/cluster/kind-dra/kind.yaml
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-dra/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-1.34: Bump version
  cluster-up/cluster/kind-1.34/image
  cluster-up/cluster/kind-1.34/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

publish,alpine: Add separate publish script for the alpine-with-test-tooling image
  hack/publish-alpine.sh
Due: none

publish: remove alpine-with-test-tooling image from the main publish flow
  publish.sh
Due: none

publish,alpine: Add exit if podman or docker not available
  hack/publish-alpine.sh
Due: none

chore: update gocli base alpine image to latest
  cluster-provision/gocli/build/Dockerfile
Due: none

publish,alpine: use CRI_BIN variable to push resulting alpine images
  hack/publish-alpine.sh
Due: none

fedora image: Add NetworkManager-config-server
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1602)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

enable s390x support for alpine-test-tooling.
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/alpine-cloud-init/packages
  cluster-provision/images/vm-image-builder/common.sh
  publish.sh
Due: none

Create Dockerfile.s390x-guestless-kernel
  cluster-provision/images/kubevirt-testing/kernel-boot-container/Dockerfile.s390x-guestless-kernel
Due: none

Removed deprecated default API value
  cluster-provision/gocli/cmd/root.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Automatic bump of CentOS Stream to latest (#1605)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Handle DRA deadlock
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-1.32-dra: Rename folder
  cluster-up/cluster/kind-dra/README.md
  cluster-up/cluster/kind-dra/conformance.json
  cluster-up/cluster/kind-dra/image
  cluster-up/cluster/kind-dra/kind.yaml
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-dra/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Fix DRA deadlock (#1595)
  cluster-up/cluster/kind-1.32-dra/image
  cluster-up/cluster/kind-1.32-dra/version
  cluster-up/cluster/kind-dra/README.md
  cluster-up/cluster/kind-dra/conformance.json
  cluster-up/cluster/kind-dra/image
  cluster-up/cluster/kind-dra/kind.yaml
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-dra/version
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

OWNERS: add myself as approver for kubevirtci
  OWNERS_ALIASES
Due: none

OWNERS: add myself as approver for kubevirtci (#1606)
  OWNERS_ALIASES
Due: none

Removed deprecated default API value (#1604)
  cluster-provision/gocli/cmd/root.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Automatic bump of CentOS Stream to latest (#1608)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Deploy network-resources-injector
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nri/manifests/auth.yaml
  cluster-provision/gocli/opts/nri/manifests/server.yaml
  cluster-provision/gocli/opts/nri/manifests/service.yaml
  cluster-provision/gocli/opts/nri/nri.go
  cluster-provision/gocli/opts/nri/nri_test.go
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Introduce yaml apply func
  cluster-provision/gocli/opts/common/bulkapply.go
Due: none

pre-pull-images: 1.32 - 1.35
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore: update gocli base alpine image to latest (#1599)
  cluster-provision/gocli/build/Dockerfile
Due: none

gocli: Deploy network-resources-injector (#1607)
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/common/bulkapply.go
  cluster-provision/gocli/opts/nri/manifests/auth.yaml
  cluster-provision/gocli/opts/nri/manifests/server.yaml
  cluster-provision/gocli/opts/nri/manifests/service.yaml
  cluster-provision/gocli/opts/nri/nri.go
  cluster-provision/gocli/opts/nri/nri_test.go
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos: Add option to allow provisioning with a Centos Stream 10 base (#1591)
  cluster-provision/README.md
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/build.sh
  cluster-provision/centos10/scripts/additional.kernel.args
  cluster-provision/centos10/scripts/dnsmasq.sh
  cluster-provision/centos10/scripts/download_box.sh
  cluster-provision/centos10/scripts/kernel.args
  cluster-provision/centos10/scripts/kernel.s390x.args
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos10/vagrant.key
  cluster-provision/centos10/vagrant.pub
  cluster-provision/centos10/version
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.32/provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.33/provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/base-image-centos10
  cluster-provision/k8s/provision.sh
  hack/pman/rules.yaml
  publish.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Move overlayfs workaround to containerdConfigPatches
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Create Dockerfile.s390x-guestless-kernel (#1589)
  cluster-provision/images/kubevirt-testing/kernel-boot-container/Dockerfile.s390x-guestless-kernel
Due: none

enable s390x support for alpine-test-tooling. (#1587)
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/alpine-cloud-init/packages
  cluster-provision/images/vm-image-builder/common.sh
  publish.sh
Due: none

kind: Move overlayfs workaround to containerdConfigPatches (#1612)
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli: Rename NRI -> Network Resources Injector
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/network_resources_injector/manifests/auth.yaml
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
  cluster-provision/gocli/opts/network_resources_injector/manifests/service.yaml
  cluster-provision/gocli/opts/network_resources_injector/network_resources_injector.go
  cluster-provision/gocli/opts/network_resources_injector/network_resources_injector_test.go
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: alpine container disk image publish
  publish.sh
Due: none

gocli: Rename NRI -> Network Resources Injector (#1610)
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/network_resources_injector/manifests/auth.yaml
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
  cluster-provision/gocli/opts/network_resources_injector/manifests/service.yaml
  cluster-provision/gocli/opts/network_resources_injector/network_resources_injector.go
  cluster-provision/gocli/opts/network_resources_injector/network_resources_injector_test.go
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: alpine container disk image publish (#1613)
  publish.sh
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
