Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

cluster kind: add kind-1.27 (#1027)
  cluster-up/cluster/kind-1.27/README.md
  cluster-up/cluster/kind-1.27/provider.sh
Due: none

Fix duplicate mount error during provisioning
  cluster-provision/gocli/cmd/provision.go
Due: none

Fix duplicate mount error during provisioning (#1032)
  cluster-provision/gocli/cmd/provision.go
Due: none

pman: Update info about BYPASS_PMAN_CHANGE_CHECK
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Provide usbs into VMs
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
Due: none

pman: Update info about BYPASS_PMAN_CHANGE_CHECK (#1030)
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump provisioning image to fedora 38 (#1024)
  cluster-provision/centos8/Dockerfile
  cluster-provision/centos9/Dockerfile
Due: none

Provide usbs into VMs (#996)
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
Due: none

centos9: drop elevator kernel command-line
  cluster-provision/centos9/scripts/kernel.args
Due: none

centos9: drop elevator kernel command-line (#1034)
  cluster-provision/centos9/scripts/kernel.args
Due: none

provision: enable vm-image-builder to build Arm64 images
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/customize-image.sh
  cluster-provision/images/vm-image-builder/example/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/publish-containerdisk.sh
Due: publish-fedora-realtime-container-image

provision: formatting create-containerdisk.sh
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
Due: none

provision: Add publish-multiarch-containerdisk.sh
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: none

provision: add publish-multiarch-containerdisk.sh explanation in README.md
  cluster-provision/images/vm-image-builder/README.md
Due: none

provision: use skopeo to upload image in publish-multiarch-containerdisk.sh
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: none

provision: format the CPU arch name
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/customize-image.sh
  cluster-provision/images/vm-image-builder/publish-containerdisk.sh
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: none

provision: Amend the README.md for go-style Architecture name
  cluster-provision/images/vm-image-builder/README.md
Due: none

provision: revise the logic to support additional architectures
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
Due: none

provision: disable build of alpine-cloud-init for non-x86 arch
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

Allow deploying custom CDI version
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/hack/common.sh
Due: none

Allow deploying custom CDI version (#1033)
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/hack/common.sh
Due: none

enable vm-image-builder to build Arm64 images (#732)
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/customize-image.sh
  cluster-provision/images/vm-image-builder/example/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-kubeadm/os-variant
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/publish-containerdisk.sh
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: publish-fedora-realtime-container-image

remove PSA booleans since its always enabled
  cluster-provision/gocli/cmd/run.go
  cluster-provision/k8s/1.25/k8s_provision.sh
  cluster-provision/k8s/1.25/psa.sh
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.26-centos9/psa.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
  cluster-provision/k8s/1.27/psa.sh
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s-1.2[6,7]: Bump Isito to 1.18.0
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

provision: add debug option for virt-install
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

provision: use true/false to setup console in vm-image-builder
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

provision: add debug option for virt-install (#1038)
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

provision: print debug information when cleanup in vm-image-builder
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

update PSA default policy
  cluster-provision/k8s/1.25/k8s_provision.sh
  cluster-provision/k8s/1.26-centos9/k8s_provision.sh
  cluster-provision/k8s/1.27/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

provision: print debug information when cleanup in vm-image-builder (#1039)
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

kind-sriov: gracefully detach nics
  cluster-up/cluster/kind/common.sh
Due: none

Manually bump CDI to v1.57.0-rc1
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-rc1-operator.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-rc1-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-rc1-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Manually bump CDI to v1.57.0-rc1 (#1044)
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.25/manifests/cdi-1.57.0-rc1-operator.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cdi-1.57.0-rc1-operator.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-rc1-cr.yaml
  cluster-provision/k8s/1.27/manifests/cdi-1.57.0-rc1-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based providers: Remove kubernetes-cni
  cluster-provision/k8s/1.25/provision.sh
  cluster-provision/k8s/1.26-centos9/provision.sh
  cluster-provision/k8s/1.27/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cnao, provision, Bump k8s-1.26-centos9 cnao to v0.87.0
  cluster-provision/k8s/1.26-centos9/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cnao, provision, Bump k8s-1.27 cnao to v0.87.0
  cluster-provision/k8s/1.27/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.27/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.27/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cnao, provision, Bump k8s-1.25 cnao to v0.87.0
  cluster-provision/k8s/1.25/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.25/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.25/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based providers: Allow using custom images URL
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

kind-sriov: gracefully detach nics (#1040)
  cluster-up/cluster/kind/common.sh
Due: none

vm based providers: Allow using custom images URL (#1042)
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
