Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

Bump fedora provisioning base to latest version (#1583)
  cluster-provision/centos9/Dockerfile
Due: none

k8s-1.35: update to the rc.1 release for kubernetes v1.35.0
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

re enable alpine_test_tooling_container_disk publish
  publish.sh
Due: none

enable s390x support for alpine-test-tooling.
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/alpine-cloud-init/packages
  cluster-provision/images/vm-image-builder/common.sh
  publish.sh
Due: none

Run ./hack/bump-cdi.sh
  cluster-provision/gocli/opts/cdi/manifests/cdi-cr.yaml
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1584)
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run ./hack/bump-cdi.sh (#1586)
  cluster-provision/gocli/opts/cdi/manifests/cdi-cr.yaml
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s-1.35: update to the rc.1 release for kubernetes v1.35.0 (#1576)
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1588)
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: use detect_cri instead of hard-coded docker binary
  cluster-provision/centos9/build.sh
  cluster-provision/images/kubevirt-testing/build.sh
  cluster-provision/images/kubevirt-testing/publish.sh
  cluster-provision/k8s/validate-manifest-pull-policies.sh
  cluster-provision/k8s/validate-pod-pull-policies.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos: Create centos10 directory for centos stream 10
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/build.sh
  cluster-provision/centos10/scripts/additional.kernel.args
  cluster-provision/centos10/scripts/dnsmasq.sh
  cluster-provision/centos10/scripts/download_box.sh
  cluster-provision/centos10/scripts/kernel.args
  cluster-provision/centos10/scripts/kernel.s390x.args
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos10/vagrant.key
  cluster-provision/centos10/vagrant.pub
  cluster-provision/centos10/version
Due: none

centos: Make centos stream 10 specific updates to build files
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/build.sh
  cluster-provision/centos10/version
Due: none

provision: Update provision.sh to be able to handle stream 9 or stream10
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos10: Allow for centos stream 10 in k8s_provision.sh OS check
  cluster-provision/k8s/1.32/k8s_provision.sh
  cluster-provision/k8s/1.33/k8s_provision.sh
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish: update publish.sh to handle different centos stream versions
  publish.sh
Due: none

provision: Add support for specifying a centos stream base image as part of provisioning
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/k8s/base-image-centos10
  publish.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish: add handling for centos stream 10 to multiarch publish
  publish.sh
Due: none

README: Add some examples of how to provision with stream 10
  cluster-provision/README.md
Due: none

centos10: update kernel args to use second partition as root
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/scripts/kernel.args
Due: none

gocli: update provision to handle multiple centos versions
  cluster-provision/gocli/cmd/provision.go
Due: none

centos10: update provider provision scripts to grow the second partition
  cluster-provision/k8s/1.32/provision.sh
  cluster-provision/k8s/1.33/provision.sh
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos: Switch to using the fedora image from fedora registry as base container
  cluster-provision/centos9/Dockerfile
Due: none

kind-sriov: Allow to use DRA (#1572)
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

chore(docker): set client min version to 1.44
  cluster-provision/gocli/cmd/root.go
Due: none

chore(centos10): add provision-manager rule
  hack/pman/rules.yaml
Due: none

centos: Switch to using the fedora image from fedora registry as base container (#1593)
  cluster-provision/centos9/Dockerfile
Due: none

centos10: add rule for centos 10 to provision manager
  hack/pman/rules.yaml
Due: none

re enable alpine_test_tooling_container_disk publish (#1585)
  publish.sh
Due: none

kind: Handle DRA deadlock
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-1.32-dra: Rename folder
  cluster-up/cluster/kind-dra/README.md
  cluster-up/cluster/kind-dra/conformance.json
  cluster-up/cluster/kind-dra/image
  cluster-up/cluster/kind-dra/kind.yaml
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-dra/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli,provision: default to stream 9 when PROVISION_CENTOS_VERSION is not set
  cluster-provision/gocli/cmd/provision.go
Due: none

kind-1.35-vgpu: Create directory for new provider
  cluster-up/cluster/kind-1.35-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.35-vgpu/conformance.json
  cluster-up/cluster/kind-1.35-vgpu/image
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/version
  cluster-up/cluster/kind-1.35-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-1.35-vgpu: update kind version and image to support kubernetes v1.35
  cluster-up/cluster/kind-1.35-vgpu/image
  cluster-up/cluster/kind-1.35-vgpu/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1597)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
