Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

gocli/swap: Update tests for configurable swap behavior
  cluster-provision/gocli/opts/swap/swap_test.go
Due: none

gocli: Remove --unlimited-swap flag and related code
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1630)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Correct manifest_docker_prefix for external provider
  cluster-up/cluster/external/provider.sh
Due: none

vm based providers: Support SR-IOV emulated PF
  cluster-provision/centos9/scripts/dnsmasq.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

Add sriov configuration scripts
  cluster-up/cluster/k8s-1.34/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.34/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.34/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.34/sriov-node/configure_vfs.sh
Due: none

k8s-1.35: Add SR-IOV configuration scripts
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
Due: none

k8s-1.35: Use custom DRA driver image with pods RBAC fix
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
Due: none

Remove GOSUMDB=off from Makefiles
  cluster-provision/gocli/Makefile
  cluster-provision/tools/Makefile
Due: none

k8s-1.35: Bump CRI-O version to 1.35
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1633)
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Correct manifest_docker_prefix for external provider (#1632)
  cluster-up/cluster/external/provider.sh
Due: none

centos10: fix provisioning by bumping to a more recent version that is available
  cluster-provision/centos10/version
Due: none

publish,alpine: Add separate publish script for the alpine-with-test-tooling image
  hack/publish-alpine.sh
  publish.sh
Due: none

k8s-1.35: Copy SR-IOV configuration from kind-sriov
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
Due: none

k8s-1.35: Adapt SR-IOV scripts for VM-based provider
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
Due: none

k8s-1.35: Bump CRI-O version to 1.35
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s-1.35: Add missing pre-pull images
  cluster-provision/k8s/1.35/extra-pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos10: fix provisioning by bumping to a more recent version that is available (#1635)
  cluster-provision/centos10/version
Due: none

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Replace the removed `UnlimitedSwap` with configurable swap behavior (#1627)
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/swap/swap.go
  cluster-provision/gocli/opts/swap/swap_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: none

k8s-1.35: Bump CRI-O version to 1.35 (#1637)
  cluster-provision/k8s/1.35/extra-pre-pull-images
  cluster-provision/k8s/1.35/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1639)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove standard SC deletion from kind-1.35/provider.sh
  cluster-up/cluster/kind-1.35/provider.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Remove standard SC deletion from kind-1.35/provider.sh (#1642)
  cluster-up/cluster/kind-1.35/provider.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

gocli: Increase default etcd in-memory tmpfs size from 512M to 1G
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
  cluster-provision/gocli/opts/etcd/etcd.go
Due: none

publish,alpine: Add separate publish script for the alpine-with-test-tooling image (#1636)
  hack/publish-alpine.sh
  publish.sh
Due: none

Automatic bump of CentOS Stream to latest (#1644)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
