Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Add container stop to ensure it stops after shutdown
  cluster-provision/gocli/cmd/provision.go
Due: none

Update github.com/docker/docker to 20.10.24+incompatible in gocli
  cluster-provision/gocli/go.mod
  cluster-provision/gocli/go.sum
Due: none

Revert "vm based providers: Allow using custom images URL (#1042)"
  KUBEVIRTCI_LOCAL_TESTING.md
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Improve err msg on cluster image pull
  cluster-provision/gocli/cmd/run.go
Due: none

vm based providers: Fix script
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Fix regex in KUBEVIRT_CUSTOM_CDI_VERSION
  cluster-up/cluster/k8s-provider-common.sh
Due: none

cnao, provision: Bump vm based providers CNAO to v0.87.0 (#1047)
  cluster-provision/k8s/1.25/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.25/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.25/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.26-centos9/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.27/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.27/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.27/manifests/cnao/operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Fix regex in KUBEVIRT_CUSTOM_CDI_VERSION (#1055)
  cluster-up/cluster/k8s-provider-common.sh
Due: none

Add telnet monitor to virtual machine
  cluster-provision/centos9/scripts/vm.sh
Due: none

vm based providers: Fix script (#1054)
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

test img, fedora: add iperf3 tool
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

test img, fedora: add iperf3 tool (#1057)
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

kind, SR-IOV: Arrange to functions
  cluster-up/cluster/kind-1.27-sriov/provider.sh
Due: none

Update github.com/opencontainers/runc to 1.1.5 in gocli
  cluster-provision/gocli/go.mod
  cluster-provision/gocli/go.sum
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/lookup_unix.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/user_fuzzer.go
  cluster-provision/gocli/vendor/modules.txt
Due: none

Update k8s version to 1.28.0-alpha.4
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove advanced auditing feature gate as no longer needed
  cluster-provision/k8s/1.28/manifests/kubeadm.conf
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add k8s-1.28 to cluster-up
  cluster-up/cluster/k8s-1.28/provider.sh
Due: none

Improve err msg on cluster image pull (#1052)
  cluster-provision/gocli/cmd/run.go
Due: none

Remove AdvanceAuditing feature gate from kubeadm_ipv6.conf
  cluster-provision/k8s/1.28/manifests/kubeadm_ipv6.conf
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind, SR-IOV: Arrange to functions (#1043)
  cluster-up/cluster/kind-1.27-sriov/provider.sh
Due: none

check-cluster-up: adjust seccomp profile for conformance tests
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update github.com/opencontainers/runc to 1.1.5 in gocli (#1058)
  cluster-provision/gocli/go.mod
  cluster-provision/gocli/go.sum
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  cluster-provision/gocli/vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/lookup_unix.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  cluster-provision/gocli/vendor/github.com/opencontainers/runc/libcontainer/user/user_fuzzer.go
  cluster-provision/gocli/vendor/modules.txt
Due: none

Upgrade 1.28 provider to beta v1.28.0-beta.0
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

pman: Update rules.yaml with k8s-1.28
  hack/pman/rules.yaml
Due: none

Upgrade 1.28 provider to beta v1.28.0-beta.0 (#1061)
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

pman: Update rules.yaml with k8s-1.28 (#1062)
  hack/pman/rules.yaml
Due: none

provision: add print_debug_log function in vm-image-builder
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

provision: update fedora base image url
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
Due: publish-fedora-realtime-container-image

provision: use wget to download image in vm-image-builder
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
Due: none

Upgrade 1.28 provider to rc0 release
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add kubelet to the replaced binaries for kubernetes pre releases
  cluster-provision/k8s/1.28/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

provision: add print_debug_log function in vm-image-builder (#1060)
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/customize-image.sh
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
Due: publish-fedora-realtime-container-image

Upgrade 1.28 provider to rc0 release (#1063)
  cluster-provision/k8s/1.28/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove --os-type flag from customize-image.sh as it is deprecated
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
