Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm-image-builder: collect customization logs into artifacts
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

Automatic bump of CentOS Stream to latest (#1707)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

k8s: Enable cpuManagerPolicy static in kubelet drop-in config
  cluster-provision/k8s/1.34/k8s_provision.sh
  cluster-provision/k8s/1.35/k8s_provision.sh
  cluster-provision/k8s/1.36/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1709)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli, net-res-injector: Set webhook fail policy to Ignore
  cluster-provision/gocli/opts/network_resources_injector/manifests/server.yaml
Due: none

ci(ppc64le): support alpine building with ibm power and accounting for slightly larger size
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  hack/publish-alpine.sh
Due: none

fedora: Remove mlx5_ib due to kernel panic
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

fedora: Remove mlx5_ib due to kernel panic (#1712)
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

vm based providers: Support SR-IOV emulated PF
  cluster-provision/centos10/scripts/dnsmasq.sh
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/dnsmasq.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

k8s-1.35: Copy SR-IOV configuration from kind-sriov
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
Due: none

k8s-1.35: Adapt SR-IOV scripts for VM-based provider
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
Due: none

k8s-1.36: Adapt SR-IOV scripts for VM-based provider
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-node/configure_vfs.sh
Due: none

k8s-1.36: Copy SR-IOV configuration from kind-sriov
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-node/configure_vfs.sh
Due: none

k8s providers: automate emulated SR-IOV setup flow
  K8S.md
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/hack/common.sh
Due: none

cluster-up: export provider vars for SR-IOV scripts
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
  cluster-up/hack/common.sh
Due: none

Remove GOSUMDB=off from Makefiles
  cluster-provision/gocli/Makefile
  cluster-provision/tools/Makefile
Due: none

vm based providers: Support SR-IOV emulated PF (#1600)
  K8S.md
  cluster-provision/centos10/scripts/dnsmasq.sh
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/dnsmasq.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/Makefile
  cluster-provision/tools/Makefile
  cluster-up/cluster/k8s-1.35/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.35/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.35/sriov-node/configure_vfs.sh
  cluster-up/cluster/k8s-1.36/config_sriov_cluster.sh
  cluster-up/cluster/k8s-1.36/provider.sh
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/k8s-1.36/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  cluster-up/cluster/k8s-1.36/sriov-node/configure_vfs.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/hack/common.sh
Due: none

Add resourceclaims/driver RBAC permissions for SR-IOV DRA driver
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Revert centOS 9 image back to stable version
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

centos9: Bump image
  cluster-provision/centos9/version
Due: none

Revert "Automatic bump of CentOS Stream to latest (#1707)"
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: refresh centos scripts during k8s provision
  cluster-provision/gocli/cmd/provision.go
Due: none

Revert centOS 9 image back to stable version (#1716)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: refresh centos scripts during k8s provision (#1719)
  cluster-provision/gocli/cmd/provision.go
Due: none

Automatic bump of CentOS 10 Stream to latest (#1714)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

feat: add local registry setup for the minikube provider
  cluster-up/cluster/minikube/README.md
  cluster-up/cluster/minikube/provider.sh
Due: none

docs: rootless podman actually works (#1656)
  PODMAN.md
  cluster-up/README.md
Due: none

Automatic bump of CentOS 10 Stream to latest (#1723)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fedora: Remove mlx4_ib
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

fedora: pin kernel install to fixed release across arches
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

fedora-with-test-tooling: bump guest base image to Fedora 44
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/os-variant
Due: none

fedora-with-test-tooling: install dhcp-client in guest image
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
Due: none

cluster-provision: Switch CRI-O 1.36 to stable repository (#1704)
  cluster-provision/k8s/1.36/k8s_provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm based providers: make PCI topology explicit for SR-IOV and extra disks
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

Add KUBEVIRT_VSOCK_CHILD_NS_MODE option to configure vsock child namespace mode
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/vsock/vsock.go
  cluster-provision/gocli/opts/vsock/vsock_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
