Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Moving AAQ to v1.2.2 because of some major BugFixes and the following API change: (#1190)
  cluster-provision/k8s/1.30/manifests/aaq/aaq-1.2.2-cr.yaml
  cluster-provision/k8s/1.30/manifests/aaq/aaq-1.2.2-operator.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster-up, cnao: Do not deploy OVS-CNI
  cluster-provision/k8s/1.28/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.29/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.30/manifests/cnao/network-addons-config-example.cr.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1191)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster-up: Remove unrequired check
  cluster-up/up.sh
Due: none

cluster-up: Remove unrequired check (#1194)
  cluster-up/up.sh
Due: none

cluster-up, cnao: Do not deploy OVS-CNI (#1184)
  cluster-provision/k8s/1.28/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.29/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.30/manifests/cnao/network-addons-config-example.cr.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

add ability to deploy kwok when KUBEVIRT_DEPLOY_KWOK is set to true
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/k8s/1.28/k8s_provision.sh
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.28/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.29/k8s_provision.sh
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.29/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.30/k8s_provision.sh
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.30/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/check-cluster-up.sh
  cluster-provision/k8s/deploy-manifests.sh
  cluster-up/cluster/k8s-provider-common.sh
  hack/bump-kwok.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-ovn: Introduce new kind-ovn provider
  cluster-up/cluster/kind-ovn/README.md
  cluster-up/cluster/kind-ovn/install-ovn.sh
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

kwok: move vmi into running stage only when in Scheduled
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/vmi-ready.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-ovn: Introduce new kind-ovn provider (#1193)
  cluster-up/cluster/kind-ovn/README.md
  cluster-up/cluster/kind-ovn/install-ovn.sh
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

add ability to deploy kwok when KUBEVIRT_DEPLOY_KWOK is set to true (#1178)
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/k8s/1.28/k8s_provision.sh
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.28/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.28/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.29/k8s_provision.sh
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.29/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.29/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/1.30/k8s_provision.sh
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/role-binding.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/rbac/role.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/kustomization.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/vmi-delete.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kubevirt/stage/vmi-ready.yaml
  cluster-provision/k8s/1.30/manifests/kwok/kwok.yaml
  cluster-provision/k8s/1.30/manifests/kwok/stage-fast.yaml
  cluster-provision/k8s/check-cluster-up.sh
  cluster-provision/k8s/deploy-manifests.sh
  cluster-up/cluster/k8s-provider-common.sh
  hack/bump-kwok.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-ovn: Fix cluster-down function
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

kind-ovn: Fix cluster-down function (#1196)
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

Automatic bump of CentOS Stream to latest (#1197)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-ovn: Avoid failing entire run just because tear down error
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

kind-ovn: Avoid failing entire run just because tear down error (#1198)
  cluster-up/cluster/kind-ovn/provider.sh
Due: none

Automatic bump of CentOS Stream to latest (#1199)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish: Use podman push instead of skopeo copy to push images
  publish.sh
Due: none

publish: Use podman push instead of skopeo copy to push images (#1200)
  publish.sh
Due: none

Add option to provision 1Gi hugepages
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

introduce the utils package containing the base code for ssh and kubernetes client logic
  cluster-provision/gocli/utils/k8s/k8s.go
  cluster-provision/gocli/utils/main.go
  cluster-provision/gocli/utils/mock/mock_k8s.go
  cluster-provision/gocli/utils/ssh/ssh.go
Due: none

refactor node provisioning scripts into using the go opts
  cluster-provision/gocli/opts/node01/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/node01/conf/adv-audit.yaml
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/nodes/conf/00-cgroupv2.conf
  cluster-provision/gocli/opts/nodes/nodes.go
Due: none

add kubernetes opts
  cluster-provision/gocli/opts/cnao/cnao.go
  cluster-provision/gocli/opts/cnao/manifests/crd.yaml
  cluster-provision/gocli/opts/cnao/manifests/network-addons-config-example.cr.yaml
  cluster-provision/gocli/opts/cnao/manifests/ns.yaml
  cluster-provision/gocli/opts/cnao/manifests/operator.yaml
  cluster-provision/gocli/opts/cnao/manifests/whereabouts.yaml
  cluster-provision/gocli/opts/istio/istio.go
  cluster-provision/gocli/opts/istio/manifests/istio-operator-with-cnao.cr.yaml
  cluster-provision/gocli/opts/istio/manifests/istio-operator.cr.yaml
  cluster-provision/gocli/opts/istio/manifests/ns.yaml
  cluster-provision/gocli/opts/multus/manifests/multus.yaml
  cluster-provision/gocli/opts/multus/multus.go
  cluster-provision/gocli/opts/nfscsi/nfs-csi.go
  cluster-provision/gocli/opts/prometheus/prometheus.go
  cluster-provision/gocli/opts/psa/manifests/psa.yaml
  cluster-provision/gocli/opts/psa/psa.go
  cluster-provision/gocli/opts/rookceph/ceph.go
Due: none

add testing to prometheus and ceph
  cluster-provision/gocli/opts/prometheus/prometheus_test.go
  cluster-provision/gocli/opts/rookceph/ceph_test.go
Due: none

introduce the kubervirt provider type
  cluster-provision/gocli/providers/base_provider.go
  cluster-provision/gocli/providers/opts.go
  cluster-provision/gocli/providers/types.go
Due: none

refactor run.go to use the newly introduced opts
  cluster-provision/gocli/cmd/run.go
Due: none

add testing to nfs and multus
  cluster-provision/gocli/opts/multus/multus_test.go
  cluster-provision/gocli/opts/nfscsi/nfs-csi_test.go
Due: none

introduce the non kubernetes opts -- ssh based
  cluster-provision/gocli/opts/bind-vfio/bind-vfio.go
  cluster-provision/gocli/opts/docker-proxy/conf/override.conf
  cluster-provision/gocli/opts/docker-proxy/docker-proxy.go
  cluster-provision/gocli/opts/etcd/etcd.go
  cluster-provision/gocli/opts/provision/conf/shared_vars.sh
  cluster-provision/gocli/opts/provision/provision.go
  cluster-provision/gocli/opts/realtime/realtime.go
  cluster-provision/gocli/opts/rootkey/conf/vagrant.pub
  cluster-provision/gocli/opts/rootkey/rootkey.go
Due: none

dont include manifests in the docker container
  cluster-provision/gocli/build/Dockerfile
Due: none

Add fedora40 image
  cluster-provision/images/vm-image-builder/fedora40/cloud-config
  cluster-provision/images/vm-image-builder/fedora40/image-url
  cluster-provision/images/vm-image-builder/fedora40/image-url-arm64
  cluster-provision/images/vm-image-builder/fedora40/os-variant
Due: none

publish,centos: Fix the image tag ahead of pushing the centos base image
  publish.sh
Due: none

publish,centos: Fix the image tag ahead of pushing the centos base image (#1205)
  publish.sh
Due: none

enable vm-image-builder for s390x.
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/example/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-s390x
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/cloud-config
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-s390x
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
Due: publish-fedora-realtime-container-image

Add option to provision 1Gi hugepages (#1204)
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
