Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

Automatic bump of CentOS Stream to latest (#1463)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind-ovn: Consume fix for working with local registry when using podman
  cluster-up/cluster/kind-ovn/install-ovn.sh
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind-ovn: Update KIND node image to release default
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind-ovn: Create cluster using podman
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind-ovn: Enable user-defined network feature
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind-ovn: Refactor create cluster command
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind-ovn: echo when cluster is ready
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

kind: Create the audit log directory if not present
  cluster-up/cluster/kind/common.sh
Due: none

Add an alias to KUBEVIRT_WITH_MULTUS_V3 (#1468)
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Fix an issue with job names w/o k8s version
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
Due: none

Fix an issue with job names w/o k8s version (#1473)
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
Due: none

kind-ovn: Consume fix for working with local registry when using podman (#1470)
  cluster-up/cluster/kind-ovn/install-ovn.sh
  cluster-up/cluster/kind-ovn/provider.sh
Due: check-up-kind-ovn

Bump Multus to v4.2.1
  cluster-provision/gocli/opts/multus/manifests/multus-daemonset-thick.yaml
  cluster-provision/gocli/opts/multus/multus.go
  cluster-provision/k8s/1.31/pre-pull-images
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

continue the fix of the issue with job names w/o k8s version
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

continue the fix of the issue with job names w/o k8s version (#1475)
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

kind: Fix setting of ipFamily
  cluster-up/cluster/kind/common.sh
Due: none

Automatic bump of CentOS Stream to latest (#1469)
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

doc: update example provider versions to an existing version
  K8S.md
  KUBEVIRTCI_LOCAL_TESTING.md
Due: none

Set provider_prefix always to KUBEVIRT_PROVIDER
  cluster-up/hack/common.sh
Due: none

doc: update example provider versions to an existing version (#1477)
  K8S.md
  KUBEVIRTCI_LOCAL_TESTING.md
Due: none

kind: Fix setting of ipFamily (#1476)
  cluster-up/cluster/kind/common.sh
Due: none

Set provider_prefix always to KUBEVIRT_PROVIDER (#1478)
  cluster-up/hack/common.sh
Due: none

fix(check-pod-images.sh): use pre-pull-images, add --auto-update (#1467)
  cluster-provision/k8s/check-pod-images.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1479)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.31/version
  cluster-provision/k8s/1.32/version
  cluster-provision/k8s/1.33/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/cmd/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1481)
  cluster-provision/k8s/1.31/version
  cluster-provision/k8s/1.32/version
  cluster-provision/k8s/1.33/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster-up/cluster/kind/common.sh: remove ppc64le arch support
  cluster-up/cluster/kind/common.sh
Due: none

kind: Remove use of node-role.kubernetes.io/master taint
  cluster-up/cluster/kind/common.sh
Due: none

gocli, nfscsi: Remove use of node-role.kubernetes.io/master taint
  cluster-provision/gocli/opts/nfscsi/manifests/csi-nfs-controller.yaml
Due: none

kind-sriov: Remove use of node-role.kubernetes.io/master taint
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-cni-daemonset.yaml
Due: none

vm based providers: Bump CNAO to v0.100.0-rc0
  cluster-provision/gocli/opts/cnao/manifests/operator.yaml
  cluster-provision/k8s/1.31/pre-pull-images
  cluster-provision/k8s/1.32/pre-pull-images
  cluster-provision/k8s/1.33/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Detect container runtime in gocli Makefile
  cluster-provision/gocli/Makefile
Due: none

debug
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1488)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

DMM: test check-up with multus v4
  cluster-provision/k8s/check-cluster-up.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3
