Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*

fix: Centralize detect_cri in hack/ and align scripts (#1590)
  cluster-provision/centos9/build.sh
  cluster-provision/images/kubevirt-testing/build.sh
  cluster-provision/images/kubevirt-testing/publish.sh
  cluster-provision/k8s/validate-manifest-pull-policies.sh
  cluster-provision/k8s/validate-pod-pull-policies.sh
  cluster-up/cluster/kind-ovn/provider.sh
  cluster-up/cluster/kind/check-cluster-up.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
  hack/detect_cri.sh
  publish.sh
Due: check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix: source detect_cri.sh from root hack directory (#1590)
  cluster-up/cluster/kind-ovn/provider.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64

kind-sriov: Deploy network-resources-injector
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/service.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-sriov: Deploy network-resources-injector (#1609)
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/service.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add bump-net-resources-injector.sh script and make target
  Makefile
  cluster-provision/gocli/opts/network_resources_injector/manifests/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  hack/bump-net-resources-injector.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest (#1615)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Fix providers older than v0.27.0
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Fix providers older than v0.27.0 (#1617)
  cluster-up/cluster/kind/manifests/kind.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Correct docker_prefix and manifest_docker_prefix for KinD provider
  cluster-up/cluster/kind/common.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Add bump-net-resources-injector.sh script and make target (#1616)
  Makefile
  cluster-provision/gocli/opts/network_resources_injector/manifests/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  hack/bump-net-resources-injector.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

fix: align align KUBEVIRTCI_PATH in configure-registry-proxy with check-cluster-up
  cluster-up/cluster/kind/configure-registry-proxy.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

scripts: use detect_cri instead of hard-coded docker binary (#1590)
  cluster-provision/centos9/build.sh
  cluster-provision/images/kubevirt-testing/build.sh
  cluster-provision/images/kubevirt-testing/publish.sh
  cluster-provision/k8s/validate-manifest-pull-policies.sh
  cluster-provision/k8s/validate-pod-pull-policies.sh
  cluster-up/cluster/kind-ovn/provider.sh
  cluster-up/cluster/kind/check-cluster-up.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/configure-registry-proxy.sh
  hack/detect_cri.sh
  publish.sh
Due: check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Add new vgpu provider that supports the latest kubernetes version v1.35 (#1596)
  cluster-up/cluster/kind-1.35-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.35-vgpu/conformance.json
  cluster-up/cluster/kind-1.35-vgpu/image
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/version
  cluster-up/cluster/kind-1.35-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-sriov: Use k8s 1.35
  cluster-up/cluster/kind-sriov/image
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind-sriov: Use k8s 1.35 (#1619)
  cluster-up/cluster/kind-sriov/image
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest (#1620)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

chore: Remove old kind-1.33-vgpu cluster provider as no longer needed
  cluster-up/cluster/kind-1.33-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.33-vgpu/conformance.json
  cluster-up/cluster/kind-1.33-vgpu/image
  cluster-up/cluster/kind-1.33-vgpu/provider.sh
  cluster-up/cluster/kind-1.33-vgpu/version
  cluster-up/cluster/kind-1.33-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

chore: Remove old kind-1.33-vgpu cluster provider as no longer needed (#1622)
  cluster-up/cluster/kind-1.33-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.33-vgpu/conformance.json
  cluster-up/cluster/kind-1.33-vgpu/image
  cluster-up/cluster/kind-1.33-vgpu/provider.sh
  cluster-up/cluster/kind-1.33-vgpu/version
  cluster-up/cluster/kind-1.33-vgpu/vgpu-node/node.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Install local SC w/ KinD provider
  cluster-up/cluster/kind-1.33/provider.sh
  cluster-up/cluster/kind-1.34/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/local-storage-class.yaml
  cluster-up/cluster/kind/manifests/local-volume.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run go run ./robots/kubevirtci-bumper -ensure-last-three-minor-of v1 --k8s-provider-dir /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirtci/cluster-provision/k8s (#1624)
  cluster-provision/k8s/1.33/version
  cluster-provision/k8s/1.34/version
  cluster-provision/k8s/1.35/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1623)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

kind: Introduce kind-1.35 provider
  cluster-up/cluster/kind-1.35/README.md
  cluster-up/cluster/kind-1.35/conformance.json
  cluster-up/cluster/kind-1.35/image
  cluster-up/cluster/kind-1.35/provider.sh
  cluster-up/cluster/kind-1.35/version
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Dump node container logs on cluster creation failure
  cluster-up/cluster/kind/common.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

kind: Introduce kind-1.35 provider (#1625)
  cluster-up/cluster/kind-1.35/README.md
  cluster-up/cluster/kind-1.35/conformance.json
  cluster-up/cluster/kind-1.35/image
  cluster-up/cluster/kind-1.35/provider.sh
  cluster-up/cluster/kind-1.35/version
  cluster-up/cluster/kind/common.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

Automatic bump of CentOS Stream to latest (#1626)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli/swap: Add swap behavior configuration support
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/swap/swap.go
Due: none

cluster-up: Add KUBEVIRT_SWAP_BEHAVIOR environment variable
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: none

gocli: Deprecate --unlimited-swap flag and make it inactive
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
Due: none

gocli/swap: Update tests for configurable swap behavior
  cluster-provision/gocli/opts/swap/swap_test.go
Due: none

docs: Document KUBEVIRT_SWAP_BEHAVIOR variable
  KUBEVIRTCI_LOCAL_TESTING.md
Due: none

centos10: update the bump automation to handle the centos10 base
  hack/bump-centos-version.sh
Due: none

Install local SC w/ KinD provider (#1621)
  cluster-up/cluster/kind-1.33/provider.sh
  cluster-up/cluster/kind-1.34/provider.sh
  cluster-up/cluster/kind-1.35-vgpu/provider.sh
  cluster-up/cluster/kind-dra/provider.sh
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/cluster/kind/manifests/local-storage-class.yaml
  cluster-up/cluster/kind/manifests/local-volume.yaml
Due: check-up-kind-1.33, check-up-kind-1.33-arm64
