Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: publish-fedora-realtime-container-image, check-up-kind-ovn, check-up-kind-1.33, check-up-kind-1.33-arm64, release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

publish-fedora-realtime-container-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/vm-image-builder:v20210928-7fbacd6
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

check-up-kind-ovn:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    rehearsal.allowed: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
      - 'set -ex
  
        export KUBEVIRT_PROVIDER=kind-ovn
  
  ...

check-up-kind-1.33:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
  ...

check-up-kind-1.33-arm64:
  decorate: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
      - make cluster-up
      env:
      - name: KUBEVIRT_PROVIDER
        value: kind-1.33
      - name: KUBEVIRT_DEPLOY_CDI
        value: 'true'
      image: quay.io/kubevirtci/golang:v20250701-f32dbda
  ...

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

ci: onboard CodeRabbit and fix golangci-lint violations
  .coderabbit.yaml
  .golangci.yaml
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/provision_manager.go
  cluster-provision/gocli/cmd/provision_manager_test.go
  cluster-provision/gocli/cmd/rm.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/cmd/ssh.go
  cluster-provision/gocli/containers/dnsmasq.go
  cluster-provision/gocli/docker/adapter.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/docker/docker_test.go
  cluster-provision/gocli/images/images.go
  cluster-provision/gocli/opts/bind-vfio/bind-vfio.go
  cluster-provision/gocli/opts/cnao/cnao_test.go
  cluster-provision/gocli/opts/common/bulkapply.go
  cluster-provision/gocli/opts/nfscsi/nfs-csi.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/provision/provision.go
  cluster-provision/gocli/opts/rookceph/ceph_test.go
  cluster-provision/gocli/pkg/k8s/k8s.go
  cluster-provision/gocli/pkg/libssh/ssh.go
Due: none

chore(provision-manager): add rules for new files
  hack/pman/rules.yaml
Due: none

Update publish.sh
  publish.sh
Due: none

Automatic bump of CentOS 10 Stream to latest
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

ci: onboard CodeRabbit and fix golangci-lint violations (#1735)
  .coderabbit.yaml
  .golangci.yaml
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/provision_manager.go
  cluster-provision/gocli/cmd/provision_manager_test.go
  cluster-provision/gocli/cmd/rm.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/scp.go
  cluster-provision/gocli/cmd/ssh.go
  cluster-provision/gocli/containers/dnsmasq.go
  cluster-provision/gocli/docker/adapter.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/docker/docker_test.go
  cluster-provision/gocli/images/images.go
  cluster-provision/gocli/opts/bind-vfio/bind-vfio.go
  cluster-provision/gocli/opts/cnao/cnao_test.go
  cluster-provision/gocli/opts/common/bulkapply.go
  cluster-provision/gocli/opts/nfscsi/nfs-csi.go
  cluster-provision/gocli/opts/node01/node01.go
  cluster-provision/gocli/opts/node01/testconfig.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/provision/provision.go
  cluster-provision/gocli/opts/rookceph/ceph_test.go
  cluster-provision/gocli/pkg/k8s/k8s.go
  cluster-provision/gocli/pkg/libssh/ssh.go
  hack/pman/rules.yaml
Due: none

Automatic bump of CentOS 10 Stream to latest (#1792)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

gocli: Support topology manager
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

gocli: support reserved system CPU pinning
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

fix(cluster-provision): use correct qemu path for s390x
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

fix(cluster-provision): use correct qemu path for s390x (#1794)
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
Due: none

fix: use guestfish auto-inspect for centos10 s390x partition layout (#1743)
  cluster-provision/centos10/Dockerfile
Due: none

chore(cluster-provision): remove legacy AC97 audio device
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
Due: none

fix: replace hardcoded podman with ${CRI_BIN} in publish.sh
  publish.sh
Due: none

fix: increase default KUBEVIRT_MEMORY_SIZE to 9216M
  cluster-up/hack/common.sh
Due: none

fix: validate minimum memory size before fake VFIO setup
  cluster-up/cluster/vfio-gpu/config_vfio_cluster.sh
  cluster-up/hack/common.sh
Due: none

refactor: use -w flag and quote pwd expansions
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

chore(cluster-provision): remove legacy AC97 audio device (#1795)
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/run_test.go
Due: none

refactor: use -w flag and quote pwd expansions (#1793)
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
Due: none

fix: replace hardcoded podman with ${CRI_BIN} in publish.sh (#1796)
  publish.sh
Due: none

Support Topology Manager and reservedSystemCPUs settings (#1738)
  cluster-provision/gocli/cmd/nodesconfig/nodeconfig.go
  cluster-provision/gocli/cmd/nodesconfig/opts.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/gocli/opts/nodes/nodes_test.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

fix: add .gitignore for alpine-cloud-init generated files.
  cluster-provision/images/vm-image-builder/alpine-cloud-init/.gitignore
Due: none

feat: maket target registry configurable via TARGET_REPO
  cluster-provision/gocli/cmd/provision.go
  publish.sh
Due: none

ppc64le: add ppc64le architecture support (VEP-258)
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/Dockerfile
  cluster-provision/centos9/scripts/vm.sh
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/opts/nodes/nodes.go
  cluster-provision/images/kubevirt-testing/kernel-boot-container/Dockerfile.ppc64le-guestless-kernel
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/alpine-cloud-init/create-image.sh
  cluster-provision/images/vm-image-builder/common.sh
  cluster-provision/images/vm-image-builder/example/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-kubeadm/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-realtime/image-url-ppc64le
  cluster-provision/images/vm-image-builder/fedora-with-test-tooling/image-url-ppc64le
  cluster-provision/images/vm-image-builder/publish-multiarch-containerdisk.sh
  cluster-provision/k8s/1.34/provision.sh
  cluster-provision/k8s/1.35/provision.sh
  cluster-provision/k8s/1.36/provision.sh
  cluster-provision/k8s/check-cluster-up.sh
  cluster-up/check.sh
  cluster-up/cluster/ephemeral-provider-common.sh
  hack/publish-alpine.sh
  publish.sh
Due: publish-fedora-realtime-container-image, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS Stream to latest (#1800)
  cluster-provision/centos9/version
  cluster-provision/k8s/base-image
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Automatic bump of CentOS 10 Stream to latest (#1802)
  cluster-provision/centos10/version
  cluster-provision/k8s/base-image-centos10
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Run ./hack/bump-cdi.sh
  cluster-provision/gocli/opts/cdi/manifests/cdi-cr.yaml
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

cluster-up: Remove kind-sriov provider
  cluster-up/.gitignore
  cluster-up/cluster/kind-sriov/README.md
  cluster-up/cluster/kind-sriov/TROUBLESHOOTING.md
  cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  cluster-up/cluster/kind-sriov/conformance.json
  cluster-up/cluster/kind-sriov/image
  cluster-up/cluster/kind-sriov/provider.sh
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra_default_policy.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/kustomization.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/multus.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/multus/patch-args.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/auth.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/service.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-node-selector.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/patch-sriovdp-resource-prefix.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-cni-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriov-ns.yaml
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-config.yaml.in
  cluster-up/cluster/kind-sriov/sriov-components/manifests/sriovdp-daemonset.yaml
  cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
  cluster-up/cluster/kind-sriov/sriov-node/configure_vfs.sh
  cluster-up/cluster/kind-sriov/sriov-node/node.sh
  cluster-up/cluster/kind-sriov/sriovdp_setup.sh
  cluster-up/cluster/kind-sriov/version
  cluster-up/cluster/kind/README.md
  cluster-up/cluster/kind/bump-kind.sh
  cluster-up/cluster/kind/check-cluster-up.sh
  hack/bump-net-resources-injector.sh
Due: check-up-kind-1.33, check-up-kind-1.33-arm64

vm based: Support NUMA=1
  cluster-provision/centos10/scripts/vm.sh
  cluster-provision/centos9/scripts/vm.sh
  cluster-up/cluster/k8s-1.35/provider.sh
  cluster-up/cluster/k8s-1.36/provider.sh
Due: none

Run ./hack/bump-cdi.sh (#1803)
  cluster-provision/gocli/opts/cdi/manifests/cdi-cr.yaml
  cluster-provision/gocli/opts/cdi/manifests/cdi-operator.yaml
  cluster-provision/k8s/1.34/pre-pull-images
  cluster-provision/k8s/1.35/pre-pull-images
  cluster-provision/k8s/1.36/pre-pull-images
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

fix(cluster-provision): install s390utils-base for s390x dracut initramfs generation
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos9/Dockerfile
Due: none

Build multi-arch gocli via buildah (#1763)
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/build/Dockerfile
  publish.sh
Due: none

fix(gocli): ensure manifest exists before building images
  cluster-provision/gocli/Makefile
Due: none

fix(gocli): ensure manifest exists before building images (#1806)
  cluster-provision/gocli/Makefile
Due: none

fix(cluster-provision): install s390utils-core for s390x dracut initramfs generation
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos9/Dockerfile
Due: none

fix(gocli): add multi-arch binaries to gitignore
  .gitignore
  cluster-provision/gocli/docker/BUILD.bazel
Due: none

fix(cluster-provision): install s390utils-core for s390x dracut initramfs generation (#1805)
  cluster-provision/centos10/Dockerfile
  cluster-provision/centos9/Dockerfile
Due: none

Path conditions:
  publish-fedora-realtime-container-image: any of: cluster-provision/images/vm-image-builder/fedora-realtime/.*
  check-up-kind-ovn: any of: cluster-up/cluster/kind-ovn/.*
  check-up-kind-1.33: any of: cluster-up/cluster/kind(-1\.33)?
  check-up-kind-1.33-arm64: any of: cluster-up/cluster/kind(-1\.33)?
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
