Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.10.11:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

hacks: deploy kubevirt script
  cluster-up/hack/deploy-kubevirt.sh
Due: none

Cargo cult NAT forwarding for IPv6
  cluster-provision/centos8/scripts/dnsmasq.sh
  cluster-provision/k8s/1.18/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

WIP reverse service order
  cluster-provision/k8s/1.18/manifests/kubeadm.conf
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Configure custom IPv6 natted ippool
  cluster-provision/k8s/1.18/manifests/cni.diff
  cluster-provision/k8s/1.18/provision.sh
  cluster-up/cluster/k8s-1.18/README.md
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump the base image of k8s-1.18
  cluster-provision/k8s/1.18/base
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Bump k8s-1.18 image
  cluster-up/cluster/images.sh
Due: none

NAT cluster's IPv6 network to the outside (#432)
  cluster-provision/centos8/scripts/dnsmasq.sh
  cluster-provision/k8s/1.18/base
  cluster-provision/k8s/1.18/manifests/cni.diff
  cluster-provision/k8s/1.18/provision.sh
  cluster-up/cluster/images.sh
  cluster-up/cluster/k8s-1.18/README.md
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Make the provider's config path dynamic
  cluster-up/cluster/local/provider.sh
Due: none

Make the provider's config path dynamic (#433)
  cluster-up/cluster/local/provider.sh
Due: none

Change the pre-provisioned path on the K8s nodes
  cluster-provision/k8s/1.16/provision.sh
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Change the pre-provisioned path on the K8s nodes (#436)
  cluster-provision/k8s/1.16/provision.sh
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update kubevirtci images to latest digest
  cluster-up/cluster/images.sh
Due: none

Update kubevirtci images to latest digest (#438)
  cluster-up/cluster/images.sh
Due: none

Add k8s 1.19 provider
  cluster-provision/k8s/1.19/base
  cluster-provision/k8s/1.19/ceph-csi.sh
  cluster-provision/k8s/1.19/conformance.json
  cluster-provision/k8s/1.19/logging.sh
  cluster-provision/k8s/1.19/manifests/ceph/ceph-secret.yaml
  cluster-provision/k8s/1.19/manifests/ceph/ceph-snapshotclass.yaml
  cluster-provision/k8s/1.19/manifests/ceph/ceph-storageclass.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-attacher-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-nodeplugin-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-provisioner-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin-attacher.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin-provisioner.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin.yaml
  cluster-provision/k8s/1.19/manifests/cnao/namespace.yaml
  cluster-provision/k8s/1.19/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.19/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.19/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.19/manifests/cni.diff
  cluster-provision/k8s/1.19/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.19/manifests/kubeadm.conf
  cluster-provision/k8s/1.19/manifests/local-volume.yaml
  cluster-provision/k8s/1.19/manifests/logging.yaml
  cluster-provision/k8s/1.19/node01.sh
  cluster-provision/k8s/1.19/nodes.sh
  cluster-provision/k8s/1.19/provision.sh
  cluster-provision/k8s/1.19/version
  cluster-up/cluster/images.sh
  cluster-up/cluster/k8s-1.19/provider.sh
  hack/conformance.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update image sha for k8s-1.19 pushed latest changes
  cluster-up/cluster/images.sh
Due: none

Update provider.sh with new line, add docs
  cluster-up/cluster/k8s-1.19/README.md
  cluster-up/cluster/k8s-1.19/dev-guide.md
  cluster-up/cluster/k8s-1.19/provider.sh
Due: none

Add k8s 1.19 provider (#434)
  cluster-provision/k8s/1.19/base
  cluster-provision/k8s/1.19/ceph-csi.sh
  cluster-provision/k8s/1.19/conformance.json
  cluster-provision/k8s/1.19/logging.sh
  cluster-provision/k8s/1.19/manifests/ceph/ceph-secret.yaml
  cluster-provision/k8s/1.19/manifests/ceph/ceph-snapshotclass.yaml
  cluster-provision/k8s/1.19/manifests/ceph/ceph-storageclass.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-attacher-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-nodeplugin-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-provisioner-rbac.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin-attacher.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin-provisioner.yaml
  cluster-provision/k8s/1.19/manifests/ceph/csi-rbdplugin.yaml
  cluster-provision/k8s/1.19/manifests/cnao/namespace.yaml
  cluster-provision/k8s/1.19/manifests/cnao/network-addons-config-example.cr.yaml
  cluster-provision/k8s/1.19/manifests/cnao/network-addons-config.crd.yaml
  cluster-provision/k8s/1.19/manifests/cnao/operator.yaml
  cluster-provision/k8s/1.19/manifests/cni.diff
  cluster-provision/k8s/1.19/manifests/cni.do-not-change.yaml
  cluster-provision/k8s/1.19/manifests/kubeadm.conf
  cluster-provision/k8s/1.19/manifests/local-volume.yaml
  cluster-provision/k8s/1.19/manifests/logging.yaml
  cluster-provision/k8s/1.19/node01.sh
  cluster-provision/k8s/1.19/nodes.sh
  cluster-provision/k8s/1.19/provision.sh
  cluster-provision/k8s/1.19/version
  cluster-up/cluster/images.sh
  cluster-up/cluster/k8s-1.19/README.md
  cluster-up/cluster/k8s-1.19/dev-guide.md
  cluster-up/cluster/k8s-1.19/provider.sh
  hack/conformance.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Upgrade k8s-1.19 with calico v3.16.1
  cluster-provision/k8s/1.19/manifests/cni.do-not-change.yaml
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm-image-builder: image customize script
  cluster-provision/images/vm-image-builder/customize-image.sh
Due: none

vm-image-builder: build script
  cluster-provision/images/vm-image-builder/Dockerfile.containerdisk
  cluster-provision/images/vm-image-builder/build-containerdisk.sh
Due: none

vm-image-builder: Automate VM customization flow
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/example/cloud-config
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/fedora-sriov-lane/cloud-config
  cluster-provision/images/vm-image-builder/fedora-sriov-lane/image-url
Due: none

vm-image-builder: Automate container disk publish flow
  cluster-provision/images/vm-image-builder/publish-containerdisk.sh
Due: none

vm_image_builder: README and OWNER files
  cluster-provision/images/vm-image-builder/OWNERS
  cluster-provision/images/vm-image-builder/README.md
Due: none

Update k8s-1.19 container digest
  cluster-up/cluster/images.sh
Due: none

Disable endpointslices it's activated by default at k8s-1.19
  cluster-provision/k8s/1.19/manifests/kubeadm.conf
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update conaiter digest
  cluster-up/cluster/images.sh
Due: none

[2] k8s1.18: Add provision script to update kernel args (#392)
  cluster-provision/k8s/1.18/kargs.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Disable endpointslices (#443)
  cluster-provision/k8s/1.19/manifests/kubeadm.conf
  cluster-up/cluster/images.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

vm-image-builder: Automate creating customized Kubevirt VM's images (#428)
  cluster-provision/images/vm-image-builder/Dockerfile.containerdisk
  cluster-provision/images/vm-image-builder/OWNERS
  cluster-provision/images/vm-image-builder/README.md
  cluster-provision/images/vm-image-builder/build-containerdisk.sh
  cluster-provision/images/vm-image-builder/create-containerdisk.sh
  cluster-provision/images/vm-image-builder/customize-image.sh
  cluster-provision/images/vm-image-builder/example/cloud-config
  cluster-provision/images/vm-image-builder/example/image-url
  cluster-provision/images/vm-image-builder/fedora-sriov-lane/cloud-config
  cluster-provision/images/vm-image-builder/fedora-sriov-lane/image-url
  cluster-provision/images/vm-image-builder/publish-containerdisk.sh
Due: none

dnsmasq: Mount /lib/modules to use ip6tables
  cluster-provision/cli/cli
  cluster-provision/gocli/cmd/run.go
Due: release-k8s-1.14

Update gocli container digest
  cluster-up/cluster/images.sh
Due: none

dnsmasq: Mount /lib/modules to use ip6tables (#445)
  cluster-provision/cli/cli
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/images.sh
Due: release-k8s-1.14

Implement the post `untangled` provision at gocli
  .gitignore
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/run.sh
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Mount /lib/modules at gocli if exists
  cluster-provision/cli/cli
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/ephemeral-provider-common.sh
Due: release-k8s-1.14

Update gocli digest
  cluster-up/cluster/images.sh
Due: none

Don't create pre-provisioend configs at root
  cluster-provision/k8s/1.17/node01.sh
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/node01.sh
  cluster-provision/k8s/1.18/provision.sh
  cluster-up/cluster/images.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Mount /lib/modules at gocli if exists (#446)
  cluster-provision/cli/cli
  cluster-provision/gocli/cmd/run.go
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/images.sh
Due: release-k8s-1.14

Don't create pre-provisioend configs at root (#444)
  cluster-provision/k8s/1.17/node01.sh
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/node01.sh
  cluster-provision/k8s/1.18/provision.sh
  cluster-up/cluster/images.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
