Repository kubevirt/kubevirtci: changes, and which Prow jobs are due for each by the changed paths.
All: release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

release-k8s-1.14:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

check-provision-k8s-1.15:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-fedora-1.17.0:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.18:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.17:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.16:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.14:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

check-provision-k8s-1.10.11:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
    - image: gcr.io/k8s-testimages/bootstrap:v20190516-c6832d9
      command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Emulate krew integration for virtctl.sh in our dev environment
  cluster-up/kubectl.sh
Due: none

Install iptables at k8s provision for docker-ce providers
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/provision.sh
  cluster-provision/k8s/1.19/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Install iptables at k8s provision for docker-ce providers (#448)
  cluster-provision/k8s/1.17/provision.sh
  cluster-provision/k8s/1.18/provision.sh
  cluster-provision/k8s/1.19/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Adapt contributing guide
  CONTRIBUTING.md
Due: none

Adapt 'make bump'
  hack/bump.sh
Due: none

Update gocli digest
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Store digests into gocli binary
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/images.json
  cluster-provision/gocli/images/images.go
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/images.sh
Due: none

Update gocli container digest
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Update k8s providers digests
  cluster-provision/gocli/images.json
Due: none

Store digests into gocli binary (#435)
  CONTRIBUTING.md
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/images.json
  cluster-provision/gocli/images/images.go
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/images.sh
  hack/bump.sh
Due: none

Bump k8s-1.19 nm to 1.22.8
  cluster-provision/k8s/1.19/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Update k8s-1.19 digest
  cluster-provision/gocli/images.json
Due: none

Bump k8s-1.19 nm to 1.22.8 (#449)
  cluster-provision/gocli/images.json
  cluster-provision/k8s/1.19/provision.sh
  cluster-up/cluster/ephemeral-provider-common.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Create OvS-DPDK operator when enabled
  cluster-up/cluster/k8s-1.17/manifests/ovsdpdk/allinone.yaml
  cluster-up/cluster/k8s-1.17/manifests/ovsdpdk/ovsdpdkconfig.yaml
  cluster-up/cluster/k8s-provider-common.sh
Due: none

Update DPDK operator version to v0.0.1
  cluster-up/cluster/k8s-1.17/manifests/ovsdpdk/allinone.yaml
Due: none

Prepull ovsdpdk operator image at provision
  cluster-provision/k8s/1.17/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

GoCli: Expose ports 80 and 443
  cluster-provision/centos7/scripts/vm.sh
  cluster-provision/centos8/scripts/vm.sh
  cluster-provision/cli/cli
  cluster-provision/fedora/scripts/vm.sh
  cluster-provision/gocli/cmd/ports.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/utils/ports.go
  cluster-provision/gocli/images.json
  cluster-provision/k8s/1.17/base
  cluster-provision/k8s/1.18/base
  cluster-provision/k8s/1.19/base
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

GoCli: Expose ports 80 and 443 (#440)
  cluster-provision/centos7/scripts/vm.sh
  cluster-provision/centos8/scripts/vm.sh
  cluster-provision/cli/cli
  cluster-provision/fedora/scripts/vm.sh
  cluster-provision/gocli/cmd/ports.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/cmd/utils/ports.go
  cluster-provision/gocli/images.json
  cluster-provision/k8s/1.17/base
  cluster-provision/k8s/1.18/base
  cluster-provision/k8s/1.19/base
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
Due: release-k8s-1.14, check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Emulate krew integration for virtctl.sh in our dev environment (#447)
  cluster-up/kubectl.sh
Due: none

Remove dead openshift 3.11 code
  cluster-up/cluster/os-3.11.0-crio/README.md
  cluster-up/cluster/os-3.11.0-crio/provider.sh
  cluster-up/cluster/os-3.11.0-multus/README.md
  cluster-up/cluster/os-3.11.0-multus/provider.sh
  cluster-up/cluster/os-3.11.0/README.md
  cluster-up/cluster/os-3.11.0/provider.sh
Due: none

Remove k8s fedora node provider
  cluster-provision/cli/cli
  cluster-provision/common-scripts/images.sh
  cluster-provision/fedora/Dockerfile
  cluster-provision/fedora/build.sh
  cluster-provision/fedora/publish.sh
  cluster-provision/fedora/scripts/dnsmasq.sh
  cluster-provision/fedora/scripts/download_box.sh
  cluster-provision/fedora/scripts/vm.sh
  cluster-provision/fedora/vagrant.key
  cluster-provision/fedora/vagrant.pub
  cluster-provision/fedora/version
  cluster-provision/gocli/images.json
  cluster-provision/k8s-fedora/1.17.0/provision.sh
  cluster-provision/k8s-fedora/1.17.0/publish.sh
  cluster-provision/k8s-fedora/check-cluster-up.sh
  cluster-provision/k8s-fedora/provision.sh
  cluster-provision/k8s-fedora/publish.sh
  cluster-provision/k8s-fedora/scripts/ceph-csi.sh
  cluster-provision/k8s-fedora/scripts/cgroups.sh
  cluster-provision/k8s-fedora/scripts/logging.sh
  cluster-provision/k8s-fedora/scripts/node01.sh
  cluster-provision/k8s-fedora/scripts/nodes.sh
  cluster-provision/k8s-fedora/scripts/provision.sh
  cluster-up/cluster/k8s-fedora-1.17.0/README.md
  cluster-up/cluster/k8s-fedora-1.17.0/provider.sh
Due: release-k8s-1.14

Revert http and https port to randomized
  cluster-up/hack/common.sh
Due: none

Extract dnsmasq container creation and fix cleanup
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/containers/dnsmasq.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/images/images.go
Due: none

Make provision via gocli work
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/cmd/run.go
  cluster-provision/gocli/docker/docker.go
  cluster-provision/gocli/go.mod
Due: none

Simplify provisioning a cluster
  cluster-provision/gocli/Makefile
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/k8s/check-cluster-up.sh
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove unsupported cluster-up scripts
  cluster-up/cluster/k8s-1.14/README.md
  cluster-up/cluster/k8s-1.14/provider.sh
  cluster-up/cluster/k8s-1.15/README.md
  cluster-up/cluster/k8s-1.15/provider.sh
  cluster-up/cluster/k8s-fedora-1.17.0/README.md
  cluster-up/cluster/k8s-fedora-1.17.0/provider.sh
  cluster-up/cluster/os-3.11.0-crio/README.md
  cluster-up/cluster/os-3.11.0-crio/provider.sh
  cluster-up/cluster/os-3.11.0-multus/README.md
  cluster-up/cluster/os-3.11.0-multus/provider.sh
  cluster-up/cluster/os-3.11.0/README.md
  cluster-up/cluster/os-3.11.0/provider.sh
  cluster-up/oc.sh
Due: none

Make extra build of base images obsolate
  cluster-provision/centos7/build.sh
  cluster-provision/centos7/publish.sh
  cluster-provision/centos8/build.sh
  cluster-provision/centos8/publish.sh
  cluster-provision/k8s/1.16/base
  cluster-provision/k8s/1.17/base
  cluster-provision/k8s/1.18/base
  cluster-provision/k8s/1.19/base
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Only download the image if it is not already locally available
  cluster-provision/gocli/cmd/provision.go
  cluster-provision/gocli/docker/docker.go
Due: none

Adjust documentation
  README.md
  cluster-provision/README.md
  cluster-up/README.md
Due: none

Basic publish script
  publish.sh
Due: none

Discover gocli via KUBEVIRTCI_TAG
  cluster-up/cluster/ephemeral-provider-common.sh
Due: none

Remove unused bump script
  Makefile
  hack/bump.sh
Due: none

Remove unused publish scripts
  cluster-provision/k8s/publish.sh
  cluster-provision/provisionAndPublishAll.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Remove unsupported 1.16 k8s lane
  cluster-provision/centos7/Dockerfile
  cluster-provision/centos7/build.sh
  cluster-provision/centos7/scripts/dnsmasq.sh
  cluster-provision/centos7/scripts/download_box.sh
  cluster-provision/centos7/scripts/vm.sh
  cluster-provision/centos7/vagrant.key
  cluster-provision/centos7/vagrant.pub
  cluster-provision/centos7/version
  cluster-provision/k8s/1.16/base
  cluster-provision/k8s/1.16/ceph-csi.sh
  cluster-provision/k8s/1.16/conformance.json
  cluster-provision/k8s/1.16/logging.sh
  cluster-provision/k8s/1.16/manifests/ceph/ceph-secret.yaml
  cluster-provision/k8s/1.16/manifests/ceph/ceph-snapshotclass.yaml
  cluster-provision/k8s/1.16/manifests/ceph/ceph-storageclass.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-attacher-rbac.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-nodeplugin-rbac.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-provisioner-rbac.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-rbdplugin-attacher.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-rbdplugin-provisioner.yaml
  cluster-provision/k8s/1.16/manifests/ceph/csi-rbdplugin.yaml
  cluster-provision/k8s/1.16/manifests/cni.yaml
  cluster-provision/k8s/1.16/manifests/local-volume.yaml
  cluster-provision/k8s/1.16/manifests/logging.yaml
  cluster-provision/k8s/1.16/node01.sh
  cluster-provision/k8s/1.16/nodes.sh
  cluster-provision/k8s/1.16/provision.sh
  cluster-provision/k8s/1.16/version
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Revert http and https port to randomized (#451)
  cluster-up/hack/common.sh
Due: none

Focus completely on provisioning via a well known package structure
  cluster-provision/gocli/cmd/provision.go
Due: none

Minor improvements in the scripts on make target invocations
  cluster-provision/k8s/check-cluster-up.sh
  cluster-provision/k8s/provision.sh
Due: check-provision-k8s-1.15, check-provision-k8s-fedora-1.17.0, check-provision-k8s-1.18, check-provision-k8s-1.17, check-provision-k8s-1.16, check-provision-k8s-1.14, check-provision-k8s-1.10.11, check-provision-k8s-1.11.0, check-provision-k8s-1.15.1, check-provision-k8s-1.17.0, check-provision-k8s-1.16.2, check-provision-k8s-1.14.6, check-provision-k8s-1.13.3

Path conditions:
  release-k8s-1.14: any of: cluster-provision/cli/.*| cluster-provision/centos7/.*| cluster-provision/k8s/.*| cluster-provision/k8s/1.14/.*

  check-provision-k8s-1.15: any of: cluster-provision/k8s/.*
  check-provision-k8s-fedora-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.18: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.10.11: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.11.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.15.1: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.17.0: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.16.2: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.14.6: any of: cluster-provision/k8s/.*
  check-provision-k8s-1.13.3: any of: cluster-provision/k8s/.*
