Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

feature-gates: Include feature state in gate deprecation message
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/deprecation/macvtap.go
  pkg/virt-config/deprecation/passt.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

feature-gates: Add feature state to each deprecated flag constant
  pkg/virt-config/deprecation/feature-gates.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adding our SIG release team to the Owners file
  OWNERS_ALIASES
Due: none

Support to set a specify hostName for a CloneVM
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/validate-k8s-utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/clone/vm-target.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/clone/v1alpha1/types.go
  staging/src/kubevirt.io/api/clone/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/api/utils.go
  tests/clone_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

refectory: remove duplicated package
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virtctl/expose/expose.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

release-v1.2 perf and scale benchmarks
  docs/perf-scale-benchmarks.md
  docs/perf-scale-graphs/vm/vm-get-nodes-count.png
  docs/perf-scale-graphs/vm/vm-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-patch-nodes-count.png
  docs/perf-scale-graphs/vm/vm-patch-pods-count.png
  docs/perf-scale-graphs/vm/vm-patch-vmis-count.png
  docs/perf-scale-graphs/vm/vm-update-vmis-count.png
  docs/perf-scale-graphs/vmi/vmi-get-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-patch-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-pods-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-vmis-count.png
  docs/perf-scale-graphs/vmi/vmi-update-vmis-count.png
Due: none

component_monitoring.go: Remove use of NewRandomVMI func NewRandomVMI is deprecated, libvmi should be used instead.
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Remove use of NewRandomVMI in vm_monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

OWNER_ALIASES: Drop controllers and live-migration
  OWNERS_ALIASES
Due: none

OWNER_ALIASES: Converge on sig-compute again
  OWNERS_ALIASES
  pkg/handler-launcher-com/OWNERS
  pkg/virt-handler/OWNERS
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

migration.go: Remove use of NewRandomVMI func NewRandomVMI is deprecated, libvmi should be used instead.
  tests/migration/migration.go
Due: none

e2e: shrink utils.go in favor to storage and libpod
  tests/framework/storage/BUILD.bazel
  tests/framework/storage/nfs.go
  tests/libpod/BUILD.bazel
  tests/libpod/run.go
  tests/migration/migration.go
  tests/storage/export.go
  tests/storage/memorydump.go
  tests/storage/reservation.go
  tests/storage/storage.go
  tests/virtiofs/datavolume.go
Due: none

tests restore/storage/imageupload use libvmi new
  tests/storage/imageupload.go
  tests/storage/restore.go
  tests/storage/storage.go
Due: none

tests: PIT flaky component monitoring test
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Fix data import cron template (#2831)
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
Due: none

chore: Remove use of fmt.Println from tests
  pkg/cloud-init/cloud-init_test.go
  pkg/emptydisk/emptydisk_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/vm_test.go
  tests/hotplug/affinity.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Refactoring the validDataVolumeTemplate function
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add MSFT as adopter
  ADOPTERS.md
Due: none

tests, k8s: emit k8s log if tests focused via FIt
  tests/reporter/kubernetes.go
  tests/tests_suite_test.go
Due: none

Wait until backend storage PVC is ready before starting VMIs
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

#11224
  pkg/virt-handler/selinux/labels.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update vms-admiteer.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Simplifying the validateDataVolumeTemplate function
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

add higher VM workload density API (#2800)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.12.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.12.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  tests/func-tests/defaults_test.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.defaults.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Assign iholder101 as a sig-compute approver
  OWNERS_ALIASES
Due: none

tests, libpod: Drop virt-client arg from func
  tests/libpod/BUILD.bazel
  tests/libpod/query.go
  tests/migration/migration.go
  tests/utils.go
  tests/vm_test.go
Due: none

[release-0.59] Deprecate cpu and memory exceeds alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests, vmi-cloudinit: Update the VMI with latest manifest
  tests/vmi_cloudinit_test.go
Due: none

[release-1.0] Deprecate cpu and memory exceeds alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

VM unit: Fix missing VMI creation
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Test assumotions about volume requests
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit, Fix return args
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[release-1.1] Deprecate cpu and memory exceeds alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

VM: Propagate status updates from "sync"
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM: Call update only when Metadata or Spec is changed
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

refactor functions to remove name returns
  pkg/instancetype/instancetype.go
Due: none

VM unit: Simplify and fix unit tests
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

vmi-create-admitter: refactor and code semplification
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

backend storage: use storage class informer instead of rest call
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
