Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

ConsolePlugin bugfix: Reconcile CR if labels were modified (#1965)
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
Due: none

Add CPU and Memory Requests to console plugin deployment (#1962)
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
Due: none

Add an infra label to each of kubevirt alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: none

Quarantine flaky VMI pause tests
  tests/storage/storage.go
Due: none

multus, e2e tests: remove duplicate code
  tests/network/sriov.go
Due: none

Fix alert bug (#1953)
  Makefile
  cmd/hyperconverged-cluster-operator/main.go
  cmd/hyperconverged-cluster-webhook/main.go
  controllers/alerts/alerts.go
  controllers/alerts/alerts_test.go
  controllers/commonTestUtils/eventEmitterMock.go
  controllers/commonTestUtils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/monitoring.go
  controllers/operands/monitoring_test.go
  controllers/operands/operand.go
  controllers/operands/operandHandler.go
  controllers/operands/operandHandler_test.go
  hack/prom-rule-ci/rule-spec-dumper.go
  pkg/util/cluster.go
  pkg/util/consts.go
  pkg/util/event_emmiter.go
  pkg/util/event_emmiter_test.go
  pkg/util/own_resources.go
  pkg/util/own_resources_test.go
  pkg/util/util.go
Due: none

Fix incorrect `emitempty` tag with `omitempty`
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Bump HPP to v0.13.0 (#1966)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Add virtcl command of memory dump
  api/openapi-spec/swagger.json
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/root.go
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Adjust mount of hot plug of memory dump pvc
  cmd/virt-launcher/virt-launcher.go
  pkg/hotplug-disk/hotplug-disk.go
  pkg/hotplug-disk/hotplug-disk_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Adjust update vmi webhooks to new memory dump volume source
  pkg/testutils/mock_config.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add virt launcher client server memory dump command
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add remove memory dump association virtctl command
  api/openapi-spec/swagger.json
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virtctl/root.go
  pkg/virtctl/vm/vm.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Add pvc size validation
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-operator/resource/generate/rbac/apiserver.go
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  tests/storage/memorydump.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Make sure memory dump is not retriggered in vm restart
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Handle a state machine of the memory dump in the vm part
  api/openapi-spec/swagger.json
  pkg/virt-controller/watch/vm.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Handle the state machine in the vmi part
  pkg/util/types/pvc.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add memory dump functional tests
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/utils.go
Due: none

Change MemoryDumpVolumeSource to have inline PersistentVolumeClaimVolumeSource
  api/openapi-spec/swagger.json
  pkg/util/types/pvc.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Add UTs
  pkg/testutils/mock_config.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add permissions to call memory dump
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: none

Several memory dump virtctl and subresource improvments
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virtctl/root.go
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  tests/storage/memorydump.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Change update memory dump completion mechanisem
  api/openapi-spec/swagger.json
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Increase timeout for mdev check
  tests/mdev_configuration_allocation_test.go
Due: none

virt-controller, template: move the getPorts func
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: stop initializing the ContainerPort slice
  pkg/virt-controller/services/rendercontainer.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: rename func to a more descriptive name
  pkg/virt-controller/services/rendercontainer.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: move the updateProbes funcs
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: move the getRequiredCapabilities func
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: rename func to a more idiomatic name
  pkg/virt-controller/services/rendercontainer.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: move the wrapExecProbeWithVirtProbe func
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

workspace: Use alpine with with fixed GA
  WORKSPACE
Due: pull-kubevirt-verify-rpms

test, probes: Replace Fedora with Alpine
  tests/junit.functest.xml
  tests/network/probes.go.orig
Due: none

Add reason to AgentVersionNotSupported condition
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

test, vmi_networking: Use Alpine
  tests/network/probes.go
  tests/network/vmi_networking.go
Due: none

Makefile: add a lint target
  Makefile
Due: none

Add an alert for excessive migrations on a VMI
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/vmistats/collector.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

test, network: Migrate all except sriov
  tests/junit.functest.xml
  tests/network/macvtap.go
  tests/network/primary_pod_network.go
  tests/network/probes.go.orig
  tests/network/vmi_infosource.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
Due: none

update asciinema demo for README
  README.md
Due: none

e2e test: add test client
  tests/framework/client/BUILD.bazel
  tests/framework/client/client.go
  tests/framework/client/coreClient.go
  tests/framework/client/migrationPolicyClient.go
  tests/framework/client/migrationpolicy.go
  tests/framework/client/namespace.go
  tests/framework/client/node.go
  tests/framework/client/persistentvolume.go
Due: none
