Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Backup subresource: add backup subresource to VMI
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/client-go/kubecli/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Storage admitters: admit backup crd
  pkg/storage/admitters/BUILD.bazel
  pkg/storage/admitters/backup.go
  pkg/storage/admitters/backup_test.go
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
  pkg/virt-operator/resource/generate/components/webhooks.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Tests: add backup function tests
  tests/libstorage/BUILD.bazel
  tests/libstorage/vmi.go
  tests/storage/BUILD.bazel
  tests/storage/backup.go
  tests/storage/cbt.go
Due: none

cleanup: Refactor virt-operator/resources/apply/generations.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/generations.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests: add unit tests for new packages
  pkg/util/naming/BUILD.bazel
  pkg/util/naming/naming_suite_test.go
  pkg/util/naming/naming_test.go
  pkg/virt-operator/resource/apply/resourcemerge/BUILD.bazel
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_suite_test.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

lint: enable linter for new packages
  hack/linter/lint-paths.txt
  pkg/util/naming/naming.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: resourcemerge: Move output parameter to return value
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apiservices.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_test.go
  pkg/virt-operator/resource/apply/routes.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: resourcemerge: Remove unused logic from helper functions
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: resourcemerge: Simplify code
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

VMBackupTracker: Introduce new CRD
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/rbac/apiserver.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/register.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/backup_client.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/fake_backup_client.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/fake_virtualmachinebackuptracker.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/generated_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/virtualmachinebackuptracker.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: Add incremental backup support with checkpoint tracking
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: add pure domain emulation tests
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cloud-init: add NoCloud vendor-data support
  api/openapi-spec/swagger.json
  pkg/cloud-init/cloud-init.go
  pkg/cloud-init/cloud-init_test.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

remove persist flag from virtctl add/removevolume to prevent creation of ephemeral hotplugs. remove relevant test cases
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/common.go
  pkg/virtctl/vm/remove_volume.go
  pkg/virtctl/vm/remove_volume_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

add new metric to keep track of ephemeral hotplug volumes per vmi.
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/storage.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/monitoring/metrics.go
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

reuse existing libmonitoring func for testing
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: none

add new Alert that is fired for each VMI that contains an ephemeral hotplug volume. Change label to annotation so we can more easily report the affected volumes.
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/rules/alerts/vms.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/storage.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

launcher, converter: Introduce SysInfoDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Extract SMBIOS configuration logic
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Extract Chassis configuration logic
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Test SysInfoDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Always set SysInfo.Type
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Decouple function from ConverterContext
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce HypervisorFeaturesDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/hypervisor_features.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Consolidate arch-dep HasVMPort
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/compute/hypervisor_features.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Always set domain.Spec.Features
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/converter/compute/hypervisor_features.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

test
  hack/dockerized
Due: none

e2e: wait for agent connected on few more tests
  tests/network/vmi_networking.go
  tests/vmi_cloudinit_test.go
Due: none

Add target-side premigration hook system
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/qemu
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/premigration-hook-server/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/hook_server.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e,cpu: Fix flake
  tests/vmi_configuration_test.go
Due: none

e2e: Fix configure console order
  tests/console/login.go
Due: none

virt-launcher: Reduce verbosity for routine operations
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/device/hostdevice/addresspool.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: Reduce verbosity for expected process reaping
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcehr: Remove redundant libvirt connection log
  pkg/virt-launcher/virtwrap/cli/libvirt.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

logs: Fix Infof verbosity support
  staging/src/kubevirt.io/client-go/log/log.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: Check directory existence in migration script
  cmd/virt-launcher/qemu
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

logs: Increase verbosity of frequent DRA GPU log
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add default toleration to hotplug pod
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance
