Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Configuration test: Convert Skips to Fails
  tests/decorators/decorators.go
  tests/vmi_configuration_test.go
Due: none

Configuration tests: Remove var usages
  tests/BUILD.bazel
  tests/vmi_configuration_test.go
Due: none

Adapt domain templates
  pkg/virt-launcher/virtwrap/api/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/api/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml.tmpl
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Refactor, defaults: unexpose helper functions
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/api/defaults_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Adapt unit tests
  pkg/virt-launcher/virtwrap/api/schema_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests/utils: drop redundant dependency on testsuite
  tests/BUILD.bazel
  tests/utils.go
Due: none

virt-handler, non-root setup: Rm redundant prepareTap
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
  pkg/virt-handler/non-root_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Enable KV DynamicPodInterfaceNaming FG by default (#3180)
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
Due: none

Bump CDI to v1.61.0 (#3185)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_transfer.go
  vendor/modules.txt
Due: none

vmi-create-admitter, probes: use newAdmissionReviewForVMICreation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: drop lowercase [serial] typo from tests
  tests/instancetype/reference_policy.go
  tests/storage/hotplug.go
  tests/vmi_hook_sidecar_test.go
Due: none

automation: drop square brackets from Serial label, use filter
  automation/test.sh
Due: none

tests readme: adjust according to serial text not being needed
  tests/README.md
Due: none

vmi-create-admitter, probes: use libvmi
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vmi-create-admitter_test: refactor eviction tests
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add description to migration failures [test_id:2303]
  tests/migration/migration.go
Due: none

tests/infra/prometheus: use executor token instead of virt-operator
  tests/infrastructure/prometheus.go
Due: none

tests/numa: add stdout to error description on failure
  tests/numa/numa.go
Due: none

Fix kubevirt_virt_controller_ready metric to show new value only if exists at least 1m
  pkg/monitoring/rules/recordingrules/virt.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

UDN: Add managedTap binding support to Kubevirt CR (#3139)
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
Due: none

VMRestore: move vmsnapshot checks to main function
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
Due: none

VMRestore-admitter: remove vmsnapshot logic from restore webhook
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMRestore test: remove test rejecting restore without snapshot
  tests/storage/restore.go
Due: none

VMRestore: Adjust and add UT and functional test
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Due: none

docs, debug: provide a working patch example
  docs/debugging.md
Due: none

docs, debug: describe how to debug a pod remotely
  docs/debugging.md
Due: none

refactor(CNV-51887): move libdv out of functional tests
  pkg/libdv/BUILD.bazel
  pkg/libdv/OWNERS
  pkg/libdv/dv.go
  tests/BUILD.bazel
  tests/clone_test.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/pool_test.go
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/datavolume.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Due: none

tests, network: Format codebase using `gofumpt`
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/network/networkpolicy.go
  tests/network/port_forward.go
  tests/network/primary_pod_network.go
  tests/network/probes.go
  tests/network/sriov.go
  tests/network/vmi_istio.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
Due: none

virt-config, feature-gates: Relocate the macvtap and passt FG
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/deprecation/macvtap.go
  pkg/virt-config/deprecation/passt.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config: Rename `deprecation` package to `featuregate`
  pkg/virt-api/webhooks/fuzz/BUILD.bazel
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmirs-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/BUILD.bazel
  pkg/virt-config/deprecation/feature-gates_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/BUILD.bazel
  pkg/virt-config/featuregate/feature-gates.go
  pkg/virt-config/featuregate/feature-gates_test.go
  pkg/virt-config/featuregate/featuregate_suite_test.go
  pkg/virt-config/featuregate/macvtap.go
  pkg/virt-config/featuregate/passt.go
  pkg/virt-config/featuregate/validator.go
  pkg/virt-config/featuregate/validator_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_test.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix volume enumeration logic so we return the most recent backend PVC
  pkg/storage/export/export/vm-source.go
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
Due: none

fix(tests,vsock): Attach /dev/null to netcat's stdin
  tests/vmi_vsock_test.go
Due: none

vmi-create-admitter, vmi meta: test behavior
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config, fg: Add Alpha and Beta FG state and register all FGs
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/feature-gates.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance
