Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

expansion: track PVC capacity uniformly and prevent disk shrink
  pkg/virt-launcher/virtwrap/disk_expansion.go
  pkg/virt-launcher/virtwrap/disk_expansion_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Retry metrics scrape instead of failing on first error
  tests/infrastructure/prometheus.go
  tests/libmigration/migration.go
  tests/libmonitoring/prometheus.go
  tests/storage/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

hack, BUILD.bazel: Build and push the test-network-vhostuser-dra-binding image
  BUILD.bazel
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
Due: none

sidecar, test-network-vhostuser-dra-binding: Add the vhostuser DRA network binding plugin
  cmd/sidecars/test-network-vhostuser-dra-binding/BUILD.bazel
  cmd/sidecars/test-network-vhostuser-dra-binding/OWNERS
  cmd/sidecars/test-network-vhostuser-dra-binding/README.md
  cmd/sidecars/test-network-vhostuser-dra-binding/callback/BUILD.bazel
  cmd/sidecars/test-network-vhostuser-dra-binding/callback/callback.go
  cmd/sidecars/test-network-vhostuser-dra-binding/callback/callback_suite_test.go
  cmd/sidecars/test-network-vhostuser-dra-binding/callback/callback_test.go
  cmd/sidecars/test-network-vhostuser-dra-binding/domain/BUILD.bazel
  cmd/sidecars/test-network-vhostuser-dra-binding/domain/configurator.go
  cmd/sidecars/test-network-vhostuser-dra-binding/domain/configurator_test.go
  cmd/sidecars/test-network-vhostuser-dra-binding/domain/domain_suite_test.go
  cmd/sidecars/test-network-vhostuser-dra-binding/main.go
  cmd/sidecars/test-network-vhostuser-dra-binding/server/BUILD.bazel
  cmd/sidecars/test-network-vhostuser-dra-binding/server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cbt, backup: Add internal and external export endpoints to pull mode VMBackup
  api/openapi-spec/swagger.json
  pkg/storage/cbt/backup_test.go
  pkg/storage/cbt/pull_mode.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/zz_generated.model_name.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/backup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: consolidate VMI defaults and add mergeable-memory test
  tests/compute/BUILD.bazel
  tests/compute/memory.go
  tests/compute/vmidefaults.go
Due: none

coveragehttp: add coverage flush endpoint, wire into virt-api
  pkg/coveragehttp/coveragehttp.go
  pkg/coveragehttp/coveragehttp_stub.go
Due: none

hack: add --build-cover flag for E2E coverage
  hack/bazel-build-images.sh
Due: none

coveragehttp: add bazel build files for coverage package
  cmd/virt-api/BUILD.bazel
  pkg/coveragehttp/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

coveragecollector: add kv-coverage-collector server
  cmd/kv-coverage-collector/BUILD.bazel
  cmd/kv-coverage-collector/kv-coverage-collector.go
  pkg/coveragecollector/BUILD.bazel
  pkg/coveragecollector/collector.go
  pkg/coveragecollector/collector_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

coveragehttp: emit properly named covdata files on flush
  pkg/coveragehttp/coveragehttp.go
Due: none

coveragehttp: wire into virt-controller, virt-handler, virt-operator
  cmd/virt-controller/BUILD.bazel
  cmd/virt-controller/virt-controller.go
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-operator/BUILD.bazel
  cmd/virt-operator/virt-operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs: document E2E code coverage feature
  docs/e2e-code-coverage.md
Due: none

Add governance link to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Support DRA mdev vGPUs for vGPU Migration
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtctl, evacuate: Provide required argument
  pkg/virt-api/rest/evacuate_cancel_test.go
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/evacuate_cancel.go
  pkg/virtctl/vm/evacuate_cancel_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Rename VGPULiveMigration FG -> MDevVGPULiveMigration
  cmd/virt-launcher/virt-launcher.go
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/options.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook_test.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

netstat: tolerate domain interfaces without alias or MAC
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Due: none

netstat: filter invalid domain interfaces in UpdateStatus
  pkg/network/setup/netstat.go
Due: none

fix(vmi): clear stale PVC scheduling conditions
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

launcher/premigration-hook-server: add to strict linter coverage
  hack/linter/lint-paths.txt
  pkg/virt-launcher/premigration-hook-server/cpuhook/cpu_hook.go
  pkg/virt-launcher/premigration-hook-server/disk/source_path.go
  pkg/virt-launcher/premigration-hook-server/hook_server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

storage/cbt: move memory calculator test to external package
  pkg/storage/cbt/memory_test.go
Due: none

device manager: only garbage-collect mdevs kubevirt configured
  pkg/virt-handler/device-manager/mediated_devices_types.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

device manager: persist managed mdev types across virt-handler restarts
  pkg/virt-handler/device-manager/mediated_devices_types.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Avoid Image volume for launcher binary to fix performance regression
  pkg/container-disk/container-disk.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/rendervolumes_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

dump: skip bazel-build so Prow uses the host-arch dump binary
  Makefile
Due: none

Add s390x CEX DRA e2e covering VM claim and guest AP passthrough
  automation/repeated_test.sh
  automation/test.sh
  tests/compute/BUILD.bazel
  tests/compute/cex_dra.go
  tests/compute/dra.go
  tests/decorators/decorators.go
Due: none

api: add hugepages mode/policy and THPMemoryBacking feature gate
  api/openapi-spec/swagger.json
  pkg/libvmi/memory.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

admit: validate hugepages transparent mode and policy
  pkg/hugepages/BUILD.bazel
  pkg/hugepages/hugepages.go
  pkg/hugepages/hugepages_suite_test.go
  pkg/hugepages/hugepages_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-controller: skip static hugepage pod resources for transparent mode
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

util: require memlock for transparent hugepages
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

converter: use locked immediate memoryBacking for transparent hugepages
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/cpu_test.go
  pkg/virt-launcher/virtwrap/converter/compute/memory_backing.go
  pkg/virt-launcher/virtwrap/converter/compute/memory_backing_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/libvirtxml/convert.go
  pkg/virt-launcher/virtwrap/libvirtxml/libvirtxml_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: collapse transparent hugepage guest RAM
  pkg/hypervisor/BUILD.bazel
  pkg/hypervisor/common/madvise_linux.go
  pkg/hypervisor/common/madvise_unsupported.go
  pkg/hypervisor/kvm/BUILD.bazel
  pkg/hypervisor/kvm/runtime.go
  pkg/hypervisor/mshv/BUILD.bazel
  pkg/hypervisor/mshv/runtime.go
  pkg/hypervisor/virt-runtime.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/thp/BUILD.bazel
  pkg/virt-handler/thp/collapse.go
  pkg/virt-handler/thp/collapse_linux.go
  pkg/virt-handler/thp/collapse_linux_test.go
  pkg/virt-handler/thp/collapse_unsupported.go
  pkg/virt-handler/thp/madvise_stub_linux_test.go
  pkg/virt-handler/thp/maps.go
  pkg/virt-handler/thp/thp_suite_test.go
  pkg/virt-handler/thp/thp_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: skip post-copy for guaranteed transparent hugepages
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/stall-detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: keep attached hotplug volumes in the cgroup device allow list
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: do not require a cgroup manager for migration target cleanup
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-chroot: sync cgroup device rules to systemd
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/cgroup.go
  cmd/virt-chroot/systemd.go
  go.mod
  go.work.sum
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: handle CBT overlay disks in live migration disk operations
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

rpm: Generate CentOS Stream aliases from a list in BUILD.bazel
  Makefile
  hack/bootstrap.sh
  hack/rpm-deps-aliases.sh
  rpm/BUILD.bazel
  rpm/centos_stream.bzl
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

rpm: Bump SeaBIOS to 1.17.0 on CS10
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
