Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

Memorydump: move memory dump code to pkg/storage
  pkg/storage/memorydump/memorydump.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Memorydump: replace Update with Patch
  pkg/storage/memorydump/BUILD.bazel
  pkg/storage/memorydump/memorydump.go
  pkg/storage/memorydump/memorydump_test.go
Due: none

instancetype: Use correct informer store during unit tests
  pkg/instancetype/instancetype_test.go
Due: none

instancetype: Assert fake client used in SpecFinder tests
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/spec_test.go
Due: none

instancetype: Extract SpecFinder unit tests
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/find_suite_test.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/instancetype_test.go
Due: none

Enable VMI live migration with a virtiofs filesystem
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Stop setting TypeMeta within SpecFinder tests
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/spec_test.go
Due: none

instancetype: Use MatchError within SpecFinder tests
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/spec_test.go
Due: none

instancetype: Extract preference SpecFinder unit tests
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/find_suite_test.go
  pkg/instancetype/preference/find/spec_test.go
Due: none

instancetype: Use HaveValue within SpecFinder tests
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/spec_test.go
Due: none

Virtiofs live migration unit tests
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Address final SpecFinder review comments
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/spec_test.go
Due: none

Enable virtiofsd live migration
  pkg/virt-controller/services/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Remove object from correct informer when testing SpecFinder
  pkg/instancetype/find/spec_test.go
Due: none

Virtiofs live migration functional test
  tests/libstorage/pvc.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: none

instancetype: Use libvmi within SpecFinder tests
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/spec_test.go
Due: none

tests/infra/prometheus: add prometheus namespace flag to [test_id:4135]
  tests/flags/flags.go
  tests/infrastructure/prometheus.go
Due: none

virt-handler, vm ctrl: Extract nets filtering logic for NIC hot{un}plug
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Allow bubbling up libvirt errors for reset of non running vmi
  pkg/virt-api/rest/subresource.go
  pkg/virtctl/reset/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add rbac for VMI reset
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  tests/access_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

virt-handler, vm ctrl: Extract nets filtering logic for migration target
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VM Reset PoC
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virtctl/BUILD.bazel
  pkg/virtctl/reset/BUILD.bazel
  pkg/virtctl/reset/reset.go
  pkg/virtctl/reset/reset_suite_test.go
  pkg/virtctl/reset/reset_test.go
  pkg/virtctl/root.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
  tests/BUILD.bazel
  tests/reset_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

chore: remove lll tag in preference/requirements unit test code
  pkg/instancetype/preference/requirements/cpu_test.go
  pkg/instancetype/preference/requirements/memory_test.go
Due: none

Add test case to reset command for vm not found
  pkg/virtctl/reset/reset_test.go
Due: none

Remove reset pre-validation in favor of post validation
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virtctl/reset/reset_test.go
  tests/compute/subresources/reset.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

review feedback enhancements to reset functionality
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virtctl/reset/BUILD.bazel
  pkg/virtctl/reset/reset.go
  pkg/virtctl/reset/reset_test.go
  tests/reset_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

access-credentials: test: Fix race in unit test.
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Adjust reset unit tests to account for test package refactor
  pkg/virtctl/reset/reset_test.go
Due: none

virt-handler, vm ctrl: Extract nets filtering logic for VM startup
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

feat: move preference requirements unit tests to correct packages
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/cpu_test.go
  pkg/instancetype/preference/requirements/memory_test.go
  pkg/instancetype/preference/requirements/requirements_suite_test.go
Due: none

Move vmi reset func test to lifecycle tests
  api/openapi-spec/swagger.json
  pkg/virtctl/reset/reset.go
  tests/BUILD.bazel
  tests/reset_test.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Better human readable reset error message
  pkg/virt-api/rest/subresource.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Run go run ./robots/cmd/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Move reset tests to subresource package
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/reset.go
  tests/vmi_lifecycle_test.go
Due: none

virt-handler, cmdclient: remove redundant type conversion
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/ephemeral-provider-common.sh
  kubevirtci/cluster-up/cluster/k8s-provider-common.sh
  kubevirtci/cluster-up/cluster/kind-sriov/provider.sh
  kubevirtci/cluster-up/cluster/kind/common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

virt-launcher, converter_test: remove redandunt types in composite literals
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

pkg/util: move UseSoftwareEmulationForDevice to its single user
  pkg/util/util.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

pkg/util: move needVirtioNetDevice to its single user
  pkg/util/util.go
  pkg/virt-controller/services/renderresources.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
