Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Expose filesystem quiesce status via Quiesced condition
  api/openapi-spec/swagger.json
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

backend-storage: remove hardcoded UID from migration recovery job
  cmd/virt-launcher/qemu
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

automation: Integrate new lane for emulated SR-IOV
  automation/test.sh
Due: none

Add kubevirt_vmi_gpu_info metric to correlate GPU UUIDs with VMIs
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/gpuinfo/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/gpuinfo/collector.go
  pkg/monitoring/metrics/virt-handler/gpuinfo/collector_test.go
  pkg/monitoring/metrics/virt-handler/gpuinfo/gpu_metrics.go
  pkg/monitoring/metrics/virt-handler/gpuinfo/gpuinfo_suite_test.go
  pkg/monitoring/metrics/virt-handler/gpuinfo/podresources/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/gpuinfo/podresources/api.pb.go
  pkg/monitoring/metrics/virt-handler/gpuinfo/podresources/api.proto
  pkg/monitoring/metrics/virt-handler/metrics.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

hotplug_sriov: Use Fedora image instead of Alpine
  tests/network/hotplug_sriov.go
Due: none

Add Nebius as an adopter
  ADOPTERS.md
Due: none

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

build: changes from make generate
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  vendor/google.golang.org/grpc/internal/resolver/dns/internal/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

lint: fix linter errors following update of golangci-lint
  cmd/sidecars/network-passt-binding/main.go
  pkg/network/driver/virtchroot/tap.go
  pkg/virtctl/ssh/ssh.go
  tests/conformance/conformance.go
  tests/infrastructure/tls-configuration.go
  tests/libpod/certs.go
  tests/virtctl/usbredir.go
  tests/virtctl/vnc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Build KubeVirt with go v1.25.8
  WORKSPACE
  go.mod
  go.work
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

build: disable cc toolchain resolution for alt virtctl platforms
  hack/bazel-build.sh
  hack/bazel-test.sh
  hack/coverage.sh
Due: none

build: update golang-ci lint version to v2.4.0 for go v1.25
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

virt-api: add X-Content-Type-Options: nosniff security header
  pkg/rest/filter/BUILD.bazel
  pkg/rest/filter/filter.go
  pkg/rest/filter/filter_suite_test.go
  pkg/rest/filter/filter_test.go
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sriov: Skip NAD link_state enablement for emulated SR-IOV
  tests/flags/flags.go
  tests/network/sriov.go
Due: none

build: bump builder deps to build with go v1.25
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

tests: add T1 alert-firing e2e tests
  tests/monitoring/component_monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Add existing known api violations flagged due to newer openapi-gen
  api/api-rule-violations-known.list
  api/api-rule-violations.list
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sriov: Read NUMA sysfs from node via virt-launcher pod
  tests/network/sriov.go
Due: none

Revert "Merge pull request #18134 from nirdothan/passt/quaratine-e2e"
  tests/network/passt.go
Due: none

plugins, pipeline: fix plugin-level Condition and FailureStrategy eval
  pkg/virt-launcher/virtwrap/plugins/pipeline.go
  pkg/virt-launcher/virtwrap/plugins/pipeline_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Strip managed-by label from virt-template bundle resources
  pkg/virt-operator/resource/generate/components/virttemplate.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: fix coverage_files glob to match k8s-fastbuild* for goveralls
  BUILD.bazel
  hack/coverage.sh
Due: none

plugins, admission: validate plugin-level Condition CEL expression
  pkg/virt-api/webhooks/validating-webhook/admitters/plugin-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/plugin-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Graduate Template feature gate to Beta
  pkg/storage/admitters/vmexport_test.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  tests/infrastructure/tls-configuration.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

lint: temporarily disable goconst linter checks
  hack/linter/.golangci.yml
Due: none

lint: fix issues raised by updated golangci-lint
  cmd/virt-exportserver/virt-exportserver.go
  pkg/downwardmetrics/scraper/hostmetrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/virt-handler/ksm/ksm.go
  pkg/virtctl/create/params/params.go
  tests/decorators/sigs.go
  tests/framework/matcher/helper/reflect.go
  tests/instancetype/memory_overcommit.go
  tests/libpod/certs.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Formatting changes from make generate
  pkg/handler-launcher-com/cmd/info/info.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/notify/info/info.pb.go
  pkg/handler-launcher-com/notify/v1/notify.pb.go
  pkg/hooks/info/api_info.pb.go
  pkg/hooks/v1alpha1/api_v1alpha1.pb.go
  pkg/hooks/v1alpha2/api_v1alpha2.pb.go
  pkg/hooks/v1alpha3/api_v1alpha3.pb.go
  pkg/storage/cbt/nbd/v1/nbd.pb.go
  pkg/synchronizer-com/synchronization/v1/synchronization.pb.go
  pkg/vsock/system/v1/system.pb.go
Due: none

builder: update golangci-lint to v2.12.4 and use recommended install script
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

build: update builder image to include changes
  hack/dockerized
Due: none

rpm: Update passt and run make rpm-deps on both centos 9 and 10
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Build KubeVirt with go 1.26.4
  WORKSPACE
  go.mod
  go.work
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

pkg/storage/export: fix exit code printf verb
  pkg/storage/export/virt-exportserver/exportserver.go
Due: none

build: changes required from make generate
  pkg/hooks/plugins/v1alpha1/api.pb.go
Due: none

network, api: Add PortRanges for masquerade interfaces (VEP 168)
  api/openapi-spec/swagger.json
  pkg/network/admitter/admit_suite_test.go
  pkg/network/admitter/netiface.go
  pkg/network/admitter/netiface_test.go
  pkg/network/admitter/validator.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/masquerade/masquerade.go
  pkg/network/setup/netpod/masquerade/masquerade_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-199: verify assigned Grace host devices
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/grace.go
  pkg/virt-launcher/virtwrap/converter/grace_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Addressed review comments
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Switching VM to Fedora for cancel migration tests
  tests/migration/namespace.go
Due: none

feat: VEP 222: add namespace-aware VSOCK dialing
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  hack/linter/lint-paths.txt
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/console.go
  pkg/virt-handler/vsock/BUILD.bazel
  pkg/virt-handler/vsock/dial.go
  pkg/virt-handler/vsock/dial_test.go
  pkg/virt-handler/vsock/vsock_suite_test.go
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/vsock.go
  pkg/virt-launcher/virtwrap/converter/compute/vsock_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/vsock/BUILD.bazel
  pkg/vsock/constants.go
  pkg/vsock/mode/BUILD.bazel
  pkg/vsock/mode/mode.go
  pkg/vsock/mode/mode_suite_test.go
  pkg/vsock/mode/mode_test.go
  tests/vmi_vsock_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Increase IOMMUFD socket accept timeout to 15 minutes
  pkg/virt-handler/device-manager/iommufd_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Move VSOCK code outside of virt-handler and extract method
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  hack/linter/lint-paths.txt
  pkg/virt-handler/rest/console.go
  pkg/vsock/server/BUILD.bazel
  pkg/vsock/server/server.go
  pkg/vsock/system/BUILD.bazel
  pkg/vsock/system/system.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
