Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Refactoring: extract verifyPeerCert function
  pkg/util/webhooks/tls.go
Due: none

Use kubevirt tlsConfiguration in TLS config
  cmd/virt-handler/virt-handler.go
  pkg/util/webhooks/BUILD.bazel
  pkg/util/webhooks/tls.go
  pkg/util/webhooks/tls_test.go
  pkg/virt-api/api.go
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/application.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Don't increase the overwrittenModifications metric during upgrade (#2072)
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/operandHandler.go
  controllers/operands/operand_test.go
Due: none

Fix the smoke test (#2077)
  hack/kv-smoke-tests.sh
Due: none

Use oc binary in functest container if on Openshift (#2075)
  build/Dockerfile.functest
  build/Dockerfile.functest.ci
  hack/run-tests.sh
Due: none

virt-controller, Expose network-pci-map with DownwardAPI
  pkg/network/sriov/sriov.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-launcher, sriov: Use new Network to PCI map with fallback
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/pcipool_netstatus.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/pcipool_netstatus_test.go
  tests/network/sriov.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, sriov: Map sriov devices to pci addresses
  Makefile
  pkg/network/sriov/BUILD.bazel
  pkg/network/sriov/sriov.go
  pkg/network/sriov/sriov_suite_test.go
  pkg/network/sriov/sriov_test.go
Due: none

virt-controller, vmi: Patch network-pci map annotation
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/network/sriov/sriov.go
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add sanity tests for Kubevirt alerts
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

SECURITY: Drop suggested PGP encryption of security notices
  SECURITY.md
Due: none

SECURITY: Add vendor security teams
  SECURITY.md
Due: none

Add validation for TLSConfiguration
  pkg/util/webhooks/tls.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: none

Move tls files to its own package
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/util/tls/BUILD.bazel
  pkg/util/tls/ca-manager.go
  pkg/util/tls/ca-manager_test.go
  pkg/util/tls/tls.go
  pkg/util/tls/tls_suite_test.go
  pkg/util/tls/tls_test.go
  pkg/util/webhooks/BUILD.bazel
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move dv and pvc related code from virt controller vmi
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/dv.go
  pkg/storage/types/dv_test.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/util/util.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move dv and pvc related code from virt controller vm
  pkg/controller/conditions.go
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move cdi related code to pkg storage types
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/cdi.go
  pkg/storage/types/pvc.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move generate pvc code to pkg storage
  pkg/storage/types/pvc.go
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
Due: none

Address review comments
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Propagate tlsConfiguration to virt-exportproxy
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportproxy/virt-exportproxy.go
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/util/tls/tls.go
  pkg/util/tls/tls_test.go
  pkg/virt-operator/resource/generate/rbac/exportproxy.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
Due: none

safepath: improving error messages
  pkg/hotplug-disk/hotplug-disk.go
  pkg/safepath/safepath.go
  pkg/virt-handler/hotplug-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

SECURITY: Add SUSE receiver
  SECURITY.md
Due: none

Expose the webhook with configured TLS config (#2051)
  .gitleaks.toml
  api/v1beta1/hyperconverged_webhook.go
  build/Dockerfile.functest
  build/Dockerfile.functest.ci
  cmd/hyperconverged-cluster-webhook/main.go
  controllers/commonTestUtils/clusterMock.go
  controllers/commonTestUtils/managerMock.go
  controllers/webhooks/controller.go
  controllers/webhooks/controller_test.go
  controllers/webhooks/webhooks_suite_test.go
  go.mod
  go.sum
  hack/check_tlsprofile.sh
  hack/run-tests-in-container.sh
  hack/run-tests.sh
  hack/tlsprofiles/custom.expected
  hack/tlsprofiles/custom.expected.fips
  hack/tlsprofiles/intermediate.expected
  hack/tlsprofiles/intermediate.expected.fips
  hack/tlsprofiles/modern.expected
  hack/tlsprofiles/modern.expected.fips
  hack/tlsprofiles/old.expected
  hack/tlsprofiles/old.expected.fips
  pkg/webhooks/setup.go
  pkg/webhooks/setup_test.go
  pkg/webhooks/testFiles/apiserver.crt
  pkg/webhooks/testFiles/apiserver.key
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/rotation.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/authentication/user/doc.go
  vendor/k8s.io/apiserver/pkg/authentication/user/user.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

vendor, Bump multus-client to v1.3.0
  go.mod
  go.sum
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/.travis.yml
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/types.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

Bump HPP to v0.14.0 (#2076)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Changes VmCirrosInstancetypeComputeSmall to VmCirrosClusterInstancetypeComputeSmall
  examples/vm-cirros-cluster-csmall.yaml
  tools/vms-generator/utils/utils.go
Due: none

kubevirt, Remove deprecated SR-IOV-Live Migration feature gate (#2067)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/build-tests.sh
  hack/check_defaults.sh
  pkg/components/components.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/k8s-1.24-psa/provider.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

e2e test: Cover tlsConfiguration with functest
  cmd/virt-exportproxy/BUILD.bazel
  tests/BUILD.bazel
  tests/infra_test.go
  tests/operator_test.go
  tests/storage/export.go
  tests/testsuite/fixture.go
Due: none

network, vmispec: Move multus network filtering helper
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/network.go
  pkg/network/vmispec/network_test.go
  pkg/network/vmispec/vmispec_suite_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/multus_annotations.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-launcher, sriov: Drop redundant function filterVMISRIOVInterfaces
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/vmispec.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, vmispec: Refactor FilterMultusNonDefaultNetworks
  pkg/network/vmispec/network.go
Due: none

network: Introduce the namescheme package
  pkg/network/link/BUILD.bazel
  pkg/network/link/address_test.go
  pkg/network/namescheme/BUILD.bazel
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_suite_test.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/network.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
  pkg/network/setup/podnic_test.go
Due: none

network, namescheme: Consolidate pod interface names
  pkg/network/namescheme/BUILD.bazel
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/podnic.go
  pkg/network/vmispec/network.go
  pkg/network/vmispec/network_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/multus_annotations.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, sriov: Map sriov devices to pci addresses
  pkg/network/sriov/BUILD.bazel
  pkg/network/sriov/sriov.go
  pkg/network/sriov/sriov_suite_test.go
  pkg/network/sriov/sriov_test.go
Due: none

virt-controller, Expose network-pci-map with DownwardAPI
  pkg/network/sriov/sriov.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance
