Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Update libvirt: 9.0.0 -> 9.5.0
  hack/rpm-deps.sh
Due: none

Update guestfs-tools: 1.48.2 -> 1.50.1
  hack/rpm-deps.sh
Due: none

Update passt: 20221110 -> 20230818
  hack/rpm-deps.sh
Due: none

Update edk2: 20230301 -> 20230524
  hack/rpm-deps.sh
Due: none

Update qemu: 7.2.0 -> 8.0.0
  hack/rpm-deps.sh
Due: none

Update libguestfs: 1.48.4 -> 1.50.1
  hack/rpm-deps.sh
Due: none

make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

Bump KUBEVIRT_CONSOLE_PLUGIN to v4.14.0 (#2501)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  hack/config
Due: none

fix syntax errors
  docs/README.md
  docs/container-empty-disks.md
Due: none

Fix flaky node labeller test
  tests/infrastructure/node-labeller.go
Due: none

Filter out Nodes which are marked as unschedulable in GetAllSchedulableNodes
  tests/libnode/BUILD.bazel
  tests/libnode/node.go
Due: none

Add flag to decompress gzip downloads
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Due: none

Updated for 0.59 not being able to modify the values throught the kubevirt config.
  pkg/storage/export/export/export_test.go
  pkg/virt-controller/services/renderresources.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/export.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump ancillary images (#2502)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Add preference label to vmi_phase_count metric
  pkg/monitoring/vmistats/collector.go
  pkg/monitoring/vmistats/collector_test.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Add instancetype label to vmi_phase_count metric
  pkg/monitoring/vmistats/BUILD.bazel
  pkg/monitoring/vmistats/collector.go
  pkg/monitoring/vmistats/collector_test.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Use informers to get it/p per VMI and not list
  pkg/monitoring/vmistats/BUILD.bazel
  pkg/monitoring/vmistats/collector.go
  pkg/monitoring/vmistats/collector_test.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

virt-launcher: Fix host-device metadata key calculation
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix typos.
  hack/bazel-fmt.sh
  hack/bazel-generate.sh
  hack/cluster-build.sh
  hack/generate.sh
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

LowestTSCFrequencyOnCluster: Consider only schedulable nodes
  pkg/virt-controller/watch/topology/hinter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add Or() and IsNodeRunningVmis() predicates for TSC filtering
  pkg/virt-controller/watch/topology/filter.go
  pkg/virt-controller/watch/topology/hinter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

unit test: Or() and IsNodeRunningVmis() filters
  pkg/virt-controller/watch/topology/filter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Quarantine flaky downward metrics test
  tests/infrastructure/downward-metrics.go
Due: none

Merge format-related flags in vmexport into a single "--format" flag
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/k8s-1.25/provider.sh
  cluster-up/cluster/kind/common.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

ga report: should always contain a complete domain info
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network setup passt: Execute passt through Libvirt API
  pkg/network/domainspec/BUILD.bazel
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/network/domainspec/interface.go
  pkg/virt-launcher/virtwrap/converter/network.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network, istio: Change ReservedPorts() to return []int
  pkg/network/domainspec/generators.go
  pkg/network/istio/ports.go
  pkg/network/setup/masquerade/masquerade.go
Due: none

api: Extend domain schema for user space networking
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network setup, status update: Do not add passt interface explicitly
  pkg/network/setup/netstat.go
Due: none

tests, reporter: Dump passt logs
  tests/reporter/kubernetes.go
Due: none

DownwardMetrics: Refactor scraper
  pkg/monitoring/domainstats/downwardmetrics/scraper.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

DownwardMetrics: Add virtio-serial socket libvirt xml converter
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/downwardmetrics.go
  tests/BUILD.bazel
  tests/libvmi/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

DownwardMetrics: Add functional tests
  tests/BUILD.bazel
  tests/infrastructure/downward-metrics.go
  tests/libinfra/metrics.go
  tests/libvmi/vmi.go
  tests/migration/migration.go
  tests/utils.go
Due: none

DownwardMetrics: Add channel directory
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/downwardmetrics/BUILD.bazel
  pkg/downwardmetrics/downwardmetrics.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

DownwardMetrics: Add new API field for virtio serial and admitter
  api/openapi-spec/swagger.json
  pkg/downwardmetrics/downwardmetrics.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

DownwardMetrics: Add virtio-serial server
  pkg/downwardmetrics/virtio-serial/BUILD.bazel
  pkg/downwardmetrics/virtio-serial/server.go
  pkg/downwardmetrics/virtio-serial/server_suite_test.go
  pkg/downwardmetrics/virtio-serial/server_test.go
Due: none

DownwardMetrics: Add DownwardMetrics servers manager
  pkg/virt-handler/dmetrics-manager/BUILD.bazel
  pkg/virt-handler/dmetrics-manager/dmetrics-manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance
