Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

Fix dependabot alerts on the release-notes tool (#2332)
  tools/release-notes/go.mod
  tools/release-notes/go.sum
Due: none

api: Deprecate core API version v1alpha3
  manifests/generated/kv-resource.yaml
  staging/src/kubevirt.io/api/core/v1/BUILD.bazel
  staging/src/kubevirt.io/api/core/v1/register.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

api: Update examples and docs to v1
  cmd/container-disk-v2alpha/README.md
  docs/updates.md
  manifests/release/demo-content.yaml.in
  staging/src/kubevirt.io/api/core/v1/doc.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

kubecli: Fix unit tests after StorageVersion change
  staging/src/kubevirt.io/client-go/kubecli/kv_test.go
  staging/src/kubevirt.io/client-go/kubecli/migration_test.go
  staging/src/kubevirt.io/client-go/kubecli/replicaset_test.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  staging/src/kubevirt.io/client-go/kubecli/vmipreset_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

api: Move the core API storage version to v1
  manifests/generated/kv-resource.yaml
  staging/src/kubevirt.io/api/core/v1/register.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller: render hp-volume- pod should respect blockdevices
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

test: add unittest to check the template of hotplug volume
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adds step to run functional test with Kubevirt CI (#2315)
  docs/functest-container.md
Due: none

multi-arch: format the arch name in BUILD_ARCH
  hack/multi-arch.sh
Due: none

multi-arch: format the arch name for image tag
  hack/multi-arch.sh
Due: none

Bump HPPO to v0.16.0 (#2336)
  deploy/crds/hostpath-provisioner00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Make build basesystem configurable
  Makefile
  hack/rpm-deps.sh
Due: none

Update custom-rpms README
  docs/custom-rpms.md
Due: none

[func-tests] refactor updateHCO (#2338)
  tests/func-tests/dict_test.go
  tests/func-tests/monitoring_test.go
  tests/func-tests/utils.go
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/onsi/ginkgo/v2/.gitignore
  tests/vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  tests/vendor/github.com/onsi/ginkgo/v2/ginkgo_t_dsl.go
  tests/vendor/github.com/onsi/ginkgo/v2/internal/interrupt_handler/interrupt_handler.go
  tests/vendor/github.com/onsi/ginkgo/v2/internal/output_interceptor_unix.go
  tests/vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  tests/vendor/github.com/onsi/ginkgo/v2/internal/testingtproxy/testing_t_proxy.go
  tests/vendor/github.com/onsi/ginkgo/v2/internal/writer.go
  tests/vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  tests/vendor/github.com/onsi/ginkgo/v2/types/deprecation_support.go
  tests/vendor/github.com/onsi/ginkgo/v2/types/version.go
  tests/vendor/modules.txt
Due: none

[kubevirtci] test locally on k8s-1.26-centos9 by default (#2337)
  cluster/kubevirtci.sh
  docs/functest-container.md
Due: none

Refactor list of alerts and recording rules
  docs/metrics.md
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/prometheus.go
  tools/doc-generator/BUILD.bazel
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add kubevirt_number_of_vms recording rule
  docs/metrics.md
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add e2e tests
  tests/monitoring/prometheus_utils.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Fix gomega expressions without assertions (#2334)
  controllers/operands/cliDownload_test.go
  controllers/operands/kubevirtConsolePlugin_test.go
  controllers/operands/kubevirt_test.go
Due: none

Add metrics name linter
  Makefile
  hack/metric_name_linter.sh
  tools/prom-metric-linter/BUILD.bazel
  tools/prom-metric-linter/custom_linter_rules.go
  tools/prom-metric-linter/metric_name_linter.go
  tools/prom-metric-linter/metrics_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/testutil/promlint/promlint.go
Due: none

Bump HPP to v0.16.0 (#2339)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

sig-scale: export the audit tool result to files in ARTIFACTS directory
  tests/performance/density.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[Func test] Remove the VMI creation loop (#2335)
  tests/func-tests/node_placement_test.go
Due: none

network plumbing: Use non-ordinal naming for virt-launcher pod interfaces
  pkg/network/link/names_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/network_test.go
  pkg/network/sriov/sriov_test.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/vmi_test.go
  tests/network/vmi_multus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network, name scheme: Add factory for ordinal name-scheme
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
Due: none

network, link: Generate tap device name according to name scheme
  pkg/network/link/names.go
  pkg/network/link/names_test.go
Due: none

virt-handler, macvtap: Set ownership of the correct macvtap device
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
  pkg/virt-handler/non-root_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller, migration: Use the source pod network name-scheme
  pkg/network/namescheme/networknamescheme.go
  pkg/virt-controller/services/multus_annotations.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller, hotplug: Use the same name-scheme as other interfaces
  pkg/virt-controller/services/multus_annotations.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network, namescheme:Introduce CreateNetworkNameSchemeByPodNetworkStatus
  pkg/network/namescheme/BUILD.bazel
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
Due: none

network setup: Pick the actual pod interface name
  pkg/network/link/BUILD.bazel
  pkg/network/link/discovery.go
  pkg/network/link/discovery_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
Due: none

network setup, bridge: Generate bridge interface name at discovery stage
  pkg/network/infraconfigurators/bridge.go
  pkg/network/infraconfigurators/bridge_test.go
  pkg/network/link/names.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
Due: none

virt-launcher, network setup: Do not create podNIC for SR-IOV networks
  pkg/network/setup/network.go
Due: none

virt-controller: Update infoSource of interfaces with ordinal name
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

wip change pod interface prefix to "pod"
  pkg/network/link/discovery_test.go
  pkg/network/link/names.go
  pkg/network/link/names_test.go
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/network_test.go
  pkg/network/sriov/sriov_test.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add condition that indicates that migration was rejected by ResourceQuota
  pkg/virt-controller/watch/migration.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add functional test for new condition Migration should contain condition when migrating with quota that doesn't have resources for both source and target.
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add /apis as unAuth enpoint
  pkg/virt-api/rest/authorizer.go
  pkg/virt-api/rest/authorizer_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix and improve implemention of `buildDevicesMetadata` method
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
