Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Add IOMMUFD device plugin tests
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/iommufd_device.go
  pkg/virt-handler/device-manager/iommufd_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add IOMMUFD device resource to virt-controller
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add E2E test for DRA Support
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/dra_test.go
Due: none

Bump github.com/moby/spdystream from v0.5.0 to v0.5.1 Address CVE-2026-35469 (GHSA-pc3f-x583-g7j2), a resource exhaustion vulnerability in the SPDY/3 protocol implementation
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/BUILD.bazel
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: none

chore(virtiofs): Split test decorators for config and storage volumes
  tests/decorators/decorators.go
  tests/migration/migration.go
  tests/virtiofs/config.go
  tests/virtiofs/containerpath.go
  tests/virtiofs/datavolume.go
Due: none

Bump libvirt and qemu to latest available versions
  WORKSPACE
  go.work.sum
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

WIP test commit
  automation/test.sh
Due: none

tests: align Fedora test memory overrides
  tests/libvmifact/factory.go
  tests/migration/paused.go
  tests/migration/postcopy.go
  tests/storage/backup.go
  tests/storage/datavolume.go
  tests/storage/restore.go
Due: none

docs: Add section on documenting cherry-pick conflicts
  docs/release-branch-backporting.md
Due: none

Automated update of virt-template to v0.2.0
  hack/virt-template/default.sh
  images/virt-template/deps.bzl
  manifests/generated/kubevirt-network-policies.yaml.in
  pkg/virt-operator/resource/generate/components/data/virt-template/install-virt-operator.yaml
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update test expectations for virt-template v0.2.0
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/virttemplate_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add FirmwareAutoSelection feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add libvirt firmware auto-selection types to domain schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add firmware auto-selection to domain converter
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Wire firmware auto-selection through virt-controller and virt-launcher
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add e2e test for firmware auto-selection with EFI Secure Boot
  tests/vmi_configuration_test.go
Due: none

Set format='raw' on NVRAM element for firmware auto-selection
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Skip NVRAM element for ARM64 firmware auto-selection
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

chore(tests): Add missing virtiofs decorator
  tests/virtiofs/datavolume.go
Due: none

e2e, net, tests: validate guest only iface order/limit in status
  tests/network/BUILD.bazel
  tests/network/vmi_infosource.go
Due: none

tests: stabilize vsock guest-agent copy verification
  tests/vmi_vsock_test.go
Due: none

Add VMTemplate source handler and controller wiring
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/controller/BUILD.bazel
  pkg/controller/virtinformers.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/backup-source.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/export/vmtemplate-source.go
  pkg/storage/export/export/vmtemplate-source_test.go
  pkg/virt-config/configuration.go
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add VMTemplate OCI artifact types and parameterize Builder
  pkg/storage/export/virt-exportserver/oci.go
  pkg/storage/oci/oci.go
  pkg/storage/oci/oci_test.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/k8s-1.35/provider.sh
  kubevirtci/cluster-up/cluster/k8s-1.36/provider.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

operator: decouple kv and k8s clientset
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/crds_test.go
  pkg/virt-operator/resource/apply/delete.go
  pkg/virt-operator/resource/apply/delete_test.go
  pkg/virt-operator/resource/apply/instancetype_test.go
  pkg/virt-operator/resource/apply/instancetypes.go
  pkg/virt-operator/resource/apply/pdb_test.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/prometheus_test.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/rbac_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/scc_test.go
  pkg/virt-operator/resource/apply/ssc.go
  pkg/virt-operator/resource/generate/install/BUILD.bazel
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/strategy.go
  pkg/virt-operator/strategy_job.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

operator: standardize client names
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/crds_test.go
  pkg/virt-operator/resource/apply/delete.go
  pkg/virt-operator/resource/apply/instancetype_test.go
  pkg/virt-operator/resource/apply/instancetypes.go
  pkg/virt-operator/resource/apply/pdb_test.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/prometheus_test.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/rbac_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/scc_test.go
  pkg/virt-operator/resource/apply/ssc.go
  pkg/virt-operator/strategy.go
  pkg/virt-operator/strategy_job.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

pkg/controller: standardize client names
  pkg/controller/virtinformers.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

monitoring: add namespace label to component alerts and validate in E2E
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/BUILD.bazel
  pkg/monitoring/rules/alerts/alerts.go
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/rules_test.go
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

monitoring: make Virt*Down alerts self-diagnosing
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/BUILD.bazel
  pkg/monitoring/rules/alerts/alert_expressions.go
  pkg/monitoring/rules/alerts/alert_expressions_test.go
  pkg/monitoring/rules/alerts/alerts.go
  pkg/monitoring/rules/alerts/alerts_suite_test.go
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  pkg/monitoring/rules/alerts/virt-operator.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Add functional tests for allowMigrationNetworkFallback
  tests/libmigration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: none

Implement allowMigrationNetworkFallback in virt-handler
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/migration.go
  pkg/virt-handler/migration_test.go
  pkg/virt-operator/util/BUILD.bazel
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add allowMigrationNetworkFallback to MigrationConfiguration
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-handler/migration.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Resolve migration IP after cache sync for allowMigrationNetworkFallback
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-handler/virt-handler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add T1 alert-firing e2e tests
  tests/monitoring/component_monitoring.go
  tests/monitoring/monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

tools/vms-generator: fix additional spelling mistakes
  tools/vms-generator/utils/utils.go
Due: none

tools/vms-generator: regenerate manifests and format code
  examples/non-preemptible.yaml
  examples/preemptible.yaml
Due: none

virt-operator: only create route.openshift.io RBAC on OpenShift
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/install/strategy_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add IOMMU domain XML schema types
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
