Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

bugfix: apply overcommit memory only whenever necessary
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

unit test: apply overcommit memory only whenever necessary
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Revert "memory overcommit: handle at the pod creation level"
  pkg/defaults/defaults.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Revert "memory overcommit test: move to the appropriate location"
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

enable alpine test tooling tests on s390x
  tests/hotplug/pci-ports.go
  tests/migration/migration.go
  tests/migration/namespace.go
  tests/vmi_cloudinit_test.go
Due: none

chore(virt-handler,filewatcher): Increase test interval
  pkg/virt-handler/filewatcher/filewatcher_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix(virt-handler): Correctly set up test suites
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Refactored into a different strucuture for SNP and added all available SNP settings from libvirt
  api/openapi-spec/swagger.json
  hack/bootstrap.sh
  pkg/libvmi/sev.go
  pkg/util/amd64.go
  pkg/util/util.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/efi/efi.go
  pkg/virt-launcher/virtwrap/efi/efi_test.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/console/console.go
  tests/launchsecurity/sev.go
  tests/reporter/kubernetes.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update github.com/imdario/mergo to dario.cat/mergo
  go.mod
  go.sum
  go.work.sum
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/prometheus.go
  vendor/dario.cat/mergo/.deepsource.toml
  vendor/dario.cat/mergo/.gitignore
  vendor/dario.cat/mergo/.travis.yml
  vendor/dario.cat/mergo/BUILD.bazel
  vendor/dario.cat/mergo/CODE_OF_CONDUCT.md
  vendor/dario.cat/mergo/CONTRIBUTING.md
  vendor/dario.cat/mergo/FUNDING.json
  vendor/dario.cat/mergo/LICENSE
  vendor/dario.cat/mergo/README.md
  vendor/dario.cat/mergo/SECURITY.md
  vendor/dario.cat/mergo/doc.go
  vendor/dario.cat/mergo/map.go
  vendor/dario.cat/mergo/merge.go
  vendor/dario.cat/mergo/mergo.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

mac: Map device mac addresses to network names
  pkg/network/deviceinfo/BUILD.bazel
  pkg/network/deviceinfo/macaddress.go
  pkg/network/deviceinfo/macaddress_test.go
Due: none

DownwardAPI: Extend NetworkInfo with device Mac address
  pkg/network/downwardapi/networkinfo.go
  pkg/network/downwardapi/networkinfo_test.go
  pkg/network/downwardapi/types.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Due: none

build: bump to go v1.24.9
  WORKSPACE
  hack/builder/Dockerfile
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

Migration ctrl unit: De-dup imports
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Migration unit: Remove sprintf
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Migration unit: inline variable declaration
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Migration unit: Remove newPDB
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Migration gc unit: Lower runtime
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests/infrastructure/prometheus.go: Replace Skip
  tests/infrastructure/prometheus.go
Due: none

VMI configuration test: Remove Skip
  tests/vmi_configuration_test.go
Due: none

VM test: Replace Skip
  tests/vm_test.go
Due: none

Replicaset test: Replace Skip
  tests/replicaset_test.go
Due: none

MDEV test: Remove Skip
  tests/mdev_configuration_allocation_test.go
Due: none

Container_disk_test: Convert Skip to Fail
  automation/test.sh
  tests/container_disk_test.go
  tests/decorators/decorators.go
Due: none

Compute parallel: Skip storage required tests
  automation/test.sh
Due: none

test_id:4632: Increase memory for Cirros in order to boot
  tests/vmi_configuration_test.go
Due: none

Prometheus test: Remove skip on IPv6
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Due: none

test_id:4632: Fix failed memory write
  tests/vmi_configuration_test.go
Due: none

build: update to builder image with go v1.24.9
  hack/dockerized
Due: none

Add E2E tests for VMpool update strategy
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter_test.go
  pkg/virt-controller/watch/pool/pool.go
  tests/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind-1.32-dra/image
  kubevirtci/cluster-up/cluster/kind-1.32-dra/version
  kubevirtci/cluster-up/cluster/kind-1.33/image
  kubevirtci/cluster-up/cluster/kind-1.33/version
  kubevirtci/cluster-up/cluster/kind-1.34/image
  kubevirtci/cluster-up/cluster/kind-sriov/image
  kubevirtci/cluster-up/cluster/kind-sriov/version
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

net, generator: Preserve ext entries in k8s.v1.cni.cncf.io/networks
  pkg/network/multus/annotation.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Due: none

virt-controller: move remaining memory request code to resource renderer
  pkg/defaults/defaults.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/vm/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

vmi mutator/admitter: remove obsolete unit tests
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add E2E tests for Autohealing strategy
  tests/pool_test.go
Due: none

Revert "memory overcommit: handle at the pod creation level instead of as a VMI creation default"
  pkg/defaults/defaults.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Migration: Optimize listMatchingTargetPods
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add custom-metadata field to cloud-init
  api/openapi-spec/swagger.json
  docs/cloud-init.md
  go.mod
  pkg/cloud-init/BUILD.bazel
  pkg/cloud-init/cloud-init.go
  pkg/cloud-init/cloud-init_test.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

hack, rpm-deps: Separate rpmtree for passt
  hack/rpm-deps.sh
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
