Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

chore(virt-handler,filewatcher): Increase test interval
  pkg/virt-handler/filewatcher/filewatcher_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix(virt-handler): Correctly set up test suites
  pkg/virt-handler/filewatcher/BUILD.bazel
  pkg/virt-handler/filewatcher/filewatcher_suite_test.go
  pkg/virt-handler/multipath-monitor/BUILD.bazel
  pkg/virt-handler/multipath-monitor/multipath_monitor_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e,monitoring: Quarantine failing dirty rate metrics test
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-monitoring

virt-controller, migration: Add missing network-info
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: introduce getLastVMRevisionKey
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: overhaul VM revision handling
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: remove unused methods and consts
  pkg/virt-controller/watch/vm/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

snapshot, tests: drop redundant revision changes
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  tests/storage/snapshot.go
Due: none

watch/vm: clean unit tests
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

build: Remove gcc-c++ deps from cross-compilte builder image as no longer needed
  hack/builder/Dockerfile.cross-compile
Due: publish-kubevirt-builder

Monitor: Break on Wait4 error
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-config: Increase DefaultVirtHandler{Burst,QPS}
  pkg/virt-config/virt-config.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e, netbinding: Dont override binding registration
  tests/libkubevirt/config/netbinding.go
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/vmi_istio.go
Due: none

evacuation-ctrl: set priority to the migrations
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add `MigrationPriorityQueue` feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

workload updater: set priority to the migrations
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration controller: move priority to migrationutils pkg
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add `priority` field to VMIM
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration ctrl: use the priority field
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration-create-admitter: handle priority field
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration-create-admitter: add kubeVirtServiceAccounts field
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

build: update builder image tag to include changes
  hack/dockerized
Due: none

priority-queue: Set correct priority for descheduler initiated evictions
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-handler/migration-target.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

smbios sidecar: move XML functest to unit test
  cmd/sidecars/smbios/BUILD.bazel
  cmd/sidecars/smbios/smbios_suite_test.go
  cmd/sidecars/smbios/smbios_test.go
  tests/vmi_hook_sidecar_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e, net, vmi: Quarantine flaking ipv6
  tests/network/vmi_networking.go
Due: none

e2e,tdx: add test for tdx
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/tdx.go
  tests/decorators/decorators.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/tdx.go
Due: none

fix: do not override startTimestamp with nil value
  pkg/virt-handler/migration-source.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests/framework/checks/skips.go: convert skips to fails
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/fails.go
  tests/monitoring/monitoring.go
  tests/network/networkpolicy.go
  tests/storage/datavolume.go
  tests/virtiofs/config.go
  tests/virtiofs/datavolume.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-monitoring

DNM
  .DNM
Due: none

common: don't fix .z version
  go.mod
  go.work
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/client-go/go.mod
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-controller: fix RestartRequired condition handling for hotplug volumes
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  tests/storage/declarative-hotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update vmi image to use Alpine instead of cirros to enable sig-compute tests on s390x.
  BUILD.bazel
  containerimages/BUILD.bazel
  hack/bazel-push-images.sh
  tests/BUILD.bazel
  tests/clone_test.go
  tests/compute/console.go
  tests/compute/subresources/expandspec.go
  tests/compute/subresources/rbac.go
  tests/compute/vm_lifecycle.go
  tests/compute/vmidefaults.go
  tests/container_disk_test.go
  tests/containerdisk/containerdisk.go
  tests/dryrun_test.go
  tests/guestlog/guestlog.go
  tests/hotplug/rolloutstrategy.go
  tests/hyperv_test.go
  tests/infrastructure/k8s-client-changes.go
  tests/migration/evacuation.go
  tests/migration/migration.go
  tests/migration/namespace.go
  tests/numa/numa.go
  tests/pool_test.go
  tests/replicaset_test.go
  tests/security_features_test.go
  tests/usb/usb.go
  tests/vm_test.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_controller_test.go
  tests/vmi_iothreads_test.go
  tests/vmi_lifecycle_test.go
Due: none

vmi ctrl, template: Add a stable label for virt-launcher pods
  pkg/apimachinery/BUILD.bazel
  pkg/apimachinery/labels.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virtctl, expose: Use stable label selector
  pkg/virtctl/expose/BUILD.bazel
  pkg/virtctl/expose/expose.go
  pkg/virtctl/expose/expose_test.go
Due: none

API: Deprecate VirtualMachineNameLabel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration: relax host-model check to allow known models
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests/launchsecurity: Add secure execution e2e test
  automation/test.sh
  tests/decorators/decorators.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/secure-execution.go
  tests/testsuite/kubevirtresource.go
Due: none

tests/operator: convert skips to fails
  tests/operator/operator.go
Due: none

Migration: Optimize listMatchingTargetPods
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

DNM: arm64 test
  .DNM
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
