Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

Adding a link to our support matrix in k8s compatability doc. Also updating the versions ~9 years.
  docs/kubernetes-compatibility.md
Due: none

virt-controller, vm: Do not fail when processing net hotplug with no pod
  pkg/virt-controller/network/vmcontroller.go
  pkg/virt-controller/network/vmcontroller_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Refactor unit tests to use libvmi for resource creation in softreboot
  pkg/virtctl/softreboot/BUILD.bazel
  pkg/virtctl/softreboot/softreboot_test.go
Due: none

Add v1.3.0 perf and scale benchmarks data Signed-off-by: svarnam <svarnam@nvidia.com>
  docs/perf-scale-benchmarks.md
  docs/perf-scale-graphs/vm/vm-get-nodes-count.png
  docs/perf-scale-graphs/vm/vm-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vm/vm-patch-nodes-count.png
  docs/perf-scale-graphs/vm/vm-patch-pods-count.png
  docs/perf-scale-graphs/vm/vm-patch-vmis-count.png
  docs/perf-scale-graphs/vm/vm-update-vmis-count.png
  docs/perf-scale-graphs/vmi/vmi-get-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-p50-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-p95-Creation-to-Running.png
  docs/perf-scale-graphs/vmi/vmi-patch-nodes-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-pods-count.png
  docs/perf-scale-graphs/vmi/vmi-patch-vmis-count.png
  docs/perf-scale-graphs/vmi/vmi-update-vmis-count.png
Due: none

backendstorage: use fixed volume name
  pkg/virt-controller/services/rendervolumes.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests, net, hotplug: Drop stopped VM test
  tests/network/hotplug_bridge.go
Due: none

release, verification: add source tarball signature upload
  automation/github-source-tarball-signature.sh
  automation/release.sh
Due: none

Use standard lib instead of self baked functions. (#3015)
  controllers/hyperconverged/hyperconverged_controller.go
  pkg/util/cluster.go
  pkg/util/util.go
  pkg/util/util_test.go
  tools/csv-merger/csv-merger.go
Due: none

Mock permission checking in export server to avoid issues during testing
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/export/virt-exportserver/exportserver_test.go
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Add 2 new ConfigDriveOptions in cloudinit package
  pkg/libvmi/cloudinit/cloudinit.go
Due: none

Remove NewRandomVMIWithEphemeralDiskAndConfigDriveUserdataNetworkData
  tests/utils.go
  tests/vmi_cloudinit_test.go
Due: none

specify one node to migrate
  api/openapi-spec/swagger.json
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/templates/templates.go
  pkg/virtctl/vm/common.go
  pkg/virtctl/vm/migrate.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump NETWORK_ADDONS to v0.94.1 (#3016)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: none

Network binding plugin: Add ComputeResourceOverhead field
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network, netbinding: Add logic to calculate memory overhead
  pkg/network/netbinding/BUILD.bazel
  pkg/network/netbinding/memory.go
  pkg/network/netbinding/memory_test.go
Due: none

virt-controller, template: Add net BP memory overhead
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-handler, hotplugMemory: Consider NPB memory overhead
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

supprot modify ssh-key by api
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  staging/src/kubevirt.io/client-go/kubecli/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Refactor unit tests to use libvmi for resource creation in config files
  pkg/config/config-map_test.go
  pkg/config/downwardapi_test.go
  pkg/config/secret_test.go
  pkg/config/service-account_test.go
  pkg/config/sysprep_test.go
  pkg/libvmi/config.go
Due: none

tests: avoid a misleading variable name
  tests/storage/storage.go
  tests/vmi_configuration_test.go
Due: none

test/network: avoid a var with a large context
  tests/network/bindingplugin_macvtap.go
Due: none

net e2e, passt: Add memory overhead
  tests/network/bindingplugin_passt.go
Due: none

Network binding plugin: Add ComputeResourceOverhead field
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Bump NETWORK_ADDONS to v0.94.2 (#3018)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: none

skip the memory hotplug test when the arch is s390x.
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/framework/checks/checks.go
  tests/framework/checks/skips.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix flaky mem hotplug test
  tests/hotplug/BUILD.bazel
  tests/hotplug/memory.go
Due: none

tests/utils: inline NewRandomVMIWithEphemeralDisk into its only user
  tests/utils.go
Due: none

tests/network/expose: Inline getService
  tests/network/expose.go
Due: none

tests/network/expose: Move createAndWaitForJobToSucceed lambda
  tests/network/expose.go
Due: none

tests, net: Remove default settings with external connectivity test
  tests/network/vmi_networking.go
Due: none

tests/network/expose: Move runJobsAgainstService lambda
  tests/network/expose.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
