Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.22-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Update configmaps of dashboards (#2096)
  assets/dashboards/grafana-dashboard-kubevirt-top-consumers.yaml
Due: none

virt-api: Set default machinetype after preference kind
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Use correct namespace
  tests/storage/datavolume.go
Due: none

WORKSPACE: Freeze repository that deprecated go 1.16
  WORKSPACE
Due: pull-kubevirt-verify-rpms

[e2e tests]: Address flake in test_id:4643
  tests/storage/datavolume.go
Due: none

Change the libdv.WithPVC to work with default values and options
  tests/libdv/BUILD.bazel
  tests/libdv/dv.go
  tests/migration_test.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/utils.go
  tests/vmi_configuration_test.go
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

multi queue: Fix VMI creation in case non virtio present with multi vCPU
  pkg/network/infraconfigurators/bridge.go
  pkg/network/infraconfigurators/common.go
  pkg/network/infraconfigurators/masquerade.go
  pkg/virt-launcher/virtwrap/converter/network.go
  tests/vmi_multiqueue_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

types: Add VirtIO type
  pkg/instancetype/instancetype_test.go
  pkg/network/domainspec/domainspec_suite_test.go
  pkg/network/domainspec/generators_test.go
  pkg/network/setup/network_suite_test.go
  pkg/testutils/domain.go
  pkg/util/util.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/schema_test.go
  tests/infra_test.go
  tests/instancetype_test.go
  tests/migration_test.go
  tests/vmi_configuration_test.go
  tests/vmi_multiqueue_test.go
  tools/vms-generator/utils/utils.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

Fix review comments
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/utils/test_utils.go
  pkg/virtctl/vmexport/vmexport_test.go
  tests/storage/export.go
  tests/storage/memorydump.go
Due: none

Test: Remove unnecessary error
  tests/libnet/cloudinit.go
  tests/libvmi/network.go
  tests/network/primary_pod_network.go
  tests/network/sriov.go
  tests/network/vmi_istio.go
  tests/network/vmi_networking.go
  tests/utils.go
Due: none

Virt-launcher add Seccomp
  pkg/container-disk/container-disk.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

SR-IOV Migration: Attach SR-IOV devices on virt-handler reconcile loop
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

launcher,handler: Extact hot-plug host-devices to self-contained command
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

SR-IOV Migration: Backoff hot-plug host-devices opeartions
  pkg/executor/BUILD.bazel
  pkg/executor/backoff.go
  pkg/executor/backoff_test.go
  pkg/executor/executor.go
  pkg/executor/executor_suite_test.go
  pkg/executor/executor_test.go
  pkg/executor/pool.go
  pkg/executor/pool_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-launcher: Change hot-plug host devices to be non-blocking
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Specify Seccomp for hotplug pod
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Specify Seccomp for export pod
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Test fsfreeze on Paused VM
  tests/storage/snapshot.go
Due: none

Fix bug in restore-controller when creating a restore PVC with both dataSource and dataSourceRef
  pkg/storage/snapshot/restore.go
Due: none

Bump NETWORK_ADDONS to v0.79.0 (#2100)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

virt-launcher: use our custom SELinux type only when necessary
  cmd/virt-handler/virt_launcher.cil
  pkg/util/util.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/libvmi/vmi.go
  tests/network/vmi_passt.go
  tests/storage/storage.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Propagate TLSSecurityProfile to Kubevirt (#2089)
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
Due: none

Add unit and functional tests
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Due: none

Patching node set kubevirt.io/schedulable to false upon exiting heartbeat func
  pkg/virt-handler/heartbeat/heartbeat.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Adding unit test
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/heartbeat_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Added done channel to virt-handler vm's heartBeat.run call
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

test: add exec package
  tests/exec/BUILD.bazel
  tests/exec/execute.go
Due: none

test: move CopyFromPod from utils
  tests/storage/BUILD.bazel
  tests/storage/imageupload.go
  tests/utils.go
Due: none

test: rename execute functions in exec pkg
  tests/exec/execute.go
  tests/infra_test.go
  tests/io_utils.go
  tests/migration_test.go
  tests/numa/numa.go
  tests/reporter/kubernetes.go
  tests/storage/export.go
  tests/storage/guestfs.go
  tests/storage/imageupload.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/utils.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
Due: none

test: remove execute functions from utils
  tests/BUILD.bazel
  tests/config_test.go
  tests/container_disk_test.go
  tests/infra_test.go
  tests/io_utils.go
  tests/migration_test.go
  tests/network/BUILD.bazel
  tests/network/expose.go
  tests/network/sriov.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_slirp_interface.go
  tests/numa/BUILD.bazel
  tests/numa/numa.go
  tests/realtime/BUILD.bazel
  tests/realtime/realtime.go
  tests/reporter/BUILD.bazel
  tests/reporter/kubernetes.go
  tests/security_features_test.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/guestfs.go
  tests/storage/memorydump.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/sysprep_test.go
  tests/utils.go
  tests/virt_control_plane_test.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_gpu_test.go
  tests/vmi_lifecycle_test.go
  tests/windows_test.go
Due: none

test: add error checks in copyFromPod
  tests/storage/imageupload.go
Due: none

vm-cycle: use exponential backoff when pause due to IO error
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Revert "Set SeccompProfile"
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

Added test_id for probes.go
  tests/network/probes.go
Due: none

Fix the CPU set migration test case.
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-api: Extract function in authorizer
  pkg/virt-api/rest/authorizer.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/kind-1.22-sriov/conformance.json
  cluster-up/cluster/kind-1.23-vgpu/conformance.json
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none
