Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

fix: unexport constants if it is non necessary
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix: restrict default cluster role to authenticated only users
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Disable guest console log in CI e2e lanes
  automation/test.sh
Due: none

[e2e] Update tests which count sidecar containers
  tests/guestlog/guestlog.go
  tests/virtiofs/datavolume.go
  tests/vmi_hook_sidecar_test.go
Due: none

Update the index image template files to match 1.12.0 (#2752)
  deploy/olm-catalog/community-kubevirt-hyperconverged/index-template-release.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/index-template-unstable.yaml
Due: none

virt-handler: Fix panic when listing devices on host without USB devices
  pkg/virt-handler/device-manager/usb_device.go
  pkg/virt-handler/device-manager/usb_device_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix the index-template file (#2753)
  deploy/olm-catalog/community-kubevirt-hyperconverged/index-template-unstable.yaml
Due: none

fix: Do not panic when specifying preferSpread without instancetype
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[e2e] Quarantine tests effected by slower VMI deletion issue
  tests/pool_test.go
  tests/replicaset_test.go
Due: none

Flip disableSerialConsoleLog
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/virtiofs/datavolume.go
  tests/vmi_hook_sidecar_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adds github user 'dharmit' to approvers and reviewers (#2760)
  OWNERS_ALIASES
Due: none

Bump KUBEVIRT_CONSOLE_PLUGIN to v4.15.0 (#2758)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.12.0/manifests/kubevirt-hyperconverged-operator.v1.12.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.12.0/manifests/kubevirt-hyperconverged-operator.v1.12.0.clusterserviceversion.yaml
  hack/config
Due: none

fix: Add ClusterRoleBinding for instancetype:view ClusterRole
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
  tests/access_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update go base image to use current stable debian 12 base
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Remove previous changes that worked around this glibc conflict
  cmd/sidecars/network-passt-binding/BUILD.bazel
  tests/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Allow kubevirt:view role to get,list kubevirts
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

unit test: Convert unneeded lambda functions
  pkg/virtctl/vm/add_volume_test.go
Due: none

Nominate victortoso as reviewer
  OWNERS_ALIASES
Due: none

Run CI test WithTerminationGracePeriod(1) by default
  tests/libvmi/vmi.go
Due: none

fix github action (#2756)
  .github/workflows/publish-community-operators.yaml
Due: none

Slightly delay virt-tail termination to bypass a race condition in CRI-O
  cmd/virt-tail/main.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix: Use correct constant in ClusterPreference access test
  tests/access_test.go
Due: none

fix the publish action (#2765)
  .github/workflows/publish-community-operators.yaml
  README.md
  deploy/olm-catalog/community-kubevirt-hyperconverged/index-template-release.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/index-template-unstable.yaml
Due: none

Introduce a FeatureGate for SerialConsoleLog
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/services/serialconsolelog.go
  pkg/virt-controller/services/template_test.go
  tests/guestlog/BUILD.bazel
  tests/guestlog/guestlog.go
  tests/virtiofs/datavolume.go
  tests/vmi_hook_sidecar_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

vmi update admission webhook: fix volume miscount when using filesystem devices
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update peter-evans/create-pull-request action to v5 (#2749)
  .github/workflows/publish-community-operators.yaml
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

virtctl unit tests: Remove unrequired interface
  pkg/virtctl/vm/add_volume_test.go
Due: none

virtctl unit tests: Add assertions about pointers
  pkg/virtctl/vm/add_volume_test.go
Due: none

unit tests: Use libdv
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/add_volume_test.go
  tests/libdv/dv.go
Due: none

[refactor] Use constants instead of plain string
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM controller: add ability to compare current and last seen VM specs
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add unit tests for rbac.getAllCluster function
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix automation/publisher/publisher.sh (#2772)
  automation/publisher/publisher.sh
Due: none

Add an event to VMI when fsfreeze fails to provide more context for the error
  pkg/virt-handler/rest/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix the publish github action (#2770)
  .github/workflows/publish-community-operators.yaml
  .github/workflows/release-bumper.yml
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
