Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

arm64 support for sidecar-shim in bazel
  cmd/sidecars/BUILD.bazel
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

passt binding plugin: Introduce pod network configurator
  cmd/network-passt-binding/domain/BUILD.bazel
  cmd/network-passt-binding/domain/configurator.go
  cmd/network-passt-binding/domain/configurator_test.go
  cmd/network-passt-binding/domain/domain_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

passt binding plugin: Build & push image as part of cluster-sync
  hack/bazel-push-images.sh
Due: none

Move passt network binding plugin to cmd/sidecars
  BUILD.bazel
  cmd/sidecars/network-passt-binding/BUILD.bazel
  cmd/sidecars/network-passt-binding/README.md
  cmd/sidecars/network-passt-binding/callback/BUILD.bazel
  cmd/sidecars/network-passt-binding/callback/callback.go
  cmd/sidecars/network-passt-binding/callback/callback_suite_test.go
  cmd/sidecars/network-passt-binding/callback/callback_test.go
  cmd/sidecars/network-passt-binding/domain/BUILD.bazel
  cmd/sidecars/network-passt-binding/domain/configurator.go
  cmd/sidecars/network-passt-binding/domain/configurator_test.go
  cmd/sidecars/network-passt-binding/domain/domain_suite_test.go
  cmd/sidecars/network-passt-binding/main.go
  cmd/sidecars/network-passt-binding/server/BUILD.bazel
  cmd/sidecars/network-passt-binding/server/server.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

passt binding plugin: Add bazel rule to push image to local registry
  BUILD.bazel
Due: none

passt binding plugin: Wire up passt configurator to callback server
  cmd/network-passt-binding/server/BUILD.bazel
  cmd/network-passt-binding/server/server.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Declare supported features also with the new annotation schema (#2550)
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  pkg/components/components.go
Due: none

net, setup, unplug: Drop the ordinal ifaces names filtering
  pkg/network/setup/configstate.go
  pkg/network/setup/configstate_test.go
  pkg/network/setup/netconf.go
  pkg/network/setup/network.go
  pkg/network/setup/network_suite_test.go
  pkg/network/setup/network_test.go
Due: none

net, setup: Drop the usage of `VMNetworkConfigurator` (in phase1)
  pkg/network/setup/netconf.go
  pkg/network/setup/network.go
  pkg/network/setup/network_test.go
Due: none

net, setup, test: Remove unused function
  pkg/network/setup/network_suite_test.go
Due: none

net, setup: Drop `hotUnplugInterfaces` for simplicity
  pkg/network/setup/netconf.go
Due: none

Fix no-op expectations
  pkg/virt-handler/heartbeat/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

KSM: Remove "global" shared variables
  pkg/virt-handler/heartbeat/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

KSM: Replace reactors
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Disable HTTP/2
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-handler/virt-handler.go
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/virt-api/api.go
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/application.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update docs/metrics.md
  docs/metrics.md
Due: none

Allow LUN disks to be hotplugged
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update kubevirt_allocatable_nodes description
  docs/metrics.md
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Remove usage BeforeSuite
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add unit test coverage for LUN hotplugs
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virtctl/vm/add_volume_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

sidecar-shim: fix rpm generation
  hack/rpm-deps.sh
Due: none

generate: make rpm-deps
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

ksm: fix bug on checking annotation value and move 2 functional tests to unit tests
  pkg/virt-handler/heartbeat/ksm.go
  pkg/virt-handler/heartbeat/ksm_test.go
  tests/infrastructure/virt-handler.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix kubevirt_nodes_with_kvm expression
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add default 0 value to kubevirt_nodes_with_kvm
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix kubevirt_allocatable_nodes description
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump HPPO to v0.18.0 (#2568)
  deploy/crds/hostpath-provisioner00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Introduce ksmConfiguration to hco cr (#2557)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump CSI_SNAPSHOT to v6.3.1 (#2570)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

virt-launcher monitor, dumpLogFile: Dont log file-not-found errors
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump dependencies for CVE-2023-44487 (#2559)
  automation/nightly/test-nightly-build.sh
  build/Dockerfile
  build/Dockerfile.functest
  build/Dockerfile.webhook
  go.mod
  go.sum
  tests/build/Dockerfile
  tests/go.mod
  tests/vendor/modules.txt
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/cache/multi_namespace_cache.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/fake/client.go
Due: none

Improve cpu hotplug test
  tests/hotplug/cpu.go
  tests/utils.go
Due: none

Fix kubevirt_nodes_with_kvm expression
  docs/metrics.md
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
