Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

tests: Integrate VM log checker into e2e test reporter
  Makefile
  tests/reporter/BUILD.bazel
  tests/reporter/outputenricher.go
  tests/tests_suite_test.go
Due: none

conformance: Always write done file to signal completion to Sonobuoy
  tests/conformance/conformance.go
Due: none

conformance: Use defer to write done file on panic
  tests/conformance/conformance.go
Due: none

conformance: Add unit tests
  hack/bazel-test.sh
  tests/conformance/BUILD.bazel
  tests/conformance/conformance.go
  tests/conformance/conformance_test.go
Due: none

kubevirtci: Add fake SR-IOV vGPU kernel module for testing
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/.gitignore
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/Makefile
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/README.md
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/compat.h
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/dkms.conf
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/fake-sriov-vgpu.c
  kubevirtci/cluster-up/cluster/kind-1.33-vgpu/fake-sriov-vgpu/setup-fake-sriov.sh
Due: none

automation, net: Add network-resources-injector
  automation/test.sh
Due: none

VMExport: Volumes info missing if source VM's dataVolume name has dots
  pkg/libdv/dv.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/paths.go
  pkg/storage/export/export/vm-source_test.go
Due: none

tests: Populate VM log error allowlist
  tests/reporter/vmlog_checker.go
Due: none

controller, template: Disable NAD query
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

add s390x support for the alpine-with-test-tooling image.
  WORKSPACE
  containerimages/BUILD.bazel
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
Due: pull-kubevirt-verify-rpms

e2e, net: Passt wait for net readiness
  tests/libnet/BUILD.bazel
  tests/libnet/ping.go
  tests/network/bindingplugin_passt.go
Due: none

e2e, net: Dequarantine passt migration ipv6
  tests/network/bindingplugin_passt.go
Due: none

virt-launcher: add StartingUp field to metadata
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/metadata/kubevirt.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: add unit tests for StartingUp field
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

GA PersistentReservation FG and add enable cfg
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-config/virt-config.go
  pkg/virt-operator/util/config.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

reservation tests: convert disable scenario e2e->unit test
  pkg/virt-operator/kubevirt_test.go
  tests/storage/reservation.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

reservation tests: adjust for post fg world
  automation/test.sh
  tests/decorators/decorators.go
  tests/storage/BUILD.bazel
  tests/storage/reservation.go
Due: none

automation: Remove KUBEVIRT_FLANNEL as this is now the default for kubevirtci
  automation/test.sh
Due: none

instancetype: Add v1 upgrade support for ControllerRevisions
  hack/generate.sh
  pkg/instancetype/compatibility/compatibility.go
  pkg/instancetype/revision/compare.go
  pkg/instancetype/revision/store.go
  pkg/instancetype/upgrade/upgrade_test.go
  staging/src/kubevirt.io/api/instancetype/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/doc.go
  staging/src/kubevirt.io/api/instancetype/register.go
  staging/src/kubevirt.io/api/instancetype/types.go
  staging/src/kubevirt.io/api/instancetype/v1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1/doc.go
  staging/src/kubevirt.io/api/instancetype/v1/register.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/register.go
  staging/src/kubevirt.io/client-go/kubevirt/scheme/register.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

instancetype: Update informers and operator to use v1 API
  pkg/controller/virtinformers.go
  pkg/virt-operator/resource/apply/fake/fakestrategy.go
  pkg/virt-operator/resource/apply/instancetypes.go
  pkg/virt-operator/resource/generate/components/instancetypes.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix grammar mistakes in metrics' description
  docs/observability/metrics.md
  pkg/monitoring/metrics/common/workqueue/metrics.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

test: Refactor sysctl for testability and add unit tests
  pkg/util/sysctl/sysctl.go
  pkg/util/sysctl/sysctl_test.go
Due: none

test: Add unit tests for leaderelectionconfig
  pkg/virt-controller/leaderelectionconfig/config_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add CRD OpenAPI validation test framework
  go.mod
  go.sum
  hack/license-header-check.sh
  hack/linter/lint-paths.txt
  pkg/crdvalidation/BUILD.bazel
  pkg/crdvalidation/cel.go
  pkg/crdvalidation/compute/BUILD.bazel
  pkg/crdvalidation/compute/OWNERS
  pkg/crdvalidation/compute/clone_test.go
  pkg/crdvalidation/compute/instancetype/BUILD.bazel
  pkg/crdvalidation/compute/instancetype/OWNERS
  pkg/crdvalidation/compute/instancetype/instancetype_test.go
  pkg/crdvalidation/compute/instancetype/suite_test.go
  pkg/crdvalidation/compute/kubevirt_test.go
  pkg/crdvalidation/compute/pool_test.go
  pkg/crdvalidation/compute/suite_test.go
  pkg/crdvalidation/convert.go
  pkg/crdvalidation/crdvalidation.go
  pkg/crdvalidation/crdvalidation_suite_test.go
  pkg/crdvalidation/crdvalidation_test.go
  pkg/crdvalidation/errors.go
  pkg/crdvalidation/schema_loader.go
  pkg/crdvalidation/storage/BUILD.bazel
  pkg/crdvalidation/storage/OWNERS
  pkg/crdvalidation/storage/backup_test.go
  pkg/crdvalidation/storage/suite_test.go
  pkg/crdvalidation/testutils.go
Due: none

instancetype: Add CRD-level deprecation warnings for v1beta1 API
  pkg/virt-operator/resource/generate/components/crds.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

instancetype: Remove deprecated PreferredCPUTopology constants from v1
  pkg/instancetype/apply/cpu.go
  pkg/instancetype/compatibility/compatibility_test.go
  pkg/instancetype/preference/apply/cpu.go
  pkg/instancetype/preference/requirements/cpu.go
  pkg/instancetype/preference/validation/cpu.go
  pkg/instancetype/preference/webhooks/admitter.go
  pkg/instancetype/preference/webhooks/admitter_test.go
  pkg/instancetype/webhooks/vm/admitter_test.go
  pkg/virtctl/create/preference/preference_test.go
  staging/src/kubevirt.io/api/instancetype/types.go
  staging/src/kubevirt.io/api/instancetype/v1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/conversion_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

instancetype: Remove deprecated firmware fields from v1
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/preference/apply/firmware.go
  pkg/instancetype/preference/apply/firmware_test.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/types.go
  staging/src/kubevirt.io/api/instancetype/v1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1/types.go
  staging/src/kubevirt.io/api/instancetype/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/conversion_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

hack: Fix unbound variable in print-workspace-status.sh
  hack/print-workspace-status.sh
Due: none

VEP 109: Implement vGPU Enabled Live Migration
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook_test.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vpguhook_suite_test.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

notify-client: handle guest panic lifecycle events
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtwrap: add guest panic detection utilities
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/panic_info.go
  pkg/virt-launcher/virtwrap/util/panic_info_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add auto-generated code
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: adjust functest to expect a guest panic event
  tests/vmi_lifecycle_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
