Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

Added unit tests for setMigrationProgressStatus
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

refactor: replace guest agent commands
  pkg/virt-launcher/virtwrap/agent-poller/BUILD.bazel
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: switch to a priority queue
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

priority queue: add mocking
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_priorityqueue.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Move the enableCommonBootImageImport feature gate to new field (#3328)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  assets/upgradePatches.json
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/imageStream.go
  controllers/operands/imageStream_test.go
  controllers/operands/ssp.go
  controllers/operands/ssp_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  pkg/upgradepatch/upgradePatches_test.go
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
  tests/func-tests/defaults_test.go
  tests/func-tests/golden_image_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

priority queue: add unit test
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

chore(virtctl): refactor version command for readability and maintainability
  pkg/virtctl/version/version.go
Due: none

virt-api/mutator-webhook: set firmware UUID to VM on create
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: add FirmwareController for VM firmware UUID
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/firmware.go
  pkg/virt-controller/watch/vm/firmware_test.go
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

pkg/storage/restore-controller: apply legacy UUID to restored VM
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Due: none

tests/clone: fix vm clone tests
  tests/clone_test.go
Due: none

vm-controller: mark `Firmware.UUID` as live-updatable field
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

W/A NFS server becoming unreachable mid run
  hack/cluster-deploy.sh
Due: none

e2e, tests-suite: Support OncePerOrderedCleanup label
  tests/decorators/decorators.go
  tests/tests_suite_test.go
Due: none

removing libvmi.WithName
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests, net, IPv6: Use Alpine instead of Fedora for dynamic IPv6 test
  tests/network/vmi_networking.go
Due: none

resolving feedback
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-controller/watch/pool/pool.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

resolving feedback
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

BugFix: Ensure domain.Status.OSInfo is not empty
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

linter: Add tests/conformance to lint paths
  hack/linter/lint-paths.txt
Due: none

api: Extend launch security to include secure execution
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

s390x: Implement Secure Execution for VMs
  pkg/util/util.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Manually set DV size to volume snapshot restore size in tests
  tests/storage/datavolume.go
Due: none

e2e: update fedora-with-test-tooling vm image to fedora 41
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Remove RESTErrorsHigh alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  pkg/monitoring/rules/alerts/virt-operator.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Fetch non-cluster instance type and preferences with namespace key
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

demo link_state runinng in order
  tests/network/BUILD.bazel
  tests/network/demo_link_state.go
Due: none

e2e, net, vmi_networking_ordered: Demo OncePerOrderedCleanup
  tests/network/BUILD.bazel
  tests/network/vmi_networking_ordered.go
Due: none

fix(virtctl,scp): Update native_unsupported.go to use new structs
  pkg/virtctl/scp/native.go
  pkg/virtctl/scp/native_unsupported.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
Due: none

virt-launcher/virtwrap/api: Move arch specific content into separate files
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/amd64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arch_defaulter_suite_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arm64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/s390x.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/defaults.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

test: verify volume expansion after a volume migration
  tests/storage/migration.go
Due: none

removed the unused variables
  pkg/virtctl/pause/pause.go
Due: none

Trigger VMCannotBeEvicted only for running VMIs
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Fix getSizeFromDataVolumeTemplates
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

fix flakes
  tests/libmonitoring/scaling.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
