Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

instancetype: extract function to validate memory
  pkg/instancetype/apply/memory.go
Due: none

fix(vmrestore): volumerestorepolicy inplace flakes
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  tests/storage/restore.go
Due: none

Support decentralized migration in migration controller
  go.mod
  go.sum
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix some bugs in sync controller. Updated migration to cleanup source VMI once migration is completed.
  api/openapi-spec/swagger.json
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Fixed and added unit tests for synchronization controller as well as fixing some npes in other tests caused by the changes in this PR.
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-handler/controller.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add SynchronizationAddress to KubeVirt CR status based on the lease and pod owning the lease.
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/update.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/util/config.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add functional tests for cross namespace migration
  go.mod
  go.sum
  go.work.sum
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  tests/libmigration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/namespace.go
  tests/testsuite/namespace.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix test suite failure on duplicate namespaces Fix operator upgrade test because no previous release image exist. Once 1.6.0 is release we can remove the change to the operator test.
  tests/operator/operator.go
  tests/testsuite/namespace.go
Due: none

Removed extra namespace from functional test suite since I could use the existing alternative one.
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/migration/namespace.go
  tests/testsuite/namespace.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Moved decentralized centric functions into its own file to make it easier to find them.
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/libmigration/migration.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Disable the feature gate for functional tests for now. So we get some runs with the feature gate disabled.
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  tests/decorators/decorators.go
  tests/libmigration/migration.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Check for error when closing connections in synchronziation controller after completing
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/vm.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Added config.DecentralizedLiveMigrationEnabled function to make it easier to check if it is enabled.
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Rebased on top of #14705
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-controller/watch/migration/decentralized.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/util/config.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Remove expectations from migration-target as it doesn't really help any and is messing with cross namespace migrations
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

hotplug disk: virt-controller should wait to delete hotplug pods
  pkg/virt-controller/watch/vmi/volume-hotplug.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

hotplug disk: VMI controller should wait to set HotplugVolumeDetaching
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Identify the migration network IP address and advertise that in the kubevirt CR. If not found use the pod IP address.
  cmd/synchronization-controller/BUILD.bazel
  cmd/synchronization-controller/synchronization-controller.go
  pkg/controller/BUILD.bazel
  pkg/controller/virtinformers.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/util/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Added synchronization of informers that were missing. Fixed error message naming wrong informer. Added missing type assertion
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-operator/resource/apply/core.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add virtiofsd-dispatcher
  cmd/virtiofs-dispatcher/BUILD.bazel
  cmd/virtiofs-dispatcher/main.c
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add virtiofsd-placeholder
  cmd/virtiofs-placeholder/BUILD.bazel
  cmd/virtiofs-placeholder/main.c
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: add placeholder's functions
  cmd/virt-launcher/BUILD.bazel
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: move function to virtiofs package
  pkg/virt-controller/services/virtiofs.go
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add the dispatcher binary to virt-handler
  cmd/virt-handler/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofsd-placeholder: add unit tests
  cmd/virtiofs-placeholder/BUILD.bazel
  cmd/virtiofs-placeholder/main_test.go
  cmd/virtiofs-placeholder/virtiofs-placeholder_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

services: adjust virtiofs container
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

isolation: expose GetPid
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

template: add extra virtiofs volume if required
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

handler: create dispatcher for virtiofs
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/virtiofs/BUILD.bazel
  pkg/virt-handler/virtiofs/dispatcher.go
  pkg/virt-handler/virtiofs/dispatcher_suite_test.go
  pkg/virt-handler/virtiofs/dispatcher_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofsd-dispatcher: add functional test
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/datavolume.go
Due: none

Enabled decentralized live migration in functional tests. Added feature gate to the suite setup fixture and removed the serial label from the tests.
  tests/migration/namespace.go
  tests/testsuite/kubevirtresource.go
Due: none

tests are fixed for other archs .
  pkg/virt-config/configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

API: Support for Dynamic Resource Allocation (DRA)
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add Network-related resources to the Object Graph
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Update RBAC for IPAMClaims
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/apiserver.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Include IPAMClaimsClient in Kubevirt client
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/kubecli/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubecli.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add functional test coverage
  tests/libnet/BUILD.bazel
  tests/libnet/ipamclaims.go
  tests/objectgraph_test.go
Due: none

deps-update: Update dependencies for IPAMClaim
  go.mod
  go.sum
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/LICENSE
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/clientset.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/clientset_generated.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/doc.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/fake/register.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/scheme/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/scheme/doc.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/scheme/register.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/doc.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/BUILD.bazel
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/doc.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/fake_ipamclaim.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/fake/fake_ipamclaims_client.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/generated_expansion.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/ipamclaim.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/apis/clientset/versioned/typed/ipamclaims/v1alpha1/ipamclaims_client.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/doc.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/register.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/types.go
  vendor/github.com/k8snetworkplumbingwg/ipamclaims/pkg/crd/ipamclaims/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

virt-handler: move more variables to the base controller
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: move launcher client check to base controller
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance
