Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

isolation: adapt unit tests to gopsutil while keeping code testable
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/isolation/process.go
  pkg/virt-handler/isolation/process_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virthandler: replace go-ps with gopsutil
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Execute make deps-sync: drop go-ps dependencies
  go.mod
  go.sum
  pkg/virt-handler/BUILD.bazel
  vendor/github.com/mitchellh/go-ps/.gitignore
  vendor/github.com/mitchellh/go-ps/.travis.yml
  vendor/github.com/mitchellh/go-ps/BUILD.bazel
  vendor/github.com/mitchellh/go-ps/LICENSE.md
  vendor/github.com/mitchellh/go-ps/README.md
  vendor/github.com/mitchellh/go-ps/Vagrantfile
  vendor/github.com/mitchellh/go-ps/process.go
  vendor/github.com/mitchellh/go-ps/process_darwin.go
  vendor/github.com/mitchellh/go-ps/process_freebsd.go
  vendor/github.com/mitchellh/go-ps/process_linux.go
  vendor/github.com/mitchellh/go-ps/process_solaris.go
  vendor/github.com/mitchellh/go-ps/process_unix.go
  vendor/github.com/mitchellh/go-ps/process_windows.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

OWNERS: Move AlonaKaplan to the emeritus approvers
  OWNERS_ALIASES
Due: none

cleanup(tests,virtctl): Refactor and cleanup imageupload functests
  tests/virtctl/BUILD.bazel
  tests/virtctl/imageupload.go
Due: none

cleanup(virtctl): Add missing unit test case
  pkg/virtctl/imageupload/imageupload_test.go
Due: none

Addressed review comments, added failed test
  pkg/storage/export/export/vm-source_test.go
Due: none

Fix inconsistent Alertmanager silence behavior for PodDisruptionBudgetAtLimit (#3155)
  controllers/observability/pod_disruption_budget_at_limit.go
Due: none

VMRestore: move check if target is ready before making vm restore inprogress
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Due: none

VMRestore: remove check in webhook if target VM is running
  pkg/storage/snapshot/restore.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMRestore: Adjust and add UT, remove obsolete functest and adjust another
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMRestore: add optional policy of how to handle unready target
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMRestore: handle target not ready according to new policy
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/util.go
Due: none

VMRestore: Add UT that checks TargetReadinessPolicy
  pkg/storage/snapshot/restore_test.go
Due: none

Upgrade operator-observability to v0.0.24 (#3162)
  go.mod
  go.sum
  vendor/github.com/machadovilaca/operator-observability/pkg/operatorrules/registry.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

[release-1.1] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: none

[release-1.0] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: none

[release-0.59] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: none

[release-0.58] CVE-2024-21626: update runc to a safe version
  go.mod
  go.sum
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/hugetlb.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/BUILD.bazel
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: none

admitters: test hotplug admission for migrated volumes
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vol-mig: validate hotplug volumes
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vol-mig: test volue migration with an hotplugged volume
  tests/storage/migration.go
Due: none

fix(virtctl,imageupload): Retry on upload failure
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
Due: none

docs(virtctl,create): Fix wrong example descriptions
  pkg/virtctl/create/vm/vm.go
Due: none

Fix wrong VM loop in vmstats_collector
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Add kubevirt_vm_resource_requests metric
  docs/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Bump KUBEVIRT to v1.4.0 (#3165)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: none

Add vmi_pod label to kubevirt_vmi_info metric
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/rules/recordingrules/vmi.go
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Conformance: vnc tests
  tests/vnc_test.go
Due: none

Conformance: watchdog test
  tests/BUILD.bazel
  tests/watchdog_test.go
Due: none

tests/restore: Add functional test for new behavior
  tests/storage/restore.go
Due: none

Add stop permissions to subresource controller
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, vmispec, tests: Add context
  pkg/network/vmispec/hotplug_test.go
Due: none

mv CalculateInterfacesAndNetworksForMultusAnnotationUpdate
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/hotplug.go
  pkg/network/vmispec/hotplug_test.go
  pkg/virt-controller/network/hotplug.go
  pkg/virt-controller/network/hotplug_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, annotations gen: Extract generateDeviceInfoAnnotation
  pkg/network/pod/annotations/generator.go
Due: none

vmi-ctrl: Decouple NIC hotplug / hotunplug logic
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Re-add finalizer update RBAC for vmsnapshots/vmis
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Conformance: Annotation propagation rules
  tests/vmi_lifecycle_test.go
Due: none

Conformance: Starting in paused state
  tests/vmi_lifecycle_test.go
Due: none

Conformance: Graceful shutdown
  tests/vmi_lifecycle_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
