Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

vmi interfaces status update: Update pod interface name
  pkg/network/setup/netstat.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  tests/network/BUILD.bazel
  tests/network/hotplug.go
  tests/network/vmi_infosource.go
  tests/network/vmi_pod_iface_name.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Take CPU features into account when labeling nodes
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Check the length of the host CPU models slice
  pkg/virt-handler/node-labeller/cpu_plugin.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add unit-tests to cover the new labeling logic
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/cpu_map/x86_Opteron_G2.xml
  pkg/virt-handler/node-labeller/testdata/cpu_map/x86_Skylake-Client-IBRS.xml
  pkg/virt-handler/node-labeller/testdata/virsh_domcapabilities.xml
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

monitoring: Add KubeVirtDeprecatedAPIsRequested alert
  docs/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
  tests/monitoring/monitoring.go
  tests/monitoring/prometheus_utils.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Stop considering minCpuModel's field in KubeVirtCR
  pkg/virt-handler/node-labeller/cpu_plugin.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Modify unit tests to expect more features because minCpuModels in no longer considered
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

MinCPUModel is not longer in use and we shouldn't test this field
  tests/infra_test.go
Due: none

e2e: Remove events in the namespace after each test
  tests/testsuite/namespace.go
Due: none

Add help text to the phase transition time metrics
  pkg/monitoring/perfscale/vmi-phase-transitions.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

fix out-of-bounds slice access in evacuation controller
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

increase test coverage in evacuation controller unit tests
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

builder: Create KubeVirt source directory and mark it as safe for git
  hack/builder/Dockerfile
Due: none

instancetype: Remove CDI bug #2502 workaround from func tests
  tests/instancetype_test.go
Due: none

Bump kubernetes-openapi in builder image
  hack/builder/Dockerfile
  hack/dockerized
Due: none

Switch leader election to kubernetes leases
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-controller/leaderelectionconfig/BUILD.bazel
  pkg/virt-controller/leaderelectionconfig/config.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adjust error message matching for operator tests
  tests/operator/operator.go
Due: none

Incoroporate signature changes
  cmd/virt-handler/virt-handler.go
  pkg/monitoring/migration/vmi-migration-phase-transitions.go
  pkg/monitoring/perfscale/vmi-phase-transitions.go
  pkg/storage/export/export/export.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/testutils/mock_config.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-config/configuration.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/clone/clone_base.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/node.go
  pkg/virt-controller/watch/node_test.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/pool_test.go
  pkg/virt-controller/watch/replicaset.go
  pkg/virt-controller/watch/replicaset_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

[apidocs] Remove unsupported backticks for code blocks
  api/openapi-spec/swagger.json
  hack/gen-swagger-doc/gen-swagger-docs.sh
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add VirtualMachineOptions to KubeVirt CR
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Forward disableFreePageReporting cluster value to domain
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-handler/options.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add e2e test for migration with freePageReporting
  tests/migration_test.go
Due: none

virt-controller, migration: Remove unused onOpenshift field
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller, migration: Remove unused namespaceStore field
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Quarantine test [Serial][sig-operator]Operator Obsolete ConfigMap should emit event if the obsolete kubevirt-config configMap still exists
  tests/operator/operator.go
Due: none

DownwardMetrics: Fix metrics name
  pkg/monitoring/domainstats/downwardmetrics/hostmetrics.go
  pkg/monitoring/domainstats/downwardmetrics/hostmetrics_test.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Add ksmConfiguration to enable ksm in the nodes
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add e2e tests to ksmConfiguration
  tests/decorators/decorators.go
  tests/infra_test.go
Due: none

dockerized: Update builder image
  hack/dockerized
Due: none

controller, vmi: Extract VMI event reasons
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/vmi_event_reasons.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  tests/BUILD.bazel
  tests/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

controller, vmi: Extract SyncError
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/error.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

controller, vmi: Extract error format const
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/error_formats.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

controller, vmi: Extract common pod functions
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/pod.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

controller, vmi: Extract GetHotplugVolumes
  pkg/virt-controller/watch/common/BUILD.bazel
  pkg/virt-controller/watch/common/volumes_hotplug.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
