Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Update stressDefaultVMSize to also have an M postfix
  tests/migration_test.go
Due: none

Hack nfs-server image to run it 'graceless'
  images/nfs-server/BUILD.bazel
  images/nfs-server/entrypoint.sh
Due: none

Refer to KISS and Fowler for code
  .github/PULL_REQUEST_TEMPLATE.md
  docs/reviewer-guide.md
Due: none

Reword e2e criteria
  docs/reviewer-guide.md
Due: none

Fix typo
  docs/reviewer-guide.md
Due: none

Restore old wording around e2e tests
  .github/PULL_REQUEST_TEMPLATE.md
  docs/reviewer-guide.md
Due: none

e2e, libnet: Move cloudinit.go to a sub-package
  tests/BUILD.bazel
  tests/libnet/BUILD.bazel
  tests/libnet/cloudinit/nocloud/BUILD.bazel
  tests/libnet/cloudinit/nocloud/cloudinit.go
  tests/libvmi/BUILD.bazel
  tests/libvmi/network.go
  tests/network/BUILD.bazel
  tests/network/primary_pod_network.go
  tests/network/sriov.go
  tests/network/vmi_istio.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/utils.go
  tests/vm_state_test.go
Due: none

e2e, libnet, cloudinit: Introduce configdrive package
  tests/libnet/cloudinit/configdrive/BUILD.bazel
  tests/libnet/cloudinit/configdrive/network_data.go
Due: none

e2e, net: Test CloudInitConfigDrive network_data
  tests/libvmi/cloudinit.go
  tests/network/BUILD.bazel
  tests/network/vmi_multus.go
Due: none

[release-1.0] Reference changed without changing the definition
  docs/metrics.md
  pkg/virt-controller/watch/application.go
  tests/infra_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/kind-1.25-vgpu/config_vgpu_cluster.sh
  cluster-up/cluster/kind-1.25-vgpu/conformance.json
  cluster-up/cluster/kind-1.25-vgpu/provider.sh
  cluster-up/cluster/kind-1.25-vgpu/vgpu-node/node.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Dynamically configure CSV disable-operand-delete annotation (#2490)
  controllers/commontestutils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/csv.go
  controllers/operands/csv_test.go
  controllers/operands/imageStream_test.go
  controllers/operands/operandHandler.go
  controllers/operands/operandHandler_test.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  pkg/components/components.go
Due: none

make generate
  staging/src/kubevirt.io/client-go/kubecli/kv_test.go
  staging/src/kubevirt.io/client-go/kubecli/migration_test.go
  staging/src/kubevirt.io/client-go/kubecli/replicaset_test.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  staging/src/kubevirt.io/client-go/kubecli/vmipreset_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

slirp configurator: Do not duplicate slirp iface QEMU cmd args
  cmd/network-slirp-binding/domain/domain.go
  cmd/network-slirp-binding/domain/domain_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump default kubevirtci provider to k8s-1.27
  cluster-up/hack/common.sh
Due: none

tests: Delete VMI prior to NFS server pod
  tests/storage/storage.go
Due: none

tests: Delete AlpineWithNonQEMUPermissions image
  tests/storage/storage.go
Due: none

tests, reporter: Dump passt logs
  tests/reporter/kubernetes.go
Due: none

network setup passt: Execute passt through Libvirt API
  pkg/network/domainspec/BUILD.bazel
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

api: Extend domain schema for user space networking
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network, istio: Change ReservedPorts() to return []int
  pkg/network/domainspec/generators.go
  pkg/network/istio/ports.go
  pkg/network/setup/masquerade/masquerade.go
Due: none

network setup, status update: Do not add passt interface explicitly
  pkg/network/setup/netstat.go
Due: none

Update Passt: 20221110 -> 20230818
  hack/rpm-deps.sh
Due: none

For tests, use imagePullPolicy=Always (#2494)
  deploy/operator.yaml
  tools/manifest-templator/manifest-templator.go
Due: none

Update qemu: 7.2.0 -> 8.0.0
  hack/rpm-deps.sh
Due: none

Update edk2: 20230301 -> 20230524
  hack/rpm-deps.sh
Due: none

Update libvirt: 9.0.0 -> 9.5.0
  hack/rpm-deps.sh
Due: none

generate: make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

virt-controller: fix double `time.Second` multiplication in rate limiter
  pkg/virt-controller/watch/workload-updater/workload-updater.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

code cleanup: virt-controller watch misc
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

chore(virtctl): Move add volume command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move remove volume command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/remove_volume_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move expand command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/expand_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move migrate command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/migrate_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move fs list command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/fs_list_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move migrate cancel command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/migrate_cancel_test.go
  pkg/virtctl/vm/vm_test.go
Due: none

chore(virtctl): Move guest os info command tests to own file
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/guestosinfo_test.go
  pkg/virtctl/vm/vm_test.go
Due: none
