Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

Updated live migration assistance logic for VFIO
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: add package_metadata dependency required by new version of rules_oci
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Fixed custom-rpm regressions from cleanup efforts
  hack/custom-rpms.sh
  hack/custom-rpms/Dockerfile
Due: none

automation: log ci.bazelrc contents at the start of e2e runs
  automation/test.sh
Due: none

Remove duplicate enum validation for RoleAggregationStrategy
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler, netstat: Fix VMI interface status flapping
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Due: none

OWNERS: add sig-buildsystem reviewers/approvers for bazel files
  OWNERS
Due: none

e2e, net, nad swap: Wait for VM to be ready before console login
  tests/network/nad_live_update.go
Due: none

linter: Add tests/libmonitoring to lint paths
  hack/linter/lint-paths.txt
  tests/libmonitoring/prometheus.go
  tests/libmonitoring/scaling.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

linter: Add tests/monitoring to lint paths
  hack/linter/lint-paths.txt
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
  tests/monitoring/metrics.go
  tests/monitoring/monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

domain-watcher: restart notify server after unexpected exit
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

domain-watcher: emit K8s warning event on notify server failure
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/domain-watcher.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: use boot_id to verify soft reboot
  tests/vmi_lifecycle_test.go
Due: none

tests: increase startupTimeout in VMIlifecycle tests to 120s
  tests/vmi_lifecycle_test.go
Due: none

e2e: Added WgS390x decorator for network tests. Decorated the file with the WgS390x decorator to enable filtering for s390x environments.
  tests/network/hotplug_bridge.go
  tests/network/link_state.go
  tests/network/networkpolicy.go
  tests/network/port_forward.go
  tests/network/primary_pod_network.go
  tests/network/probes.go
  tests/network/services.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
Due: none

tests: enhance failure messages in storage/hotplug tests
  tests/storage/hotplug.go
Due: none

Add libvirt firmware auto-selection types to domain schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Use firmware auto-selection for ARM64 Secure Boot
  pkg/hypervisor/common/domain-builder-utils.go
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Skip SMM validation for ARM64 Secure Boot
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: rename kubevirt.io:migrate clusterrole (#76)
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix network policy for IPv4/IPv6
  tests/network/networkpolicy.go
Due: none

tests: add VMI startup profiling gated by KUBEVIRT_E2E_PROFILE_VMI_STARTUP
  automation/test.sh
  tests/libwait/profiler.go
  tests/libwait/wait.go
  tests/tests_suite_test.go
Due: none

Validate ARM64 Secure Boot feature gate
  pkg/libvmi/firmware.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

DNM: Switch ARM64 lane to CS10 with virt-preview packages
  WORKSPACE
  automation/test.sh
  hack/bootstrap.sh
  rpm/BUILD.bazel
  rpm/repo-virt-preview-cs10.yaml
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

fix race condition when hotplug volume status gets stuck in Detaching even though the associated pvc and attachment pod are bound and ready.
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix(monitoring): Do not fire KubeVirtDeprecatedAPIRequested for DELETE
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

fix(tests,monitoring): Actually use a deprecated API
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

node-labeller: suppress SEV-ES label on SEV-SNP capable hosts (CVE-2025-48514)
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Patched a bug under device-manager where health updates for device plugins registered via socket_device.go did not propogate.
  pkg/virt-handler/device-manager/device_plugin_base.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed MediatedDevicePlugin health checks not working as designed
  pkg/virt-handler/device-manager/mediated_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  kubevirtci/hack/bump-centos-version.sh
  kubevirtci/hack/publish-alpine.sh
Due: none

fix(csv-generator): Add missing virt-template image flags
  tools/csv-generator/csv-generator.go
Due: none

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

MDEV tests: fix checkAllMDEVCreated issue upon multiple GPUs
  tests/mdev_configuration_allocation_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
