Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make deps-sync && hack/verify-generate.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

Run smoke tests with cluster specific storage (#2080)
  hack/kv-smoke-tests.sh
  hack/test-config.json.azure
  hack/test-config.json.gcp
Due: none

Bump TTO to v0.4.1 (#2106)
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

network,passt: configure unprivileged_port_start to 0
  pkg/network/driver/common.go
  pkg/network/driver/generated_mock_common.go
  pkg/network/infraconfigurators/passt.go
  pkg/util/sysctl/sysctl.go
Due: none

passt,e2e: test connection to lower port (<1024)
  tests/network/vmi_passt.go
Due: none

Fix LimitRange namespace requirement
  pkg/virt-api/webhooks/mutating-webhook/mutators/namespace-limits.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/namespace-limits_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Bump virtlogd memory requirement to 18Mi
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Bump virtlogd memory requirement to 20Mi
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

docs: add minimum container-selinux version
  docs/getting-started.md
Due: none

Add TTL to VMExport API spec
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/export/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/export/v1alpha1/types.go
  staging/src/kubevirt.io/api/export/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-verify-go-mod

Delete VMExport when TTL expires
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  tests/storage/export.go
Due: none

Integrate TTL flag in virtctl export
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
  tests/storage/export.go
Due: none

Fix tests CDI DV GC default reference
  hack/cluster-deploy.sh
  tests/libstorage/datavolume.go
  tests/storage/datavolume.go
  tests/storage/snapshot.go
Due: none

修改bazel arch为crossbuild-aarch64
  .github/workflows/main.yml
Due: none

Test fsfreeze on Paused VM
  tests/storage/snapshot.go
Due: none

更新node-labeller.sh兼容aarch64
  cmd/virt-launcher/node-labeller/node-labeller.sh
Due: none

Add 0xFelix as reviewer
  OWNERS_ALIASES
Due: none

Point to the design proposal document in the contrib guide
  CONTRIBUTING.md
Due: none

临时注释兼容AARCH64，否则不支持cpu绑定等特性
  cmd/virt-handler/virt-handler.go
Due: none

Fix the pre stop hook for disks-images-provider
  manifests/testing/disks-images-provider.yaml.in
Due: none

adding polarion test ids
  tests/infra_test.go
Due: none

docs/ssh.md: Remove SSH documentation from main repo
  docs/ssh.md
Due: none

Use fgetxattr to get selinux labels
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/selinux.go
Due: none

e2e,expose: Correct expectation for service endpoints
  tests/network/expose.go
Due: none

Wait for VM to be updated
  tests/storage/snapshot.go
Due: none

virt-api: Improve authorizer unit tests
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api_test.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/authorizer.go
  pkg/virt-api/rest/authorizer_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

e2e, expose: Remove XFail blocks
  tests/network/BUILD.bazel
  tests/network/expose.go
Due: none

virt-api: Refactor authorizer
  pkg/virt-api/rest/authorizer.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

probes: Add liveness qemu-exec test probes IDs.
  tests/network/probes.go
Due: none

virt-api: Authorizer checks non-namespaced endpoints
  cmd/subresource-access-test/BUILD.bazel
  cmd/subresource-access-test/subresource-access-test.go
  pkg/virt-api/rest/authorizer.go
  pkg/virt-api/rest/authorizer_test.go
  tests/subresource_api_test.go
  tests/testsuite/serviceaccount.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-api: Add non-namespaced expand-spec to subresources APIResourceList
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-operator: Add rbac for expand-spec api endpoint
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
  tests/access_test.go
Due: none

Fix fsfreeze error with paused VMs
  cmd/virt-freezer/BUILD.bazel
  cmd/virt-freezer/main.go
Due: none

hugepages: switch VMs with hugepages to use container_t
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

selinux: remove custom rule for hugepages
  cmd/virt-handler/virt_launcher.cil
Due: none

network interface support queues and ringbuffer
  .github/workflows/main.yml
  api/openapi-spec/swagger.json
  pkg/virt-controller/services/template.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

Add lyarwood as reviewer
  OWNERS_ALIASES
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.22-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
