Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

virt-api: count an unset ramFB.enabled as enabled in the ramfb check
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmirs-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add subPath and readOnly mount options support for virtiofs
  api/openapi-spec/swagger.json
  pkg/libvmi/storage.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/services/virtiofs.go
  pkg/virt-controller/services/virtiofs_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/mount_options.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, e2e: Remove report podIP tests
  tests/libnet/validation.go
  tests/network/BUILD.bazel
  tests/network/primary_pod_network.go
Due: none

workload-updater: skip migrations while virt-handler is rolling out
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/reporter: add opt-in etcd storage profiler
  tests/reporter/BUILD.bazel
  tests/reporter/etcd.go
  tests/tests_suite_test.go
Due: none

Unquarantine downward metrics channel migration test
  tests/migration/migration.go
Due: none

test: add unit tests for ParseCPUMask and IsEnabled
  pkg/hypervisor/common/BUILD.bazel
  pkg/hypervisor/common/vcpu_test.go
Due: none

Fix CallNodeHooks to evaluate plugin-level Spec.Condition
  pkg/virt-handler/plugins/manager.go
  pkg/virt-handler/plugins/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind-sriov/sriov-components/manifests/network_resources_injector/server.yaml
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

Increase cluster profiler dump timeout from 5s to 15s
  pkg/virt-api/rest/profiler.go
  tests/infrastructure/cluster-profiler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tmp: test dequarantine
  tests/infrastructure/cluster-profiler.go
Due: none

docs: add release notes contributor guide
  .github/PULL_REQUEST_TEMPLATE.md
  docs/release-notes.md
  docs/release-procedure.md
Due: none

Add unsafe and directsync disk cache modes
  api/openapi-spec/swagger.json
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
  pkg/storage/admitters/storagehotplug.go
  pkg/storage/admitters/storagehotplug_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

treat DirectSync similar to None, both use O_DIRECT
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add migration e2e tests for all disk cache modes
  tests/migration/migration.go
Due: none

tests: de-quarantine guest console log tests
  tests/guestlog/guestlog.go
Due: none

virt-tail: replace nxadm/tail with simple direct I/O implementation
  cmd/virt-tail/BUILD.bazel
  cmd/virt-tail/main.go
  cmd/virt-tail/main_test.go
  cmd/virt-tail/virt_tail_suite_test.go
  go.mod
  go.sum
  vendor/github.com/nxadm/tail/.cirrus.yml
  vendor/github.com/nxadm/tail/.gitignore
  vendor/github.com/nxadm/tail/BUILD.bazel
  vendor/github.com/nxadm/tail/CHANGES.md
  vendor/github.com/nxadm/tail/CONTRIBUTING.md
  vendor/github.com/nxadm/tail/Dockerfile
  vendor/github.com/nxadm/tail/LICENSE
  vendor/github.com/nxadm/tail/README.md
  vendor/github.com/nxadm/tail/ratelimiter/BUILD.bazel
  vendor/github.com/nxadm/tail/ratelimiter/Licence
  vendor/github.com/nxadm/tail/ratelimiter/leakybucket.go
  vendor/github.com/nxadm/tail/ratelimiter/memory.go
  vendor/github.com/nxadm/tail/ratelimiter/storage.go
  vendor/github.com/nxadm/tail/tail.go
  vendor/github.com/nxadm/tail/tail_posix.go
  vendor/github.com/nxadm/tail/tail_windows.go
  vendor/github.com/nxadm/tail/util/BUILD.bazel
  vendor/github.com/nxadm/tail/util/util.go
  vendor/github.com/nxadm/tail/watch/BUILD.bazel
  vendor/github.com/nxadm/tail/watch/filechanges.go
  vendor/github.com/nxadm/tail/watch/inotify.go
  vendor/github.com/nxadm/tail/watch/inotify_tracker.go
  vendor/github.com/nxadm/tail/watch/polling.go
  vendor/github.com/nxadm/tail/watch/watch.go
  vendor/github.com/nxadm/tail/winfile/BUILD.bazel
  vendor/github.com/nxadm/tail/winfile/winfile.go
  vendor/gopkg.in/tomb.v1/BUILD.bazel
  vendor/gopkg.in/tomb.v1/LICENSE
  vendor/gopkg.in/tomb.v1/README.md
  vendor/gopkg.in/tomb.v1/tomb.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix ControllerRevision name and label overflow for long instancetype names
  pkg/apimachinery/BUILD.bazel
  pkg/apimachinery/apimachinery_suite_test.go
  pkg/apimachinery/labels.go
  pkg/apimachinery/labels_test.go
  pkg/instancetype/find/BUILD.bazel
  pkg/instancetype/find/revision.go
  pkg/instancetype/preference/find/BUILD.bazel
  pkg/instancetype/preference/find/revision.go
  pkg/instancetype/revision/BUILD.bazel
  pkg/instancetype/revision/store.go
  pkg/instancetype/revision/store_test.go
Due: none

feat: add PersistentDRAClaims feature gate and name length validation
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: validate Grace prerequisites before conversion
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/grace.go
  pkg/virt-launcher/virtwrap/converter/grace_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Check if VMI already has migratedVolumes in GenerateMigratedVolumes function
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: Add e2e test for slow QEMU startup deferral
  tests/compute/BUILD.bazel
  tests/compute/vmi_slow_startup.go
Due: none

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

conformance: forward PRIMARY_NETWORK_BINDING_PLUGIN variable
  Makefile
Due: none

virt-operator: share KubeVirt semantic validation with reconciler
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/reconcile_test.go
  pkg/virt-operator/validation/BUILD.bazel
  pkg/virt-operator/validation/validation.go
  pkg/virt-operator/validation/validation_suite_test.go
  pkg/virt-operator/validation/validation_test.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/infrastructure: remove redundant TSC label e2e test
  tests/infrastructure/node-labeller.go
Due: none

tests: rename sig-operator CI lane to sig-control-plane
  .github/ISSUE_TEMPLATE/flaky_test_report.md
  automation/test.sh
  hack/check-unassigned-tests.sh
  tests/canary_upgrade_test.go
  tests/decorators/decorators.go
  tests/operator/operator.go
Due: none

tests/storage: migrate to NewInterface builder pattern
  tests/storage/configuration.go
  tests/storage/datavolume.go
  tests/storage/events.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/objectgraph_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
Due: none

pkg/virt-launcher: migrate to NewInterface builder pattern
  pkg/virt-launcher/premigration-hook-server/network/ordinal_naming_test.go
  pkg/virt-launcher/virtwrap/converter/compute/cpu_test.go
  pkg/virt-launcher/virtwrap/converter/compute/memory_backing_test.go
  pkg/virt-launcher/virtwrap/converter/network/configurator_test.go
  pkg/virt-launcher/virtwrap/converter/network/passt_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

WIP: fail on log spam
  tests/reporter/vmlog_reporter.go
Due: none

Replace GetBlockInfo polling with capacity change detection
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/disk_expansion.go
  pkg/virt-launcher/virtwrap/disk_expansion_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

test, namespace: Fix cleanup failures in env with external ns labels
  tests/libnamespace/BUILD.bazel
  tests/libnamespace/namespace.go
  tests/testsuite/namespace.go
Due: none

e2e, compute: Use helper AddLabelToNamespace instead of direct patching
  tests/compute/BUILD.bazel
  tests/compute/cpu.go
Due: none

virt-controller/watch/descheduler: cover with linter
  hack/linter/lint-paths.txt
  pkg/virt-controller/watch/descheduler/descheduler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-controller/watch/testing: cover with linter
  hack/linter/lint-paths.txt
  pkg/virt-controller/watch/testing/testing.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
