Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

Add 60s timeout for Velero post-backup hook
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/storage/velero/annotations.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

remove redundant virtio-transitional integration test
  tests/BUILD.bazel
  tests/vmi_configuration_test.go
Due: none

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Add ExternalVMSnapshot feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add snapshotMode and overlayScratchSize to VirtualMachineSnapshot
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/BUILD.bazel
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-api: Reject External mode snapshots when the gate is disabled
  pkg/storage/admitters/vmsnapshot.go
  pkg/storage/admitters/vmsnapshot_test.go
Due: none

virt-launcher: Add ExternalSnapshot and CommitSnapshot RPCs
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/external_snapshot.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sidecars: smbios: keep sysinfo blocks the hook does not own
  cmd/sidecars/smbios/BUILD.bazel
  cmd/sidecars/smbios/smbios.go
  cmd/sidecars/smbios/smbios_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

chore(rpm-deps-cs9): Bump to seabios-1.16.3-6.el9
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

virt-launcher: add SeaBIOS fwcfg entry when disabling PCI hole64
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/converter/compute/controllers.go
  pkg/virt-launcher/virtwrap/converter/compute/controllers_test.go
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: pcihole64: assert the 64-bit hole is absent
  tests/compute/pcihole64.go
Due: none

snapshot: Add the overlay scratch volume lifecycle
  api/openapi-spec/swagger.json
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/external.go
  pkg/storage/snapshot/external_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/types/pvc.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Commit the snapshot overlays back into the base images
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/external_snapshot.go
  pkg/virt-launcher/virtwrap/storage/external_snapshot_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sc: add External mode to the snapshot content flow
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/external.go
  pkg/storage/snapshot/external_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
Due: none

Add externalsnapshot and commitsnapshot VMI subresources
  api/openapi-spec/swagger.json
  cmd/virt-handler/virt-handler.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/lifecycle.go
  pkg/virt-handler/rest/lifecycle_test.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/zz_generated.model_name.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/handler.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api+vh: Project the launcher's overlay metadata onto the VMI
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Implement the external snapshot transaction
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/metadata/kubevirt.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/external_snapshot.go
  pkg/virt-launcher/virtwrap/storage/external_snapshot_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

rbac: Grant the controller the overlay subresources
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Commit the overlays before the scratch volume fills up
  pkg/virt-launcher/virtwrap/storage/external_snapshot.go
  pkg/virt-launcher/virtwrap/storage/external_snapshot_test.go
  pkg/virt-launcher/virtwrap/storage/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

storage: Share the utility volume attach/detach helpers
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/backup_target_pvc.go
  pkg/storage/cbt/backup_test.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/external.go
  pkg/storage/snapshot/external_test.go
  pkg/storage/utilityvolume/BUILD.bazel
  pkg/storage/utilityvolume/utilityvolume.go
  pkg/storage/utilityvolume/utilityvolume_suite_test.go
  pkg/storage/utilityvolume/utilityvolume_test.go
  staging/src/kubevirt.io/api/core/v1/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Remove dead ConverterContext.UseVirtioTransitional
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cluster-profiler: dump control-plane pods when the selector is empty
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/profiler.go
  pkg/virt-api/rest/profiler_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/kubecli/profiler.go
  tests/infrastructure/cluster-profiler.go
  tools/cluster-profiler/BUILD.bazel
  tools/cluster-profiler/cluster-profiler.go
  tools/cluster-profiler/cluster-profiler_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtctl: remove deprecated create-vm flags
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Due: none

test alpine patched image
  tests/containerdisk/containerdisk.go
Due: none

hack: add coverage collector deployment manifest
  hack/coverage-collector-deploy.yaml
Due: none

Fix remaining template memory expectations for 2Mi monitor
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Rewrite virt-launcher-monitor in C
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/README.md
  cmd/virt-launcher-monitor/main.c
  cmd/virt-launcher-monitor/main_test.go
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
  cmd/virt-launcher-monitor/virt_launcher_monitor_suite_test.go
  hack/build-go.sh
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/kvm/hypervisorbackend_test.go
  pkg/hypervisor/mshv/hypervisorbackend.go
  pkg/hypervisor/mshv/hypervisorbackend_test.go
  pkg/virt-controller/services/template_test.go
  tests/compute/cpu.go
  tests/vmlogchecker/checker.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Harden C virt-launcher-monitor cleanup
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/main.c
  cmd/virt-launcher-monitor/main_test.go
  cmd/virt-launcher-monitor/virt_launcher_monitor_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Simplify Istio HTTP requests in C monitor
  cmd/virt-launcher-monitor/main.c
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Align virt-launcher-monitor gazelle data label
  cmd/virt-launcher-monitor/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Address monitor review: signals, caps, logs
  cmd/virt-launcher-monitor/main.c
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Emit kubevirt JSON logs from virt-launcher-monitor
  cmd/virt-launcher-monitor/README.md
  cmd/virt-launcher-monitor/main.c
  cmd/virt-launcher-monitor/main_test.go
  tests/vmlogchecker/checker.go
  tests/vmlogchecker/checker_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Wait for launcher signals and expose monitor errors to log checks
  cmd/virt-launcher-monitor/main.c
  cmd/virt-launcher-monitor/main_test.go
  tests/vmlogchecker/checker.go
  tests/vmlogchecker/checker_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Shrink qemu cmdline and log buffers; wait on SIGCHLD
  cmd/virt-launcher-monitor/README.md
  cmd/virt-launcher-monitor/main.c
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Keep virt-launcher-monitor statically linked
  cmd/virt-launcher-monitor/BUILD.bazel
  hack/build-go.sh
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/mshv/hypervisorbackend.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Link virt-launcher-monitor dynamically and tighten C warnings
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/main.c
  hack/build-go.sh
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/mshv/hypervisorbackend.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

testsuite: add SynchronizedBeforeSuite coverage setup
  hack/functests.sh
  tests/flags/flags.go
  tests/testsuite/coverage.go
  tests/testsuite/fixture.go
Due: none

bazel: update testsuite BUILD for coverage setup deps
  tests/testsuite/BUILD.bazel
Due: none

automation: Export vars for DRA driver
  automation/test.sh
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
