Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Add kubevirt_vm_resource_limits metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

move realtime and SEV related nodeSelectors from VMI to the vmipod
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add helper functions to enumerate VM and VMI volumes
  pkg/storage/utils/BUILD.bazel
  pkg/storage/utils/utils_suite_test.go
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
Due: none

Adapt snapshot code to use volume enumeration helpers
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
Due: none

virt-controller: Wire up dyn pod iface name FG
  pkg/network/vmicontroller/status.go
  pkg/network/vmicontroller/status_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: Wire up dyn pod iface name FG
  cmd/virt-handler/virt-handler.go
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
  pkg/virt-handler/non-root.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

e2e: Enable DynamicPodInterfaceNaming fg if needed
  tests/network/vmi_infosource.go
Due: none

virt-controller: unexport local consts
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add live-updatable VM tolerations
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/tolerations.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

node-labeller - remove node-labeller/util package
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/hyperv.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-handler/node-capabilities/BUILD.bazel
  pkg/virt-handler/node-capabilities/kvm-caps-info-plugin_amd64.go
  pkg/virt-handler/node-capabilities/node_capabilities.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/util/BUILD.bazel
  pkg/virt-handler/node-labeller/util/util.go
  tests/BUILD.bazel
  tests/hyperv_test.go
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/node-labeller.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

node-labeller - move GetCapLabels to node-capabilities
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-capabilities/BUILD.bazel
  pkg/virt-handler/node-capabilities/kvm-caps-info-plugin_amd64.go
  pkg/virt-handler/node-capabilities/kvm-caps-info-plugin_arm64.go
  pkg/virt-handler/node-capabilities/kvm-caps-info-plugin_s390x.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

node-capabilities - add domain capabilities parsing
  pkg/virt-handler/node-capabilities/BUILD.bazel
  pkg/virt-handler/node-capabilities/node_capabilities.go
  pkg/virt-handler/node-capabilities/node_capabilities_test.go
  pkg/virt-handler/node-capabilities/testdata/domcapabilities_nosev.xml
  pkg/virt-handler/node-capabilities/testdata/domcapabilities_sev.xml
  pkg/virt-handler/node-capabilities/testdata/domcapabilities_seves.xml
  pkg/virt-handler/node-capabilities/testdata/s390x/supported_features.xml
  pkg/virt-handler/node-capabilities/testdata/s390x/virsh_domcapabilities.xml
  pkg/virt-handler/node-capabilities/testdata/supported_features.xml
  pkg/virt-handler/node-capabilities/testdata/virsh_domcapabilities.xml
  pkg/virt-handler/node-capabilities/testdata/virsh_domcapabilities_nothing_usable.xml
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

node-labeller - complete decoupling of capability inference
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/cpu_map/x86_Opteron_G2.xml
  pkg/virt-handler/node-labeller/testdata/cpu_map/x86_Penryn.xml
  pkg/virt-handler/node-labeller/testdata/cpu_map/x86_Skylake-Client-IBRS.xml
  pkg/virt-handler/node-labeller/testdata/domcapabilities_nosev.xml
  pkg/virt-handler/node-labeller/testdata/domcapabilities_noseves.xml
  pkg/virt-handler/node-labeller/testdata/domcapabilities_sev.xml
  pkg/virt-handler/node-labeller/testdata/s390x/supported_features.xml
  pkg/virt-handler/node-labeller/testdata/s390x/virsh_domcapabilities.xml
  pkg/virt-handler/node-labeller/testdata/supported_features.xml
  pkg/virt-handler/node-labeller/testdata/virsh_domcapabilities.xml
  pkg/virt-handler/node-labeller/testdata/virsh_domcapabilities_nothing_usable.xml
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

node-labeller - separate prepareLabels to multiple methods
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Introduce node-capabilities to supplant node-labeller inference
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-capabilities/BUILD.bazel
  pkg/virt-handler/node-capabilities/node_capabilities.go
  pkg/virt-handler/node-capabilities/node_capabilities_suite_test.go
  pkg/virt-handler/node-capabilities/node_capabilities_test.go
  pkg/virt-handler/node-capabilities/testdata/capabilities.xml
  pkg/virt-handler/node-capabilities/testdata/capabilities_with_numa.xml
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

GA BochsDisplayForEFIGuests
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/options.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: add OWNERS file
  pkg/virt-controller/watch/clone/OWNERS
  pkg/virt-controller/watch/descheduler/OWNERS
  pkg/virt-controller/watch/drain/disruptionbudget/OWNERS
  pkg/virt-controller/watch/drain/evacuation/OWNERS
  pkg/virt-controller/watch/migration/OWNERS
  pkg/virt-controller/watch/node/OWNERS
  pkg/virt-controller/watch/pool/OWNERS
  pkg/virt-controller/watch/replicaset/OWNERS
  pkg/virt-controller/watch/testing/OWNERS
  pkg/virt-controller/watch/topology/OWNERS
  pkg/virt-controller/watch/vm/OWNERS
  pkg/virt-controller/watch/vmi/OWNERS
  pkg/virt-controller/watch/vsock/OWNERS
  pkg/virt-controller/watch/workload-updater/OWNERS
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add kubevirt_vm_resource_limits metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Conformance: watchdog test
  tests/BUILD.bazel
  tests/watchdog_test.go
Due: none

Conformance: vnc tests
  tests/vnc_test.go
Due: none

Conformance: Node affinity
  tests/vmi_lifecycle_test.go
Due: none

Conformance: vTPM
  tests/vmi_tpm_test.go
Due: none

Conformance: Graceful shutdown
  tests/vmi_lifecycle_test.go
Due: none

Conformance: Pod termination
  tests/vmi_lifecycle_test.go
Due: none

Conformance: Starting in paused state
  tests/vmi_lifecycle_test.go
Due: none

Conformance: Annotation propagation rules
  tests/vmi_lifecycle_test.go
Due: none

Conformance: EvictionStratgy: External
  tests/vmi_lifecycle_test.go
Due: none

Refactor unit tests to use libvmi for resource creation
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk_test.go
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk_test.go
  pkg/libvmi/storage.go
  pkg/libvmi/vmi.go
Due: none

Fix: graceful shutdown on non-ACPI architectures by using default signal
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix `check-unassigned-tests` script
  hack/check-unassigned-tests.sh
Due: none

Label sig-performance tests with proper decorator
  tests/decorators/decorators.go
  tests/performance/framework.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Remove the graduated NUMA KubeVirt feature gate (#3096)
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
Due: none

cleanup virtctl Console
  pkg/virtctl/console/BUILD.bazel
  pkg/virtctl/console/console.go
Due: none

backend-storage: migration: when source PVC is RWX, use as target too
  pkg/storage/backend-storage/backend-storage.go
Due: none

backend-storage: add source and target PVC names to migration status
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: unit tests: switch from informer to store
  pkg/storage/backend-storage/backend-storage_test.go
Due: none

backend-storage: create a new PVC on migration
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  tests/storage/backendstorage.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: save source and target PVC names to migration status
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance
