Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

flake-checker: use a new flag to adjust to the flake-checker
  automation/repeated_test.sh
  automation/test.sh
  hack/functests.sh
  tests/decorators/decorators.go
  tests/migration/recovery.go
Due: none

fix: prevent exec probes to be wrapped twice
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

test
  pkg/network/controllers/vm.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
  tests/network/BUILD.bazel
  tests/network/link_state.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: add e2e tests for machine type affinity
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/capabilities/BUILD.bazel
  tests/hotplug/BUILD.bazel
  tests/hotplug/affinity.go
  tests/libmigration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

bump libvirtxml version to v1.11000.1
  go.mod
  go.sum
  pkg/virt-handler/node-labeller/capabilities/BUILD.bazel
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-launcher/virtwrap/libvirtxml/convert.go
  pkg/virt-launcher/virtwrap/libvirtxml/libvirtxml_test.go
  vendor/libvirt.org/go/libvirtxml/capabilities.go
  vendor/libvirt.org/go/libvirtxml/domain.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Pass shared filesystem paths to libvirt to avoid failing migration
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMI: Don't corrupt Pod cache
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VM: Don't corrupt vmi cache
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Protect VMs from eviction within webhook
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
  tests/compute/eviction.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Pod eviction webhook is required
  pkg/virt-operator/resource/generate/components/webhooks.go
  pkg/virt-operator/resource/generate/components/webhooks_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Integration test for eviction
  tests/compute/BUILD.bazel
  tests/compute/eviction.go
Due: none

Improve eviction_stategy tests
  tests/migration/eviction_strategy.go
Due: none

Memorydump: move memory dump code to pkg/storage
  pkg/storage/memorydump/memorydump.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Memorydump: move contained memorydump tests
  pkg/storage/memorydump/BUILD.bazel
  pkg/storage/memorydump/memorydump_suite_test.go
  pkg/storage/memorydump/memorydump_test.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Allow disabing kubevirt RBAC aggregation
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/util/config.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Completely remove unused custom SELinux policy
  automation/test.sh
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-handler/virt_launcher.cil
  docs/getting-started.md
  hack/functests.sh
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/feature-gates.go
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/selinux/labels_test.go
  tests/decorators/decorators.go
  tests/flags/flags.go
  tests/security_features_test.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Memorydump: replace Update with Patch
  pkg/storage/memorydump/BUILD.bazel
  pkg/storage/memorydump/memorydump.go
  pkg/storage/memorydump/memorydump_test.go
Due: none

Enable SEV-SNP workloads
  pkg/util/util.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/domcapabilities_sevsnp.xml
  pkg/virt-handler/node-labeller/testdata/virsh_domcapabilities.xml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Generate SEV/SEV-ES/SEV-SNP policy bits
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Use memfd-based memory backing for SEV-SNP
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config: Rename `deprecation` package to `featuregate`
  pkg/virt-api/webhooks/fuzz/BUILD.bazel
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmirs-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-config/BUILD.bazel
  pkg/virt-config/deprecation/feature-gates_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/BUILD.bazel
  pkg/virt-config/featuregate/feature-gates.go
  pkg/virt-config/featuregate/feature-gates_test.go
  pkg/virt-config/featuregate/featuregate_suite_test.go
  pkg/virt-config/featuregate/macvtap.go
  pkg/virt-config/featuregate/passt.go
  pkg/virt-config/featuregate/validator.go
  pkg/virt-config/featuregate/validator_test.go
  pkg/virt-config/featuregate/virtiofs.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_test.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config, fg: Add Alpha and Beta FG state and register all FGs
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/feature-gates.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config, featuregate: Document the FG states
  pkg/virt-config/featuregate/feature-gates.go
  pkg/virt-config/featuregate/validator_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

added the libvim pakage
  pkg/virt-api/webhooks/validating-webhook/admitters/status-admitter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add kubevirt_vmi_migration_start|end_time_seconds metrics
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

API, VMI.Status.Interface: Add LinkState
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler, netstat: Report link state
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Due: none

net: Adjust e2e tests to account for LinkState
  tests/libnet/hotplug.go
  tests/network/vmi_infosource.go
Due: none

vm: error if the migration cancellation failed
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vm: fix return error for no kvm devices
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vm: unit tests for vmUpdateHelperMigrationTarget
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

libvmi: add WithUID
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/vmi.go
Due: none

Added unit tests for handleMigrationAbort
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vm: create unti tests for claimDeviceOwnership
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

deps: Update old packages
  go.mod
  go.sum
  vendor/github.com/google/goexpect/BUILD.bazel
  vendor/github.com/google/goexpect/README.md
  vendor/github.com/google/goexpect/expect.go
  vendor/github.com/gordonklaus/ineffassign/pkg/ineffassign/ineffassign.go
  vendor/github.com/mitchellh/go-ps/process_unix.go
  vendor/github.com/povsister/scp/README.md
  vendor/github.com/povsister/scp/transfer.go
  vendor/modules.txt
Due: none

deps: minor cleanup of go.mod file
  go.mod
  go.sum
  vendor/github.com/nxadm/tail/CHANGES.md
  vendor/modules.txt
Due: none
