Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

virt-ctrl, net: Mv MULTUS_RESOURCE_NAME_ANNOTATION
  pkg/network/multus/annotation.go
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/render.go
  pkg/virt-controller/network/render_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, multus: Rename MULTUS_RESOURCE_NAME_ANNOTATION
  pkg/network/multus/annotation.go
  pkg/virt-controller/network/render.go
  pkg/virt-controller/network/render_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

netpod, networkQueues: Switch the comparison order
  pkg/network/setup/netpod/netpod.go
Due: none

Add validation unit tests
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/validatingadmissionpolicy_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

add allocated and used disk size metrics
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/virt-controller/watch/application.go
  tests/monitoring/metrics.go
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

cleanup(tests,virtctl): Drop virtctl expose functests
  tests/libnet/BUILD.bazel
  tests/libnet/expose_util.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin_slirp.go
  tests/network/expose.go
Due: none

cleanup(virtctl,create): Use consts in unit tests
  pkg/virtctl/create/vm/vm_test.go
Due: none

Bump KUBEVIRT to v1.4.0-rc.0 (#3154)
  deploy/cluster_role.yaml
  deploy/crds/kubevirt00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt-hyperconverged-operator.v1.14.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.14.0/manifests/kubevirt00.crd.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/modules.txt
Due: none

automation: Use label filter for sig-compute serial over skip
  automation/test.sh
Due: none

pkg/network/vmispec: Add linter coverage
  hack/lint-paths.txt
  pkg/network/vmispec/defaults.go
  pkg/network/vmispec/defaults_test.go
  pkg/network/vmispec/hotplug_test.go
  pkg/network/vmispec/infosource.go
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
Due: none

instancetype, virt-controller: Clean up CRs after expand
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Remove use of k8s.io/utils/ptr
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/compatibility_test.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
Due: none

api, preference: Add PreferredEfi to API
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

preference: Wire up PreferredEfi
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
Due: none

e2e,migration: Quarantine flaky compute-migration test
  tests/migration/migration.go
Due: none

tests: refactor ThisPVC, ThisDV, ThisMigration, ThisDeployment matchers
  tests/framework/matcher/getter.go
Due: none

tests: refactor ThisVMIWith matcher to propagate errors correctly
  tests/framework/matcher/getter.go
Due: none

tests: refactor ThisVMWith matcher to propagate errors correctly
  tests/framework/matcher/getter.go
Due: none

e2e,compute: Add [Serial] label to sig-compute tests with serial decorator
  tests/hotplug/affinity.go
  tests/hotplug/tolerations.go
  tests/infrastructure/crds.go
  tests/vmi_lifecycle_test.go
  tests/vmi_vsock_test.go
Due: none

tests: quarantine guest console log tests
  tests/guestlog/guestlog.go
Due: none

build: Add rules_pkg v1.0.1 to WORKSPACE
  WORKSPACE
Due: pull-kubevirt-verify-rpms

build: Replace deprecated rules_docker with rules_oci
  WORKSPACE
Due: pull-kubevirt-verify-rpms

build: Update supporting images to use rules_oci
  BUILD.bazel
  cmd/libguestfs/BUILD.bazel
  cmd/pr-helper/BUILD.bazel
  cmd/sidecars/BUILD.bazel
  cmd/sidecars/cloudinit/BUILD.bazel
  cmd/sidecars/disk-mutation/BUILD.bazel
  cmd/sidecars/network-passt-binding/BUILD.bazel
  cmd/sidecars/network-slirp-binding/BUILD.bazel
  cmd/sidecars/smbios/BUILD.bazel
  images/BUILD.bazel
  images/disks-images-provider/BUILD.bazel
  images/nfs-server/BUILD.bazel
  images/vm-killer/BUILD.bazel
  images/winrmcli/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

build: Update containerdisks builds to use oci_image
  containerimages/BUILD.bazel
Due: none

build: Update to bazel v6.5.0
  .bazelversion
  hack/builder/Dockerfile
Due: publish-kubevirt-builder

build: update virt container image builds to use rules_oci
  cmd/virt-api/BUILD.bazel
  cmd/virt-controller/BUILD.bazel
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-handler/BUILD.bazel
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-operator/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

build: Remove rules_docker container_image from WORKSPACE
  WORKSPACE
Due: pull-kubevirt-verify-rpms

build: Stop loading container_push from rules_docker
  BUILD.bazel
Due: none

build: update bazel-build-images.sh to stop using container_bundles
  hack/bazel-build-images.sh
Due: none

build: update passwd image container build to use oci_image
  BUILD.bazel
Due: none

build: Remove images lists from BUILD.bazel and container_bundles
  BUILD.bazel
Due: none

build: fix formatting in tests BUILD file
  tests/BUILD.bazel
Due: none

build: Remove architecture from oci_imaage as derived from the base image
  BUILD.bazel
  cmd/libguestfs/BUILD.bazel
  cmd/sidecars/disk-mutation/BUILD.bazel
  cmd/virt-api/BUILD.bazel
  cmd/virt-launcher/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

build: change from using rules_docker container_push to rules_oci oci_push
  BUILD.bazel
  hack/bazel-push-images.sh
Due: none

build: Updated builder image with bazel v6.5.0
  hack/dockerized
Due: none

Bump CDI API to align with k8s PVC VolumeResourceRequirements
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  go.mod
  go.sum
  pkg/storage/export/virt-exportserver/exportserver_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/imageupload/imageupload.go
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.0/kubevirt.io.v1.VirtualMachine.after_roundtrip.json
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.0/kubevirt.io.v1.VirtualMachine.after_roundtrip.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.1/kubevirt.io.v1.VirtualMachine.after_roundtrip.json
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.1/kubevirt.io.v1.VirtualMachine.after_roundtrip.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.2/kubevirt.io.v1.VirtualMachine.after_roundtrip.json
  staging/src/kubevirt.io/api/apitesting/testdata/release-1.2/kubevirt.io.v1.VirtualMachine.after_roundtrip.yaml
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  tests/libdv/dv.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/BUILD.bazel
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_tlssecurityprofile.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_transfer.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Re-add finalizer update RBAC that was accidentally dropped
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/controller_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add support for specifying VolumeSnapshotClass while creating VMSnapshot
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
