Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.22-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Add CI provider introduction details
  docs/release.md
Due: none

Bugfix: use virt operator image if provided
  pkg/virt-operator/kubevirt.go
Due: none

Add a label for kubevirt alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

vm-killer-image, Add nonroot user to container image
  images/vm-killer/BUILD.bazel
  tests/utils.go
Due: none

Add checks of dedicatedCPUPlacement to validation webhook
  pkg/virt-api/webhooks/validating-webhook/admitters/instancetype-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/instancetype-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Add regression test for bug #8890
  pkg/storage/snapshot/restore_test.go
Due: none

instancetype: Ignore unexpected existing CRs during restore
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Due: none

Single setsched.go file for both amd64 and arm64
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/setsched.go
  pkg/virt-handler/setsched_arm64.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Add vmi creation timestamp metric
  docs/metrics.md
  pkg/monitoring/vmistats/collector.go
  pkg/monitoring/vmistats/collector_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Dump VM Exports on tests failure
  tests/reporter/kubernetes.go
Due: none

Fix vmexport download snapshot test
  tests/storage/export.go
Due: none

network, bridge binding: avoid reading link during phase2
  pkg/network/domainspec/BUILD.bazel
  pkg/network/domainspec/generators.go
  pkg/network/infraconfigurators/bridge.go
Due: none

tests, console/login: Add fedora root prompt detection
  tests/console/login.go
Due: none

Add VM snapshot recording rules to documentation
  docs/metrics.md
  tools/doc-generator/doc-generator.go
Due: none

Add a unit test
  pkg/virt-operator/kubevirt_test.go
Due: none

Add new environment variable to virt-operator deployment
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

Remove old deprecated environment variable
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/resource/generate/components/deployments.go
  tests/operator_test.go
Due: none

add generated file
  manifests/generated/operator-csv.yaml.in
Due: none

virt-handler: Replace CGO linking with a Go alternative
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/realtime.go
  pkg/virt-handler/setsched.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

tests, storage, export: Fix VM start helper
  tests/storage/export.go
Due: none

Add imagePullSecrets field
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/util/config.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/operator_test.go
  tests/utils.go
  tools/util/marshaller_test.go
Due: pull-kubevirt-verify-go-mod

Split Create and Update VM validation webhook function
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
  pkg/virt-operator/resource/generate/components/webhooks.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Reject vmi if there is vm with the same name
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Reject vm if there is vmi with the same name
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Create function for common admitVMI operation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

pod-servers: Move netcat servers to unprivileged pods
  tests/pod_servers.go
Due: none

vm-cycle: use exponential backoff when pause due to IO error
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/retry_manager.go
  pkg/virt-handler/retry_manager_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Remove quarantine label from passing storage tests
  tests/storage/snapshot.go
  tests/storage/storage.go
Due: none

Make caches for TlsSecurityProfile on HCO and APIServer independent (#2164)
  cmd/hyperconverged-cluster-webhook/main.go
  pkg/webhooks/setup.go
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
Due: none
