Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

hack/builder: add envtest binaries to builder image
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

storage export: fix flaky test
  tests/storage/export.go
Due: none

Auto-provision VirtualMachineBackup target PVCs when pvcName is omitted.
  api/openapi-spec/swagger.json
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_target_pvc.go
  pkg/storage/cbt/backup_target_pvc_test.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: skip gRPC in listAllKnownDomains to unblock startup
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
  pkg/virt-handler/cache/domain-watcher_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtwrap, api: Add IPs to schema
  pkg/network/driver/common.go
  pkg/network/driver/generated_mock_common.go
  pkg/network/setup/launcher/configurator_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, launcher: Set explicit IP for passt
  pkg/network/domainspec/generators.go
  pkg/network/setup/launcher/configurator.go
  pkg/network/setup/launcher/configurator_test.go
Due: none

e2e, net: Reintroduce ipv6 migration test
  tests/network/passt.go
Due: none

expansion: track PVC capacity uniformly and prevent disk shrink
  pkg/virt-launcher/virtwrap/disk_expansion.go
  pkg/virt-launcher/virtwrap/disk_expansion_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

netstat: tolerate domain interfaces without alias or MAC
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Due: none

Add exponential backoff for launcher client connection failures
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-handler/launcher-clients/launcher-clients_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

[release-1.9] bump libvirt
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

virt-launcher: model block latency histogram statistics
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/converter.go
  pkg/virt-launcher/virtwrap/statsconv/converter_test.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: configure block latency histograms for disks
  pkg/virt-launcher/virtwrap/converter/storage/configurator.go
  pkg/virt-launcher/virtwrap/converter/storage/configurator_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: restore block latency histograms on migration
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/premigration-hook-server/disk/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/disk/latency_histogram.go
  pkg/virt-launcher/premigration-hook-server/disk/latency_histogram_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: expose block latency histograms to Prometheus
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/block_latency_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/block_metrics_test.go
  pkg/monitoring/metrics/virt-handler/domainstats/collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/collector_test.go
  pkg/monitoring/metrics/virt-handler/domainstats/domainstats.go
  pkg/monitoring/metrics/virt-handler/metrics.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

tests: cover block latency histogram lifecycle
  tests/monitoring/BUILD.bazel
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

monitoring: include block latency histograms in the metric inventory
  docs/observability/metrics.md
  tests/libmonitoring/BUILD.bazel
  tests/libmonitoring/metrics.go
  tests/monitoring/metrics.go
  tools/doc-generator/BUILD.bazel
  tools/doc-generator/doc-generator.go
  tools/prom-metrics-collector/BUILD.bazel
  tools/prom-metrics-collector/metrics_json_generator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Run cd ../kubevirt && KUBEVIRT_CENTOS_STREAM_VERSION=10 KUBEVIRT_CS10_BUILDER_VERSION=2606301559-b9f50e380a make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

keep guest running to perform intenral crash dump with hyperv pvpanic model
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/panic_devices.go
  pkg/virt-launcher/virtwrap/converter/compute/panic_devices_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/libvmifact/factory.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

client-go: Address handshake review nits
  staging/src/kubevirt.io/client-go/kubecli/vmi.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/async.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/streamer_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Unconditionally set unix migration transport
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration target: Remove legacy transport handling
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

masquerade: Remove legacy migration transport
  pkg/network/setup/netconf.go
  pkg/network/setup/netconf_test.go
  pkg/network/setup/netpod/masquerade/masquerade.go
  pkg/network/setup/netpod/masquerade/masquerade_test.go
Due: none

SCC, virt-handler: Drop unneeded priviliges
  pkg/virt-operator/resource/generate/components/scc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

monitoring: don't treat missing kube-state-metrics data as 0 in Down/NoReady rules
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/virt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind-1.37/README.md
  kubevirtci/cluster-up/cluster/kind-1.37/conformance.json
  kubevirtci/cluster-up/cluster/kind-1.37/image
  kubevirtci/cluster-up/cluster/kind-1.37/provider.sh
  kubevirtci/cluster-up/cluster/kind-1.37/version
  kubevirtci/cluster-up/cluster/kind/configure-registry-proxy.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

move env var name constants to pkg/util/envvar
  pkg/util/envvar/BUILD.bazel
  pkg/util/envvar/envvar.go
  pkg/util/util.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/serialconsolelog.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/mediated_device.go
  pkg/virt-handler/device-manager/pci_device.go
  pkg/virt-handler/device-manager/usb_device.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/qemu_cmd.go
  pkg/virt-launcher/virtwrap/converter/compute/qemu_cmd_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/device/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/addresspool.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

move TLS auth ConfigMap constants to pkg/util/tls
  pkg/util/tls/BUILD.bazel
  pkg/util/tls/ca-manager.go
  pkg/util/tls/ca-manager_test.go
  pkg/util/util.go
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
  pkg/virt-api/api_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vmitrait: drop redundant nil-guard before range in IsVMIVirtiofsEnabled
  pkg/vmitrait/vmitrait.go
Due: none

vmitrait: remove vmi nil-guard from HasKernelBootContainerImage
  pkg/vmitrait/vmitrait.go
Due: none

move AlignImageSizeTo1MiB to pkg/storage/disksize
  pkg/emptydisk/BUILD.bazel
  pkg/emptydisk/emptydisk.go
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk.go
  pkg/storage/disksize/BUILD.bazel
  pkg/storage/disksize/disksize.go
  pkg/util/util.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

move CalcExpectedMemoryDumpSize to pkg/storage/memorydump
  pkg/storage/memorydump/BUILD.bazel
  pkg/storage/memorydump/memorydump.go
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/memorydump.go
  pkg/virtctl/memorydump/BUILD.bazel
  pkg/virtctl/memorydump/memorydump.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

refactor: move SetDefaultVolumeDisk to pkg/storage/vmispecdefaults
  pkg/defaults/BUILD.bazel
  pkg/defaults/defaults.go
  pkg/instancetype/expand/BUILD.bazel
  pkg/instancetype/expand/expand.go
  pkg/storage/vmispecdefaults/BUILD.bazel
  pkg/storage/vmispecdefaults/vmispecdefaults.go
  pkg/util/util.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs: fix stale AlignImageSizeTo1MiB godoc
  pkg/storage/disksize/disksize.go
Due: none

move GenerateKubeVirtGroupVersionKind to pkg/util/gvk
  pkg/instancetype/revision/BUILD.bazel
  pkg/instancetype/revision/store.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/util/BUILD.bazel
  pkg/util/gvk/BUILD.bazel
  pkg/util/gvk/gvk.go
  pkg/util/util.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/upgrade.go
Due: none

move VMI predicate functions to pkg/vmitrait
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/kvm/runtime.go
  pkg/hypervisor/mshv/hypervisorbackend.go
  pkg/hypervisor/mshv/runtime.go
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/vsock.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/console.go
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/memory_backing.go
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/vmitrait/BUILD.bazel
  pkg/vmitrait/vmitrait.go
  pkg/vmitrait/vmitrait_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

use strings.ReplaceAll in ResourceNameToEnvVar
  pkg/util/envvar/envvar.go
Due: none

virt-operator: Drop VMIPreset CRD from the "all" category
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/crds_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Check if VMI migratedVolumes match VM spec in handleVolumeUpdateRequest
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
