Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

network-binding: pass the binding config via virtualMachineOptions
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/network/setup/network.go
  pkg/network/setup/podnic.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/options.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

network-binding: Use tap domain attachment for existing bindings
  pkg/network/domainspec/BUILD.bazel
  pkg/network/domainspec/interface.go
  pkg/network/domainspec/interface_test.go
  pkg/network/setup/podnic.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/options.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

macvtap converter: No need to verify multus is used
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

net-binding: Use in the converter the tap domain attachment
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update renovate.json (#2631)
  renovate.json
Due: none

feat: add .snyk file (#2621)
  .snyk
Due: none

Run cd ../kubevirt && make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

Update client-go dependencies
  go.mod
  go.sum
  hack/dep-update.sh
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generate_command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generate_templates.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/generators/generators_common.go
  vendor/github.com/onsi/ginkgo/v2/internal/focus.go
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/ordering.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/json_report.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/reporters/teamcity_report.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/github.com/onsi/gomega/.gitignore
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/be_a_directory.go
  vendor/github.com/onsi/gomega/matchers/be_a_regular_file.go
  vendor/github.com/onsi/gomega/matchers/be_an_existing_file.go
  vendor/github.com/onsi/gomega/matchers/have_exact_elements.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Improve evictionStrategy docs (#2638)
  docs/cluster-configuration.md
Due: none

virt-handler: Refactor housekeeping cgroup to support multiple CPUs
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

hooks: tests: move them to v1alpha3
  pkg/hooks/BUILD.bazel
  pkg/hooks/generated_mock_manager.go
  pkg/hooks/manager_test.go
Due: none

sidecar-shim: implement Shutdown() of v1alpha3
  cmd/sidecars/BUILD.bazel
  cmd/sidecars/sidecar_shim.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

hooks: Add v1alpha3 with Shutdown method
  hack/gen-proto.sh
  pkg/hooks/BUILD.bazel
  pkg/hooks/manager.go
  pkg/hooks/v1alpha3/BUILD.bazel
  pkg/hooks/v1alpha3/api_v1alpha3.pb.go
  pkg/hooks/v1alpha3/api_v1alpha3.proto
  pkg/hooks/v1alpha3/v1alpha3.go
Due: none

hooks: do not panic()
  pkg/hooks/manager.go
Due: none

tests: sidecar: validate behavior on migration
  tests/BUILD.bazel
  tests/vmi_hook_sidecar_test.go
Due: none

hooks: refactor: use a switch for multiple versions
  pkg/hooks/manager.go
Due: none

hooks: refactor: factor out PreCloudInitIso logic
  pkg/hooks/manager.go
Due: none

sidecar-shim: refactor termination
  cmd/sidecars/sidecar_shim.go
  tests/vmi_hook_sidecar_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher: cleanup hooks
  cmd/virt-launcher/virt-launcher.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update renovate.json (#2640)
  renovate.json
Due: none

Change generate name method for snapshot and restore in vmclone process
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/clone/util.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bug: Missing rules Check whether the vm custom hostname rules are correct
  pkg/util/net/dns/sanitize.go
Due: none

Use constants instead of plain string
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add unit tests for rbac.getAllCluster function
  pkg/virt-operator/resource/generate/rbac/BUILD.bazel
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Allow kubevirt:view role to get,list kubevirts
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

binding plugin, cni: Avoid empty annotation
  pkg/virt-controller/services/multus_annotations.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

chore(deps): update github-actions (#2642)
  .github/workflows/build-push-images.yaml
  .github/workflows/dashboard-updater.yml
  .github/workflows/digester_bot.yml
  .github/workflows/graphs-updater.yml
  .github/workflows/override-bot.yaml
  .github/workflows/pr-sanity.yaml
  .github/workflows/publish-community-operators.yaml
  .github/workflows/rebase-bot.yml
  .github/workflows/release-bumper.yml
Due: none

virt-handler: remove redundant nil check
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

api: Declare Passt interface API is deprecated
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-api, vmi create admitter: Return undeclered AddmisstionResponse{}
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-api, validation: Raise warning when Passt interface API is used
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator, kv update admitter: Raise warning when Passt is enabled
  pkg/virt-config/feature-gates.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher, vcpu: Refactor emulatorThread to support multiple CPUs
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

openapi: add missing MIME to subresources API definition
  api/openapi-spec/swagger.json
  pkg/rest/mime.go
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

openapi: remove regexps in path templating
  api/openapi-spec/swagger.json
  pkg/virt-api/definitions/definitions.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

openapi: allow access to /v3 endpoint for k8s aggregation layer
  pkg/virt-api/rest/authorizer.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

openapi: add missing parameters to subresources API definition
  api/openapi-spec/swagger.json
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Extract ExpectAtLeastTwoNodes to checks package
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/expects.go
  tests/hotplug/BUILD.bazel
  tests/hotplug/cpu.go
  tests/libnode/BUILD.bazel
  tests/libnode/node.go
  tests/migration/migration.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
