Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Fixed missing IPv6 setups for some Masquerade tests (VEP 168, Alpha)
  pkg/network/setup/netpod/masquerade/masquerade_test.go
Due: none

cgroups: add AllowDevice/RemoveDevice/ListDevices to Manager interface
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/generated_mock_cgroup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: switch hotplug to AllowDevice/RemoveDevice, add fallback to Set()
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: add eBPF device map infrastructure and virt-chroot subcommands
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/ebpf_device_map.go
  cmd/virt-chroot/main.go
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/constants/constants.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: propagate spliceDeviceMap as a parameter through the call chain
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: wire eBPF splice into manager creation with cache
  cmd/virt-chroot/ebpf_device_map.go
  pkg/virt-handler/cgroup/cgroup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: reduce log noise from repeated manager creation
  pkg/virt-handler/cgroup/cgroup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: reduce log noise from repeated device allow
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: remove always-false isRootless parameter
  cmd/virt-chroot/cgroup.go
  cmd/virt-chroot/main.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: add tests for AllowDevice/RemoveDevice toggle and hotplug mount
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

WIP splice
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/libnet/vmnetserver: reliable hello-world nc servers on BusyBox (TCP+HTTP)
  tests/libnet/vmnetserver/servers.go
Due: none

tests/network/services: move decorators.WgS390x to bridge service-matching context
  tests/libnet/dns/dns.go
  tests/network/services.go
Due: none

tests/network/services: Alpine bridge tests with guest-agent readiness
  tests/libnet/BUILD.bazel
  tests/libnet/dns/dns.go
  tests/libnet/guestagent.go
  tests/network/services.go
Due: none

Bump github.com/moby/spdystream from v0.5.0 to v0.5.1 Address CVE-2026-35469 (GHSA-pc3f-x583-g7j2), a resource exhaustion vulnerability in the SPDY/3 protocol implementation
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/BUILD.bazel
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: none

storage, backup: replace ConditionDone with Complete and Failed conditions
  pkg/storage/admitters/backup.go
  pkg/storage/admitters/backup_test.go
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/storage/cbt/pull_mode.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  tests/storage/backup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

storage, backup: consolidate condition types into Reasons on Progressing
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/storage/cbt/pull_mode.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  tests/storage/backup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Strip managed-by label from virt-template bundle resources
  pkg/virt-operator/resource/generate/components/virttemplate.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Clean up VirtualMachineTemplate resources in test teardown
  tests/testsuite/BUILD.bazel
  tests/testsuite/namespace.go
Due: none

feat: VEP 222: add on-demand VSOCK CA service
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/rest/console.go
  pkg/virt-handler/rest/console_test.go
  pkg/virt-handler/rest/refcount.go
  pkg/virt-handler/rest/refcount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Auto-quarantine flaky tests
  tests/virtiofs/config.go
Due: none

tests/flags: add --network-binding-plugin flag
  tests/flags/flags.go
Due: none

tests/network: use binding plugin in primary pod network conformance
  tests/network/primary_pod_network.go
Due: none

tests/network: use binding plugin in services conformance
  tests/network/services.go
Due: none

tests/network: use binding plugin in networkpolicy conformance
  tests/network/networkpolicy.go
Due: none

tests/network: extract masquerade-specific entries from conformance
  tests/network/vmi_networking.go
Due: none

tests/conformance: pass network binding plugin env to test binary
  tests/conformance/conformance.go
Due: none

tests/network: use binding plugin in vmi_networking conformance
  tests/network/vmi_networking.go
Due: none

hack/conformance: pass network binding plugin to sonobuoy
  hack/conformance.sh
Due: none

fg: graduate WorkloadEncryptionSEV from Alpha to Beta
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/device-manager/device_controller_test.go
  pkg/virt-handler/device-manager/mediated_device_test.go
  pkg/virt-handler/device-manager/pci_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Automated update of virt-template to v0.2.0
  hack/virt-template/default.sh
  images/virt-template/deps.bzl
  manifests/generated/kubevirt-network-policies.yaml.in
  pkg/virt-operator/resource/generate/components/data/virt-template/install-virt-operator.yaml
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix: exclude addedOverhead from memlock when memLock is NotRequired
  pkg/hypervisor/kvm/hypervisorbackend_test.go
  pkg/hypervisor/kvm/runtime.go
  pkg/hypervisor/mshv/runtime.go
Due: none

hack: add bump-rpm-versions.sh to automate RPM version bumps
  hack/bump-rpm-versions.sh
Due: none

Deprecate NewCirros in favor of NewAlpine/NewAlpineWithTestTooling
  Makefile
  hack/lint-newcirros-deprecation.sh
  tests/containerdisk/containerdisk.go
  tests/libvmifact/factory.go
Due: none

Pin CS9 QEMU RPM to 10.1.0-20.
  hack/rpm-deps.sh
Due: none

Run make rpm-deps to regenerate RPM metadata.
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

VEP 19: Graduate IBM Secure Execution feature
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  tests/launchsecurity/secure-execution.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Add IOMMUFD device plugin to virt-handler
  pkg/virt-controller/services/template.go
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/iommufd_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add IOMMUFD feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
