Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make deps-sync && hack/verify-generate.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

Support clone with snapshot source
  pkg/storage/snapshot/snapshot.go
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_base.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Move clone functional tests outside of storage sub-package
  tests/BUILD.bazel
  tests/clone_test.go
  tests/libstorage/storageclass.go
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Due: none

Modify unit tests to consider the node affinity of vmi with host-model
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Create a warning event for nodes with obsolete CPU model
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Add functional test Make sure that vmi with host-model cpuModel won't be schedule to a node with obsolete host-model cpuModel and ensure that event is triggered.
  tests/infra_test.go
Due: none

Use alpine instead of cirros in scp tests
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Due: none

Revert "e2e test: switch to fedora in scp test"
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Due: none

Bump alpine with test tooling image
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Adjust vmi istio ssh tests now that sshd actually works
  tests/network/vmi_istio.go
Due: none

virt controller, template: warn when doppelganger pod has options
  go.mod
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/launchercommandrenderer.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

virt-launcher: Remove always nil return values from DomainManager
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

doc: tlsSecurityProfile via json-patch annotation (#2140)
  docs/cluster-configuration.md
Due: none

virt-api: Expand authorizer to check namespaced base resource endpoints
  pkg/virt-api/rest/authorizer.go
  pkg/virt-api/rest/authorizer_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Workaround to make sure Opteron_G2 support require `svm` This workaround is necessary because currently Opteron_G2 require svm by libvirt. (see /usr/share/libvirt/cpu_map/x86_Opteron_G2.xml)
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Get guestfs pod name with getGuestfsPodName
  tests/storage/guestfs.go
Due: none

virt-api: Rename and make expand-spec endpoint namespaced
  api/openapi-spec/swagger.json
  pkg/virt-api/api.go
  pkg/virt-api/rest/expand_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-api: Check VM namespace in expand-vm-spec
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-api: Check error messages in expand_test
  pkg/virt-api/rest/expand_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

virt-api: Add namespaced expand-vm-spec to subresources APIResourceList
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

subresource_api_test: Improve expand spec subresources tests
  tests/subresource_api_test.go
Due: none

virt-operator: Add rbac for expand-vm-spec api endpoint
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
  tests/access_test.go
Due: none

subresource_api_test: Add rbac test for expand-vm-spec endpoint
  cmd/subresource-access-test/BUILD.bazel
  cmd/subresource-access-test/subresource-access-test.go
  tests/subresource_api_test.go
  tests/testsuite/serviceaccount.go
Due: none

client-go: Update client to use namespaced expand-vm-spec
  staging/src/kubevirt.io/client-go/kubecli/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/instancetype.go
  staging/src/kubevirt.io/client-go/kubecli/instancetype_test.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
Due: pull-kubevirt-verify-go-mod

hotplug-disk container: match SELinux level of virt-launcher
  api/openapi-spec/swagger.json
  pkg/safepath/safepath.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

Set setGroup also for the second guestfs pod
  tests/storage/guestfs.go
Due: none

Solve flakiness for guestfs tests
  tests/storage/BUILD.bazel
  tests/storage/guestfs.go
Due: none

migration: use exponential backoff for failing migrations
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vmi.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

artifacts-server: fix single stack compatibility (#2139)
  build/Dockerfile.artifacts
Due: none

Moving HyperV tests to a more suitable place
  tests/hyperv_test.go
  tests/vmi_lifecycle_test.go
Due: none

Add unit test make sure that if we set vmi.Spec.Domain.Features.Hyperv.EVMCS.Enabled to be false than all dependencies features are not enabled.
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Add doc for DV GC disable jsonpatch (#2142)
  docs/cluster-configuration.md
Due: none

Specify fsGroup so we can write the exported PVC
  tests/storage/export.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.22-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
