Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Detector: Use safepath
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

passt BP, sidecar: Infer pod iface name from VMI
  cmd/sidecars/network-passt-binding/domain/BUILD.bazel
  cmd/sidecars/network-passt-binding/domain/configurator.go
  cmd/sidecars/network-passt-binding/domain/configurator_test.go
  cmd/sidecars/network-passt-binding/server/BUILD.bazel
  cmd/sidecars/network-passt-binding/server/server.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

passt BP, sidecar: Unexport DomainSpecMutator
  cmd/sidecars/network-passt-binding/callback/callback.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

feat(restores): introduce volumeOwnershipPolicies when restoring volumes
  api/openapi-spec/swagger.json
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Host-disk & PVC: Contain disk inside volume
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
Due: none

Host-disk, unit: Use more realistic paths
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
Due: none

Add alert related to CPU Queue
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/recordingrules/vmi.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

Update OWNERS_ALIASES - Add avlitman as sig-observability approver
  OWNERS_ALIASES
Due: none

Safepath, cmd-client: FindSocketOnHost
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: SocketFilePathOnHost
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: IsSocketUnresponsive
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: MarkSocketUnresponsive
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: overhaul VM revision handling
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Cache: getGhostRecords remove error return arg
  pkg/virt-handler/cache/cache.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: domain watcher to trust sockets from ghost record only
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
  pkg/virt-handler/cache/domain-watcher_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

NodeRestriction: Implement source check
  pkg/virt-operator/resource/generate/components/validatingadmissionpolicy.go
  tests/validatingadmissionpolicy/noderestrictions.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

awels to sig-storage Approver
  OWNERS_ALIASES
Due: none

watch/vm: remove unused methods and consts
  pkg/virt-controller/watch/vm/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Improve error message when restoring VMs with backend storage
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
Due: none

Improve error message when restoring VMs with backend storage
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix hotplug decentralized live migration
  pkg/virt-controller/services/template.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update newPendingVirtualMachine fn to use libvmi
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add helper functions to create VMI with additional options
  pkg/libvmi/firmware.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 2000
  pkg/libvmi/metadata.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 2500
  pkg/libvmi/status/status.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Rename newPendingVMIWithOptions function to newTestVMIWithOptions
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 3500
  pkg/libvmi/cpu.go
  pkg/libvmi/storage.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 3000
  pkg/libvmi/status/status.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update all remaining tests to use libvmi in vmi_test.go
  pkg/libvmi/devices.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add vmi name arg to newTestVMIWithOptions fn
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Move WithDomainFeatures fn to new file features.go
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/cpu.go
  pkg/libvmi/features.go
Due: none

Update match condition for VMI's phase transition timestamps
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add comment for line explicitly updating vmi object
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Replace WithDomainFeatures fn with WithHyperv
  pkg/libvmi/features.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Revert "q(sig-compute): quarantine decentralized lm test"
  tests/migration/namespace.go
Due: none

Modify test function that creates PVs to ensure the size is always larger than the requested PVC.
  tests/libstorage/pvc.go
  tests/storage/hotplug.go
Due: none
