Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

vmi update admitter: Rm namespace file read
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

vmi update admitter: Remove call to IsKubeVirtServiceAccount
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-api, webhooks: Deprecate IsKubeVirtServiceAccount
  pkg/virt-api/webhooks/utils.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Remove handler cgroup pkg dep in virt-chroot
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/cgroup.go
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/constants/BUILD.bazel
  pkg/virt-handler/cgroup/constants/constants.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance

Manually Bump CDI to v1.60.1 (#3059)
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/cdi.go
  controllers/operands/cdi_test.go
  deploy/cluster_role.yaml
  deploy/crds/containerized-data-importer00.crd.yaml
  deploy/crds/hco00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/containerized-data-importer00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/containerized-data-importer00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/build-manifests.sh
  hack/config
  hack/kv-smoke-tests.sh
  tests/func-tests/golden_image_test.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_tlssecurityprofile.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Fix bug with ImageStreams in relatedObjects (#3061)
  controllers/operands/imageStream.go
  controllers/operands/imageStream_test.go
Due: none

virt-operator test: Remove kv framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove sa framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove cr/crb framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove operator deployment framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove operator service framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove r/rb framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove operator daemonset framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove operator crd framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove scc/route framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove apiservice framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove vap/vapb framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove installstrategy/cm/job framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-operator test: Remove operator webhook framework.FakeControllerSource
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Consider the new DV reason ImagePullFailed
  pkg/storage/types/dv.go
Due: none

cleanup(operator.go): Use client instead of virtctl
  tests/operator/operator.go
Due: none

cleanup(tests,migration): Inline RunAndCancelMigration
  tests/libmigration/migration.go
  tests/migration/migration.go
Due: none

cleanup(tests,migration): Inline RunAndImmediatelyCancelMigration
  tests/libmigration/migration.go
  tests/migration/migration.go
Due: none

cleanup(tests,migration): Inline CancelMigration
  tests/libmigration/BUILD.bazel
  tests/libmigration/migration.go
  tests/migration/migration.go
Due: none

cleanup(tests,migration): Use client instead of virtctl
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: none

Remove openapi resource customization
  api/openapi-spec/swagger.json
  pkg/util/openapi/openapi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump KUBEVIRT to v1.3.1 (#3062)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/modules.txt
Due: none

cleanup(virtctl): Use fake virt client in unit tests
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/add_volume_test.go
  pkg/virtctl/vm/remove_volume_test.go
  staging/src/kubevirt.io/client-go/testing/fake.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

consolidate all VMI defaulting to one function
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

create a public function to geenrate VMI from VM
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

remove redundent call to SetDefaultVolumeDisk
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

vm controller: remove redundent call to SetDefaultNetworkInterface
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-api, admitters: Remove unused params
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/validating-webhook.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

vmsnapshot: when checking if a VM is running, ignore runStrategy
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
Due: none

update vmsnapshot functest to not care about runStrategy
  tests/storage/snapshot.go
Due: none

vm controller: move the autoAttachInputDevice to the vmi defaultling
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

dataImportCronTemplates: Remove CentOS 7 & stream 8 (#3048)
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
  build/Dockerfile.okd
  ci-test-files/centos9-stream-imagestream.yaml
  ci-test-files/dataImportCronTemplatesWithImageStream.yaml
  tests/func-tests/golden_image_test.go
Due: none

deploy: Fix script for external providers (#3064)
  hack/deploy.sh
Due: none

migration update admitter: Move tests to test package
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance
