Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
  ...

pool_test: move NewRandomPoolFromVMI out of utils
  tests/BUILD.bazel
  tests/pool_test.go
  tests/utils.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

go: update go.mod and go.sum
  go.mod
  go.sum
Due: pull-kubevirt-verify-go-mod

virt-ctl, ut: Adapt to ginkgo 2.0
  pkg/virt-controller/services/template_test.go
Due: none

tests: Remove empty lines
  pkg/monitoring/client/prometheus/prometheus_test.go
  pkg/virt-operator/resource/apply/rbac_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

virt-launcher, unit-test: Adapt to ginkgo 2.0
  pkg/virt-launcher/virtwrap/manager_test.go
Due: none

tests: Adapt to ginkgo 2.0
  pkg/host-disk/host-disk_test.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-operator/kubevirt_test.go
  tests/console_test.go
Due: none

WIP tests: Update builder docker file
  hack/builder/Dockerfile
Due: none

tests: Use named import for api package
  pkg/virt-launcher/virtwrap/api/deepcopy_test.go
  pkg/virt-launcher/virtwrap/api/defaults_test.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
Due: none

tests: Use official BeforeAll
  pkg/ignition/ignition_test.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  tests/infra_test.go
  tests/operator_test.go
  tests/utils.go
Due: none

tests: Update staging go.mod files
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
Due: pull-kubevirt-verify-go-mod

tests, dhcp: Adapt to ginkgo 2.0
  pkg/network/dhcp/configurator_test.go
Due: none

tests: Update build functests to use gingko 2.0
  hack/build-func-tests.sh
Due: none

tests: Remove obsolete decorators
  pkg/host-disk/host-disk_test.go
  pkg/virt-api/api_test.go
  pkg/virt-api/rest/authorizer_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-operator/kubevirt_test.go
  tests/console_test.go
  tests/infra_test.go
  tests/migration_test.go
  tests/storage/guestfs.go
  tests/storage/hotplug.go
  tests/storage/storage.go
  tests/subresource_api_test.go
  tests/sysprep_test.go
  tests/vmi_cloudinit_hook_sidecar_test.go
  tests/vmi_configuration_test.go
  tests/vmi_hook_sidecar_test.go
  tests/windows_test.go
Due: none

virtctl, ut: Adapt to ginkgo 2.0
  pkg/virtctl/ssh/BUILD.bazel
  pkg/virtctl/ssh/ssh_suite_test.go
  pkg/virtctl/ssh/ssh_test_suite.go
Due: none

virt-controller, unit-test: Adapt to ginkgo 2.0
  pkg/virt-controller/watch/vm_test.go
Due: none

tests: Update deprecated param to slow-spec-threshold
  automation/repeated_test.sh
  hack/ci/entrypoint.sh
  hack/functests.sh
  hack/perftests.sh
  hack/realtime-perftests.sh
Due: none

stability test: Use gomega/gmeasure
  staging/src/kubevirt.io/client-go/api/BUILD.bazel
  tests/BUILD.bazel
  tests/stability_test.go
  vendor/github.com/onsi/gomega/gmeasure/BUILD.bazel
  vendor/github.com/onsi/gomega/gmeasure/cache.go
  vendor/github.com/onsi/gomega/gmeasure/enum_support.go
  vendor/github.com/onsi/gomega/gmeasure/experiment.go
  vendor/github.com/onsi/gomega/gmeasure/measurement.go
  vendor/github.com/onsi/gomega/gmeasure/rank.go
  vendor/github.com/onsi/gomega/gmeasure/stats.go
  vendor/github.com/onsi/gomega/gmeasure/stopwatch.go
  vendor/github.com/onsi/gomega/gmeasure/table/BUILD.bazel
  vendor/github.com/onsi/gomega/gmeasure/table/table.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

unit test: Use Ginkgo 2.0
  tools/ginkgo/ginkgo.bzl
Due: none

tests: Adapt to updated methods
  tests/network/BUILD.bazel
  tests/network/port_forward.go
  tests/reporter/outputenricher.go
  tests/utils.go
Due: none

WIP: update reporters to v2
  hack/functests.sh
  staging/src/kubevirt.io/client-go/log/BUILD.bazel
  staging/src/kubevirt.io/client-go/log/log_suite_test.go
  staging/src/kubevirt.io/client-go/testutils/BUILD.bazel
  staging/src/kubevirt.io/client-go/testutils/setup.go
  tests/reporter/kubernetes.go
  tests/reporter/outputenricher.go
  tests/tests_suite_test.go
  tools/junit-merger/junit-merger.go
Due: pull-kubevirt-verify-go-mod

tests: Remove unneeded RunSpecs
  staging/src/kubevirt.io/client-go/api/types_test.go
Due: pull-kubevirt-verify-go-mod

virt-api, unit-test: Adapt to ginkgo 2.0
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
Due: none

virt-controller, unit-test: Adapt to ginkgo 2.0
  pkg/virt-controller/watch/pool_test.go
Due: none

tests: Adapt to ginkgo 2.0 params
  automation/repeated_test.sh
  automation/test.sh
  hack/perftests.sh
  hack/realtime-perftests.sh
Due: none

tests: Increase timeout to 3h
  hack/functests.sh
Due: none

DNM, WIP: work on adapting reporters
  automation/assert-not-all-tests-skipped.sh
  hack/functests.sh
  tools/junit-merger/junit-merger.go
Due: none

WIP: fix reporters
  hack/functests.sh
  staging/src/kubevirt.io/client-go/log/BUILD.bazel
  staging/src/kubevirt.io/client-go/log/log_suite_test.go
  staging/src/kubevirt.io/client-go/reporter/BUILD.bazel
  staging/src/kubevirt.io/client-go/reporter/reporter.go
  staging/src/kubevirt.io/client-go/testutils/BUILD.bazel
  staging/src/kubevirt.io/client-go/testutils/setup.go
  tests/BUILD.bazel
  tests/tests_suite_test.go
  tools/junit-merger/junit-merger.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Remove the VMI informer from the VM admission webhook
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

container_disk_test: reuse libvmi.New* and RunVMIAndExpectLaunch
  tests/container_disk_test.go
Due: none

Make "delete a KubeVirt CR" test Serial
  tests/dryrun_test.go
Due: none

Test: Return status from webhook
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: none

Path conditions:
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
