Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Migrate SPDY to WebSocket with SPDY fallback
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/vmexport/vmexport.go
  tests/exec/execute.go
  tests/libpod/certs.go
Due: none

virt-config: Introduce LiveUpdateNADRef FG
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, restart: Change the signature of shouldNetsChangeRequireRestart
  pkg/network/vmliveupdate/restart.go
Due: none

virt-ctl, vm: Don't add RestartRequired condition for NAD ref change
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-controller, vm: Copying network specs from VM to VMI during Sync
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

network, evaluator: Optimize shouldVMIBeMarkedForAutoMigration
  pkg/network/migration/evaluator.go
Due: none

virt-ctl, lifecycle: Adding the correct migration conditions
  pkg/network/migration/BUILD.bazel
  pkg/network/migration/evaluator.go
  pkg/network/migration/evaluator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, e2e: Add e2e test for NAD Live update
  tests/network/BUILD.bazel
  tests/network/nad_live_update.go
Due: none

[virtLauncher] fix SeaBIOS log error handling in libvirt_helper.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: create operator cert before webhook configurations
  pkg/virt-operator/resource/apply/core.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

fix: guard against nil pod in workload-updater eviction goroutine
  pkg/controller/controller.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Compute memlockSize in AdjustResources once
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add spec.domain.memory.reservedOverhead
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-api: Hide ReservedOverhead under a feature-gate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

util: VMI memory reserved overhead predicates
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

kvm: Add Memory.ReservedOverhead in GetMemoryOverhead
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/kvm/hypervisorbackend_test.go
Due: none

virt-handler: Adjust memlock RLimits if required
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

[wip] launcher: virt-lint integration PoC for VEP #178
  BUILD.bazel
  WORKSPACE
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/validators/common_p/check_numa.py
  cmd/virt-launcher/validators/common_p/check_pcie_root_ports.py
  cmd/virt-launcher/validators/kubevirt/check_ovmf_secure.py
  cmd/virt-launcher/virt-launcher.go
  go.mod
  go.sum
  hack/bazel-generate.sh
  hack/builder/Dockerfile
  hack/rpm-deps.sh
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
  rpm/BUILD.bazel
  rpm/custom-repo.yml
  vendor/gitlab.com/MichalPrivoznik/virt-lint/go/virt-lint/BUILD.bazel
  vendor/gitlab.com/MichalPrivoznik/virt-lint/go/virt-lint/virt-lint.go
  vendor/modules.txt
Due: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Add glibc-minimal-langpack and openssl-fips-provider and update
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Fix building and deploying with KUBEVIRT_PROVIDER=external
  hack/manifests.sh
Due: none

sandbox: Use HOST_ARCHITECTURE for platform selection
  hack/bootstrap.sh
Due: none

rpm: Add libfido2 to CS10 ldd targets and regenerate deps
  WORKSPACE
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

fix: inject PV node affinity for hotplugged RWO volumes into launcher pod
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: run with long VMI names
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/vmi.go
Due: none

storage/cbt: fix backup target volume name for long backup names
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/push-target-pvc.go
Due: none

storage/backend-storage: fix PVC naming for long VM names
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
Due: none

storage/snapshot: fix VolumeSnapshot naming for long volume names
  pkg/storage/snapshot/snapshot.go
Due: none

tests: fix assertions that break with long VM names
  tests/objectgraph_test.go
  tests/storage/BUILD.bazel
  tests/storage/export.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Due: none

virt-controller: truncate virt-launcher GenerateName for long VMI names
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtctl/vmexport: fix service lookup for long export names
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Due: none

webhooks: Drop SecureBoot validation for arm64
  pkg/defaults/BUILD.bazel
  pkg/defaults/arm64.go
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

defaults: Add tests for arm64 SecureBoot defaulting
  pkg/defaults/defaults_test.go
Due: none

Set topology hints decentralized live migration
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

MDEV tests: fix checkAllMDEVCreated issue upon multiple GPUs
  nogo_config.json
  tests/mdev_configuration_allocation_test.go
Due: none

MDEV tests: fix checkAllMDEVCreated issue upon multiple GPUs
  tests/mdev_configuration_allocation_test.go
Due: none

tests/reporter: Collect etcd cluster info on test failure
  tests/reporter/kubernetes.go
Due: none
