Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

[WIP] handle mem overhead when use IOMMUFD
  pkg/virt-controller/services/renderresources.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

[WIP] handle domain caps
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

[WIP] Enable IOMMUFD support for domains
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/generic/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/gpu/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

rpms: update virt rpms to latest versions in stream 9
  hack/rpm-deps.sh
Due: none

make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms

add missing rbacs
  kubevirtci/cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
Due: none

Fix link enable
  tests/libnet/resourceclaim.go
  tests/network/sriov.go
Due: none

dra,network: Make requestName and claimName mandatory
  api/openapi-spec/swagger.json
  kubevirtci/cluster-up/cluster/kind-sriov/config_sriov_cluster.sh
  kubevirtci/cluster-up/cluster/kind-sriov/sriov-components/sriov_components.sh
  pkg/libvmi/network.go
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/netsource_test.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/watch/dra/dra.go
  pkg/virt-controller/watch/dra/dra_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/network/sriov.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Make net configurator arch-independent
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/configurator.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Pass 0 and let libvirt determine the size if block device
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

VMExport: Volumes info missing if source VM's dataVolume name has dots
  pkg/libdv/dv.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/links.go
  pkg/storage/export/export/paths.go
  pkg/storage/export/export/vm-source_test.go
Due: none

rpm: Bump QEMU version
  hack/rpm-deps.sh
Due: none

launcher, converter: Make RNG configurator arch-independent
  pkg/virt-launcher/virtwrap/converter/compute/rng.go
  pkg/virt-launcher/virtwrap/converter/compute/rng_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Make Balloon configurator arch-independent
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/ballon_test.go
  pkg/virt-launcher/virtwrap/converter/compute/balloon.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter, net: Add initial test coverage
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/configurator_test.go
  pkg/virt-launcher/virtwrap/converter/network/network_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix npe on arm64 with cpu pinning and maxSockets configured
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

export: infer kubevirtContentType in advance
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/links.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
Due: none

export: introduce export sources
  pkg/storage/export/export/export.go
  pkg/storage/export/export/links.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
Due: none

export_test: revise unit tests to use export sources
  pkg/storage/export/export/export_test.go
Due: none

Use EAFP approach for VM migration error detection for reset/unpause
  pkg/virt-handler/rest/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add Guest memory alerts
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/recordingrules/vmi.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

build: refactor multi-platform usage patterns
  BUILD.bazel
  bazel/compat/BUILD.bazel
  cmd/libguestfs/BUILD.bazel
  cmd/pr-helper/BUILD.bazel
  cmd/sidecars/BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-handler/BUILD.bazel
  cmd/virt-launcher/BUILD.bazel
  hack/bootstrap.sh
  images/BUILD.bazel
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix flakiness in migration priority queue unit tests
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cbt, backup: prevent stale status update when reusing backup names
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: overhaul VM revision handling
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: remove unused methods and consts
  pkg/virt-controller/watch/vm/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: introduce getLastVMRevisionKey
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

watch/vm: clean unit tests
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/storage/snapshot.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter_test: localize 6 unit tests
  pkg/virt-launcher/virtwrap/converter/compute/balloon_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter_test: use static testdata
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix a typo in filename
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/balloon_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

localize tests for AutoAttacheMemBalloon=False
  pkg/libvmi/devices.go
  pkg/virt-launcher/virtwrap/converter/compute/balloon_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

api: Add omitempty to Filesystem.Virtiofs field
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

operator tests: stop testing os upgrade
  tests/flags/flags.go
  tests/operator/operator.go
Due: none

api: Add spec.domain.memory.reservedOverhead
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler,isolation: ClusterConfig into AdjustResources
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/generated_mock_detector.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-controller: ClusterConfig into GetMemoryOverhead
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
  tests/migration/migration.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler,isolation: ClusterConfig into AdjustQemuProcessMemoryLimits
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance
