Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

Fix containerdisk unmount logic
  pkg/virt-handler/container-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Remove test that is not needed
  tests/storage/restore.go
Due: none

libnode, e2e tests, teardown: ignore errors when uncordoning nodes
  tests/libnode/node.go
Due: none

Remove "should pause VMI on IO error" test from quarantine
  tests/storage/storage.go
Due: none

manifests: avoid empty infra section in kubevirt-cr
  manifests/generated/kubevirt-cr.yaml.in
  tools/resource-generator/resource-generator.go
Due: none

Add check for label filter different from SKIP statements for single replica test lane
  automation/test.sh
Due: none

Correct the syntax error- irrelevant "then" keyword
  automation/test.sh
Due: none

Replace regex with labels to avavoid conflict with needs-non-root label
  automation/test.sh
Due: none

Remove incorrect label name in the commit number - aca4d37
  automation/test.sh
Due: none

add TrilioVault for Kubernetes to adopters.md
  ADOPTERS.md
Due: none

e2e tests, libnode: do now shadow the nodes pkg
  tests/libnode/node.go
Due: none

e2e tests, libnode: only uncordon node once
  tests/libnode/BUILD.bazel
  tests/libnode/node.go
Due: none

tests, libnode: remove redundant `CleanNodes` func call
  tests/migration_test.go
Due: none

e2e tests, libnode: taint node w/ `NoSchedule`
  tests/migration_test.go
Due: none

Enforce AllowPrivilegeEscalation
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

Drop ALL capabilities
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

Set SeccompProfile
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

WORKSPACE: Update distro images
  WORKSPACE
  tests/vmi_configuration_test.go
Due: pull-kubevirt-verify-rpms

Increase memory in upgrade test
  tests/operator_test.go
Due: none

e2e: fix flaky test_id 8482 in migration suite
  tests/migration_test.go
Due: none

Delete test case that checks underlying DV's PVC won't trigger start of VM
  tests/storage/datavolume.go
Due: none

instancetype: Correct use of libvmi in functional tests
  tests/instancetype_test.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

guestfs test
  tests/storage/guestfs.go
Due: none

add validations for spec.topologySpreadConstraints
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/validate-k8s-utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

debug: implement a way to override arbitrary files in virt-launcher
  api/openapi-spec/swagger.json
  cmd/virt-launcher/virt-launcher.go
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

passt: updating passt rpm and rum `make rpm-deps`
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-verify-rpms

fix: generating crd validation code fails when API code comments contain backticks
  tools/crd-validation-generator/validation-generator.go
Due: none

Tests: Handle various names of the qemu binary
  tests/vmi_configuration_test.go
Due: none

Replace || by && in Non-root lane for label_filter
  automation/test.sh
Due: none

Support DV garbage collection
  hack/cluster-deploy.sh
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/export/export.go
  pkg/virt-controller/watch/export/export_test.go
  pkg/virt-controller/watch/snapshot/restore.go
  pkg/virt-controller/watch/snapshot/restore_base.go
  pkg/virt-controller/watch/snapshot/snapshot.go
  pkg/virt-controller/watch/util/BUILD.bazel
  pkg/virt-controller/watch/util/util.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/libstorage/BUILD.bazel
  tests/libstorage/datavolume.go
  tests/migration_test.go
  tests/pool_test.go
  tests/storage/clone.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/imageupload.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/utils.go
  tests/vm_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Move Export code to pkg storage
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-exportserver/virt-exportserver.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_suite_test.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/virt-exportserver/BUILD.bazel
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/export/virt-exportserver/exportserver_suite_test.go
  pkg/storage/export/virt-exportserver/exportserver_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone.go
  tests/storage/BUILD.bazel
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move vm snapshot and restore logic to new storage pkg
  pkg/storage/BUILD.bazel
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_suite_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/storage/snapshot/util.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add temporary ingnore from errcheck new no-go check
  nogo_config.json
Due: none

Rebase updates
  pkg/host-disk/BUILD.bazel
  pkg/storage/types/BUILD.bazel
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virtctl/vm/BUILD.bazel
  pkg/virtctl/vm/vm.go
  tests/storage/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

move storage types to pkg storage
  pkg/host-disk/host-disk.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/source.go
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/dv.go
  pkg/storage/types/dv_test.go
  pkg/storage/types/pvc.go
  pkg/storage/types/pvc_test.go
  pkg/storage/types/types_suite_test.go
  pkg/util/types/BUILD.bazel
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/export/BUILD.bazel
  pkg/virt-controller/watch/export/export.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/non-root.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

rebase update imports
  pkg/virt-controller/watch/util/BUILD.bazel
  pkg/virt-controller/watch/util/util.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
