Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Add GuestAgentInfo load metrics
  api/openapi-spec/swagger.json
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/domainstats.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_scraper.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/manager.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

virt-launcher: Reduce logging of "No DRA GPU devices found for vmi"
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

vmi_configuration_test: test that serial number is set in guest
  tests/vmi_configuration_test.go
Due: none

hack/builder/commons: remove ppc64le arch TODO comment
  hack/builder/common.sh
Due: publish-kubevirt-builder

docs/build-the-builder.md: remove ppc64le arch occurrences
  docs/build-the-builder.md
Due: none

export: address additional naming convention issues
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Deprecate a cpumanager label
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/nodeselectorrenderer_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/heartbeat_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/framework/checks/checks.go
  tests/testsuite/kubevirtresource.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Introduce Dedicated CPU unit tests
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_dedicatecpu_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Evacuation tests: Group vars
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

convert an e2e test to a unit test
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Introduce FindPodDir
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
  pkg/virt-handler/launcher-clients/launcher-clients.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cmd-client: Refactor errors and guest logic to own files
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/errors.go
  pkg/virt-handler/cmd-client/guest.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Isolation detector: Remove unused field
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Simplify PodIsolationDetector
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/generated_mock_detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Un-quarantine: should not migrate more than two VMIs at the same time from a node
  tests/migration/eviction_strategy.go
Due: none

tests,network: Perform conn. check against pod in tests namespace
  tests/network/vmi_networking.go
Due: none

Remove PodCacheStore, not used
  pkg/controller/controller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher/virtwrap/api: Move arch specific content into separate files
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/amd64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arch_defaulter_suite_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arm64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/s390x.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/defaults.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration: Use the VMIs MigrationState to double check SourceNode
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

net, e2e: Fix flaky multi-NIC hotplug test
  tests/network/hotplug_bridge.go
Due: none

net, e2e, hotplug: List migrations by VMI name
  tests/network/hotplug_bridge.go
Due: none

Operator e2e: Don't be optimistic with update
  tests/operator/operator.go
Due: none

Deploy Network Policies for KV functionalities
  network-policies.yaml
Due: none

net, e2e, SR-IOV HP: List migrations by VMI name
  tests/network/hotplug_sriov.go
Due: none

q(vgpu,1.4): quarantine flaky mdev test
  tests/mdev_configuration_allocation_test.go
Due: none

pod-eviction-admitter, webhooks: handle eviction of hotplug pod
  docs/handling-eviction-requests.md
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
  pkg/virt-operator/resource/generate/components/webhooks.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

q(1.6,sig-compute): quarantine flaky persistent TPM
  tests/vm_state_test.go
Due: none

q(1.5,sig-compute): flaky virt-operator upgrade test
  tests/operator/operator.go
Due: none

Fix IsRunning function on migration type
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

remove WithPrivileged occurrences
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

network, dns: Support parsing IPv6 Nameservers
  pkg/network/dns/resolveconf.go
  pkg/network/dns/resolveconf_test.go
  pkg/network/driver/common.go
Due: none

Treat paused VMs as unsafe for snapshots
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
Due: none

Prevent VM operations during snapshot operations
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add Paused indication for VM snapshots
  pkg/storage/snapshot/snapshot.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  tests/storage/snapshot.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

dhcp6: Support option 23
  pkg/network/dhcp/serverv6/serverv6.go
  pkg/network/dhcp/serverv6/serverv6_test.go
  pkg/network/driver/common.go
Due: none
