Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

watch: fix live updateable volumes
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

storagetypes: get volumes and disks by name
  pkg/storage/types/pvc.go
Due: none

watch: test live updates for volumes and disks
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

docs: Add coding-conventions.md
  docs/coding-conventions.md
Due: none

rpm: Add qemu-kvm-device-usb-redirect on aarch64
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

Bump AAQ to v1.2.1 (#2951)
  deploy/crds/application-aware-quota00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/application-aware-quota00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/application-aware-quota00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/kubevirt.io/application-aware-quota/staging/src/kubevirt.io/application-aware-quota-api/pkg/apis/core/v1alpha1/types.go
  tests/vendor/modules.txt
  vendor/kubevirt.io/application-aware-quota/staging/src/kubevirt.io/application-aware-quota-api/pkg/apis/core/v1alpha1/types.go
  vendor/modules.txt
Due: none

Docs: Document handling eviction requests
  docs/handling-eviction-requests.md
Due: none

backend-storage: Improve missing VMStateStorageClass error
  pkg/storage/backend-storage/backend-storage.go
Due: none

controller: Increase syncCache timeout in VM tests
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

go mod: Fix go version
  go.mod
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/k8s-1.27/provider.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

add the igb interface mode
  api/openapi-spec/swagger.json
  pkg/network/admitter/netiface.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller, network: Mount 'network-info' annotation for SR-IOV VMs
  pkg/network/deviceinfo/sriov.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

webhooks: Reject CoresThreads spread ratio > 2
  pkg/util/webhooks/webhooks.go
  pkg/virt-api/webhooks/validating-webhook/admitters/preference-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/preference-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

webhooks: Reject unknown SpreadOptions Across values
  pkg/virt-api/webhooks/validating-webhook/admitters/preference-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/preference-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetype: Support PreferSpreadOptions
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
Due: none

instancetype, api: Introduce PreferSpreadOptions
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha2/conversion_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types.go
  staging/src/kubevirt.io/api/instancetype/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetype: Extract and share GetSpreadOptions
  pkg/instancetype/instancetype.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

webhooks: Check PreferSpread during VM admission
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetype: Extend PreferenceRequirements to support SpreadOptions
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
Due: none

virt-controller, watch: Replace network-pci-map with network-info annot
  pkg/network/deviceinfo/BUILD.bazel
  pkg/network/deviceinfo/deviceinfo.go
  pkg/network/deviceinfo/deviceinfo_test.go
  pkg/network/deviceinfo/sriov.go
  pkg/network/deviceinfo/sriov_test.go
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/pod_annotations.go
  pkg/virt-controller/network/pod_annotations_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher, sriov: Use 'network-info' annot for network-pci mapping
  pkg/network/deviceinfo/sriov.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/pcipool_netstatus.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/pcipool_netstatus_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adding Aviv and Assaf as approvers of HCO (#2956)
  OWNERS_ALIASES
Due: none

VM controller: Convert subset of tests to fake client
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit: Simplify&fix restart required
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add reactors to simulate /status behaviour
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/patchreactor_test.go
  pkg/virt-controller/watch/updatereactor_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM controller: drop pointer pkg
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM controller: Drop duplicated imports
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM controller: Setup fake client
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Test assumotions about volume requests
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

qemu-args sidecar to append qemu args to virsh domain based on annotations on vmi
  BUILD.bazel
  cmd/sidecars/qemu-args/BUILD.bazel
  cmd/sidecars/qemu-args/README.md
  cmd/sidecars/qemu-args/qemu-args.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Fix vcpu metrics values
  pkg/monitoring/domainstats/prometheus/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

tests: Introduce libclient package
  tests/libclient/BUILD.bazel
  tests/libclient/libclient.go
Due: none

tests: Move RunVMIAndExpectLaunchWithDataVolume to libclient
  tests/libclient/BUILD.bazel
  tests/libclient/libclient.go
  tests/storage/datavolume.go
  tests/storage/storage.go
  tests/utils.go
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/datavolume.go
Due: none

tests: Move RunVMIAndExpectLaunchIgnoreWarnings to libclient
  tests/libclient/libclient.go
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/network/probes.go
  tests/portforward_test.go
  tests/storage/storage.go
  tests/utils.go
  tests/virtiofs/config.go
  tests/virtiofs/datavolume.go
Due: none

tests: Move RunVMIAndExpectScheduling to libclient
  tests/BUILD.bazel
  tests/container_disk_test.go
  tests/libclient/BUILD.bazel
  tests/libclient/libclient.go
  tests/utils.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
