Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Add API support for scale-in strategy
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add Scalein strategy implementation
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Deprecate a cpumanager label
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/heartbeat_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/framework/checks/checks.go
  tests/testsuite/kubevirtresource.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Introduce Dedicated CPU unit tests
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_dedicatecpu_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Detector: Use safepath
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: IsSocketUnresponsive
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: SocketFilePathOnHost
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: MarkSocketUnresponsive
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

hotplug-disk, mount: Use absolute path for socket
  pkg/virt-handler/hotplug-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Safepath, cmd-client: FindSocketOnHost
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cgroup: Remove socket arg from detectVMIsolation
  pkg/virt-handler/cgroup/cgroup.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Clean socket paths
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cmd-client/client.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add workqueue metrics to docs and e2e tests
  docs/observability/metrics.md
  pkg/monitoring/metrics/common/workqueue/metrics.go
  tests/libmonitoring/BUILD.bazel
  tests/libmonitoring/metrics.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/metrics.go
  tools/doc-generator/BUILD.bazel
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

Register workqueue metrics on init
  pkg/monitoring/metrics/common/workqueue/metrics.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

Add e2e tests for controller-runtime workqueue metrics
  tests/libmonitoring/prometheus.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-monitoring

e2e: Fix flaky SR-IOV interface migration test
  tests/network/sriov.go
Due: none

Add VMpool finalizer to ensure proper cleanup
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Cleanup Orphaned VMs and update unit tests
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add VirtualMachineInstanceEvictionRequested condition for eviction tracking
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/migration/evacuation.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind-1.31/README.md
  kubevirtci/cluster-up/cluster/kind-1.31/conformance.json
  kubevirtci/cluster-up/cluster/kind-1.31/image
  kubevirtci/cluster-up/cluster/kind-1.31/provider.sh
  kubevirtci/cluster-up/cluster/kind-1.31/version
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  kubevirtci/stable_provider.txt
Due: none

cleanup(virtctl,ssh): Merge ssh.go and wrapped.go
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/wrapped_test.go
  pkg/virtctl/ssh/BUILD.bazel
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
  pkg/virtctl/ssh/wrapped.go
  pkg/virtctl/ssh/wrapped_test.go
Due: none

chore(virtctl): Enable linter for pkg/virtctl/ssh
  hack/linter/lint-paths.txt
  pkg/virtctl/scp/scp.go
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
Due: none

cleanup(virtctl,scp): Merge scp.go and wrapped.go
  pkg/virtctl/scp/BUILD.bazel
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/scp/wrapped.go
  pkg/virtctl/scp/wrapped_test.go
Due: none

chore(virtctl): Enable linter for pkg/virtctl/scp
  hack/linter/lint-paths.txt
  pkg/virtctl/scp/scp.go
  pkg/virtctl/scp/scp_test.go
Due: none

vm-mutator: ensure default Firmware.Serial value on newly created vms
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/clone_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

automation: Include !requires-two-worker-nodes-with-cpu-manager in wg-arm64 filter
  automation/test.sh
Due: none

virt-api: Improve test assertion for arm64
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: Make LiveUpdate unit tests independent of runner arch
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

liveupdate: Align ValidateLiveUpdateMemory with webhooks
  pkg/liveupdate/memory/memory.go
  pkg/liveupdate/memory/memory_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: Fix LiveUpdate VM admission webhook test assertions
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

checks: Remove the now unused SkipIfS390X
  tests/framework/checks/skips.go
Due: none

vm-mutator: ensure default Firmware.Serial value on newly created vms
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/clone_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: reject stop requests for paused VMIs
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource_test.go
  tests/compute/vm_lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

lint: Add pkg/monitoring/domainstats to linter
  hack/linter/lint-paths.txt
  pkg/monitoring/domainstats/downwardmetrics/hostmetrics.go
  pkg/monitoring/domainstats/downwardmetrics/hostmetrics_test.go
  pkg/monitoring/domainstats/downwardmetrics/scraper.go
  pkg/monitoring/domainstats/downwardmetrics/vmstat.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

feat: bump prometheus-operator to v0.80.1
  go.mod
  go.sum
  go.work.sum
  pkg/virt-operator/resource/generate/components/prometheus.go
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/BUILD.bazel
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/alertmanager.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/BUILD.bazel
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/fake_alertmanager.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/fake/fake_prometheus.go
  staging/src/kubevirt.io/client-go/prometheusoperator/typed/monitoring/v1/prometheus.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/BUILD.bazel
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/dns_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/typed.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/value/scalar.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

WIP: Fix overwrite of multus annotation
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Due: none

virt-handler: device-manager: avoid spamming the logs
  pkg/virt-handler/device-manager/device_controller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: ensure the VM controller sees VMI deletions during migrations
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix potential nil pointer during migration
  pkg/virt-launcher/virtwrap/cli/libvirt.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix missing workqueue metrics
  pkg/monitoring/metrics/common/workqueue/metrics.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring
