Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

passt debug and volume
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/passt
  pkg/virt-controller/services/rendervolumes.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

use pvc instead of hostPath volume
  pkg/virt-controller/services/rendervolumes.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add marker file
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add timespamps to pvcs in script
  debug-vol-copy.sh
Due: none

add tcpdump container
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add log collection script
  debug-vol-copy.sh
Due: none

priority queue: add missing mocked AddWithOpts
  pkg/testutils/mock_priorityqueue.go
Due: none

build: Add a check to ensure that the remote image exists before adding to manifest
  hack/push-container-manifest.sh
Due: none

update DefaultWatchErrorHandler parameters
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-handler/virt-handler.go
  pkg/virt-api/api.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

kubecli: update with mockgen
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

make and make generate
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

vendor: bump k8s v1.33.5
  go.mod
  go.sum
  go.work
  go.work.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/apiextensions_client.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1beta1/doc.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1/apiregistration_client.go
  vendor/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/typed/apiregistration/v1beta1/apiregistration_client.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

reporter: capture containerd stacks
  tests/reporter/kubernetes.go
Due: none

reporter: capture runc debug info
  tests/reporter/kubernetes.go
Due: none

reporter: capture cri-o stacks
  tests/reporter/kubernetes.go
Due: none

build: update PUSH_TARGETS to generate list of images for hack/push-container-manifest.sh
  hack/bazel-push-images.sh
  hack/push-container-manifest.sh
Due: none

chore: bump prometheus-operator in src/kubevirt.io/clien-go
  staging/src/kubevirt.io/client-go/go.mod
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

chore: bump kube-openapi
  go.mod
  go.sum
  staging/src/kubevirt.io/client-go/go.mod
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

ci: bump generator to v0.32.5
  hack/builder/Dockerfile
Due: publish-kubevirt-builder

ci: update builder version
  hack/dockerized
Due: none

feat: use mockgen with new way
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

ci: fix fake_xxx_expansion
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_kubevirt_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstancemigration_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstancereplicaset_expansion.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Container_disk_test: Convert Skip to Fail
  automation/test.sh
  tests/container_disk_test.go
  tests/decorators/decorators.go
Due: none

tests/infrastructure/prometheus.go: Replace Skip
  tests/infrastructure/prometheus.go
Due: none

Replicaset test: Replace Skip
  tests/replicaset_test.go
Due: none

MDEV test: Remove Skip
  tests/mdev_configuration_allocation_test.go
Due: none

Compute parallel: Skip storage required tests
  automation/test.sh
Due: none

VM test: Replace Skip
  tests/vm_test.go
Due: none

VMI configuration test: Remove Skip
  tests/vmi_configuration_test.go
Due: none

reporter: Wrap containerd and crio debug collection with env var
  tests/reporter/kubernetes.go
Due: none

automation: Enable KUBEVIRT_COLLECT_CONTAINER_RUNTIME_DEBUG for arm64 lanes
  automation/test.sh
Due: none

virt-controller: fix RestartRequired condition handling for hotplug volumes
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  tests/storage/declarative-hotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration controller: add custom indexers
  pkg/controller/virtinformers.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration controller: use the new custom indexers
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migration controller: use indexer in ListUnfinishedMigrations
  pkg/util/migrations/BUILD.bazel
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

migearion controller: enable tracing
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
