Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

virt-handler: Add SoftwareEmulation VMI condition for cross-arch VMs
  pkg/virt-handler/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

DNM: Add virt-preview repo and cross-arch QEMU packages to virt-launcher
  automation/test.sh
  hack/rpm-deps.sh
  rpm/repo-virt-preview.yaml
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix backend storage detection for VMs with instancetype/preference
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_base.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/source.go
  pkg/storage/snapshot/util.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/clone_base.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Extend ExpandSpec to be usable with SnapshotVirtualMachines
  staging/src/kubevirt.io/client-go/kubecli/instancetype.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Include unit test coverage and mocked functions
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone_test.go
  staging/src/kubevirt.io/client-go/kubecli/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Include functional test coverage
  tests/storage/snapshot.go
Due: none

Add FirmwareAutoSelection feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add ARM64 EFI converter tests
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Skip NVRAM element for ARM64 firmware auto-selection
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add libvirt firmware auto-selection types to domain schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Wire firmware auto-selection through virt-controller and virt-launcher
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add ARM64SecureBoot feature gate
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/template.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add firmware auto-selection to domain converter
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Set format='raw' on NVRAM element for firmware auto-selection
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add e2e test for firmware auto-selection with EFI Secure Boot
  tests/vmi_configuration_test.go
Due: none

Validate ARM64 Secure Boot feature gate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

DNM: Switch ARM64 lane to CS10 with virt-preview libvirt
  WORKSPACE
  automation/test.sh
  hack/bootstrap.sh
  rpm/BUILD.bazel
  rpm/repo-virt-preview-cs10.yaml
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Skip SMM validation for ARM64 Secure Boot
  pkg/libvmi/firmware.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e, automation: Add extra NIC to sig-network
  automation/test.sh
Due: none

tests: Switch ARM64 Secure Boot test to Ubuntu 24.04
  tests/vmi_configuration_test.go
Due: none

fix: use net.JoinHostPort for IPv6-safe sync address formatting
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/minikube/provider.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

launcher, converter: Add unit tests for CPUDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/cpu_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

dra/admitter: generalize cross-device duplicate pair detection
  pkg/dra/admitter/dra_admitter.go
Due: none

Harden virt-exportproxy and sync-controller containers
  pkg/virt-operator/resource/generate/components/deployments.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Extract HTTP server timeout values into shared constants
  cmd/synchronization-controller/BUILD.bazel
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-handler/virt-handler.go
  pkg/storage/export/virt-exportserver/BUILD.bazel
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/util/util.go
  pkg/virt-api/api.go
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e, net: Validate guest agent reported IP for bridge binding
  tests/network/primary_pod_network.go
Due: none

add experimental migration configuration infrastructure
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/migration-source.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

regenerate API by make generate
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

add advanced.go migration tests
  tests/migration/BUILD.bazel
  tests/migration/advanced.go
Due: none

add zstd compression as experimental migration option
  pkg/virt-launcher/virtwrap/live-migration-source.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/deepcopy_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e, net: Allow empty IP for IPv6-only
  tests/network/vmi_infosource.go
Due: none

tests/operator: Fix upgrade test to select correct previous minor release
  tests/operator/operator.go
Due: none

tests/operator: Extract version detection to testable package
  go.work.sum
  hack/bazel-test.sh
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/operator/version/BUILD.bazel
  tests/operator/version/version.go
  tests/operator/version/version_suite_test.go
  tests/operator/version/version_test.go
Due: none

tests/operator: Refactor version detection to support Y and Z releases
  tests/operator/version/version.go
  tests/operator/version/version_test.go
Due: none

tests/operator: perform z-1 and y-1 upgrade tests
  tests/operator/operator.go
  tests/operator/version/version.go
Due: none

feat: enable hotplug for core fraction changes (#102)
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

style(pkg/virt-operator/resource/apply): fix formatting issues
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/admissionregistration_test.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/certificates_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/resource/apply/delete.go
  pkg/virt-operator/resource/apply/delete_test.go
  pkg/virt-operator/resource/apply/generations.go
  pkg/virt-operator/resource/apply/instancetype_test.go
  pkg/virt-operator/resource/apply/patches_test.go
  pkg/virt-operator/resource/apply/pdb_test.go
  pkg/virt-operator/resource/apply/prometheus_test.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/rbac_test.go
  pkg/virt-operator/resource/apply/rbacbackup.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/reconcile_test.go
  pkg/virt-operator/resource/apply/scc_test.go
  pkg/virt-operator/resource/apply/ssc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtctl, tests: Migrate SPDY to WebSocket with SPDY fallback
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/vmexport/BUILD.bazel
  pkg/virtctl/vmexport/vmexport.go
  tests/exec/BUILD.bazel
  tests/exec/execute.go
  tests/libpod/BUILD.bazel
  tests/libpod/certs.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
