Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

WIP
  automation/test.sh
  tests/framework/checks/expects.go
  tests/libnode/node.go
  tests/migration/migration.go
Due: none

Fix hotplug volume detach deadlock in virt-handler
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vep-10: move GPUsWithDRA and HostDevicesWithDRA feature gates to beta
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/watch/application_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-199: set Grace SMMUv3 address capabilities
  pkg/virt-launcher/virtwrap/converter/grace.go
  pkg/virt-launcher/virtwrap/converter/grace_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, annotations, generator: Remove GenerateFromSource
  pkg/network/pod/annotations/generator.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Graduate PodSecondaryInterfaceNamingUpgrade to GA
  cmd/virt-launcher/virt-launcher.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Replace fsfreeze-status QGA polling with metadata-cache state tracking
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/backup_test.go
  pkg/virt-launcher/virtwrap/storage/fsfreeze.go
  pkg/virt-launcher/virtwrap/storage/fsfreeze_test.go
  pkg/virt-launcher/virtwrap/storage/manager.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/flags: add --network-binding-plugin flag
  tests/flags/flags.go
Due: none

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Remove guest-fsfreeze-status polling
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Read freeze state from metadata cache in notify client
  cmd/virt-launcher/virt-launcher.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_base.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add E2E test for DRA Support
  automation/repeated_test.sh
  automation/test.sh
  tests/compute/BUILD.bazel
  tests/compute/dra.go
  tests/decorators/decorators.go
  tests/testsuite/namespace.go
Due: none

Add automation for sig-compute-dra-gpu lane
  automation/test.sh
Due: none

net, restart: Restart required for NAD hotswap on non migratable VMs
  pkg/network/vmliveupdate/BUILD.bazel
  pkg/network/vmliveupdate/restart.go
  pkg/network/vmliveupdate/restart_test.go
Due: none

net, controller, vm: Copy NW specs to VMI only for migratable VMs
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
Due: none

tests: add unit tests for clone controller util functions
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/util.go
  pkg/virt-controller/watch/clone/util_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

DNM: FEntry upgrade test to focus log collection
  tests/operator/operator.go
Due: none

disks-images-provider: set terminationGracePeriodSeconds to 10
  manifests/testing/disks-images-provider.yaml.in
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

migration: add dynamic downtime tuning for live migration convergence
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter.go
  pkg/virt-controller/watch/migration/migrationpolicy.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Expose VFIO cdev devices to virt-launcher for IOMMUFD passthrough
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/common.go
  pkg/virt-handler/device-manager/common_test.go
  pkg/virt-handler/device-manager/export_test.go
  pkg/virt-handler/device-manager/pci_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Set unlimited memlock prlimit for all memory-locking VMIs
  pkg/hypervisor/common/process.go
  pkg/hypervisor/kvm/hypervisorbackend_test.go
  pkg/hypervisor/kvm/runtime.go
Due: none

add zstd compression as experimental migration option
  api/openapi-spec/swagger.json
  pkg/virt-controller/watch/migration/migrationpolicy.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: rest: Log error when dial() in stream() fails
  pkg/virt-handler/rest/console.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: vsock: Move function from rest package to vsock
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/rest/BUILD.bazel
  pkg/virt-handler/rest/console.go
  pkg/virt-handler/vsock/BUILD.bazel
  pkg/virt-handler/vsock/dial.go
  pkg/virt-handler/vsock/dial_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: VEP 222: add on-demand VSOCK CA service
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/vsock/BUILD.bazel
  pkg/virt-handler/vsock/dial.go
  pkg/virt-handler/vsock/dial_test.go
  pkg/virt-handler/vsock/refcount.go
  pkg/virt-handler/vsock/refcount_test.go
  pkg/virt-handler/vsock/servers.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: Gate and validate experimental.stallDetector in MigrationPolicy
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: Wire stall detector options to virt-launcher
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/stall-detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: Add stall detector experimental options
  api/openapi-spec/swagger.json
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/migration/migrationpolicy.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/migrations/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

validator: Fix maxDowntimeMs error message in kubevirt update admitter
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: Clean up resolved config test assertions
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: check for actual compression ratio when using zstd
  tests/migration/migration.go
Due: none

migration: Keep stall detector factors as Quantity until virt-launcher
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migrationpolicy-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/stall-detector.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix(virt-handler): preserve hotplug container-disk mount records across partial-spec reconciles
  pkg/virt-handler/container-disk/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

monitoring: add namespace label to component alerts and validate in E2E
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/BUILD.bazel
  pkg/monitoring/rules/alerts/alerts.go
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/rules_test.go
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

monitoring: make Virt*Down alerts self-diagnosing
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/BUILD.bazel
  pkg/monitoring/rules/alerts/alert_expressions.go
  pkg/monitoring/rules/alerts/alert_expressions_test.go
  pkg/monitoring/rules/alerts/alerts.go
  pkg/monitoring/rules/alerts/alerts_suite_test.go
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  pkg/monitoring/rules/alerts/virt-operator.go
  tests/monitoring/component_monitoring.go
  tools/util/marshaller.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
