Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

Add a safepath package to encapsule path operations
  pkg/safepath/BUILD.bazel
  pkg/safepath/safepath.go
  pkg/safepath/safepath_linux.go
  pkg/safepath/safepath_suite_test.go
  pkg/safepath/safepath_test.go
Due: none

Move isolation detection code over to safepath
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/isolation/generated_mock_isolation.go
  pkg/virt-handler/isolation/isolation.go
  pkg/virt-handler/isolation/isolation_test.go
  pkg/virt-handler/isolation/validation.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move virt-handler controller over to safepath usage
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move ephemeral-disk-utils over to safepath
  pkg/ephemeral-disk-utils/BUILD.bazel
  pkg/ephemeral-disk-utils/generated_mock_utils.go
  pkg/ephemeral-disk-utils/utils.go
Due: none

Move containerdisk path resolution over to use the safepath package
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
  pkg/ephemeral-disk/ephemeral-disk.go
Due: none

Let host-disk continue using unsafe path manipulations
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
Due: none

Only accept absolute paths for containerdisks
  pkg/testutils/mock_config.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Don't change selinux labels on hostDisk mounts
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Let virt-handler set up required devices with safepath operations
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
Due: none

Move virt-chroot over to safepath usage
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/main.go
  cmd/virt-chroot/selinux.go
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/virt-chroot/BUILD.bazel
  pkg/virt-handler/virt-chroot/virt-chroot.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use UnsafeSetFileOwnership on virt-launcher code
  pkg/cloud-init/cloud-init.go
  pkg/config/config-map.go
  pkg/config/downwardapi.go
  pkg/config/secret.go
  pkg/config/service-account.go
  pkg/config/sysprep.go
  pkg/emptydisk/emptydisk.go
  pkg/network/cache/cache.go
  pkg/virt-handler/migration-proxy/migration-proxy.go
  pkg/virt-launcher/monitor.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move containerdisk mount operations to safepath operations
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move hotplug code over to safepath usage
  pkg/hotplug-disk/BUILD.bazel
  pkg/hotplug-disk/hotplug-disk.go
  pkg/hotplug-disk/hotplug-disk_test.go
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/hotplug-disk_suite_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Ensure compatibility with old mount paths of old KubeVirt installs
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Modify banncheck analyzer to be able to consume an embedded config
  tools/analyzers/banncheck/BUILD.bazel
  tools/analyzers/banncheck/banncheck.go
  tools/analyzers/banncheck/banncheck/banned_api.go
  tools/analyzers/banncheck/config/config.go
Due: none

Temoprary fork the banncheck analyzer to allow embedding the analyzer config
  tools/analyzers/banncheck/banncheck/BUILD.bazel
  tools/analyzers/banncheck/banncheck/banned_api.go
  tools/analyzers/banncheck/config/BUILD.bazel
  tools/analyzers/banncheck/config/config.go
Due: none

The name of the builtin package is not populated
  tools/analyzers/banncheck/banncheck/banned_api.go
Due: none

Enable banncheck analyzer
  BUILD.bazel
  nogo_config.json
  tools/analyzers/banncheck/banncheck.json
Due: none

TODO
  pkg/virt-operator/resource/apply/reconcile.go
Due: none

unit test: when modifying CPU model, no resource changes expected
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
Due: none

Functest: make sure KV stays available when CPU model is updated
  tests/operator_test.go
Due: none

Adjust functional tests to track Kubevirt generation instead of k8s
  tests/operator_test.go
Due: none

Test: remove runVMIAndExpectLaunch
  tests/migration_test.go
Due: none

Test: Remove runVMIAndExpectLaunchIgnoreWarnings
  tests/migration_test.go
Due: none

Test: Improve confirmVMIPostMigrationAborted
  tests/migration_test.go
Due: none

Resolve flakiness in vmexport feature gate disabled test
  tests/operator_test.go
Due: none

Add OSBuild-Operator to the KubeVirt Adopters list
  ADOPTERS.md
Due: none

Revert "Adjust functional tests to track Kubevirt generation instead of k8s"
  tests/operator_test.go
Due: none

copy generation from existing obj
  pkg/virt-operator/resource/apply/apps.go
Due: none

Modified logic when mountiing kernel artifacts to handle scenario in which the initrd path is empty but kernel is specified
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-handler/container-disk/mount.go
  tests/vmi_kernel_boot_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Ensure any provided mount point that is empty is ignored when checking for mount state
  pkg/virt-handler/isolation/isolation.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add reservation field
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

add WithPersistentVolumeClaimLun
  tests/libvmi/storage.go
Due: none

libvmi: option for persistent reservation
  tests/libvmi/storage.go
Due: none

deploy the pr-helper with virt-handler
  pkg/daemons/BUILD.bazel
  pkg/daemons/daemons.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/daemons/BUILD.bazel
  pkg/virt-handler/daemons/mount.go
  pkg/virt-handler/non-root.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

run make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-verify-rpms

func test for scsi persistent reservation
  tests/storage/BUILD.bazel
  tests/storage/scsi.go
  tests/utils.go
Due: none

run make deps-update
  go.mod
Due: pull-kubevirt-verify-go-mod

virt-controller, template: extract pod labels func
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-controller, template: extract readinessGates func
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
