Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

test: set timeout to ginkgo_tests
  pkg/virt-handler/BUILD.bazel
  pkg/virt-operator/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Improve func test coverage of Object Graph
  tests/objectgraph_test.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/k8s-1.31/provider.sh
  kubevirtci/cluster-up/cluster/kind/common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

device plugin: move deviceName filed to the generic device
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/generic_device.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

device plugin: move const and iface on proper file
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/generic_device.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

feat: add unit tests
  pkg/virt-operator/resource/generate/components/secrets_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Openapi unit: Init validator only once
  pkg/util/openapi/openapi_test.go
Due: none

Openapi unit: Inline variables
  pkg/util/openapi/openapi_test.go
Due: none

Openapi unit: Validate both status and spec
  pkg/util/openapi/openapi_test.go
Due: none

add new metric to track ephemeral hotplugs at the virt-controller level
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmi_metrics.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

add new func tests that query metrics enpoint for ephemeral stats
  tests/storage/hotplug.go
Due: none

Monitor: Reap all processes
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update github.com/imdario/mergo to dario.cat/mergo
  go.mod
  go.sum
  go.work.sum
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/prometheus.go
  vendor/dario.cat/mergo/.deepsource.toml
  vendor/dario.cat/mergo/.gitignore
  vendor/dario.cat/mergo/.travis.yml
  vendor/dario.cat/mergo/BUILD.bazel
  vendor/dario.cat/mergo/CODE_OF_CONDUCT.md
  vendor/dario.cat/mergo/CONTRIBUTING.md
  vendor/dario.cat/mergo/FUNDING.json
  vendor/dario.cat/mergo/LICENSE
  vendor/dario.cat/mergo/README.md
  vendor/dario.cat/mergo/SECURITY.md
  vendor/dario.cat/mergo/doc.go
  vendor/dario.cat/mergo/map.go
  vendor/dario.cat/mergo/merge.go
  vendor/dario.cat/mergo/mergo.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

tests, hotplug: missing hotplug pod should not impair vm fucntionality
  tests/storage/hotplug.go
Due: none

Add readyCondition and sourceCondition fields to sourceVolumes
  pkg/storage/export/export/export.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  tests/storage/export.go
Due: none

Add clear error messages for non-existent VMExport with vm source
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source.go
  tests/storage/export.go
Due: none

add SourceIndication field with description messages
  api/openapi-spec/swagger.json
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

net, e2e, SR-IOV: Add memory hotplug test
  tests/network/sriov.go
Due: none

fix: prevent pause operation during VM migration
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix: improve reset error handling during VM migration
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: Replace first graceful shutdown timeLeft value with constant
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: Avoid spam filter by sending one graceful shutdown event
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-operator: Scale virt-api using NodeSchedulable count
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e: update fedora-with-test-tooling VM image to fedora 39
  WORKSPACE
Due: pull-kubevirt-verify-rpms

full-logs
  tests/reporter/kubernetes.go
Due: none

memory overcommit: handle at the pod creation level instead of as a VMI creation default
  pkg/defaults/defaults.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

memory overcommit test: move to the appropriate location
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: Remove leftover sync.Mutex
  pkg/virt-api/rest/profiler_test.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Promote PanicDevices FG: Alpha -> Beta
  pkg/virt-config/featuregate/active.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

chore: enable read-only fs for install strategy job
  pkg/virt-operator/strategy_job.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

api: Add VNC Status to VMI Status
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

api: generate vnc status
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: set VNC status
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/vnc.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e,reporter: update path for new location of cloud-init status.json
  tests/reporter/kubernetes.go
Due: none

e2e,sev: Update expected dmesg output for enabled SEV in F39
  tests/launchsecurity/sev.go
Due: none
