Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

net, ctrls, vm, hotplug: Remove steady state test
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Due: none

Remove redundant start api calls when vms can be created in running state
  tests/instancetype/instancetype.go
  tests/instancetype/reference_policy.go
Due: none

cleanup(instancetype): Drop Expand from InstancetypeMethods
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
Due: none

e2e: extract host-model tests
  tests/migration/BUILD.bazel
  tests/migration/host_model.go
  tests/migration/migration.go
Due: none

Add dev to virt-handler pod and the pr-helper
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

VMSnapshot: adjust and cleanup UT
  pkg/storage/snapshot/snapshot_test.go
Due: none

VMSnapshot: communicate why lock source failed
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
Due: none

vol-mig: improve error report when the destination is too small
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

e2e,compute: Quarantine flaky subresource access test
  tests/infrastructure/cluster-profiler.go
Due: none

Run go run ./robots/cmd/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

VMSnapshot: update condition if reason changed
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/util.go
  tests/storage/snapshot.go
Due: none

VMSnapshot: fix UT bad error
  pkg/storage/snapshot/snapshot_test.go
Due: none

VMSnapshot: wait for volumes to be bound before locking the source
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
Due: none

VMSnapshot: add UT to check source not locked if volumes unbound
  pkg/storage/snapshot/snapshot_test.go
Due: none

VMSnapshot: use source state to simplify code
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
Due: none

snapshot tests: use alpine instead of fedora for non-guest-agent tests
  tests/storage/snapshot.go
Due: none

instancetype: Move upgrade tests to fakeclients
  pkg/instancetype/upgrade/BUILD.bazel
  pkg/instancetype/upgrade/upgrade_test.go
Due: none

tests/scale/virt-api: replace e2e test with unit test
  hack/lint-paths.txt
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps_test.go
  tests/BUILD.bazel
  tests/scale/BUILD.bazel
  tests/scale/virt-api.go
  tests/tests_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

e2e, skips: Remove unused SkipIfNoRhelImage
  tests/framework/checks/skips.go
Due: none

e2e, net, link state: Validate spec changes in guest
  tests/network/BUILD.bazel
  tests/network/link_state.go
Due: none

converter, net: Start domain with link state down
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, admitter: Allow link up/down for interface state
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/admit.go
  pkg/network/admitter/admit_test.go
Due: none

api, net: Add up/down values to interface state
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Extract VirtualMachine controller tests
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/controller/vm/vm_suite_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, e2e: Remove deprecated SkipIfOpenShift4
  pkg/util/cluster/BUILD.bazel
  pkg/util/cluster/cluster.go
  tests/framework/checks/skips.go
  tests/network/vmi_multus.go
Due: none

VMSnapshot: adjust test to check snapshot with unbound volumes
  tests/libstorage/virtualmachinesnapshot.go
  tests/storage/snapshot.go
Due: none

net, e2e: Remove the deprecated SkipIfOpenShift
  tests/framework/checks/skips.go
  tests/network/vmi_networking.go
Due: none

tests/vmi_lifecycle_test: drop the last SoftwareEmulation test
  automation/test.sh
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/vmi_lifecycle_test.go
Due: none

VMSnapshot: add check that the volume is also populated
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
Due: none

instancetype: Address controller_test.go nits
  pkg/instancetype/controller/vm/controller_test.go
Due: none

Document descheduler integration
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Reject VMClone creation when source uses backend storage PVC
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Add missing test to controller_test.go
  pkg/instancetype/controller/vm/controller_test.go
Due: none

Remove lambda waitsnapshotready and use existing function
  tests/libstorage/virtualmachinesnapshot.go
  tests/storage/snapshot.go
Due: none

e2e: remove no-op code from operator tests
  tests/operator/operator.go
Due: none

feat(virtctl): Deprecate --local-ssh flag and use local ssh by default
  pkg/virtctl/ssh/native.go
  pkg/virtctl/ssh/native_unsupported.go
  pkg/virtctl/ssh/ssh.go
  tests/virtctl/create_vm.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Due: none

use standard lib to find in slices
  tests/operator/operator.go
Due: none

VMClone: remove obsolete test and change some logic in existing test
  tests/BUILD.bazel
  tests/clone_test.go
Due: none
