Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

workload updater: set priority to the migrations
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

priority: delay re-enqueue based on the priority
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

evacuation: always create migrations
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

priority-queue: Set correct priority for descheduler initiated evictions
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter_test.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-handler/migration-target.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

priority: add e2e test for priority migration
  tests/migration/BUILD.bazel
  tests/migration/priority.go
Due: none

priority: enqueue priority migrations on migration completion
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add API support for auto-healing strategy Signed-off-by: svarnam <svarnam@nvidia.com>
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add implementation for auto-healing strategy
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Monitor: Reap all processes
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Monitor: Break on Wait4 error
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add E2E tests for Autohealing strategy
  tests/pool_test.go
Due: none

reuse existing libmonitoring func for testing
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

migration: relax host-model check to allow known models
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Rename kernel boot imagevolume to match VMI volume name
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

hack, rpm-deps: Separate rpmtree for passt
  hack/rpm-deps.sh
Due: none

WORKSPACE: Run bazeldnf for passt
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms

cmd, virt-handler, build: Add passt-repair to image
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/passt_macros.bzl
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Label the nodes capable of running TDX guests
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/domcapabilities_tdx.xml
  pkg/virt-handler/node-labeller/testdata/virsh_domcapabilities.xml
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add new TDX types to the API schema
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Convert TDX parameters and configure the domain
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/efi/efi.go
  pkg/virt-launcher/virtwrap/efi/efi_test.go
  pkg/virt-launcher/virtwrap/manager.go
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Adjust node selector for TDX VMIs
  pkg/util/amd64.go
  pkg/util/util.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

TDX VM is not migratable
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Added validating admitter for TDX workloads
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

build: Run make generate for the basic TDX enablement
  api/openapi-spec/swagger.json
  hack/bootstrap.sh
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update vmi image to use Alpine instead of cirros to enable sig-storage tests for s390x.
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/storage.go
  tests/virtctl/memorydump.go
Due: none

virt-handler: code change: Group access credential unit tests
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix CPU Load metrics to not be exposed in the API
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/domain_load_collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/domain_load_collector_test.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_scraper.go
  pkg/monitoring/metrics/virt-handler/domainstats/guest_agent_info_scraper_test.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/stats/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

VMPool: Rename Base policy and add AscendingOrder, Newest, Oldest Sort policy Signed-off-by: svarnam <svarnam@nvidia.com>
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types.go
  staging/src/kubevirt.io/api/pool/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add UpdateStrategy implementation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmpool-admitter_test.go
  pkg/virt-controller/watch/pool/BUILD.bazel
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add E2E tests for VMpool update strategy
  tests/pool_test.go
Due: none

virt-handler: code change: Improve unit tests in vm_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: Deprecate old method to set SSH key in VM
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix: detector safepath TOCTOU
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: Refactor virt-operator/resources/apply/generations.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/generations.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests: add unit tests for new packages
  pkg/util/naming/BUILD.bazel
  pkg/util/naming/naming_suite_test.go
  pkg/util/naming/naming_test.go
  pkg/virt-operator/resource/apply/resourcemerge/BUILD.bazel
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_suite_test.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

lint: enable linter for new packages
  hack/linter/lint-paths.txt
  pkg/util/naming/naming.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: resourcemerge: Move output parameter to return value
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apiservices.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge_test.go
  pkg/virt-operator/resource/apply/routes.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

cleanup: resourcemerge: Remove unused logic from helper functions
  pkg/virt-operator/resource/apply/resourcemerge/resourcemerge.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
