Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

webhook validation/mutation: adapt for file memory backing
  pkg/util/util.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

volume renderer: adapt for file memory backing
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/rendervolumes_test.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Update OrphanedVirtualMachineInstances alert
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

cleanup(virtctl): Add NoArgs validator to create vm cmd
  pkg/virtctl/create/vm/vm.go
Due: none

feat(virtctl): Allow to infer from specified volume in create vm
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  tests/virtctl/create_vm.go
Due: none

TSC frequencies: add 250PPM tolerance
  pkg/virt-controller/watch/topology/filter.go
  pkg/virt-controller/watch/topology/tsc.go
  pkg/virt-controller/watch/topology/tsc_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

feat(instancetype_test): Add labels to cluster objects
  tests/instancetype_test.go
Due: none

hotplug-disk container: match SELinux level of virt-launcher
  api/openapi-spec/swagger.json
  pkg/safepath/safepath.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

OWNER_ALIAS: Extend some scoping
  OWNERS_ALIASES
Due: none

Bump bazeldnf to 0.5.6
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Add a FileBacked field: vmi.domain.memory.fileBacked
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Deprecate "kubevirt.io/memfd" annotation
  pkg/virt-launcher/virtwrap/converter/converter.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

"memfd" as backing source, unless "file" is requested
  pkg/util/util.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Functest: remove deprecated "kubevirt.io/memfd"
  tests/migration_test.go
  tests/vmi_configuration_test.go
Due: none

Unit test: memory backing source type
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add qemu machine type to VMI status
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Let virt-handler fill the qemu machine type into the VMI status
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add a vmi-file-memory-backing VMI to examples/
  examples/vmi-file-memory-backing.yaml
  pkg/util/util.go
  tools/vms-generator/utils/utils.go
  tools/vms-generator/vms-generator.go
Due: none

Unit test: vmi with file backed memory
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Reject file memory backing for high performance VMIs
  pkg/util/util.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add ephemeral storage request for file backed VMIs
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Functests: file backed VMIs are migratable and backing file exists
  tests/libvmi/vmi.go
  tests/migration_test.go
  tests/vmi_configuration_test.go
Due: none

use variable to select packages to test with bazel
  Makefile
  hack/bazel-test.sh
Due: none

network, setup: Iterate over all networks per each step
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/configstate.go
  pkg/network/setup/configstate_test.go
  pkg/network/setup/network.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
  pkg/network/setup/podnic_test.go
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Fix OWNERS_ALIASES formatting
  OWNERS_ALIASES
Due: none

Remove jerry7z since he's not a member of the org
  OWNERS_ALIASES
Due: none

virt-controller, VMI: Remove unused `onOpenshift` field
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-controller, VMI: Remove unused `namespaceStore` field
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests/vm_test.go: Set NS in virtctl expand tests
  tests/vm_test.go
Due: none

Fix operator image regex
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests/vm_test.go: Add missing matcher to Eventually
  tests/vm_test.go
Due: none

macvtap: fix ownership change of the tap interface
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

handler, tap: replace the map type to be more efficient
  pkg/virt-handler/non-root.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

controller, VMI: Wait for PVC informer cache sync
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Move hotplugged volumes and container disks
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/mount-manager/BUILD.bazel
  pkg/virt-handler/mount-manager/container-disk/BUILD.bazel
  pkg/virt-handler/mount-manager/container-disk/container_disk_suite_test.go
  pkg/virt-handler/mount-manager/container-disk/generated_mock_mount.go
  pkg/virt-handler/mount-manager/container-disk/mount.go
  pkg/virt-handler/mount-manager/container-disk/mount_test.go
  pkg/virt-handler/mount-manager/hotplug-disk/BUILD.bazel
  pkg/virt-handler/mount-manager/hotplug-disk/findmnt.go
  pkg/virt-handler/mount-manager/hotplug-disk/findmnt_test.go
  pkg/virt-handler/mount-manager/hotplug-disk/generated_mock_mount.go
  pkg/virt-handler/mount-manager/hotplug-disk/hotplug-disk_suite_test.go
  pkg/virt-handler/mount-manager/hotplug-disk/mount.go
  pkg/virt-handler/mount-manager/hotplug-disk/mount_test.go
  pkg/virt-handler/mount-manager/mount.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tools/analyzers/banncheck/banncheck.json
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Generate mock functions for the mount-manager interface
  pkg/virt-handler/mount-manager/BUILD.bazel
  pkg/virt-handler/mount-manager/generated_mock_mount.go
  pkg/virt-handler/mount-manager/mount.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add mount manager in virt-handler
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/mount-manager/BUILD.bazel
  pkg/virt-handler/mount-manager/mount.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.26-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.26-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
