Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Add func test coverage
  tests/storage/BUILD.bazel
  tests/storage/backup.go
Due: none

Add annotation to skip Velero backup hooks injection
  pkg/storage/pod/annotations/BUILD.bazel
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/storage/velero/annotations.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Sync dynamically velero backup hooks to launcher pods
  pkg/storage/pod/annotations/generator.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Extend the Velero skip hooks annotation to kubevirt CR
  pkg/storage/pod/annotations/BUILD.bazel
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Inject storage annotations generator in VMI controller
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sandbox: Use HOST_ARCHITECTURE for platform selection
  hack/bootstrap.sh
Due: none

rpm: Add libfido2 to CS10 ldd targets and regenerate deps
  WORKSPACE
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

device-manager, test: Revert handler
  pkg/virt-handler/device-manager/device_controller_test.go
  pkg/virt-handler/device-manager/mediated_device_test.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
  pkg/virt-handler/device-manager/pci_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

device-manager, common: Implement vGPU profile and PF checker
  pkg/virt-handler/device-manager/common.go
  pkg/virt-handler/device-manager/generated_mock_common.go
  pkg/virt-handler/device-manager/pci_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

pci device plugin: Support SRIOV based vGPU
  pkg/virt-handler/device-manager/pci_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Add TODO for GPU metadata
  pkg/virt-launcher/virtwrap/device/hostdevice/gpu/hostdev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix(virtctl): support TigerVNC 1.16.0+ path on macOS
  pkg/virtctl/vnc/vnc.go
Due: none

fix hotplug test by finding the actual device path of the hotplug volume by lookup up the device in /dev/disk/by-id and using the serial id for the volume.
  tests/storage/hotplug.go
Due: none

Add capacity parameter to EphemeralVolumeSource for disk resizing
  api/openapi-spec/swagger.json
  pkg/ephemeral-disk/BUILD.bazel
  pkg/ephemeral-disk/ephemeral-disk.go
  pkg/ephemeral-disk/ephemeral-disk_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add VGPUDedicatedHook feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP 109: Implement vGPU Enabled Live Migration
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook_test.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vpguhook_suite_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

ci(hack,virt-template): Add bump and sync scripts
  Makefile
  hack/virt-template/bump.sh
  hack/virt-template/default.sh
  hack/virt-template/sync.sh
Due: none

feat(virt-template): Bump to version v0.1.7
  hack/virt-template/default.sh
  images/virt-template/deps.bzl
  manifests/generated/kubevirt-network-policies.yaml.in
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/data/virt-template/install-virt-operator.yaml
  pkg/virt-operator/resource/generate/components/virttemplate_test.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP 109: Implement vGPU Enabled Live Migration
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook_test.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vpguhook_suite_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add VmiMemoryOverheadReport feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix metrics collector to use stored memory overhead
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Implement memory overhead reporting in VMI status
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add MemoryOverhead field to MemoryStatus and MigrationState
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

seccomp: add linux build constraint to fix cross-platform build
  pkg/virt-handler/seccomp/seccomp.go
  pkg/virt-handler/seccomp/seccomp_suite_test.go
  pkg/virt-handler/seccomp/seccomp_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

enable alpine test tooling tests on s390x
  tests/hotplug/pci-ports.go
  tests/migration/migration.go
  tests/migration/namespace.go
  tests/vmi_cloudinit_test.go
Due: none

feat(virt-operator): Allow setting TLS options for virt-template
  pkg/util/tls/BUILD.bazel
  pkg/util/tls/tls.go
  pkg/util/tls/tls_test.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/generate/components/virttemplate.go
  tests/infrastructure/tls-configuration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCINUMAAwareTopology feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/options.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCINUMAAwareTopologyEnabled field to cluster config and wire to converter
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCIe controller fields to virtwrap API schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add converter NUMA aware PCI topology mapping for GPU and host devices
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCI expander bus assigner for NUMA aware placement
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add NUMA and PCIe hardware helpers
  pkg/util/hardware/BUILD.bazel
  pkg/util/hardware/hw_utils.go
  pkg/util/hardware/hw_utils_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add TODO comments for cleanup after VmiMemoryOverheadReport GA
  pkg/hypervisor/launcherhypervisorresources.go
  pkg/virt-controller/services/template.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix virt-handler to use stored memory overhead
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Compute memlockSize in AdjustResources once
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add spec.domain.memory.reservedOverhead
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-api: Hide ReservedOverhead under a feature-gate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Adjust memlock RLimits if required
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

util: VMI memory reserved overhead predicates
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
Due: none
