Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Use label instead of PVC name to identify backend-storage PVC
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/vm.go
  tests/BUILD.bazel
  tests/storage/BUILD.bazel
  tests/storage/backendstorage.go
  tests/vm_state_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: on migration failure, delete target PVC
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: add migration unit-tests
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage_test.go
Due: none

backend-storage: on migration success, delete source PVC and label target PVC
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: introduce a PVC expectation variable to ensure informer reliability
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/vmi.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

flake-checker: add a label to skip tests that are incompatible with the lane
  automation/repeated_test.sh
  tests/decorators/decorators.go
  tests/vm_state_test.go
Due: none

backend-storage: label legacy PVCs
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/storage/backend-storage/backend-storage_test.go
Due: none

backend-storage: functests: adjust for RWO
  tests/decorators/decorators.go
  tests/storage/backendstorage.go
  tests/vm_state_test.go
  tests/vmi_tpm_test.go
Due: none

backend-storage: add manifest rendering unit test
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: address VMI cache corruption
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/vmi.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

defaults: Remove import of instancetype package
  pkg/defaults/BUILD.bazel
  pkg/defaults/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Extract expand logic into package
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/testutils/mock_instancetype.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

defaults: Extract logic from webhooks into standalone package
  pkg/defaults/BUILD.bazel
  pkg/defaults/amd64.go
  pkg/defaults/arm64.go
  pkg/defaults/defaults.go
  pkg/defaults/hyperv.go
  pkg/defaults/s390x.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/expand.go
  pkg/virt-api/rest/expand_test.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

api, kv, instancetype: Add referencePolicy configurable
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller, virt-config: Wire up referencePolicy
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

api, virt-controller instancetype: Add ExpandAll support
  manifests/generated/kv-resource.yaml
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype: Add InstancetypeReferencePolicy func tests
  tests/instancetype/BUILD.bazel
  tests/instancetype/reference_policy.go
Due: none

instancetype: Align VM conflict error message
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-api/rest/expand_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  tests/BUILD.bazel
  tests/subresource_api_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: Extract instance type sync logic
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

api, instancetype: Fix ReferencePolicy docs
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: Log reason for not expanding instance types
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-config: Introduce InstancetypeReferencePolicy FG
  pkg/virt-config/configuration_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/reference_policy.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Move ephemeral volume test from functional to unit tests
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/storage/BUILD.bazel
  tests/storage/storage.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Introduce WithTablet option
  pkg/libvmi/BUILD.bazel
  pkg/libvmi/devices.go
  tests/migration/migration.go
  tests/vmi_configuration_test.go
Due: none

e2e: Rremove custom smbios value test
  tests/vmi_configuration_test.go
Due: none

Remove Serial from smbios tests
  tests/vmi_configuration_test.go
Due: none

e2e: Remove default cpuid test
  tests/vmi_configuration_test.go
Due: none

Remove Topology spread constraints test
  tests/vmi_configuration_test.go
Due: none

e2e: Rework smbBIOS to work across different envs
  tests/vmi_configuration_test.go
Due: none

Conformance: QOS
  tests/vmi_configuration_test.go
Due: none

e2e: Convert bus validation to unit test
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Controllers: Improve unit test to catch corruption
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone_test.go
  pkg/virt-controller/watch/drain/disruptionbudget/BUILD.bazel
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget_test.go
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/node/node_test.go
  pkg/virt-controller/watch/pool/pool_test.go
  pkg/virt-controller/watch/testing/BUILD.bazel
  pkg/virt-controller/watch/testing/testing.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Configuration test: Convert Skips to Fails
  tests/decorators/decorators.go
  tests/vmi_configuration_test.go
Due: none

Remove time.Sleep from component monitoring test
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Re-enable VirtHandlerRESTErrorsBurst and VirtHandlerRESTErrorsHigh tests
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Remove unused functions
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Cloud init: Cleanup
  tests/vmi_cloudinit_test.go
Due: none

Remove "should process provided cloud-init data" e2e
  tests/vmi_cloudinit_test.go
Due: none

CloudInit tests: Replace custom LaunchVMI
  tests/vmi_cloudinit_test.go
Due: none

CloudInit e2e: Remove unneeded variables
  tests/vmi_cloudinit_test.go
Due: none
