Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

export: add configurable external certification strategy
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/controller/virtinformers.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/links.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-operator/resource/generate/components/secrets.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Removed long deprecated isGuestAgentSupported fallback
  api/openapi-spec/swagger.json
  cmd/virt-freezer/virt-freezer.go
  cmd/virt-freezer/virt-freezer_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virtctl/vm/guestosinfo_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/vmi_test.go
  tests/compute/guest_agent.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Checkpoint: Replace interface{} with any
  pkg/checkpoint/checkpoint.go
Due: none

storage: fix goconst linter issues
  pkg/storage/oci/oci_test.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/storage/reservation/pr_test.go
Due: none

network: fix goconst linter issues
  pkg/network/admitter/admit_test.go
  pkg/network/admitter/binding_test.go
  pkg/network/admitter/discontinued_test.go
  pkg/network/admitter/dra_test.go
  pkg/network/admitter/netiface.go
  pkg/network/admitter/netiface_test.go
  pkg/network/admitter/netsource_test.go
  pkg/network/admitter/passt_test.go
  pkg/network/controllers/vm_test.go
  pkg/network/controllers/vmi_test.go
  pkg/network/dhcp/server/server_test.go
  pkg/network/dns/resolveconf_test.go
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/network/downwardapi/networkinfo_test.go
  pkg/network/driver/procsys/fake/fake.go
  pkg/network/link/address_test.go
  pkg/network/migration/evaluator_test.go
  pkg/network/multus/annotation_test.go
  pkg/network/multus/nad_test.go
  pkg/network/multus/status_test.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/passt/repair_test.go
  pkg/network/pod/annotations/BUILD.bazel
  pkg/network/pod/annotations/generator_test.go
  pkg/network/setup/filters_test.go
  pkg/network/setup/launcher/configurator_test.go
  pkg/network/setup/netpod/masquerade/masquerade_test.go
  pkg/network/setup/netpod/netpod_test.go
  pkg/network/setup/netstat_test.go
  pkg/network/vmispec/defaults_test.go
  pkg/network/vmispec/network_test.go
  tests/network/bindingplugin.go
  tests/network/passt.go
Due: none

virtctl: fix goconst linter issues
  pkg/virtctl/adm/logverbosity/logverbosity.go
  pkg/virtctl/adm/logverbosity/logverbosity_test.go
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
  pkg/virtctl/scp/scp_test.go
  pkg/virtctl/template/convert/convert_test.go
  pkg/virtctl/template/process/process_test.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/ssh_scp.go
Due: none

virt-handler: fix goconst linter issues
  pkg/virt-handler/ksm/ksm.go
  pkg/virt-handler/ksm/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

instancetype: fix goconst linter issues
  pkg/instancetype/apply/annotations_test.go
  pkg/instancetype/apply/cpu_test.go
  pkg/instancetype/apply/gpu_test.go
  pkg/instancetype/apply/hostdevices_test.go
  pkg/instancetype/apply/memory_test.go
  pkg/instancetype/apply/nodeselector_test.go
  pkg/instancetype/compatibility/compatibility_test.go
  pkg/instancetype/controller/vm/controller_test.go
  pkg/instancetype/find/spec_test.go
  pkg/instancetype/infer/handler_test.go
  pkg/instancetype/preference/annotations/annotations_test.go
  pkg/instancetype/preference/apply/device_test.go
  pkg/instancetype/preference/find/spec_test.go
  pkg/instancetype/preference/requirements/arch_test.go
  pkg/instancetype/preference/webhooks/admitter_test.go
  pkg/instancetype/revision/store_test.go
  pkg/instancetype/upgrade/upgrade_test.go
  pkg/instancetype/webhooks/admitter_test.go
  pkg/instancetype/webhooks/vm/admitter_test.go
  pkg/instancetype/webhooks/vm/mutator.go
  tests/instancetype/inference.go
  tests/instancetype/requirements.go
Due: none

lint: re-enable goconst linter checks
  hack/linter/.golangci.yml
Due: none

tests: fix goconst linter issues
  tests/console/console.go
  tests/console/login.go
  tests/infrastructure/node-labeller.go
  tests/infrastructure/prometheus.go
  tests/infrastructure/security.go
  tests/infrastructure/taints-and-tolerations.go
  tests/infrastructure/virt-handler.go
  tests/launchsecurity/sev.go
  tests/libpod/render.go
  tests/monitoring/component_monitoring.go
  tests/monitoring/metrics.go
  tests/network/passt.go
  tests/numa/numa.go
  tests/virtctl/guestfs.go
  tests/virtctl/memorydump.go
  tests/virtctl/ssh_scp.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

cmd/sidecars: fix goconst linter issues
  cmd/sidecars/network-passt-binding/domain/configurator_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: fix goconst linter issues
  pkg/virt-launcher/metadata/metadata_test.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/converter/network/passt_test.go
  pkg/virtctl/template/process/process_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

misc: fix goconst linter issues
  pkg/downwardmetrics/scraper/hostmetrics_test.go
  pkg/dra/admitter/dra_admitter.go
  pkg/dra/admitter/dra_admitter_test.go
  pkg/dra/resource_claims_test.go
  pkg/dra/utils_test.go
  pkg/libvmi/replicaset/replicaset.go
  pkg/libvmi/vm.go
  tests/instancetype/inference.go
  tests/instancetype/instancetype.go
Due: none

virt-exportproxy: fix backend connection FD leak
  cmd/virt-exportproxy/BUILD.bazel
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-exportproxy/virt-exportproxy_suite_test.go
  cmd/virt-exportproxy/virt-exportproxy_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-exportproxy: inherit backend TLS config from KubeVirt CR
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-exportproxy/virt-exportproxy_test.go
  pkg/util/tls/tls.go
  pkg/util/tls/tls_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Use NOWAIT flag for domain stats collection during live migration
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add directsync disk cache mode
  api/openapi-spec/swagger.json
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
  pkg/storage/admitters/storagehotplug.go
  pkg/storage/admitters/storagehotplug_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add migration e2e tests for all disk cache modes
  tests/migration/migration.go
Due: none

treat DirectSync similar to None, both use O_DIRECT
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/storage/disk.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add "unsafe" disk cache mode
  api/openapi-spec/swagger.json
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
  pkg/storage/admitters/storagehotplug.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virtctl/vm/add_volume.go
  pkg/virtctl/vm/add_volume_test.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: clean up orphaned VMs for migrated VMIs
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tmp focus commit
  tests/operator/operator.go
Due: none

Revert "virt-operator: refine canary flow to fully support out of band changes"
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

dnm
  tests/operator/operator.go
Due: none

expose cgroup memory metrics via DomainStats
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/domainstats/memory_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/memory_metrics_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/stats/BUILD.bazel
  pkg/virt-launcher/virtwrap/stats/cgroup.go
  pkg/virt-launcher/virtwrap/stats/cgroup_test.go
  pkg/virt-launcher/virtwrap/stats/stats_suite_test.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

virtctl: add vsock support to port-forward and ssh
  pkg/virtctl/portforward/BUILD.bazel
  pkg/virtctl/portforward/portforward.go
  pkg/virtctl/portforward/portforward_vsock_test.go
  pkg/virtctl/portforward/vsock.go
  pkg/virtctl/ssh/ssh.go
  pkg/virtctl/ssh/ssh_test.go
Due: none

virt-operator: wait for DaemonSet rollout before updating controllers
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/update.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

setMigrationResult: use AbortStatus instead of message parsing
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cancelMigration: drop error return value
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

handleMigrationAbort: check domain metadata before VMI AbortStatus
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: fix possible abort race and tighten timing
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: guard DV creation behind CSI storage availability in monitoring tests
  tests/libstorage/datavolume.go
  tests/monitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

remove wait for ExportReady in cbt test
  tests/storage/backup.go
Due: none

rename hostdev test so it gets filtered by CI
  tests/storage/hotplug.go
Due: none
