Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

build: include sidecar-shim RPM base layer in sidecar image build
  cmd/sidecars/Containerfile
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: fix build of containerdisks with podman to have correct path
  hack/build-container-disks.sh
  hack/build-images-container.sh
Due: none

node-labeller: iterate over label keys instead of values
  tests/libinfra/node-labeller.go
Due: none

node-labeller: remove dead error handling in alertIfHostModelIsObsolete
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Enable LibvirtHooksServerAndClient feature gate by default
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/feature-gates.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

chore(lint): Add virttctl template to linter paths
  hack/linter/lint-paths.txt
Due: none

storage tests: quarantine dedicated io/auto policy hotplug
  tests/storage/hotplug.go
Due: none

fix(monitoring): Do not fire KubeVirtDeprecatedAPIRequested for DELETE
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

fix(tests,monitoring): Actually use a deprecated API
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

tests/reporter: migrate from deprecated v1 Endpoints to EndpointSlices
  tests/reporter/kubernetes.go
Due: none

net, restart_test: Remove redundant test of hotplugging 1 NIC
  pkg/network/vmliveupdate/restart_test.go
Due: none

feat: extract builder code for open api manifests to separate functions
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Decouple kv and k8s client in virtinformers
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-exportproxy/virt-exportproxy.go
  cmd/virt-handler/virt-handler.go
  pkg/controller/BUILD.bazel
  pkg/controller/virtinformers.go
  pkg/virt-api/api.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-operator/application.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add k8s clientset generation functions
  staging/src/kubevirt.io/client-go/kubecli/kubecli.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

operator: decouple kv and k8s clientset
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/crds_test.go
  pkg/virt-operator/resource/apply/delete.go
  pkg/virt-operator/resource/apply/delete_test.go
  pkg/virt-operator/resource/apply/instancetype_test.go
  pkg/virt-operator/resource/apply/instancetypes.go
  pkg/virt-operator/resource/apply/pdb_test.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/prometheus_test.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/rbac_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/scc_test.go
  pkg/virt-operator/resource/apply/ssc.go
  pkg/virt-operator/resource/generate/install/BUILD.bazel
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/strategy.go
  pkg/virt-operator/strategy_job.go
  pkg/virt-operator/webhooks/BUILD.bazel
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Replace golang/x/crypto to openshift/golang-crypto
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/modules.txt
Due: none

webhooks: Drop SecureBoot validation for arm64
  pkg/defaults/BUILD.bazel
  pkg/defaults/arm64.go
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

defaults: Add tests for arm64 SecureBoot defaulting
  pkg/defaults/defaults_test.go
Due: none

Revert "Remove expectations from migration-target as it"
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: migration-target: delete expectations on nonexistent VMIs
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: update container build of virt-exportserver to include export server base RPM layer
  cmd/virt-exportserver/Containerfile
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: add libguestfs-tools to default targets for amd64 & s390x builds
  hack/build-images-container.sh
  hack/push-images-container.sh
Due: none

virtctl expose: Add ownerReference to created Services
  pkg/virtctl/expose/BUILD.bazel
  pkg/virtctl/expose/expose.go
  pkg/virtctl/expose/expose_test.go
Due: none

virt-config: Rename the DisableNADResourceInjection FG
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/util/config.go
  tests/network/sriov.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cbt, backup: prevent stale status update when reusing backup names
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add spec.domain.memory.reservedOverhead
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Compute memlockSize in AdjustResources once
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-api: Hide ReservedOverhead under a feature-gate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Adjust memlock RLimits if required
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

kvm: Add Memory.ReservedOverhead in GetMemoryOverhead
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/kvm/hypervisorbackend_test.go
Due: none

util: VMI memory reserved overhead predicates
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

Add annotation to skip Velero backup hooks injection
  pkg/storage/pod/annotations/BUILD.bazel
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/storage/velero/annotations.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Sync dynamically velero backup hooks to launcher pods
  pkg/storage/pod/annotations/generator.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update WORKSPACE
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
