Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

dataImportCronTemplates: Remove instancetype.kubevirt.io labels (#2964)
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
Due: none

Use libstorage to create FS PVC in guestfs tests
  tests/storage/guestfs.go
Due: none

[TBD] pkg/util/openapi: Bump to v3
  api/openapi-spec/swagger.json
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  pkg/virt-api/BUILD.bazel
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Revert "When VM deletion timestamp is set, patch VMI TerminationGracePeriod with VM DeletionGracePeriod"
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Revert 'Updating delete VM unit test to account for patching grace period'
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adjust VM delete test to ensure graceful termination
  tests/vm_test.go
Due: none

tests: make some tests in vm_test run in parallel
  tests/vm_test.go
Due: none

Revert "Adding e2e tests"
  tests/vm_test.go
Due: none

Bump KUBEVIRT to v1.3.0-beta.0 (#2994)
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/crds/kubevirt00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt00.crd.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/defaults.go
  vendor/kubevirt.io/api/core/v1/schema.go
  vendor/kubevirt.io/api/core/v1/schema_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/modules.txt
Due: none

virt-config: Simplify interface used
  pkg/virt-config/configuration.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

UpdateFakeKubeVirtClusterConfig: Simplify interface used
  pkg/storage/backend-storage/backend-storage_test.go
  pkg/testutils/mock_config.go
  pkg/util/tls/tls_test.go
  pkg/virt-api/rest/profiler_test.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmexport-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/services/virtiofs_test.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi_test.go
  pkg/virt-handler/device-manager/mediated_device_test.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
  pkg/virt-handler/device-manager/pci_device_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

migration controller: add a secondary queue to keep the main one managable
  pkg/virt-controller/watch/migration.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virtctl: usbredir: Add bus-device option doc
  pkg/virtctl/usbredir/usbredir.go
Due: none

virtctl: usbredir: move streamStop channel
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

virtctl: usbredir: error when connection is closed
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

virtctl: usbredir: use full address directly
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

virtctl: usbredir: remove extra channel and goroutine
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

Collect component Role rules under operator Role instead of ClusterRole
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/operator.go
  pkg/virt-operator/resource/generate/rbac/operator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virtctl: usbredir: move run logic under Client type
  pkg/virtctl/usbredir/BUILD.bazel
  pkg/virtctl/usbredir/client.go
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

tests: usbredir: use virtctl/usbredir Client
  tests/BUILD.bazel
  tests/usbredir_test.go
Due: none

Use patchSet for vmi.syncAnnotation function
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Move virt-controller' constants under controller file
  pkg/controller/controller.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Follow up of tests/go.mod (#2989)
  go.mod
  go.sum
  tests/.golangci.yml
  tests/func-tests/labels_test.go
  tests/func-tests/mediateddevices_mediateddevice_test.go
  tests/func-tests/monitoring_test.go
  tests/func-tests/tuningpolicy_test.go
  tests/func-tests/virtual_machines_test.go
  vendor/github.com/go-logr/logr/README.md
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/CONTRIBUTING.md
  vendor/github.com/onsi/ginkgo/v2/Makefile
  vendor/github.com/onsi/ginkgo/v2/ginkgo/watch/package_hash.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/table_dsl.go
  vendor/github.com/onsi/ginkgo/v2/types/config.go
  vendor/github.com/onsi/ginkgo/v2/types/label_filter.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Due: none

tests/monitoring: Fix VirtOperatorRESTErrorsBurst operator test
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Add decorators to hotplug tests indicating block or filesystem
  tests/decorators/decorators.go
  tests/storage/hotplug.go
Due: none

moved replicaset_test.go to use libvmi
  tests/replicaset_test.go
Due: none

Move virt-controller' utility func under controller file
  pkg/controller/BUILD.bazel
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Drop now() function in favor of pointer
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/pool_test.go
  pkg/virt-controller/watch/replicaset_test.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add `request-evict-only` annotation to virt-launcher pods
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/descheduler/BUILD.bazel
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add `eviction-in-progress` annotation during evacuation
  pkg/virt-controller/watch/descheduler/BUILD.bazel
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/migration.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Explicitly add source pod in migration test
  pkg/virt-controller/watch/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add unit test for descheduler annotations
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Add e2e test for descheduler annotations
  tests/migration/migration.go
Due: none

subresource: Use patchset for patch operations
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

mutating_webhook: Use patchset for patch operations
  pkg/virt-api/webhooks/mutating-webhook/mutators/clone-create-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance
