Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

Fix no ready alerts to fire only when pods are running but not ready
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Changing the recording rule expression
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/pvc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

passt: retry repair when a setup step fails
  pkg/network/passt/repair.go
  pkg/network/passt/repair_test.go
Due: none

virt-handler: fail fast when the socket is gone
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add comprehensive unit tests for launcher client verification in virt-handler:
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients_test.go
  pkg/virt-handler/launcher-clients/mock_launcher-clients.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

notify(test): Use Receive() instead of time.After
  pkg/virt-launcher/notify-client/notify_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

launcher-clients(test): Use libvmi instead of NewMinimalVMI
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: add persistent ResourceClaims API for DRA device passthrough
  api/openapi-spec/swagger.json
  examples/vm-dra-pgpu.yaml
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/zz_generated.model_name.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tools/vms-generator/utils/utils.go
  tools/vms-generator/vms-generator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

container-disk: use volume name instead of index for disk paths
  cmd/virt-launcher/virt-launcher.go
  docs/devel/migration-premigration-hooks.md
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-launcher/premigration-hook-server/disk/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/disk/container_disk_path.go
  pkg/virt-launcher/premigration-hook-server/disk/container_disk_path_test.go
  pkg/virt-launcher/virtwrap/converter/storage/configurator.go
  pkg/virt-launcher/virtwrap/converter/storage/configurator_test.go
  pkg/virt-launcher/virtwrap/converter/storage/volume.go
  pkg/virt-launcher/virtwrap/manager.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: implement VM-scoped persistent ResourceClaims in virt-controller
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/controller/BUILD.bazel
  pkg/controller/controller.go
  pkg/controller/virtinformers.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/util/BUILD.bazel
  pkg/virt-controller/watch/util/util.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/resourceclaim_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/storage: remove programatic skips
  tests/storage/datavolume.go
  tests/storage/storage.go
Due: none

virt-controller: Propagate launcher pull secret
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add unit test for offline expansion preallocation flag
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs/sriov: describe the emulated igb development flow
  docs/network/sriov.md
Due: none

net, dra_test: Standardize validations
  pkg/network/admitter/dra_test.go
Due: none

virt-handler: keep launcher client after successful migration cleanup
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: publish successful migration downtime
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: expose successful migration downtime gauge
  cmd/virt-handler/virt-handler.go
  pkg/monitoring/metrics/virt-handler/domainstats/unit_converter.go
  pkg/monitoring/metrics/virt-handler/metrics.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/handler.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/handler_test.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/migrationstats_collector.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/migrationstats_collector_test.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/queue.go
  tests/libmonitoring/metrics.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

tests: validate successful migration downtime gauge
  docs/observability/metrics.md
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

automation: Fold SR-IOV e2e tests into the latest k8s provider
  automation/test.sh
Due: none

virt-export: remove ServicePorts from the export source interface
  pkg/storage/export/export/backup-source.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
  pkg/storage/export/export/vmtemplate-source.go
Due: none

virt-exportserver: gate readiness on backup tunnel establishment
  pkg/storage/export/export/backup-source_test.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/export/virt-exportserver/exportserver_test.go
  pkg/storage/export/virt-exportserver/oci_test.go
Due: none

Ignore Windows CDROM filesystems in GuestFilesystemAlmostOutOfSpace
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Simplify error message when referencing a DVTemplate name from another running VM
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/storage/storage.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add functional test to ensure the simplified error message is observed
  tests/storage/storage.go
Due: none

network, e2e: Fix SR-IOV NUMA CPU placement test for folded run
  tests/network/sriov.go
Due: none

Auto-quarantine flaky tests
  tests/migration/host_model.go
Due: none

Fix duplicate guest console logs on s390x by using console-only approach
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/console.go
  pkg/virt-launcher/virtwrap/converter/compute/console_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml
  tests/guestlog/guestlog.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix typos in code comments
  pkg/checkpoint/checkpoint.go
  pkg/config/config.go
  pkg/host-disk/host-disk.go
  pkg/util/openapi/openapi.go
  pkg/util/os_helper.go
  pkg/virt-handler/device-manager/mediated_devices_types.go
  pkg/virt-handler/retry_manager.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go
  pkg/virt-launcher/virtwrap/agent/exec.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/storage/fsfreeze.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: regenerate deepcopy after adding Console.Log field
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Inject workqueue as a dependency into controller constructors
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/replicaset/BUILD.bazel
  pkg/virt-controller/watch/replicaset/replicaset.go
  pkg/virt-controller/watch/replicaset/replicaset_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Use frozen clock in test workqueues to fix flaky rate-limit assertions
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_queue.go
  pkg/virt-controller/watch/replicaset/BUILD.bazel
  pkg/virt-controller/watch/replicaset/replicaset_test.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed IOThread supplemental pool CPU pinning
  pkg/util/hardware/hw_utils.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed iothreads shadowing
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

converter: set domain iothreads before using the value
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add Conformance to PVC expansion test
  tests/storage/datavolume.go
Due: none

Run cd ../kubevirt && KUBEVIRT_CENTOS_STREAM_VERSION=10 KUBEVIRT_CS10_BUILDER_VERSION=2606301559-b9f50e380a make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

seccomp: write profile file with mode 0600 instead of 0700
  pkg/virt-handler/seccomp/seccomp.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

seccomp: write profile atomically via temp file and rename
  pkg/virt-handler/seccomp/seccomp.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: graduate KubevirtSeccompProfile feature gate to GA
  cmd/virt-handler/virt-handler.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
