Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

tests/migration: fix unschedulable migration check flake
  tests/migration/migration.go
Due: none

Handle lowercase instancetypes/preference keys in VM monitoring
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

tests: fix a couple of minor things in the tests
  tests/storage/migration.go
Due: none

virtwrap: adjust path for hotplugged volumes
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cgroup: consider migrated volume during the allow list generation
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: volume migrated with hotplugged volumes
  tests/storage/migration.go
Due: none

virt-controller: Use lastSeenVM consistently within addRestartRequiredIfNeeded
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

feat(virtwrap,api): Add PCIHole64 type
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Copy priorityqueue from controller-runtime and `make deps-sync`
  go.mod
  go.sum
  pkg/virt-controller/watch/migration/priorityqueue/BUILD.bazel
  pkg/virt-controller/watch/migration/priorityqueue/metrics.go
  pkg/virt-controller/watch/migration/priorityqueue/priorityqueue.go
  pkg/virt-controller/watch/migration/priorityqueue/workqueue.go
  vendor/github.com/google/btree/BUILD.bazel
  vendor/github.com/google/btree/LICENSE
  vendor/github.com/google/btree/README.md
  vendor/github.com/google/btree/btree.go
  vendor/github.com/google/btree/btree_generic.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

feat(virt-launcher): Allow to disable the 64-Bit PCI hole
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: switch to a priority queue
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: Use a DeepCopy of lastSeenVMSpec within addRestartRequiredIfNeeded
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

ci(tests,compute): Add functional test for disabling the 64-Bit PCI hole
  tests/compute/BUILD.bazel
  tests/compute/pcihole64.go
Due: none

priority queue: add mocking
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_priorityqueue.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: remove bogus key from queue
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: re-add rate limit and delay to queue adds
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

priority queue: add unit test
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

libvmi: add shared option to HostDisk
  pkg/libvmi/storage.go
Due: none

virtwrap: fix evaulation of migrated volumes
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(tests,storage): Use go client in datavolume tests
  tests/storage/BUILD.bazel
  tests/storage/datavolume.go
Due: none

cleanup(tests,storage): Make DataVolume tests independent of guest OS
  tests/storage/datavolume.go
Due: none

CNV-59923: Fix Console Plugin access in case of single stack IPv6 (#3494)
  controllers/operands/kubevirtConsolePlugin.go
Due: none

docs: adjust description of the fsFreezeStatus
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests(virt-operator,crds): Add test to verify expected columns on CRDs
  pkg/virt-operator/resource/generate/components/crds_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(virt-operator,crds): Rework test asserting schemas are present
  pkg/virt-operator/resource/generate/components/crds_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(tests): Remove functional kubectl column tests
  tests/kubectl_test.go
  tests/replicaset_test.go
Due: none

cleanup(tests): Remove functional kubectl explain tests
  tests/kubectl_test.go
Due: none

cleanup(tests,kubectl): Drop already covered log test
  tests/BUILD.bazel
  tests/kubectl_test.go
Due: none

cleanup(tests,clientcmd): Drop unused FailIfNoCmd
  tests/clientcmd/BUILD.bazel
  tests/clientcmd/command.go
Due: none

cleanup(tests): Use clientcmd.GetK8sCmdClient where appropriate
  tests/reporter/kubernetes.go
  tests/virtctl/imageupload.go
Due: none

fix(preference): Ensure memory requirements are respected when no memory is specified
  pkg/instancetype/preference/requirements/BUILD.bazel
  pkg/instancetype/preference/requirements/memory.go
  pkg/instancetype/preference/requirements/memory_test.go
  tests/instancetype/instancetype.go
Due: none

net, netstat: Process IPv4 & IPv6 addresses independently
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/netstat.go
  pkg/network/setup/netstat_test.go
Due: none

libvmi: add helper functions
  pkg/libvmi/cpu.go
  pkg/libvmi/storage.go
Due: none

Set ARCHITECTURES externally
  hack/builder/common.sh
Due: publish-kubevirt-builder

e2e,compute: Quarantine very flaky image pull error test
  tests/vm_test.go
Due: none

e2e,network: Quarantine flaky single SRIOV network migration test
  tests/network/sriov.go
Due: none

Fix build functests dependency
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
