Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

Fix cache corruption in vm controller
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Fix instance type unit tests
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests, network, services: Refactor connectivity job calls
  tests/network/services.go
Due: none

tests, network, services: Remove closures for readability
  tests/network/services.go
Due: none

tests, libvmi: Add subdomain and hostname builders
  tests/libvmi/network.go
  tests/network/services.go
Due: none

tests, network, services: Convert some vars to consts
  tests/network/services.go
Due: none

tests, network, services: Remove 3 closures for readability
  tests/network/services.go
Due: none

tests, network, services: Remove the VMI cleanup
  tests/network/services.go
Due: none

tests, network, services: Convert cleanups to `DeferCleanup`
  tests/network/services.go
Due: none

sig-cluster: introduce some responsibilities
  OWNERS_ALIASES
  cmd/virt-api/OWNERS
  cmd/virt-controller/OWNERS
  cmd/virt-operator/OWNERS
  cmd/virt-tail/OWNERS
  pkg/cloud-init/OWNERS
  pkg/controller/OWNERS
  pkg/instancetype/OWNERS
  pkg/pointer/OWNERS
  pkg/virt-config/OWNERS
  pkg/virt-controller/OWNERS
  pkg/virt-operator/OWNERS
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virtctl: Allow importing from GCS when creating VM
  pkg/virtctl/create/vm/vm.go
  pkg/virtctl/create/vm/vm_test.go
Due: none

e2e: Drop utils NewRandomFedoraVMIWithBlacklistGuestAgent
  tests/utils.go
  tests/vmi_configuration_test.go
Due: none

Add sig-buildsystem owners and aliases
  OWNERS
  OWNERS_ALIASES
  automation/OWNERS
  cluster-up-sha.txt
  cluster-up/OWNERS
  hack/OWNERS
  hack/builder/OWNERS
  hack/sync-kubevirtci.sh
Due: none

tests/swap: Replace min closure function with std. function
  tests/swap_test.go
Due: none

tests/swap: Move fillMemWithStressFedoraVMI closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move getMemInfoByString closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move getSwapFreeSizeInKib closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move getTotalMemSizeInKib closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move getAffinityForTargetNode closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move getAvailableMemSizeInKib closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Remove runVMIAndExpectLaunch closure function
  tests/swap_test.go
Due: none

tests/swap: Move getSwapSizeInKib closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move confirmMigrationMode closure function to be independent
  tests/swap_test.go
Due: none

tests/swap: Move skipIfSwapOff closure function to be independent
  tests/swap_test.go
Due: none

Add VM instancetype and preference controller revisions to backup graph
  docs/backup-restore-integration.md
Due: none

tests, network, services: Inline kubevirt client
  tests/network/services.go
Due: none

tests, network, services: Use a common defer-cleanup for jobs & services
  tests/network/services.go
Due: none

tests, network, services: Remove the service & job cleanup
  tests/network/services.go
Due: none

tests, network, services: Inline `By` function
  tests/network/services.go
Due: none

Fix kubevirt_vm_created_total being broken down by virt-api pod
  docs/metrics.md
  pkg/monitoring/metrics/virt-api/vm_metrics.go
  pkg/monitoring/rules/recordingrules/vm.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Add sig-network ownership to all the relevant paths
  cmd/cniplugins/OWNERS
  cmd/sidecars/network-passt-binding/OWNERS
  cmd/sidecars/network-slirp-binding/OWNERS
  tests/libnet/OWNERS
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-contoller: move network related code to network dir
  pkg/virt-controller/network/BUILD.bazel
  pkg/virt-controller/network/OWNERS
  pkg/virt-controller/network/hotplug.go
  pkg/virt-controller/network/hotplug_test.go
  pkg/virt-controller/network/multus_annotations.go
  pkg/virt-controller/network/multus_annotations_test.go
  pkg/virt-controller/network/render.go
  pkg/virt-controller/network/render_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Remove network related code from libinfra
  tests/infrastructure/prometheus.go
  tests/libinfra/BUILD.bazel
  tests/libinfra/network.go
  tests/libmigration/BUILD.bazel
  tests/libmigration/migration.go
Due: none

admit, network: move network addmiters to pkg/network/admot
  pkg/network/admitter/BUILD.bazel
  pkg/network/admitter/admit.go
  pkg/network/admitter/admit_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

kubevirt, check: update deprecated dryRun call
  hack/check-unassigned-tests.sh
Due: none

Validate no volume name duplication in CRD
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Move the Serial fields validation to the CRD
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

validate spec.Domain.IOThreadsPolicy in the CRD
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

validate Interface in the CRD
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Move sound device validation to CRD
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
