Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

network/admitter: Add DRA network source validation
  pkg/network/admitter/netsource.go
  pkg/network/admitter/netsource_test.go
Due: none

virt-config: Add NetworkDevicesWithDRA feature gate accessor
  pkg/virt-config/feature-gates.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

dra: Add network utility functions
  pkg/dra/utils.go
Due: none

virt-api: Add DRA network validation in VMI admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Add DRA network host device passthrough
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

network/annotations: Add DRA network MAC address pod annotation
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Due: none

virt-handler: Add DRA network device handling
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-controller: Add DRA network support
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/dra/dra.go
  pkg/virt-controller/watch/dra/dra_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sriov_dra: Fix hardcoded sriov node name
  tests/network/sriov_dra.go
Due: none

sriov_dra: Increase guest agent timeout for multi-interface test
  tests/network/sriov_dra.go
Due: none

sriov_dra: Read NUMA sysfs from node via virt-launcher pod
  tests/network/sriov_dra.go
Due: none

sriov_dra: Detect emulated SR-IOV before applying link_state in NAD
  tests/network/sriov_dra.go
Due: none

featuregate: Add NetworkDevicesWithDRA constant
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: Add ResourceClaimNetworkSource type and generated files
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: Add e2e tests for NetworkDevicesWithDRA feature
  pkg/libvmi/network.go
  tests/decorators/decorators.go
  tests/libnet/BUILD.bazel
  tests/libnet/resourceclaim.go
  tests/network/BUILD.bazel
  tests/network/sriov_dra.go
Due: none

WIP: Add DRA SR-IOV kubevirtci manifest and CI config
  automation/test.sh
  kubevirtci/cluster-up/cluster/kind-sriov/sriov-components/manifests/dra/sriov_dra.yaml
Due: none

Replace golang/x/crypto to openshift/golang-cryptov0.36.openshift.1
  WORKSPACE
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/modules.txt
Due: pull-kubevirt-verify-rpms

Replace golang/x/crypto to openshift/golang-cryptov0.36.openshift.1
  WORKSPACE
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/sync/errgroup/BUILD.bazel
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Due: pull-kubevirt-verify-rpms

Replace golang/x/crypto to openshift/golang-crypto
  WORKSPACE
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/modules.txt
Due: pull-kubevirt-verify-rpms

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

feat(virt-operator): Allow setting TLS options for virt-template
  pkg/util/tls/BUILD.bazel
  pkg/util/tls/tls.go
  pkg/util/tls/tls_test.go
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/apps_test.go
  pkg/virt-operator/resource/generate/components/virttemplate.go
  tests/infrastructure/tls-configuration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, e2e: Add e2e test for NAD Live update
  tests/network/BUILD.bazel
  tests/network/nad_live_update.go
Due: none

sriov: Move ExternalNetResourceInjection FG to CI lane config
  automation/test.sh
  tests/network/sriov.go
Due: none

Use defined deployment number of replicas as base to fire low count alerts
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Disable low count alerts e2e tests
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Add unit tests for low virt component count alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: pull-kubevirt-prom-rules-verify

Subtract non-schedulable nodes from kubevirt_allocatable_nodes
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/nodes.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Parse devices.list directly instead of using unexported runc emulator
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Collect migration metrics without wait
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/handler.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/queue.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
