Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

api: usb-host: add support for external resource provider
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests: usb: inline variables
  tests/usb/usb.go
Due: none

device-manager: usb: handle external resource provider
  pkg/virt-handler/device-manager/usb_device.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetypes: Simplify inference methods
  pkg/instancetype/instancetype.go
  pkg/testutils/mock_instancetype.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetypes: Clear VM guest memory when ignoring inference failures
  pkg/instancetype/instancetype.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  tests/instancetype_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetype: Add LatestVersion constant
  staging/src/kubevirt.io/api/instancetype/register.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests: inline instancetype creation in subresource tests
  tests/subresource_api_test.go
Due: none

virt-controller: Upgrade instancetype ControllerRevisions on sync
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests: Move instancetype func tests to dedicated directory
  tests/BUILD.bazel
  tests/instancetype/BUILD.bazel
  tests/instancetype/instancetype.go
  tests/tests_suite_test.go
Due: none

instancetype: Add Upgrader interface and implementation
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/upgrade.go
  pkg/testutils/mock_instancetype.go
  tests/BUILD.bazel
  tests/instancetype/BUILD.bazel
Due: none

instancetype: Use UnmarshalStrict and remove isPreference
  go.mod
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/compatibility.go
  pkg/instancetype/instancetype.go
  pkg/storage/snapshot/restore.go
Due: none

instancetype: Include object version in ControllerRevision name
  pkg/instancetype/instancetype.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

instancetype: Add functional upgrade tests
  tests/instancetype/BUILD.bazel
  tests/instancetype/upgrade.go
Due: none

Run bazelisk run //robots/cmd/uploader:uploader -- -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

build: update github.com/opencontainers/runc version
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Due: none

instancetype: Remove defunct legacy ControllerRevision functional tests
  tests/instancetype/instancetype.go
Due: none

vm-admitter: Reject VMs not specifying memory
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  tests/instancetype_test.go
  tests/vm_test.go
  tools/vms-generator/BUILD.bazel
  tools/vms-generator/vms-generator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix stamp for virt-operator
  cmd/virt-operator/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

WIP: create IPAMClaim and tell CNI how to retrieve it
  pkg/virt-controller/services/multus_annotations.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

build: create ipam claims when a VM is requested
  go.mod
  go.sum
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  staging/src/kubevirt.io/client-go/kubecli/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubecli.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  vendor/github.com/maiqueb/persistentips/LICENSE
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/BUILD.bazel
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/BUILD.bazel
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/clientset.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/scheme/BUILD.bazel
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/scheme/doc.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/scheme/register.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/BUILD.bazel
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/doc.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/generated_expansion.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/ipamlease.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/persistentip_client.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/doc.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/register.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/types.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

ipam: consume the 0.3.0-alpha lib
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-controller/watch/vm.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

ipam: bump to persistentips v0.3.0-alpha
  go.mod
  go.sum
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/BUILD.bazel
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/generated_expansion.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/ipamclaim.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/ipamlease.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/apis/clientset/versioned/typed/persistentip/v1alpha1/persistentip_client.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/register.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/types.go
  vendor/github.com/maiqueb/persistentips/pkg/crd/persistentip/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Revert "KSM: use a dynamic configuration"
  pkg/testutils/BUILD.bazel
  pkg/testutils/node.go
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/ksm.go
  pkg/virt-handler/heartbeat/ksm_test.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/infrastructure/infrastructure.go
  tests/infrastructure/virt-handler.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Revert "Move KSM handling away from node labeller"
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/ksm.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

support more than one conn for vnc
  pkg/virt-handler/rest/console.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

support for more than one conn for vnc
  pkg/virt-handler/rest/console.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

fix close file after open
  tests/testsuite/BUILD.bazel
  tests/testsuite/manifest.go
  tools/perfscale-load-generator/config/BUILD.bazel
  tools/perfscale-load-generator/config/config.go
Due: none

Allow overriding the default golden image namespace (#2544)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/imageStream.go
  controllers/operands/imageStream_test.go
  controllers/operands/operand.go
  controllers/operands/ssp.go
  controllers/operands/ssp_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Reapply Ginkgo v2 Serial changes
  hack/functests.sh
  tests/tests_suite_test.go
Due: none

hooks: sidecar: add example of custom QEMU args
  BUILD.bazel
  cmd/sidecars/qemu-args/BUILD.bazel
  cmd/sidecars/qemu-args/README.md
  cmd/sidecars/qemu-args/main.go
  hack/bazel-push-images.sh
  hack/config-default.sh
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher,converter: Remove redundent check /dev/vhost-net presense
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

multiple bridge interfaces hotplug bug fix
  pkg/network/setup/netpod/netpod.go
Due: none

tests: sidecar: small refactor to add RenderSidecar()
  tests/vmi_configuration_test.go
  tests/vmi_hook_sidecar_test.go
Due: none

tests: sidecar: Add custom QEMU envs and args checks
  tests/vmi_hook_sidecar_test.go
Due: none

tests: sidecar: qemu-args
  cmd/sidecars/qemu-args/BUILD.bazel
  cmd/sidecars/qemu-args/main_suite_test.go
  cmd/sidecars/qemu-args/main_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

examples: Add vmi-sidecar-qemu-args.yaml
  examples/vmi-sidecar-qemu-args.yaml
  tools/vms-generator/utils/utils.go
  tools/vms-generator/vms-generator.go
Due: none

tests: sidecar: add SMBios to variable and functions
  tests/vmi_hook_sidecar_test.go
Due: none

Revert "Add func tests for guest console logs"
  tests/BUILD.bazel
  tests/guestlog/BUILD.bazel
  tests/guestlog/guestlog.go
  tests/performance/density.go
  tests/tests_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance
