Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Add NUMA and PCIe hardware helpers
  pkg/util/hardware/BUILD.bazel
  pkg/util/hardware/hw_utils.go
  pkg/util/hardware/hw_utils_test.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCI expander bus assigner for NUMA aware placement
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCINUMAAwareTopologyEnabled field to cluster config and wire to converter
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add PCIe controller fields to virtwrap API schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add converter NUMA aware PCI topology mapping for GPU and host devices
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add HypervisorNodeInformation iface and KVM impl
  pkg/hypervisor/BUILD.bazel
  pkg/hypervisor/hypervisornodeinformation.go
  pkg/hypervisor/kvm/launcherhypervisorresources.go
Due: none

Rename KVM interface implementation
  pkg/hypervisor/hypervisornodeinformation.go
  pkg/hypervisor/kvm/BUILD.bazel
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/kvm/hypervisorbackend_test.go
  pkg/hypervisor/launcherhypervisorresources.go
  pkg/hypervisor/launcherhypervisorresources_test.go
Due: none

Add envvars to node-labeller script and pass KVM vals
  cmd/virt-launcher/node-labeller/node-labeller.sh
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: remove dead e2e test_id:4146
  tests/infrastructure/prometheus.go
Due: none

Pass hypervisor params to node-labeller from KVConfig
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/util/BUILD.bazel
  pkg/virt-operator/util/config.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VMExport: GA feature gate so export is enabled by default
  pkg/storage/admitters/vmexport.go
  pkg/storage/admitters/vmexport_test.go
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/update.go
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/tls-configuration.go
  tests/operator/operator.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Tests: Adapt func test to work with VMExport feature gate enabled by default
  tests/operator/operator.go
Due: none

tests: fix quarantined test_id:4145 for VMI metrics labels
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Due: none

tests: Clean up imports and formatting in instancetype tests
  tests/instancetype/inference.go
  tests/instancetype/instancetype.go
  tests/instancetype/memory_overcommit.go
  tests/instancetype/requirements.go
  tests/instancetype/revisions.go
  tests/instancetype/upgrade.go
  tests/instancetype/webhook.go
Due: none

fix(monitoring): Do not fire KubeVirtDeprecatedAPIRequested for DELETE
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

fix(tests,monitoring): Actually use a deprecated API
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

storage, cbt: add gRPC service definition for NBD export
  hack/gen-proto.sh
  pkg/storage/cbt/nbd/v1/BUILD.bazel
  pkg/storage/cbt/nbd/v1/nbd.pb.go
  pkg/storage/cbt/nbd/v1/nbd.proto
Due: none

cbt, nbd: introduce nbdClient
  go.mod
  go.sum
  hack/bazel-generate.sh
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/nbdClient.go
  pkg/virt-launcher/virtwrap/storage/nbdClient_test.go
  vendor/libguestfs.org/libnbd/BUILD.bazel
  vendor/libguestfs.org/libnbd/LICENSE
  vendor/libguestfs.org/libnbd/README.md
  vendor/libguestfs.org/libnbd/aio_buffer.go
  vendor/libguestfs.org/libnbd/bindings.go
  vendor/libguestfs.org/libnbd/callbacks.go
  vendor/libguestfs.org/libnbd/closures.go
  vendor/libguestfs.org/libnbd/handle.go
  vendor/libguestfs.org/libnbd/wrappers.go
  vendor/libguestfs.org/libnbd/wrappers.h
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

rpm-deps, add libnbd to launcherbase-extra
  Makefile
  WORKSPACE
  docs/build-the-builder.md
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

consider migrated volumes in completionTimeoutPerGiB calculation
  pkg/storage/types/BUILD.bazel
  pkg/storage/types/pvc.go
  pkg/storage/types/pvc_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  tests/storage/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration target: fix bug updating vmi spec on cleanup
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: add unit tests for the open api v3 paths
  pkg/virt-api/api.go
  pkg/virt-api/api_test.go
  pkg/virt-api/rest/authorizer_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: extract builder code for open api manifests to separate functions
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  pkg/virt-api/api.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat: add openapi v3 paths for subresources.kubevirt.io/v1 and v1alpha3
  api/openapi-spec/swagger.json
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/authorizer.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e, net: Dequarantine passt migration ipv6
  tests/network/bindingplugin_passt.go
Due: none

e2e, net: Wait for net readiness after passt migration
  tests/libnet/route.go
  tests/network/bindingplugin_passt.go
Due: none

fix(export): normalize PVC names via dot-to-dash filtering and length-based hashing for exceeding character limits
  pkg/storage/export/export/export.go
  pkg/storage/export/export/paths.go
Due: none

Add test case to test proper pvc name extraction
  pkg/storage/export/export/export_test.go
Due: none

Replace golang/x/crypto to openshift/golang-crypto
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/modules.txt
Due: none

Handle single-node cluster scenario in CPUManager feature check
  tests/testsuite/kubevirtresource.go
Due: none

Refactored & drastically improved healthCheck logic in device plugins
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/generic_device.go
  pkg/virt-handler/device-manager/mediated_device.go
  pkg/virt-handler/device-manager/pci_device.go
  pkg/virt-handler/device-manager/socket_device.go
  pkg/virt-handler/device-manager/usb_device.go
  pkg/virt-handler/device-manager/usb_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Added a constructor for DevicePluginBase
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/generic_device.go
  pkg/virt-handler/device-manager/mediated_device.go
  pkg/virt-handler/device-manager/pci_device.go
  pkg/virt-handler/device-manager/socket_device.go
  pkg/virt-handler/device-manager/usb_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Updated unit tests & e2e tests
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/device_controller_test.go
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/generic_device.go
  pkg/virt-handler/device-manager/generic_device_test.go
  pkg/virt-handler/device-manager/mediated_device.go
  pkg/virt-handler/device-manager/mediated_device_test.go
  pkg/virt-handler/device-manager/mediated_devices_types_test.go
  pkg/virt-handler/device-manager/pci_device_test.go
  pkg/virt-handler/device-manager/socket_device_test.go
  pkg/virt-handler/device-manager/usb_device_test.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed usb_device health reporting bug
  pkg/virt-handler/device-manager/device_plugin_base.go
  pkg/virt-handler/device-manager/usb_device.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: move multiqueue test to network and modernize
  pkg/libvmi/network.go
  tests/BUILD.bazel
  tests/network/BUILD.bazel
  tests/network/multiqueue.go
  tests/vmi_multiqueue_test.go
Due: none

fix: await QMP job completion before dismissing in QCOW2 overlay creation
  pkg/virt-launcher/virtwrap/storage/cbt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vhostmd, disk: Use safepath
  pkg/downwardmetrics/downwardmetrics.go
  pkg/downwardmetrics/scraper/BUILD.bazel
  pkg/downwardmetrics/scraper/scraper.go
  pkg/downwardmetrics/vhostmd/BUILD.bazel
  pkg/downwardmetrics/vhostmd/disk.go
  pkg/downwardmetrics/vhostmd/disk_test.go
  pkg/downwardmetrics/vhostmd/vhostmd.go
Due: none

virt-api: Hide ReservedOverhead under a feature-gate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Adjust memlock RLimits if required
  pkg/virt-handler/isolation/detector.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

kvm: Add Memory.ReservedOverhead in GetMemoryOverhead
  pkg/hypervisor/kvm/launcherhypervisorresources.go
  pkg/hypervisor/kvm/launcherhypervisorresources_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
