Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Align virt-launcher-monitor gazelle data label
  cmd/virt-launcher-monitor/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Address monitor review: signals, caps, logs
  cmd/virt-launcher-monitor/main.c
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix remaining template memory expectations for 2Mi monitor
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Harden C virt-launcher-monitor cleanup
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/main.c
  cmd/virt-launcher-monitor/main_test.go
  cmd/virt-launcher-monitor/virt_launcher_monitor_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Simplify Istio HTTP requests in C monitor
  cmd/virt-launcher-monitor/main.c
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tls: Add tests for TLS group preferences
  pkg/storage/export/export/export_test.go
  pkg/util/tls/tls_test.go
  tests/infrastructure/tls-configuration.go
Due: none

RBAC: Update RBAC permissions
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/handler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix(vmi): remove stale PVC unschedulable condition
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

monitoring: don't treat missing kube-state-metrics data as 0 in Down/NoReady rules
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/virt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

docs(vmi): clarify stale condition cleanup
  pkg/virt-controller/watch/vmi/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs(vmi): clarify synthetic scheduling condition
  pkg/virt-controller/watch/vmi/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

client-go/log: Preserve unstructured libvirt stderr lines
  staging/src/kubevirt.io/client-go/log/log.go
  staging/src/kubevirt.io/client-go/log/log_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

hack/dockerized: bump builder images to include envtest binaries
  hack/dockerized
Due: none

fix: report hotplug volume attach failures per volume
  pkg/virt-handler/controller.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/metadata/BUILD.bazel
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/metadata/diskattacherrors.go
  pkg/virt-launcher/metadata/diskattacherrors_test.go
  pkg/virt-launcher/metadata/safedata.go
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Enable readOnlyRootFilesystem for Kubevirt containers
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/daemonsets_test.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/deployments_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: convert cert rotation e2e tests to unit tests
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cbt: Use ExportServiceHost for pull-mode dial address
  pkg/storage/cbt/backup_test.go
  pkg/storage/cbt/pull_mode.go
Due: none

Fix race condition when performing online snapshot of VMs with persistent EFI
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/fsfreeze.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Link virt-launcher-monitor dynamically and tighten C warnings
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/main.c
  hack/build-go.sh
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/mshv/hypervisorbackend.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Keep virt-launcher-monitor statically linked
  cmd/virt-launcher-monitor/BUILD.bazel
  hack/build-go.sh
  pkg/hypervisor/kvm/hypervisorbackend.go
  pkg/hypervisor/mshv/hypervisorbackend.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

add new feature gate SCSIMultiIOThread
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/options.go
  pkg/virt-launcher/virtwrap/converter/compute/controllers.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

update admitter message for disks with invalid dedicatedIOThread
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
Due: none

WIP
  pkg/network/setup/netpod/netpod.go
  pkg/network/setup/netpod/netpod_test.go
Due: none

Add allowMigrationNetworkFallback to MigrationConfiguration
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Implement allowMigrationNetworkFallback in virt-handler
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/migration.go
  pkg/virt-handler/migration_test.go
  pkg/virt-operator/util/BUILD.bazel
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add functional tests for allowMigrationNetworkFallback
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  tests/libmigration/migration.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-258: Support for ppc64le Arch - add Go runtime support for ppc64le architecture
  cmd/virt-launcher/node-labeller/node-labeller.sh
  hack/common.sh
  pkg/defaults/BUILD.bazel
  pkg/defaults/defaults.go
  pkg/defaults/ppc64le.go
  pkg/hypervisor/common/setsched.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/ppc64le.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/kvm-caps-info-plugin_ppc64le.go
  pkg/virt-handler/node-labeller/util/util.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

modify iothread auto policy for block devices
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-config/configuration.go
  pkg/virt-handler/options.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/controllers.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads.go
  pkg/virt-launcher/virtwrap/converter/storage/configurator.go
  pkg/virt-launcher/virtwrap/converter/storage/disk.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/zz_generated.model_name.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

hack, rpms: Bump passt Bump passt rpm in centos stream 9, As it includes a bux fix for [1]
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

launchsecurity: add InitData CR for init-data injection
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/util/amd64.go
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/rbac/handler.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add CmdAuth gRPC service and virt-launcher authentication support
  pkg/handler-launcher-com/cmd/auth/BUILD.bazel
  pkg/handler-launcher-com/cmd/auth/auth.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/rendervolumes_test.go
  pkg/virt-launcher/virtwrap/cmd-server/BUILD.bazel
  pkg/virt-launcher/virtwrap/cmd-server/auth.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Authenticate virt-launcher sockets during virt-handler resync
  cmd/virt-handler/virt-handler.go
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-handler/cache/BUILD.bazel
  pkg/virt-handler/cache/cache.go
  pkg/virt-handler/cache/cache_test.go
  pkg/virt-handler/cache/domain-watcher.go
  pkg/virt-handler/cache/domain-watcher_test.go
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-operator/resource/generate/rbac/handler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/kind/check-cluster-up.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

Add CPU DRA implementation
  pkg/dra/BUILD.bazel
  pkg/dra/cpu_resource_claim.go
  pkg/dra/cpu_resource_claim_test.go
  pkg/dra/resource_claims.go
  pkg/dra/resource_claims_test.go
  pkg/util/hardware/BUILD.bazel
  pkg/util/hardware/hw_utils.go
  pkg/util/hardware/hw_utils_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add e2e tests
  tests/compute/BUILD.bazel
  tests/compute/dra.go
Due: none

emove redundant deletion code launcher pods are automatically deleted when the vmi is removed, as it is their sole Owner.
  pkg/virt-controller/watch/vmi/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests, migration: derive quota from actual pod memory request
  tests/migration/migration.go
Due: none

tests, migration: fix ResourceQuota rejection test flakiness
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: none
