Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

virt-controller: Prefer native arch nodes for cross-arch emulation
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: Add SoftwareEmulation VMI condition for cross-arch VMs
  pkg/virt-handler/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/cross_arch_emulation_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs: document automatic quarantine workflow
  docs/quarantine.md
Due: none

net, networkpolicy: Fix network policy for IPv4/IPv6
  tests/libnet/cloudinit/BUILD.bazel
  tests/libnet/cloudinit/cloudinit.go
  tests/libnet/job/job.go
  tests/libnet/vmnetserver/servers.go
  tests/migration/migration.go
  tests/network/networkpolicy.go
  tests/network/services.go
Due: none

fix: skip permittedHostDevices validation when DRA is enabled
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

OWNERS_ALIASES: Introduce sig-control-plane-{reviewers,approvers}
  OWNERS_ALIASES
Due: none

virtctl image-upload command need to handle auth error properly in retries
  pkg/virtctl/imageupload/imageupload.go
  pkg/virtctl/imageupload/imageupload_test.go
Due: none

tests/libmonitoring: Fix query escaping and refactor prometheus helpers
  tests/libmonitoring/prometheus.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

migration, vmi-lifecycle, virt-handler: propagate failure to target VMI on failed decentralized migration
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

sync-controller: fix MigrationState patch race condition
  pkg/synchronization-controller/synchronization-controller.go
Due: none

migration-target: address review feedback
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add unit tests for decentralized migration fixes
  pkg/synchronization-controller/BUILD.bazel
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

s390x: Skip v3 PCI topology changes for s390x architecture
  pkg/defaults/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/pci_topology.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

OWNERS: Introduce sig-control-plane ownership of core control plane paths
  cmd/synchronization-controller/OWNERS
  cmd/virt-api/OWNERS
  cmd/virt-controller/OWNERS
  cmd/virt-operator/OWNERS
  pkg/certificates/OWNERS
  pkg/controller/OWNERS
  pkg/healthz/OWNERS
  pkg/virt-api/OWNERS
  pkg/virt-controller/services/OWNERS
  pkg/virt-controller/watch/OWNERS
  pkg/virt-operator/OWNERS
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

storage/cbt: fix backup export service lookup for long export names
  pkg/storage/cbt/backup.go
Due: none

storage/snapshot: fix nil pointer dereference in restore event recording
  pkg/storage/snapshot/restore.go
Due: none

feat(core, kubevirt): expose migration transfer counters
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

chore(ci): migrate golangci-lint config to v2
  hack/linter/.golangci.yml
Due: none

Add libvirt firmware auto-selection types to domain schema
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add FirmwareAutoSelection feature gate
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/options.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Use firmware auto-selection for EFI Secure Boot
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/compute/os_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: enhance failure messages in storage test files
  tests/storage/cbt.go
  tests/storage/configuration.go
  tests/storage/declarative-hotplug.go
  tests/storage/events.go
  tests/storage/memorydump.go
  tests/storage/reservation.go
  tests/storage/utility-volumes.go
Due: none

tests: enhance failure messages in storage/hotplug tests
  tests/storage/hotplug.go
Due: none

fix(observability): fix gaps in live migration metrics (#92)
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/handler.go
  pkg/monitoring/metrics/virt-handler/migrationdomainstats/handler_test.go
  tests/storage/BUILD.bazel
  tests/storage/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

vmi-lifecycle, virt-handler: prevent migration target from transitioning to Failed
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cirros to alpine change for services tests
  tests/network/services.go
Due: none

fix(virt-launcher): Cache the disk guest size
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fixes err in Exexute
  pkg/virtctl/debug/debug.go
  pkg/virtctl/root.go
Due: none

migration: fix race between handleMarkMigrationFailedOnVMI and ackMigrationCompletion
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e: de-quarantine cross-namespace migration tests
  tests/migration/namespace.go
Due: none

fix: correct typos 'succesfully' -> 'successfully'
  pkg/virtctl/guestfs/guestfs_test.go
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Due: none

fix: Always add macvtap device to allowed device rules
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/generated_mock_safepath.go
  pkg/virt-handler/cgroup/safepath.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/cgroup/util_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

storage/snapshot: remove unused source VM labels
  pkg/storage/snapshot/snapshot.go
  tests/storage/snapshot.go
Due: none

storage/restore: remove unused restore source VM labels
  pkg/storage/snapshot/restore.go
  tests/monitoring/vm_monitoring.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

virtctl/vmexport: fix service lookup for long export names
  pkg/virtctl/memorydump/memorydump_test.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
Due: none

storage/cbt: fix backup target volume name for long backup names
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/push-target-pvc.go
Due: none

storage/backend-storage: use a static volume name for backend storage
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
  tests/storage/snapshot.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
