Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

Improve the readability of test_id:4119 failures
  tests/vm_test.go
Due: none

Restore VM: fix VM restore in progress validation
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Restore tests: fix test to make sure vm update doesn't fail webhook
  tests/storage/restore.go
Due: none

Add unit test coverage
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

let the label_approved_veps github action to user a PAT
  .github/workflows/label_approved_veps.yaml
Due: none

net, vm ctrl: Refactor clearDetachedInterfaces
  pkg/network/controllers/vm.go
Due: none

Run go run ./robots/cmd/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

virt-freezer: skip freeze if domain not running instead of fail
  cmd/virt-freezer/main.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-freezer: refactor the code and add UTs
  cmd/virt-freezer/BUILD.bazel
  cmd/virt-freezer/virt-freezer.go
  cmd/virt-freezer/virt-freezer_suite_test.go
  cmd/virt-freezer/virt-freezer_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: verify volume migration when destination volumes don't exist
  tests/storage/migration.go
Due: none

watch: handle if the destination PVC or DV
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: remove overkill and redundant tests
  tests/storage/BUILD.bazel
  tests/storage/snapshot.go
Due: none

virt-launcher,sidecars: Refactor collectSideCarSockets
  pkg/hooks/manager.go
Due: none

virt-controller, template: Use subPath to improve container isolation
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher, hook-manager: Adapt Socket collect to search in subpaths
  pkg/hooks/manager.go
  pkg/hooks/manager_test.go
Due: none

Introduce libvirt wrapper
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/agent-poller/BUILD.bazel
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
  pkg/virt-launcher/virtwrap/testing/BUILD.bazel
  pkg/virt-launcher/virtwrap/testing/libvirt.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Revert "e2e,network: Quarantine flaky single SRIOV network migration test"
  tests/network/sriov.go
Due: none

automation: Increase logs verbosity for kind-sriov
  automation/test.sh
Due: none

cmd-client: Refactor errors and guest logic to own files
  pkg/virt-handler/cmd-client/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/errors.go
  pkg/virt-handler/cmd-client/guest.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Simplify PodIsolationDetector
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/generated_mock_detector.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Isolation detector: Remove unused field
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/isolation/detector.go
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VM Controller: Remove virtPrivateDir
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

backend-storage: ignore VMI PVCs that are being deleted
  pkg/storage/backend-storage/backend-storage.go
Due: none

test: console: manage prompt inside safe expecter
  tests/compute/console.go
  tests/compute/guest_agent.go
  tests/config_test.go
  tests/console/console.go
  tests/console/login.go
  tests/container_disk_test.go
  tests/infrastructure/prometheus.go
  tests/launchsecurity/sev.go
  tests/libnet/mac.go
  tests/migration/migration.go
  tests/network/bindingplugin_slirp.go
  tests/network/sriov.go
  tests/network/vmi_istio.go
  tests/network/vmi_lifecycle.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
  tests/pdb_test.go
  tests/reporter/kubernetes.go
  tests/storage/datavolume.go
  tests/storage/hotplug.go
  tests/storage/reservation.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/swap_test.go
  tests/virtiofs/config.go
  tests/vm_state_test.go
  tests/vm_test.go
  tests/vmi_cloudinit_hook_sidecar_test.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_sound_test.go
  tests/vmi_vsock_test.go
  tests/watchdog_test.go
Due: none

tests: don't expect a prompt after poweroff commands
  tests/guestlog/guestlog.go
  tests/pdb_test.go
  tests/vm_test.go
Due: none

removing fakevirtclient from addvmi as it is not needed anymore
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: refactor eventually returning bool
  tests/storage/migration.go
Due: none

e2e,migration,sriov: Increase status update timeout
  tests/network/sriov.go
Due: none

net, annotations gen, test: Assert net-info order
  pkg/network/pod/annotations/generator_test.go
Due: none

virt-handler: fail VMIs that failed a post-copy migration
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add fuzz test for virt-operator Reconciler
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/fuzz_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

expectations: set to 0 instead of lowering by 1 in "binary" use-cases
  pkg/controller/expectations.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

add kind-1.32-dra
  kubevirtci/cluster-up/cluster/kind-1.32-dra/image
  kubevirtci/cluster-up/cluster/kind-1.32-dra/kind.yaml
  kubevirtci/cluster-up/cluster/kind-1.32-dra/provider.sh
  kubevirtci/cluster-up/cluster/kind-1.32-dra/version
Due: none

update with sourcery-ai feedback
  kubevirtci/cluster-up/cluster/kind-1.32-dra/provider.sh
Due: none

update sourcery-ai feedback about deleting with ignore-not-found
  kubevirtci/cluster-up/cluster/kind-1.32-dra/provider.sh
Due: none

temp: passt debug wrapper
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/passt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
