Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

Add advanced SEV-SNP configuration support with custom policies and e2e tests
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security_test.go
  pkg/virt-launcher/virtwrap/launchsecurity/BUILD.bazel
  pkg/virt-launcher/virtwrap/launchsecurity/sev.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/launchsecurity/sev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: don't error when kernel-boot artifacts are already unmounted
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/container-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/k8s-1.35/sriov-components/sriov_components.sh
  kubevirtci/cluster-up/cluster/k8s-1.36/sriov-components/sriov_components.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

tests/network: inline agentVMI interface/network setup into NewFedora
  tests/network/vmi_multus.go
Due: none

tests/network: rename vmiOne to vmi and use masqueradeIfaceName constant
  tests/network/vmi_multus.go
Due: none

libvmi: add InterfaceWithPciAddress decorator
  pkg/libvmi/network.go
  tests/network/sriov.go
Due: none

libvmi: add InterfaceWithTag decorator
  pkg/libvmi/network.go
  tests/network/sriov.go
Due: none

tests/network: require explicit IPv6 CIDR in newFedoraMasqueradeIPv6VMI
  tests/network/vmi_networking.go
Due: none

tests/migration: use required pod affinity for eviction strategy test
  tests/migration/eviction_strategy.go
Due: none

tests/migration: check errors and fix namespace in VMI Get calls
  tests/migration/eviction_strategy.go
Due: none

pkg/libvmi,tests/migration: avoid control-plane by role label
  pkg/libvmi/selector.go
  tests/migration/eviction_strategy.go
Due: none

tests/migration: replace Alpine VMIs with guestless VMIs
  tests/migration/eviction_strategy.go
  tests/migration/host_model.go
Due: none

sriov: Read NUMA sysfs from node via virt-launcher pod
  tests/network/sriov.go
Due: none

sriov: Skip NAD link_state enablement for emulated SR-IOV
  tests/flags/flags.go
  tests/network/sriov.go
Due: none

hotplug_sriov: Use Fedora image instead of Alpine
  tests/network/hotplug_sriov.go
Due: none

automation: Integrate new lane for emulated SR-IOV
  automation/test.sh
Due: none

VEP-115 hardening: make PCI NUMA placement deterministic
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-115 hardening: preserve explicit hostdev PCI addresses
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-115 hardening: warn on PCI NUMA placement fallbacks
  pkg/util/hardware/hw_utils.go
  pkg/util/hardware/hw_utils_test.go
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-115 hardening: use NUMATune memnodes for PCI NUMA mapping
  pkg/util/hardware/hw_utils.go
  pkg/util/hardware/hw_utils_test.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-115 hardening: fail strict PCI NUMA placement for guest passthrough
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/converter/pci-placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-199: add GraceIOVirtualization admission
  pkg/util/hardware/BUILD.bazel
  pkg/util/hardware/grace.go
  pkg/util/hardware/grace_test.go
  pkg/util/hardware/hw_utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/grace_io_virtualization.go
  pkg/virt-api/webhooks/validating-webhook/admitters/grace_io_virtualization_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

volume-migration: validate PVC volumes before migration
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

volume-migration: align PVC functional test with DV pattern
  tests/storage/migration.go
Due: none

use constant-time comparison for export token check
  pkg/storage/export/virt-exportserver/exportserver.go
Due: none

net, launcher: Set explicit IP for passt
  pkg/network/domainspec/generators.go
  pkg/network/setup/launcher/configurator.go
  pkg/network/setup/launcher/configurator_test.go
Due: none

virtwrap, api: Add IPs to schema
  pkg/network/driver/common.go
  pkg/network/driver/generated_mock_common.go
  pkg/network/setup/launcher/configurator_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

e2e, net: Reintroduce ipv6 migration test
  tests/network/passt.go
Due: none

refactor: move migrationMonitor out of live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/migration-monitor.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: move migrationMonitor tests to migration-monitor_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/migration-monitor_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Run cd ../kubevirt && make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Run cd ../kubevirt && KUBEVIRT_CENTOS_STREAM_VERSION=10 KUBEVIRT_CS10_BUILDER_VERSION=2605290816-89fad9a940 make rpm-deps
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Building kube-burner from source
  Makefile
  hack/perfscale-kube-burner-test.sh
Due: none

tests/operator: remove virtClient param from poll helpers
  tests/operator/operator.go
Due: none

tests/operator: promote imagePullSecrets closures to named functions
  tests/operator/operator.go
Due: none

tests/operator: extract reinstallKubeVirt helper
  tests/operator/operator.go
Due: none

tests/operator: promote instancetypes closures to named functions
  tests/operator/operator.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
