Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

virt-config, featuregate: Document the FG states
  pkg/virt-config/featuregate/feature-gates.go
  pkg/virt-config/featuregate/validator_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler, vm ctrl: Log SyncVirtualMachine cmd
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(virtctl,tests): Move virtctl vnc tests
  tests/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/vnc.go
  tests/vnc_test.go
Due: none

handler: add response body if status is not success
  staging/src/kubevirt.io/client-go/kubecli/handler.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vmsnapshot: update error on content and snapshot if freeze fails
  pkg/storage/snapshot/snapshot.go
  pkg/storage/snapshot/source.go
  tests/storage/snapshot.go
Due: none

virt-launcher: Log receive SyncVirtualMachine cmd
  pkg/virt-launcher/virtwrap/cmd-server/server.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher, preStartHook: Add log entries
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(tests,virtctl): Apply cleanups to vnc tests
  tests/virtctl/BUILD.bazel
  tests/virtctl/vnc.go
Due: none

cleanup(tests,virtctl): Make virtctl helpers unexported
  tests/clientcmd/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/cmd.go
  tests/virtctl/create_vm.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Due: none

cleanup(tests,virtctl): Apply cleanups to guestfs tests
  tests/virtctl/BUILD.bazel
  tests/virtctl/guestfs.go
Due: none

chore(tests,virtctl): Add virtctl label and VirtctlDescribe
  tests/decorators/decorators.go
  tests/virtctl/BUILD.bazel
  tests/virtctl/create_vm.go
  tests/virtctl/framework.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Due: none

chore(virtctl): Codify ownership of virtctl packages
  pkg/virtctl/expose/OWNERS
  pkg/virtctl/guestfs/OWNERS
  pkg/virtctl/imageupload/OWNERS
  pkg/virtctl/memorydump/OWNERS
  pkg/virtctl/scp/OWNERS
  pkg/virtctl/ssh/OWNERS
  pkg/virtctl/vmexport/OWNERS
  pkg/virtctl/vnc/OWNERS
Due: none

cleanup(virctl,imageupload): Use atomic.Bool in unit tests
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload_test.go
Due: none

cleanup(virtctl): Drop pkg/virtctl/utils
  pkg/virtctl/utils/BUILD.bazel
  pkg/virtctl/utils/test_utils.go
Due: none

vmi-create-admitter, vmi meta: use libvmi
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

guest-console-log: remove synchronization between virt-tail and virt-launcher-monitor
  cmd/virt-launcher-monitor/BUILD.bazel
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
  cmd/virt-tail/BUILD.bazel
  cmd/virt-tail/main.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

guest-console-log: functest updates
  tests/guestlog/guestlog.go
Due: none

guest console log: make virt-tail a proper sidecar
  pkg/virt-controller/services/serialconsolelog.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

chore(virtiofs): Deprecates `ExperimentalVirtiofsSupport` feature gate.
  pkg/storage/types/pvc.go
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-config/deprecation/BUILD.bazel
  pkg/virt-config/deprecation/feature-gates.go
  pkg/virt-config/deprecation/virtiofs.go
  pkg/virt-config/feature-gates.go
  pkg/virt-controller/services/virtiofs.go
  pkg/virt-controller/services/virtiofs_test.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
  tests/testsuite/kubevirtresource.go
  tests/virtiofs/config.go
  tests/virtiofs/datavolume.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Remove multiThreadedQemuMigration annotation support
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/vm_test.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

adapt existing tests for parallel migration auto-config
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

unit test: Auto-configure parallel QEMU-level migration
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

unit test: Disallow using parallel migration threads with post-copy
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Disallow using parallel migration threads with post-copy
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Auto-configure parallel QEMU-level migration (a.k.a. multifd)
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

test(virtiofs): Remove defers and add random name in PVC
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  tests/virtiofs/datavolume.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

watch/migration: bug-fix prevent old migration wrong status updates
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Refactors the unpause tests to use the libvmi library.
  pkg/virtctl/unpause/BUILD.bazel
  pkg/virtctl/unpause/unpause_test.go
Due: none

e2e migration: fix ip check between vmi and pod
  tests/migration/migration.go
Due: none

VMRestore: allow creating vmrestore even if runstrategy is not Halted
  pkg/storage/snapshot/restore.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter_test.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add logs for processes running inside compute containers
  tests/reporter/kubernetes.go
Due: none

e2e guestlog: cleanup
  tests/guestlog/guestlog.go
Due: none

tests(virtctl,imageupload): Wait for goroutines in AfterEach
  pkg/virtctl/imageupload/BUILD.bazel
  pkg/virtctl/imageupload/imageupload_test.go
Due: none

test_id:6968: reduce low bandwidth test from 10Mi to 1Mi
  tests/migration/migration.go
Due: none

Add a metric that reports the VM create date
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

watch/migration: bug-fix prevent old migration wrong status updates
  pkg/virt-controller/watch/migration.go
  pkg/virt-controller/watch/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vmi-create-admitter, vmi meta: split deny entries
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance
