Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

test: move GenerateVMIJson from utils
  tests/utils.go
  tests/windows_test.go
Due: none

test: move GenerateTemplateJson from utils
  tests/template_test.go
  tests/utils.go
Due: none

Fix runbook URLs test
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

OWNERS, network-reviewers: Remove inactive member
  OWNERS_ALIASES
Due: none

Use HaveOccured() matcher in virt-launcher/virtwrap tests
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/numa_placement_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/hotplug_test.go
  pkg/virt-launcher/virtwrap/efi/efi_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/statsconv/converter_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use HaveLen() matchers in virt-launcher/virtwrap tests
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/hotplug_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/statsconv/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use MatchError() matchers in virt-launcher/virtwrap tests
  pkg/virt-launcher/virtwrap/cli/libvirt_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use Expect() with multiple parameters to check error
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Various changes in virt-launcher/virtwrap tests
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/generic/hostdev_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/gpu/hostdev_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

test: move IsUsingBuiltinNodeDrainKey from utils
  tests/migration_test.go
  tests/utils.go
Due: none

test: move cgroup version functions from utils
  tests/migration_test.go
  tests/utils.go
Due: none

DNM: Use custom alpine image
  WORKSPACE
  tests/network/probes.go
  tests/network/vmi_networking.go
Due: pull-kubevirt-verify-rpms

test, network: Put destinatin at the end of ping
  tests/libnet/ping.go
Due: none

[WIP] Manual kubevirtci bump for ceph investigation
  cluster-up-sha.txt
  cluster-up/cluster/kind/common.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Bump KUBEVIRT_MEMORY_SIZE for new ceph
  automation/test.sh
Due: none

Update golang.org/x/crypto to v0.0.0-20220525230936
  go.mod
  go.sum
Due: pull-kubevirt-verify-go-mod

workspace: Pin to alpine with wget
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Add runbook_url annotations for VirtApiRESTErrorsHigh and VirtApiRESTErrorsBurst
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: none

Update to new version of golang.org/x/crypto
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

test: move RuntimeClass functions from utils
  tests/BUILD.bazel
  tests/utils.go
  tests/vmi_configuration_test.go
Due: none

Fix KubevirtVmHighMemoryUsage alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: none

test: move DetectLatestUpstreamOfficialTag func
  tests/BUILD.bazel
  tests/operator_test.go
  tests/utils.go
Due: none

k8s-reporter: Improve container readiness check logic
  tests/reporter/kubernetes.go
Due: none

Reduce nestiness of `OnDefineDomain` method
  pkg/hooks/manager.go
Due: none

Change callback version check in `OnDomainDefine`
  pkg/hooks/manager.go
Due: none

migration: enable migrating from non-root to root
  pkg/virt-controller/watch/migration.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Addressed review comments.
  pkg/controller/virtinformers.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/export/export.go
  pkg/virt-operator/resource/generate/components/deployments.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

k8s-reporter: Stop dumping unreachable container's info
  tests/reporter/BUILD.bazel
  tests/reporter/kubernetes.go
Due: none

tests, libstorage: relocate some recently introduced PVC utils
  tests/libstorage/BUILD.bazel
  tests/libstorage/pvc.go
  tests/storage/memorydump.go
  tests/utils.go
Due: none

Log both stderr and stdout upon oc exec failure
  tests/infra_test.go
Due: none

test: move isLauncher functions from utils
  tests/security_features_test.go
  tests/utils.go
Due: none

test: move VolumeExpansionAllowed from utils
  tests/storage/datavolume.go
  tests/utils.go
Due: none

test: move WaitForPodToDisappearWithTimeout func
  tests/storage/storage.go
  tests/utils.go
Due: none

test: move HasExperimentalIgnitionSupport func
  tests/utils.go
  tests/vmi_ignition_test.go
Due: none

tools:perfscale-load-generator: update delete objects with a counter and remove unused function
  tools/perfscale-load-generator/object/unstructured.go
Due: none

tools:perfscale-load-generator: create namespace if does not exist and use a cache to verify
  tools/perfscale-load-generator/object/namespace.go
Due: none

tools:perfscale-load-generator: update watcher to start before the creation of objects and steady state wait function
  tools/perfscale-load-generator/burst/burst.go
  tools/perfscale-load-generator/steady-state/steady-state.go
  tools/perfscale-load-generator/watcher/watcher.go
Due: none

tools:perfscale-load-generator: update the container prefix and tag to be configurable
  tools/perfscale-load-generator/config/types.go
Due: none

tools:perfscale-load-generator: move the uuid to be the test uuid to be able to use label in listOption
  tools/perfscale-load-generator/load-generator.go
Due: none

tools:perfscale-load-generator: add option to run tests creating and deleting the objects
  tools/perfscale-load-generator/flags/flags.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
