Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

refactor: inline tests/infra Describe(Serial)Infra
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/certificates.go
  tests/infrastructure/cluster-profiler.go
  tests/infrastructure/crds.go
  tests/infrastructure/downward-metrics.go
  tests/infrastructure/infrastructure.go
  tests/infrastructure/k8s-client-changes.go
  tests/infrastructure/node-labeller.go
  tests/infrastructure/prometheus.go
  tests/infrastructure/security.go
  tests/infrastructure/taints-and-tolerations.go
  tests/infrastructure/tls-configuration.go
  tests/infrastructure/virt-controller-leader-election.go
  tests/infrastructure/virt-handler.go
Due: none

refactor: inline tests/compute SIGDescribe func
  tests/compute/console.go
  tests/compute/credentials.go
  tests/compute/eviction.go
  tests/compute/framework.go
  tests/compute/subresources/expandspec.go
  tests/compute/subresources/openapi.go
  tests/compute/subresources/rbac.go
  tests/compute/subresources/reset.go
  tests/compute/vm_lifecycle.go
  tests/compute/vmidefaults.go
Due: none

refactor: inline tests/network SIGDescribe func
  tests/network/bindingplugin.go
  tests/network/bindingplugin_macvtap.go
  tests/network/bindingplugin_passt.go
  tests/network/bindingplugin_slirp.go
  tests/network/dual_stack_cluster.go
  tests/network/framework.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
  tests/network/link_state.go
  tests/network/networkpolicy.go
  tests/network/port_forward.go
  tests/network/primary_pod_network.go
  tests/network/probes.go
  tests/network/services.go
  tests/network/vmi_infosource.go
  tests/network/vmi_istio.go
  tests/network/vmi_lifecycle.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
Due: none

refactor: inline tests/migration SIGMigrationsDescribe
  tests/migration/evacuation.go
  tests/migration/eviction_strategy.go
  tests/migration/framework.go
  tests/migration/host_model.go
  tests/migration/migration.go
  tests/migration/nodeselector.go
  tests/migration/paused.go
  tests/migration/postcopy.go
Due: none

refactor: inline tests/virtctl VirtctlDescribe
  tests/virtctl/create_vm.go
  tests/virtctl/framework.go
  tests/virtctl/guestfs.go
  tests/virtctl/imageupload.go
  tests/virtctl/memorydump.go
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
  tests/virtctl/vnc.go
Due: none

Collect resource requests and limits from VM instance type/preference
  pkg/instancetype/instancetype.go
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector.go
  pkg/monitoring/metrics/virt-controller/vmstats_collector_test.go
  pkg/testutils/mock_instancetype.go
  pkg/virt-controller/watch/application.go
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

e2e, net, probes: Remove HTTP tests
  tests/network/probes.go
Due: none

e2e, net, probes: Remove ipv6 probe tests
  tests/network/probes.go
Due: none

e2e, net, probes: Reduce negative probe tests
  tests/network/probes.go
Due: none

e2e, net, probes: Cosmetic better use of Gomega/Ginkgo API
  tests/network/probes.go
Due: none

e2e, net, probes: Flip condition order
  tests/network/probes.go
Due: none

Provide graceful deletion for no ACPI guests
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VM Rollout Strategy: default to LiveUpdate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/watch/vm/vm_test.go
  tests/hotplug/affinity.go
  tests/hotplug/tolerations.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller/watch/vmi: propagate vmi.TerminationGracePeriodSeconds
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

add panic devices featuregate
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtctl, guestfs: remove duplicate import from unit test
  pkg/virtctl/guestfs/guestfs_test.go
Due: none

virtctl, guestfs: Add --vm cmd line arg to guestfs
  pkg/virtctl/guestfs/BUILD.bazel
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/guestfs/guestfs_test.go
Due: none

virt-handler/node-labeller: Move arch specific content into separate files
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/amd64.go
  pkg/virt-handler/node-labeller/arch_labeller.go
  pkg/virt-handler/node-labeller/arch_labeller_test.go
  pkg/virt-handler/node-labeller/arm64.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/s390x.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher/virtwrap: Fix typo in converter test
  pkg/virt-launcher/virtwrap/converter/arch/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher/virtwrap/api: Move arch specific content into separate files
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/amd64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arch_defaulter_suite_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/arm64.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/s390x.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/defaults.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Refactor logging and formatting in virtctl/configuration
  pkg/virtctl/configuration/configuration.go
Due: none

Update Address struct for s390-ccw-virtio device.
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

DownwardMetrics: Move DownwardMetrics server to launcher
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/downwardmetrics/downwardmetrics.go
  pkg/downwardmetrics/virtio-serial/server.go
  pkg/virt-handler/dmetrics-manager/BUILD.bazel
  pkg/virt-handler/dmetrics-manager/dmetrics-manager.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

test_id:3007: Remove test from quarantine
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  tests/compute/vm_lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(tests): Keep calm, don't panic and expect errors not to occur
  tests/BUILD.bazel
  tests/events/BUILD.bazel
  tests/events/events.go
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/skips.go
  tests/libinfra/BUILD.bazel
  tests/libinfra/leader.go
  tests/libstorage/datavolume.go
  tests/libstorage/pvc.go
  tests/libstorage/storageclass.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
  tests/storage/BUILD.bazel
  tests/storage/storage.go
  tests/testsuite/fixture.go
  tests/testsuite/kubevirtresource.go
  tests/testsuite/manifest.go
  tests/testsuite/namespace.go
  tests/testsuite/serviceaccount.go
  tests/util/BUILD.bazel
  tests/util/util.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

pr-helper: add reservation_key option
  cmd/pr-helper/multipath.conf
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

pr-helper: wrap pr-helper in starting script
  cmd/pr-helper/BUILD.bazel
  cmd/pr-helper/entrypoint.sh
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(test,virtiofs): Use libvmi functions in migrations tests
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

featuregates: Graduate InstancetypeReferencePolicy to Beta
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Changed WithName and WithNamespace to handle selfLinks, and fixed a situation where terminationGracePeriod is not nil
  pkg/libvmi/vmi.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Changed WithName and WithNamespace to handle selfLinks, and fixed a situation where terminationGracePeriod is not nil
  tests/testsuite/fixture.go
Due: none

virtwrap: adjust path for hotplugged volumes
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: volume migrated with hotplugged volumes
  tests/storage/migration.go
Due: none

disk: more info when qemu-img fails
  pkg/os/disk/disk.go
Due: none

feat: reduce set of re-run tests to changed tests
  automation/repeated_test.sh
Due: none

tests: virtctl: usbredir: fix lint
  tests/virtctl/usbredir.go
Due: none

tests: usbredir: prepare to decouple from virtctl
  tests/usbredir_test.go
Due: none

tests: virtctl: usbredir: decouple test from pkg/virtctl
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Due: none

tests: virtctl: usbredir: move it to the right folder
  tests/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Due: none

virtctl: usbredir: Add option to disable auto launch
  pkg/virtctl/usbredir/client.go
  pkg/virtctl/usbredir/usbredir.go
  pkg/virtctl/usbredir/usbredir_default.go
Due: none
