Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

fix: support multiple vnc connection
  pkg/virt-handler/rest/console.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Support getting dirty-rate as part of getDomainStats
  pkg/virt-launcher/virtwrap/cli/libvirt.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Expose dirty rate status as part of stats.DomainStats
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/converter.go
  pkg/virt-launcher/virtwrap/statsconv/converter_test.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Collect dirty-rate stats as a metric
  pkg/monitoring/metrics/virt-handler/domainstats/BUILD.bazel
  pkg/monitoring/metrics/virt-handler/domainstats/collector.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/dirty_rate_metrics_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Dirty rate metric: Add functests
  tests/monitoring/BUILD.bazel
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Documentation: kubevirt_vmi_dirty_rate_mbs metric
  docs/observability/metrics.md
Due: none

test commit
  tests/default-ceph-config.json
  tests/storage/hotplug.go
Due: none

pkg.util.cluster: drop unused const
  pkg/util/cluster/cluster.go
Due: none

pr-helper: add reservation_key option
  cmd/pr-helper/multipath.conf
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

pr-helper: wrap pr-helper in starting script
  cmd/pr-helper/BUILD.bazel
  cmd/pr-helper/entrypoint.sh
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: virtctl: usbredir: move it to the right folder
  tests/BUILD.bazel
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Due: none

virtctl: usbredir: Add option to disable auto launch
  pkg/virtctl/usbredir/client.go
  pkg/virtctl/usbredir/usbredir.go
  pkg/virtctl/usbredir/usbredir_default.go
Due: none

tests: virtctl: usbredir: remove config test
  tests/virtctl/usbredir.go
Due: none

tests: usbredir: prepare to decouple from virtctl
  tests/usbredir_test.go
Due: none

tests: virtctl: usbredir: decouple test from pkg/virtctl
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Due: none

tests: virtctl: usbredir: do not rely on timer
  tests/virtctl/usbredir.go
Due: none

tests: virtctl: usbredir: fix lint
  tests/virtctl/BUILD.bazel
  tests/virtctl/usbredir.go
Due: none

cleanup(tests): Remove KubevirtTestIo label where not needed
  tests/libstorage/BUILD.bazel
  tests/libstorage/pvc.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/serviceaccount.go
  tests/util/BUILD.bazel
  tests/util/labels.go
Due: none

net, e2e, link state: Add missing assertion
  tests/network/link_state.go
Due: none

automation,test.sh: Remove ocp/okd target check
  automation/test.sh
Due: none

feat: open up changes on lint-paths.txt
  hack/gofumpt.sh
  hack/golangci-lint.sh
  hack/lint/OWNERS
  hack/lint/lint-paths.txt
Due: none

standardized ssh key creation in tests using existing library
  tests/compute/credentials.go
  tests/config_test.go
  tests/vmi_cloudinit_test.go
Due: none

migration controller: switch to a priority queue
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: rename imports to avoid clashing with variable names
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: sort imports
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: remove useless cast and deprecated call
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: fix typos
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller: fix typos
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: remove bogus key from queue
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: add missing error check
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

added a unit tests for Virtiofs
  pkg/virt-controller/services/virtiofs_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

migration controller tests: inline simple error checks
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

priority queue: add mocking
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_priorityqueue.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

automation,test: Rm filtering test when job name has no-istio
  automation/test.sh
Due: none

refactor: replace SIGDescribe call with SIG decorator
  tests/decorators/BUILD.bazel
  tests/decorators/sigs.go
  tests/network/framework.go
  tests/performance/framework.go
  tests/storage/framework.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

NIC hotunplug: Rm plumbing after detachment from domain
  pkg/network/setup/filters.go
  pkg/network/setup/filters_test.go
Due: none

refactor: inline tests/compute SIGDescribe func
  tests/compute/console.go
  tests/compute/credentials.go
  tests/compute/eviction.go
  tests/compute/framework.go
  tests/compute/subresources/expandspec.go
  tests/compute/subresources/openapi.go
  tests/compute/subresources/rbac.go
  tests/compute/subresources/reset.go
  tests/compute/vm_lifecycle.go
  tests/compute/vmidefaults.go
Due: none

refactor: inline tests/storage SIGDescribe func
  tests/storage/datavolume.go
  tests/storage/events.go
  tests/storage/export.go
  tests/storage/framework.go
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/storage/migration.go
  tests/storage/reservation.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
Due: none
