Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

cirros to alpinewithtesttooling image change for multus test
  tests/network/vmi_multus.go
Due: none

virt-launcher: handle CBT overlay disks in live migration disk operations
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: move migration-related tests to proper file
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: drop stale cpu-feature node selectors for re-migrated host-model VMs
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add e2e test for host-model migration after cpu features are removed
  tests/migration/host_model.go
Due: none

Auto-quarantine flaky tests
  tests/virtiofs/config.go
Due: none

fix: resolve lint issues in resource/placement
  hack/linter/lint-paths.txt
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

mshv: Configure reservedOverhead memlocks
  pkg/hypervisor/mshv/runtime.go
Due: none

Bump kubevrtci to revert centOS 9
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  kubevirtci/hack/publish-alpine.sh
Due: none

Promote MigrationPriorityQueue feature gate to GA
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-controller/watch/drain/evacuation/evacuation.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/workload-updater/workload-updater.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Remove MigrationPriorityQueue feature gate from tests
  pkg/util/migrations/migrations.go
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter_test.go
  pkg/virt-controller/watch/drain/evacuation/BUILD.bazel
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
  tests/migration/priority.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Re-enable priority ordering test for migrations
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix evacuation test to verify migration list is empty
  pkg/virt-controller/watch/drain/evacuation/evacuation_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: prevent empty labels on nodes (#110)
  go.mod
  go.sum
  go.work
  go.work.sum
  vendor/github.com/deckhouse/kube-api-rewriter/pkg/rewriter/map.go
  vendor/modules.txt
Due: none

tests, net, link_state: Fix lint issues and add to linter coverage
  hack/linter/.golangci.yml
  tests/network/link_state.go
Due: none

device-manager: Added secure guest capacity device plugin
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/generic_device.go
  pkg/virt-handler/device-manager/generic_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
  kubevirtci/hack/publish-alpine.sh
Due: none

pkg/libvmi: add WithRequiredPodAffinity
  pkg/libvmi/selector.go
Due: none

tests/network: co-locate linux-bridge ping VMs via pod affinity
  tests/network/vmi_multus.go
Due: none

tests/network: inline agentVMI interface/network setup into NewFedora
  tests/network/vmi_multus.go
Due: none

tests/network: rename vmiOne to vmi in custom MAC address test
  tests/network/vmi_multus.go
Due: none

libvmi: add InterfaceWithTag decorator
  pkg/libvmi/network.go
  tests/network/sriov.go
Due: none

libvmi: add InterfaceWithPciAddress decorator
  pkg/libvmi/network.go
  tests/network/sriov.go
Due: none

tests/network: drop createVMIOnNode in favor of inline libvmi usage
  tests/network/vmi_multus.go
Due: none

Add unit testing for block volume hotplug allow list
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update vmi image to use Alpine instead of cirros to enable sig-storage tests for s390x.
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/storage.go
  tests/virtctl/memorydump.go
Due: none

Fix bug in VirtualMachineStuckOnNode alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

update OrphanedVirtualMachineInstances health impact
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Fix gRPC connection leak in GetLauncherClient
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients.go
  vendor/golang.org/x/sync/singleflight/BUILD.bazel
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

storage, validation: Reject LUN disk with virtio bus
  pkg/storage/admitters/disks.go
  pkg/storage/admitters/disks_test.go
Due: none

Skip disk expansion for non-PVC backed volumes
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

alpine-with-test-tooling: add arm64 container disk image
  WORKSPACE
  containerimages/BUILD.bazel
Due: pull-kubevirt-verify-rpms

kvm: scale VFIO memory overhead for memlock accounting
  pkg/hypervisor/kvm/hypervisorbackend_test.go
  pkg/hypervisor/kvm/runtime.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

Remove deprecated CPU helper functions
  pkg/libvmi/cpu.go
Due: none

virtwrap: check if the migrated hotplug disks are accessible on the target
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

featuregate: fix typo in NetworkBindingPluginsGate constant name
  pkg/virt-config/featuregate/inactive.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: patch VMI grace period before stateChangeRequests during force restart
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/lifecycle.go
  pkg/virt-api/rest/subresource_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cirros to alpinewithtesttooling image change for vmi netwoking tests.
  tests/network/vmi_networking.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
