Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

instancetype: Split unittests into two contexts
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, vmispec: Move multus network filtering helper
  pkg/network/vmispec/BUILD.bazel
  pkg/network/vmispec/network.go
  pkg/network/vmispec/network_test.go
  pkg/network/vmispec/vmispec_suite_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/multus_annotations.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, vmispec: Refactor FilterMultusNonDefaultNetworks
  pkg/network/vmispec/network.go
Due: none

virt-launcher, sriov: Drop redundant function filterVMISRIOVInterfaces
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/sriov/vmispec.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network: Introduce the namescheme package
  Makefile
  pkg/network/link/BUILD.bazel
  pkg/network/link/address_test.go
  pkg/network/namescheme/BUILD.bazel
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_suite_test.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/network.go
  pkg/network/setup/network_test.go
  pkg/network/setup/podnic.go
  pkg/network/setup/podnic_test.go
Due: none

instancetype: Use libvmi in tests
  tests/BUILD.bazel
  tests/instancetype_test.go
Due: none

instancetype: Cleanup functional tests
  tests/instancetype_test.go
Due: none

instancetype: Extract common code to function
  pkg/instancetype/instancetype.go
Due: none

instancetype: Store whole objects in ControllerRevision
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-controller/watch/vm_test.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/types.go
  staging/src/kubevirt.io/api/instancetype/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/instancetype_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

instancetypes: Cleanup code in instancetype.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

network, namescheme: Consolidate pod interface names
  pkg/network/namescheme/BUILD.bazel
  pkg/network/namescheme/networknamescheme.go
  pkg/network/namescheme/networknamescheme_test.go
  pkg/network/setup/podnic.go
  pkg/network/vmispec/network.go
  pkg/network/vmispec/network_test.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/multus_annotations.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add support for USB Disks
  api/openapi-spec/swagger.json
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/migration_test.go
  tests/storage/storage.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-go-mod

Add a safepath package to encapsule path operations
  pkg/safepath/BUILD.bazel
  pkg/safepath/safepath.go
  pkg/safepath/safepath_linux.go
  pkg/safepath/safepath_suite_test.go
  pkg/safepath/safepath_test.go
Due: none

Add unsafepath package
  pkg/unsafepath/BUILD.bazel
  pkg/unsafepath/unsafepath.go
Due: none

Move isolation detection code over to safepath
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/detector_test.go
  pkg/virt-handler/isolation/generated_mock_isolation.go
  pkg/virt-handler/isolation/isolation.go
  pkg/virt-handler/isolation/isolation_test.go
  pkg/virt-handler/isolation/validation.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move ephemeral-disk-utils over to safepath
  pkg/ephemeral-disk-utils/BUILD.bazel
  pkg/ephemeral-disk-utils/generated_mock_utils.go
  pkg/ephemeral-disk-utils/utils.go
Due: none

Move virt-chroot over to safepath usage
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/main.go
  cmd/virt-chroot/selinux.go
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/labels.go
  pkg/virt-handler/virt-chroot/BUILD.bazel
  pkg/virt-handler/virt-chroot/virt-chroot.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move containerdisk path resolution over to use the safepath package
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/container-disk/container-disk_test.go
  pkg/ephemeral-disk/ephemeral-disk.go
Due: none

Move containerdisk mount operations to safepath operations
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Only accept absolute paths for containerdisks
  pkg/testutils/mock_config.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use UnsafeSetFileOwnership on virt-launcher code
  pkg/cloud-init/cloud-init.go
  pkg/config/config-map.go
  pkg/config/downwardapi.go
  pkg/config/secret.go
  pkg/config/service-account.go
  pkg/config/sysprep.go
  pkg/emptydisk/emptydisk.go
  pkg/network/cache/cache.go
  pkg/virt-handler/migration-proxy/migration-proxy.go
  pkg/virt-launcher/monitor.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Don't change selinux labels on hostDisk mounts
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/non-root.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Let host-disk continue using unsafe path manipulations
  pkg/host-disk/BUILD.bazel
  pkg/host-disk/host-disk.go
  pkg/host-disk/host-disk_test.go
Due: none

Move hotplug code over to safepath usage
  pkg/hotplug-disk/BUILD.bazel
  pkg/hotplug-disk/hotplug-disk.go
  pkg/hotplug-disk/hotplug-disk_test.go
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/hotplug-disk_suite_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Let virt-handler set up required devices with safepath operations
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
Due: none

Move virt-handler controller over to safepath usage
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Ensure compatibility with old mount paths of old KubeVirt installs
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

instancetype: Move ControllerRevision creation to VM mutation webhook
  pkg/instancetype/BUILD.bazel
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/virt-api/api.go
  pkg/virt-api/webhooks/mutating-webhook/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutating-webhook.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

instancetype: Claim ownership of ControllerRevisions in controller
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/controller/controller_ref_manager.go
  pkg/controller/controller_ref_manager_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  pkg/virt-operator/resource/generate/rbac/controller.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

WIP instancetype: Validate before we capture ControllerRevisions
  pkg/virt-api/webhooks/mutating-webhook/mutators/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Move ephemeral-disk-utils over to safepath
  pkg/ephemeral-disk-utils/BUILD.bazel
  pkg/ephemeral-disk-utils/utils.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
