Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

Update WORKSPACE
  WORKSPACE
Due: pull-kubevirt-verify-rpms

rpm-deps, add libnbd to launcherbase-extra
  BUILD.bazel
  Makefile
  WORKSPACE
  docs/build-the-builder.md
  hack/bootstrap.sh
  hack/builder/Dockerfile.cs10
  hack/rpm-deps-aliases.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

storage, cbt: add gRPC service definition for NBD export
  hack/gen-proto.sh
  pkg/storage/cbt/nbd/v1/BUILD.bazel
  pkg/storage/cbt/nbd/v1/nbd.pb.go
  pkg/storage/cbt/nbd/v1/nbd.proto
Due: none

cbt, nbd: introduce NBDClient
  go.mod
  go.sum
  hack/bazel-generate.sh
  hack/bootstrap.sh
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/nbd_client.go
  pkg/virt-launcher/virtwrap/storage/nbd_client_test.go
  vendor/libguestfs.org/libnbd/BUILD.bazel
  vendor/libguestfs.org/libnbd/LICENSE
  vendor/libguestfs.org/libnbd/README.md
  vendor/libguestfs.org/libnbd/aio_buffer.go
  vendor/libguestfs.org/libnbd/bindings.go
  vendor/libguestfs.org/libnbd/callbacks.go
  vendor/libguestfs.org/libnbd/closures.go
  vendor/libguestfs.org/libnbd/handle.go
  vendor/libguestfs.org/libnbd/wrappers.go
  vendor/libguestfs.org/libnbd/wrappers.h
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

feat(resource-generator): Add virt-template NetworkPolicies
  manifests/generated/kubevirt-network-policies.yaml.in
  tools/resource-generator/BUILD.bazel
  tools/resource-generator/resource-generator.go
Due: none

sig-buildsystem: add myself to reviewers
  OWNERS_ALIASES
Due: none

adding applyStorageProfile to overcome min size limits
  tests/BUILD.bazel
  tests/objectgraph_test.go
  tests/storage/restore.go
Due: none

virt-launcher: add unit tests for StartingUp field
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: be more resilient on Shutoff/Unknown status
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: add StartingUp field to metadata
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/metadata/kubevirt.go
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: fail fast when the socket is gone
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vmi: exclude kubevirt.io/schedulable from node placement
  pkg/virt-controller/watch/vmi/lifecycle.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add comprehensive unit tests for launcher client verification in virt-handler:
  pkg/virt-handler/launcher-clients/BUILD.bazel
  pkg/virt-handler/launcher-clients/launcher-clients_test.go
  pkg/virt-handler/launcher-clients/mock_launcher-clients.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

notify(test): Use Receive() instead of time.After
  pkg/virt-launcher/notify-client/notify_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

backup: add information in the backup status if its blocked by migration
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
Due: none

migration: block pending migrations when VM backup is in progress
  pkg/util/migrations/migrations.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Extend the Velero skip hooks annotation to kubevirt CR
  pkg/storage/pod/annotations/BUILD.bazel
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Inject storage annotations generator in VMI controller
  pkg/storage/pod/annotations/generator.go
  pkg/storage/pod/annotations/generator_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add func test coverage
  tests/storage/BUILD.bazel
  tests/storage/backup.go
Due: none

tests: Add VM log checker library
  hack/bazel-test.sh
  tests/vmlogchecker/BUILD.bazel
  tests/vmlogchecker/vmlog_checker.go
  tests/vmlogchecker/vmlog_checker_test.go
  tests/vmlogchecker/vmlogchecker_suite_test.go
Due: none

tests: Integrate VM log checker into e2e test reporter
  tests/reporter/BUILD.bazel
  tests/reporter/vmlog_reporter.go
  tests/tests_suite_test.go
Due: none

tests: Add standalone VM log checker tool
  .gitignore
  Makefile
  tools/vmlog-checker/README.md
  tools/vmlog-checker/main.go
Due: none

tests: Populate VM log error allowlist
  tests/vmlogchecker/vmlog_checker.go
Due: none

build: add Containerfile for network-passt-binding sidecar
  cmd/sidecars/network-passt-binding/Containerfile
  hack/build-images-container.sh
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

graduate HotplugVolumes and DeclarativeHotplugVolumes to Beta
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: add helper that asserts Pod IPs are present in VMI interface IPs
  tests/libnet/validation.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
Due: none

builder: Add publish-cs10.sh and Makefile target for CS10 builder
  Makefile
  hack/builder/publish-cs10.sh
Due: publish-kubevirt-builder

Allow OncePerOrderedCleanup in tests/infrastructure
  hack/lint-test-cleanup-label.sh
Due: none

Share VM setup across Prometheus Endpoints tests
  tests/infrastructure/prometheus.go
Due: none

ci(hack,virt-template): Add bump and sync scripts
  Makefile
  hack/virt-template/bump.sh
  hack/virt-template/default.sh
  hack/virt-template/sync.sh
Due: none

feat(virt-template): Bump to version v0.1.7
  hack/virt-template/default.sh
  images/virt-template/deps.bzl
  manifests/generated/kubevirt-network-policies.yaml.in
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/data/virt-template/install-virt-operator.yaml
  pkg/virt-operator/resource/generate/components/virttemplate_test.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

linter: Add tests/libmonitoring to lint paths
  hack/linter/lint-paths.txt
  tests/libmonitoring/prometheus.go
  tests/libmonitoring/scaling.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

linter: Add tests/monitoring to lint paths
  hack/linter/lint-paths.txt
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
  tests/monitoring/metrics.go
  tests/monitoring/monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

VMExport: GA feature gate so export is enabled by default
  pkg/storage/admitters/vmexport.go
  pkg/storage/admitters/vmexport_test.go
  pkg/virt-api/webhooks/fuzz/fuzz_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/update.go
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/tls-configuration.go
  tests/operator/operator.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Tests: Adapt func test to work with VMExport feature gate enabled by default
  tests/operator/operator.go
Due: none

Subtract non-schedulable nodes from kubevirt_allocatable_nodes
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/recordingrules/nodes.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

fix: await QMP job completion before dismissing in QCOW2 overlay creation
  pkg/virt-launcher/virtwrap/storage/cbt.go
  pkg/virt-launcher/virtwrap/storage/cbt_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vmi: exclude kubevirt.io/schedulable from node placement (#75)
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Resolve migration IP after cache sync for allowMigrationNetworkFallback
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-handler/virt-handler.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
