Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

update libvirt_helper_test.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

fix flakes
  tests/libmonitoring/scaling.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Remove RESTErrorsHigh alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-handler.go
  pkg/monitoring/rules/alerts/virt-operator.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

DNM: Bump node memory in release-1.2 e2e lanes
  automation/test.sh
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/kubectl.sh
  kubevirtci/cluster-up/version.txt
  kubevirtci/cluster-up/virtctl.sh
Due: none

updating timeout error msg
  pkg/virt-controller/watch/pool/pool.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Remove //nolint:dupl from pkg/instancetype/webhooks/vm/mutator.go
  pkg/instancetype/webhooks/vm/mutator.go
Due: none

cniplugins: adjust unit test after dependency updates
  cmd/cniplugins/passt-binding/pkg/plugin/plugin_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add vmi conditions metric
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmi/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmi/collector.go
  pkg/monitoring/metrics/virt-controller/vmi/conditions.go
  pkg/monitoring/metrics/virt-controller/vmi/conditions_test.go
  pkg/monitoring/metrics/virt-controller/vmi/vmi_suite_test.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

components: add etc multipath volumes
  pkg/virt-operator/resource/generate/components/daemonsets.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

cleanup(tests,vm_test): Merge and cleanup conformance tests
  tests/vm_test.go
Due: none

cleanup(tests): Move dry-run stop test to vm_lifecycle
  tests/compute/vm_lifecycle.go
  tests/vm_test.go
Due: none

cleanup(tests): Move dry-run restart test to vm_lifecycle
  tests/compute/vm_lifecycle.go
  tests/vm_test.go
Due: none

cleanup(tests): Move dry-run start test to vm_lifecycle
  tests/compute/vm_lifecycle.go
  tests/vm_test.go
Due: none

tests: Fail if command is not found
  hack/ci/entrypoint.sh
  hack/functests.sh
  hack/kwok-perftests.sh
  hack/perftests.sh
  hack/realtime-perftests.sh
  tests/access_test.go
  tests/clientcmd/command.go
  tests/flags/flags.go
  tests/kubectl_test.go
  tests/replicaset_test.go
  tests/vm_test.go
  tests/vmi_hook_sidecar_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: code change: Group access credential unit tests
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

fix
  hack/linter/lint-paths.txt
Due: none

DownwardMetrics: Add env var for virt-launcher
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

DownwardMetrics: Move DownwardMetrics server to launcher
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/downwardmetrics/downwardmetrics.go
  pkg/downwardmetrics/virtio-serial/BUILD.bazel
  pkg/downwardmetrics/virtio-serial/server.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-handler/dmetrics-manager/BUILD.bazel
  pkg/virt-handler/dmetrics-manager/dmetrics-manager.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

refactor: replace guest agent commands
  pkg/virt-launcher/virtwrap/agent-poller/BUILD.bazel
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_parser_test.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Removed //nolint:dupl from pkg/instancetype/webhooks/vm/mutator.go
  pkg/instancetype/webhooks/vm/mutator.go
Due: none

chore(linter): Fix linting errors and warnings within the config
  hack/linter/.golangci.yml
Due: none

instancetype, webhooks: Extract admission tests
  pkg/instancetype/webhooks/vm/BUILD.bazel
  pkg/instancetype/webhooks/vm/admitter_test.go
  pkg/instancetype/webhooks/vm/vm_suite_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype, webhooks: Admit when instance type or preference not found
  pkg/instancetype/webhooks/vm/admitter.go
  pkg/instancetype/webhooks/vm/admitter_test.go
Due: none

Update pkg/virtctl/create/instancetype/instancetype_test.go
  pkg/virtctl/create/instancetype/instancetype_test.go
Due: none

net, vm ctrl: Drop dependency on pod informer
  pkg/network/controllers/BUILD.bazel
  pkg/network/controllers/vm.go
  pkg/network/controllers/vm_test.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

vm ctrl: Drop dependency on pod informer
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Watchdog Diag288 support for s390x
  pkg/libvmi/vmi.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  staging/src/kubevirt.io/api/core/v1/defaults.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  tests/watchdog_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

fix(reset): check boot time instead file
  tests/compute/subresources/BUILD.bazel
  tests/compute/subresources/reset.go
Due: none

api: Add Enabled field to TPMDevice
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Replaced NewVMIReferenceFromNameWithNS with respective libvmi in pkg
  pkg/libvmi/vmi.go
  pkg/virt-controller/watch/drain/disruptionbudget/disruptionbudget.go
  pkg/virt-controller/watch/replicaset/replicaset.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/testsuite/fixture.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tpm: Wire up the new TPMDevice Enabled attribute
  pkg/instancetype/preference/apply/device_test.go
  pkg/storage/backend-storage/BUILD.bazel
  pkg/storage/backend-storage/backend-storage.go
  pkg/tpm/BUILD.bazel
  pkg/tpm/tpm.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: Don't expose qemu implicit pause
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

featuregate: Graduate InstancetypeReferencePolicy to GA
  pkg/instancetype/controller/vm/BUILD.bazel
  pkg/instancetype/controller/vm/controller_test.go
  pkg/virt-config/BUILD.bazel
  pkg/virt-config/configuration_test.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-config/virt-config.go
  tests/instancetype/BUILD.bazel
  tests/instancetype/reference_policy.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

..
  pkg/virtctl/adm/logverbosity/logverbosity.go
Due: none

virt-handler: code change: Improve unit tests in vm_test.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: Deprecate old method to set SSH key in VM
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

instancetype, controller: Add VM Condition when unable to find resources
  pkg/instancetype/controller/vm/controller.go
  pkg/instancetype/controller/vm/controller_test.go
  tests/instancetype/instancetype.go
Due: none

handler: monitor multipath socket
  cmd/pr-helper/entrypoint.sh
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/filewatcher/BUILD.bazel
  pkg/virt-handler/heartbeat/filewatcher/filewatcher.go
  pkg/virt-handler/heartbeat/generated_mock_multipath-socket.go
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/multipath-socket.go
  pkg/virt-handler/heartbeat/multipath-socket_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

make single channel
  pkg/virtctl/vnc/vnc.go
Due: none
