Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

unit tests: volumes that's excluded from snapshots
  pkg/virt-controller/watch/clone/BUILD.bazel
  pkg/virt-controller/watch/clone/clone_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

functest: unbound DV: target should point to a different DV
  tests/clone_test.go
Due: none

drop copyOriginalCDI
  tests/operator/operator.go
Due: none

change copyOriginalKv to be a regular function
  tests/operator/operator.go
Due: none

change createKv and createCdi to be regular functions
  tests/operator/operator.go
Due: none

bugfix: add patches to rename volumes excluded from snapshot
  pkg/virt-controller/watch/clone/clone.go
  pkg/virt-controller/watch/clone/vm-target.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

small bugfix: randomize clone name generation
  pkg/virt-controller/watch/clone/util.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

restore: add nil check for PVC
  pkg/storage/snapshot/restore.go
Due: none

Bazel: Add targets for s390x container images
  WORKSPACE
  cmd/sidecars/BUILD.bazel
  cmd/virt-api/BUILD.bazel
  cmd/virt-controller/BUILD.bazel
  cmd/virt-handler/BUILD.bazel
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-operator/BUILD.bazel
  containerimages/BUILD.bazel
  hack/bump-distroless.sh
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

Add s390x to build scripts
  hack/build-go.sh
  hack/common.sh
  hack/go-build-functests.sh
Due: none

BUILD.bazel: Enable s390x build target
  .bazelrc
  BUILD.bazel
  cmd/virtctl/BUILD.bazel
  hack/bazel-build.sh
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Multiarch: Refactor if-else structs to switch-case
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-launcher/virtwrap/api/defaults.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Docs: Expand explanation for sandbox updates when onboarding new arches
  docs/updating-dependencies.md
Due: none

Enable s390x VMs for kubevirt
  cmd/virt-launcher/node-labeller/node-labeller.sh
  pkg/virt-api/rest/usbredir.go
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/defaults.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/s390x.go
  pkg/virt-api/webhooks/utils.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/configuration.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/node-labeller/BUILD.bazel
  pkg/virt-handler/node-labeller/kvm-caps-info-plugin_s390x.go
  pkg/virt-handler/node-labeller/util/util.go
  pkg/virt-handler/setsched.go
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/amd64.go
  pkg/virt-launcher/virtwrap/converter/archconverter.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/s390x.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/nichotplug.go
  pkg/virtctl/usbredir/BUILD.bazel
  pkg/virtctl/usbredir/usbredir.go
  pkg/virtctl/usbredir/usbredir_default.go
  pkg/virtctl/usbredir/usbredir_s390x.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

s390x: Skip virtctl version unit test
  pkg/virtctl/version/version_test.go
Due: none

drop the sanityCheckDeploymentsDeleted lambda
  tests/operator/operator.go
Due: none

change parseDaemonset to be a regular function
  tests/operator/operator.go
Due: none

change waitForKv to be a regular function
  tests/operator/operator.go
Due: none

drop several patch lambdas
  tests/operator/operator.go
Due: none

change installOperator to be a regular function
  tests/operator/operator.go
Due: none

change parseImage to be a regular function
  tests/operator/operator.go
Due: none

change allPodsAreReady to be a regular function
  tests/operator/operator.go
Due: none

change allPodsAreTerminated to be a regular function
  tests/operator/operator.go
Due: none

change waitForUpdateCondition to be a regular function
  tests/operator/operator.go
Due: none

tests: Simplify waiting for VM to become ready
  tests/monitoring/metrics.go
  tests/storage/hotplug.go
  tests/utils.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

ctrl: fix MaxSockets calculation
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM test: Inline global variables
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-handler: fix check SSH related guest agent commands
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  tests/compute/credentials.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher: Use old method of SSH key propagation if new one fails
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

TBD use openapi v3
  go.mod
  pkg/util/openapi/BUILD.bazel
  pkg/util/openapi/openapi.go
  tests/libmonitoring/prometheus.go
  tests/monitoring/component_monitoring.go
  vendor/k8s.io/kube-openapi/pkg/builder3/BUILD.bazel
  vendor/k8s.io/kube-openapi/pkg/builder3/openapi.go
  vendor/k8s.io/kube-openapi/pkg/builder3/util.go
  vendor/k8s.io/kube-openapi/pkg/builder3/util/BUILD.bazel
  vendor/k8s.io/kube-openapi/pkg/builder3/util/util.go
  vendor/k8s.io/kube-openapi/pkg/schemamutation/BUILD.bazel
  vendor/k8s.io/kube-openapi/pkg/schemamutation/walker.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Bump AAQ to v1.2.3 (#2991)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: none

admission: Set a default random VM UUID
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM test: Address go static
  pkg/virt-controller/watch/BUILD.bazel
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Remove DataVolumeFeeder
  pkg/testutils/BUILD.bazel
  pkg/testutils/mock_queue.go
Due: none

VM unit: Remove datavolume informer
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit: Remove vmi informer
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit: Remove VM informer
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit: Remove cr informer
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

VM unit: Remove pvc informer
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
