Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Spec/hyperv l1vh (#27)
  specs/001-hyperv-layered/code-analysis.md
  specs/001-hyperv-layered/feature-spec.md
  specs/001-hyperv-layered/implementation-plan.md
  specs/001-hyperv-layered/tasks.md
  specs/kubevirt-constitution.md
  specs/templates/feature-spec-template.md
  specs/templates/implementation-plan-template-simplified.md
  specs/templates/implementation-plan-template.md
Due: none

Qemu rpm (#31)
  .github/workflows/build-qemu-rpm.yaml
  .github/workflows/cicd.yaml
  hack/rpm-deps.sh
Due: none

Refactor CI workflow: restrict push events to main branch only
  .github/workflows/cicd.yaml
Due: none

CI CD. Unit and Functional Tests. (#25)
  .github/workflows/build-libvirt-rpms.yaml
  .github/workflows/cicd.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pr.yaml
  .github/workflows/wake-up-vm.yaml
  docs/l1hv-infra/README.md
  hack/rpm-deps.sh
  l1hv-iac/common.env
  l1hv-iac/common.sh
  l1hv-iac/create-dev-vm.sh
  l1hv-iac/create-test-emulation-vm.sh
  l1hv-iac/create-test-kvm-aks.sh
  l1hv-iac/create-test-mshv-vm.sh
  l1hv-iac/create-vm.sh
  l1hv-iac/dev.env
  l1hv-iac/test-emulation.env
  l1hv-iac/test-mshv.env
  pkg/virtctl/root.go
Due: none

Fix. Flush Docker containers on CI start (#36)
  .github/workflows/cicd.yaml
Due: none

build: adds custom libvirt RPMS with qemu-mshv patches (#22)
  .github/workflows/build-libvirt-rpms.yaml
  .github/workflows/cicd.yaml
Due: none

Add write-all permissions to Quality Check job
  .github/workflows/pr.yaml
Due: none

test: updating tests to support specific feature gates and adds initial tests for hypervlayered featuregate (#26)
  pkg/virt-controller/services/template.go
  tests/BUILD.bazel
  tests/decorators/decorators.go
  tests/framework/hypervisor/BUILD.bazel
  tests/framework/hypervisor/device.go
  tests/hypervlayered_test.go
  tests/infrastructure/node-labeller.go
  tests/libnode/BUILD.bazel
  tests/libnode/node.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/fixture.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

feat(feature-gates): add HyperVLayered gate (#23)
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

✨ Enhance Copilot instructions with quick start, security, and contribution guidelines (#41)
  .github/copilot-instructions.md
Due: none

Fix. Soft reboot tests with the new QEMU (#35)
  tests/vmi_lifecycle_test.go
Due: none

Add console login to mshv test (#77)
  tests/hypervlayered_test.go
Due: none

Repetitive tests runs (#75)
  .github/workflows/cicd.yaml
  .github/workflows/deploy.yaml
  hack/retry-functests.sh
  tests/vmi_lifecycle_test.go
Due: none

fix: "[test_id:4597]should signal paused state with condition" test (#60)
  tests/compute/vm_lifecycle.go
  tests/vmi_lifecycle_test.go
Due: none

Update Node-level hypervisor metric and add VMI-level Hypervisor metric (#76)
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/monitoring/rules/alerts/BUILD.bazel
  pkg/monitoring/rules/alerts/alerts.go
  pkg/monitoring/rules/alerts/system.go
  pkg/monitoring/rules/recordingrules/BUILD.bazel
  pkg/monitoring/rules/recordingrules/nodes.go
  pkg/monitoring/rules/recordingrules/nodes_test.go
  pkg/monitoring/rules/recordingrules/recordingrules_suite_test.go
  pkg/monitoring/rules/rules.go
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/hypervisor_parity_test.go
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/util/BUILD.bazel
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/hypervisor_config_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

Validate HyperV Layered memory management compatibility with comprehensive test coverage (#39)
  .gitignore
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/hypervisor_parity_test.go
  pkg/virt-handler/isolation/BUILD.bazel
  pkg/virt-handler/isolation/hypervisor_memlock_parity_sentinel_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

feat(specify): add spec kit style docs (#42)
  .github/prompts/analyze.prompt.md
  .github/prompts/clarify.prompt.md
  .github/prompts/constitution.prompt.md
  .github/prompts/implement.prompt.md
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/tasks.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  specs/001-hyperv-layered/code-analysis.md
  specs/001-hyperv-layered/feature-spec.md
  specs/001-hyperv-layered/implementation-plan.md
  specs/001-hyperv-layered/tasks.md
  specs/kubevirt-constitution.md
  specs/templates/feature-spec-template.md
  specs/templates/implementation-plan-template-simplified.md
  specs/templates/implementation-plan-template.md
Due: none

Set correct version in QEMU RPM build-info and avoid silent failure of make rpm-deps (#85)
  hack/qemu-mshv/build-libvirt-rpms.sh
  hack/qemu-mshv/build-qemu-rpms.sh
  hack/qemu-mshv/build-rpms-http-image.sh
  hack/qemu-mshv/setup-custom-libvirt-qemu-rpms.sh
Due: none

CI/CD. Apply custom Kubevirt CR (#52)
  .github/workflows/deploy.yaml
Due: none

Enhanced Logging for Hypervisor Operations (#78)
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Use HypervisorConfiguration to set hypervisor device req/limit in virt-launcher pod spec (#43)
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix: issues after code merge (#59)
  cmd/virt-handler/virt-handler.go
  pkg/hypervisor/BUILD.bazel
  tests/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Reconfigured dev and test-mshv environments (#73)
  docs/l1hv-infra/README.md
Due: none

Use HypervisorConfig to enable device plugin for hypervisor (#38)
  cmd/virt-handler/virt-handler.go
  hack/rpm-deps.sh
  pkg/hypervisor/hyperv-layered.go
  pkg/hypervisor/hypervisor.go
  pkg/hypervisor/kvm.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/vm.go
  tests/BUILD.bazel
  tests/framework/hypervisor/BUILD.bazel
  tests/framework/hypervisor/device.go
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/node-labeller.go
  tests/libnode/BUILD.bazel
  tests/libnode/node.go
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/fixture.go
  tests/vmi_lifecycle_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Use correct hypervisor device in handler and launcher (#49)
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

feat: adds domain adjustment in converter per hypervisor (#33)
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/hypervisor/BUILD.bazel
  pkg/hypervisor/hyperv-layered.go
  pkg/hypervisor/hypervisor.go
  pkg/hypervisor/hypervisor_suite_test.go
  pkg/hypervisor/hypervisor_test.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update libvirt building workflow (#51)
  .github/workflows/build-libvirt-rpms.yaml
Due: none

Run KVM-specific tests on the self-hosted runner itself (#95)
  .github/workflows/cicd.yaml
  .github/workflows/deploy.yaml
Due: none

Move logic for building KV w/ custom libvirt and qemu to scripts (#58)
  .github/workflows/build-libvirt-rpms.yaml
  .github/workflows/build-qemu-rpm.yaml
  .github/workflows/cicd.yaml
  hack/qemu-mshv/build-libvirt-rpms.sh
  hack/qemu-mshv/build-qemu-rpms.sh
  hack/qemu-mshv/build-rpms-http-image.sh
  hack/qemu-mshv/setup-custom-libvirt-qemu-rpms.sh
Due: none

feat(specify): add ps scripts for windows support (#50)
  .github/prompts/specify.prompt.md
  .specify/scripts/powershell/check-prerequisites.ps1
  .specify/scripts/powershell/common.ps1
  .specify/scripts/powershell/create-new-feature.ps1
  .specify/scripts/powershell/setup-plan.ps1
  .specify/scripts/powershell/update-agent-context.ps1
Due: none

HyperVLayered integration test (#55)
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  tests/hypervlayered_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Extract HostDevice configuration logic
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/host_device.go
  pkg/virt-launcher/virtwrap/converter/compute/host_device_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Validate Pod IP is included in the VMI reported IPs after Migration
  tests/libnet/validation.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
Due: none

e2e: deploy NP by default
  automation/test.sh
Due: none

pool: support secret ref indexing for CloudInit volumes
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Moved Attestation/QGS Field inside of configuration from configuration.developerConfiguration
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-config/virt-config.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/util/config.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce WatchdogDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/watchdog.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Return early when watchdog device unspecified
  pkg/virt-launcher/virtwrap/converter/compute/watchdog.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Add unit tests to WatchdogDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/watchdog_test.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Consolidate watchdog logic
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/watchdog.go
  pkg/virt-launcher/virtwrap/converter/compute/watchdog_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance
