Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

monitoring tests: rm ipv6 duplicate entry/related skips
  tests/infrastructure/prometheus.go
  tests/libmigration/migration.go
Due: none

live-migration-source: fix qcow2 metadata overlay datastore resolution
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

logs: Increase verbosity of frequent DRA GPU log
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-launcher: Fix migration completion log level
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

refactor doc-generator
  docs/observability/metrics.md
  go.mod
  go.sum
  hack/prom-metric-linter/metrics_collector.sh
  tools/doc-generator/doc-generator.go
  tools/prom-metrics-collector/BUILD.bazel
  tools/prom-metrics-collector/metrics_collector.go
  tools/prom-metrics-collector/metrics_json_generator.go
  vendor/github.com/rhobs/operator-observability-toolkit/pkg/docs/metrics.go
  vendor/modules.txt
Due: pull-kubevirt-metrics-lint

tests/operator: Fix tag selection for main PRs
  tests/operator/operator.go
Due: none

feat(hp): exclude from quota (#59)
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: be more resilient on Shutoff/Unknown status
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix(arm,toolchain): replace file link
  third_party/toolchains/toolchains.bzl
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Consider NodeSpec.Unschedulable in KubeVirtNoAvailableNodesToRunVMs alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/system.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

vm suspendToDisk workflow
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/handler-launcher-com/cmd/v1/generated_mock_cmd.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/generated_mock_client.go
  pkg/virt-handler/controller.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/metadata/cache.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/cli/generated_mock_libvirt.go
  pkg/virt-launcher/virtwrap/cli/libvirt.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/hibernation/BUILD.bazel
  pkg/virt-launcher/virtwrap/hibernation/manager.go
  pkg/virt-launcher/virtwrap/hibernation/suspendToDisk.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

ctrl, template: Rm net dependant NET_BIND_SERVICE tests
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

net, downward api: Extend NetworkInfo with device Mac address
  pkg/network/downwardapi/networkinfo.go
  pkg/network/downwardapi/networkinfo_test.go
  pkg/network/downwardapi/types.go
  pkg/network/pod/annotations/generator.go
  pkg/network/pod/annotations/generator_test.go
Due: none

net, deviceinfo: Map device mac addresses to network names
  pkg/network/deviceinfo/BUILD.bazel
  pkg/network/deviceinfo/macaddress.go
Due: none

WIP: assert unexpected errors
  tests/reporter/outputenricher.go
  tests/tests_suite_test.go
Due: none

api: Add enabled configurable to mediatedDevicesConfiguration
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

chore(virt-operator): Move common-instancetype bundles
  hack/common-instancetypes/sync.sh
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/data/common-instancetypes/OWNERS
  pkg/virt-operator/resource/generate/components/data/common-instancetypes/common-clusterinstancetypes-bundle.yaml
  pkg/virt-operator/resource/generate/components/data/common-instancetypes/common-clusterpreferences-bundle.yaml
  pkg/virt-operator/resource/generate/components/instancetypes.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Container_disk_test: Convert Skip to Fail
  automation/test.sh
  tests/container_disk_test.go
  tests/decorators/decorators.go
Due: none

MDEV test: Remove Skip
  tests/mdev_configuration_allocation_test.go
Due: none

Prometheus test: Remove skip on IPv6
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Due: none

Compute parallel: Skip storage required tests
  automation/test.sh
Due: none

tests/infrastructure/prometheus.go: Replace Skip
  tests/infrastructure/prometheus.go
Due: none

VM test: Replace Skip
  tests/vm_test.go
Due: none

Replicaset test: Replace Skip
  tests/replicaset_test.go
Due: none

test_id:4632: Increase memory in order to boot
  tests/vmi_configuration_test.go
Due: none

test_id:4632: Fix failed memory write
  tests/vmi_configuration_test.go
Due: none

feat(rbac): Allow aggregation to ClusterRoles provided by KubeVirt
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add help function for creating vm
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Use defer to restore schedulable label
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

fix(instancetype): Propagate ResourceVersion from PatchStatus responses
  pkg/instancetype/revision/patch.go
  pkg/instancetype/upgrade/BUILD.bazel
  pkg/instancetype/upgrade/handler.go
  pkg/instancetype/upgrade/upgrade_test.go
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: prevent false RestartRequired during upgrade when firmware.uuid is set on VM (#62)
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-config: Deprecate DisableMDEVConfiguration FG
  pkg/virt-config/BUILD.bazel
  pkg/virt-config/configuration_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  pkg/virt-config/virt-config.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Validate disk bitmaps during checkpoint redefinition
  pkg/os/disk/disk.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_test.go
  tests/storage/backup.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

launcher, converter: refactor ScsiController to return model
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

launcher, converter: extract scsi controller logic
  pkg/virt-launcher/virtwrap/converter/compute/controllers.go
  pkg/virt-launcher/virtwrap/converter/compute/controllers_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

launcher, converter: update unit-tests to include scsi controller logic
  pkg/libvmi/storage.go
  pkg/virt-launcher/virtwrap/converter/compute/controllers_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

exclude preexisting metrics to fix metric linter test
  tools/prom-metrics-collector/metrics_collector.go
Due: none

Parallelize observability functional tests
  tests/monitoring/metrics.go
  tests/monitoring/monitoring.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

tests/operator: Fix upgrade test to select correct previous minor release
  tests/operator/operator.go
Due: none

tests/operator: Extract version detection to testable package
  hack/bazel-test.sh
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/operator/version/BUILD.bazel
  tests/operator/version/version.go
  tests/operator/version/version_suite_test.go
  tests/operator/version/version_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
