Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$

Move containerdisk mount operations to safepath operations
  pkg/container-disk/BUILD.bazel
  pkg/container-disk/container-disk.go
  pkg/virt-handler/container-disk/BUILD.bazel
  pkg/virt-handler/container-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Use UnsafeSetFileOwnership on virt-launcher code
  pkg/cloud-init/cloud-init.go
  pkg/config/config-map.go
  pkg/config/downwardapi.go
  pkg/config/secret.go
  pkg/config/service-account.go
  pkg/config/sysprep.go
  pkg/emptydisk/emptydisk.go
  pkg/network/cache/infocache.go
  pkg/virt-handler/migration-proxy/migration-proxy.go
  pkg/virt-launcher/monitor.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Enable VMExport feature gate by default (#2059)
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/build-manifests.sh
Due: none

[Clean Code] Tiny changes in storageclass.go
  tests/libstorage/storageclass.go
Due: none

[bump-bot] Add module paths for kubevirt in go.mod to be updated (#2057)
  automation/release-bumper/release-bumper.sh
Due: none

Modify unit tests to not consider the host-model of the node as a supported cpuModel and consider the new labels
  pkg/virt-controller/watch/migration_test.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Modify functional tests to consider the new label for migrations
  tests/infra_test.go
  tests/migration_test.go
  tests/utils.go
Due: none

tests, sriov: Wait for VMI removal at test teardown
  tests/network/sriov.go
Due: none

tests: Add logs for the test-cleanup processing
  tests/utils.go
Due: none

Add functinal test to verify that alert is being triggered when migrating vmi with host-model and nodes doesn't include the new label.
  pkg/virt-handler/node-labeller/node_labeller.go
  tests/migration_test.go
  tests/utils.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add test-validator
  tools/test-validator/BUILD.bazel
  tools/test-validator/test-validator.go
Due: none

Update component graphs from the nightly job (#2064)
  docs/component.gv
  docs/component.gv.svg
  docs/managed-by.gv
  docs/managed-by.gv.svg
Due: none

Create usb disk hook
  BUILD.bazel
  cmd/usb-disk-hook/BUILD.bazel
  cmd/usb-disk-hook/usb-disk.go
  vmi-usb-disk.yaml
Due: none

Add some debug prints
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Handle content update even if vmsnapshot was deleted
  pkg/storage/snapshot/snapshot.go
Due: none

Address code review
  pkg/storage/snapshot/snapshot.go
Due: none

Delete content also if content not ready
  pkg/storage/snapshot/snapshot.go
Due: none

Unlock and delete vmsnapshot only if content deleted if needed
  pkg/storage/snapshot/snapshot.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types.go
Due: pull-kubevirt-verify-go-mod

Add and adjust UT
  pkg/storage/snapshot/snapshot_test.go
Due: none

Add vm snapshot obj to queue in case of content deletion
  pkg/controller/virtinformers.go
  pkg/storage/snapshot/snapshot_base.go
Due: none

Remove test which doesnt check what it claims
  pkg/storage/snapshot/snapshot_test.go
Due: none

Files to push hook container image into the cluster for testing
  Dockerfile
  push.sh
Due: none

builder: Don't set up multiarch support multiple times
  hack/builder/build.sh
Due: none

virt-launcher overhead: bump virtlauncher and virtlogd
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

guest memory should equal requested memory when not explicitly set
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add export of VMSnapshot volumes
  pkg/storage/export/export/export_test.go
  tests/storage/export.go
  tests/storage/restore.go
Due: none

split isSourceAvailable into two fields so we can be more specific on what we do in the VM source (only requeue if not populated)
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source.go
Due: none

Addressed code review comments. Fixed flaky test and cleaned up the functional tests a little
  tests/storage/export.go
Due: none

Addressed code review comments Improved logging for when we enqueue a VMExport based on other objects. Added code to test that modifying a VM to include volumes from no volumes starts the export.
  pkg/storage/export/export/export.go
  pkg/storage/export/export/pvc-source.go
  pkg/storage/export/export/vm-source.go
  pkg/storage/export/export/vmsnapshot-source.go
  tests/libstorage/datavolume.go
  tests/storage/export.go
Due: none

Fix flaky test
  pkg/storage/export/export/links.go
  tests/storage/export.go
Due: none

Add VM export VirtualMachine type
  pkg/controller/virtinformers.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmexport-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmexport-admitter_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  tests/storage/export.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Added VMI watch Addressed review comments
  pkg/controller/virtinformers.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Due: none

Bump CDI to v1.54.0 (#2065)
  deploy/crds/containerized-data-importer00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/containerized-data-importer00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/containerized-data-importer00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  tests/vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  tests/vendor/modules.txt
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

Restore test with deleting source pvc
  tests/storage/restore.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

Removed unnecessary maintenance line in deploy.sh that breaks deployments. (#2069)
  deploy/deploy.sh
Due: none

Move virt-handler controller over to safepath usage
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Ensure compatibility with old mount paths of old KubeVirt installs
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Fix issue where DV controller hasn't created the PVC yet and we record the export as skipped even though it should be pending. We requeue to give the DV controller time to create the PVC
  pkg/storage/export/export/vm-source.go
  tests/storage/export.go
Due: none

Add a safepath package to encapsule path operations
  pkg/safepath/BUILD.bazel
  pkg/safepath/safepath.go
  pkg/safepath/safepath_linux.go
  pkg/safepath/safepath_suite_test.go
  pkg/safepath/safepath_test.go
Due: none
