Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

flavors: Apply network device preferences again during mutation
  pkg/flavor/flavor.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

flavors: Apply disk device preferences again during mutation
  pkg/flavor/flavor.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

flavors: Reject VMs with {Flavor,Preference}Matcher set within VMI spec
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

flavors: Address review feedback
  pkg/flavor/BUILD.bazel
  pkg/flavor/flavor_test.go
  tests/flavor_test.go
Due: none

k8s reporter: Add verbosity flag
  tests/reporter/kubernetes.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/k8s-1.24-ipv6/provider.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

test: inline isUsingBuiltinNodeDrainKey
  tests/migration_test.go
Due: none

test: inline hasExperimentalIgnitionSupport
  tests/vmi_ignition_test.go
Due: none

tests: Incrase readiness probe initial delay
  tests/network/probes.go
Due: none

virt-handler: add protection against migration double-starts
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Fix KubevirtVmHighMemoryUsage alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: none

unit test, isolation: Make test agnostic to virt-launcher process name
  pkg/virt-handler/isolation/detector_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add reason to AgentVersionNotSupported condition
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

test: Create the expected readiness probe
  tests/network/probes.go
Due: none

Update orphaned VMs alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
Due: none

test/utils: reimplement NewRandomVMIWithNS with libvmi
  tests/utils.go
Due: none

tests/libvmi: drop compulsory `name` New() argument
  tests/infra_test.go
  tests/libvmi/factory.go
  tests/libvmi/vmi.go
  tests/utils.go
Due: none

Bump CDI API to v1.50.0
  api/openapi-spec/swagger.json
  go.mod
  go.sum
  staging/src/kubevirt.io/api/go.mod
  staging/src/kubevirt.io/api/go.sum
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/go.mod
  staging/src/kubevirt.io/client-go/go.sum
  tests/BUILD.bazel
  tests/operator_test.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/BUILD.bazel
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/upload/v1beta1/zz_generated.deepcopy.go
  vendor/kubevirt.io/controller-lifecycle-operator-sdk/api/BUILD.bazel
  vendor/kubevirt.io/controller-lifecycle-operator-sdk/api/LICENSE
  vendor/kubevirt.io/controller-lifecycle-operator-sdk/api/types.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

tests, snapshot/restore: attempt to parallelize
  tests/storage/restore.go
  tests/storage/snapshot.go
Due: none

Update golang.org/x/crypto to v0.0.0-20220525230936
  go.mod
  go.sum
Due: pull-kubevirt-verify-go-mod

Update to new version of golang.org/x/crypto
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/armor/encode.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/modules.txt
Due: pull-kubevirt-verify-go-mod

tests, reporter: Collect data at JustAfterEach
  tests/tests_suite_test.go
Due: none

dnm: Force failure
  tests/network/probes.go
Due: none

Make the snapshot controller impement volumeSnapshotProvider interface
  pkg/virt-controller/watch/snapshot/snapshot.go
  pkg/virt-controller/watch/snapshot/snapshot_base.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Expose a knob to let the user tune default CPU model (#2004)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
Due: none

tests/utils: drop NewRandomVMIWithNS
  tests/utils.go
  tests/vmi_lifecycle_test.go
Due: none

Update restore PVC to the restore size if it is bigger then pvc size
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/snapshot/restore.go
  pkg/virt-controller/watch/snapshot/restore_base.go
  pkg/virt-controller/watch/snapshot/restore_test.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

vmi_networking, Move tests to Cirros
  tests/network/vmi_networking.go
Due: none

Add functional tests to test the modifiactions of the back port. Modify existing tests to consider the new changes of the back port.
  pkg/virt-controller/watch/migration_test.go
  tests/infra_test.go
  tests/migration_test.go
  tests/utils.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

virt-api: start subresource: clearer error message
  pkg/virt-api/rest/subresource.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

dnm: Run cleanup at aftereach
  tests/network/probes.go
Due: none

test/utils: static file length limit
  Makefile
Due: none

add support for kubevirt fs content type and block PVC
  cmd/virt-exportserver/virt-exportserver.go
Due: none

refactor exportserver and add unit tests
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-exportserver/virt-exportserver.go
  pkg/virt-exportserver/BUILD.bazel
  pkg/virt-exportserver/exportserver.go
  pkg/virt-exportserver/exportserver_suite_test.go
  pkg/virt-exportserver/exportserver_test.go
Due: none

new virt-exportserver container
  BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-exportserver/virt-exportserver.go
  hack/bazel-push-images.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: none

exportserver implementation (mostly)
  BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-exportserver/virt-exportserver.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
