Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

Refactor USB passthrough test to check device ownership from pod
  tests/usb/BUILD.bazel
  tests/usb/usb.go
Due: none

netstat: avoid nil pointer crash
  pkg/network/setup/netstat.go
Due: none

virtoperator BugFix:remove leftover install strategies
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/install/BUILD.bazel
  pkg/virt-operator/resource/generate/install/strategy.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e, net, link state: Test linkstate with VM migration
  tests/network/link_state.go
Due: none

virt-handler, migration-src: Add netStat, call UpdateStatus()
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e, net, sriov: Unquarantine failing test
  tests/network/sriov.go
Due: none

hack: Force IMAGE_PULL_POLICY to Always when using cluster-sync
  hack/cluster-sync.sh
Due: none

virt-operator: Stop using deprecated node-role.kubernetes.io/master taint
  manifests/generated/operator-csv.yaml.in
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add Network-related resources to the Object Graph
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

deps-update: Update dependencies for IPAMClaim
  vendor/k8s.io/client-go/dynamic/fake/BUILD.bazel
  vendor/k8s.io/client-go/dynamic/fake/simple.go
  vendor/modules.txt
Due: none

pool: Improve flaky VMI updated count assertion
  tests/BUILD.bazel
  tests/pool_test.go
Due: none

Add flag to disable Node Labeller Service
  cmd/virt-handler/virt-handler.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix decentralized live migration not honoring restore-runstrategy annotation.
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/vm.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update newPendingVirtualMachine fn to use libvmi
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add helper functions to create VMI with additional options
  pkg/libvmi/firmware.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 2000
  pkg/libvmi/metadata.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 2500
  pkg/libvmi/status/status.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 3000
  pkg/libvmi/status/status.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update test bodies to use libvmi till line 3500
  pkg/libvmi/cpu.go
  pkg/libvmi/storage.go
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Update all remaining tests to use libvmi in vmi_test.go
  pkg/libvmi/devices.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Rename newPendingVMIWithOptions function to newTestVMIWithOptions
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add vmi name arg to newTestVMIWithOptions fn
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add comment for WithSelinuxContext function
  pkg/libvmi/status/status.go
Due: none

Add comment for line explicitly updating vmi object
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

revert the failing cirros to alpine tests.
  tests/guestlog/guestlog.go
  tests/hotplug/pci-ports.go
  tests/migration/migration.go
  tests/migration/namespace.go
  tests/network/bindingplugin_slirp.go
  tests/network/port_forward.go
  tests/network/services.go
  tests/network/vmi_istio.go
  tests/network/vmi_lifecycle.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/pool_test.go
  tests/replicaset_test.go
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
  tests/storage/migration.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/storage/storage.go
  tests/vm_test.go
  tests/vmi_cloudinit_hook_sidecar_test.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_sound_test.go
Due: none

Fix IsRunning function on migration type
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add functional test coverage
  tests/libnet/BUILD.bazel
  tests/libnet/ipamclaims.go
  tests/objectgraph_test.go
Due: none

Update RBAC for IPAMClaims
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/apiserver.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add --dump-network-policies option to csv-generator
  pkg/virt-operator/resource/generate/components/BUILD.bazel
  pkg/virt-operator/resource/generate/components/networkpolicy.go
  tools/csv-generator/csv-generator.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add alerts when VM is in unhealthy status
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

vmi_configuration_test: test that serial number is set in guest
  tests/vmi_configuration_test.go
Due: none

vmi-create-admitter: drop firmware.serial validation
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Ignore completed migration in sync controller
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
Due: none

Improve error message when restoring VMs with backend storage
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
Due: none

Don't stop synchronization if migration is final, stopping can cause the source to never get updated.
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  tests/migration/namespace.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
