Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

e2e, hotplug ifaces: Assert stopped VM absent ifaces removed from spec
  tests/network/hotplug.go
Due: none

bazel: Move to rules_pkg extracted version of pkg_tar
  BUILD.bazel
  cmd/libguestfs/BUILD.bazel
  cmd/pr-helper/BUILD.bazel
  cmd/virt-exportserver/BUILD.bazel
  cmd/virt-handler/BUILD.bazel
  containerimages/BUILD.bazel
  images/BUILD.bazel
  images/disks-images-provider/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Move coordination/lease RBAC permissions to Roles
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/controller.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Support relabeling of unix sockets
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/selinux.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump the version to 1.11.0 (#2453)
  README.md
  assets/upgradePatches.json
  controllers/hyperconverged/hyperconverged_controller_test.go
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/index-image/bundle.Dockerfile
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/cluster-network-addons00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/containerized-data-importer00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/metadata/annotations.yaml
  deploy/kustomize/base/subscription.yaml
  deploy/kustomize/deploy_kustomize.sh
  deploy/kustomize/image_registry/catalog_source.yaml
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/cluster-network-addons00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/containerized-data-importer00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/metadata/annotations.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/kubevirt-hyperconverged.package.yaml
  deploy/operator.yaml
  docs/functest-container.md
  version/version.go
Due: none

Relabel PR helper socket in device plugin
  cmd/virt-handler/virt-handler.go
  pkg/util/util.go
  pkg/virt-handler/device-manager/socket_device.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Support macvtap-cni mode for other CNIs
  cmd/virt-chroot/main.go
  cmd/virt-chroot/tap-device-maker.go
  pkg/network/domainspec/generators.go
  pkg/network/domainspec/generators_test.go
  pkg/network/driver/BUILD.bazel
  pkg/network/driver/common.go
  pkg/network/driver/generated_mock_common.go
  pkg/network/infraconfigurators/BUILD.bazel
  pkg/network/infraconfigurators/common.go
  pkg/network/infraconfigurators/macvtap.go
  pkg/network/setup/podnic.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-config/configuration.go
  pkg/virt-launcher/virtwrap/converter/network.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

refactor macvtap
  pkg/network/infraconfigurators/macvtap.go
  pkg/network/setup/podnic.go
Due: none

fix cgroup v2 device rules state macvtap
  pkg/network/driver/common.go
  pkg/network/infraconfigurators/common.go
Due: none

Fix filter component pod in profiler
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/profiler.go
  pkg/virt-api/rest/profiler_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[e2e] Decorate hotplug test with VMLiveUpdateFeaturesGate decorator.
  tests/decorators/decorators.go
  tests/hotplug/cpu.go
Due: none

Cleanup unused code (hotplug disks)
  pkg/hotplug-disk/hotplug-disk.go
  pkg/hotplug-disk/hotplug-disk_test.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance

fix ticker leak
  pkg/monitoring/domainstats/downwardmetrics/scraper.go
  pkg/virt-handler/retry_manager.go
  pkg/virt-launcher/monitor.go
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

If guest agent ip is not set, do not update ifaceStatus.Ip
  pkg/network/setup/netstat.go
Due: none

allow migration for macvtap iface
  pkg/network/vmispec/interface.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

infra: Bump Go to 1.19.12
  WORKSPACE
  hack/builder/Dockerfile
Due: pull-kubevirt-verify-rpms

hotplug interface: Fixing VM with default interface bug
  pkg/controller/controller.go
  pkg/virt-controller/watch/network.go
  pkg/virt-controller/watch/network_test.go
  pkg/virt-controller/watch/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

SRIOV hotplug, virt-controller: Don't update existing pod annotation
  pkg/network/vmispec/hotplug.go
  pkg/virt-controller/watch/network.go
  pkg/virt-controller/watch/network_test.go
  pkg/virt-controller/watch/vmi.go
  pkg/virt-controller/watch/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

SRIOV hotplug, virt-controller: ignore not plugged ifaces on PCI Map
  pkg/network/sriov/sriov.go
  pkg/network/sriov/sriov_test.go
Due: none

SRIOV hotplug, virt-handler: Ignore SRIOV ifaces with no multus status
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

e2e: Rename hotplug test file to hotplug_bridge
  tests/network/hotplug_bridge.go
Due: none

dockerized: Use image with Go 1.19.12
  hack/dockerized
Due: none

fix ticker leak
  cmd/virt-launcher/virt-launcher.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

SRIOV hotplug, e2e: add SRIOV hotplug test
  tests/network/BUILD.bazel
  tests/network/hotplug.go
  tests/network/hotplug_bridge.go
  tests/network/hotplug_sriov.go
Due: none

Doesn't make sense to run make manifests and make build-functests For postsubmit job that publish the api to seperated repo
  automation/postsubmit-main.sh
Due: none

virt-launcher: access-credentials: Add Stop() method to AccessCredentialManager
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virt-launcher: access-credentials: Trim newlines from SSH keys
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[e2e] Fix migration bandwidth
  tests/migration_test.go
Due: none

fix SetGroupVersionKind function not work
  staging/src/kubevirt.io/client-go/kubecli/kv.go
  staging/src/kubevirt.io/client-go/kubecli/migration.go
  staging/src/kubevirt.io/client-go/kubecli/replicaset.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vmi.go
  staging/src/kubevirt.io/client-go/kubecli/vmipreset.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump NETWORK_ADDONS to v0.89.0 (#2457)
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: none

Add unit tests to cover port-forward functionality in vmexport
  pkg/virtctl/utils/test_utils.go
  pkg/virtctl/vmexport/vmexport.go
  pkg/virtctl/vmexport/vmexport_test.go
  tests/storage/export.go
Due: none

tests: Run helper pod as qemu (107) user
  tests/libstorage/pvc.go
Due: none

fix SetGroupVersionKind function not work in kv,vm,vmi,vmimigration,replicaset,vmipreset list interface
  staging/src/kubevirt.io/client-go/kubecli/kv.go
  staging/src/kubevirt.io/client-go/kubecli/migration.go
  staging/src/kubevirt.io/client-go/kubecli/replicaset.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vmi.go
  staging/src/kubevirt.io/client-go/kubecli/vmipreset.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

[e2e] Relax prometheus cr operator test
  tests/operator/operator.go
Due: none

Instead of using virt-launcher, just get the vmi name through the pod of the hp-volume
  pkg/virt-controller/watch/vmi.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

cleanup: Rename deprecated API alert to singular
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/virt-operator/resource/generate/components/prometheus.go
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Bump KUBEVIRT_CONSOLE_PROXY to v0.0.5 (#2459)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.11.0/manifests/kubevirt-hyperconverged-operator.v1.11.0.clusterserviceversion.yaml
  hack/config
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
