Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.21-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.21-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

passt: introduce Passt infra configurator
  pkg/network/infraconfigurators/BUILD.bazel
  pkg/network/infraconfigurators/passt.go
  pkg/network/setup/podnic.go
Due: none

passt status: Add passt interfaces to the domain
  pkg/network/setup/netstat.go
Due: none

libvmi: add `WithEvictionStrategy` Option
  tests/libvmi/vmi.go
Due: none

libvmi: add `WithCPU` Option
  tests/libvmi/vmi.go
Due: none

libvmi: add `WithHugePages` Option
  tests/libvmi/vmi.go
Due: none

tests: use `libvmi.NewAlpine()`
  tests/migration_test.go
Due: none

tests: use `libvmi.NewCirros()`
  tests/container_disk_test.go
  tests/security_features_test.go
  tests/subresource_api_test.go
  tests/vmi_lifecycle_test.go
Due: none

add nodeSelector kubernetes.io/os: linux to virt-operator csv
  manifests/generated/operator-csv.yaml.in
  pkg/virt-operator/resource/generate/components/deployments.go
Due: none

Test: don't use global variable
  tests/mdev_configuration_allocation_test.go
Due: none

Tests: Use WithOffset equivalents
  tests/mdev_configuration_allocation_test.go
Due: none

Remove Migration keyword matcher and Add needs-three-nodes label filter
  automation/test.sh
Due: none

Tests: Add vmi options for virtiofs
  tests/libvmi/vmi.go
  tests/nonroot_test.go
  tests/storage/storage.go
  tests/utils.go
Due: none

check running count is 0 in WaitDeletion and add logs
  tools/perfscale-load-generator/watcher/watcher.go
Due: none

Test: Add Label needs-three-nodes to It-'Should migrate over that network'
  tests/migration_test.go
Due: none

operator_test: avoid a ton of lambdas
  tests/operator_test.go
Due: none

tests: reuse GetComputeContainerOfPod
  tests/migration_test.go
  tests/utils.go
Due: none

Add mock for runc's cgroup Manager interface
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/generated_mock_cgroup.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Mock out runc cgroup manager in cgroups unit tests
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Refactor cgroups unit tests
  pkg/virt-handler/cgroup/cgroup_test.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

executor, make newLimitedBackoffWithClock public
  pkg/executor/backoff.go
  pkg/executor/backoff_test.go
  pkg/executor/pool_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

slow tests: Alpine VM startup is slow without cloud init network data
  tests/network/vmi_istio.go
  tests/network/vmi_passt.go
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/cluster/K8S.md
  cluster-up/cluster/K8S_DEV_GUIDE.md
  cluster-up/cluster/ephemeral-provider-common.sh
  cluster-up/cluster/k8s-1.21/provider.sh
  cluster-up/cluster/k8s-1.22-ipv6/provider.sh
  cluster-up/cluster/k8s-provider-common.sh
  cluster-up/cluster/kind-1.23/README.md
  cluster-up/cluster/kind-1.23/provider.sh
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

executor, Add IsTimeout function
  pkg/executor/backoff.go
  pkg/executor/backoff_test.go
  pkg/executor/executor.go
  pkg/executor/executor_test.go
Due: none

manual backport of b4b235aa5a319dde3d054aa86f161683af509dea Stable test_id:1542
  tests/network/vmi_networking.go
Due: none

Use libvmi builder pattern in tests/instancetype_test.go Use less resources in the test to be more resources efficiency
  tests/instancetype_test.go
Due: none

e2e test: append `GPUGate` FG to existing instead of override them
  tests/mdev_configuration_allocation_test.go
Due: none

Add performance options to libvmi
  tests/libvmi/BUILD.bazel
  tests/libvmi/performance.go
Due: none

Use libvmi realtime options in tests/performance/realtime.go
  tests/performance/BUILD.bazel
  tests/performance/realtime.go
Due: none

Use libvmi in tests/realtime/realtime.go
  tests/realtime/BUILD.bazel
  tests/realtime/realtime.go
Due: none

slow AlpineWithTestTooling startup
  tests/libvmi/factory.go
  tests/network/vmi_istio.go
  tests/network/vmi_passt.go
Due: none

Comply with OCP 4.11 and 4.12 Pod Security Standards (#2036)
  controllers/operands/kubevirtConsolePlugin.go
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  pkg/components/components.go
Due: none

VM Clone validation - make sure all PVCs snapshot-able
  pkg/virt-api/webhooks/validating-webhook/admitters/BUILD.bazel
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter_test.go
  tests/storage/clone.go
  tests/storage/snapshot.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Add Ryan as a scale-approver
  OWNERS_ALIASES
  hack/OWNERS
  pkg/monitoring/perfscale/OWNERS
  tests/performance/OWNERS
  tools/OWNERS
Due: pull-kubevirt-e2e-k8s-1.22-sig-monitoring

executor, pool: Simplify pool by embedding the `sync.Map`
  pkg/executor/pool.go
Due: none

lint: Cover the `executor` package
  Makefile
  pkg/executor/ratelimit/executor_suite_test.go
  pkg/executor/ratelimit/executor_test.go
  pkg/executor/ratelimit/pool_test.go
Due: none

executor, ratelimit: Rename components
  pkg/executor/ratelimit/executor.go
  pkg/executor/ratelimit/executor_test.go
  pkg/executor/ratelimit/pool.go
  pkg/executor/ratelimit/pool_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

executor: Move the existing ratelimit executor to its own package
  pkg/executor/ratelimit/BUILD.bazel
  pkg/executor/ratelimit/backoff.go
  pkg/executor/ratelimit/backoff_test.go
  pkg/executor/ratelimit/executor.go
  pkg/executor/ratelimit/executor_suite_test.go
  pkg/executor/ratelimit/executor_test.go
  pkg/executor/ratelimit/pool.go
  pkg/executor/ratelimit/pool_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.21-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.21-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
