Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

add libguestfs tools support for s390x. seabios is a x86 specific package and it is not supported on s390x. So moved the seabios from libguestfstools_main to libguestfstools_x86_64.
  BUILD.bazel
  WORKSPACE
  cmd/libguestfs/BUILD.bazel
  hack/bazel-push-images.sh
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms

Wait for test pod readiness before issuing commands
  tests/storage/export.go
Due: none

Re-activate the renovate bot (#3387)
  renovate.json
Due: none

selinux: add mock for selinux interface
  pkg/virt-handler/selinux/BUILD.bazel
  pkg/virt-handler/selinux/generated_mock_labels.go
  pkg/virt-handler/selinux/labels.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Truncate fabricated volume name in volume-enumeration helpers
  pkg/storage/utils/BUILD.bazel
  pkg/storage/utils/volumes.go
  pkg/storage/utils/volumes_test.go
Due: none

Truncate export pod volume names
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Due: none

make renovate to run only for main branch, for now (#3468)
  renovate.json
Due: none

Update vmi image to use Alpine instead of cirros to enable sig-operator tests on s390x.
  tests/operator/operator.go
Due: none

Add the KeepValueUpdated() method to time-defined cache
  tools/cache/BUILD.bazel
  tools/cache/time-defined-cache.go
Due: none

KeepValueUpdated(): unit tests
  tools/cache/time-defined-cache_test.go
Due: none

TimeDefinedCache: Reduce minRefreshDuration from 5 to 3.25 seconds
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: use KeepValueUpdated()
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Bump HPPO to v0.22.0 (#3470)
  deploy/cluster_role.yaml
  deploy/crds/hostpath-provisioner00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.15.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.15.0/manifests/kubevirt-hyperconverged-operator.v1.15.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.15.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.15.0/manifests/kubevirt-hyperconverged-operator.v1.15.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

Create a generic cache struct
  tools/cache/BUILD.bazel
  tools/cache/cache_suite_test.go
  tools/cache/time-defined-cache.go
  tools/cache/time-defined-cache_test.go
Due: none

cache GetDomainStats results for 5 seconds
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Use a regular Mutex over RWMutex to lock the entire Get() function
  tools/cache/time-defined-cache.go
Due: none

Refactor: Remove redandunt savedValueSet field
  tools/cache/BUILD.bazel
  tools/cache/time-defined-cache.go
Due: none

unit test: should not allow two threads to get value in parallel
  tools/cache/time-defined-cache_test.go
Due: none

unit test: remove redandunt test
  tools/cache/time-defined-cache_test.go
Due: none

Refactor: replace savedValue with value for simplification
  tools/cache/time-defined-cache.go
Due: none

e2e,migration: Remove quarantine from migration test checking for target pod failure
  tests/migration/migration.go
Due: none

virt-controller, vmi: change VM dvReadyCondition message
  pkg/virt-controller/watch/vmi/datavolumes.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Update ADOPTERS.md
  ADOPTERS.md
Due: none

net, e2e, readiness probe: Drop redundant params
  tests/network/probes.go
Due: none

net, e2e: Mark kubelet restart test as Disruptive
  tests/decorators/decorators.go
  tests/network/vmi_lifecycle.go
Due: none

Add metric validation to component monitoring tests
  tests/libmonitoring/BUILD.bazel
  tests/libmonitoring/scaling.go
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Add missing mutex lock for aaq.reset() (#3390)
  controllers/operands/aaq.go
Due: none

Fix kubevirt_vmi_migration_failed to not include VMIMs in 'uset' status
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/migrationstats_collector.go
  pkg/monitoring/metrics/virt-controller/migrationstats_collector_test.go
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Move the enableApplicationAwareQuota feature gate to new field (#3391)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  assets/upgradePatches.json
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/aaq.go
  controllers/operands/aaq_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  pkg/upgradepatch/hc.cr.json
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
  tests/func-tests/aaq_test.go
  tests/func-tests/defaults_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

removing timeout
  pkg/virt-controller/watch/pool/pool.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
