Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-verify-go-mod:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make deps-sync && hack/verify-generate.sh
  ...

pull-kubevirt-e2e-k8s-1.22-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
      - name: TARGET
        value: k8s-1.22-sig-monitoring
  ...

client-go, VM: Add context to the List() method
  pkg/virt-operator/webhooks/webhook.go
  pkg/virt-operator/webhooks/webhook_test.go
  staging/src/kubevirt.io/client-go/examples/listvms/list-vms.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/pool_test.go
  tests/reporter/kubernetes.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the GetWithExpandedSpec() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/subresource_api_test.go
Due: pull-kubevirt-verify-go-mod

Dont flood logs on sync guest time
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

client-go, VM: Add context to the Create() method
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/pool_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/clone_test.go
  tests/dryrun_test.go
  tests/instancetype_test.go
  tests/kubectl_test.go
  tests/migration_test.go
  tests/monitoring/monitoring.go
  tests/network/expose.go
  tests/operator/operator.go
  tests/pausing_test.go
  tests/performance/density.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/subresource_api_test.go
  tests/virtctl/create_vm.go
  tests/vm_test.go
  tests/vmi_cloudinit_test.go
  tests/vmidefaults_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod, pull-kubevirt-e2e-k8s-1.22-sig-monitoring

client-go, VM: Add context to the ForceStop() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the RemoveMemoryDump() method
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/storage/memorydump.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the ForceRestart() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Migrate() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the PatchStatus() method
  pkg/util/status/status.go
  pkg/util/status/status_test.go
  pkg/virt-api/rest/subresource_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Patch() method
  pkg/controller/controller_ref_manager.go
  pkg/instancetype/instancetype.go
  pkg/instancetype/instancetype_test.go
  pkg/util/status/status.go
  pkg/util/status/status_test.go
  pkg/virt-api/rest/subresource.go
  pkg/virt-api/rest/subresource_test.go
  pkg/virt-controller/watch/pool_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/operator/operator.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

client-go, VM: Add context to the RemoveVolume() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/storage/hotplug.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the AddVolume() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/storage/hotplug.go
  tests/storage/snapshot.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Start() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/subresource_api_test.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the UpdateStatus() method
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/util/status/status.go
  pkg/util/status/status_test.go
  pkg/virt-controller/watch/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Stop() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the MemoryDump() method
  pkg/virtctl/memorydump/memorydump.go
  pkg/virtctl/memorydump/memorydump_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  tests/storage/memorydump.go
  tests/storage/restore.go
  tests/storage/snapshot.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Update() method
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/storage/snapshot/snapshot_test.go
  pkg/storage/snapshot/source.go
  pkg/util/status/status.go
  pkg/util/status/status_test.go
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/pool_test.go
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/operator/operator.go
  tests/storage/export.go
  tests/utils.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Restart() method
  pkg/virtctl/vm/vm.go
  pkg/virtctl/vm/vm_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/subresource_api_test.go
Due: pull-kubevirt-verify-go-mod

client-go, VM: Add context to the Delete() method
  pkg/virt-controller/watch/pool.go
  pkg/virt-controller/watch/pool_test.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/vm.go
  staging/src/kubevirt.io/client-go/kubecli/vm_test.go
  tests/clone_test.go
  tests/dryrun_test.go
  tests/instancetype_test.go
  tests/kubectl_test.go
  tests/operator/operator.go
  tests/pool_test.go
  tests/storage/datavolume.go
  tests/storage/hotplug.go
  tests/storage/memorydump.go
  tests/storage/restore.go
  tests/template_test.go
  tests/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

Replace `HaveLen(0)` with `BeEmpty()` (#2247)
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/hyperconverged_suite_test.go
  controllers/hyperconverged/upgradePatches_test.go
  controllers/operands/dashboard_test.go
  controllers/operands/imageStream_test.go
  controllers/operands/operand_test.go
  controllers/operands/quickStart_test.go
  controllers/operands/ssp_test.go
  controllers/webhooks/controller_test.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/validator/validator_test.go
Due: none

Test: Fix PSA issue on OKD
  tests/testsuite/namespace.go
Due: none

Respect GS_IMAGE in virtctl guestfs
  pkg/virt-api/api.go
  pkg/virtctl/guestfs/guestfs.go
  pkg/virtctl/guestfs/guestfs_test.go
  staging/src/kubevirt.io/client-go/kubecli/guestfs.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

fix(virtctl): Make create vm cmd e2e-test more robust
  tests/virtctl/create_vm.go
Due: none

Remove "default" from supported disk IO modes
  pkg/instancetype/instancetype_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance, pull-kubevirt-verify-go-mod

Fix operator target
  automation/test.sh
Due: none

tests, network: xfail mac-spoof-check
  tests/network/BUILD.bazel
  tests/network/vmi_multus.go
Due: none

Add labels parameter to CreateFSPVC helper function
  tests/libstorage/pvc.go
  tests/storage/memorydump.go
  tests/virtctl/create_vm.go
Due: none

Increase virtqemud overhead
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Test: Seccomp increase timeout
  tests/operator/operator.go
Due: none

Tests: Fix seccomp on psa enabled clusters
  tests/operator/BUILD.bazel
  tests/operator/operator.go
Due: none

tests: Add 'get-or-skip' helpers for storage class
  tests/libstorage/storageclass.go
Due: none

tests: Use Get*StorageClassOrSkip() in the tests
  tests/instancetype_test.go
  tests/libstorage/pvc.go
  tests/migration_test.go
  tests/storage/datavolume.go
  tests/storage/export.go
  tests/storage/hotplug.go
  tests/storage/imageupload.go
  tests/storage/memorydump.go
  tests/storage/storage.go
Due: none

add test id
  tests/storage/snapshot.go
Due: none

fix cpu limits handling when isolatedEmulatorThread is requested
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Add support for vm deletion with --cascade=orphan
  pkg/virt-controller/watch/vm.go
  tests/storage/datavolume.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Only update the size of existing iso files
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Removes duplicated iso paths
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Remove duplicated volume source path generation
  pkg/virt-controller/services/rendervolumes.go
Due: pull-kubevirt-e2e-k8s-1.22-sig-performance

Create iso files only if Disk is present
  pkg/config/BUILD.bazel
  pkg/config/config.go
Due: none

Path conditions:
  pull-kubevirt-e2e-k8s-1.23-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.23-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.22-sig-performance: any of: ^pkg/virt-api/.*|^pkg/virt-handler/.*|^pkg/virt-controller/.*|^pkg/virt-launcher/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-verify-go-mod: any of: ^vendor/.*|^staging/.*|go\.mod$|go\.sum$
  pull-kubevirt-e2e-k8s-1.22-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
