Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

docs: move networking doc from docs/devel to docs/network
  docs/network/bridge-binding.svg
  docs/network/network-binding-mechanisms.md
Due: none

docs/network: bridge-binding diagram: show eth0-nic and dummy interface
  docs/network/bridge-binding.svg
Due: none

docs/network: networking: correct dummy interface explanation
  docs/network/network-binding-mechanisms.md
Due: none

docs/network: networking: fix bridge binding manifest structure
  docs/network/network-binding-mechanisms.md
Due: none

e2e, net: Make gofumpt
  tests/network/bindingplugin_passt.go
Due: none

e2e, net, passt: Rm passt test
  tests/network/passt.go
Due: none

hack, linter: Remove passt e2e exclusion
  hack/linter/.golangci.yml
Due: none

e2e, net, passt: Mv bindingplugin_passt
  tests/network/BUILD.bazel
  tests/network/passt.go
Due: none

e2e, net: Convert bindingplugin_passt to use core passt binding
  tests/network/bindingplugin_passt.go
Due: none

virtwrap, storage, backup_tunnel: use filewatcher
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_tunnel.go
  pkg/virt-launcher/virtwrap/storage/backup_tunnel_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

docs/network: bridge-binding diagram: rename vnet0 label to tap0
  docs/network/bridge-binding.svg
Due: none

docs/network: networking: fix phase-2 DHCP and dummy interface descriptions
  docs/network/network-binding-mechanisms.md
Due: none

docs/network: networking: fix broken link and use GitHub Note syntax
  docs/network/network-binding-mechanisms.md
Due: none

Added to CI building
  BUILD.bazel
  hack/bazel-build-images.sh
  hack/bazel-push-images.sh
  hack/builder/Dockerfile
Due: publish-kubevirt-builder

Add TargetReadinessPolicy enum options to VirtualMachineRestoreSpec
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: replace %+v with resource name in error messages
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apiservices.go
  pkg/virt-operator/resource/apply/apps.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/crds.go
  pkg/virt-operator/resource/apply/instancetypes.go
  pkg/virt-operator/resource/apply/prometheus.go
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/routes.go
  pkg/virt-operator/resource/apply/ssc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: add fallback API Get when CRD is not found in cache
  pkg/virt-operator/resource/apply/crds.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: fix nil-pointer dereference in error paths with shadowed variables
  pkg/virt-operator/resource/apply/admissionregistration.go
  pkg/virt-operator/resource/apply/apps.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: update unit tests for CRD cache fallback Get
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virtwrap, converter: move disk source conversion to converter/storage
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/storage/converter.go
  pkg/virt-launcher/virtwrap/converter/storage/converter_test.go
  pkg/virt-launcher/virtwrap/converter/storage/paths.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/cbt.go
  pkg/virt-launcher/virtwrap/storage/cbt_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: add unit test for CRD cache miss fallback
  pkg/virt-operator/kubevirt_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

VEP-10: improve and refactor validation logic for DRA GPUs and host devices
  pkg/dra/admitter/BUILD.bazel
  pkg/dra/admitter/dra_admitter.go
  pkg/dra/admitter/dra_admitter_test.go
Due: none

VEP-10: fix the container paths and decode json stream
  pkg/dra/metadata/types.go
  pkg/dra/utils.go
  pkg/dra/utils_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vep-10: follow-up fixes from code freeze
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Wire firmware auto-selection through virt-controller and virt-launcher
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add e2e test for firmware auto-selection with EFI Secure Boot
  tests/vmi_configuration_test.go
Due: none

wip
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update module github.com/moby/spdystream to v0.5.1 [SECURITY]
  go.mod
  go.sum
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/BUILD.bazel
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: none

TargetMigrationMonitor: Introduce logger
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

TargetMigrationMonitor: Move out the logger creation
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/live-migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

TargetMigrationMonitor: Remove vmi field
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/live-migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Target Migration Monitor: Remove unused field
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/live-migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
