Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

tests: drop deprecated NewRandomVMWithEphemeralDisk
  tests/storage/export.go
  tests/utils.go
Due: none

Apply monitoring linters (#2827)
  Makefile
  go.mod
  go.sum
  pkg/monitoring/rules/rules_test.go
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram.go
  tests/vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram_vec.go
  tests/vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary.go
  tests/vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary_vec.go
  tests/vendor/modules.txt
  vendor/github.com/grafana/regexp/.gitignore
  vendor/github.com/grafana/regexp/LICENSE
  vendor/github.com/grafana/regexp/README.md
  vendor/github.com/grafana/regexp/backtrack.go
  vendor/github.com/grafana/regexp/exec.go
  vendor/github.com/grafana/regexp/onepass.go
  vendor/github.com/grafana/regexp/regexp.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/histogram_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary.go
  vendor/github.com/machadovilaca/operator-observability/pkg/operatormetrics/summary_vec.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/alert_custom_validations.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/alert_validation.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/linter.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/problem.go
  vendor/github.com/machadovilaca/operator-observability/pkg/testutil/recording_rule_validation.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

tests,cloud-init: Move secret creation to package
  tests/BUILD.bazel
  tests/libsecret/BUILD.bazel
  tests/libsecret/secret.go
  tests/vmi_cloudinit_test.go
Due: none

tests,compute,credntials: Make use of libsecret
  tests/compute/BUILD.bazel
  tests/compute/credentials.go
Due: none

tests/util/labels: Remove SecretLabel
  tests/libsecret/secret.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/namespace.go
  tests/util/labels.go
Due: none

tests,vmi lifecycle: Make use of libsecret
  tests/vmi_lifecycle_test.go
Due: none

Refactor kubevirt_vmi_number_of_outdated
  pkg/monitoring/metrics/virt-controller/BUILD.bazel
  pkg/monitoring/metrics/virt-controller/metrics.go
  pkg/monitoring/metrics/virt-controller/vmi_metrics.go
  pkg/virt-controller/watch/workload-updater/BUILD.bazel
  pkg/virt-controller/watch/workload-updater/workload-updater.go
  pkg/virt-controller/watch/workload-updater/workload-updater_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

tests, utils: Drop NewRandomVMWithDataVolumeAndUserDataInStorageClass
  tests/storage/export.go
  tests/storage/restore.go
  tests/utils.go
Due: none

replace StartVMAndExpectRunning with RunVMAndExpectLaunchWithRunStrategy
  tests/clone_test.go
  tests/compute/vmidefaults.go
  tests/instancetype_test.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/utils.go
Due: none

nichotplug: use function type for the argument
  pkg/virt-launcher/virtwrap/nichotplug.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

nichotplug: early return on special cases
  pkg/virt-launcher/virtwrap/nichotplug.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests: Fix memory hotplug tests
  tests/hotplug/memory.go
Due: none

tests: Don't include memory sizes in messages
  tests/hotplug/memory.go
Due: none

tests: Use consistent value for maxGuest
  tests/hotplug/memory.go
Due: none

nichotplug: refactor: don't DeepCopy
  pkg/virt-launcher/virtwrap/nichotplug.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virtwrap: drop return of api.Domain in preStartHook()
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

virtwrap: remove unneeded call to OnDefineDomain
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

workspace: Switch to Alpine 3.19
  WORKSPACE
Due: pull-kubevirt-verify-rpms

virtwrap: Don't ignore <memory><target><address>
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

rpm: Update virtualization packages
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms

vendor: Update libvirt.org/go/libvirt
  go.mod
  go.sum
  vendor/libvirt.org/go/libvirt/connect.go
  vendor/libvirt.org/go/libvirt/doc.go
  vendor/libvirt.org/go/libvirt/domain.go
  vendor/libvirt.org/go/libvirt/error.go
  vendor/libvirt.org/go/libvirt/libvirt_generated_callbacks.h
  vendor/libvirt.org/go/libvirt/libvirt_generated_enums.h
  vendor/libvirt.org/go/libvirt/libvirt_generated_functions.h
  vendor/libvirt.org/go/libvirt/libvirt_generated_functions_dlopen_network.go
  vendor/libvirt.org/go/libvirt/libvirt_generated_functions_static_network.go
  vendor/libvirt.org/go/libvirt/libvirt_generated_macros.h
  vendor/libvirt.org/go/libvirt/libvirt_generated_typedefs.h
  vendor/libvirt.org/go/libvirt/network.go
  vendor/libvirt.org/go/libvirt/network_events.go
  vendor/libvirt.org/go/libvirt/network_events_helper.go
  vendor/libvirt.org/go/libvirt/network_events_helper.h
  vendor/libvirt.org/go/libvirt/typedparams.go
  vendor/libvirt.org/go/libvirtxml/domain.go
  vendor/libvirt.org/go/libvirtxml/network.go
  vendor/modules.txt
Due: none

Migration create mutator: Extract addMigrationSelectorLabel
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator: Remove code duplication
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator: Extract addMigrationFinalizer
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

tests,cloud-init: Move secret creation to package
  Makefile
  tests/BUILD.bazel
  tests/libsecret/BUILD.bazel
  tests/libsecret/secret.go
  tests/vmi_cloudinit_test.go
Due: none

tests, utils: move GetVcpuMask func from utils
  tests/utils.go
  tests/vmi_configuration_test.go
Due: none

tests/storage: remove newVMIWithEphemeralPVC()
  tests/storage/storage.go
Due: none

broke down validateDisks function into smaller focused units
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

e2e: Double number of e2e parallel nodes from 3 to 6
  automation/test.sh
  hack/functests.sh
Due: none

test
  test
Due: none

Updating delete VM unit test to account for patching grace period
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Adding e2e tests
  tests/vm_test.go
Due: none

Make sure VM graceperiod is not nil before patching Small update to the unit test
  pkg/virt-controller/watch/vm.go
  pkg/virt-controller/watch/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator test: Extract newAdmissionReview
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator test: Move to test pkg
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator test: Extract newMigration
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Migration create mutator test: Unify tests
  pkg/virt-api/webhooks/mutating-webhook/mutators/migration-create-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
