Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

virt-launcher: Deprecate old method to set SSH key in VM
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials.go
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Rest, console: Refactor validation
  pkg/virt-api/rest/console.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Rest: Move Dialer to its own file
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/dialer.go
  pkg/virt-api/rest/streamer.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: use net.JoinHostPort for IPv6-safe sync address formatting
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/core_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add removememorydump subresource to admin and edit RBAC roles
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/cluster_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix timeout issues during restore test vmi console login
  tests/console/BUILD.bazel
  tests/console/console.go
  tests/console/login.go
  tests/storage/restore.go
Due: none

Improved guidelines on PR expectations
  docs/commit-message-guidelines.md
Due: none

Updated PR template and renamed commit-message-guidelines.md to reflect its new purpose
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/pr-guidelines.md
Due: none

tests: make hotplug tests storage-agnostic
  tests/storage/hotplug.go
Due: none

fix hotplug migration race condition
  pkg/virt-controller/watch/migration/migration.go
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Replace panic() calls with structured error handling
  cmd/synchronization-controller/synchronization-controller.go
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/watch/application.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fix kube-burner prometheus endpoint ENV variable
  hack/perfscale-kube-burner-test.sh
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

bump go version to 1.26.0
  WORKSPACE
  hack/builder/Dockerfile
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

vep-10: migrate away from k8sv1.PodResourceClaim to kubevirts own type
  api/openapi-spec/swagger.json
  pkg/dra/BUILD.bazel
  pkg/dra/admitter/BUILD.bazel
  pkg/dra/admitter/dra_admitter_test.go
  pkg/dra/resource_claims.go
  pkg/dra/utils.go
  pkg/dra/utils_test.go
  pkg/libvmi/devices.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tools/vms-generator/utils/utils.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vep-10: use the kubernetes DRA metadata decoder
  pkg/dra/BUILD.bazel
  pkg/dra/attributes.go
  pkg/dra/metadata/BUILD.bazel
  pkg/dra/metadata/types.go
  pkg/dra/utils.go
  pkg/dra/utils_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/BUILD.bazel
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/generic_hostdev_test.go
  pkg/virt-launcher/virtwrap/device/hostdevice/dra/gpu_hostdev_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update storage.go
  pkg/virt-controller/watch/vmi/storage.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update vmi_test.go
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update volume-migration_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Update backend-storage.go
  pkg/storage/backend-storage/backend-storage.go
Due: none

rename runc references to crun
  cmd/virt-chroot/cgroup.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/generated_mock_cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/hotplug-disk/mount_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Switch cgroup imports from runc/libcontainer to opencontainers/cgroups
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/cgroup.go
  cmd/virt-chroot/main.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/generated_mock_cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/hotplug-disk/BUILD.bazel
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

work around cilium/ebpf BPF_F_REPLACE bug for cgroup devices
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/cgroup.go
  go.mod
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: hardcode cgroups v2 behavior, disable v1 code paths
  cmd/virt-chroot/cgroup.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/generated_mock_cgroup.go
  pkg/virt-handler/cgroup/util.go
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/hotplug-disk/mount_test.go
  pkg/virt-handler/vm.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: simplify subsystem-paths to a plain list of cgroup paths
  cmd/virt-chroot/cgroup.go
  cmd/virt-chroot/main.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cgroups: delete dead cgroups v1 code, files, flags, and tests
  cmd/virt-chroot/BUILD.bazel
  cmd/virt-chroot/cgroup.go
  cmd/virt-chroot/main.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/cgroup/BUILD.bazel
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/cgroup/cgroup_v1_manager.go
  pkg/virt-handler/cgroup/cgroup_v2_manager.go
  pkg/virt-handler/cgroup/util.go
  tests/migration/BUILD.bazel
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

dra/admitter: simplify duplicate pair validation flow
  pkg/dra/admitter/dra_admitter.go
Due: none

tests/operator: Fix upgrade test to select correct previous minor release
  tests/operator/operator.go
Due: none

tests/operator: Extract version detection to testable package
  hack/bazel-test.sh
  tests/operator/BUILD.bazel
  tests/operator/operator.go
  tests/operator/version/BUILD.bazel
  tests/operator/version/version.go
  tests/operator/version/version_suite_test.go
  tests/operator/version/version_test.go
Due: none

tests/operator: Refactor version detection to support Y and Z releases
  tests/operator/version/version.go
  tests/operator/version/version_test.go
Due: none

Feat: Record K8s event on VMI when GuestAgentPing probe fails
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-launcher/virtwrap/cmd-server/BUILD.bazel
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/cmd-server/server_test.go
  tests/compute/BUILD.bazel
  tests/compute/guest_agent.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed iothreads shadowing
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Fixed IOThread supplemental pool CPU pinning
  pkg/util/hardware/hw_utils.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads.go
  pkg/virt-launcher/virtwrap/converter/vcpu/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
  pkg/virt-launcher/virtwrap/cpudedicated/cpudedicated.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/operator: perform z-1 and y-1 upgrade tests
  tests/operator/operator.go
  tests/operator/version/version.go
Due: none

fix: remove inProgress short-circuit from target-side prepareMigrationTarget
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance
