Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

tests, net, passt: Convert startAndVerifyUDPClient to a regular func
  tests/network/bindingplugin_passt.go
Due: none

tests, net, passt: Remove yet another redundant context level
  tests/network/bindingplugin_passt.go
Due: none

e2e, tests-suite: Support OncePerOrderedCleanup label
  tests/decorators/decorators.go
  tests/tests_suite_test.go
Due: none

tests, net, passt: Reuse the VMs when executing both IP families
  tests/network/bindingplugin_passt.go
Due: none

tests, net, passt: Create TCP server per IP family using different ports
  tests/network/bindingplugin_passt.go
Due: none

handle nil pointer dereference and added a test
  pkg/virt-handler/options.go
  pkg/virt-handler/options_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Move the deployKubeSecondaryDNS feature gate to new field (#3372)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  assets/upgradePatches.json
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.15.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  pkg/upgradepatch/hc.cr.json
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
  tests/func-tests/defaults_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: Don't expose qemu implicit pause
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

resolving feedback
  pkg/virt-controller/watch/common/events.go
  pkg/virt-controller/watch/pool/pool.go
  pkg/virt-controller/watch/pool/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: don't consider unschedulable nodes
  tests/libnode/node.go
Due: none

Revert "migrations,e2e: Quarantine flaky compute-migrations tests"
  tests/migration/migration.go
  tests/migration/postcopy.go
  tests/vm_state_test.go
Due: none

avoid loopback nfs
  automation/test.sh
Due: none

host model migration: mark unschedulable nodes not suitable
  pkg/virt-controller/watch/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add the dispatcher binary to virt-handler
  cmd/virt-handler/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: add placeholder's functions
  cmd/virt-launcher/BUILD.bazel
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

isolation: expose GetPid
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: move function to virtiofs package
  pkg/virt-controller/services/virtiofs.go
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add virtiofsd-dispatcher
  cmd/virtiofs-dispatcher/BUILD.bazel
  cmd/virtiofs-dispatcher/main.c
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add supplementalPool option to ioThreadsPolicy description
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

sig-compute changes for s390x architecture
  BUILD.bazel
  containerimages/BUILD.bazel
  hack/bazel-push-images.sh
  tests/clone_test.go
  tests/compute/console.go
  tests/compute/vmidefaults.go
  tests/config_test.go
  tests/container_disk_test.go
  tests/containerdisk/containerdisk.go
  tests/dryrun_test.go
  tests/guestlog/guestlog.go
  tests/hotplug/rolloutstrategy.go
  tests/hyperv_test.go
  tests/infrastructure/k8s-client-changes.go
  tests/kubectl_test.go
  tests/migration/migration.go
  tests/monitoring/monitoring.go
  tests/numa/numa.go
  tests/pdb_test.go
  tests/pool_test.go
  tests/replicaset_test.go
  tests/security_features_test.go
  tests/stability_test.go
  tests/usb/usb.go
  tests/vm_test.go
  tests/vmi_cloudinit_hook_sidecar_test.go
  tests/vmi_cloudinit_test.go
  tests/vmi_configuration_test.go
  tests/vmi_controller_test.go
  tests/vmi_iothreads_test.go
  tests/vmi_lifecycle_test.go
  tests/vmi_multiqueue_test.go
  tests/vmi_sound_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-monitoring

virt-controller: Introduce FirmwareController to persist UUID
  pkg/libvmi/vmi.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/firmware.go
  pkg/virt-controller/watch/vm/firmware_test.go
  pkg/virt-controller/watch/vm/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests/clone: fix vm clone tests
  tests/clone_test.go
Due: none

tests/operator/tests: adjust the upgrade tests
  tests/operator/operator.go
Due: none

pkg/storage/restore-controller: apply legacy UUID to restored VM
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Due: none

resolving feedback
  pkg/virt-controller/watch/pool/BUILD.bazel
  tests/pool_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

feat(numa): Support associating NUMA nodes with GPU
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/util/hardware/hw_utils.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-handler/options.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/pci-placement.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

VMRestore: Keep VM RunStrategy as before the restore
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
Due: none

VMRestore test: change existing test to be less basic
  tests/storage/restore.go
Due: none

VMRestore: improve unit tests
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore_test.go
Due: none

fix flakes
  pkg/monitoring/rules/alerts/virt-controller.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

services: adjust virtiofs container
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

template: add extra virtiofs volume if required
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

handler: create dispatcher for virtiofs
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/virtiofs/BUILD.bazel
  pkg/virt-handler/virtiofs/dispatcher.go
  pkg/virt-handler/virtiofs/dispatcher_suite_test.go
  pkg/virt-handler/virtiofs/dispatcher_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofsd-dispatcher: add functional test
  tests/virtiofs/BUILD.bazel
  tests/virtiofs/datavolume.go
Due: none
