Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

functionality works now; added more crd print columns
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/snapshot/schedule.go
  pkg/virt-operator/resource/generate/components/crds.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add tests
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/schedule_test.go
Due: none

storage, cbt: avoid enabling CBT from domain when VMI CBT is disabled
  pkg/storage/cbt/cbt.go
  pkg/storage/cbt/cbt_test.go
Due: none

fix some more places
  tests/launchsecurity/secure-execution.go
  tests/launchsecurity/sev.go
  tests/migration/postcopy.go
  tests/migration/recovery.go
  tests/network/bindingplugin_macvtap.go
  tests/network/primary_pod_network.go
  tests/network/services.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
  tests/network/vmi_subdomain.go
  tests/performance/realtime.go
  tests/realtime/realtime.go
  tests/virtctl/create_vm.go
  tests/vmi_cloudinit_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: Integrate refactored passt
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/network/passtrefactor/BUILD.bazel
  pkg/virt-handler/controller.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

net, passt: Introduce refactored package
  pkg/network/passtrefactor/BUILD.bazel
  pkg/network/passtrefactor/passt_repair_executor.go
  pkg/network/passtrefactor/passt_repair_migration.go
  pkg/network/passtrefactor/passt_suite_test.go
  pkg/network/passtrefactor/passtrepair_test.go
Due: none

net, passt: Rm old passt pkg
  pkg/network/passt/BUILD.bazel
  pkg/network/passt/activevmprovider.go
  pkg/network/passt/passt_suite_test.go
  pkg/network/passt/repair.go
  pkg/network/passt/repair_test.go
Due: none

net, passt: Mv passtrecator passt
  cmd/virt-handler/BUILD.bazel
  cmd/virt-handler/virt-handler.go
  pkg/network/passt/BUILD.bazel
  pkg/network/passt/passt_repair_executor.go
  pkg/network/passt/passt_repair_migration.go
  pkg/network/passt/passt_suite_test.go
  pkg/network/passt/passtrepair_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter, net: Reduce dep on arch-specific logic
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/configurator.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests/monitoring: remove redundant Prometheus CRD check
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/skips.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-monitoring

tests/checks: rename skips.go to fails.go.
  tests/framework/checks/BUILD.bazel
  tests/framework/checks/fails.go
Due: none

Add VirtLauncherPodsStuckFailed alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

fix/add tests
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/crds_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

address some feedback, more work and testing required
  pkg/storage/snapshot/schedule.go
  pkg/storage/snapshot/schedule_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types.go
  staging/src/kubevirt.io/api/snapshot/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Make domain XML testdata static
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml.tmpl
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

bugfix: prevent VM migration between different CPU vendors
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  tests/infrastructure/node-labeller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests/infra/node-labeller: refactor test_id:6246 assertions
  tests/infrastructure/node-labeller.go
Due: none

launcher, converter: Always set domain.Spec.Features
  pkg/virt-launcher/virtwrap/api/defaults.go
  pkg/virt-launcher/virtwrap/converter/compute/hypervisor_features.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter, HF: Return early on error
  pkg/virt-launcher/virtwrap/converter/compute/hypervisor_features.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Container_disk_test: Convert Skip to Fail
  automation/test.sh
  tests/container_disk_test.go
  tests/decorators/decorators.go
Due: none

tests/infrastructure/prometheus.go: Replace Skip
  tests/infrastructure/prometheus.go
Due: none

MDEV test: Remove Skip
  tests/mdev_configuration_allocation_test.go
Due: none

Replicaset test: Replace Skip
  tests/replicaset_test.go
Due: none

Compute parallel: Skip storage required tests
  automation/test.sh
Due: none

VM test: Replace Skip
  tests/vm_test.go
Due: none

Prometheus test: Remove skip on IPv6
  tests/infrastructure/BUILD.bazel
  tests/infrastructure/prometheus.go
Due: none

VMBackupTracker: Introduce new CRD
  api/api-rule-violations-known.list
  api/api-rule-violations.list
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/controller/virtinformers.go
  pkg/storage/admitters/backup.go
  pkg/storage/cbt/backup.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/components/crds.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/rbac/apiserver.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  pkg/virt-operator/resource/generate/rbac/controller.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/register.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubecli/kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/backup_client.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/BUILD.bazel
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/fake_backup_client.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/fake/fake_virtualmachinebackuptracker.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/generated_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/backup/v1alpha1/virtualmachinebackuptracker.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: Add incremental backup support with checkpoint tracking
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

test_id:4632: Increase memory in order to boot
  tests/vmi_configuration_test.go
Due: none

test_id:4632: Fix failed memory write
  tests/vmi_configuration_test.go
Due: none

cbt: Don't modify VMI CBT status when feature gate is disabled
  pkg/storage/cbt/cbt.go
  pkg/storage/cbt/cbt_test.go
Due: none

Add a new config option to opt-out RBAC aggregation
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/apply/rbac.go
  pkg/virt-operator/resource/apply/rbac_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

windows lane: W/A wrong nfs image SEEK_DATA impl
  automation/test.sh
Due: none

add new metric to keep track of ephemeral hotplug volumes per vmi.
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-controller/watch/vmi/storage.go
  staging/src/kubevirt.io/api/core/v1/types.go
  tests/monitoring/metrics.go
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

add new eventhandler in vmi controller to reenqueuevmis when the owner vm's volumes update. this will be removed once HotplugVolumes feature gate is removed
  pkg/virt-controller/watch/vmi/storage.go
  pkg/virt-controller/watch/vmi/vmi.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

reuse existing libmonitoring func for testing
  tests/storage/BUILD.bazel
  tests/storage/hotplug.go
Due: none

Revert "Remove expectations from migration-target as it"
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler: migration-target: delete expectations on nonexistent VMIs
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix: improve expectations management for accurate VMI reconciliation.
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

fix(vmbda): cgroup vmbda (#52)
  go.mod
  go.sum
  go.work.sum
  pkg/virt-handler/hotplug-disk/mount.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance
