Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md

hack, cls deploy: Deploy network dra test driver
  hack/cluster-deploy.sh
Due: none

tests: add s390x CEX DRA e2e for VM AP passthrough
  automation/test.sh
  tests/compute/BUILD.bazel
  tests/compute/cex_dra.go
  tests/decorators/decorators.go
Due: none

Force native sidecar injection for Istio-enabled virt-launcher pods
  pkg/network/istio/decorators.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add domain constants lint
  Makefile
  hack/lint-domain-consts.py
  pkg/virtctl/vmexport/vmexport.go
Due: none

tests: replace libvmi.New() with libvmifact.NewGuestless() for s390x
  tests/compute/subresources/usbredir.go
  tests/infrastructure/k8s-client-changes.go
  tests/vmi_lifecycle_test.go
Due: none

setMigrationResult: use AbortStatus instead of message parsing
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: fix possible abort race and tighten timing
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cancelMigration: drop error return value
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/generated_mock_manager.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

handleMigrationAbort: check domain metadata before VMI AbortStatus
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

api: add SynchronizationEndpointLabel and SynchronizationEndpoint condition
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: add label-filtered informers for sync endpoint discovery
  pkg/controller/virtinformers.go
  pkg/virt-operator/BUILD.bazel
  pkg/virt-operator/application.go
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/util/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: implement sync endpoint address discovery
  pkg/virt-operator/resource/apply/BUILD.bazel
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/util/client.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-operator: add tests for sync endpoint address discovery
  pkg/virt-operator/resource/apply/core_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

synchronization-controller: advertise Route sync address for proxy mode
  cmd/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

migration: gate downtime steps on MemIteration, not only cooldown
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-source_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Add SELinux relabeling and qemu ownership
  cmd/test-helpers/dra-network-test-driver/pkg/driver/hostpath.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Add CDI support
  cmd/test-helpers/dra-network-test-driver/pkg/driver/driver.go
  cmd/test-helpers/dra-network-test-driver/pkg/driver/hostpath.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Add passt as a backend device
  cmd/test-helpers/dra-network-test-driver/cmd/main.go
  cmd/test-helpers/dra-network-test-driver/pkg/driver/driver.go
  cmd/test-helpers/dra-network-test-driver/pkg/driver/passt.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Add build files for DRA driver
  cmd/test-helpers/BUILD.bazel
  cmd/test-helpers/dra-network-test-driver/cmd/BUILD.bazel
  cmd/test-helpers/dra-network-test-driver/pkg/driver/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Stop passt on unprepare
  cmd/test-helpers/dra-network-test-driver/pkg/driver/driver.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

cmd, test-helpers, dra: Add example manifests
  cmd/test-helpers/dra-network-test-driver/manifests/daemonset.yaml
  cmd/test-helpers/dra-network-test-driver/manifests/deviceclass.yaml
  cmd/test-helpers/dra-network-test-driver/manifests/networkpolicy.yaml
  cmd/test-helpers/dra-network-test-driver/manifests/rbac.yaml
  cmd/test-helpers/dra-network-test-driver/manifests/serviceaccount.yaml
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

defaults: keep ClusterConfig assertion next to the interface
  pkg/defaults/defaults.go
  pkg/defaults/defaults_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

device-manager: Added secure guest capacity device plugin
  pkg/util/BUILD.bazel
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/virt-controller/services/renderresources.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/generic_device.go
  pkg/virt-handler/device-manager/generic_device_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

device-manager: split dummy device plugin out of generic device plugin
  tests/launchsecurity/sev.go
Due: none

device-manager: split dummy device plugin out of generic device plugin
  pkg/util/util.go
  pkg/util/util_test.go
  pkg/virt-handler/cgroup/cgroup.go
  pkg/virt-handler/cgroup/cgroup_test.go
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_controller.go
  pkg/virt-handler/device-manager/dummy_device.go
  pkg/virt-handler/device-manager/dummy_device_test.go
  pkg/virt-handler/device-manager/generic_device.go
  tests/launchsecurity/sev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Read from misc.max if misc.capacity is not present
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

Convert to unit test and delete logchecker entry
  pkg/virt-handler/vm_test.go
  tests/storage/storage.go
  tests/vmlogchecker/checker.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests, network: add E2E coverage for masquerade port ranges
  pkg/libvmi/network.go
  tests/network/BUILD.bazel
  tests/network/vmi_networking.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

tests: enable cpu/memory int/float requests test on s390x
  tests/vm_test.go
Due: none

nominate akalenyu for SIG compute approver
  OWNERS_ALIASES
Due: none

hack, rpms: Bump passt Bump passt rpm in centos stream 9, As it includes a bux fix for [1]
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Notify server: Ignore client error
  pkg/virt-handler/notify-server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Notify server: Make event chan private
  pkg/virt-handler/notify-server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests/network: add DRA network binding plugin connectivity test
  tests/decorators/decorators.go
  tests/network/BUILD.bazel
  tests/network/bindingplugin_dra.go
Due: none

tests/testsuite: Resolve testing manifests consistently
  tests/flags/flags.go
  tests/operator/operator.go
  tests/testsuite/manifest.go
Due: none

tests/testsuite: Limit startup readiness to declared workloads
  hack/bazel-test.sh
  tests/testsuite/BUILD.bazel
  tests/testsuite/fixture.go
  tests/testsuite/infrastructure_readiness.go
  tests/testsuite/infrastructure_readiness_test.go
Due: none

tests/testsuite: Check CDI readiness during suite startup
  hack/functests.sh
  tests/README.md
  tests/flags/flags.go
  tests/testsuite/BUILD.bazel
  tests/testsuite/cdi_readiness.go
  tests/testsuite/cdi_readiness_test.go
  tests/testsuite/fixture.go
Due: none

lint, test-network-vhostuser-dra-binding: Add it to linters
  hack/linter/lint-paths.txt
Due: none
