Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

preference: Create panic device when PreferredPanicDeviceModel is set
  pkg/instancetype/preference/apply/device.go
  pkg/instancetype/preference/apply/device_test.go
Due: none

tests/network: use pod affinity instead of node listing in NAD live update test
  pkg/libvmi/selector.go
  tests/network/nad_live_update.go
Due: none

tests/network: use pod affinity instead of node listing in binding plugin test
  tests/network/bindingplugin.go
Due: none

tests/network: use pod affinity instead of node pinning in SR-IOV tests
  tests/network/sriov.go
Due: none

tests/network: use pod affinity instead of node listing in macvtap binding plugin test
  tests/network/bindingplugin_macvtap.go
Due: none

tests/network: use pod affinity in custom MAC address multus test
  tests/network/vmi_multus.go
Due: none

tests/network: use pod affinity in MAC spoof check multus test
  tests/network/vmi_multus.go
Due: none

tests/network: drop validateSRIOVSetup, rely on SRIOV decorator
  tests/network/hotplug_sriov.go
  tests/network/sriov.go
Due: none

read lastRaw under lock in ca manager GetCurrentRaw
  pkg/util/tls/ca-manager.go
  pkg/util/tls/ca-manager_test.go
Due: none

tests: remove taint/toleration scheduling e2e tests
  tests/vmi_lifecycle_test.go
Due: none

tests: remove node affinity scheduling e2e tests
  tests/vmi_lifecycle_test.go
Due: none

fix: use BUILD_ARCH to derive architecture in virt-template push-images
  hack/virt-template/push-images.sh
Due: none

Run go run ./robots/uploader -workspace /home/prow/go/src/github.com/kubevirt/project-infra/../kubevirt/WORKSPACE -dry-run=false
  WORKSPACE
Due: pull-kubevirt-verify-rpms

converter, clock: cover all ClockDomainConfigurator code paths
  pkg/virt-launcher/virtwrap/converter/compute/clock_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

converter, clock: drop unreachable error path from clock conversion
  pkg/virt-launcher/virtwrap/converter/compute/clock.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

CCA support enablement. The following additions and modifications were implemented to enable the launching of ARM CCA supported VMs.
  pkg/util/BUILD.bazel
  pkg/util/arm64.go
  pkg/util/util.go
  pkg/virt-api/webhooks/arm64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-controller/services/nodeselectorrenderer.go
  pkg/virt-controller/services/template.go
  pkg/virt-handler/node-labeller/cpu_plugin.go
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-handler/node-labeller/model.go
  pkg/virt-handler/node-labeller/node_labeller.go
  pkg/virt-handler/node-labeller/node_labeller_test.go
  pkg/virt-handler/node-labeller/testdata/arm64/domcapabilities_arm64-cca.xml
  pkg/virt-handler/node-labeller/testdata/arm64/domcapabilities_arm64-cca_non_measurement-algo.xml
  pkg/virt-handler/node-labeller/testdata/arm64/domcapabilities_arm64-cca_non_value_for_measurement-algo.xml
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security_test.go
  pkg/virt-launcher/virtwrap/converter/compute/os.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network/configurator.go
  pkg/virt-launcher/virtwrap/converter/types/converter-context.go
  pkg/virt-launcher/virtwrap/efi/efi.go
  pkg/virt-launcher/virtwrap/efi/efi_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Gate KubeVirt readiness on virt-template rollout for TLS config changes
  pkg/virt-operator/resource/apply/reconcile.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Support inferFromVolume for VolumeSnapshot-backed sources
  pkg/instancetype/infer/BUILD.bazel
  pkg/instancetype/infer/handler_test.go
  pkg/instancetype/infer/volume.go
Due: none

tests/network: use binding plugin in vmi_networking conformance
  tests/decorators/decorators.go
  tests/network/vmi_networking.go
Due: none

hack/conformance: pass primary network binding plugin to sonobuoy
  hack/conformance.sh
Due: none

tests/network: use binding plugin in services conformance
  tests/network/services.go
Due: none

tests/network: add IPv6 label decorator for masquerade-specific tests
  tests/decorators/decorators.go
  tests/network/vmi_networking.go
Due: none

tests/conformance: pass primary network binding plugin env to test binary
  tests/conformance/conformance.go
Due: none

tests/network: use binding plugin in networkpolicy conformance
  tests/network/networkpolicy.go
Due: none

tests/network: use binding plugin in primary pod network conformance
  tests/network/primary_pod_network.go
Due: none

tests/libnet: add ConformancePodNetworkInterface helper
  tests/libnet/BUILD.bazel
  tests/libnet/vmibuilder.go
Due: none

tests/flags: add --primary-network-binding-plugin flag
  tests/flags/flags.go
Due: none

converter: Add unit tests for QemuCmdDomainConfigurator
  pkg/virt-launcher/virtwrap/converter/compute/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/compute/qemu_cmd_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add automation for sig-compute-dra-gpu lane
  automation/test.sh
Due: none

Unquarantine decentralized live migration cancel tests
  tests/migration/namespace.go
Due: none

fix: skip memfd memory backend on s390x
  pkg/virt-launcher/virtwrap/converter/arch/amd64.go
  pkg/virt-launcher/virtwrap/converter/arch/arm64.go
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/s390x.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: make hugetblfs-dir EmptyDir hugepage-backed
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

rename hostdev test so it gets filtered by CI
  tests/storage/hotplug.go
Due: none

tests: enhance failure messages in storage/hotplug tests and storage/declarative-hotplug tests
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
Due: none

Remove sprintf from hotplug and update assertions in declarative-hotplug
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
Due: none

pkg/instancetype/infer: refactor label threading into volumeHandler
  pkg/instancetype/infer/handler.go
  pkg/instancetype/infer/volume.go
Due: none

tests: add envtest test for VM/VMI generation tracking
  tests/envtest/vm_generation_test.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
