Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2, pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2, pull-kubevirt-e2e-k8s-1.25-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.26-sig-monitoring

pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-e2e-k8s-1.25-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-e2e-k8s-1.26-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

api: create new condition VMIStorageLiveMigratable
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Bump HPPO to v0.20.0 (#3053)
  deploy/cluster_role.yaml
  deploy/crds/hostpath-provisioner00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

use a real context in migration-create-admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in pod-eviction-admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/pod-eviction-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in kubevirt-deletion-admitter
  pkg/virt-operator/webhooks/webhook.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in vms-admitter and status_admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/status-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in kubevirt-update-admitter
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in vmclone-admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/vmclone-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in kubevirt-create-admitter
  pkg/virt-operator/webhooks/kubevirt-create-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in vmrestore-admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/vmrestore-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

use a real context in vmsnapshot-admitter
  pkg/virt-api/webhooks/validating-webhook/admitters/vmsnapshot-admitter.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

remove the unused type AlwaysPassAdmitter
  pkg/util/webhooks/validating-webhooks/validating-webhook.go
Due: none

Add namespace label to UnsupportedHCOModification alerts (#3049)
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/operator_alerts.go
Due: pull-kubevirt-e2e-k8s-1.26-sig-monitoring

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Don't emit a secret created event if the secret was not created
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
Due: none

console plugin/proxy: Change AntiAffinity rule to 'Preferred' instead of 'Required' (#3051)
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
Due: none

Fix storage test so we run command on valid lun disk
  tests/storage/storage.go
Due: none

device-plugin: evaluate error for the Send function
  pkg/virt-handler/device-manager/device_plugin_base.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

device-manager: move the permission to the device base plugin
  pkg/virt-handler/device-manager/device_plugin_base.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

device-plugin: unit tests for the device plugin base
  pkg/virt-handler/device-manager/device_plugin_base_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

device-manager: move the generic plugin tests
  pkg/virt-handler/device-manager/BUILD.bazel
  pkg/virt-handler/device-manager/device_plugin_base_test.go
  pkg/virt-handler/device-manager/generic_device_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

device-manager: device base plugin for the generic device
  pkg/virt-handler/device-manager/generic_device.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

apply: fix the test to match the new patch package
  pkg/virt-operator/resource/apply/core_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

tests, net: Remove common error variable
  tests/network/vmi_networking.go
Due: none

tests, net: Move constants closer to their usage
  tests/network/vmi_networking.go
Due: none

tests, net: Move check-mac-address helper to libnet and reuse
  tests/libnet/BUILD.bazel
  tests/libnet/mac.go
  tests/network/sriov.go
  tests/network/vmi_multus.go
  tests/network/vmi_networking.go
Due: none

Cpu hotplug: Introduce test for default topology
  tests/hotplug/cpu.go
Due: none

builder: Bump the golangci-lint to v1.60.1
  hack/builder/Dockerfile
Due: none

golangci-lint, config: Handle deprecation of 'check-shadowing'
  .golangci.yml
Due: none

logverbosity: refactoring the patch operations
  pkg/virtctl/adm/logverbosity/logverbosity.go
Due: none

password: refactoring the patch operations
  pkg/virtctl/credentials/password/BUILD.bazel
  pkg/virtctl/credentials/password/password.go
Due: none

common: remove unused functions
  pkg/virtctl/credentials/common/BUILD.bazel
  pkg/virtctl/credentials/common/common.go
Due: none

addkey: refactoring the patch operations
  pkg/virtctl/credentials/addkey/addkey.go
Due: none

golangci-lint, config: Remove the unused 'gci' linter
  .golangci.yml
Due: none

Bump kubevirtci
  cluster-up-sha.txt
  cluster-up/hack/common.sh
  cluster-up/version.txt
  hack/config-default.sh
Due: none

golangci-lint, config: Replace the deprecated 'gomnd' with 'mnd'
  .golangci.yml
Due: none

Bump HPP to v0.20.0 (#3054)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.13.0/manifests/kubevirt-hyperconverged-operator.v1.13.0.clusterserviceversion.yaml
  deploy/operator.yaml
  hack/config
Due: none

refactor the KubeVirtCRModified alert e2e flaky test (#3052)
  tests/func-tests/monitoring_test.go
Due: none

virt-ctrl, template: Introduce annotations generator
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.25-sig-performance

Path conditions:
  pull-kubevirt-e2e-k8s-1.24-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.25-sig-compute-cgroupsv2: any of: pkg/virt-handler/cgroup/.*
  pull-kubevirt-e2e-k8s-1.24-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-storage-cgroupsv2: any of: pkg/virt-handler/cgroup/.*|pkg/virt-handler/hotplug-disk/.*|pkg/hotplug-disk/.*|cmd/virt-chroot/cgroup.go
  pull-kubevirt-e2e-k8s-1.25-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.26-sig-monitoring: any of: ^pkg/monitoring/.*|tests/monitoring/.*$
