Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

isolation: expose GetPid
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add the dispatcher binary to virt-handler
  cmd/virt-handler/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: add placeholder's functions
  cmd/virt-launcher/BUILD.bazel
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

api: Extend launch security to include secure execution
  api/openapi-spec/swagger.json
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

schema: Fix typo
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtiofs: move function to virtiofs package
  pkg/virt-controller/services/virtiofs.go
  pkg/virtiofs/BUILD.bazel
  pkg/virtiofs/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

services: adjust virtiofs container
  pkg/virt-controller/services/BUILD.bazel
  pkg/virt-controller/services/virtiofs.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

template: add extra virtiofs volume if required
  pkg/virt-controller/services/template.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: CPU hotplug: give time for domxml to update
  pkg/virt-handler/cmd-client/client.go
  tests/hotplug/cpu.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

handler: create dispatcher for virtiofs
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/virtiofs/BUILD.bazel
  pkg/virt-handler/virtiofs/dispatcher.go
  pkg/virt-handler/virtiofs/dispatcher_suite_test.go
  pkg/virt-handler/virtiofs/dispatcher_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: emit VMI event on hotplug failure
  pkg/virt-handler/hotplug-disk/mount.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Provide graceful deletion for no ACPI guests
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

make, lint: Limit use of OncePerOrderedCleanup
  Makefile
  hack/lint-test-cleanup-label.sh
Due: none

startDomainNotifyPipe: Refactor out Pipe creation.
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/notify-server/pipe/BUILD.bazel
  pkg/virt-handler/notify-server/pipe/pipe.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Refactor out pipe proxy logic
  pkg/virt-handler/notify-server/pipe/pipe.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Client info: Use context instead of channel
  pkg/virt-handler/cache/maps.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Notify: fix case where pipe would break
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Move notify tests to its own file
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/notify_test.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Pipe proxy: Factor out handle routine
  pkg/virt-handler/notify-server/pipe/pipe.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Handler: Remove unused domainNotifyPipes
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Notify test: Cleanup
  pkg/virt-handler/notify_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

chore(tests,virtctl): Reuse VMI in ssh and scp tests
  tests/virtctl/scp.go
  tests/virtctl/ssh.go
Due: none

net, e2e, multus: bridge binding with custom MAC - Adjust cloud-init
  tests/network/vmi_multus.go
Due: none

net, e2e, NIC hotplug: Fix cloud-init definition
  tests/network/hotplug_bridge.go
Due: none

net, e2e, multus: MAC Spoof - Adjust cloud-init
  tests/network/vmi_multus.go
Due: none

net, e2e: Quarantine passt BP test on IPv6
  tests/network/bindingplugin_passt.go
Due: none

tests, net, passt: Create TCP/UDP server per IP family
  tests/network/bindingplugin_passt.go
Due: none

tests, net, passt: Reuse the VMs when executing both IP families
  tests/network/bindingplugin_passt.go
Due: none

virt-handler: use the global vmiStore in getVMIFromCache()
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: always set the migration EndTimestamp
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: make migrationMetadata not overwritable
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: optimize setGuestTime()
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: don't set the migration EndTimestamp
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: do not set the migration as Completed
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: remove Completed from MigrationMetadata
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler: ack the migration when it is actually done
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix tests dependency
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Migration quota test: Wait for quota
  tests/migration/migration.go
Due: none

migration controller: switch to a priority queue
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
