Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

tests: debug CI failure by listing hotplug volumes
  tests/storage/migration.go
Due: none

tools/vms-generator: replace memory resource request with guest memory
  tools/vms-generator/utils/utils.go
Due: none

examples: add generated changes
  examples/vm-alpine-datavolume.yaml
  examples/vm-alpine-multipvc.yaml
  examples/vm-cirros-clarge-virtio.yaml
  examples/vm-cirros-clarge-windows.yaml
  examples/vm-cirros-clarge.yaml
  examples/vm-cirros-cluster-csmall.yaml
  examples/vm-cirros-csmall.yaml
  examples/vm-cirros-sata.yaml
  examples/vm-cirros-with-sidecar-hook-configmap.yaml
  examples/vm-cirros.yaml
  examples/vm-pool-cirros.yaml
  examples/vm-priorityclass.yaml
  examples/vm-windows-clarge-windows.yaml
  examples/vmi-alpine-efi.yaml
  examples/vmi-arm.yaml
  examples/vmi-ephemeral.yaml
  examples/vmi-fedora-isolated.yaml
  examples/vmi-fedora.yaml
  examples/vmi-gpu.yaml
  examples/vmi-host-disk.yaml
  examples/vmi-kernel-boot.yaml
  examples/vmi-masquerade.yaml
  examples/vmi-migratable.yaml
  examples/vmi-multus-multiple-net.yaml
  examples/vmi-multus-ptp.yaml
  examples/vmi-nocloud.yaml
  examples/vmi-pvc.yaml
  examples/vmi-replicaset-cirros.yaml
  examples/vmi-sata.yaml
  examples/vmi-secureboot.yaml
  examples/vmi-sriov.yaml
  examples/vmi-usb.yaml
  examples/vmi-with-sidecar-hook-configmap.yaml
  examples/vmi-with-sidecar-hook.yaml
Due: none

tools: exclude tools.go from regular builds
  tools/BUILD.bazel
  tools/tools.go
Due: none

bazel: include //tools/... in test targets
  hack/bazel-test.sh
Due: none

tests: login into the VM after volume migration
  tests/storage/migration.go
Due: none

fix(quarantine): de-quarantine guestlog test
  tests/guestlog/guestlog.go
Due: none

tests: verify handling of multipathd.socket
  tests/storage/reservation.go
Due: none

Trigger VMCannotBeEvicted only for running VMIs
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  tests/monitoring/vm_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Add unit test coverage
  pkg/virt-controller/watch/vmi/BUILD.bazel
  pkg/virt-controller/watch/vmi/vmi_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

functest: Adapt hotplug volumes test to use declarative API
  tests/storage/declarative-hotplug.go
  tests/storage/hotplug.go
  tests/storage/restore.go
  tests/storage/snapshot.go
  tests/testsuite/kubevirtresource.go
Due: none

api: Add MSDM table to ACPI
  staging/src/kubevirt.io/api/core/v1/schema.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virtwrap: fix ACPI table on schema.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

test: e2e ACPI MSDM table
  tests/vmi_configuration_test.go
Due: none

Implement MSDM ACPI logic
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Generate API
  api/openapi-spec/swagger.json
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix migration target flow
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/launcher-clients/launcher-clients.go
  pkg/virt-handler/launcher-clients/mock_launcher-clients.go
  pkg/virt-handler/migration-source.go
  pkg/virt-handler/migration-source_test.go
  pkg/virt-handler/migration-target.go
  pkg/virt-handler/migration-target_test.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  tests/migration/eviction_strategy.go
  tests/migration/migration.go
  tests/storage/migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add license header linter for pkg/network
  hack/license-header-check.sh
  pkg/network/cache/cache_suite_test.go
  pkg/network/cache/cache_test.go
  pkg/network/cache/dhcpconfig_test.go
  pkg/network/cache/domaininterface_test.go
  pkg/network/controllers/controllers_suite_test.go
  pkg/network/controllers/vmi.go
  pkg/network/controllers/vmi_test.go
  pkg/network/deviceinfo/deviceinfo.go
  pkg/network/deviceinfo/deviceinfo_suite_test.go
  pkg/network/deviceinfo/deviceinfo_test.go
  pkg/network/dhcp/bridge.go
  pkg/network/dhcp/bridge_test.go
  pkg/network/dhcp/configurator_test.go
  pkg/network/dhcp/dhcp_suite_test.go
  pkg/network/dhcp/server/server_suite_test.go
  pkg/network/dhcp/serverv6/serverv6_suite_test.go
  pkg/network/dns/dns_suite_test.go
  pkg/network/dns/resolveconf.go
  pkg/network/dns/resolveconf_test.go
  pkg/network/domainspec/domainspec_suite_test.go
  pkg/network/downwardapi/downwardapi_suite_test.go
  pkg/network/downwardapi/networkinfo.go
  pkg/network/downwardapi/networkinfo_test.go
  pkg/network/driver/driver_suite_test.go
  pkg/network/errors/errors.go
  pkg/network/link/link_suite_test.go
  pkg/network/multus/multus_suite_test.go
  pkg/network/multus/status_test.go
  pkg/network/setup/network_suite_test.go
  pkg/network/setup/podnic_test.go
  pkg/network/vmispec/infosource.go
Due: none

tests/vmi_configuration_test: drop a redundant e2e test
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  tests/vmi_configuration_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-controller: Support declarative volume hotplug on VM
  pkg/storage/types/pvc.go
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

rpm-deps: add qemu-kvm-device-display-virtio-vga for x86_64
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms

feat(snapshot): introduce volumerestorepolicies
  api/openapi-spec/swagger.json
  pkg/storage/admitters/BUILD.bazel
  pkg/storage/admitters/vmrestore.go
  pkg/storage/admitters/vmrestore_test.go
  pkg/storage/snapshot/BUILD.bazel
  pkg/storage/snapshot/restore.go
  pkg/storage/snapshot/restore_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types.go
  staging/src/kubevirt.io/api/snapshot/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/storage/restore.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

add /dev/zero in default cgroupsv2 rules
  pkg/virt-handler/cgroup/util.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

net, ctrl: Mv ApplyDynamicIfaceRequestOnVMI
  pkg/network/controllers/hotplug.go
  pkg/network/controllers/vm.go
Due: none

net, ctrl, vm: Move hotplug + hotunplug test
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Due: none

net, ctrl, vm: Move hotplug absent iface test
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Due: none

net, ctrl: Move test to caller
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm_test.go
Due: none

net, ctrl: Mv ClearDetachedInterfaces
  pkg/network/controllers/BUILD.bazel
  pkg/network/controllers/hotplug.go
  pkg/network/controllers/hotplug_test.go
  pkg/network/controllers/vm.go
Due: none

Fix misspellings in tests folders migration, operator
  tests/migration/host_model.go
  tests/migration/migration.go
  tests/operator/operator.go
Due: none

dont-review: Try to run sriov test in loop
  automation/test.sh
  pkg/virt-launcher/notify-client/client.go
  pkg/virt-operator/util/config.go
  tests/network/sriov.go
  tests/reporter/kubernetes.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/run/run_command.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add logs
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

revert to original timeout, to try and gather logs
  tests/network/sriov.go
Due: none

fix(tests): remove forced tests
  tests/storage/restore.go
Due: none

fix(restore): merge
  pkg/storage/snapshot/restore.go
Due: none

examples: add generated changes
  examples/vm-alpine-datavolume.yaml
  examples/vm-alpine-multipvc.yaml
  examples/vm-cirros-clarge-virtio.yaml
  examples/vm-cirros-clarge-windows.yaml
  examples/vm-cirros-clarge.yaml
  examples/vm-cirros-cluster-csmall.yaml
  examples/vm-cirros-csmall.yaml
  examples/vm-cirros-sata.yaml
  examples/vm-cirros-with-sidecar-hook-configmap.yaml
  examples/vm-cirros.yaml
  examples/vm-pool-cirros.yaml
  examples/vm-priorityclass.yaml
  examples/vm-windows-clarge-windows.yaml
  examples/vmi-alpine-efi.yaml
  examples/vmi-arm.yaml
  examples/vmi-ephemeral.yaml
  examples/vmi-fedora-isolated.yaml
  examples/vmi-fedora.yaml
  examples/vmi-gpu.yaml
  examples/vmi-host-disk.yaml
  examples/vmi-kernel-boot.yaml
  examples/vmi-masquerade.yaml
  examples/vmi-migratable.yaml
  examples/vmi-multus-multiple-net.yaml
  examples/vmi-multus-ptp.yaml
  examples/vmi-nocloud.yaml
  examples/vmi-preset-small.yaml
  examples/vmi-pvc.yaml
  examples/vmi-replicaset-cirros.yaml
  examples/vmi-sata.yaml
  examples/vmi-secureboot.yaml
  examples/vmi-sriov.yaml
  examples/vmi-usb.yaml
  examples/vmi-windows.yaml
  examples/vmi-with-sidecar-hook-configmap.yaml
  examples/vmi-with-sidecar-hook.yaml
Due: none

virt-chroot, create-tap: Don't create redundant fds
  cmd/virt-chroot/tap-device-maker.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-api: Add DeclarativeHotplugVolumes feature gate and allow CD-ROM with no volume
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-update-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-launcher: inject/eject cd-rom
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

functest: Declarative Volume Hotplug tests
  pkg/libvmi/storage.go
  pkg/libvmi/vm.go
  tests/containerdisk/containerdisk.go
  tests/storage/BUILD.bazel
  tests/storage/declarative-hotplug.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
