Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md

Operator: Use tag for strategy job if given
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

bugfix: prevent live migration between different architectures
  pkg/virt-controller/watch/migration/migration.go
  tests/infrastructure/node-labeller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-handler, isolation: Allow pinning maxMemory+overheads
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

handler, isolation: Bugfix calc when no mem requests
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

net, e2e, SR-IOV: Add memory hotplug test
  tests/network/BUILD.bazel
  tests/network/sriov.go
Due: none

handler, detector: Cosmetic rename vm to vmi
  pkg/virt-handler/isolation/detector.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add Guest memory alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
  tests/monitoring/monitoring.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

bugfix: prevent live migration between different vendors
  go.work.sum
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  tests/infrastructure/node-labeller.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce DomainBuilder
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/builder.go
  pkg/virt-launcher/virtwrap/converter/builder_test.go
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce metadata DomainConfigurator
  hack/linter/lint-paths.txt
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/metadata/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/metadata/configurator.go
  pkg/virt-launcher/virtwrap/converter/metadata/configurator_test.go
  pkg/virt-launcher/virtwrap/converter/metadata/metadata_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce virtio package
  hack/linter/lint-paths.txt
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/virtio/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/virtio/transitional-model.go
  pkg/virt-launcher/virtwrap/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/network/nichotplug.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Move MultiQueueMaxQueues
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/OWNERS
  pkg/virt-launcher/virtwrap/converter/network/virtio-queues.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Introduce network DomainConfigurator
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/configurator.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

launcher, converter: Move NetworkQueuesCapacity
  pkg/network/setup/BUILD.bazel
  pkg/network/setup/netconf.go
  pkg/virt-launcher/virtwrap/converter/network.go
  pkg/virt-launcher/virtwrap/converter/network/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/network/virtio-queues.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

converter, test: Add UT for memBalloon defaults
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

e2e, vmidefaults: Drop memballoon test
  tests/compute/vmidefaults.go
Due: none

virtoperator BugFix:remove leftover install strategies
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/strategy.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Operator conifg: Remove unused function
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

SetDefaultArchitecture, convert to function
  pkg/virt-operator/kubevirt.go
  pkg/virt-operator/util/config.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Simplify getMonitorNamespace
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/install/strategy_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Aggregate component images.
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/util/config.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Operator, components: Move image generation up stack
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Operator: Move GetConfigFromEnv to strategy
  pkg/virt-operator/resource/generate/install/strategy.go
  pkg/virt-operator/resource/generate/install/strategy_test.go
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Operator, strategy: Remove unused code
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/util/BUILD.bazel
  pkg/virt-operator/util/config.go
  pkg/virt-operator/util/config_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

converter, manager: SetOptimalIOMode dynamic preallocation check
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests, storage, configuration: remove redundant tests
  tests/storage/configuration.go
Due: none

converter_test: add IO modes unit test
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

converter_test: move getOptimalBlockIO describe into Converter tests
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Container_disk_test: Convert Skip to Fail
  automation/test.sh
  tests/container_disk_test.go
  tests/decorators/decorators.go
Due: none

Replicaset test: Replace Skip
  tests/replicaset_test.go
Due: none

VMI configuration test: Remove Skip
  tests/vmi_configuration_test.go
Due: none

MDEV test: Remove Skip
  tests/mdev_configuration_allocation_test.go
Due: none

VM test: Replace Skip
  tests/vm_test.go
Due: none

tests/infrastructure/prometheus.go: Replace Skip
  tests/infrastructure/prometheus.go
Due: none

Compute parallel: Skip storage required tests
  automation/test.sh
Due: none

test_id:4632: Fix failed memory write
  tests/vmi_configuration_test.go
Due: none
