Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.31-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.31-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.31-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20250701-f32dbda
      name: ''
  ...

startup probe added for vmi
  api/openapi-spec/swagger.json
  docs/probes.md
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-controller/services/renderresources_test.go
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/defaults.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/zz_generated.defaults.go
  staging/src/kubevirt.io/client-go/api/defaults_test.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  tests/network/probes.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

startupProbe added for virt components(daemonsets/deployments)
  pkg/virt-operator/resource/generate/components/daemonsets.go
  pkg/virt-operator/resource/generate/components/deployments.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Bump libvirt-go to v1.11005.0
  go.mod
  go.sum
  vendor/libvirt.org/go/libvirt/BUILD.bazel
  vendor/libvirt.org/go/libvirt/admin.go
  vendor/libvirt.org/go/libvirt/admin_helper.go
  vendor/libvirt.org/go/libvirt/admin_helper.h
  vendor/libvirt.org/go/libvirt/admin_stub.go
  vendor/libvirt.org/go/libvirt/events.go
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_callbacks.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_dlopen.go
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_dlopen.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_enums.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_functions.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_functions_dlopen.go
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_functions_static.go
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_macros.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_structs.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_typedefs.h
  vendor/libvirt.org/go/libvirt/libvirt_admin_generated_variables.h
  vendor/libvirt.org/go/libvirt/libvirt_generated_typedefs.h
  vendor/modules.txt
Due: none

Register workqueue metrics on init
  pkg/monitoring/metrics/common/workqueue/metrics.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

Deps: Update Libvirt
  WORKSPACE
  hack/bootstrap.sh
  hack/rpm-deps.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-verify-rpms

tests: Fix focus and skip support
  hack/functests.sh
Due: none

Fix build functests dependency
  WORKSPACE
Due: pull-kubevirt-verify-rpms

virt-config: Clean up VMPersistentState and MultiArchitecture docs
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add workqueue metrics to docs and e2e tests
  docs/observability/metrics.md
  pkg/monitoring/metrics/common/workqueue/metrics.go
  tests/libmonitoring/BUILD.bazel
  tests/libmonitoring/metrics.go
  tests/monitoring/BUILD.bazel
  tests/monitoring/metrics.go
  tools/doc-generator/BUILD.bazel
  tools/doc-generator/doc-generator.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance, pull-kubevirt-e2e-k8s-1.31-sig-monitoring

virt-config: Refactor the virt-api client rate limiting configuration
  pkg/virt-api/api.go
  pkg/virt-config/configuration.go
  pkg/virt-config/virt-config.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

add test case to check VMExport is no longer stuck in Pending when using a source Pod that is Completed
  pkg/virt-controller/watch/util/util.go
  tests/storage/export.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Revert "virt-operator: Stop using deprecated node-role.kubernetes.io/master taint"
  manifests/generated/operator-csv.yaml.in
  pkg/virt-handler/node-labeller/cpu_plugin_test.go
  pkg/virt-operator/resource/placement/placement.go
  pkg/virt-operator/resource/placement/placement_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Remove LabelApplyStorageProfile from test PVCs which was creating additional overhead and preventing it from binding to the associated PV
  tests/libstorage/pvc.go
Due: none

Changed some checks in the test to be more human readable. Use should succeed instead of should not have occurred. Also match error instead of be true.
  tests/migration/namespace.go
Due: none

Derive eviction-in-progress annotation from VMI eviction status
  pkg/virt-controller/watch/descheduler/BUILD.bazel
  pkg/virt-controller/watch/descheduler/descheduler.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_test.go
  pkg/virt-controller/watch/vmi/vmi.go
  pkg/virt-controller/watch/vmi/vmi_test.go
  tests/migration/evacuation.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

TODO: benchmark
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/migration/migration_bench_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

Moved sleep to end of loop instead of checking if the counter > 0
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix hotplug decentralized live migration
  pkg/virt-controller/services/template.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Check if hotplugged disks are ready before allowing migration to start.
  pkg/virt-launcher/virtwrap/live-migration-target.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Remove retry loop when checking if hotplugged disks are ready to use. Instead use the retry mechanism from the virt-handler.
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Fix error message when hotplugged disks are not ready to use.
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Allow migration resource to be gone if the VMI referenced by it is gone already. In that case verify that the VMI is gone and the VM is halted
  tests/libmigration/BUILD.bazel
  tests/libmigration/migration.go
  tests/migration/namespace.go
Due: none

Verify the hotplug volume is mounted before reporting the node address to the source
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

kubevirt-update-validator: add warning when ppc64le arch config is set
  pkg/virt-operator/webhooks/kubevirt-update-admitter.go
  pkg/virt-operator/webhooks/kubevirt-update-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-api: remove ppc64le arch occurrences
  pkg/virt-api/webhooks/BUILD.bazel
  pkg/virt-api/webhooks/mutating-webhook/mutators/vm-mutator_test.go
  pkg/virt-api/webhooks/mutating-webhook/mutators/vmi-mutator_test.go
  pkg/virt-api/webhooks/ppc64le.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-launcher: remove ppc64le arch occurrences
  pkg/virt-launcher/virtwrap/api/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/BUILD.bazel
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/archdefaults_test.go
  pkg/virt-launcher/virtwrap/api/arch-defaulter/ppc64le.go
  pkg/virt-launcher/virtwrap/api/defaults_test.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/api/testdata/domain_ppc64le.xml.tmpl
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/arch/converter.go
  pkg/virt-launcher/virtwrap/converter/arch/converter_test.go
  pkg/virt-launcher/virtwrap/converter/arch/ppc64le.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_ppc64le.xml.tmpl
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

hack/builder/commons: remove ppc64le arch TODO comment
  hack/builder/common.sh
Due: publish-kubevirt-builder

cleanup: remove WithPrivileged occurrences and related code
  docs/build-the-builder.md
  pkg/virt-controller/services/rendercontainer.go
  pkg/virt-controller/services/rendercontainer_test.go
  pkg/virt-controller/services/template_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

virt-controller: remove ppc64le arch occurrences
  pkg/virt-controller/services/template.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-controller/watch/topology/hinter_test.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

docs/build-the-builder.md: remove ppc64le arch occurrences
  docs/build-the-builder.md
Due: none

virt-config: remove ppc64le arch occurrences
  pkg/virt-config/configuration.go
  pkg/virt-config/configuration_test.go
  pkg/virt-config/virt-config.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

api: deprecate ppc64le arch configuration
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

tests: remove ppc64le arch occurrences
  tests/vmi_configuration_test.go
Due: none

Fix decentralized live migration with vTPM devices
  cmd/virt-launcher-monitor/virt-launcher-monitor.go
  pkg/storage/backend-storage/backend-storage.go
  pkg/virt-controller/watch/migration/BUILD.bazel
  pkg/virt-controller/watch/migration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Merge pull request #15302 from awels/fix_hotplug_decentralized_migration
  pkg/virt-controller/services/template.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  tests/libmigration/BUILD.bazel
  tests/libmigration/migration.go
  tests/migration/namespace.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

libvmi: add properly named cpu/mem setters
  pkg/libvmi/cpu.go
  pkg/libvmi/memory.go
Due: none

Fix PCI device plugin to handle multiple devices per IOMMU group
  pkg/virt-handler/device-manager/pci_device.go
Due: pull-kubevirt-e2e-k8s-1.31-sig-performance

Add new StorageClassCSI config value instead of querying the available storage classes
  tests/default-ceph-config.json
  tests/libstorage/config.go
  tests/libstorage/storageclass.go
  tests/storage/migration.go
Due: none

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.31-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.31-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
