Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

Disable low count alerts e2e tests
  tests/monitoring/component_monitoring.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Add unit tests for low virt component count alerts
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: pull-kubevirt-prom-rules-verify

notify-server: return Serve() error from RunServer
  pkg/virt-handler/notify-server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

notify-server: stop deleting socket file on exit
  pkg/virt-handler/notify-server/server.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

[WIP] latest CDI with parallel imageupload tests
  hack/cdi-operator.yaml
  hack/cluster-deploy.sh
  tests/virtctl/imageupload.go
Due: none

wip: disable virtctl imageupload retries for testing
  pkg/virtctl/imageupload/imageupload.go
Due: none

tests/vnc: Share VMI setup across VNC connection specs
  hack/lint-test-cleanup-label.sh
  tests/vnc_test.go
Due: none

sriov: Read NUMA sysfs from node via virt-launcher pod
  tests/network/sriov.go
Due: none

hotplug_sriov: Use Fedora image instead of Alpine
  tests/network/hotplug_sriov.go
Due: none

sriov: Increase reattach host-device test timeout
  tests/network/sriov.go
Due: none

sriov: Detect emulated SR-IOV before applying link_state in NAD
  tests/network/BUILD.bazel
  tests/network/sriov.go
Due: none

[WIP] cbt tests: try removing from quaratine
  automation/test.sh
  tests/storage/backup.go
Due: none

Fix bug in VirtualMachineStuckOnNode alert
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/rules/alerts/vms.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

Add recording rules with new naming
  docs/observability/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/monitoring/metrics/virt-api/vm_metrics.go
  pkg/monitoring/rules/alerts/system.go
  pkg/monitoring/rules/alerts/virt-api.go
  pkg/monitoring/rules/alerts/virt-controller.go
  pkg/monitoring/rules/alerts/virt-operator.go
  pkg/monitoring/rules/alerts/vms.go
  pkg/monitoring/rules/recordingrules/BUILD.bazel
  pkg/monitoring/rules/recordingrules/api.go
  pkg/monitoring/rules/recordingrules/deprecated_recordingrules.go
  pkg/monitoring/rules/recordingrules/nodes.go
  pkg/monitoring/rules/recordingrules/operator.go
  pkg/monitoring/rules/recordingrules/recordingrules.go
  pkg/monitoring/rules/recordingrules/virt.go
  pkg/monitoring/rules/recordingrules/vm.go
  pkg/monitoring/rules/recordingrules/vmi.go
  pkg/monitoring/rules/recordingrules/vmsnapshot.go
  tests/monitoring/component_monitoring.go
  tests/monitoring/metrics.go
  tests/monitoring/vm_monitoring.go
  tools/perfscale-audit/metric-client/metric-client.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Fixed iothreads shadowing
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Adding to the API for adv SEV-SNP configurations
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  staging/src/kubevirt.io/api/core/v1/schema.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

test cleanup: don't panic over notfound for vm storage resources
  tests/testsuite/namespace.go
Due: none

Added config feature and added flattened struct
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/api/schema_test.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Added custom policy and validation logic for cusotm policies and kernel booting
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security_test.go
  pkg/virt-launcher/virtwrap/launchsecurity/BUILD.bazel
  pkg/virt-launcher/virtwrap/launchsecurity/sev.go
  pkg/virt-launcher/virtwrap/launchsecurity/sev_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Added e2e testing for custom SEV-SNP Policies
  api/openapi-spec/swagger.json
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  tests/launchsecurity/BUILD.bazel
  tests/launchsecurity/sev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Unit Test: covers s390x Arch related scenario
  pkg/virt-launcher/virtwrap/converter/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/converter_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fix: block resize shrinking disks with a qcow2 overlay
  pkg/virt-launcher/virtwrap/manager.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "virt-operator, resource: add kubevirt-backup-ca secret and cm"
  pkg/controller/virtinformers.go
  pkg/virt-operator/kubevirt_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/secrets.go
  pkg/virt-operator/resource/generate/rbac/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "virt-exportserver: add backup export source handling"
  cmd/virt-exportserver/virt-exportserver.go
  pkg/storage/export/virt-exportserver/BUILD.bazel
  pkg/storage/export/virt-exportserver/exportserver.go
  pkg/storage/export/virt-exportserver/exportserver_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "tests, storage, backup: Add pull mode tests"
  tests/storage/BUILD.bazel
  tests/storage/backup.go
Due: none

Revert "storage, vmexport: introduce VirtualMachineBackup source"
  api/openapi-spec/swagger.json
  pkg/controller/virtinformers.go
  pkg/storage/admitters/BUILD.bazel
  pkg/storage/admitters/vmexport.go
  pkg/storage/admitters/vmexport_test.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/backup-source.go
  pkg/storage/export/export/backup-source_test.go
  pkg/storage/export/export/export.go
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/paths.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/export/v1beta1/deepcopy_generated.go
  staging/src/kubevirt.io/api/export/v1beta1/types.go
  staging/src/kubevirt.io/api/export/v1beta1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "backup: add preliminary pull mode support"
  api/openapi-spec/swagger.json
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_test.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "virtwrap, backup: silence backup job errors for pull mode"
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/backup_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "nbd, mock: generate mock NBD for tests"
  hack/generate.sh
  pkg/storage/cbt/nbd/v1/BUILD.bazel
  pkg/storage/cbt/nbd/v1/generated_mock_nbd.go
Due: none

Revert "export_test, cert-manager: move MockCertificateManager to cert-manager"
  pkg/certificates/bootstrap/cert-manager.go
  pkg/storage/export/export/BUILD.bazel
  pkg/storage/export/export/export_test.go
  pkg/storage/export/export/pvc-source_test.go
  pkg/storage/export/export/vm-source_test.go
  pkg/storage/export/export/vmsnapshot-source_test.go
Due: none

Revert "virtwrap, storage: add backup tunnel for pull mode"
  pkg/virt-launcher/virtwrap/storage/BUILD.bazel
  pkg/virt-launcher/virtwrap/storage/backup_tunnel.go
  pkg/virt-launcher/virtwrap/storage/backup_tunnel_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "storage, backup: introduce pull mode support"
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/storage/cbt/BUILD.bazel
  pkg/storage/cbt/backup.go
  pkg/storage/cbt/backup_test.go
  pkg/virt-controller/watch/application.go
  pkg/virt-controller/watch/application_test.go
  pkg/virt-launcher/virtwrap/cmd-server/server.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/storage/backup.go
  pkg/virt-launcher/virtwrap/storage/manager.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/backup/v1alpha1/deepcopy_generated.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types.go
  staging/src/kubevirt.io/api/backup/v1alpha1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add ARM64SecureBoot feature gate
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Promote VideoConfig feature gate from Beta to GA
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter_test.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  tests/testsuite/kubevirtresource.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: update rules_oci to latest release v2.3.0
  WORKSPACE
Due: pull-kubevirt-verify-rpms

Permit migration of vGPUs & update vGPU Converter context
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.proto
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/options.go
  pkg/virt-handler/vm.go
  pkg/virt-handler/vm_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Modified hook server to take VMI Converter Context as its argument
  pkg/virt-launcher/premigration-hook-server/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/cpuhook/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/cpuhook/cpu_hook.go
  pkg/virt-launcher/premigration-hook-server/cpuhook/cpu_hook_test.go
  pkg/virt-launcher/premigration-hook-server/hook_server.go
  pkg/virt-launcher/premigration-hook-server/network/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/network/ordinal_naming.go
  pkg/virt-launcher/premigration-hook-server/network/ordinal_naming_test.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Defines vGPU Hook to set correct mdev Uid on the target vmi
  cmd/virt-launcher/BUILD.bazel
  cmd/virt-launcher/virt-launcher.go
  pkg/virt-controller/services/template.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/BUILD.bazel
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vgpu_hook_test.go
  pkg/virt-launcher/premigration-hook-server/vgpuhook/vpguhook_suite_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Disables post-copy migration for VMIs with VFIO
  pkg/virt-launcher/virtwrap/live-migration-source.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Pins memory for vGPU VMs for live migration
  pkg/hypervisor/kvm/runtime.go
  pkg/hypervisor/mshv/runtime.go
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
