Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-prom-rules-verify, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.34-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-prom-rules-verify:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make prom-rules-verify
  ...

pull-kubevirt-e2e-k8s-1.34-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-etcd-in-mem: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20251218-e7a7fc9
      name: ''
  ...

converter, vGPU PCI: Test Display
  pkg/virt-launcher/virtwrap/device/hostdevice/hostdev_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

vGPU PCI: Allow Display options
  pkg/virt-launcher/virtwrap/device/hostdevice/hostdev.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

hostdev tests: Cover PCI display option edge cases
  pkg/virt-launcher/virtwrap/device/hostdevice/hostdev_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

expose cgroup memory metrics via DomainStats
  docs/observability/metrics.md
  pkg/monitoring/metrics/virt-handler/domainstats/memory_metrics.go
  pkg/monitoring/metrics/virt-handler/domainstats/memory_metrics_test.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/stats/BUILD.bazel
  pkg/virt-launcher/virtwrap/stats/cgroup.go
  pkg/virt-launcher/virtwrap/stats/cgroup_test.go
  pkg/virt-launcher/virtwrap/stats/stats_suite_test.go
  pkg/virt-launcher/virtwrap/stats/types.go
  pkg/virt-launcher/virtwrap/statsconv/util/domstats_utils.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring, pull-kubevirt-metrics-lint

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/vfio-gpu/install_dra_example_driver.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

GA KubevirtSeccompProfile
  cmd/virt-handler/virt-handler.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
  pkg/virt-config/featuregate/inactive.go
  tests/operator/operator.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

iothreads: fix nil dereference in GetIOThreadsCountType
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: regression tests for IOThread nil dereference scenarios
  pkg/virt-launcher/virtwrap/converter/iothreads/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads_suite_test.go
  pkg/virt-launcher/virtwrap/converter/iothreads/iothreads_test.go
  pkg/virt-launcher/virtwrap/converter/vcpu/BUILD.bazel
  pkg/virt-launcher/virtwrap/converter/vcpu/vcpu_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Revert "Exception Required" tracked status from 61fbafe3ac
  automation/label-approved-veps.py
Due: none

tests, net, link_state: Fix lint issues and add to linter coverage
  hack/linter/.golangci.yml
  tests/network/link_state.go
Due: none

tests, net, hotplug_bridge: Standardize Eventually syntax
  tests/network/hotplug_bridge.go
Due: none

tests, net, hotplug_bridge: Fix lint issues and add to linter coverage
  hack/linter/.golangci.yml
  tests/network/hotplug_bridge.go
Due: none

Cirros to Alpine and Fedora change for vmi-lifecycle tests.
  tests/network/vmi_lifecycle.go
Due: none

tests, net, hotplug_sriov: Standardize Eventually syntax
  tests/network/hotplug_sriov.go
Due: none

tests, net, hotplug_sriov: Fix lint issues and add to linter coverage
  hack/linter/.golangci.yml
  tests/network/hotplug_sriov.go
Due: none

launchsecurity: add mrConfigId and OEMStrings fields for TDX attestation
  api/openapi-spec/swagger.json
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/util/amd64.go
  pkg/virt-api/api.go
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/tdx.go
  pkg/virt-api/webhooks/amd64.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/api/deepcopy_generated.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/compute/launch_security.go
  pkg/virt-launcher/virtwrap/converter/compute/sysinfo.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachine.yaml
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/schema.go
  staging/src/kubevirt.io/api/core/v1/schema_swagger_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

testutils, sync controller: Add MigrationState patch coverage test
  pkg/synchronization-controller/BUILD.bazel
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/testutils/BUILD.bazel
  pkg/testutils/structoracle.go
Due: none

virt-handler: annotate VMIs with legacy container disk paths for migration
  pkg/virt-handler/containerdisk_paths.go
  pkg/virt-handler/vm.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

container-disk: use volume name instead of index for disk paths
  pkg/container-disk/container-disk.go
  pkg/virt-controller/services/rendervolumes.go
  pkg/virt-controller/services/template_test.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-launcher/virtwrap/api/schema.go
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

virt-handler: bind mount legacy container disk paths on migration target
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/migration-target.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

fixing failing tests
  pkg/virt-launcher/virtwrap/converter/converter.go
  pkg/virt-launcher/virtwrap/converter/testdata/domain_arm64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_s390x.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64.xml
  pkg/virt-launcher/virtwrap/converter/testdata/domain_x86_64_root.xml
  pkg/virt-launcher/virtwrap/manager_test.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

tests: fix Cirros boot order test on IPv6-only clusters
  tests/vmi_lifecycle_test.go
Due: none

Automated run of make bump-images and ./robots/uploader
  WORKSPACE
  hack/bootstrap.sh
  rpm/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-verify-rpms

Build KubeVirt with go v1.25.8
  WORKSPACE
  go.mod
  go.work
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

Formatting changes from make generate
  pkg/handler-launcher-com/cmd/info/info.pb.go
  pkg/handler-launcher-com/cmd/v1/cmd.pb.go
  pkg/handler-launcher-com/notify/info/info.pb.go
  pkg/handler-launcher-com/notify/v1/notify.pb.go
  pkg/hooks/info/api_info.pb.go
  pkg/hooks/v1alpha1/api_v1alpha1.pb.go
  pkg/hooks/v1alpha2/api_v1alpha2.pb.go
  pkg/hooks/v1alpha3/api_v1alpha3.pb.go
  pkg/storage/cbt/nbd/v1/nbd.pb.go
  pkg/synchronizer-com/synchronization/v1/synchronization.pb.go
  pkg/vsock/system/v1/system.pb.go
Due: none

build: fix coverage_files glob to match k8s-fastbuild* for goveralls
  BUILD.bazel
  hack/coverage.sh
Due: none

build: disable cc toolchain resolution for alt virtctl platforms
  hack/bazel-build.sh
  hack/bazel-test.sh
  hack/coverage.sh
Due: none

lint: fix issues raised by updated golangci-lint
  cmd/virt-exportserver/virt-exportserver.go
  pkg/downwardmetrics/scraper/hostmetrics.go
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/virt-handler/ksm/ksm.go
  pkg/virtctl/create/params/params.go
  tests/decorators/sigs.go
  tests/framework/matcher/helper/reflect.go
  tests/instancetype/memory_overcommit.go
  tests/libpod/certs.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance, pull-kubevirt-e2e-k8s-1.34-sig-monitoring

pkg/storage/export: fix exit code printf verb
  pkg/storage/export/virt-exportserver/exportserver.go
Due: none

build: update builder image to include changes
  hack/dockerized
Due: none

builder: update golangci-lint to v2.12.4 and use recommended install script
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

lint: temporarily disable goconst linter checks
  hack/linter/.golangci.yml
Due: none

lint: fix linter errors following update of golangci-lint
  cmd/sidecars/network-passt-binding/main.go
  pkg/network/driver/virtchroot/tap.go
  pkg/virtctl/ssh/ssh.go
  tests/conformance/conformance.go
  tests/infrastructure/tls-configuration.go
  tests/libpod/certs.go
  tests/virtctl/usbredir.go
  tests/virtctl/vnc.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Add existing known api violations flagged due to newer openapi-gen
  api/api-rule-violations-known.list
  api/api-rule-violations.list
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

build: changes from make generate
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  vendor/google.golang.org/grpc/internal/resolver/dns/internal/BUILD.bazel
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Build KubeVirt with go 1.26.4
  WORKSPACE
  go.mod
  go.work
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder, pull-kubevirt-verify-rpms

build: update golang-ci lint version to v2.4.0 for go v1.25
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

build: bump builder deps to build with go v1.25
  hack/builder/Dockerfile
  hack/builder/Dockerfile.cs10
Due: publish-kubevirt-builder

build: changes required from make generate
  pkg/hooks/plugins/v1alpha1/api.pb.go
Due: none

add: added functest
  pkg/virt-handler/migration-target.go
  tests/migration/migration.go
Due: pull-kubevirt-e2e-k8s-1.34-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.34-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-prom-rules-verify: any of: hack/prom-rule-ci/.*
  pull-kubevirt-e2e-k8s-1.34-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/observability/metrics.md
