Repository kubevirt/kubevirt: changes, and which Prow jobs are due for each by the changed paths.
All: publish-kubevirt-builder, pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-verify-rpms, pull-kubevirt-e2e-k8s-1.29-sig-monitoring, pull-kubevirt-metrics-lint

publish-kubevirt-builder:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror: 'true'
    preset-gcs-credentials: 'true'
    preset-github-credentials: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    containers:
  ...

pull-kubevirt-e2e-k8s-1.29-sig-performance:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-bazel-unnested: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
  ...

pull-kubevirt-verify-rpms:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - cp /etc/bazel.bazelrc ./ci.bazelrc && make verify-rpm-deps
  ...

pull-kubevirt-e2e-k8s-1.29-sig-monitoring:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-podman-in-container-enabled: 'true'
    preset-podman-shared-images: 'true'
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - automation/test.sh
      env:
  ...

pull-kubevirt-metrics-lint:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-docker-mirror-proxy: 'true'
  optional: true
  spec:
    containers:
    - command:
      - /usr/local/bin/runner.sh
      - /bin/sh
      - -c
      - 'make lint-metrics
  
        '
      image: quay.io/kubevirtci/bootstrap:v20240829-fb5890c
      name: ''
  ...

Support decentralized migration in migration controller
  go.mod
  go.sum
  pkg/virt-api/webhooks/validating-webhook/admitters/migration-create-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter.go
  pkg/virt-api/webhooks/validating-webhook/admitters/vms-admitter_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/vm.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add SynchronizationAddress to KubeVirt CR status based on the lease and pod owning the lease.
  api/openapi-spec/swagger.json
  manifests/generated/kv-resource.yaml
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-operator/resource/apply/core.go
  pkg/virt-operator/resource/apply/reconcile.go
  pkg/virt-operator/resource/apply/update.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  pkg/virt-operator/util/config.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.KubeVirt.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Fix some bugs in sync controller. Updated migration to cleanup source VMI once migration is completed.
  api/openapi-spec/swagger.json
  pkg/monitoring/metrics/virt-controller/vmistats_collector.go
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-controller/watch/vmi/lifecycle.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/live-migration-target.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  pkg/virt-operator/resource/generate/components/deployments.go
  pkg/virt-operator/resource/generate/components/validations_generated.go
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.json
  staging/src/kubevirt.io/api/apitesting/testdata/HEAD/kubevirt.io.v1.VirtualMachineInstance.yaml
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance, pull-kubevirt-e2e-k8s-1.29-sig-monitoring

Fixed and added unit tests for synchronization controller as well as fixing some npes in other tests caused by the changes in this PR.
  pkg/synchronization-controller/synchronization-controller.go
  pkg/synchronization-controller/synchronization-controller_test.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  pkg/virt-launcher/virtwrap/manager.go
  pkg/virt-launcher/virtwrap/util/libvirt_helper.go
  staging/src/kubevirt.io/api/core/v1/types.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

virt-handler, vm: Call passt-repair
  pkg/network/vmispec/interface.go
  pkg/network/vmispec/interface_test.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Disable CPU hotplug on ARM
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add functional tests for cross namespace migration
  go.mod
  go.sum
  go.work.sum
  pkg/synchronization-controller/synchronization-controller.go
  pkg/virt-controller/watch/migration/migration.go
  pkg/virt-handler/vm.go
  pkg/virt-launcher/virtwrap/live-migration-source.go
  tests/libmigration/migration.go
  tests/migration/BUILD.bazel
  tests/migration/namespace.go
  tests/testsuite/kubevirtresource.go
  tests/testsuite/namespace.go
  vendor/modules.txt
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

converter: use vmi.IsBootloaderEFI()
  pkg/virt-launcher/virtwrap/converter/converter.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add ObjectGraphOptions API
  api/openapi-spec/swagger.json
  pkg/virt-api/api.go
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Implement label selector and optional node filtering in object graph
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Refactor VEP labeling github action to use KubeVirt project tracker status
  automation/label-approved-veps.py
Due: none

Add function to remove 'approved-vep' label from PRs that are no longer tracked
  automation/label-approved-veps.py
Due: none

Make label-approved-veps.py PEP 8 compliant
  automation/label-approved-veps.py
Due: none

helper functions to fetch kubevirt project tracker via graphql
  automation/label-approved-veps.py
Due: none

update vep labeling github action to specify the current release tracker
  .github/workflows/label_approved_veps.yaml
Due: none

Improve modularity of VEP tracking logic function
  automation/label-approved-veps.py
Due: none

Fix test suite failure on duplicate namespaces Fix operator upgrade test because no previous release image exist. Once 1.6.0 is release we can remove the change to the operator test.
  tests/operator/operator.go
  tests/testsuite/namespace.go
Due: none

Bump kubevirtci
  hack/config-default.sh
  kubevirtci/cluster-up-sha.txt
  kubevirtci/cluster-up/cluster/k8s-provider-common.sh
  kubevirtci/cluster-up/hack/common.sh
  kubevirtci/cluster-up/version.txt
Due: none

Introduce FindPodDir
  pkg/virt-handler/cmd-client/client.go
  pkg/virt-handler/cmd-client/client_test.go
  pkg/virt-handler/vm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

storagetypes: create error types
  pkg/storage/types/dv.go
  pkg/storage/types/pvc.go
Due: none

libvmi: add option to set UpdateVolumeStrategy
  pkg/libvmi/vm.go
Due: none

watch: handle if the destination PVC or DV
  pkg/virt-controller/watch/vm/BUILD.bazel
  pkg/virt-controller/watch/vm/vm.go
  pkg/virt-controller/watch/vm/vm_test.go
  pkg/virt-controller/watch/volume-migration/volume-migration.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests: verify volume migration when destination volumes don't exist
  tests/storage/migration.go
Due: none

virt-handler: Reduce Get() calls for KSM handling
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/ksm.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add a one-shot cache
  tools/cache/BUILD.bazel
  tools/cache/oneshot-cache.go
  tools/cache/oneshot-cache_test.go
Due: none

Deduplicate KSM handling and virt-handler's heartbeat
  pkg/virt-handler/heartbeat/heartbeat.go
  pkg/virt-handler/heartbeat/ksm.go
  pkg/virt-handler/heartbeat/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Move KSM handling from heartbeat to virt-handler's main()
  cmd/virt-handler/virt-handler.go
  pkg/virt-handler/BUILD.bazel
  pkg/virt-handler/heartbeat/BUILD.bazel
  pkg/virt-handler/ksm.go
  pkg/virt-handler/ksm_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

tests, vmi_configuration: remove redundant GetRunningVMIDomainSpec
  tests/vmi_configuration_test.go
Due: none

libvmi: add properly named cpu/mem setters
  pkg/libvmi/cpu.go
  pkg/libvmi/memory.go
Due: none

libvmi: deprecate old cpu/mem setters
  pkg/libvmi/cpu.go
  pkg/libvmi/memory.go
Due: none

firmware: Remove deepcopy and equal check
  pkg/virt-controller/watch/vm/firmware.go
  pkg/virt-controller/watch/vm/firmware_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Revert "Remove unused functionality from virt-chroot"
  cmd/virt-chroot/main.go
  pkg/virt-handler/virt-chroot/virt-chroot.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Revert "Fix attacker typo"
  pkg/cloud-init/cloud-init.go
  pkg/config/config.go
  pkg/emptydisk/emptydisk.go
  pkg/ephemeral-disk/ephemeral-disk.go
  pkg/network/driver/virtchroot/tap.go
  pkg/os/disk/disk.go
  pkg/virt-handler/container-disk/mount.go
  pkg/virt-handler/selinux/labels.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Introduce libvirt wrapper
  pkg/virt-launcher/notify-client/BUILD.bazel
  pkg/virt-launcher/notify-client/notify_test.go
  pkg/virt-launcher/virtwrap/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/BUILD.bazel
  pkg/virt-launcher/virtwrap/access-credentials/access_credentials_test.go
  pkg/virt-launcher/virtwrap/agent-poller/BUILD.bazel
  pkg/virt-launcher/virtwrap/agent-poller/agent_poller_test.go
  pkg/virt-launcher/virtwrap/manager_test.go
  pkg/virt-launcher/virtwrap/nichotplug_test.go
  pkg/virt-launcher/virtwrap/testing/BUILD.bazel
  pkg/virt-launcher/virtwrap/testing/libvirt.go
  pkg/virt-launcher/virtwrap/util/BUILD.bazel
  pkg/virt-launcher/virtwrap/util/libvirt_helper_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add ObjectGraphNode API
  staging/src/kubevirt.io/api/core/v1/deepcopy_generated.go
  staging/src/kubevirt.io/api/core/v1/types.go
  staging/src/kubevirt.io/api/core/v1/types_swagger_generated.go
  staging/src/kubevirt.io/client-go/api/openapi_generated.go
  staging/src/kubevirt.io/client-go/kubecli/generated_mock_kubevirt.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/fake/fake_virtualmachineinstance_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachine_expansion.go
  staging/src/kubevirt.io/client-go/kubevirt/typed/core/v1/virtualmachineinstance_expansion.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Set RBAC for ObjectGraph subresource
  manifests/generated/operator-csv.yaml.in
  manifests/generated/rbac-operator.authorization.k8s.yaml.in
  pkg/virt-operator/resource/generate/rbac/apiserver.go
  pkg/virt-operator/resource/generate/rbac/cluster.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Include Object Graph parser in virt-api
  go.mod
  pkg/virt-api/rest/BUILD.bazel
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-api/rest/objectgraph_test.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Add ObjectGraph feature gate
  pkg/virt-api/rest/objectgraph.go
  pkg/virt-config/feature-gates.go
  pkg/virt-config/featuregate/active.go
Due: pull-kubevirt-e2e-k8s-1.29-sig-performance

Path conditions:
  publish-kubevirt-builder: any of: hack/builder/.*
  pull-kubevirt-e2e-k8s-1.29-sig-performance: any of: ^cmd/.*|^rpm/.*|^tests/performance/.*|^hack/perftests.sh|^tools/perfscale-audit/.*|^bazel/.*|^third_party/.*|^staging/src/.*|^api/.*|^pkg/virt-.*|^pkg/controlller/.*|^pkg/monitoring/.*
  pull-kubevirt-verify-rpms: any of: WORKSPACE
  pull-kubevirt-e2e-k8s-1.29-sig-monitoring: any of: ^pkg/monitoring/.*|^tests/monitoring/.*|^tests/libmonitoring/.*|^vendor/github.com/machadovilaca/operator-observability/.*
  pull-kubevirt-metrics-lint: any of: docs/metrics.md
