Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

infra, presubmit, Update build jobs to use quay.io (#1088)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

infra, postsubmit, Update kubevirt-infra-bootstrap to push to quay (#1086)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Remove parallel k8s-nmstate lane (#1033)
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add pull-kubevirt-e2e-k8s-1.20-cgroupsv2 job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Thu, 25 Mar 2021 20:48:36 UTC
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/OWNERS
Due: pull-project-infra-prow-deploy-test

Add sig-compute periodic
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add pull-kubevirt-e2e-k8s-1.20-cgroupsv2 job (#1092)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Thu, 25 Mar 2021 20:48:36 UTC (#1093)
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/OWNERS
Due: pull-project-infra-prow-deploy-test

Remove docker proxy in CDI post submits
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Don't error CDI job if no tag is found.
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

new optional lane to test new rook/ceph
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Fri, 26 Mar 2021 20:49:45 UTC
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/OWNERS
Due: pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Fri, 26 Mar 2021 20:49:45 UTC (#1098)
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/OWNERS
Due: pull-project-infra-prow-deploy-test

infra, Update bootstrap to point to quay
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/ansible-kubevirt-modules/ansible-kubevirt-modules-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.2.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.3.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-2.3.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-2.4.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-release-0.7.yaml
Due: pull-project-infra-prow-deploy-test

infra, Update bootstrap to point to quay
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.27.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.39.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.42.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.44.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-2.4.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubectl-virt-plugin/kubectl-virt-plugin-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-tutorial/kubevirt-tutorial-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.13.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.30.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.34.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.36.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.38.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.39.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/macvtap-cni/macvtap-cni-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-release-0.8.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits-0.35.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits-0.37.yaml
  github/ci/prow-deploy/files/jobs/nmstate/nmstate/nmstate-presubmits.yaml
  images/kubevirt-infra-bootstrap/Dockerfile
Due: publish-kubevirt-infra-bootstrap-image, build-kubevirt-infra-bootstrap-image, pull-project-infra-prow-deploy-test

infra, Update bootstrap to point to quay
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

infra, Update bootstrap to point to quay
  github/ci/prow-deploy/files/jobs/kubevirt/common-templates/common-templates-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  images/prow-deploy/Dockerfile
Due: publish-prow-deploy-image, build-prow-deploy-image, pull-project-infra-prow-deploy-test

infra, Update indexpagecreator to point to quay.io
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/indexpagecreator/Makefile
  robots/cmd/indexpagecreator/update-jobs-with-latest-indexpagecreator-image.sh
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

infra, Update BUILD.bazel files to point to quay
  external-plugins/release-blocker/BUILD.bazel
  releng/release-tool/BUILD.bazel
  robots/cmd/indexpagecreator/BUILD.bazel
  robots/cmd/release-querier/BUILD.bazel
Due: pull-project-infra-test-robots

infra, Update kubevirtci/release-blocker related
  external-plugins/release-blocker/Makefile
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow/templates/release-blocker_deployment.yaml
Due: pull-project-infra-prow-deploy-test

infra, Update kubevirt/builder images to point to quay
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: pull-project-infra-prow-deploy-test

infra, Remove docker.io preset from kubernetes-crud-ci-role
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

infra, Remove docker.io preset from kubernetes-crud-ci-role (#1089)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Don't error CDI job if no tag is found. (#1096)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Fix issue with github api not returning consistent label filtered results
  releng/release-tool/release-tool.go
Due: none

Add sig-compute periodic (#1094)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Fix issue with github api not returning consistent label filtered results (#1102)
  releng/release-tool/release-tool.go
Due: none

Report cgroupv2 presubmit job status
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add periodic-kubevirt-e2e-k8s-1.20-cgroupsv2 job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add periodic-kubevirt-e2e-k8s-1.20-cgroupsv2 job (#1100)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

new optional lane to test new rook/ceph (#1097)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

cnao jobs, Remove CNAO jobs in favor of sig-network
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

infra, sanity
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Update dictionary file (#1001)
  images/yaspeller/.yaspeller.json
Due: none

add presubmit job for branch release-0.40
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.40.yaml
Due: pull-project-infra-prow-deploy-test

Update to yaspeller dictionary
  images/yaspeller/.yaspeller.json
Due: none

Update to yaspeller dictionary (#1109)
  images/yaspeller/.yaspeller.json
Due: none

Creating unified docker for testing
  images/kubevirt.io/Dockerfile
Due: none

sriov, presubmit, Remove redundant trap (#1084)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test
