Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Re-enable prow deploy verify step (#1201)
  github/ci/prow-deploy/kustom/base/kustomization.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/deck-ingress.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/gcsweb-ingress.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/deck-ingress.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/gcsweb-ingress.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/ingress-nginx-controller.yaml
  github/ci/prow-deploy/molecule/default/molecule.yml
  github/ci/prow-deploy/molecule/default/prepare.yml
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
  github/ci/prow-deploy/vars/workloads-production/main.yml
Due: pull-project-infra-prow-deploy-test

Filter sig-compute on 1.19 lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Automated prow bump (#1205)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/bump-prow.sh
Due: pull-project-infra-prow-deploy-test

Reenable reporting to GitHub for kubevirt goveralls
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Reenable reporting to GitHub for kubevirt goveralls (#1209)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Update yaspeller dictionary file
  images/yaspeller/.yaspeller.json
Due: none

Add periodics to kubevirt flakefinder weeklies
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add periodics to kubevirt flakefinder weeklies (#1212)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Filter sig-compute on 1.19 lane (#1208)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Run all remaining storage and networking tests with cgroupv2
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add labels to uploader PR
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/git-pr.sh
Due: pull-project-infra-prow-deploy-test

Add labels to uploader PR (#1215)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/git-pr.sh
Due: pull-project-infra-prow-deploy-test

Enable goveralls to always run for kubevirt
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Enable goveralls to always run for kubevirt (#1216)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Run all remaining storage and networking tests with cgroupv2 (#1213)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

enable report of 1.20-sig-storage
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Deploy prometheus-operator on prow-workloads cluster
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/e2e/e2e_test.go
  github/ci/services/prometheus-stack/hack/deploy.sh
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/namespace.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/node-exporter.yaml
  github/ci/services/prometheus-stack/manifests/stack/loki-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-control-plane/grafana.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-control-plane/ingress.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/.gitkeep
  github/ci/services/prometheus-stack/manifests/stack/testing
  github/ci/services/prometheus-stack/patches/production-e2e-workloads/prometheus-storage.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/grafana/.gitkeep
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Bump builder tag to prevent pr-creator errors
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prowjob_customresourcedefinition.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh (#1220)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prowjob_customresourcedefinition.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Deploy prometheus-operator on prow-workloads cluster (#1218)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/e2e/e2e_test.go
  github/ci/services/prometheus-stack/hack/deploy.sh
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/namespace.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/node-exporter.yaml
  github/ci/services/prometheus-stack/manifests/stack/loki-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-control-plane/grafana.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-control-plane/ingress.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/.gitkeep
  github/ci/services/prometheus-stack/manifests/stack/testing
  github/ci/services/prometheus-stack/patches/production-e2e-workloads/prometheus-storage.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/grafana/.gitkeep
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Bump builder tag to prevent pr-creator errors (#1219)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Adapt TestGrid config managment to Config Merger
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/testgrid/hack/check.sh
  github/ci/testgrid/hack/common.sh
  github/ci/testgrid/hack/update.sh
  github/ci/testgrid/hack/upload.sh
Due: pull-project-infra-prow-deploy-test

fix libguestfs appliance periodic job
  github/ci/prow-deploy/files/jobs/kubevirt/libguestfs-appliance/libguestfs-appliance-periodics.yaml
Due: pull-project-infra-prow-deploy-test

fix libguestfs appliance periodic job (#1223)
  github/ci/prow-deploy/files/jobs/kubevirt/libguestfs-appliance/libguestfs-appliance-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Update github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Moving ovs-cni directory under NPWG
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/ovs-cni/OWNERS
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/ovs-cni/ovs-cni-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Removing ovs-cni from prow-deploy and orgs.yaml
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Redirecting ovs-cni references to npwg org
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/ovs-cni/ovs-cni-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Adapt TestGrid config managment to Config Merger (#1221)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/testgrid/hack/check.sh
  github/ci/testgrid/hack/common.sh
  github/ci/testgrid/hack/update.sh
  github/ci/testgrid/hack/upload.sh
Due: pull-project-infra-prow-deploy-test

Explicitly enable plugins for ovs-cni
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Fix test-infra repo path.
  github/ci/testgrid/hack/common.sh
Due: none

Fix test-infra repo path. (#1225)
  github/ci/testgrid/hack/common.sh
Due: none

Update dictionary file (#1210)
  images/yaspeller/.yaspeller.json
Due: none

Add victortoso to kubevirt members
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Fix project-infra paths
  github/ci/testgrid/hack/common.sh
Due: none

Use new kubernetes-nmstate default branch "main"
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

Migrate ovs-cni repository under network plumbing working group organization (#1224)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/ovs-cni/OWNERS
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/ovs-cni/ovs-cni-presubmits.yaml
  github/ci/prow-deploy/files/orgs.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Fix project-infra paths (#1227)
  github/ci/testgrid/hack/common.sh
Due: none

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
