Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Create presubmit for kubevirt orgs config changes
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov CNI, Remove unneeded conf file
  cni-plugins/sriov-passthrough-cni/Dockerfile
  cni-plugins/sriov-passthrough-cni/README.md
  cni-plugins/sriov-passthrough-cni/deploy/multus-cni.yaml
  cni-plugins/sriov-passthrough-cni/install-plugin
  cni-plugins/sriov-passthrough-cni/plugin/90-sriov-passthrough-cni.conf
Due: none

sriov CNI, Remove unneeded code
  cni-plugins/sriov-passthrough-cni/plugin/sriov-passthrough-cni
Due: none

Create presubmit for kubevirt orgs config changes (#883)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update OWNERS to reflect current situation
  OWNERS
  github/ci/OWNERS
Due: none

Remove org admin
  github/ci/prow/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Cache bazel LTS version in bootstrap image (#880)
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Update OWNERS to reflect current situation (#885)
  OWNERS
  github/ci/OWNERS
Due: none

Remove org admin (#886)
  github/ci/prow/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Add label definition for dco-signoff
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test

Add label definition for dco-signoff (#887)
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test

Add some other missing labels to default section
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test

Add some other missing labels to default section (#888)
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test

Change release notes to refer to quay.io
  releng/release-tool/release-tool.go
Due: none

Change release notes to refer to quay.io (#889)
  releng/release-tool/release-tool.go
Due: none

Add separate CDI destructive lane for destructive tests
  github/ci/prow/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add separate CDI destructive lane for destructive tests (#890)
  github/ci/prow/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove duplicate kubevirt/containerized-data-importer
  github/ci/prow/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove duplicate kubevirt/containerized-data-importer (#891)
  github/ci/prow/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 27 Jan 2021 20:06:32 UTC
  github/ci/prow/files/jobs/kubevirt/kubevirt/OWNERS
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov CNI, Allocate only one sriov PF
  cni-plugins/sriov-passthrough-cni/README.md
  cni-plugins/sriov-passthrough-cni/deploy/multus-cni.yaml
  cni-plugins/sriov-passthrough-cni/plugin/sriov-passthrough-cni
Due: none

Initial import of bootstrap from test-infra
  images/bootstrap/boostrap/Dockerfile
  images/bootstrap/boostrap/Makefile
  images/bootstrap/boostrap/OWNERS
  images/bootstrap/boostrap/cloudbuild.yaml
  images/bootstrap/boostrap/create_bazel_cache_rcs.sh
  images/bootstrap/boostrap/entrypoint.sh
  images/bootstrap/boostrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

Remove unrelated files
  images/bootstrap/boostrap/Makefile
  images/bootstrap/boostrap/OWNERS
  images/bootstrap/boostrap/cloudbuild.yaml
Due: publish-bootstrap-image, build-bootstrap-image

Rework test-infra boostrap scripts for fedora
  images/bootstrap/boostrap/Dockerfile
  images/bootstrap/boostrap/entrypoint.sh
  images/bootstrap/boostrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

Cache the most commonly used bazel versions in the new image
  images/bootstrap/boostrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Add custom certificate setup to runner.sh
  images/bootstrap/boostrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

Replace the old bootstrap image with the new one
  images/bootstrap/Dockerfile
  images/bootstrap/boostrap/Dockerfile
  images/bootstrap/boostrap/runner.sh
  images/bootstrap/create_bazel_cache_rcs.sh
  images/bootstrap/entrypoint.sh
  images/bootstrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

Update copyright notice
  images/bootstrap/Dockerfile
  images/bootstrap/create_bazel_cache_rcs.sh
  images/bootstrap/entrypoint.sh
  images/bootstrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

The runner script sets the docker storage location
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Create bazel cache key via rpm commands
  images/bootstrap/create_bazel_cache_rcs.sh
Due: publish-bootstrap-image, build-bootstrap-image

Update comments in the bazel cache creation script
  images/bootstrap/create_bazel_cache_rcs.sh
Due: publish-bootstrap-image, build-bootstrap-image

A new fedora based bootstrap image (#894)
  images/bootstrap/Dockerfile
  images/bootstrap/create_bazel_cache_rcs.sh
  images/bootstrap/entrypoint.sh
  images/bootstrap/runner.sh
Due: publish-bootstrap-image, build-bootstrap-image

Sync OWNERS files by autoowners job at Wed, 27 Jan 2021 20:06:32 UTC (#893)
  github/ci/prow/files/jobs/kubevirt/kubevirt/OWNERS
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Release bootstrap image on quay.io
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Release bootstrap image on quay.io (#895)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add presubmit to check labels.yaml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov, Change CNI annotation style
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix labels by removing the duplicates
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test

Add quay.io presets to the project-infra jobs
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presets.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix labels by removing the duplicates (#898)
  github/ci/prow/files/labels.yaml
Due: pull-project-infra-prow-deploy-test
