Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Check whether folder exists before trying to delete it (#913)
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Use peribolos image to execute peribolos
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

add presubmit job for branch release-0.38
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.38.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Fix orgs.yaml
  github/ci/prow/files/orgs.yaml
Due: none

WIP, sanity srv17
  github/ci/prow/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Enable org mutations (#910)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow/files/orgs.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Add nelsonspbr to org members
  github/ci/prow/files/orgs.yaml
Due: none

use upstream docker-registry-proxy and set proxy-connect timeouts
  github/ci/prow/templates/mirror-proxy.yaml
  github/ci/remote-cluster/templates/mirror-proxy.yaml
Due: none

sriov, Check if giving 2 PFs to srv20 fixes vm start
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

add docker-mirror-proxy deployment to prow-deploy
  github/ci/prow-deploy/kustom/base/kustomization.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/docker-mirror-proxy_deployment.yaml
Due: pull-project-infra-prow-deploy-test

WIP, focus srv20
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Add nelsonspbr to org members (#916)
  github/ci/prow/files/orgs.yaml
Due: none

Fix target calculation for kubevirt periodic master e2e
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Remove user-guide periodics
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Create postsubmit building and pushing site
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Use null character termination for find
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Fix target calculation for kubevirt periodic master e2e (#920)
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Remove user-guide periodics (#921)
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Move ok-to-test to default section (#905)
  github/ci/prow/files/labels.yaml
Due: none

Assign to prow-job-taskforce
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Adjust some groups to reflect reality
  github/ci/prow/files/orgs.yaml
Due: none

Assign to prow-job-taskforce (#855)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow/files/orgs.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

use pvc instead of hostPath volume for docker-mirror-proxy
  github/ci/prow-deploy/kustom/base/kustomization.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/docker-mirror-proxy_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/docker-mirror-proxy_pvc.yaml
Due: pull-project-infra-prow-deploy-test

Add job to check whether kubevirt org members have 2fa
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Make k8s 1.20 lane run always
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Make k8s 1.20 lane run always (#923)
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

add libvirt-devel to bootstrap image
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Add alonsadan as a member in kubevirt org
  github/ci/prow/files/orgs.yaml
Due: none

Sync OWNERS files by autoowners job at Wed, 03 Feb 2021 20:12:28 UTC
  github/ci/prow/files/jobs/kubevirt/kubevirtci/OWNERS
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 03 Feb 2021 20:12:28 UTC (#926)
  github/ci/prow/files/jobs/kubevirt/kubevirtci/OWNERS
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

sriov CNI, Add CNI usage instructions to README.md
  cni-plugins/sriov-passthrough-cni/README.md
Due: none

Apply suggestions from code review
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

use upstream docker-registry-proxy and set proxy-connect timeouts (#918)
  github/ci/prow-deploy/kustom/base/kustomization.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/docker-mirror-proxy_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/docker-mirror-proxy_pvc.yaml
  github/ci/prow/templates/mirror-proxy.yaml
Due: pull-project-infra-prow-deploy-test

Introduce sriov patch nodes script
  hack/patch_node.sh
Due: none

add libvirt-devel to bootstrap image (#924)
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Increase timeout for publish-kubevirtci
  github/ci/prow/files/jobs/kubevirt/kubevirtci/kubevirtci-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Introduce sriov patch nodes script (#784)
  cni-plugins/sriov-passthrough-cni/README.md
  hack/patch_node.sh
Due: none

Execute periodic e2e from master twice a day
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Create postsubmit building and pushing site (#909)
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-check-testgrid-config

Add ci-health to prometheus scrape targets
  github/ci/prometheus/templates/prometheus-config.yaml
Due: none
