Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Promote k6t 1.20 sig-net presubmit lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Promote k6t 1.20 sig-net presubmit lane (#1145)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

kubevirtci, postsubmit, Add docker proxy
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

kubevirtci, postsubmit, Add docker proxy (#1146)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add HCO kubevirt-ci presumbit ProwJob to TestGrid
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add provision jobs for k8s-1.21
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add provision jobs for k8s-1.21 (#1148)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Add a periodic job to build the latest CentOS container disk image
  github/ci/prow-deploy/files/jobs/kubevirt/common-templates/common-templates-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add a periodic job to build the latest CentOS container disk image (#1128)
  github/ci/prow-deploy/files/jobs/kubevirt/common-templates/common-templates-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Make arm64 crosscompile presubmit required
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Make arm64 crosscompile presubmit required (#1150)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Added kubeconfig to crier options
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/crier_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/crier_deployment.yaml
  github/ci/prow/templates/crier-deployment.yaml
Due: pull-project-infra-prow-deploy-test

fixed json patches
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/crier_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/crier_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Fix rule attr nil dereference
  plugins/cmd/uploader/uploader.go
  plugins/mirror/bazel.go
  plugins/mirror/bazel_test.go
Due: none

No need to change prow-deploy, kubeconfig already included
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/crier_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/crier_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add presubmit job to test plugins
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Enabled presubmit 1.20-sig-sorage
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Convert to single line test call
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Adding and removing in case of url attr
  plugins/mirror/bazel.go
  plugins/mirror/bazel_test.go
Due: none

Add presubmit job to test plugins (#1153)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Update Dockerfile
  images/kubevirt-kubevirt.github.io/Dockerfile
Due: none

Changed the missed sig-compute tags
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue_test.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Remove env variable from sig-compute lane (#1142)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue_test.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add check for whether artifacts would have no urls
  plugins/cmd/uploader/uploader.go
  plugins/mirror/bazel.go
  plugins/mirror/bazel_test.go
Due: none

updating configuration files
  images/kubevirt-kubevirt.github.io/_config/src/Gemfile
  images/kubevirt-kubevirt.github.io/_config/src/check_selectors.js
  images/kubevirt-kubevirt.github.io/_config/src/package-lock.json
  images/kubevirt-kubevirt.github.io/_config/src/package.json
Due: none

Enabled presubmit 1.20-sig-sorage (#1154)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Added kubeconfig to crier options (#1151)
  github/ci/prow/templates/crier-deployment.yaml
Due: none

Remove superfluous PRBaseBranch variable
  robots/cmd/flakefinder/main.go
Due: pull-project-infra-test-robots

Add 1.19-sig-compute presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

First implementation for periodics done
  robots/cmd/flakefinder/report.go
  robots/pkg/flakefinder/downloader.go
  robots/pkg/flakefinder/flakefinder.go
Due: pull-project-infra-test-robots

Add option to set regex for fetching periodics data
  robots/cmd/flakefinder/main.go
  robots/pkg/flakefinder/flakefinder.go
Due: pull-project-infra-test-robots

Update flakefinder images, add regex to kubevirt 24h
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Fix rule attr nil dereference (#1152)
  plugins/cmd/uploader/uploader.go
  plugins/mirror/bazel.go
  plugins/mirror/bazel_test.go
Due: none

filter sig-compute in 1.19 presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Patch crier deployment to include GCS credentials
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/crier_deployment.yaml
Due: pull-project-infra-prow-deploy-test

sinker rbac and fixed artifacts link
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/sinker-rbac.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/yq_scripts/config.yaml
Due: pull-project-infra-prow-deploy-test

revert project infra root path to be used from prow job
  github/ci/prow-deploy/vars/ibmcloud-production/main.yml
Due: pull-project-infra-prow-deploy-test

Fix tests
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/.gitignore
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/deck_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/gcsweb-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/prow-jobs-namespace.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/prow-jobs-rolebinding-rules.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/prow-namespace.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/rolebinding-subject-prow-namespace.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/JsonRFC6902/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/crier_role.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/deck_deployment_replicas.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/deck_role.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/docker-mirror_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/ghproxy.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/greenhouse-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/greenhouse-pvc.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/hook_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/ingress-nginx-controller.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/nginx-ingress.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/yq_scripts/config.yaml
  github/ci/prow-deploy/molecule/default/molecule.yml
  github/ci/prow-deploy/molecule/default/prepare.yml
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
  github/ci/prow-deploy/vars/kubevirtci-testing/secrets.yml
Due: pull-project-infra-prow-deploy-test

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
