Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: kubevirtci/bootstrap:v20210112-b29dfd7
      env:
      - name: GITHUB_TOKEN
        value: /etc/github/oauth
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: kubevirtci/bootstrap:v20210112-b29dfd7
      env:
      - name: GITHUB_TOKEN
        value: /etc/github/oauth
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-upload-testgrid-config:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/transfigure
      command:
      - /transfigure.sh
      args:
      - /etc/github/oauth
      - github/ci/prow/files/config.yaml
      - github/ci/prow/files/jobs
      - github/ci/testgrid/gen-config.yaml
      - kubevirt
      securityContext:
  ...

user-guide: Update to add htmlproofer plugin and dependencies
  images/kubevirt-userguide/Dockerfile
Due: publish-kubevirt-userguide-image, build-kubevirt-userguide-image

user-guide: Update to add htmlproofer plugin and dependencies (#865)
  images/kubevirt-userguide/Dockerfile
Due: publish-kubevirt-userguide-image, build-kubevirt-userguide-image

Revert "WIP try to reduce mem in order to run 4x"
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add missing gh token to testgrid config upload job (#864)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov cni, Add NetworkAttachmentDefinition missing namespace (#823)
  cni-plugins/sriov-passthrough-cni/deploy/multus-cni.yaml
Due: none

jobconfig fork for release-0.37
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use a base image with the right config-forker
  WORKSPACE
  releng/release-tool/Dockerfile.release-tool-base
Due: pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test

Use a base image with the right config-forker (#870)
  WORKSPACE
  releng/release-tool/Dockerfile.release-tool-base
Due: pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test

jobconfig fork for release-0.37 (#872)
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov release 0.37, Add sriov-poc-multi podAntiAffinity
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov release 0.37, Add sriov-poc-multi podAntiAffinity (#873)
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

user-guide: Fix python environment
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

user-guide: Fix python environment (#866)
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add missing options to transfigure upload call
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add missing options to transfigure upload call (#874)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add sonar-scanner job
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix user-guide jobs
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix user-guide jobs (#876)
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

user-guide: Fix venv path
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

user-guide: Fix venv path (#877)
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-periodics.yaml
  github/ci/prow/files/jobs/kubevirt/user-guide/user-guide-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update grafana
  github/ci/prometheus/templates/grafana.yaml
Due: none

Update grafana (#878)
  github/ci/prometheus/templates/grafana.yaml
Due: none

Minimalistic tide dashboard
  github/ci/prometheus/templates/dashboards.yaml
Due: none

Minimalistic tide dashboard (#879)
  github/ci/prometheus/templates/dashboards.yaml
Due: none

Add kubevirt configuration for peribolos
  github/ci/prow/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Periodically Check for a new Fedora version and create a new containerdiskimage for it in the registry
  github/ci/prow/files/jobs/kubevirt/common-templates/common-templates-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add periodic job to update kubevirt org configuration
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

WIP try to mention the CNI twice to get 2 PF
  github/ci/prow/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add peribolos configuration and job (#860)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow/files/orgs.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov cni, Allocate only one sriov PF for the target container
  cni-plugins-multi/sriov-passthrough-cni/Dockerfile
  cni-plugins-multi/sriov-passthrough-cni/README.md
  cni-plugins-multi/sriov-passthrough-cni/deploy/cni.yaml
  cni-plugins-multi/sriov-passthrough-cni/deploy/multus-cni.yaml
  cni-plugins-multi/sriov-passthrough-cni/install-plugin
  cni-plugins-multi/sriov-passthrough-cni/plugin/90-sriov-passthrough-cni.conf
  cni-plugins-multi/sriov-passthrough-cni/plugin/sriov-passthrough-cni-multi
Due: none

Duplicate cni-plugins folder
  cni-plugins-multi/sriov-passthrough-cni/Dockerfile
  cni-plugins-multi/sriov-passthrough-cni/README.md
  cni-plugins-multi/sriov-passthrough-cni/deploy/multus-cni.yaml
  cni-plugins-multi/sriov-passthrough-cni/install-plugin
  cni-plugins-multi/sriov-passthrough-cni/plugin/90-sriov-passthrough-cni.conf
  cni-plugins-multi/sriov-passthrough-cni/plugin/sriov-passthrough-cni
Due: none

WIP, change the label just for the POC
  cni-plugins-multi/sriov-passthrough-cni/deploy/cni.yaml
Due: none

prow-deploy: use kind for test cluster
  github/ci/prow-deploy/kustom/base/manifests/local/greenhouse-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/patches/StrategicMerge/ghproxy.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/ghproxy-persistent-volume.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/greenhouse-persistent-volume.yaml
  github/ci/prow-deploy/molecule/default/collect.yml
  github/ci/prow-deploy/molecule/default/collect_resource.yml
  github/ci/prow-deploy/molecule/default/destroy.yml
  github/ci/prow-deploy/molecule/default/molecule.yml
  github/ci/prow-deploy/molecule/default/prepare.yml
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
  github/ci/prow-deploy/molecule/default/vars/collect.yml
  github/ci/prow-deploy/molecule/default/vars/kubevirtci-testing.yml
  github/ci/prow-deploy/tasks/cleanup.yml
  github/ci/prow-deploy/tasks/deploy.yml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

limit memory used by bazel
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Cache bazel LTS version in bootstrap image
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

[HCO] Require Sanity Checks on PR to master
  github/ci/prow/files/config.yaml
Due: pull-project-infra-prow-deploy-test

increase nodes memory
  github/ci/prow-deploy/molecule/default/prepare.yml
Due: pull-project-infra-prow-deploy-test

[HCO] Require Sanity Checks on PR to master (#881)
  github/ci/prow/files/config.yaml
Due: pull-project-infra-prow-deploy-test

Make peribolos job update org configuration
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make peribolos job update org configuration (#882)
  github/ci/prow/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-upload-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
