Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-project-infra-kubevirtci-docker-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210129-9f1d6a8
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Revert image used for rehearse job (#1038)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Move bootstrap from docker io to quay.io
  github/ci/prow-deploy/files/jobs/kubevirt/bridge-marker/bridge-marker-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.27.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.39.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.42.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.44.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/controller-lifecycle-operator-sdk/controller-lifecycle-operator-sdk-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/csi-driver/csi-driver-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubectl-virt-plugin/kubectl-virt-plugin-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubectl-virt-plugin/kubectl-virt-plugin-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-tutorial/kubevirt-tutorial-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.13.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.30.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.34.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.36.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.37.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.38.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.39.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/macvtap-cni/macvtap-cni-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/macvtap-cni/macvtap-cni-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-master.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-release-0.8.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits-0.35.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits-0.37.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

sig-network, Create a periodic job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Add acardace to org members
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

update grafana dashboards
  github/ci/prometheus/templates/dashboards.yaml
  github/ci/services/prometheus-stack/manifests/grafana.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

update grafana dashboards (#1044)
  github/ci/prometheus/templates/dashboards.yaml
  github/ci/services/prometheus-stack/manifests/grafana.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Add creation of new flake issues
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/flake_issues.go
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/main.go
Due: pull-project-infra-test-robots

Add limits for flaky test creation
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
Due: pull-project-infra-test-robots

Add test_id to search string for issue search
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add resources to job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Preliminary refactoring into cmd and pkg
  Makefile
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/flake-issue-creator/BUILD.bazel
  robots/cmd/flake-issue-creator/Makefile
  robots/cmd/flake-issue-creator/flake_issues.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-issue-creator/main_suite_test.go
  robots/cmd/flake-report-writer/BUILD.bazel
  robots/cmd/flake-report-writer/Makefile
  robots/cmd/flake-report-writer/README.md
  robots/cmd/flake-report-writer/index.go
  robots/cmd/flake-report-writer/index_test.go
  robots/cmd/flake-report-writer/main.go
  robots/cmd/flake-report-writer/main_suite_test.go
  robots/cmd/flake-report-writer/main_test.go
  robots/cmd/flake-report-writer/push.sh
  robots/cmd/flake-report-writer/report.go
  robots/cmd/flake-report-writer/report_test.go
  robots/cmd/indexpagecreator/BUILD.bazel
  robots/cmd/indexpagecreator/Makefile
  robots/cmd/indexpagecreator/main.go
  robots/cmd/indexpagecreator/update-jobs-with-latest-indexpagecreator-image.sh
  robots/cmd/kubevirtci-bumper/BUILD.bazel
  robots/cmd/kubevirtci-bumper/README.md
  robots/cmd/kubevirtci-bumper/main.go
  robots/cmd/release-querier/BUILD.bazel
  robots/cmd/release-querier/README.md
  robots/cmd/release-querier/main.go
  robots/indexpagecreator/Makefile
  robots/pkg/flakefinder/BUILD.bazel
  robots/pkg/flakefinder/downloader.go
  robots/pkg/flakefinder/downloader_test.go
  robots/pkg/flakefinder/flakefinder.go
  robots/pkg/flakefinder/flakefinder_suite_test.go
  robots/pkg/flakefinder/flakefinder_test.go
  robots/pkg/flakefinder/report_data.go
  robots/pkg/flakefinder/report_data_test.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add checks for using org and repo
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/pkg/gomock/matchers/matchers.go
Due: pull-project-infra-test-robots

Creation of cluster failures issues
  go.mod
  go.sum
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-issue-creator/main_suite_test.go
  robots/pkg/mock_github/generated_mock_issue_client.go
Due: pull-project-infra-test-robots

Use stamping for container image tags
  robots/cmd/flake-issue-creator/BUILD.bazel
  robots/cmd/flake-issue-creator/Makefile
  robots/cmd/flakefinder/BUILD.bazel
  robots/cmd/flakefinder/Makefile
  robots/cmd/push.sh
Due: pull-project-infra-test-robots

Prepare job, format files
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  robots/cmd/flake-issue-creator/Makefile
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/get-image-tag.sh
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-report-writer/Makefile
  robots/cmd/flake-report-writer/report.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add limits for creation and separate limits
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
Due: pull-project-infra-test-robots

Update bazel build files
  external-plugins/rehearse/plugin/BUILD.bazel
  robots/cmd/flake-issue-creator/BUILD.bazel
  robots/pkg/gomock/matchers/BUILD.bazel
  robots/pkg/mock/prow/github/BUILD.bazel
Due: publish-rehearse-image, pull-project-infra-test-robots, pull-project-infra-test-rehearse

Reformat go files, add build verify
  robots/cmd/build-verify.sh
  robots/cmd/flake-issue-creator/Makefile
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flakefinder/Makefile
Due: pull-project-infra-test-robots

Add prow github client, some refactoring
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/pkg/mock/prow/github/generated_mock_client.go
Due: pull-project-infra-test-robots

Added tests for label extraction, use dot import for gomock
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-issue-creator/main_test.go
Due: pull-project-infra-test-robots

Handle long query strings
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Fix pushing and tagging of images
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
  robots/cmd/flake-issue-creator/get-image-tag.sh
  robots/cmd/flake-report-writer/Makefile
  robots/cmd/flake-report-writer/push.sh
  robots/cmd/flakefinder/BUILD.bazel
  robots/cmd/flakefinder/Makefile
  robots/cmd/flakefinder/README.md
  robots/cmd/flakefinder/index.go
  robots/cmd/flakefinder/index_test.go
  robots/cmd/flakefinder/main.go
  robots/cmd/flakefinder/main_suite_test.go
  robots/cmd/flakefinder/main_test.go
  robots/cmd/flakefinder/report.go
  robots/cmd/flakefinder/report_test.go
  robots/cmd/push.sh
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Skip modification of recently updated issues
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
Due: pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Implement create flaky test issues
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-issue-creator/main_test.go
Due: pull-project-infra-test-robots

Add acardace to org members (#1043)
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

hco, Update publish job to use quay.io
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-postsubmits.yaml
Due: pull-project-infra-prow-deploy-test

ssp-operator: Change merge_method to 'rebase' (#1039)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

sig-network, Create a periodic job (#1040)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

use embedded rook/ceph
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

hco, Use k8s-1.19 for pull-hyperconverged-cluster-operator-e2e-k8s
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Remove dead links from WORKSPACE artifacts
  plugins/cmd/uploader/uploader.go
  plugins/mirror/bazel.go
  plugins/mirror/bazel_test.go
Due: none

Fixed providers for e2e periodics
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

docs, Clarify Readme reference
  cni-plugins/sriov-passthrough-cni/README.md
Due: none

Fixed providers for e2e periodics (#1052)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: pull-project-infra-prow-deploy-test

Address review comments
  plugins/mirror/bazel.go
Due: none

sriov check-up job, remove apt usage command
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Request to be added into kubevirt.org
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

use embedded rook/ceph (#1048)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

sriov check-up job, remove apt usage command (#1050)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: pull-project-infra-prow-deploy-test

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: any of: images/bootstrap/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
