Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Verify containerdisks before pushing (#2049)
  github/ci/prow-deploy/files/jobs/kubevirt/containerdisks/containerdisks-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use go version 1.18 for check testgrid config
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add quay oauth token to the quay credentials secret
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
  github/ci/prow-deploy/templates/quay_credentials.j2
Due: pull-project-infra-prow-deploy-test

Add quay oauth token to the quay credentials secret (#2051)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
  github/ci/prow-deploy/templates/quay_credentials.j2
Due: pull-project-infra-prow-deploy-test

kubevirtci: Install libvirt + genisoimage
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci: Install libvirt + genisoimage (#2052)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Force change for job definitions on release-0.52
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.52.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Force change for job definitions on release-0.52 (#2053)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.52.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use go version 1.18 for check testgrid config (#2050)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add plugin to testgrid dashboard
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
  github/ci/testgrid/gen-config.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, post-project-infra-upload-testgrid-config

kubevirtci: Start libvirtd to run virt-install
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Shard the job configs into configmaps per org
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/ci-usage-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add configmaps for kubevirtci_testing
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
Due: pull-project-infra-prow-deploy-test

Changed capk makefile target from functest to functest-ubuntu
  github/ci/prow-deploy/files/jobs/kubernetes-sigs/cluster-api-provider-kubevirt/cluster-api-provider-kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add plugin to testgrid dashboard (#1960)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
  github/ci/testgrid/gen-config.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, post-project-infra-upload-testgrid-config

sig-performance: Increase timeout to 1h30m0s
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Shard the job configs into configmaps per org (#2056)
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/ci-usage-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
Due: pull-project-infra-prow-deploy-test

Move config bootstrapping before deployment
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Move config bootstrapping before deployment (#2060)
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Mirror multiarch images to quay.io
  hack/mirror-images.sh
Due: none

Use bootstrap with skopeo 1.6.2
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Mirror multiarch images to quay.io (#2061)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  hack/mirror-images.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "Shard the job configs into configmaps per org (#2056)"
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/ci-usage-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
Due: pull-project-infra-prow-deploy-test

Add gzip to job config
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Fix config-bootstrapper call
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Revert sharding add gzip (#2062)
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/ci-usage-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
Due: pull-project-infra-prow-deploy-test

sig-performance: Increase timeout to 1h30m0s (#2059)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sig-performance: Increase KUBEVIRT_MEMORY_SIZE to 10G
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "sig-performance: Increase timeout to 1h30m0s"
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

knmstate: add e2e upgrade lane
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sig-performance: Increase KUBEVIRT_MEMORY_SIZE to 10G (#2064)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov: Introduce place holder daemonSet
  github/ci/prow-deploy/kustom/overlays/workloads-production/resources/place-holder.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/resources/priority-classes.yaml
Due: pull-project-infra-prow-deploy-test

Increase performance job memory
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

add presubmit job for branch release-0.53
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.53.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Increase performance job memory (#2069)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

WIP: Increase vm based lanes mem
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov: Run cluster-down only once in trap
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sriov: Remove kind-1.19-sriov job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 04 May 2022 09:03:50 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 04 May 2022 09:03:50 UTC (#2076)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config
