Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-release-blocker-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-kubot-image, post-project-infra-prow-control-plane-deployment, post-project-infra-prow-workloads-cluster-deployment, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-loki-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-kubot-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, post-project-infra-mirror-images-from-docker-hub, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-bootstrap-legacy-images, build-shared-images-controller-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-kubot-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-kubot-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-kubot-image: any of: images/kubot/.*
  post-project-infra-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-prow-workloads-cluster-deployment: any of: github/ci/prow-deploy/kustom/overlays/workloads-production/.*|github/ci/prow-deploy/kustom/componenets/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-loki-deployment: any of: github/ci/services/loki.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-kubot-deployment: any of: github/ci/services/kubot.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|WORKSPACE|go_third_party.bzl
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-bootstrap-legacy-images: any of: images/bootstrap-legacy/.*|images/golang-legacy/.*
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-kubot-image: any of: images/kubot/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-loki-deploy-test: any of: github/ci/services/loki/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kubot-deploy-test: any of: github/ci/services/kubot/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Run hack/bump-prow.sh (#2800)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove bare-metal selector as running on control-plane cluster (#2803)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Improve ingress-nginx deployment
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

kubevirt, presubmit: Bump kind SR-IOV to k8s-1.27 and re-enable instead of k3d (#2772)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Reduce retries, add exponential backoff (#2797)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/hack/test.sh
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/components/greenhouse/base/resources/deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/ci-usage-exporter-deployment.yaml
  github/ci/prow-deploy/molecule/default/converge.yml
  github/ci/prow-deploy/molecule/default/retry-pod-status.yml
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix git blame extraction regex (#2802)
  robots/cmd/test-label-analyzer/cmd/stats.go
  robots/pkg/test-label-analyzer/stats.go
  robots/pkg/test-label-analyzer/stats_test.go
Due: pull-project-infra-test-robots

[HCO] Remove k8s-1.24 lanes as the provider as been removed from kubevirt-ci
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.8.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.9.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Move out image name variable evaluation
  hack/update-containerfiles-with-latest-baseimage.sh
Due: none

Update base image for prow-deploy
  images/prow-deploy/Dockerfile
Due: publish-prow-deploy-image, build-prow-deploy-image

[HCO] Remove k8s-1.24 lanes as the provider as been removed from kubevirt-ci (#2804)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.8.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.9.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

provision manager: Introduce presubmit job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

provision manager: Introduce presubmit job (#2600)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Increase ingress wait timeout
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Increase ingress wait timeout (#2808)
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Increase ingress wait timeout (#2808)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/kustom/components/docker-mirror-proxy/base/kustomization.yaml
  github/ci/prow-deploy/kustom/components/docker-mirror-proxy/hostpath/patches/JsonRFC6902/deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.gitignore
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/greenhouse-storage.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/shared-images-controller.yaml
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
  github/ci/prow-deploy/vars/kubevirt-prow-workloads/main.yml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Enable SRIOV e2e testing on the new workloads cluster
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/place-holder.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/sriov-passthrough-ds.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Upgrade sriov passthrough cni for new cluster
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/sriov-passthrough-ds.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Add bm05 and bm06 to new workloads cluster
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Add vgpu labels to nodes and priority classes to new cluster
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/priority-classes.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Add kubevirt-sm-bm03 worker node to new cluster
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Add bm02, bm07, bm08 and bm10 nodes to the new workloads cluster
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/bootstrap.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove capacity patching for SRIOV nodes as no longer used
  github/ci/prow-deploy/molecule/default/smoke_tests.yml
  github/ci/prow-deploy/molecule/default/vars/kubevirtci-testing.yml
  github/ci/prow-deploy/tasks/deploy.yml
  github/ci/prow-deploy/vars/ibmcloud-production/main.yml
  github/ci/prow-deploy/vars/kubevirt-prow-workloads/main.yml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Make CDI non-CSI lane mandatory
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update base image for bootstrap to Fedora 38
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image, build-vm-image-builder-image

Upgrade go to version 1.19.9 in golang bootstrap
  images/golang/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Make CDI non-CSI lane mandatory (#2809)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

project-infra postsubmit: change the cluster for build vm-image-builder job
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

project-infra postsubmit: change the cluster for build vm-image-builder job (#2812)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Move check-provision-manager to ibm-prow-jobs cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

WIP: try to use kind for sig-network
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Move check-provision-manager to ibm-prow-jobs cluster (#2813)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add KubeVirt fuzzing presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update to Fedora 38 and go 1.19.9 in the bootstrap images (#2810)
  images/bootstrap/Dockerfile
  images/golang/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image, build-vm-image-builder-image

Update e2e presubmits to run etcd in memory
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Thu, 08 Jun 2023 13:48:59 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/community/OWNERS
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Thu, 08 Jun 2023 13:48:59 UTC (#2817)
  github/ci/prow-deploy/files/jobs/kubevirt/community/OWNERS
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

add ability to plot data after a given date
  robots/cmd/perf-report-creator/main.go
  robots/cmd/perf-report-creator/plot.go
Due: pull-project-infra-test-robots

add ability to plot data after a given date (#2818)
  robots/cmd/perf-report-creator/main.go
  robots/cmd/perf-report-creator/plot.go
Due: pull-project-infra-test-robots

stop using relative paths for OUTPUT_DIR
  robots/cmd/perf-report-creator/scrape.sh
Due: pull-project-infra-test-robots

presubmit, kubevirtci, vgpu: Bump to 1.27
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config
