Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Remove 'latest' tag from list of image tags (#1856)
  hack/update-jobs-with-latest-image.sh
Due: none

Debug CDI Prometheus NodePort GET failures
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Debug CDI Prometheus NodePort GET failures (#1857)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add parameter for job directory
  hack/update-jobs-with-latest-image.sh
Due: none

kind-1.19-sriov: Disable job autorun (#1834)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Changing default branch of user-guide repo to main (#1841)
  github/ci/prow-deploy/files/jobs/kubevirt/user-guide/user-guide-postsubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  images/kubevirt-user-guide/Dockerfile
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, build-bootstrap-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set user-guide default branch to main
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Add fossedihelm to org member
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Also include job configs that have branch extension
  hack/update-jobs-with-latest-image.sh
Due: none

Manual update of prow job image references
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-master.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set user-guide default branch to main (#1861)
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Fix prow job image bump for branch configs (#1863)
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-master.yaml
  hack/update-jobs-with-latest-image.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add README for images folder
  images/README.md
Due: publish-bootstrap-image, build-bootstrap-image

Update k8s-testimages/bootstrap image in cluster-network-addons-operator-presubmits to latest version
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add README for images folder (#1864)
  images/README.md
Due: publish-bootstrap-image, build-bootstrap-image

Always run a mandatory cgroup v2 storage job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Always run a mandatory cgroup v2 storage job (#1860)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add usecase periodics
  robots/cmd/flake-report-creator/README.md
  robots/cmd/flake-report-creator/example_1.png
  robots/cmd/flake-report-creator/example_2.png
  robots/cmd/flake-report-creator/example_3.png
  robots/cmd/flake-report-creator/main.go
  robots/pkg/flakefinder/downloader.go
Due: pull-project-infra-test-robots

Add flake-report-creator
  robots/cmd/flake-report-creator/BUILD.bazel
  robots/cmd/flake-report-creator/Makefile
  robots/cmd/flake-report-creator/README.md
  robots/cmd/flake-report-creator/example_1.png
  robots/cmd/flake-report-creator/main.go
  robots/pkg/flakefinder/downloader.go
Due: pull-project-infra-test-robots

Sort headers to simplify evaluation for bigger reports
  robots/pkg/flakefinder/report_data.go
Due: pull-project-infra-test-robots

Reorganized examples to be more clear
  robots/cmd/flake-report-creator/README.md
  robots/cmd/flake-report-creator/example_2.png
  robots/cmd/flake-report-creator/example_3.png
  robots/cmd/flake-report-creator/example_4.png
Due: pull-project-infra-test-robots

Add simplified use cases
  robots/cmd/flake-report-creator/Makefile
  robots/cmd/flake-report-creator/README.md
  robots/cmd/flake-report-creator/main.go
Due: pull-project-infra-test-robots

WIP: flakefinder report over PRs against default branch
  hack/create-flakefinder-report.sh
Due: none

HCO: Add tests for the new release-1.6 branch
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.6.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add fossedihelm to org member (#1862)
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

knmstate: Install go from go.mod
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump sig-compute 1.20 cgroupsv2 lane to 1.23
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update k8s-testimages/bootstrap image in cluster-network-addons-operator-presubmits to latest version (#1865)
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump nonroot lanes to 1.23
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump sig-compute 1.20 cgroupsv2 lane to 1.23 (#1869)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump nonroot lanes to 1.23 (#1870)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

HCO: Add tests for the new release-1.6 branch (#1868)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.6.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use golang image for job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add presets for github credentials to project infra presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add preset for github credentials to project infra prow-jobs
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add preset for github credentials to project infra prow-jobs
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Sat, 22 Jan 2022 08:48:13 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Sat, 22 Jan 2022 08:48:13 UTC (#1873)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: Add direct report generation from gcs dir (#1704)
  robots/cmd/flake-report-creator/BUILD.bazel
  robots/cmd/flake-report-creator/Makefile
  robots/cmd/flake-report-creator/README.md
  robots/cmd/flake-report-creator/example_1.png
  robots/cmd/flake-report-creator/example_2.png
  robots/cmd/flake-report-creator/example_3.png
  robots/cmd/flake-report-creator/example_4.png
  robots/cmd/flake-report-creator/main.go
  robots/pkg/flakefinder/downloader.go
  robots/pkg/flakefinder/report_data.go
Due: pull-project-infra-test-robots

Restore new bootstrap image following fix
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config
