Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-botreview-image, publish-referee-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-fedora-coreos-kubevirt-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-ci-search-deployment, post-project-infra-grafana-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, publish-test-label-analyzer-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-bootstrap-legacy-images, build-shared-images-controller-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-phased-plugin-image: any of: external-plugins/phased/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-botreview-image: any of: external-plugins/botreview/.*
  publish-referee-image: any of: ^(external-plugins|images)/referee/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  post-project-infra-kubevirt-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-grafana-deployment: any of: github/ci/services/grafana/.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  publish-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-bazel-config: any of: github/ci/services/.*|external-plugins/.*|releng/.*|robots/.*|go.mod
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-bootstrap-legacy-images: any of: images/bootstrap-legacy/.*|images/golang-legacy/.*
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

ci-search: fix post deploy go call
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

publish_image.sh: replace docker with podman
  images/publish_image.sh
Due: none

rehearse: use Containerfile for push
  external-plugins/rehearse/Containerfile
  external-plugins/rehearse/Makefile
Due: publish-rehearse-image, pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config, pull-project-infra-test-rehearse

release-blocker: use Containerfile for push
  external-plugins/release-blocker/Makefile
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  images/release-blocker/Containerfile
Due: publish-release-blocker-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

ci-usage-exporter: use Containerfile for push
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  images/ci-usage-exporter/Containerfile
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

phased: use Containerfile for push
  external-plugins/phased/Containerfile
  external-plugins/phased/Makefile
Due: publish-phased-plugin-image, pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

flake-report-creator: use Containerfile for push
  images/flake-report-creator/Containerfile
  robots/cmd/flake-report-creator/Makefile
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

flakefinder: use Containerfile for push
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
  images/flakefinder/Containerfile
  robots/cmd/flakefinder/Makefile
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

indexpagecreator: use Containerfile for push
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  images/indexpagecreator/Containerfile
  robots/cmd/indexpagecreator/Makefile
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

test-report: use Containerfile for push
  images/test-report/Containerfile
  robots/cmd/push.sh
  robots/cmd/test-report/Makefile
Due: publish-test-report-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config

referee: align Containerfile, use quay.io
  images/referee/Containerfile
Due: publish-referee-image

lint: increase timeout
  .golangci.yaml
Due: none

lint: increase timeout (#3865)
  .golangci.yaml
Due: none

test-label-analyzer: replace cli call with stdout
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  robots/cmd/test-label-analyzer/cmd/stats.go
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow-deployment-images.sh
  github/ci/prow-deploy/kustom/base/manifests/local/botreview-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Run hack/bump-prow-deployment-images.sh (#3867)
  github/ci/prow-deploy/kustom/base/manifests/local/botreview-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/grandmatriarch.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt,presubmits: Set v1.32 e2e lanes to required (#3844)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

test-label-analyzer: update bazel build
  robots/cmd/test-label-analyzer/cmd/BUILD.bazel
Due: publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image

images: update base image reference
  external-plugins/phased/Containerfile
  external-plugins/rehearse/Containerfile
  images/botreview/Containerfile
  images/ci-usage-exporter/Containerfile
  images/flake-report-creator/Containerfile
  images/flakefinder/Containerfile
  images/indexpagecreator/Containerfile
  images/referee/Containerfile
  images/release-blocker/Containerfile
  images/test-report/Containerfile
Due: publish-rehearse-image, publish-phased-plugin-image, publish-referee-image, pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config, pull-project-infra-test-rehearse

create Containerfiles for pushing images (#3851)
  external-plugins/phased/Containerfile
  external-plugins/phased/Makefile
  external-plugins/rehearse/Containerfile
  external-plugins/rehearse/Makefile
  external-plugins/release-blocker/Makefile
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
  images/botreview/Containerfile
  images/ci-usage-exporter/Containerfile
  images/flake-report-creator/Containerfile
  images/flakefinder/Containerfile
  images/indexpagecreator/Containerfile
  images/publish_image.sh
  images/release-blocker/Containerfile
  images/test-report/Containerfile
  robots/cmd/flake-report-creator/Makefile
  robots/cmd/flakefinder/Makefile
  robots/cmd/indexpagecreator/Makefile
  robots/cmd/push.sh
  robots/cmd/test-report/Makefile
Due: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-report-image, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-rehearse

prototype: mount local directory for build
  images/botreview/Containerfile
  images/publish_image.sh
Due: none

flakefinder: update image references
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: update image references (#3870)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: add command
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: add command (#3871)
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow-deployment-images.sh
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Run hack/bump-prow-deployment-images.sh (#3872)
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

flakefinder: fix indexpagecreator
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: fix jobs for knmstate and k8snwplumbing
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add export PLATFORMS=all to post-submit jobs for kubemacpool. (#3855)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

flakefinder: fix indexpagecreator (#3873)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Move root CI lanes to 1.31 (#3841)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

request to add an enhancements repo
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

request to add an enhancements repo (#3874)
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

project-infra,periodics: move to using go
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

test-label-analyzer: replace ginkgo cli call with stdout (#3866)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  robots/cmd/test-label-analyzer/cmd/BUILD.bazel
  robots/cmd/test-label-analyzer/cmd/stats.go
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

arm64: Update arm64 lanes to use the newer kind-1.31 cluster provider
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config
