Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-release-blocker-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, post-project-infra-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-loki-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-bootstrap-legacy-images, build-shared-images-controller-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-sippy-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap-legacy:v20221205-e30b34a
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-release-blocker-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-bootstrap-legacy-images:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-shared-images-controller-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-kubevirt.github.io-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-user-guide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20230801-94954c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

Make the 1.29 kubevirtci presubmit required (#3130)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Add presubmits to validate individual preferences
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Add presubmits to validate individual preferences (#3132)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

bazel: update to golang 1.20.12
  WORKSPACE
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-kuberhealthy-deploy-test

bazel: update version for project-infra, cached versions
  .bazelversion
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image, build-vm-image-builder-image

bazel, golang: update to go 1.20.12 (#3133)
  .bazelversion
  WORKSPACE
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, build-bootstrap-image, build-vm-image-builder-image, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-kuberhealthy-deploy-test

Revert "Enable PodSecurityAdmission for remaining lanes (#3113)"
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Enable PodSecurityAdmission for check-tests-for-flakes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert enable psa for root (#3135)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove loki service as no longer required
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/services/loki/BUILD.bazel
  github/ci/services/loki/README.md
  github/ci/services/loki/e2e/BUILD.bazel
  github/ci/services/loki/e2e/e2e_test.go
  github/ci/services/loki/hack/deploy.sh
  github/ci/services/loki/manifests/common/loki.yaml
  github/ci/services/loki/manifests/common/namespace.yaml
  github/ci/services/loki/manifests/common/promtail.yaml
  github/ci/services/loki/manifests/common/rules.yaml
  github/ci/services/loki/secrets/production-control-plane/gcs/.gitkeep
  github/ci/services/loki/secrets/production-control-plane/loki-config/loki.yaml
  github/ci/services/loki/secrets/testing/gcs/service-account.json
  github/ci/services/loki/secrets/testing/loki-config/loki.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-loki-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-check-testgrid-config

Fix bazel go_third_party.bzl check
  go_third_party.bzl
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Remove loki service as no longer required (#3137)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/services/loki/BUILD.bazel
  github/ci/services/loki/README.md
  github/ci/services/loki/e2e/BUILD.bazel
  github/ci/services/loki/e2e/e2e_test.go
  github/ci/services/loki/hack/deploy.sh
  github/ci/services/loki/manifests/common/loki.yaml
  github/ci/services/loki/manifests/common/namespace.yaml
  github/ci/services/loki/manifests/common/promtail.yaml
  github/ci/services/loki/manifests/common/rules.yaml
  github/ci/services/loki/secrets/production-control-plane/gcs/.gitkeep
  github/ci/services/loki/secrets/production-control-plane/loki-config/loki.yaml
  github/ci/services/loki/secrets/testing/gcs/service-account.json
  github/ci/services/loki/secrets/testing/loki-config/loki.yaml
  go_third_party.bzl
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-loki-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config

botreview, test: make AttackReviewComment testable
  external-plugins/botreview/review/review.go
  external-plugins/botreview/review/review_test.go
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

fix, bazel, botreview: update build file
  external-plugins/botreview/review/BUILD.bazel
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

botreview, kubevirtci-bump: handle deleted files case
  external-plugins/botreview/review/bump_kubevirtci.go
  external-plugins/botreview/review/bump_kubevirtci_test.go
  external-plugins/botreview/review/image_update.go
  external-plugins/botreview/review/prow_autobump.go
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch00
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch01
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch02
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch03
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch04
  external-plugins/botreview/review/testdata/kubevirt/ci-bump-remove-provider-local/bump-kci.patch05
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

botreview, comment: convert file list into md bullets
  external-plugins/botreview/review/result.go
  external-plugins/botreview/review/result_test.go
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

fix, botreview, strategy: ignore unrelated files in kubevirtci-bump
  external-plugins/botreview/review/bump_kubevirtci.go
  external-plugins/botreview/review/bump_kubevirtci_test.go
  external-plugins/botreview/review/review.go
  external-plugins/botreview/review/review_test.go
  external-plugins/botreview/review/testdata/kubevirt/eviction-strategy-doc/eviction-strategy-doc.patch0
  external-plugins/botreview/review/testdata/kubevirt/eviction-strategy-doc/eviction-strategy-doc.patch1
  external-plugins/botreview/review/testdata/kubevirt/eviction-strategy-doc/eviction-strategy-doc.patch2
  external-plugins/botreview/review/testdata/kubevirt/eviction-strategy-doc/eviction-strategy-doc.patch3
  external-plugins/botreview/review/testdata/kubevirt/eviction-strategy-doc/eviction-strategy-doc.patch4
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch00
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch01
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch02
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch03
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch04
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch05
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch06
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch07
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch08
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch09
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch10
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch11
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch12
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch13
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch14
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch15
  external-plugins/botreview/review/testdata/kubevirt/fix-containerdisks-migration/fix-containerdisks-migrations.patch16
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

botreview, comments: create details section
  external-plugins/botreview/review/BUILD.bazel
  external-plugins/botreview/review/result.go
  external-plugins/botreview/review/review_test.go
  go.mod
  go.sum
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, pull-project-infra-job-config-validator

fix, botreview: fix comment formatting
  external-plugins/botreview/review/result.go
  external-plugins/botreview/review/review.go
  external-plugins/botreview/review/review_test.go
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

fix, botreview, image-update: fix regex
  external-plugins/botreview/review/image_update.go
  external-plugins/botreview/review/image_update_test.go
Due: pull-project-infra-test-external-plugins, pull-project-infra-test-bazel-config

common-instancetypes: Add Validation OS presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Add Validation OS presubmit (#3138)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh (#3141)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt/kubevirt, presubmit: require check-tests-for-flakes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Update presubmit focus regexes
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Add presubmits for release-0.4
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-0.4.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Enable branch-protection for all branches
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Update common-instancetypes presubmits and add presubmits for release-0.4 (#3143)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-0.4.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

project-infra, labels: add group to allow applying labels
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: post-project-infra-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

release-tool: Update phase 2 jobs to be considered phase 1 when forking a new branch
  releng/release-tool/BUILD.bazel
  releng/release-tool/release-tool.go
  releng/release-tool/release-tool_test.go
Due: pull-project-infra-test-releng, pull-project-infra-test-bazel-config

WIP: try label
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

WIP try label
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add periodic job to create PR to update crio version in mirror
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/bump-crio-mirror-verions.sh
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update shared-images base image to latest boostrap
  images/shared-images-controller/Containerfile
Due: publish-shared-images-controller-image, build-shared-images-controller-image

checklist plugin: Create manifests
  docs/infrastructure-components.md
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
  github/ci/prow-deploy/kustom/base/kustomization.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-checklist-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-checklist-service.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/patches/JsonRFC6902/prow-checklist-deployment.yaml
  images/checklist
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  post-project-infra-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-loki-deployment: any of: github/ci/services/loki.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-bazel-config: any of: github/ci/services/.*|external-plugins/.*|releng/.*|robots/.*|go.mod
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-bootstrap-legacy-images: any of: images/bootstrap-legacy/.*|images/golang-legacy/.*
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-loki-deploy-test: any of: github/ci/services/loki/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
