Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-botreview-image, publish-referee-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-fedora-coreos-kubevirt-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-ci-search-deployment, post-project-infra-grafana-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, publish-test-label-analyzer-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-shared-images-controller-image, build-release-tool-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, build-test-subset-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-phased-plugin-image: any of: external-plugins/phased/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-botreview-image: any of: external-plugins/botreview/.*
  publish-referee-image: any of: ^(external-plugins|images)/referee/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  post-project-infra-kubevirt-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-grafana-deployment: any of: github/ci/services/grafana/.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  publish-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|go.mod
  pull-project-infra-lint: any of: external-plugins/.*|releng/.*|robots/.*
  pull-project-infra-coverage: any of: external-plugins/.*|releng/.*|robots/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-release-tool-image: any of: releng/release-tool/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  build-test-subset-image: any of: images/test-subset/.*|external-plugins/test-subset/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

kubevirt: Move non-vgpu jobs to kind-1.34 provider
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

DNM:feat(auto-quarantine): prototype
  robots/cmd/quarantine/cmd/auto-quarantine.go
  robots/cmd/quarantine/cmd/quarantine-test.go
  robots/cmd/quarantine/cmd/types.go
  robots/pkg/ginkgo/dry-run.go
  robots/pkg/ginkgo/test-file.go
  robots/pkg/ginkgo/test-file_test.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

DNM: find-test prototype
  robots/cmd/quarantine/cmd/find-test.go
  robots/cmd/quarantine/cmd/root.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

fix(presubmit-requirer): remove superfluous double-dash
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(per-test-execution): handle EOF
  robots/cmd/per-test-execution/main.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

kubevirt: Move non-vgpu jobs to kind-1.34 provider (#4407)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(presubmit-requirer): remove superfluous double-dash (#4414)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt: Run jobs nested to use a consistent builder image (#4411)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(per-test-execution): handle EOF (#4415)
  robots/cmd/per-test-execution/main.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

kubevirt: update remaining k8s-1.31 lanes to k8s-1.34
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt: update remaining k8s-1.31 lanes to k8s-1.34 (#4416)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci,presubmit: enable s390x check-provision for k8s-1.34 provider
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci,presubmit: enable s390x check-provision for k8s-1.34 provider (#4418)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt,presubmit: request cpu resources for the unit test presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh (#4419)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt,presubmit: request cpu resources for the unit test presubmit (#4417)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt, presubmits: Bump k8s version of net lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt, periodics: Bump k8s version of net lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(robot): add merged-prs tool
  go.mod
  robots/cmd/merged-prs/main.go
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-job-config-validator

arm64: Mark the main arm64 unit and e2e lanes as required
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci: update jobs to run with GIMME_GO_VERSION=1.24.7
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci: update jobs to run with GIMME_GO_VERSION=1.24.7 (#4423)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump network lanes to K8s 1.34 (#4395)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(fossa,goveralls): increase job resources
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(fossa,goveralls): increase job resources (#4426)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 08 Oct 2025 17:18:45 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/community/OWNERS
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 08 Oct 2025 17:18:45 UTC (#4427)
  github/ci/prow-deploy/files/jobs/kubevirt/community/OWNERS
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

wAdd alancaldelas as a KubeVirt member
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

wAdd alancaldelas as a KubeVirt member (#4425)
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

arm64: Mark the main arm64 unit and e2e lanes as required (#4421)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(cli): add quarantine-test and find-test
  robots/cmd/quarantine/cmd/info-test.go
  robots/cmd/quarantine/cmd/quarantine-test.go
  robots/cmd/quarantine/cmd/root.go
  robots/cmd/quarantine/cmd/types.go
  robots/pkg/ginkgo/dry-run.go
  robots/pkg/ginkgo/dry-run_test.go
  robots/pkg/ginkgo/modify.go
  robots/pkg/ginkgo/modify_test.go
  robots/pkg/ginkgo/test-descriptor.go
  robots/pkg/ginkgo/test-descriptor_test.go
  robots/pkg/ginkgo/test-file.go
  robots/pkg/ginkgo/test-file_test.go
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-job-config-validator

Run hack/bump-prow.sh (#4430)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(cli): add quarantine-test and find-test (#4424)
  robots/cmd/quarantine/cmd/info-test.go
  robots/cmd/quarantine/cmd/quarantine-test.go
  robots/cmd/quarantine/cmd/root.go
  robots/cmd/quarantine/cmd/types.go
  robots/pkg/ginkgo/dry-run.go
  robots/pkg/ginkgo/dry-run_test.go
  robots/pkg/ginkgo/modify.go
  robots/pkg/ginkgo/modify_test.go
  robots/pkg/ginkgo/test-descriptor.go
  robots/pkg/ginkgo/test-descriptor_test.go
  robots/pkg/ginkgo/test-file.go
  robots/pkg/ginkgo/test-file_test.go
Due: pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-job-config-validator

wip:feat(auto-quarantine): add cli command
  robots/cmd/quarantine/cmd/auto-quarantine.go
  robots/cmd/quarantine/cmd/root.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

Create virt-template repo
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Increase periodic performance job timeout for the dedicated cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add Kubevirt-provider env var
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/perf-report-creator/graph.sh
  robots/cmd/perf-report-creator/release-graph.sh
  robots/cmd/perf-report-creator/scrape.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add Kubevirt-provider env var (#4429)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/perf-report-creator/graph.sh
  robots/cmd/perf-report-creator/release-graph.sh
  robots/cmd/perf-report-creator/scrape.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config
