Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Switch hpp operator to use golang container. (#1637)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set KubePodNotReady for to 90m in prow-workloads (#1636)
  github/ci/services/prometheus-stack/manifests/rules/common/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-control-plane/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-e2e-workloads/kubernetes-apps.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Rename kubernetes-apps PrometheusRule and rule group for common and cluster use cases
  github/ci/services/prometheus-stack/manifests/rules/common/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-control-plane/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-e2e-workloads/kubernetes-apps.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

add presubmit job for branch release-0.46
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.46.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix missing dry-run dash (#1640)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove linter for now
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove linter for now (#1642)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

WIP, test 6488
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Rename kubernetes-apps PrometheusRule and rule group for common and cluster use cases (#1641)
  github/ci/services/prometheus-stack/manifests/rules/common/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-control-plane/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/rules/production-e2e-workloads/kubernetes-apps.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Add blackbox-exporter and probe + alert for prow.ci.kubevirt.io (#1604)
  github/ci/services/prometheus-stack/manifests/rules/production-e2e-workloads/probes.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/blackbox-exporter.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
  github/ci/services/prometheus-stack/secrets/production-e2e-workloads/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
  github/ci/services/prometheus-stack/secrets/testing/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Add vm-image-builder image and jobs to handle it (#1627)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  images/vm-image-builder/Dockerfile
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, build-bootstrap-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Increase timeout for fourweekly report to avoid timeouts
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Adds new lane for running periodic realtime perf tests
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set default branch to main for cdi-api-reference repo
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Move hpp(-operator) unit tests to phx-prow cluster
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Move hpp(-operator) unit tests to phx-prow cluster (#1645)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Skip release branches for 1.22 jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Skip release branches for 1.22 jobs (#1646)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Symlink prow-deploy requirements.txt to the file used in the image (#1620)
  github/ci/prow-deploy/requirements.txt
Due: pull-project-infra-prow-deploy-test

Add test for copying branch rules on presubmits
  robots/pkg/kubevirt/cmd/copy/jobs.go
  robots/pkg/kubevirt/cmd/copy/jobs_test.go
Due: pull-project-infra-test-robots

Increase timeout for fourweekly report to avoid timeouts (#1643)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump bootstrap image used in nmstate publish job
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set default branch to main for cdi-api-reference repo (#1644)
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Bump bootstrap image used in nmstate publish job (#1648)
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add test for copying branch rules on presubmits (#1647)
  robots/pkg/kubevirt/cmd/copy/jobs.go
  robots/pkg/kubevirt/cmd/copy/jobs_test.go
Due: pull-project-infra-test-robots

NMO: Remove e2e from presubmits, clean postsubmit
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-master.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add kubot
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/services/common/k8s/pkg/wait/wait.go
  github/ci/services/kubot/BUILD.bazel
  github/ci/services/kubot/README.md
  github/ci/services/kubot/e2e/BUILD.bazel
  github/ci/services/kubot/e2e/e2e_test.go
  github/ci/services/kubot/hack/deploy.sh
  github/ci/services/kubot/manifests/full.yaml
  github/ci/services/kubot/patches/testing/deployment.yaml
  github/ci/services/kubot/secrets/production/kubeconfig/.gitkeep
  github/ci/services/kubot/secrets/production/slack-token/.gitkeep
  github/ci/services/kubot/secrets/testing/kubeconfig/config
  github/ci/services/kubot/secrets/testing/slack-token/token
  images/kubot/Dockerfile
  images/kubot/worker.coffee
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, build-bootstrap-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config

Set rook-ceph storage in cgroupsv2 lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add separate cgroupsv2 rook-ceph presubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set rook-ceph storage in cgroupsv2 lanes (#1652)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add KubernetesDiskPressure alert
  github/ci/services/prometheus-stack/manifests/rules/common/kube-prometheus-node-alerting.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Add automation to disable always_run on old jobs
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/kubevirt/README.md
  robots/pkg/kubevirt/cmd/copy/BUILD.bazel
  robots/pkg/kubevirt/cmd/copy/jobs.go
  robots/pkg/kubevirt/cmd/copy/jobs_test.go
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/always_run.go
  robots/pkg/kubevirt/cmd/remove/remove.go
  robots/pkg/kubevirt/release/BUILD.bazel
  robots/pkg/kubevirt/release/release.go
  robots/pkg/kubevirt/release/release_test.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix job removal to only handle different minor versions
  robots/pkg/kubevirt/cmd/remove/always_run.go
  robots/pkg/kubevirt/cmd/remove/jobs.go
  robots/pkg/kubevirt/cmd/remove/jobs_test.go
  robots/pkg/kubevirt/release/release.go
Due: pull-project-infra-test-robots

Do not use secrets in testing env to prevent false positive security warnings
  github/ci/services/kubot/manifests/full.yaml
  github/ci/services/kubot/patches/testing/deployment.yaml
  github/ci/services/kubot/secrets/testing/kubeconfig/config
  github/ci/services/kubot/secrets/testing/slack-token/token
  images/kubot/worker.coffee
Due: publish-bootstrap-image, build-bootstrap-image

Add kubot (#1651)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/services/common/k8s/pkg/wait/wait.go
  github/ci/services/kubot/BUILD.bazel
  github/ci/services/kubot/README.md
  github/ci/services/kubot/e2e/BUILD.bazel
  github/ci/services/kubot/e2e/e2e_test.go
  github/ci/services/kubot/hack/deploy.sh
  github/ci/services/kubot/manifests/full.yaml
  github/ci/services/kubot/patches/testing/deployment.yaml
  github/ci/services/kubot/secrets/production/kubeconfig/.gitkeep
  github/ci/services/kubot/secrets/production/slack-token/.gitkeep
  images/kubot/Dockerfile
  images/kubot/worker.coffee
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, build-bootstrap-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config

Add KubernetesDiskPressure alert (#1653)
  github/ci/services/prometheus-stack/manifests/rules/common/kube-prometheus-node-alerting.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Add always run disabler, fix PR branch and selection of releases for delete jobs job (#1654)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/kubevirt/README.md
  robots/pkg/kubevirt/cmd/copy/BUILD.bazel
  robots/pkg/kubevirt/cmd/copy/jobs.go
  robots/pkg/kubevirt/cmd/copy/jobs_test.go
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/always_run.go
  robots/pkg/kubevirt/cmd/remove/jobs.go
  robots/pkg/kubevirt/cmd/remove/jobs_test.go
  robots/pkg/kubevirt/cmd/remove/remove.go
  robots/pkg/kubevirt/release/BUILD.bazel
  robots/pkg/kubevirt/release/release.go
  robots/pkg/kubevirt/release/release_test.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add always_run check for latest sig lanes
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/always_run.go
  robots/pkg/kubevirt/cmd/remove/always_run_test.go
  robots/pkg/kubevirt/cmd/remove/jobs.go
Due: pull-project-infra-test-robots

request for containerized-data-importer-api repo
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Add metrics server to prow-workloads
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/resources/metrics-server.yaml
Due: pull-project-infra-prow-deploy-test
