Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210126-a12b6c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

HCO: fix kubevirt providers
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubemacpool, Add stable lane release-v0.31
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-presubmits-v0.31.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

cnao, Add stable lane release-0.58
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.58.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

HCO: Add tests for the new release-1.5 branch
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.5.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

HCO: Add tests for the new release-1.5 branch (#1512)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.5.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

cnao, Add stable lane release-0.58 (#1509)
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-presubmits-0.58.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubemacpool, Add stable lane release-v0.31 (#1508)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-presubmits-v0.31.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove slack reporting for kubevirt cgroupsv2 periodic
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Change check-provision job and automation to use prow-workloads
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
  robots/cmd/kubevirtci-presubmit-creator/main.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Change check-provision job and automation to use prow-workloads (#1514)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
  robots/cmd/kubevirtci-presubmit-creator/main.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix job directory in update image script
  hack/update-jobs-with-latest-image.sh
Due: none

Remove slack reporting for kubevirt cgroupsv2 periodic (#1513)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update flakefinder to latest version
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update flakefinder to latest version (#1518)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
  hack/update-jobs-with-latest-image.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

make king-1.19-vgpu lane mandatory
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make the kubevirt sig-storage 1.19 and 1.20 lanes optional
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make hpp sanity and k8s-storage lane mandatory and gating
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make hpp sanity and k8s-storage lane mandatory and gating (#1521)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Configuration fixes of KubeVirt Velero Plugin's CI. (#1504)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

make king-1.19-vgpu lane mandatory (#1519)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 25 Aug 2021 16:06:07 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Wed, 25 Aug 2021 16:06:07 UTC (#1522)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

git-pr, Support commit description command
  hack/git-pr.sh
Due: none

periodic-kubevirtci-bump-kubevirt, Add whatchanged info to automatic bumps
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add nonroot keyword to target
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove cgroupsv2 periodic
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make the kubevirt sig-storage 1.19 and 1.20 lanes optional (#1520)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix case for two patch releases out
  robots/cmd/kubevirt-job-copier/main.go
  robots/cmd/kubevirt-job-copier/main_test.go
Due: pull-project-infra-test-robots

Add periodic job, code and simple test for kubevirt-job-copier
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/kubevirt-job-copier/BUILD.bazel
  robots/cmd/kubevirt-job-copier/main.go
  robots/cmd/kubevirt-job-copier/main_test.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Address review comments
  robots/cmd/kubevirt-job-copier/main.go
Due: pull-project-infra-test-robots

Run hack/bump-prow.sh (#1503)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Remove cgroupsv2 periodic (#1526)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update ignored files to make harder to leak secrets
  .gitignore
Due: none

Update ignored files to make harder to leak secrets (#1527)
  .gitignore
Due: none

NMO: Add release-0.10 branch config
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-presubmits-release-0.10.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

NMO: Remove call of unneeded make target for releases
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fixing configuration of the functional tests cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fixing configuration of the functional tests cluster (#1530)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add brybacki to maintainers of KubeVirt Velero plugin
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
