Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210126-a12b6c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Creating post-submit job for kubevirt.github.io
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update for LANG
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-postsubmits.yaml
  images/ruby/Dockerfile
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update to _site
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Website ci (#1391)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-postsubmits.yaml
  images/ruby/Dockerfile
Due: publish-bootstrap-image, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Mon, 28 Jun 2021 15:44:42 UTC (#1392)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update branch for repo config, move jobs to ibm cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
  github/ci/prow-deploy/files/orgs.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update branch for repo config, move jobs to ibm cluster (#1393)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
  github/ci/prow-deploy/files/orgs.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update Prow urls in ci-search flags
  github/ci/services/ci-search/patches/statefulset.yaml
Due: post-project-infra-ci-search-deployment, pull-project-infra-ci-search-deploy-test

Update Prow urls in ci-search flags (#1394)
  github/ci/services/ci-search/patches/statefulset.yaml
Due: post-project-infra-ci-search-deployment, pull-project-infra-ci-search-deploy-test

Fix branch-protector for CDI and CNAO
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

Remove experimental lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add presubmit jobs for cgroups v2 CI lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Remove check-provision-k8s-1.2{0,1}-cgroupsv2 jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Fix branch-protector for CDI and CNAO (#1395)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

Remove experimental lane (#1396)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Set KUBEVIRT_E2E_RUN_ALL_SUITES on periodic sig kubevirt jobs (#1369)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

kubevirtci k8s-x.yy presubmits, Increase max_concurrency to 2
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

kubevirtci k8s-x.yy presubmits, Increase max_concurrency to 2 (#1398)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add windows-sysprep lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

add init periodic E2E test for ARM
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update the image for cgroupsv2 jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Deploy Prow exporter
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-service.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/manifests/service-monitors/common/greenhouse.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/common/namespace.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/production-control-plane/prow-exporter.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/production-control-plane/pushgateway.yaml
  hack/bump-prow.sh
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Fix exporter flag
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Remove uneeded service monitor
  github/ci/services/prometheus-stack/manifests/service-monitors/production-control-plane/prow-exporter.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Update the image for cgroupsv2 jobs (#1399)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

add presubmit job for branch release-0.43
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.43.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Deploy Prow exporter (#1400)
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-service.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/manifests/service-monitors/common/greenhouse.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/common/namespace.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/production-control-plane/pushgateway.yaml
  hack/bump-prow.sh
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Add fossa analysis presubmit manual and postsubmit
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/tasks/secrets.yml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Address review comments
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add kubevirtci-fossa-token to secretGenerators
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
Due: pull-project-infra-prow-deploy-test

Add fake fossa token
  github/ci/prow-deploy/vars/kubevirtci-testing/secrets.yml
Due: pull-project-infra-prow-deploy-test

Add fossa analysis presubmit manual and postsubmit (#1262)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
  github/ci/prow-deploy/tasks/secrets.yml
  github/ci/prow-deploy/vars/kubevirtci-testing/secrets.yml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add prow-exporter RBAC
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-rbac.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-service.yaml
Due: pull-project-infra-prow-deploy-test

add init periodic E2E test for ARM (#1364)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh (#1402)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Enable serve_metrics in pushgateway config
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

define container ports
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Fix Prow exporter deployment (#1403)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-rbac.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-service.yaml
Due: pull-project-infra-prow-deploy-test

Add namespace for fossa token
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/kustomization.yaml
Due: pull-project-infra-prow-deploy-test

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
