Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210126-a12b6c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Add blackbox-exporter and probe + alert for prow.ci.kubevirt.io
  github/ci/services/prometheus-stack/manifests/rules/production-e2e-workloads/probes.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/blackbox-exporter.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
  github/ci/services/prometheus-stack/secrets/production-e2e-workloads/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Refactor job-copier and presubmit-requirer to commands
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/kubevirt/BUILD.bazel
  robots/cmd/kubevirt/main.go
  robots/pkg/kubevirt/BUILD.bazel
  robots/pkg/kubevirt/copy/BUILD.bazel
  robots/pkg/kubevirt/copy/copy.go
  robots/pkg/kubevirt/copy/jobs/BUILD.bazel
  robots/pkg/kubevirt/copy/jobs/copyjobs.go
  robots/pkg/kubevirt/copy/jobs/copyjobs_test.go
  robots/pkg/kubevirt/require/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits/requirepresubmits.go
  robots/pkg/kubevirt/require/presubmits/requirepresubmits_test.go
  robots/pkg/kubevirt/require/require.go
  robots/pkg/kubevirt/root.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Restructure kubevirt file layout
  robots/cmd/kubevirt/BUILD.bazel
  robots/cmd/kubevirt/main.go
  robots/pkg/kubevirt/BUILD.bazel
  robots/pkg/kubevirt/cmd/BUILD.bazel
  robots/pkg/kubevirt/cmd/copy/BUILD.bazel
  robots/pkg/kubevirt/cmd/copy/copy.go
  robots/pkg/kubevirt/cmd/copy/jobs.go
  robots/pkg/kubevirt/cmd/copy/jobs_test.go
  robots/pkg/kubevirt/cmd/flags/BUILD.bazel
  robots/pkg/kubevirt/cmd/flags/flags.go
  robots/pkg/kubevirt/cmd/require/BUILD.bazel
  robots/pkg/kubevirt/cmd/require/presubmits.go
  robots/pkg/kubevirt/cmd/require/presubmits_test.go
  robots/pkg/kubevirt/cmd/require/require.go
  robots/pkg/kubevirt/cmd/root.go
  robots/pkg/kubevirt/github/BUILD.bazel
  robots/pkg/kubevirt/github/github.go
Due: pull-project-infra-test-robots

Reorganize folder structure
  robots/pkg/kubevirt/copy/BUILD.bazel
  robots/pkg/kubevirt/copy/copy.go
  robots/pkg/kubevirt/copy/jobs.go
  robots/pkg/kubevirt/copy/jobs/BUILD.bazel
  robots/pkg/kubevirt/copy/jobs_test.go
  robots/pkg/kubevirt/require/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits.go
  robots/pkg/kubevirt/require/presubmits/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits_test.go
  robots/pkg/kubevirt/require/require.go
Due: pull-project-infra-test-robots

Polish help texts
  robots/pkg/kubevirt/copy/jobs.go
  robots/pkg/kubevirt/flags/flags.go
  robots/pkg/kubevirt/require/presubmits.go
Due: pull-project-infra-test-robots

Add new remove jobs job, update existing jobs with pr-creator
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add functest
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/jobs.go
  robots/pkg/kubevirt/cmd/remove/jobs_test.go
  robots/pkg/kubevirt/cmd/remove/testdata/should_modify/kubevirt-periodics.yaml
  robots/pkg/kubevirt/cmd/remove/testdata/should_modify/kubevirt-presubmits.yaml
  robots/pkg/kubevirt/cmd/remove/testdata/should_not_modify/kubevirt-periodics.yaml
  robots/pkg/kubevirt/cmd/remove/testdata/should_not_modify/kubevirt-presubmits.yaml
Due: pull-project-infra-test-robots

Add remove cmd, implement checks
  go.mod
  robots/pkg/kubevirt/cmd/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/jobs.go
  robots/pkg/kubevirt/cmd/remove/jobs_test.go
  robots/pkg/kubevirt/cmd/remove/remove.go
Due: pull-project-infra-test-robots

Some more polish
  robots/pkg/kubevirt/copy/copy.go
  robots/pkg/kubevirt/copy/jobs.go
  robots/pkg/kubevirt/flags/BUILD.bazel
  robots/pkg/kubevirt/flags/flags.go
  robots/pkg/kubevirt/require/presubmits.go
  robots/pkg/kubevirt/require/require.go
  robots/pkg/kubevirt/root.go
Due: pull-project-infra-test-robots

Move utility methods to jobconfig
  robots/pkg/kubevirt/copy/BUILD.bazel
  robots/pkg/kubevirt/copy/jobs.go
  robots/pkg/kubevirt/copy/jobs_test.go
  robots/pkg/kubevirt/jobconfig/BUILD.bazel
  robots/pkg/kubevirt/jobconfig/jobconfig.go
  robots/pkg/kubevirt/jobconfig/jobconfig_test.go
  robots/pkg/kubevirt/require/presubmits.go
  robots/pkg/kubevirt/require/presubmits_test.go
Due: pull-project-infra-test-robots

Remove options logging in flags
  robots/pkg/kubevirt/flags/BUILD.bazel
  robots/pkg/kubevirt/flags/flags.go
Due: pull-project-infra-test-robots

Polish (reduce duplication, make func names non exported)
  robots/pkg/kubevirt/copy/BUILD.bazel
  robots/pkg/kubevirt/copy/copy.go
  robots/pkg/kubevirt/copy/jobs.go
  robots/pkg/kubevirt/copy/jobs_test.go
  robots/pkg/kubevirt/flags/flags.go
  robots/pkg/kubevirt/github/github.go
  robots/pkg/kubevirt/jobconfig/BUILD.bazel
  robots/pkg/kubevirt/jobconfig/jobconfig.go
  robots/pkg/kubevirt/log/log.go
  robots/pkg/kubevirt/require/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits.go
  robots/pkg/kubevirt/require/presubmits_test.go
  robots/pkg/kubevirt/root.go
Due: pull-project-infra-test-robots

Generalize duplicate code, further refactoring
  robots/pkg/kubevirt/BUILD.bazel
  robots/pkg/kubevirt/copy/jobs/BUILD.bazel
  robots/pkg/kubevirt/copy/jobs/copyjobs.go
  robots/pkg/kubevirt/flags/BUILD.bazel
  robots/pkg/kubevirt/flags/flags.go
  robots/pkg/kubevirt/github/BUILD.bazel
  robots/pkg/kubevirt/github/github.go
  robots/pkg/kubevirt/log/BUILD.bazel
  robots/pkg/kubevirt/log/log.go
  robots/pkg/kubevirt/require/presubmits/BUILD.bazel
  robots/pkg/kubevirt/require/presubmits/requirepresubmits.go
  robots/pkg/kubevirt/root.go
Due: pull-project-infra-test-robots

Remove jobs implementation ready, functests missing
  robots/pkg/kubevirt/cmd/remove/BUILD.bazel
  robots/pkg/kubevirt/cmd/remove/jobs.go
  robots/pkg/kubevirt/cmd/remove/jobs_test.go
Due: pull-project-infra-test-robots

Add additional scrape config secret to testing environment
  github/ci/services/prometheus-stack/secrets/testing/prometheus-stack-kube-prom-prometheus-scrape-confg/additional-scrape-configs.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

Use images from Quay (#1603)
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/components/docker-mirror-proxy/base/resources/deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/bootstrap.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirtci-testing/resources/ingress-nginx-controller.yaml
  github/ci/prow-deploy/kustom/overlays/workloads-production/resources/multus-cni.yaml
Due: pull-project-infra-prow-deploy-test

Update branch to respectful name (#1602)
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-tutorial/kubevirt-tutorial-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add hostpath-provisioner-operator repo to PROW
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/OWNERS
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-postsubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add hostpath-provisioner-operator repo to PROW (#1607)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/OWNERS
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner-operator/hostpath-provisioner-operator-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-postsubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update testgrid docs
  github/ci/testgrid/README.md
Due: none

Add HCO jobs into testgrid
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
  github/ci/testgrid/gen-config.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, post-project-infra-upload-testgrid-config

Allow one unavailable pod in several deployments
  github/ci/prow-deploy/kustom/components/docker-mirror-proxy/base/resources/deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/ghproxy_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Allow one unavailable pod in several deployments (#1611)
  github/ci/prow-deploy/kustom/components/docker-mirror-proxy/base/resources/deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/ghproxy_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add post submit to hostpath-provisioner for releases
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add HCO jobs into testgrid (#1610)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits.yaml
  github/ci/testgrid/gen-config.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, post-project-infra-upload-testgrid-config

Exclude private and empty repos from bumping
  hack/bump-prow-job-images.sh
  hack/update-jobs-with-latest-image.sh
Due: none

Add post submit to hostpath-provisioner for releases (#1608)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Exclude private and empty repos from bumping (#1612)
  hack/bump-prow-job-images.sh
  hack/update-jobs-with-latest-image.sh
Due: none

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh (#1617)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add --force-conflicts to prow-deploy kubectl apply
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Add --force-conflicts to prow-deploy kubectl apply (#1618)
  github/ci/prow-deploy/tasks/deploy.yml
Due: pull-project-infra-prow-deploy-test

Update testgrid docs (#1609)
  github/ci/testgrid/README.md
Due: none

Update molecule and molecule-docker
  images/prow-deploy/requirements.txt
Due: publish-bootstrap-image, publish-prow-deploy-image, build-bootstrap-image, build-prow-deploy-image

Symlink prow-deploy requirements.txt to the file used in the image
  github/ci/prow-deploy/requirements.txt
Due: pull-project-infra-prow-deploy-test

Switch hostpath provisioner unit test running to golang container
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Switch hostpath provisioner unit test running to golang container (#1621)
  github/ci/prow-deploy/files/jobs/kubevirt/hostpath-provisioner/hostpath-provisioner-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump prow-deploy image
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/molecule/default/molecule.yml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove references to transfigure in testgrid doc
  github/ci/testgrid/README.md
Due: none

Use pr-creator image for kubevirtci minor version updater
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
