Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-release-blocker-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-kubot-image, post-project-infra-prow-control-plane-deployment, post-project-infra-prow-workloads-cluster-deployment, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-loki-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-kubot-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, post-project-infra-mirror-images-from-docker-hub, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-bootstrap-legacy-images, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-kubot-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-kubot-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, publish-kubevirt-userguide-image, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-release-blocker-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap-legacy:v20220810-a8f2e6c
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-bootstrap-legacy-images:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-kubevirt.github.io-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-user-guide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220728-1410a63
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20220816-91d8af2
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

Update README and help texts for commands
  robots/cmd/test-report/README.md
  robots/cmd/test-report/cmd/dequarantine/execute.go
  robots/cmd/test-report/cmd/dequarantine/report.go
  robots/cmd/test-report/cmd/execution/execution.go
Due: pull-project-infra-test-robots

Create dequarantine execute command
  go.mod
  robots/cmd/test-report/BUILD.bazel
  robots/cmd/test-report/cmd/BUILD.bazel
  robots/cmd/test-report/cmd/dequarantine/BUILD.bazel
  robots/cmd/test-report/cmd/dequarantine/dequarantine.go
  robots/cmd/test-report/cmd/dequarantine/execute.go
  robots/cmd/test-report/cmd/dequarantine/execute_test.go
  robots/cmd/test-report/cmd/dequarantine/report.go
  robots/cmd/test-report/cmd/dequarantine/testdata/dequarantine-report-data.json
  robots/cmd/test-report/cmd/dequarantine/testdata/no-results.json
  robots/cmd/test-report/cmd/dequarantine/testdata/no-test-results.json
  robots/cmd/test-report/cmd/dequarantine/testdata/one-test-passing.json
  robots/cmd/test-report/cmd/dequarantine/testdata/some-tests-skipped-but-two-passing-in-skipped.json
  robots/cmd/test-report/cmd/dequarantine/testdata/some-tests-skipped.json
  robots/cmd/test-report/cmd/dequarantine/testdata/test-failing.json
  robots/cmd/test-report/cmd/dequarantine/testdata/test-fixed.json
  robots/cmd/test-report/cmd/dequarantine/testdata/test-passing.json
  robots/cmd/test-report/cmd/dequarantine/testdata/test-some-passing-some-failing.json
  robots/cmd/test-report/cmd/execution/BUILD.bazel
  robots/cmd/test-report/cmd/execution/execution_test.go
  robots/pkg/test-report/test_report.go
Due: pull-project-infra-test-robots

Refactor into commands execution and dequarantine
  robots/cmd/test-report/cmd/dequarantine.go
  robots/cmd/test-report/cmd/execution/compute-config.yaml
  robots/cmd/test-report/cmd/execution/default-config.yaml
  robots/cmd/test-report/cmd/execution/execution.go
  robots/cmd/test-report/cmd/execution/network-config.yaml
  robots/cmd/test-report/cmd/execution/ssp-config.yaml
  robots/cmd/test-report/cmd/execution/storage-config.yaml
  robots/cmd/test-report/cmd/execution/test-report.gohtml
  robots/cmd/test-report/cmd/root.go
  robots/cmd/test-report/main.go
Due: pull-project-infra-test-robots

Set indent
  robots/cmd/test-report/cmd/dequarantine/execute.go
Due: pull-project-infra-test-robots

Update test-report image in script
  hack/test-report.sh
Due: none

Temporarily move pinc jobs to prow-workloads cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.58.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update release-tool with --existing-branch cli arg for cutting tags out of specific branches
  releng/release-tool/release-tool.go
Due: none

Temporarily move pinc jobs to prow-workloads cluster (#2583)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.58.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make 1.26 PSA storage lane gating
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update release-tool with --existing-branch cli arg for cutting tags out of specific branches (#2431)
  releng/release-tool/release-tool.go
Due: none

Update golang to 1.19.1 (#2362)
  .bazelversion
  Makefile
  WORKSPACE
  go.mod
  go.sum
  go_third_party.bzl
  robots/pkg/ci-usage-exporter/metrics/metrics_test.go
Due: publish-ci-usage-exporter-image, pull-project-infra-test-robots, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-loki-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-kubot-deploy-test

Make 1.26 PSA network lane gating (#2578)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update kubevirt periodics job and project-infra to 1.19
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update kubevirt periodics job and project-infra to 1.19 (#2588)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make 1.26 PSA storage lane gating (#2584)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove 1.23 cgroupsv2 periodic lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Split 1.26 operator lane to conf. and upgrade
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt get presubmits: add env var list
  robots/pkg/kubevirt/cmd/get/presubmits.gohtml
Due: pull-project-infra-test-robots

Remove 1.23 cgroupsv2 periodic lanes (#2590)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt get presubmits: add env var list (#2591)
  robots/pkg/kubevirt/cmd/get/presubmits.gohtml
Due: pull-project-infra-test-robots

Fix merging of skipped tests
  robots/pkg/flakefinder/junit-merge/merge.go
  robots/pkg/flakefinder/junit-merge/merge_test.go
Due: pull-project-infra-test-robots

Update image for flake-report-creator
  hack/flake-report-creator.sh
Due: none

add presubmit job for branch release-0.59
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.59.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Temporarily move 0.53 jobs to prow-workloads due to image cache issue
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.53.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Temporarily move 0.53 jobs to prow-workloads due to image cache issue (#2595)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.53.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "Temporarily move pinc jobs to prow-workloads cluster (#2583)"
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.58.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "Temporarily move 0.53 jobs to prow-workloads due to image cache issue (#2595)"
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.53.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add periodic job to bump images for kubevirt (#2521)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add workaround for cri-o version 1.24 (#2575)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  hack/mirror-crio.sh
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Add basic functional test coverage (#2582)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add container env variable output to periodics
  robots/pkg/kubevirt/cmd/get/periodics.gohtml
Due: pull-project-infra-test-robots

add presubmit job for branch release-0.59 (#2594)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.59.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add container env variable output to periodics (#2596)
  robots/pkg/kubevirt/cmd/get/periodics.gohtml
Due: pull-project-infra-test-robots

Fix flake report creator merging (#2593)
  hack/flake-report-creator.sh
  robots/pkg/flakefinder/junit-merge/merge.go
  robots/pkg/flakefinder/junit-merge/merge_test.go
Due: pull-project-infra-test-robots

Revert "Temporarily move pinc jobs to prow-workloads cluster (#2583)" (#2589)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.53.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.58.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Cleanup deployment files for old performance cluster
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-performance-workloads/bootstrap.yml
  github/ci/prow-performance-workloads/hack/bootstrap.sh
  github/ci/prow-performance-workloads/hack/common.sh
  github/ci/prow-performance-workloads/hack/deploy.sh
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/README.md
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/all/docker.yml
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/etcd.yml
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/k8s_cluster/addons.yml
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/k8s_cluster/k8s-cluster.yml
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/k8s_cluster/k8s-net-calico.yml
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/kube-proxy.yml
  github/ci/prow-performance-workloads/roles/bootstrap/tasks/control-plane.yml
  github/ci/prow-performance-workloads/roles/bootstrap/tasks/main.yml
  github/ci/prow-performance-workloads/roles/bootstrap/tasks/workers.yml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Set PSA enabled for all 1.26 CentOS Stream 9 lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove PSA optional jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove PSA optional jobs (#2598)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Convert periodic into postsubmit
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-kubot-image: any of: images/kubot/.*
  post-project-infra-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-prow-workloads-cluster-deployment: any of: github/ci/prow-deploy/kustom/overlays/workloads-production/.*|github/ci/prow-deploy/kustom/componenets/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-loki-deployment: any of: github/ci/services/loki.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-kubot-deployment: any of: github/ci/services/kubot.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-bootstrap-legacy-images: any of: images/bootstrap-legacy/.*|images/golang-legacy/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-kubot-image: any of: images/kubot/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-loki-deploy-test: any of: github/ci/services/loki/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kubot-deploy-test: any of: github/ci/services/kubot/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
