Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210126-a12b6c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Re-add cgroupsv2 periodic
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Don't always run sig-storage flaky lanes. (#1549)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add explanation of what we are testing here
  robots/cmd/kubevirt-job-copier/main_test.go
Due: pull-project-infra-test-robots

Fix job_states_to_report element getting removed (#1543)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  go.mod
  go.sum
  go_third_party.bzl
  robots/cmd/flake-issue-creator/BUILD.bazel
  robots/cmd/flake-issue-creator/Makefile
  robots/cmd/flake-issue-creator/cluster_failure.go
  robots/cmd/flake-issue-creator/cluster_failure_test.go
  robots/cmd/flake-issue-creator/flake_issue.go
  robots/cmd/flake-issue-creator/flake_issue_test.go
  robots/cmd/flake-issue-creator/issue.go
  robots/cmd/flake-issue-creator/issue_test.go
  robots/cmd/flake-issue-creator/main.go
  robots/cmd/flake-issue-creator/main_suite_test.go
  robots/cmd/flakefinder/main.go
  robots/cmd/kubevirt-job-copier/BUILD.bazel
  robots/cmd/kubevirt-job-copier/main_test.go
  robots/cmd/labels-checker/BUILD.bazel
  robots/cmd/labels-checker/main.go
  robots/pkg/mock/prow/github/BUILD.bazel
  robots/pkg/mock/prow/github/generated_mock_client.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config

Adjust skip list
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Re-add cgroupsv2 periodic (#1550)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add csv reporting for easier aggregation
  robots/cmd/flakefinder/report.go
  robots/cmd/flakefinder/report_test.go
Due: pull-project-infra-test-robots

prepull only used versions
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Switch using pr-creator image
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  hack/git-pr.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Switch using pr-creator image (#1539)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  hack/git-pr.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Prepull bazel 4.2.1 in bootstrap image (#1546)
  images/bootstrap/Dockerfile
Due: publish-bootstrap-image, build-bootstrap-image

Add nonroot keyword to target (#1525)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump bootstrap image
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump bootstrap image (#1552)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update pr-creator to latest version
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "Add nonroot keyword to target (#1525)"
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "Add nonroot keyword to target (#1525)" (#1554)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Update pr-creator to latest version (#1553)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add nonroot gpu lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix invalid job name
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Remove spell checker
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt.github.io/kubevirt-github-io-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use if for label-checker
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use bootstrap image for sriov and vgpu jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use bootstrap image for sriov and vgpu jobs (#1558)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use if for label-checker (#1557)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sig-operator, Update Target to include sig type
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Enable alertmanager and add rules
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/hack/deploy.sh
  github/ci/services/prometheus-stack/manifests/alert-rules/common/alertmanager.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/general.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/k8s.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-apiserver.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-prometheus-node-alerting.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-scheduler.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-absent.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-resources.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-storage.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-system.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/node-exporter.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/node.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/prometheus-operator.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/prometheus.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/alertmanager-config.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/alertmanager.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/alertmanager-storage.yaml
  github/ci/services/prometheus-stack/patches/production-e2e-workloads/alertmanager.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/slack-config/.gitkeep
  github/ci/services/prometheus-stack/secrets/production-e2e-workloads/slack-config/.gitkeep
  github/ci/services/prometheus-stack/secrets/testing/slack-config/apiURL
Due: post-project-infra-prometheus-stack-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config

Enable alertmanager and add rules (#1559)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/hack/deploy.sh
  github/ci/services/prometheus-stack/manifests/alert-rules/common/alertmanager.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/general.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/k8s.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-apiserver.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-prometheus-node-alerting.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kube-scheduler.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-absent.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-resources.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-storage.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/kubernetes-system.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/node-exporter.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/node.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/prometheus-operator.yaml
  github/ci/services/prometheus-stack/manifests/alert-rules/common/prometheus.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/alertmanager-config.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/alertmanager.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-e2e-workloads/alertmanager-storage.yaml
  github/ci/services/prometheus-stack/patches/production-e2e-workloads/alertmanager.yaml
  github/ci/services/prometheus-stack/secrets/production-control-plane/slack-config/.gitkeep
  github/ci/services/prometheus-stack/secrets/production-e2e-workloads/slack-config/.gitkeep
  github/ci/services/prometheus-stack/secrets/testing/slack-config/apiURL
Due: post-project-infra-prometheus-stack-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config

WIP sanity
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

sig-operator, Update Target to include sig type (#1547)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Temporariy disable bazel cache for 0.41 lanes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.41.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

ensures that automation always attempts to pull the latest project-infra changes
  releng/release-tool/release-tool.go
  releng/release-tool/release-tool_test.go
Due: none

Setting lgtm/approve labels during pr creation fails
  releng/release-tool/release-tool.go
Due: none

Add option to skip prow config forking
  releng/release-tool/release-tool.go
  releng/release-tool/release-tool_test.go
Due: none

Add prometheus port env var to perftest periodic so perfscale-audit tool knows how to connect
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Use k8s-1.20 for vm-import-operator job
  github/ci/prow-deploy/files/jobs/kubevirt/vm-import-operator/vm-import-operator-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add myself to vm-import-operator owners
  github/ci/prow-deploy/files/jobs/kubevirt/vm-import-operator/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add new variable NONROOT It can be used in test.sh to focus nonroot tests
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-kubevirt.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/label-sync-nmstate.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Temporariy disable bazel cache for 0.41 lanes (#1562)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits-0.41.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
