Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-botreview-image, publish-referee-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-fedora-coreos-kubevirt-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-ci-search-deployment, post-project-infra-grafana-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, publish-test-label-analyzer-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-bootstrap-legacy-images, build-shared-images-controller-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-phased-plugin-image: any of: external-plugins/phased/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-botreview-image: any of: external-plugins/botreview/.*
  publish-referee-image: any of: ^(external-plugins|images)/referee/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  post-project-infra-kubevirt-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-grafana-deployment: any of: github/ci/services/grafana/.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  publish-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|WORKSPACE|go_third_party.bzl|go.mod
  pull-project-infra-test-bazel-config: any of: github/ci/services/.*|external-plugins/.*|releng/.*|robots/.*|go.mod
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-bootstrap-legacy-images: any of: images/bootstrap-legacy/.*|images/golang-legacy/.*
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

CDI periodic: build and publish multi-arch images and manifest (#3909)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Revert "kubevirtci,presubmit: Move check-up-kind-sriov to optional as constantly failing (#3878)" (#3899)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

chore: remove ginkgo install
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  images/test-label-analyzer/Containerfile
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-label-analyzer-image, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

chore: increase memory for coverage process
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

bug: fix test-label-analyzer Containerfile
  images/test-label-analyzer/Containerfile
Due: publish-test-label-analyzer-image, build-test-label-analyzer-image

chore: remove ginkgo install (#3905)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  images/test-label-analyzer/Containerfile
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-label-analyzer-image, build-test-label-analyzer-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

bug,ginkgo: fix handling no ginkgo import
  robots/cmd/test-label-analyzer/cmd/stats.go
  robots/cmd/test-label-analyzer/cmd/stats_test.go
  robots/cmd/test-label-analyzer/cmd/testdata/simple-basic_test.go
Due: publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image

bug,ginkgo: fix handling no ginkgo import (#3919)
  robots/cmd/test-label-analyzer/cmd/stats.go
  robots/cmd/test-label-analyzer/cmd/stats_test.go
  robots/cmd/test-label-analyzer/cmd/testdata/simple-basic_test.go
Due: publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image

presubmits: Upgrade sig-network IPv6 lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

presubmits: Upgrade sig-network IPv6 lane (#3920)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix,shared-images: Registry image is not being pulled due to wrong image name
  images/shared-images-controller/main.go
Due: publish-shared-images-controller-image, build-shared-images-controller-image

fix,shared-images: Registry image is not being pulled due to wrong image name (#3921)
  images/shared-images-controller/main.go
Due: publish-shared-images-controller-image, build-shared-images-controller-image

Bump Prow Job images
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images (#3922)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

prow,bump: include shared-images-controller in prow deployment bump
  hack/update-deployments-with-latest-image.sh
Due: none

prow,bump: Add resulting bumps from running the updated script
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, pull-project-infra-prow-deploy-test

shared-images: Reduce some duplication by moving golci and registry pull to for loop
  images/shared-images-controller/main.go
Due: publish-shared-images-controller-image, build-shared-images-controller-image

prow,bump: include shared-images-controller in prow deployment bump (#3923)
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/shared-images-controller.yaml
  hack/update-deployments-with-latest-image.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, pull-project-infra-prow-deploy-test

shared-images: Reduce some duplication by moving golci and registry pull to for loop (#3924)
  images/shared-images-controller/main.go
Due: publish-shared-images-controller-image, build-shared-images-controller-image

Archiving 25 inactive repos (#3686)
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Bump Prow Deployment images
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, pull-project-infra-prow-deploy-test

Bump Prow Deployment images (#3926)
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, pull-project-infra-prow-deploy-test

shared-images: build with go 1.23.5
  images/shared-images-controller/Containerfile
  images/shared-images-controller/go.mod
Due: publish-shared-images-controller-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-shared-images-controller-image, pull-project-infra-job-config-validator

shared-images: Bump golang builder container to latest - v20250124-4f7dce8
  images/shared-images-controller/Containerfile
Due: publish-shared-images-controller-image, build-shared-images-controller-image

shared-images: Upgrade to podman v5.3.2
  images/shared-images-controller/go.mod
  images/shared-images-controller/go.sum
Due: publish-shared-images-controller-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-shared-images-controller-image, pull-project-infra-job-config-validator

shared-images: Update to go 1.23.5 and podman v5.3.2 (#3927)
  images/shared-images-controller/Containerfile
  images/shared-images-controller/go.mod
  images/shared-images-controller/go.sum
Due: publish-shared-images-controller-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-test-bazel-config, build-shared-images-controller-image, pull-project-infra-job-config-validator

common-instancetypes: Adjust path to bump script
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

common-instancetypes: Adjust path to bump script (#3928)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

perf-report: Bump go version of periodic to go v1.22.5
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

perf-report: Bump go version of periodic to go v1.22.5 (#3929)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

cannier,fix: use hostPort from flag
  robots/cmd/cannier/cmd/host-model.go
  robots/cmd/cannier/cmd/host-model_test.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

cannier,restructuring: add host model, use readable commands
  robots/cmd/cannier/cmd/cmd_suite_test.go
  robots/cmd/cannier/cmd/generate-classes.go
  robots/cmd/cannier/cmd/generate-model.go
  robots/cmd/cannier/cmd/host-model.go
  robots/cmd/cannier/cmd/host-model_test.go
  robots/cmd/cannier/cmd/host.go
  robots/cmd/cannier/cmd/model.go
  robots/cmd/cannier/cmd/testdata/cannier-featureset.json
  robots/cmd/cannier/cmd/types.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

cannier: generate classes
  robots/cmd/cannier/cmd/classes.go
  robots/cmd/cannier/cmd/generate.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

cannier: cli command extract (mocked)
  robots/cmd/cannier/README.md
  robots/cmd/cannier/cmd/extract.go
  robots/cmd/cannier/cmd/root.go
  robots/cmd/cannier/main.go
  robots/pkg/flake-heuristic/cannier/README.md
  robots/pkg/flake-heuristic/cannier/coverage.go
  robots/pkg/flake-heuristic/cannier/feature-extraction.go
  robots/pkg/flake-heuristic/cannier/monitoring.go
  robots/pkg/flake-heuristic/cannier/static-analysis.go
  robots/pkg/flake-heuristic/cannier/static-analysis_test.go
  robots/pkg/flake-heuristic/cannier/testdata/simple.go
  robots/pkg/flake-heuristic/cannier/testdata/simple_test.go
  robots/pkg/flake-heuristic/cannier/types.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

cannier: specify test name for features
  robots/cmd/cannier/cmd/extract.go
  robots/cmd/test-label-analyzer/cmd/filter/matching-tests_test.go
  robots/cmd/test-label-analyzer/cmd/stats.go
  robots/cmd/test-label-analyzer/cmd/stats_test.go
  robots/pkg/flake-heuristic/cannier/feature-extraction.go
  robots/pkg/flake-heuristic/cannier/static-analysis.go
  robots/pkg/ginkgo/ginkgo.go
  robots/pkg/ginkgo/ginkgo_suite_test.go
  robots/pkg/ginkgo/ginkgo_test.go
  robots/pkg/ginkgo/test-descriptor.go
  robots/pkg/ginkgo/test-descriptor_test.go
  robots/pkg/ginkgo/testdata/simple-basic_test.go
  robots/pkg/ginkgo/testdata/simple.go
  robots/pkg/ginkgo/testdata/simple_test.ginkgo
  robots/pkg/ginkgo/testdata/simple_test.go
  robots/pkg/ginkgo/types.go
  robots/pkg/test-label-analyzer/stats.go
  robots/pkg/test-label-analyzer/stats_test.go
Due: publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-bazel-config, build-test-label-analyzer-image

cannier: random forest - generate dataset works
  robots/cmd/cannier/cmd/model.go
  robots/pkg/flake-heuristic/cannier/types.go
  robots/pkg/ginkgo/test-file.go
  robots/pkg/ginkgo/test-file_test.go
  robots/pkg/ginkgo/testdata/simple_test.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

WIP: cannier: start work on analyzing model data
  robots/cmd/cannier/cmd/extract.go
  robots/cmd/cannier/cmd/generate-classes.go
  robots/cmd/cannier/cmd/generate-model.go
  robots/cmd/cannier/cmd/host-model.go
  robots/cmd/cannier/cmd/host-model_test.go
  robots/cmd/cannier/cmd/types.go
  robots/pkg/cannier/README.md
  robots/pkg/cannier/coverage.go
  robots/pkg/cannier/feature-extraction.go
  robots/pkg/cannier/monitoring.go
  robots/pkg/cannier/static-analysis.go
  robots/pkg/cannier/static-analysis_test.go
  robots/pkg/cannier/testdata/simple.go
  robots/pkg/cannier/testdata/simple_test.go
  robots/pkg/cannier/types.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

refactor: git blame extraction
  robots/pkg/git/git.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config

cannier: ginkgo find test file by test_id
  robots/pkg/ginkgo/test-file.go
  robots/pkg/ginkgo/test-file_test.go
  robots/pkg/ginkgo/testdata/simple-other_test.go
  robots/pkg/ginkgo/testdata/testdata_suite_test.go
Due: pull-project-infra-test-robots, pull-project-infra-test-bazel-config
