Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-botreview-image, publish-referee-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-fedora-coreos-kubevirt-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-ci-search-deployment, post-project-infra-grafana-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, publish-test-label-analyzer-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-shared-images-controller-image, build-release-tool-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, build-test-subset-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-phased-plugin-image: any of: external-plugins/phased/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-botreview-image: any of: external-plugins/botreview/.*
  publish-referee-image: any of: ^(external-plugins|images)/referee/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  post-project-infra-kubevirt-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-grafana-deployment: any of: github/ci/services/grafana/.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  publish-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|go.mod
  pull-project-infra-lint: any of: external-plugins/.*|releng/.*|robots/.*
  pull-project-infra-coverage: any of: external-plugins/.*|releng/.*|robots/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-release-tool-image: any of: releng/release-tool/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  build-test-subset-image: any of: images/test-subset/.*|external-plugins/test-subset/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Bump Prow (#4644)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(flake-stats): add md output showing lane failures
  pkg/flake-stats/flake-stats.gomd
  pkg/flake-stats/report.go
Due: none

fix: images/prow-deploy/requirements.txt to reduce vulnerabilities (#4636)
  images/prow-deploy/requirements.txt
Due: publish-prow-deploy-image, build-prow-deploy-image

feat(auto-quarantine): add cli command
  pkg/ginkgo/dry-run.go
  pkg/ginkgo/dry-run_test.go
  pkg/ginkgo/ginkgo.go
  pkg/ginkgo/types.go
  pkg/options/types.go
  robots/quarantine/cmd/auto-quarantine-pr-description.gomd
  robots/quarantine/cmd/auto-quarantine.go
  robots/quarantine/cmd/auto-quarantine_test.go
  robots/quarantine/cmd/root.go
  robots/quarantine/cmd/types.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

fix(auto-quarantine): address review comments
  robots/quarantine/cmd/auto-quarantine-pr-description.gomd
  robots/quarantine/cmd/auto-quarantine.go
  robots/quarantine/cmd/types.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

fix(auto-quarantine): integrate prOutputFileOptions
  robots/quarantine/cmd/auto-quarantine.go
  robots/quarantine/cmd/types.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

feat(auto-quarantine): create periodic job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(auto-quarantine): target only one specific branch
  pkg/flake-stats/options.go
  pkg/flake-stats/report.go
  robots/quarantine/cmd/auto-quarantine.go
  robots/quarantine/cmd/types.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

feat(flake-stats): add md output showing lane failures (#4618)
  pkg/flake-stats/flake-stats.gomd
  pkg/flake-stats/report.go
Due: none

aaq,builder: Enable building multiarch-builder image
  github/ci/prow-deploy/files/jobs/kubevirt/application-aware-quota/application-aware-quota-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/secrets/secrets-presubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images (#4646)
  github/ci/prow-deploy/files/jobs/k8snetworkplumbingwg/kubemacpool/kubemacpool-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/cluster-network-addons-operator/cluster-network-addons-operator-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/secrets/secrets-presubmits.yaml
  github/ci/prow-deploy/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Deployment images
  github/ci/prow-deploy/kustom/base/manifests/local/botreview-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Bump Prow Deployment images (#4647)
  github/ci/prow-deploy/kustom/base/manifests/local/botreview-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Cloud-Provider: fix golang version
  github/ci/prow-deploy/files/jobs/kubevirt/cloud-provider-kubevirt/cloud-provider-kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Cloud-Provider: fix golang version (#4648)
  github/ci/prow-deploy/files/jobs/kubevirt/cloud-provider-kubevirt/cloud-provider-kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

pr-creator: build with reduced GOMAXPROCS to avoid deadlock
  images/pr-creator/Containerfile
Due: publish-pr-creator-image, build-pr-creator-image

Sync OWNERS files by autoowners job at Thu, 15 Jan 2026 17:25:58 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/cloud-provider-kubevirt/OWNERS
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/OWNERS
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Thu, 15 Jan 2026 17:25:58 UTC (#4649)
  github/ci/prow-deploy/files/jobs/kubevirt/cloud-provider-kubevirt/OWNERS
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/OWNERS
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

pr-creator: update to the latest version
  images/pr-creator/Containerfile
Due: publish-pr-creator-image, build-pr-creator-image

Plot weekly graphs for kwok perf tests
  robots/perf-report-creator/graph.sh
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

Added Whitedyl to orgs.yaml
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Added Whitedyl to orgs.yaml (#4651)
  github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

fix(dequarantine,check-tests-for-flakes): timeout (#4609)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow (#4652)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/branch-protector.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/pipeline_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tot_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/kubevirt-prow-control-plane/resources/prow-exporter-deployment.yaml
  hack/bump-prow.sh
  hack/checkconfig.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(botreview): filter strategies by PR title
  external-plugins/botreview/review/bump_kubevirtci.go
  external-plugins/botreview/review/image_update.go
  external-plugins/botreview/review/kubevirt_uploader.go
  external-plugins/botreview/review/prow_autobump.go
  external-plugins/botreview/review/review.go
  external-plugins/botreview/review/review_test.go
  external-plugins/botreview/server/server.go
  robots/botreview/main.go
Due: publish-botreview-image, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage

Plot weekly graphs for kwok perf tests (#4650)
  robots/perf-report-creator/graph.sh
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

aaq,builder: Enable building multiarch-builder image (#4645)
  github/ci/prow-deploy/files/jobs/kubevirt/application-aware-quota/application-aware-quota-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

pr-creator: add workaround for cross architecture image build (#4654)
  images/pr-creator/Containerfile
Due: publish-pr-creator-image, build-pr-creator-image

fix(robots,push): align paths after directory structure change
  robots/flake-report-creator/Makefile
  robots/flakefinder/Makefile
  robots/indexpagecreator/Makefile
  robots/kubevirt/Makefile
  robots/test-report/Makefile
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-test-flakefinder

fix(prow-bump): improve prow changelog generation
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/describe-pr-from-updated-images-in-diff.sh
  hack/git-pr.sh
  hack/prow-changelog.sh
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-tekton-tasks/tekton-tasks-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/virt-template/virt-template-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/virt-template/virt-template-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images (#4658)
  github/ci/prow-deploy/files/jobs/kubevirt/common-instancetypes/common-instancetypes-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/community/community-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-tekton-tasks/tekton-tasks-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/virt-template/virt-template-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/virt-template/virt-template-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Deployment images
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Bump Prow Deployment images (#4659)
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
  github/ci/prow-deploy/kustom/overlays/prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

fix(robots,push): align paths after directory structure change (#4656)
  robots/flake-report-creator/Makefile
  robots/flakefinder/Makefile
  robots/indexpagecreator/Makefile
  robots/kubevirt/Makefile
  robots/test-report/Makefile
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-test-flakefinder
