Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-botreview-image, publish-referee-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-bootstrap-legacy-images, publish-shared-images-controller-image, publish-kubekins-e2e-image, publish-kubevirt-kubevirt.github.io-image, publish-kubevirt-user-guide-image, publish-prow-deploy-image, publish-autoowners-image, publish-pr-creator-image, publish-vm-image-builder-image, publish-fedora-coreos-kubevirt-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-kubevirt-prow-workloads-deployment, post-project-infra-ci-search-deployment, post-project-infra-grafana-deployment, post-project-infra-update-testgrid-config, publish-ci-usage-exporter-image, publish-test-report-image, publish-test-label-analyzer-image, post-project-infra-mirror-images-from-docker-hub, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, pull-project-infra-lint, pull-project-infra-coverage, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-shared-images-controller-image, build-release-tool-image, build-kubekins-e2e-image, build-kubevirt-kubevirt.github.io-image, build-kubevirt-user-guide-image, build-prow-deploy-image, build-autoowners-image, build-pr-creator-image, build-vm-image-builder-image, build-fedora-coreos-kubevirt-image, build-test-label-analyzer-image, build-test-subset-image, pull-project-infra-prow-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-grafana-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-job-config-validator, publish-kubevirt-userguide-image, post-project-infra-cert-manager-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, build-kubevirt-userguide-image, kubernetes-crud-ci-role, pull-project-infra-cert-manager-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-phased-plugin-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-release-blocker-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-botreview-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-referee-image:
  decorate: true
  labels:
    preset-bazel-cache: 'true'
    preset-kubevirtci-quay-credential: 'true'
    preset-podman-in-container-enabled: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -ce
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-bootstrap-legacy-images:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-shared-images-controller-image:
  decorate: true
  labels:
    preset-podman-in-container-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20240308-8fac017
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

Bump Prow Deployment images (#4490)
  github/ci/prow-deploy/kustom/overlays/prow-workloads/resources/shared-images-controller.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

feat(publish_image.sh): add golang build env vars
  images/publish_image.sh
Due: none

feat(prow,config): add job preset to add go env vars
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

feat(publish_image.sh): mount project-infra directory
  images/botreview/Containerfile
  images/publish_image.sh
Due: none

feat(Containerfile): align to using local project-infra
  external-plugins/phased/Containerfile
  external-plugins/rehearse/Containerfile
  external-plugins/test-subset/Containerfile
  images/botreview/Containerfile
  images/flake-report-creator/Containerfile
  images/flakefinder/Containerfile
  images/indexpagecreator/Containerfile
  images/referee/Containerfile
  images/release-blocker/Containerfile
  images/release-tool/Containerfile
  images/test-label-analyzer/Containerfile
  images/test-report/Containerfile
Due: publish-rehearse-image, publish-phased-plugin-image, publish-referee-image, publish-test-label-analyzer-image, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage, build-test-label-analyzer-image, build-test-subset-image, pull-project-infra-test-rehearse

feat(publish): create missing presubmit jobs
  external-plugins/phased/Makefile
  external-plugins/rehearse/Makefile
  external-plugins/release-blocker/Makefile
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  releng/release-tool/Makefile
  robots/cmd/test-report/Makefile
Due: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-report-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage, build-release-tool-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-rehearse

improve retesting: skip retesting for non-required presubmits (#4486)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  robots/cmd/retester/main.go
  robots/cmd/retester/main_test.go
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirt,s390x: remove bazel unnested preset from s390x unit test jobs
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci,presubmit: set check-provision-k8s-1.35 to always run
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

kubevirtci,presubmit: set check-provision-k8s-1.35 to always run (#4492)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

fix(retester): retest jobs with run_before_merge
  robots/cmd/retester/main.go
  robots/cmd/retester/main_test.go
  robots/cmd/retester/testdata/kubevirt/non-required-presubmits.yaml
  robots/cmd/retester/testdata/kubevirt/required-presubmits.yaml
  robots/cmd/retester/testdata/kubevirtci/.gitkeep
  robots/cmd/retester/testdata/project-infra/.gitkeep
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

fix(retester): retest jobs with run_before_merge (#4494)
  robots/cmd/retester/main.go
  robots/cmd/retester/main_test.go
  robots/cmd/retester/testdata/kubevirt/non-required-presubmits.yaml
  robots/cmd/retester/testdata/kubevirt/required-presubmits.yaml
  robots/cmd/retester/testdata/kubevirtci/.gitkeep
  robots/cmd/retester/testdata/project-infra/.gitkeep
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

kubevirt,s390x: remove bazel unnested preset from s390x unit test jobs (#4491)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

mount local project-infra directory for building images (#3869)
  external-plugins/phased/Containerfile
  external-plugins/phased/Makefile
  external-plugins/rehearse/Containerfile
  external-plugins/rehearse/Makefile
  external-plugins/release-blocker/Makefile
  external-plugins/test-subset/Containerfile
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  images/botreview/Containerfile
  images/flake-report-creator/Containerfile
  images/flakefinder/Containerfile
  images/indexpagecreator/Containerfile
  images/publish_image.sh
  images/referee/Containerfile
  images/release-blocker/Containerfile
  images/release-tool/Containerfile
  images/test-label-analyzer/Containerfile
  images/test-report/Containerfile
  releng/release-tool/Makefile
  robots/cmd/test-report/Makefile
Due: publish-rehearse-image, publish-phased-plugin-image, publish-release-blocker-image, publish-referee-image, post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, publish-test-report-image, publish-test-label-analyzer-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage, build-release-tool-image, build-test-label-analyzer-image, build-test-subset-image, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config, pull-project-infra-test-rehearse

fix(referee,test-subset): use publish_image.sh
  external-plugins/referee/Makefile
  external-plugins/test-subset/Makefile
Due: publish-referee-image, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage, build-test-subset-image

fix(referee,test-subset): use publish_image.sh (#4495)
  external-plugins/referee/Makefile
  external-plugins/test-subset/Makefile
Due: publish-referee-image, pull-project-infra-test-external-plugins, pull-project-infra-lint, pull-project-infra-coverage, build-test-subset-image

Bump Prow Job images
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images (#4496)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Deployment images
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Bump Prow Deployment images (#4497)
  github/ci/prow-deploy/kustom/base/manifests/local/prow-phased-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/prow-rehearse-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/referee-deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/local/test-subset-deployment.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, pull-project-infra-prow-deploy-test

Bump Prow Job images (#4499)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(e2e test lane runtimes): add check-flakes
  github/ci/services/grafana/deploy/base/grafana.yaml
Due: post-project-infra-grafana-deployment, pull-project-infra-test-github-ci-services, pull-project-infra-grafana-deploy-test

Build the new HCO builder image
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Build the new HCO builder image (#4501)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(e2e test lane runtimes): add check-flakes (#4500)
  github/ci/services/grafana/deploy/base/grafana.yaml
Due: post-project-infra-grafana-deployment, pull-project-infra-test-github-ci-services, pull-project-infra-grafana-deploy-test

feat(ginkgo): create changed-tests cmd
  robots/cmd/ginkgo-tests/cmd/cmd_suite_test.go
  robots/cmd/ginkgo-tests/cmd/extract-changed.go
  robots/cmd/ginkgo-tests/cmd/extract-changed_test.go
  robots/cmd/ginkgo-tests/cmd/root.go
  robots/cmd/ginkgo-tests/cmd/testdata/cannier-featureset.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/blame-lines.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/commits.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/outlines.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/testfile-contents.json
  robots/cmd/ginkgo-tests/cmd/testdata/simple.go
  robots/cmd/ginkgo-tests/cmd/testdata/simple_test.go
  robots/cmd/ginkgo-tests/cmd/testdata/simple_test_outline.json
  robots/cmd/ginkgo-tests/cmd/testdata/testdata_suite_test.go
  robots/cmd/ginkgo-tests/main.go
  robots/pkg/git/blame.go
  robots/pkg/git/blame_test.go
  robots/pkg/git/exec.go
  robots/pkg/git/git.go
  robots/pkg/git/log.go
  robots/pkg/git/log_test.go
  robots/pkg/git/testdata/.gitignore
  robots/pkg/git/testdata/README.md
  robots/pkg/git/testdata/repo.gitbundle
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

feat(ginkgo): add image build postsubmit
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(ginkgo): add container build
  images/ginkgo-tests/Containerfile
Due: none

Increase KWOK resources on the cluster
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Increase KWOK resources on the cluster (#4504)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, post-project-infra-kubevirt-e2e-jobs-overview, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

project-infra,images: Only publish images when changes are merged into the main branch
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

feat(extract-changed-tests): create self-contained cli (#4463)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  images/ginkgo-tests/Containerfile
  robots/cmd/ginkgo-tests/cmd/cmd_suite_test.go
  robots/cmd/ginkgo-tests/cmd/extract-changed.go
  robots/cmd/ginkgo-tests/cmd/extract-changed_test.go
  robots/cmd/ginkgo-tests/cmd/root.go
  robots/cmd/ginkgo-tests/cmd/testdata/cannier-featureset.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/blame-lines.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/commits.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/outlines.json
  robots/cmd/ginkgo-tests/cmd/testdata/mapping/testfile-contents.json
  robots/cmd/ginkgo-tests/cmd/testdata/simple.go
  robots/cmd/ginkgo-tests/cmd/testdata/simple_test.go
  robots/cmd/ginkgo-tests/cmd/testdata/simple_test_outline.json
  robots/cmd/ginkgo-tests/cmd/testdata/testdata_suite_test.go
  robots/cmd/ginkgo-tests/main.go
  robots/pkg/git/blame.go
  robots/pkg/git/blame_test.go
  robots/pkg/git/exec.go
  robots/pkg/git/git.go
  robots/pkg/git/log.go
  robots/pkg/git/log_test.go
  robots/pkg/git/testdata/.gitignore
  robots/pkg/git/testdata/README.md
  robots/pkg/git/testdata/repo.gitbundle
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

wip:feat(auto-quarantine): add cli command
  robots/cmd/quarantine/cmd/auto-quarantine.go
  robots/cmd/quarantine/cmd/root.go
Due: pull-project-infra-test-robots, pull-project-infra-lint, pull-project-infra-coverage

project-infra,images: Only publish images when changes are merged into the main branch (#4506)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump Prow Job images (#4508)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

images: update shared-images-controller to use podman v5.7.0
  images/shared-images-controller/go.mod
  images/shared-images-controller/go.sum
Due: publish-shared-images-controller-image, pull-project-infra-test-robots, pull-project-infra-test-releng, pull-project-infra-test-external-plugins, pull-project-infra-test-github-ci-services, build-shared-images-controller-image, pull-project-infra-job-config-validator

Automate updating base images in Containerfiles
  hack/_include_image_funcs.sh
  hack/bump-containerfile-images.sh
Due: none

periodic Prow job that updates base images in Containerfiles
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
Due: post-project-infra-kubevirt-prow-control-plane-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-phased-plugin-image: any of: external-plugins/phased/.*
  publish-release-blocker-image: any of: external-plugins/release-blocker/.*
  publish-botreview-image: any of: external-plugins/botreview/.*
  publish-referee-image: any of: ^(external-plugins|images)/referee/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/golang/.*|images/bootstrap/.*) or (any of: images/bootstrap/.*)
  publish-bootstrap-legacy-images: any of: images/golang-legacy/.*|images/bootstrap-legacy/.*
  publish-shared-images-controller-image: any of: images/shared-images-controller/.*
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  publish-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  publish-autoowners-image: any of: images/autoowners/.*
  publish-pr-creator-image: any of: images/pr-creator/.*
  publish-vm-image-builder-image: any of: images/vm-image-builder/.*
  publish-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  post-project-infra-kubevirt-prow-control-plane-deployment: any of: github/ci/prow-deploy/.*
  post-project-infra-kubevirt-prow-workloads-deployment: any of: github/ci/prow-deploy/kustom/overlays/kubevirt-prow-workloads/.*|github/ci/prow-deploy/kustom/components/.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-grafana-deployment: any of: github/ci/services/grafana/.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  publish-ci-usage-exporter-image: any of: robots/.*/ci-usage-exporter/.*
  publish-test-report-image: any of: robots/.*/test-report/.*
  publish-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  post-project-infra-mirror-images-from-docker-hub: any of: hack/mirror-images.sh|hack/images_to_mirror.csv
  post-project-infra-kubevirt-e2e-jobs-overview: any of: github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-(periodics|presubmits).yaml
  pull-project-infra-test-robots: (any of: robots/.*|go.mod) or (any of: robots/.*)
  pull-project-infra-test-releng: any of: releng/.*|go.mod
  pull-project-infra-test-external-plugins: any of: external-plugins/.*|go.mod
  pull-project-infra-test-github-ci-services: any of: github/ci/services/.*|go.mod
  pull-project-infra-lint: any of: external-plugins/.*|releng/.*|robots/.*
  pull-project-infra-coverage: any of: external-plugins/.*|releng/.*|robots/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/bootstrap/.*|images/golang/.*) or (any of: images/bootstrap/.*)
  build-shared-images-controller-image: any of: images/shared-images-controller/.*
  build-release-tool-image: any of: releng/release-tool/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-kubevirt.github.io-image: any of: images/kubevirt-kubevirt.github.io/.*
  build-kubevirt-user-guide-image: any of: images/kubevirt-user-guide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  build-pr-creator-image: any of: images/pr-creator/.*
  build-vm-image-builder-image: any of: images/bootstrap/.*
  build-fedora-coreos-kubevirt-image: any of: images/fedora-coreos-kubevirt/.*
  build-test-label-analyzer-image: any of: images/test-label-analyzer/.*|robots/.*/test-label-analyzer/.*
  build-test-subset-image: any of: images/test-subset/.*|external-plugins/test-subset/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-grafana-deploy-test: any of: github/ci/services/grafana/.*|github/ci/services/common/.*
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/orgs/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/kustom/base/configs/current/labels/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-project-infra-job-config-validator: any of: robots/cmd/job-config-validator/.*|go.mod|go.sum
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
