Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, post-project-infra-upload-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-rehearse, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, kubernetes-crud-ci-role, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, pull-project-infra-test-flakefinder

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-robots: any of: robots/.*
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: any of: images/bootstrap/.*
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-prow-deploy-test: any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*
  pull-project-infra-cert-manager-deploy-test: any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-ci-search-deploy-test: any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-sippy-deploy-test: any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-prometheus-stack-deploy-test: any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-kuberhealthy-deploy-test: any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE
  pull-project-infra-check-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-kubevirt-org-github-config-updater: any of: ^github/ci/prow/files/orgs\.yaml$
  pull-prow-kubevirt-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-prow-nmstate-labels-update-precheck: any of: ^github/ci/prow/files/labels\.yaml$
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*

Fetch kubevirt/kubevirtci#644 changes
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Project and CI configuration for KubeVirt Velero plugin
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Bump test-infra commenter image to restore queries
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/update-jobs-with-latest-image.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Project and CI configuration for KubeVirt Velero plugin (#1455)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/kubevirt-velero-plugin-presubmits.yaml
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Bump peribolos image
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add peribolos configuration for openshift-cnv org
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Tue, 20 Jul 2021 15:51:50 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Sync OWNERS files by autoowners job at Tue, 20 Jul 2021 15:51:50 UTC (#1463)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt-velero-plugin/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Bump test-infra commenter image to restore queries (#1460)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  hack/update-jobs-with-latest-image.sh
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Require compute and operator for non-root (#1293)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Refactoring: remove duplicate code, fix/add tests
  external-plugins/rehearse/plugin/handler/handler.go
  external-plugins/rehearse/plugin/rehearse_test.go
Due: publish-rehearse-image, pull-project-infra-test-rehearse

Update README.md Update github/ci/prow-deploy/README.md
  README.md
  github/ci/prow-deploy/README.md
Due: pull-project-infra-prow-deploy-test

Update github/ci/prow-workloads comment
  README.md
Due: none

Add test cases for changes in default branch
  external-plugins/rehearse/plugin/handler/handler_test.go
  external-plugins/rehearse/plugin/rehearse_test.go
Due: publish-rehearse-image, pull-project-infra-test-rehearse

Move uploader to robots
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  robots/cmd/uploader/BUILD.bazel
  robots/cmd/uploader/README.md
  robots/cmd/uploader/uploader.go
  robots/pkg/mirror/BUILD.bazel
  robots/pkg/mirror/bazel.go
  robots/pkg/mirror/bazel_test.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add KubeVirt CI and OpenShift CI teams to group bots
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test

Move uploader to robots (#1466)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
  robots/cmd/uploader/BUILD.bazel
  robots/cmd/uploader/README.md
  robots/cmd/uploader/uploader.go
  robots/pkg/mirror/BUILD.bazel
  robots/pkg/mirror/bazel.go
  robots/pkg/mirror/bazel_test.go
Due: post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-prow-deploy-test

Add RedHatQE/openshift-python-wrapper to project
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Add RedHatQE/openshift-python-wrapper to managed webhooks
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

Indent lines
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Add RedHatQE/openshift-python-wrapper to project (#1467)
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Indent line under plugins section
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Indent line under plugins section (#1469)
  github/ci/prow-deploy/kustom/base/configs/current/plugins/plugins.yaml
Due: pull-project-infra-prow-deploy-test

Add RedHatQE/openshift-python-wrapper to managed webhooks (#1468)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Run hack/bump-prow.sh (#1470)
  github/ci/prow-deploy/kustom/base/configs/current/config/config.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/crier_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/deck_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/ghproxy.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/hook_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/horologium_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/needs-rebase_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/prow_controller_manager_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/sinker_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/statusreconciler_deployment.yaml
  github/ci/prow-deploy/kustom/base/manifests/test_infra/current/tide_deployment.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/resources/prow-exporter-deployment.yaml
Due: pull-project-infra-prow-deploy-test

Make 1.20-sig-compute required
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Make 1.20-sig-compute required (#1471)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Adjust resources for several components
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/kustomization.yaml
  github/ci/prow-deploy/kustom/overlays/ibmcloud-production/patches/JsonRFC6902/sinker_deployment.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-control-plane/thanos.yaml
  github/ci/services/prometheus-stack/patches/production-control-plane/prometheus.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test

Bump cherrypicker image
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Bump cherrypicker image (#1474)
  github/ci/prow-deploy/kustom/base/manifests/local/cherrypicker_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Add CDI ARM build periodic
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Fixed review comments.
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Update release-blocker
  external-plugins/release-blocker/BUILD.bazel
  external-plugins/release-blocker/main.go
  external-plugins/release-blocker/server.go
  external-plugins/release-blocker/server_test.go
  external-plugins/testutils/BUILD.bazel
  external-plugins/testutils/fakegithub.go
Due: none

Change job to test all the external plugins instead of only rehearse
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add job for pushing release-blocker image
  external-plugins/release-blocker/BUILD.bazel
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test

Add gh token path flag in deployment
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
Due: pull-project-infra-prow-deploy-test

Update image tag
  github/ci/prow-deploy/kustom/base/manifests/local/release-blocker_deployment.yaml
Due: pull-project-infra-prow-deploy-test
