Repository kubevirt/project-infra: changes, and which Prow jobs are due for each by the changed paths.
All: publish-rehearse-image, publish-kubevirt-infra-bootstrap-image, publish-bootstrap-image, publish-kubekins-e2e-image, publish-kubevirt-userguide-image, publish-prow-deploy-image, post-project-infra-cert-manager-deployment, post-project-infra-ci-search-deployment, post-project-infra-sippy-deployment, post-project-infra-prometheus-stack-deployment, post-project-infra-kuberhealthy-deployment, post-project-infra-update-testgrid-config, pull-project-infra-test-robots, pull-project-infra-test-external-plugins, build-kubevirt-infra-bootstrap-image, build-bootstrap-image, build-kubekins-e2e-image, build-kubevirt-userguide-image, build-prow-deploy-image, build-autoowners-image, pull-project-infra-prow-deploy-test, pull-project-infra-cert-manager-deploy-test, pull-project-infra-ci-search-deploy-test, pull-project-infra-sippy-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-kuberhealthy-deploy-test, pull-project-infra-check-testgrid-config, pull-kubevirt-org-github-config-updater, pull-prow-kubevirt-labels-update-precheck, pull-prow-nmstate-labels-update-precheck, post-project-infra-upload-testgrid-config, pull-project-infra-test-rehearse, kubernetes-crud-ci-role, pull-project-infra-test-flakefinder

publish-rehearse-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210126-a12b6c0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubevirt-infra-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      command:
      - /usr/local/bin/runner.sh
  ...

publish-bootstrap-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

publish-kubekins-e2e-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-kubevirt-userguide-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
  ...

publish-prow-deploy-image:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kubevirtci-quay-credential: 'true'
  spec:
    nodeSelector:
      type: vm
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20201119-a5880e0
      command:
      - /usr/local/bin/runner.sh
      - /bin/bash
      - -c
  ...

post-project-infra-cert-manager-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

post-project-infra-ci-search-deployment:
  decorate: true
  labels:
    preset-docker-mirror-proxy: 'true'
  spec:
    securityContext:
      runAsUser: 0
    containers:
    - image: quay.io/kubevirtci/bootstrap:v20210311-09ebaa2
      env:
      - name: GIT_ASKPASS
        value: ./hack/git-askpass.sh
      command:
      - /usr/local/bin/runner.sh
  ...

Add sig-monitoring lane
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add sig-monitoring lane (#1790)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

updated the kube proxy metrics bind address to use 0.0.0.0 to bind to all IPv4 interfaces (#1794)
  github/ci/prow-performance-workloads/inventory/prow-performance-workloads/group_vars/kube-proxy.yml
Due: none

[cdi] move "push-builder" job from periodic to post-submit (#1796)
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerized-data-importer/containerized-data-importer-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add ARM cluster deployment jobs
  github/ci/prow-arm-workloads/bootstrap.yml
  github/ci/prow-arm-workloads/hack/bootstrap.sh
  github/ci/prow-arm-workloads/hack/common.sh
  github/ci/prow-arm-workloads/hack/deploy.sh
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/all/all.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/all/docker.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/etcd.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/addons.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/k8s-cluster.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/k8s-net-calico.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/inventory.ini
  github/ci/prow-arm-workloads/roles/bootstrap/tasks/additional_kernel_modules.yml
  github/ci/prow-arm-workloads/roles/bootstrap/tasks/main.yml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

moved the service monitors from kube-prometheus-stack to the service monitors folder
  github/ci/services/prometheus-stack/manifests/service-monitors/common/servicemonitors.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/node-exporter.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

moved the k8s services from kube-prometheus-stack to be able to deploy it to the kube system namespace
  github/ci/services/prometheus-stack/manifests/stack/k8s-services/k8s-services.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added local path storage provisioner and storage class
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/local-path-storage.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added updated default grafana dashboards and custom kubevirt control plane grafana dashboard
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana-general-dashboards.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana-kubevirt-dashboards.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added custom service monitors with updated jobLabel to find the services in the performance cluster
  github/ci/services/prometheus-stack/manifests/service-monitors/production-performance-workloads/servicemonitors.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added patch to update matchLabels and jobLabel to allow the node-exporter to create metrics compatible with grafana dashboard
  github/ci/services/prometheus-stack/patches/service-monitors/production-performance-workloads/servicemonitors.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added grafana deployment with updated image and local path storage class
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

updated prometheus service account since kubevirt only crease service-monitors if the sa prometheus-k8s exist, storage class and retain the data for 12 weeks
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/prometheus-sa.yaml
  github/ci/services/prometheus-stack/patches/stack/production-performance-workloads/kube-prometheus-stack.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added a patch to update alertmanager to use local path storage class
  github/ci/services/prometheus-stack/patches/stack/production-performance-workloads/alertmanager.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added updated prometheus rules in performance cluster to be able to use updated metrics and grafana dashboards
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/k8s.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kube-apiserver.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kube-scheduler.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-absent.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-resources.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-storage.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-system.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node-exporter-alerting.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node-exporter-recording.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added a separation in patch type: prometheus stack and service monitors
  github/ci/services/prometheus-stack/patches/stack/production-control-plane/prometheus.yaml
  github/ci/services/prometheus-stack/patches/stack/production-e2e-workloads/alertmanager.yaml
  github/ci/services/prometheus-stack/patches/stack/production-e2e-workloads/prometheus.yaml
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

updated the bazel rules to deploy in the performance cluster, separated the k8s-services deployment from the common to use a different namespace
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/hack/deploy.sh
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

added secret folder to create grafana secret with username and password
  github/ci/services/prometheus-stack/secrets/production-performance-workloads/grafana/.gitkeep
Due: post-project-infra-prometheus-stack-deployment, pull-project-infra-prometheus-stack-deploy-test

updated job to deploy prometheus operator in the performance cluster
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
Due: post-project-infra-prometheus-stack-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config

add prow job to deploy prometheus and grafana in the performance cluster (#1778)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
  github/ci/services/prometheus-stack/BUILD.bazel
  github/ci/services/prometheus-stack/hack/deploy.sh
  github/ci/services/prometheus-stack/manifests/service-monitors/common/servicemonitors.yaml
  github/ci/services/prometheus-stack/manifests/service-monitors/production-performance-workloads/servicemonitors.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/manifests/stack/common/node-exporter.yaml
  github/ci/services/prometheus-stack/manifests/stack/k8s-services/k8s-services.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana-general-dashboards.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana-kubevirt-dashboards.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/grafana.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/local-path-storage.yaml
  github/ci/services/prometheus-stack/manifests/stack/production-performance-workloads/prometheus-sa.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/k8s.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kube-apiserver.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kube-scheduler.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-absent.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-apps.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-resources.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-storage.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/kubernetes-system.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node-exporter-alerting.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node-exporter-recording.yaml
  github/ci/services/prometheus-stack/patches/rules/production-performance-workloads/node.yaml
  github/ci/services/prometheus-stack/patches/service-monitors/production-performance-workloads/servicemonitors.yaml
  github/ci/services/prometheus-stack/patches/stack/production-control-plane/prometheus.yaml
  github/ci/services/prometheus-stack/patches/stack/production-e2e-workloads/alertmanager.yaml
  github/ci/services/prometheus-stack/patches/stack/production-e2e-workloads/prometheus.yaml
  github/ci/services/prometheus-stack/patches/stack/production-performance-workloads/alertmanager.yaml
  github/ci/services/prometheus-stack/patches/stack/production-performance-workloads/kube-prometheus-stack.yaml
  github/ci/services/prometheus-stack/secrets/production-performance-workloads/grafana/.gitkeep
Due: post-project-infra-prometheus-stack-deployment, post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-prometheus-stack-deploy-test, pull-project-infra-check-testgrid-config

Add document about CNCF tools
  docs/cncf-tools.md
Due: none

Bump containerdisks repo to golang 1.16 (#1782)
  github/ci/prow-deploy/files/jobs/kubevirt/containerdisks/containerdisks-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/containerdisks/containerdisks-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add document about CNCF tools (#1804)
  docs/cncf-tools.md
Due: none

Fix presubmit TARGET and periodic
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make check-provision required for 1.23
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add ARM cluster deployment jobs (#1803)
  github/ci/prow-arm-workloads/bootstrap.yml
  github/ci/prow-arm-workloads/hack/bootstrap.sh
  github/ci/prow-arm-workloads/hack/common.sh
  github/ci/prow-arm-workloads/hack/deploy.sh
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/all/all.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/all/docker.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/etcd.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/addons.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/k8s-cluster.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/group_vars/k8s-cluster/k8s-net-calico.yml
  github/ci/prow-arm-workloads/inventory/prow-arm-workloads/inventory.ini
  github/ci/prow-arm-workloads/roles/bootstrap/tasks/additional_kernel_modules.yml
  github/ci/prow-arm-workloads/roles/bootstrap/tasks/main.yml
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

NMO: build and push bundle, index and must-gather images
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/node-maintenance-operator-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Add Or Raz to org members
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Add Or Raz to org members (#1808)
  github/ci/prow-deploy/files/orgs.yaml
Due: pull-project-infra-prow-deploy-test, pull-kubevirt-org-github-config-updater

Updated infra docs to include external clusters
  docs/infra-layout.svg
  docs/infrastructure-components.md
Due: none

[HCO] Deprecating k8s-1.19 lane for release-1.5
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.5.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

[HCO] Deprecating k8s-1.19 lane for release-1.5 (#1810)
  github/ci/prow-deploy/files/jobs/kubevirt/hyperconverged-cluster-operator/hyperconverged-cluster-operator-presubmits-1.5.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Fix presubmit TARGET and periodic (#1805)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

k8s-1.22-ipv6, network: Add kubevirt presubmit job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Reduce the scope of cgroups v2 periodic job
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Reduce the scope of cgroups v2 periodic job (#1812)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirt/kubevirt-periodics.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Thu, 16 Dec 2021 08:42:10 UTC
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Sync OWNERS files by autoowners job at Thu, 16 Dec 2021 08:42:10 UTC (#1813)
  github/ci/prow-deploy/files/jobs/kubevirt/node-maintenance-operator/OWNERS
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Make check-provision required for 1.23 (#1806)
  github/ci/prow-deploy/files/jobs/kubevirt/kubevirtci/kubevirtci-presubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Bump kubespray in prow-performance deployment jobs. (#1767)
  github/ci/prow-deploy/files/jobs/kubevirt/project-infra/project-infra-postsubmits.yaml
Due: post-project-infra-update-testgrid-config, pull-project-infra-prow-deploy-test, pull-project-infra-check-testgrid-config

Path conditions:
  publish-rehearse-image: any of: external-plugins/rehearse/.*
  publish-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  publish-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  publish-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  publish-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  publish-prow-deploy-image: any of: images/prow-deploy/.*
  post-project-infra-cert-manager-deployment: any of: github/ci/services/cert-manager.*
  post-project-infra-ci-search-deployment: any of: github/ci/services/ci-search.*
  post-project-infra-sippy-deployment: any of: github/ci/services/sippy.*
  post-project-infra-prometheus-stack-deployment: any of: github/ci/services/prometheus-stack.*
  post-project-infra-kuberhealthy-deployment: any of: github/ci/services/kuberhealthy.*
  post-project-infra-update-testgrid-config: any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$
  pull-project-infra-test-robots: (any of: robots/.*|WORKSPACE|go_third_party.bzl) or (any of: robots/.*)
  pull-project-infra-test-external-plugins: any of: external-plugins/.*
  build-kubevirt-infra-bootstrap-image: any of: images/kubevirt-infra-bootstrap/.*
  build-bootstrap-image: (any of: images/.*) or (any of: images/bootstrap/.*)
  build-kubekins-e2e-image: any of: images/kubekins-e2e/.*
  build-kubevirt-userguide-image: any of: images/kubevirt-userguide/.*
  build-prow-deploy-image: any of: images/prow-deploy/.*
  build-autoowners-image: any of: images/autoowners/.*
  pull-project-infra-prow-deploy-test: (any of: github/ci/prow-deploy/.*) or (any of: github/ci/prow-deploy/.*|github/ci/prow/files/.*)
  pull-project-infra-cert-manager-deploy-test: (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/cert-manager/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-ci-search-deploy-test: (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/ci-search/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-sippy-deploy-test: (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/sippy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-prometheus-stack-deploy-test: (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/prometheus-stack/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-kuberhealthy-deploy-test: (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|WORKSPACE|go_third_party.bzl) or (any of: github/ci/services/kuberhealthy/.*|github/ci/services/common/.*|vendor/.*|WORKSPACE)
  pull-project-infra-check-testgrid-config: (any of: ^github/ci/prow-deploy/files/jobs/.*$|^github/ci/testgrid/gen-config\.yaml$|^github/ci/testgrid/default\.yaml$) or (any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$)
  pull-kubevirt-org-github-config-updater: (any of: ^github/ci/prow-deploy/files/orgs\.yaml$) or (any of: ^github/ci/prow/files/orgs\.yaml$)
  pull-prow-kubevirt-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  pull-prow-nmstate-labels-update-precheck: (any of: ^github/ci/prow-deploy/files/labels\.yaml$) or (any of: ^github/ci/prow/files/labels\.yaml$)
  post-project-infra-upload-testgrid-config: any of: ^(github/ci/prow/files/jobs/.*)|(github/ci/testgrid/gen-config\.yaml)$
  pull-project-infra-test-rehearse: any of: external-plugins/rehearse/.*
  kubernetes-crud-ci-role: any of: github/ci/kubernetes-crud/.*
  pull-project-infra-test-flakefinder: any of: robots/flakefinder/.*
